[2016-02-10 14:43] devos50 opened #1939 "The popup view when adding a torrent should be floating"
Currently, the tests were failing since the popup view was not floating above the other elements in the GUI. This makes that after the wx3 migration, the popup was squashed too much, resulting in an error during the tests.

If this window is floating instead, it is not effected by any other element in the GUI.

[2016-02-10 15:01] lfdversluis commented on #1936
@whirm I see the entry `INFO    1455028023       MainFrame:MainFrame:872  GUI closed` before (!!!) this error. If indeed the gui is closed then it makes perfect sense why this panel was deleted. Do you know anything about this test that can help? I will investigate the test either way, but if you have a hunch then it may help.

[2016-02-10 15:09] whirm commented on #1936
When you get a PyDeadObject exception it almost always means a call got scheduled to be called but the gui got closed before that could happen. We do extensive use of the TaskManager class to deal with this kind of things, you can register tasks on it and they can be easily canceled when shutting down.
See if you can find where this call is scheduled.

[2016-02-10 15:10] whirm commented on #299
Can you trigger scripts when an app bundle gets deleted on OSX?

[2016-02-10 15:19] whirm commented on #1938
@devos50 have in mind that it is looking for channels, not just for results, so maybe you got file results but not channel results.

[2016-02-10 15:26] devos50 commented on #299
I don't think it is possible to detect when an app got deleted and perform actions after that. I also think it's not a big problem since when I execute `ls -la ~` , I see many left-over files from programs I've already uninstalled.

[2016-02-10 16:18] pimveldhuisen commented on #31
For the alpha version of multichain:
 - Do not use branching: the costs seem to outweigh the benefits
 - Non-blocking multichain: base your chain on the hash of only your fields. Collect the other half as evidence
 - Sign a block for the remaining amount on the closure of the circuit

[2016-02-10 19:39] vi opened #1941 "v6.5.0-rc7: "Connections: <empty>""
Looks like when connections number is large enough (now downloading tails-i386-2.0) it doesn't fit and gets wrapped around.

Now I see this

    Connections:
    197

(with line break)

[2016-02-11 09:58] devos50 commented on #1773
@whirm can you close this one please?

[2016-02-11 10:03] devos50 commented on #1768
@Dmole I spent some time working on a new builder for OS X with updated dependencies, see #1858

[2016-02-11 12:43] #1745 closed

[2016-02-11 12:44] #1773 closed

[2016-02-11 15:25] lfdversluis opened #1943 "Make the installer install in `program files` when installing 64 bit"
currently it installs to `program files x86`

[2016-02-11 15:56] lfdversluis opened #1944 "Create local webserver and add tests to test torrent and rss downloading"
In PR #1942 we changed remote torrents to local ones because one of the dependencies dropped and a lot test broke.

We should set up a webserver of our own to host some torrent files that will always be available, or at least under our control to fix to also test if using remote downloading works using additional tests.

[2016-02-11 15:59] devos50 commented on #1944
@whirm maybe you can give one of us access to the bbq so we can install apache/nginx and setup a HTTP file server? It's not that hard to do and should take little time.

[2016-02-11 16:16] whirm commented on #1944
nope, the test needs to start a basic web server itself. Bad idea to have tests depending on external stuff as you have seen repeatedly :)

[2016-02-11 18:40] Transcend01 commented on #1038
+1 trhis is a must have.

[2016-02-11 18:53] Mr-Obelix commented on #1038
(almost)unusable without.
+1

[2016-02-11 19:27] devos50 commented on #1938
@whirm This test is triggering in around 25% of the runs. Do you have any suggestions on how we can rewrite this test?

[2016-02-12 08:32] whirm commented on #1038
@synctext apparently there's a lot of interest in this. Should we implement this for 6.6?

[2016-02-12 08:44] whirm commented on #1938
That's not a good test for starters, but I guess the best way to patch it up a bit until we have proper ones written would be to instance a Tribler session that has some content and inject that candidate in the one being tested so it always finds somebody with content that matches the search results in time.

[2016-02-12 09:59] devos50 opened #1945 "Segmentation fault when resizing Tribler to a very small size"
When resizing Tribler to a very small window, a segmentation fault triggers. This happens when GTK is used as backend for wxPython.

[2016-02-12 10:00] devos50 commented on #1931
This can be reproduced by resizing Tribler very fast to a smaller window. When resizing back to a bigger window, the assertion is thrown. Only happens using GTK.

[2016-02-12 10:00] lfdversluis commented on #1945
On Ubuntu 15.10 it does not segfault but the canvas is completely blank. Everything, from menu to panel is gone when you resize it back.

[2016-02-12 10:07] whirm commented on #1945
Just limit the minimum size of the main window. The layout is really bad and buttons will start piling up past a certain point anyway.

[2016-02-12 10:17] devos50 opened #1947 "Color of text turns black on OS X after a while"
After starting Tribler, the text color of the labels in Tribler turns black. This happens on the devel branch.

[2016-02-12 10:22] lfdversluis commented on #1945
I doubt this will fix the issue completely. I think that resizing it to the minimum and then resize it full screen again will still leave parts blank.

[2016-02-12 10:28] lfdversluis commented on #1945
Ok so now the segfualt suddenly triggered as well on ubuntu. Weird that the 2 times i tried earlier it did not work. But now we now it's there on ubuntu too.

[2016-02-12 12:43] lfdversluis opened #1950 "Dispersy assertion error"
See [this jenkins run](https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5709/artifact/output/test_runners_output/00002.err/*view*/)

A `exceptions.AssertionError: [(<Tribler.dispersy.candidate.Candidate object at 0x7fcf4fef5b10>, 'PJJP\x02\x02\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'), (<Tribler.dispersy.candidate.Candidate object at 0x7fcf4fef5210>, 'PJJP\x02\x02\x00\x00\x00\x00\x00

[2016-02-12 12:46] lfdversluis opened #1951 "Attribute error in Tribler/Core/CacheDB/sqlitecachedb.py"
An `exceptions.AttributeError: 'NoneType' object has no attribute 'cursor'` error was thrown in [this jenkins run](https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5709/artifact/output/test_runners_output/00004.err/*view*/).

[2016-02-12 12:58] whirm commented on #1951
That happens when Tribler shuts down shortly after starting, the shutdown procedure in Tribler is pretty bad.
We will take care of all this once libtorrent is decoupled from the GUI.

[2016-02-12 13:01] whirm commented on #1950
Paste the whole stracktrace when reporting a bug, otherwise everyone has to click on the link and it's harder to find duplicate reports.

the second part is not a Tribler error, but libvlc complaining about stuff that's missing on the host system, you can ignore it.

[2016-02-12 13:01] whirm commented on #1950
Also, depending on the stacktrace, this should go to the dispersy bug tracker instead.

[2016-02-12 13:26] lfdversluis commented on #1950
@whirm right. Should I close this one and open one on dispersy?

[2016-02-12 13:26] devos50 commented on #1947
Turns out this is caused by the `ChannelList` that is being filled with data. Even one item here causes the text to turn black.

[2016-02-12 13:34] whirm commented on #1950
it depends on what triggers that exception. If you can't see what the cause is, tell me and I'll have a look when I can.

[2016-02-12 13:46] lfdversluis commented on #1950
@whirm I havent really taken a good look at it. I was looking trough the logs why the build failed and saw this error. Decided to post it to keep track of its existence. But sure, please investigate it further.

[2016-02-12 14:58] Transcend01 commented on #1038
It would be great for a lot of people. There a lot of program that 's use black hole or watch folder. It would be really great if you guys could imlement this for 6.6.

[2016-02-12 16:01] #1617 closed

[2016-02-12 19:26] Mr-Obelix commented on #1038
+1 for 6.6!

[2016-02-12 19:45] synctext commented on #1038
@Mr-Obelix  @Transcend01 @Dmole @k4n30 @priceaj
Would this design work for you?

_A new settings option is added "watch folder for .torrent files and automatically download them".
This feature can be enabled with a toggle box. Additional setting is the "watch folder" location. The anonymity setting is used from other anon settings menu._

@whirm if this would lot take more then an afternoon, it se

[2016-02-12 19:50] Transcend01 commented on #1038
This sounds great !!! I think a lot of people will be looking forward to the new version.

[2016-02-13 23:55] k4n30 commented on #1038
Sounds fantastic :)

[2016-02-14 16:52] lfdversluis commented on #1885
@rjruigrok Thanks for your explanation. Currently I am still stabilizing the devel branch with @devos50. once that branch is stable, I will start focusing on this topic among other things. Can I shoot you a question from time to time if I encounter any (maybe related to your implementation)?

[2016-02-14 18:20] Anth0rx commented on #1922
Okay, thanks ;)

[2016-02-15 10:18] ardhipoetra commented on #1842
# Thesis Proposal/Roadmap v.0.3

Big goal :

* Mining credit anonymously

Benefit :

* Boost unhealthy swarms, thus increasing the download speed for leechers
* Collecting "credit" so "helper" can get higher download speed
* Maximize bandwidth utilization of a user/node

Current state of the art :

1. [1] is not integrated on Tribler, paper only shows how many credit (bandwidth) gathered
2. [1] on

[2016-02-15 13:35] whirm commented on #834
This was done months ago, but the issue wasn't closed.

[2016-02-15 13:35] #834 closed

[2016-02-15 13:36] #1600 closed

[2016-02-15 15:49] ardhipoetra commented on #1842
This is my current progress https://github.com/ardhipoetra/tribler/commits/credit_mining

[2016-02-15 16:50] synctext commented on #1842
Concrete ToDo:
 - Getting the credit mining GUI ready for experimental release
 - User selects channels to boost, algorithms selects the swarms then automatically
 - _Minimize the friction for the user_
 - Offer a 1-click content selector, minimize the detailed swarm info
 - Credit mining GUI provides a channel overview:
  - Total Votecast records seen
  - For each channel how many votes it got +

[2016-02-15 17:23] pimveldhuisen commented on #31
Another mayor flaw that needs fixing before alpha:

- Currently when a peer receives a block it will sign it, but not subtract the included amounts from the pending totals. Combined with the sign anything policy, this means every MB will be signed twice.

[2016-02-15 18:37] Anth0rx commented on #1922
I get confused with all the repositories :O If you mean adding a subdir in the "wiki repo" how do that work?

[2016-02-16 08:17] lfdversluis commented on #1945
This can be closed now, right?

[2016-02-16 10:44] #1945 closed

[2016-02-16 10:48] whirm commented on #1922
How I see it is:
 - If it's code related documentation (building, sending PRs, reporting issues, development guidelines, etc) it goes to the git repository. This way we can keep it in sync with the existing code even if it differes across branches or commit history.
 - If it's academic/research or non specifically code related, it goes to the wiki. This kind of stuff tends to evolve on its own.

I

[2016-02-16 12:41] lfdversluis commented on #1869
@whirm this one can be closed.

[2016-02-16 12:52] #1869 closed

[2016-02-16 16:01] synctext commented on #31
future approach:
 - split mechanism and policy
 - tunnel comunity gives stats to a TrustModule
 - Multichain is a mechanism without a scheduler
 - TrustModule decides to request a signature

[2016-02-17 12:04] lfdversluis commented on #1931
@whirm can you assign this issue to me please?

[2016-02-17 13:06] whirm commented on #1931
But isn't that fixed by @devos50's minimum window size PR?

[2016-02-17 13:09] lfdversluis commented on #1931
No, that was the segfault. the violent resizing fix in my PR fixes this issue.

[2016-02-17 13:15] whirm commented on #1931
Ah, I see

[2016-02-18 14:48] #1931 closed

[2016-02-19 12:16] lfdversluis commented on #1703
Just my cents here, I guess launching all the items planned for 6.7 (credits, ratio enforcement, code/speed improvements, (major) gui update, multichain etc.) can be called v7. 6.6 contains the upgrade to wx3 with additional bug fixes; some items but nothing major (I think).

[2016-02-19 12:38] vi commented on #1703
The main issue that there is migration procedure from 6.4 to 6.5 (delecting collected_torrent_files, etc.) and user is not supposed to downgrade back to 6.4. That may be called "breaking change" requiring major version bump.

[2016-02-19 21:15] Anth0rx commented on #1922
Okay, assuming I want to translate parts of the wiki: It is possible to download the wiki as a repository or to edit it online. You said I should create a /german subdir. This will only work if I download the wiki-repo. But I can't just add a subdir and commit it. That will cause problems because I do not have the permissions :(

[2016-02-20 23:08] lfdversluis commented on #1922
@Anth0rx make a fork of github. Then checkout your fork. Translate your stuff and commit it to your fork. Then create a pull requests :+1:

[2016-02-21 12:24] lfdversluis opened #1968 "Convert blocking SQL calls to deferreds"
This issue is to track which instances that make of SQL statements can be converted to [deferreds](https://twistedmatrix.com/documents/14.0.1/core/howto/defer-intro.html). Using deferreds to perform SQL ensures that during I/O, the thread will not block, preventing performance loss.

Below a list of instances that can probably be converted to using Deferreds; if you encounter a method that can be

[2016-02-21 12:50] devos50 commented on #1968
I will let you know if I see any DB calls that can be transferred to deferred objects.

Maybe it's a good idea to create some (small) benchmarks with and without blocking DB calls and see how much % performance gain can be obtained?

Btw, the sqlite database is not the only database we are using (for instance, we also use LevelDB). Can we also make these calls non-blocking?

[2016-02-21 13:07] lfdversluis commented on #1968
@devos50 Yes, @whirm thinks the multichain community can be a good first benchmark to see how much we gain. Maybe that a really small benchmark could already provide some insight, let's try that out.

[2016-02-21 14:09] devos50 opened #1970 "Unused methods in Tribler/Core/VideoUtility.py"
In `Tribler/Core/VideoUtility.py`, there are some unused methods:

- `preferred_timecodes`
- `get_thumbnail` (only used by `preferred_timecodes`)
- `colourfulness` (only used by `preferred_timecodes`)
- `meanstdv` (only used by `colourfulness`)

What should we do with these methods? Should we remove them or make them usable in some way (for instance, as an API endpoint)?

[2016-02-21 19:52] Anth0rx commented on #1922
@lfdversluis You cannot fork the wiki. I am just able to **clone** the wiki but then I cannot commit any changes :(

[2016-02-21 21:35] devos50 opened #1971 "Creating of a torrent file with multiple files raises an assertion in libtorrent"
When creating a torrent file using the `create_torrent` method in `torrent_utils.py`, libtorrent gives an assertion:

[code]

This assertion does not trigger when using a release libtorrent or a libtorrent with assertions disabled.

This might be due to the fact that we are using the `add_files` method to add files to the libtorrent filestorage. Instead, I suspect that we should use the `add_file`

[2016-02-22 12:22] devos50 opened #1974 "Unused methods in osutils.py"
When analyzing the `osutils.py` file, I encountered some unused methods:

- `getcpuload`
- `read_proc_stat`
- `getupload` (what is/was the purpose of this method? Getting the total upload speed on OS X?)

Any suggestions on what to do with them? I don't think they are needed since the cpu load can easily be queried using `psutil`. Moreover, I don't see any purpose for `read_proc_stat` in Tribler i

[2016-02-22 14:57] whirm commented on #1968
@devos50 the LevelDB store has been async since the beginning.

[2016-02-22 14:58] whirm commented on #1970
No idea, never looked at that.

[2016-02-22 14:59] whirm commented on #1922
@Anth0rx oh well... Let me have a look a it.

[2016-02-22 15:05] whirm commented on #1922
@Anth0rx It doesn't even support subdirs, I tried it and it gets confused. Maybe just prepend `DE` to each page then?

[2016-02-22 16:48] synctext commented on #31
As of today we have a design freeze. It is far from feature complete, merely a _dry run_ of a concrete design. Accurate accounting of the totals is still out-of-scope. We will create a stable implementation of this design and include it in Tribler.

[2016-02-22 18:54] lfdversluis commented on #1970
In that case, do you see them being used in the future? Any purpose at all? If they work out of the box, you could convert them. If these can be changed by library calls or are simply broken, i'd say get rid of them.

[2016-02-23 14:50] lfdversluis commented on #1391
Note to self. There is both the **dispersy** port and the **libtorrent** port (two distinct different ports). Both need to be connectible.

[2016-02-24 10:11] synctext commented on #1842
Initial GUI on Tribler home screen:
![20160224_110104](https://cloud.githubusercontent.com/assets/325224/13281978/faccb96c-dae6-11e5-9a4c-7a52b78b980a.jpg)

Thesis storyline:
 - intro: screenshots of Mihai proof-of-principle
 - problem description: Solve hit-and-run behavior (avoid tragedy of the commons, 1968 problem). Effortless donation of resources. Task: scheduling Bandwidth, storage, and rel

[2016-02-25 10:33] devos50 opened #1984 "We have the same video file four times in the Test directory"
We have the same video four times in the tests directory:
- `Tribler/Test/data/video.avi`
- `Tribler/Test/API/video.avi`
- `Tribler/Test/API/video2.avi`
- `Tribler/Test/API/contentdir/video.avi`

We should rewrite these tests so this file is only available once. If we need to use the file in another location, we should make use of temporary directories.

[2016-02-25 10:33] devos50 commented on #1938
@whirm what do you think about disabling the check whether there are results or not on the tests that searches for content? It seems that this is the only error that shows during the tests now and then.

[2016-02-25 10:35] whirm commented on #1938
I would prefer to see why it fails and try to fix it, or at least make it more reliable.

[2016-02-25 10:36] devos50 commented on #1938
Could it be that it is connecting to peers that have no metadata about the particular channels matching `tv`?

[2016-02-25 10:50] whirm commented on #1938
Could be, but in principle it keeps rotating candidates and the search is not one shot, so the results should arrive sooner or later.

[2016-02-25 11:23] lfdversluis commented on #1936
Closing this one as it has been fixed.

[2016-02-25 11:23] #1936 closed

[2016-02-25 14:36] devos50 opened #1986 "Refactor Category class so it is not dependent on a session"
Currently, a `Session` object is passed to the constructor of `Category`. The only purpose of this session in the `Category` class is to get the installation directory of Tribler (which is a string).

I propose to break the dependency between `Session` and `Category` so `Category` can be used without a running `Session`. Instead, the installation directory is passed to the constructor of `Session`

[2016-02-25 15:35] whirm commented on #1986
Isn't there a static method in some module that tells you this?

[2016-02-25 15:40] whirm commented on #1986
https://github.com/Tribler/tribler/blob/be52821a6384eb861427c2964a9a7060450df3ef/Tribler/Core/Utilities/install_dir.py#L42

[2016-02-25 15:40] devos50 commented on #1986
@whirm you mean `determine_install_dir` in `install_dir.py`?

[2016-02-25 15:40] whirm commented on #1986
I say go ahead

[2016-02-25 15:43] devos50 commented on #1986
Will do, can you assign me to this issue?

[2016-02-25 15:45] whirm commented on #1986
Try to see if you can find more cases of the Session being used just for that, that will help a lot decoupling which will make testing easier.

[2016-02-25 15:46] devos50 commented on #1986
Yep, already found one more instance. In the sqlite database constructor, the session is also passed and only a specific path of this session is used. I will make a separate issue for that one.

[2016-02-25 18:41] imkebe opened #1987 "Regresion - Application crash when non ascii character in home path"
My username contains character "ł". Homepath C:\Users\Sławomir
6.4.3 version worked.

- [ x ] I have read CONTRIBUTING.md
- [ x ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
6.5.0
##### Operating system and version: #####
Windows 10
##### Expected behavior: #####
Up running
##### Actual behavior: #####
Crash
##

[2016-02-26 09:20] whirm commented on #1987
Hm, that's strange, I can run Tribler 6.5 on a windows 10 machine as the user `四国领导人`...

I'll have a look at it on Monday.

Thanks for the report!

[2016-02-26 09:41] whirm opened #1989 "The session is not shuttinng down properly"
That's on current devel:

https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/82/testReport/junit/Tribler.Test.test_remote_search/TestMixedRemoteSearch/test_remotedownload/

Apparently either Session or Dispersy are reporting the shutdown completion prematurely or the communities aren't being unloaded correctly.

[2016-02-26 15:48] whirm opened #1991 "Failure on test_add_update_Torrent (Tribler.Test.test_sqlitecachedbhandler.TestTorrentDBHandler)"
That's latest devel:
[code]

[2016-02-26 16:39] #1986 closed

[2016-02-29 04:40] SenikaRu opened #1992 "Tribler does not operate"
#### Please, fill all relevant items: ####

- [ ] I have read CONTRIBUTING.md

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
6.5.0
##### Operating system and version: #####
windows10 Version 1511 for x64-based Systems
##### Expected behavior: #####
Tribler window shows up
##### Actual behavior: #####
Trible

[2016-02-29 09:37] whirm commented on #109
@devos50 do you want to take care of this guy?

[2016-02-29 10:15] whirm commented on #1992
Apparently your leveldb database got corrupted somehow?

Could you please rename `%APPDATA%/.Tribler/collected_torrents` and try again?

[2016-02-29 10:17] LipuFei commented on #1974
I don't think they are used in tribler. Should be moved to gumby if that's where it belongs.

[2016-02-29 10:21] whirm opened #1993 "Tribler should be able to recover in case of corrupted files/databases"
To save our users situations like #1992

[2016-02-29 10:23] LipuFei commented on #1987
@whirm Try to use the Win32 API like `getEnvironmentVariable()` in tribler_exe.py.

[2016-02-29 10:27] whirm commented on #1987
@LipuFei that's what we are doing already: https://github.com/Tribler/tribler/blob/be52821a6384eb861427c2964a9a7060450df3ef/Tribler/Main/tribler_exe.py#L53

[2016-02-29 10:37] LipuFei commented on #1987
Check tribler_main.py line 992:
[code]

`determine_install_dir()` is not using Win32 API. Could be a problem.

[2016-02-29 10:45] whirm commented on #1987
@imkebe where is Tribler installed?

[2016-02-29 11:05] LipuFei commented on #1987
@whirm I remember from the last time that the installation path must be normal ascii, because otherwise our NSIS installer will not work. But I also remember something strange with this: I think if you have Chinese characters NSIS won't install, but if you have European language unicode characters it will work.

[2016-02-29 11:11] whirm opened #1994 "The tunnel helper should have bandwith usage settings implemented"
Right now if goes full steam ahead and the only limits are bandwidth and CPU availability.
There's not a lot of people interested on running those, at least let's make it easy for them by allowing to use only a portion of the available bandwidth.

@synctext should this be taken care of by the MSC students?

@synctext should this be part of the 6.6 milestone?

[2016-02-29 11:31] whirm commented on #1987
@LipuFei Hm, I thought it was just not compatible at all with non-ascii paths. Let's wait to see where @imkebe installed it to make sure that's the actual issue.

[2016-02-29 15:27] SenikaRu commented on #1992
What file should I change the name?
There is '000008.log' 'CURRENT' 'LOCK' 'LOG' 'LOG.old' 'MANIFEST-000006' in
%APPDATA%/.Tribler/collected_torrents

[2016-02-29 15:37] whirm commented on #1992
Change the name of the directory called `collected_torrents` to something else like `collected_torrents_bak`

[2016-02-29 15:59] SenikaRu commented on #1992
It worked!!! I think just erasing collected_torrents might actually work.
Thanks!!!!

[2016-02-29 16:13] whirm commented on #1992
Nice, glad to help.

Did you have a system crash or power outage recently?

[2016-02-29 21:08] Anth0rx commented on #1922
Hmm, okay. That's an option ;) I will try that for sure :P

[2016-03-01 07:16] SenikaRu commented on #1992
maybe recovery after using was the problem

[2016-03-01 10:44] whirm commented on #1992
In any case, I've created an issue for this kind of things, it would be nice if Tribler could recover from this kind of corruptions by itself.

Thanks!

[2016-03-01 11:39] #1974 closed

[2016-03-01 13:01] LipuFei commented on #1970
@whirm Those methods are used to generate thumbnails from a given video file. They used to be used by the MetadataCommunity. `colourfulness()` is used to check for XXX.

[2016-03-01 13:03] LipuFei commented on #1971
I remember there indeed were some unsolved bugs in `create_torrent()`, mainly related to creating a single-/multi-file torrent.

[2016-03-01 13:13] LipuFei commented on #1893
@whirm Look at this: https://github.com/Tribler/tribler/blob/devel/Tribler/Main/vwxGUI/list.py#L2181
I guess it's meant to happen on Mac.

[2016-03-01 13:17] devos50 commented on #1893
Well, I removed the stream button on OS X in #1978 so this error cannot occur anymore. Still, this is not the best fix since video playback should work on OS X. In the new GUI I'm working on, playback on Mac will probably be possible.

[2016-03-01 13:22] whirm commented on #1970
Yeah, I guess we should keep this for when the thumbnails are back up

[2016-03-02 14:04] devos50 opened #1998 "Add support for anonymous downloads and file picking in the start_download method of LibtorrentMgr"
Currently, the `start_download` method in `LibtorrentMgr` does not support anonymous downloads and selection of files to be downloaded. Support for these features should be added.

[2016-03-02 18:13] egbertbouman commented on #1998
As far as I know, ```LibtorrentMgr``` doesn't have a ```start_download``` method, but ```Session``` does. Anonymous downloads can be started with this method by passing it a ```DownloadConfig``` with a positive number of hops.

[2016-03-02 18:20] egbertbouman commented on #1998
I guess you were referring to a method that hasn't been merged yet (in this [PR](https://github.com/Tribler/tribler/pull/1997/files)). My bad :P

[2016-03-02 18:24] devos50 commented on #1998
@egbertbouman indeed, I'm moving the start of a torrent download to the Tribler Core (where it essentially belongs). This makes it possible for me to start a download from a url/file/magnet link using the upcoming HTTP API :+1:

[2016-03-03 10:35] imkebe commented on #1987
@whirm default path
C:\Program Files (x86)\Tribler\

[2016-03-03 10:52] whirm opened #2000 "Memory leak on the tunnel helper"
Current `devel` tunnel helper is leaking memory.

Apparently it only happens if exit mode is enabled, (either that or the lower amount of users on that kind of helper is not making the leak so obvious).

UPDATE: the non-exit tunnel helpers are also leaking, just at about half the rate than the others.

[2016-03-03 11:04] lfdversluis commented on #2000
#2000 hype! (sorry :smile: )

[2016-03-03 11:05] devos50 commented on #2000
#2000 party :beers:

[2016-03-03 11:06] whirm commented on #1987
@imkebe I've created a `Sławomir` user on my testing machine and Tribler is running just fine there.

Could you upload your `tribler.conf` and `libtribler.conf` files? (they are located in `%APPDATA%/.Tribler`I suspect some path on the config file which I guess you carried from 6.4 is not being decoded properly.

[2016-03-03 12:39] #1893 closed

[2016-03-03 12:49] #1478 closed

[2016-03-03 13:19] imkebe commented on #1987
[tribler.conf](https://github.com/Tribler/tribler/files/156797/tribler.conf.txt)
[libtribler.conf](https://github.com/Tribler/tribler/files/156798/libtribler.conf.txt)

[2016-03-03 13:26] imkebe commented on #1987
There is something in user path. I deleted entire %APPDATA%/.Tribler directory and it isn't recreated on Tribler start. It just stucks at the start.

---------------------------
Errors occurred
---------------------------
See the logfile 'u'C:\\Users\\S\u0142awomir\\AppData\\Roaming\\tribler.exe.log'' for details
---------------------------
OK
---------------------------

[2016-03-03 13:50] whirm commented on #1987
does tribler.exe.log contain anything else than the stracktrace you already pasted?

[2016-03-03 15:03] #1992 closed

[2016-03-03 15:06] whirm commented on #1987
Could you paste this:
[code]

into a file called `install_dir.py` and place it in `C:\Program Files (x86)\Tribler\Tribler\Core\Utilities\`
And then rename the `install_dir.pyo` located in the same dir to something else?
That should print some useful info on the log file.

Thanks!

[2016-03-03 15:48] Dmole opened #2002 "Webseeds aren't working on Tribler. (Was: Are webseeds supported?)"
Are webseeds supported?
https://en.wikipedia.org/wiki/BitTorrent#Web_seeding

[2016-03-03 15:58] whirm commented on #2002
We use rasterbar's libtorrent, so if the .torrent contains webseeds, it should work:
http://www.rasterbar.com/products/libtorrent/manual.html#http-seeding

[2016-03-03 16:18] Dmole commented on #2002
Well for whatever reason I can't get it to work on 6.5.0-rc7

echo "test" > test.txt
mktorrent -a udp://tracker.openbittorrent.com:80 -w http://some.domain.tld/ test.txt
adding the torrent to Tribler results in it never contacting the server (so said the server logs) and never getting past 0%.

[2016-03-03 16:25] whirm commented on #2002
We will have a look at it then :)

Thanks for the report!

Also, 6.5 got released a while back, so you may want to upgrade.

[2016-03-03 16:42] Dmole commented on #2002
Thanks for updating the main OS X download to one that works! :)

[2016-03-03 16:53] whirm commented on #2002
@Dmole yeah, 6.4.X was too old to run on recent versions of OSX...

[2016-03-03 19:13] imkebe commented on #1987
[code]

[2016-03-04 07:27] whirm commented on #1987
my bad, add `import sys` as the first line of the file you've created and try again.

[2016-03-04 14:24] LipuFei commented on #1989
@whirm At the end of the log you can see that after dispersy has fully stopped (after this line),
[code]
Another 8 `CircuitRequestCache`s has been added, which are probably the 8 uncleaned `CircuitRequestCache`s got complained about at the end.

Perhaps it's a good idea to shutdown the network first? Or we can emit a signal when dispersy is fully shutdown, and other services that depend on dispers

[2016-03-04 15:37] whirm commented on #1989
When a community is shut down, it should not leave anything behind, and the tunnel community is. So that needs to be fixed. I guess the community should not allow new circuits to be created and then shut down all existing ones before exiting,

[2016-03-05 13:40] brussee commented on #1845
All necessary recipes are done! https://github.com/kivy/python-for-android/pull/405#issuecomment-168715685 (2 waiting for approval)

[2016-03-05 13:42] brussee commented on #1782
All necessary recipes are done! https://github.com/kivy/python-for-android/pull/405#issuecomment-168715685 (2 waiting for approval)

[2016-03-05 14:48] devos50 commented on #1782
@brussee good work :+1:

[2016-03-05 14:53] devos50 commented on #1107
@jkaberg thanks for your suggestions. I'm currently working on creating an API. An essential part of this is splitting the current GUI from the core logic in Tribler. You can follow my work in #1961.

Moreover, I'm working on a complete new GUI, written in Qt, which is powered by the API I'm creating. I'm working on them both.

I currently do not have a lot of endpoints. Searching for torrents is

[2016-03-05 14:56] brussee opened #2003 "package directory 'Tribler/Core/DecentralizedTracking/pymdht/core' does not exist"
If I run setup.py https://github.com/Tribler/tribler/archive/v6.5.0.tar.gz cross-compile for android-arm it fails:
[code]
Am I missing something (in the source package)? Are the submodules not included in the release?

[2016-03-05 14:58] devos50 commented on #2003
@brussee in the `tar.gz` file, the `Tribler/Core/DecentralizedTracking/pymdht` directory seems to be empty, not sure why. @whirm is this a bug?

[2016-03-05 16:29] jkaberg commented on #1107
@devos50 Very nice to see. If the entire GUI is powered by the API (meaing all GUI functions depend on the API) then my feature request should be 100% complete once your done :-)

Looking forward to it!

[2016-03-05 18:51] imkebe commented on #1987
You forget about `import os` also :) But that gives no new data.

[code]

Maybe that will help ? http://www.azavea.com/blogs/labs/2014/03/solving-unicode-problems-in-python-2-7/

[2016-03-05 19:29] lfdversluis commented on #2003
It's submodule, looks like it wasn't added properly.

[2016-03-07 08:11] whirm commented on #2003
Github doesn't add submodules to the source archives built by them and we can't disable it. Either use the .tar.xz provided together with the installers which is packed by jenkins and contains everything, or check out the `v6.5.0` tag on git and make sure you update the submodules.

[2016-03-07 08:12] #2003 closed

[2016-03-07 08:23] whirm commented on #1987
No, I know what's going on now. Apparently your `PATH` contains non-ASCII paths and Tribler is updating it's own copy of the variable, this breaks the normal Python API.

I'll push a fix for that later today.

Thanks for the help!

[2016-03-07 08:34] whirm opened #2005 "Plyvel support can be removed from Tribler"
@brussee Fixed python-levedb and sent a recipe to python4android upstream's so Tribler can use the same bindings across all supported OSs.

@devos50 just to confirm: OSX is not using plyvel either, right?

[2016-03-07 08:36] devos50 commented on #2005
No, the OS X builder uses `leveldb`: https://github.com/Tribler/tribler/blob/devel/Tribler/Main/Build/Mac/setuptriblermac_64bit.py#L20

[2016-03-07 14:25] Lcstyle commented on #1569
I'm still having similar behavior on windows 10 install of 6.5.0

When exiting Tribler 6.5.0, Windows says the program has crashed, and I get a message about looking for the log, the log just contains the same message repeated :

ERROR   1457360042.62 tunnel_community:1095  cannot exit data, destination is 0.0.0.0:0

[2016-03-07 14:37] whirm commented on #1569
Could you please create a new issue for that?

Thanks!

[2016-03-07 15:24] colin1497 commented on #1669
Just wanted to verify that this still exists in 6.5.  Just accidentally started 2 DL's as anon in a 6.5 RC nightly build.  Realized I hadn't upgraded in a while, checked, saw the release, downloaded, shut down tribler, installed 6.5 release as upgrade.  The 2 downloads were there, trying to download anon, but otherwise no problems.  I then:

1) copied magnet link
2) removed download (NOT download

[2016-03-08 11:07] whirm commented on #2000
With the increase in users this is getting pretty bad. 3x memory consumption in less than 24h.

Anybody up for this one?

[2016-03-08 12:39] whirm commented on #1987
@imkebe I've merged a fix for the non-ASCII `%PATH%` and another for the repeated log line. I've tested it on Windows 10 by adding a non-ASCII path to my `%PATH%`.

Could you see if installing this build fixes it for you?
https://jenkins.tribler.org/job/Publish_tribler_next/193/

[2016-03-08 14:58] whirm commented on #2000
@devos50 both manhole and the cpu and memory profilers are integrated into the twisted dispersy tracker plugin, look at the help output.

Note that for twistd to find the tracker plugin you need to add the dispersy directory to the PYTHONPATH and call twistd from the dispersy's repo parent directory (IE, if you clone dispersy to your $HOME, add $HOME/dispersy to the PYTHONPATH and run twistd from

[2016-03-08 17:00] whirm opened #2014 "win\makedist.bat is broken on devel"
https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_devel/

tribler.nsi got moved but the old .bat didn't get updated.

[2016-03-08 18:26] imkebe commented on #1987
Issue still exist but there are new log data:
[code]

[2016-03-08 19:52] ardhipoetra opened #2015 "Handling unavailable trackers from channels"
Some trackers in a channel does not responding to request when 'scraping'. For example, tracker from torrentbox (http://tracker.torrentbox.com:2710/announce) or ccc.de(udp://tracker.ccc.de:80/announce). Is there any way to 'blacklist' those trackers so it doesn't burden the system?

[2016-03-09 09:50] whirm commented on #2015
The trackers that don't respond get flagged and the next contact attempt is scheduled over increasingly long periods AFAIR.

[2016-03-09 09:50] whirm commented on #2015
Please, close the issue if that's all,

[2016-03-09 09:51] whirm commented on #1987
I'll fix that one ASAP, thx!

[2016-03-09 10:46] #2015 closed

[2016-03-09 15:10] lfdversluis commented on #2014
`makedist` is the old, untouched version. The new version is `makedist_win`. This file was [added](https://github.com/lfdversluis/tribler/blob/208533cf2857367e9cedf67abb2ee7128db47e51/win/makedist_win.bat) and merged in #1872. This was done to ensure we would could still call the old builder from current devel using the old settings.

[2016-03-09 15:10] lfdversluis commented on #2014
@whirm is the wrong file configured on Jenkins? If so, sorry!

[2016-03-09 15:13] whirm commented on #2014
I don't know, but if this file is not supposed to work, it should be removed.

[2016-03-09 15:14] lfdversluis commented on #2014
@whirm ok, then I'll delete the old makedist. Should I rename the `makedist_win` to `makedist` ?

[2016-03-09 15:16] whirm commented on #2014
I don't know how you have set that up, but everything that's there needs to work and if the jobs need to be updated due to any change, you should do that too once any changes get merged.

[2016-03-09 15:19] whirm commented on #2014
That's the new parallel job I created to build devel:
https://jenkins.tribler.org/job/Build_Tribler_devel/
If I'm using the wrong jobs, feel free to update it, also disable whatever job got obsoleted by your changes with a comment on the description and tell me about them please.

[2016-03-09 16:00] synctext commented on #1842
Some very old code is still using manual checking in our own Python code:
https://github.com/Tribler/tribler/blob/v6.0/Tribler/Core/DecentralizedTracking/mainlineDHTChecker.py

Now we use Libtorrent, which has it's own DHT and another DHT library.

[2016-03-09 16:55] whirm commented on #1842
The more recent versions of libtorrent have exposed more stuff to the python bindings. It would be nice if someone checked if the needed DHT stuff is available now. That would allow us to drop pymdht entirely.

[2016-03-09 17:42] lfdversluis commented on #2014
It's currently building on the wrong machine: `Building remotely on Builder-WinSrvr2008R2_64_tudelft (WinServer2008R2-x64) in workspace C:\workspace\jenkins\workspace\Build-Tribler_WinSrvr2008R2_64_devel`

The new `makedist_win.bat` has paths changed (e.g. just a folder 'ffmpeg' in the build folder instead of something like 'ffmpeg-20150107-git-919e038-win32-static'), this has been changed on the

[2016-03-09 17:57] colin1497 opened #2018 "Duplicated download exceptions in 6.5"
This is a log file from the 6.5 release for review.
- [N] I have tried with the latest pre-release version and I still can reproduce the issue.
##### 6.5 Release:
##### Windows 10
##### Relevant log file output:

[tribler.exe.log.txt](https://github.com/Tribler/tribler/files/165746/tribler.exe.log.txt)

EDIT(whirm): Relevant portion of the log:

[code]

[2016-03-10 09:48] lfdversluis commented on #2005
@whirm Can you close this one as leveldb is only available in the user repository of arch linux and thus we need to keep the support for plyvel as this package is available in pacman.

[2016-03-10 11:04] whirm commented on #2014
Sure, and remove any leftover stuff from the `devel` branch too. thanks!

[2016-03-10 11:07] whirm commented on #2018
Thanks for the report!

[2016-03-10 11:13] whirm commented on #2000
Yup, my internet connection broke overnight and I forgot to run it in screen, so we only have a 12 hours run, but should be enough.

Can you receive 26 MB attachments on your mail?

[2016-03-10 11:32] whirm commented on #2005
Yes, this should be done when/if Arch gets python-leveldb in the official repos or debian gets plyvel instead.

[2016-03-10 11:32] #2005 closed

[2016-03-10 12:15] Captain-Coder commented on #31
I was having a good brainstorming session about the "parity for contributions" problem where the number of relays is not fixed. Here is what I came up with:

Assume a seeder S, who has a proxy infront of him and a rendevous proxy (Ps and Ps'). The downloader (D) only has a rendevous proxy (Pd') to hide behind. In the naive approach of payout on this setup, the seeder asks for his true up and down.

[2016-03-10 13:37] devos50 opened #2020 "Torrent files should be removed from the torrent store when freeSpace is called"
The `freeSpace` method in `sqlitecachedbhandler.py` should probably also remove the torrent it is removing from the database, from the torrent store in order to actually clean up space.

[2016-03-10 13:51] whirm commented on #2020
Yeah, apparently nothing is cleaning the torrent store...

[2016-03-10 16:46] devos50 opened #2022 "Stack trace being thrown sometimes when executing test_channel_search"
Sometimes during the tests, the following stack trace is displayed:

[code]

[2016-03-10 20:44] lfdversluis commented on #2014
I also took the liberty of adding the new 32 bit builder to that job.

[2016-03-10 23:10] colin1497 commented on #2018
No prob, trying to use the release version for a while before I step back into dev builds.

[2016-03-11 08:42] LipuFei commented on #2022
What was the error?

[2016-03-11 08:46] whirm commented on #2014
it means the job that's complaining has a "copy artifacts from another job" step and the job it tries to copy stuff from doesn't exist.

[2016-03-11 09:33] devos50 commented on #2022
@LipuFei the Watchdog tripped. I've updated the issue with information about which thread is tripping. It seems to hang on the `onExit` method when closing and in particular, on a `wx.Yield` statement.

[2016-03-13 18:49] lfdversluis commented on #2014
@whirm Thanks for explaning. The issue [is fixed](https://jenkins.tribler.org/job/Build_Tribler_devel/). This one can be closed I guess.

[2016-03-14 10:04] devos50 opened #2029 "Refactoring the startup method of Tribler"
Currently, everything that is related to the startup of Tribler, is located in `tribler_main.py`. There are various stages during the startup. There is no separation between GUI-related code and Tribler session initialization code (belonging to the core).

I would suggest to create a `StartupManager` class in the `Tribler/Core` module that is responsible for setting up an starting a Tribler sessio

[2016-03-14 10:56] whirm commented on #2029
We could call it `TriblerService` as it would be in charge of more than managing the startup sequence.
I would also leave the `start` API for a later stage to keep things as simple as possible for the first MVP.

Also: I don't see much use to having a service that does nothing if a client doesn't connect to it and tells it to start doing stuff.

Any developer can generate a default config. file wi

[2016-03-14 11:05] whirm commented on #2014
The 32 and 64 bit versions of the installer have the same name so one overwrites the other when collecting the artifacts. Also, I guess the 64 bit installer still puts Tribler in `program files (x86)`, right?

[2016-03-14 11:49] lfdversluis commented on #2014
Yes #1943 is not fixed yet. Them having the same name makes sense when you look at the script, it only replaces __GIT__ and does not differentiate the name.

[2016-03-14 12:28] devos50 commented on #2029
`TriblerService` is a good name and that class can be responsible for starting up and shutting down the session.

We can just pass a session config object to the start method of `TriblerService` or something like that.

[2016-03-14 12:54] whirm commented on #2014
The 64 bit piece is not part of the Tribler version but the installer, so it needs to be changed on the packager/installer side.

[2016-03-14 12:56] lfdversluis commented on #2014
@whirm see #2030 I have not tested it yet. I think I will modify my 64 bit builder to target my branch for now.

[2016-03-14 12:59] whirm commented on #2014
Yes, I saw it after commenting.

Sure, feel free to update the branch until it works.

Once they work, we should link them to the PR runner to make sure we aren't breaking the installers.

[2016-03-14 13:01] whirm commented on #2029
Ok, but remember that we should refactor the whole config management stuff to use a single config object/file, and maybe migrate to ConfigObj at the same time. I guess you will want to do that at a later stage.

[2016-03-14 13:19] lfdversluis commented on #1943
@whirm Could you assign this one and #1878 to me?

[2016-03-14 14:47] whirm commented on #1987
@imkebe could you give a try to this build?

https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/169/

[2016-03-14 14:50] brussee commented on #2003
Using .tar.xz works. Thanks @whirm!
Solution implemented upstream https://github.com/kivy/python-for-android/pull/685

[2016-03-14 15:22] whirm opened #2031 "Tribler twi refactoring"

[2016-03-14 15:22] #2031 closed

[2016-03-14 15:24] whirm opened #2032 "Tribler's "twistification": refactor all functions that require a callback as argument to return a Deferred instead"
A couple examples:

 - `create_engine_wrapper()`
 - `network_create_engine_wrapper()`

[2016-03-14 16:25] whirm commented on #2018
@colin1497 Can you reproduce it at will? I can't seem to reproduce it on current `next`

[2016-03-14 19:34] colin1497 commented on #2018
I have not tried to reproduce.  I'm not even actually certain what the original cause was.  Really I just got a log file at shut down, knew that something somewhere had failed and thought you might find it interesting.  Most likely it's just some condition you need to trap and ignore, but I'm not sure what I did.  Maybe clicked a magnet link twice without completing the dialog?

[2016-03-14 19:35] Transcend01 commented on #1038
When can we expect the 6.6 version or it's first beta's ?

[2016-03-14 22:16] imkebe commented on #1987
It works.

[2016-03-15 10:05] whirm commented on #1987
Great! I'll merge that then, I want to fix another bug and I'll release V6.5.1

Thanks!

[2016-03-15 10:13] whirm commented on #1038
@Transcend01 I'm planning on releasing V6.5.1 (bugfix release) really soon and shortly after V6.6-alpha1 to receive some early feedback on the migration to WX3 on the GUI side. The alpha will still not have this issue's feature implemented yet probably, but it should come shortly after.

[2016-03-15 10:15] #1987 closed

[2016-03-15 10:23] whirm commented on #2018
I don't really want to ignore it, I would like to fix the root cause of it.

I've tried to reproduce it again for a bit and also tried the magnet link thing and it didn't break. So for now I'll push it to the V6.6 milestone and see if we can get anybody to figure out how to reproduce this.

Cheers!

[2016-03-15 10:38] devos50 opened #2033 "The tests to test a libtorrent download should download from a local seeder"
Currently, we are downloading a torrent from the external network. This is sometimes (though rarely) failing. We should setup a seeder (like we are doing with the seeding tests currently) and download from that seeder so all communication stays on the local network.

[2016-03-15 11:13] lfdversluis opened #2034 "Refactor the on_dynamic_settings function in search community"
The search community overrides the `on_dynamic_settings` function to only `pass`. This is probably to prevent the base class ` on_dynamic_settings` running which is poor OOP design.

@devos50 wanted to take a look at it, so I made a issue for this.

[2016-03-15 12:18] devos50 opened #2035 "Make the torrent health checking asynchronous"
The logic in the torrent health checking is currently blocking and synchronous. We should change it to use the Twisted reactor so it's non-blocking in order to increase tests stability and overall speed.

[2016-03-15 14:06] Transcend01 commented on #1038
@whirm thx for your fast reply.

[2016-03-16 12:00] LipuFei commented on #1989
@whirm Would it be a good idea to make a shutdown flag for TaskManager and set a "has_stopped" flag, and in register_task(), we can check this flag and avoid adding new tasks after shutdown?

[2016-03-16 12:06] LipuFei commented on #2029
Sounds good. I wonder if there is a plan to refactor the download thingy? I think that's worst part. I had tried to decouple them at least three times but every time I just ended up in a huge mess.

[2016-03-16 12:36] whirm commented on #1989
@LipuFei I think that it would be better to do that at a higher level, when stopping, the communities should flush their pending messages and stop their subsystems properly. Also, ignoring a task registration doesn't make the task go away, it will be simply not accounted for.

[2016-03-16 12:37] whirm commented on #2029
@LipuFei I think @devos50 plans on doing a clean slate implementation of that part for the new API.

[2016-03-16 12:38] LipuFei commented on #1989
Agree, because I don't like to repeat things like `if stopped: return` in all functions, I was thinking about something that saves some typing.

[2016-03-16 16:11] synctext opened #2039 "Trouble joining a channel with 106000 torrents"
On my Ubuntu box I found a large channel with numerous torrent files.
Joining this channel produces a Traceback and an eternal "loading, please wait" in the GUI.
Following errors are shown when running latest next branch, a3c30bfaf330c7d4f8cbffa90102673329a1edf3

Initial fix is removing this Traceback.

_Long-term fix is adding a new type of channel: without any wiki-style editing rights, consisti

[2016-03-17 16:01] #2014 closed

[2016-03-17 16:02] lfdversluis commented on #1943
Closing as it is fixed

[2016-03-17 16:02] #1943 closed

[2016-03-17 16:03] lfdversluis commented on #1878
@whirm Can you close this one please?

[2016-03-17 16:03] #1878 closed

[2016-03-17 17:02] whirm commented on #1943
@lfdversluis Don't forget that the jobs still need updating.

[2016-03-17 17:54] lfdversluis commented on #1943
@whirm The jobs already pass the argument to the update git from py script. Both builders have the new NSIS + plugins installed. Am I missing something here?

[2016-03-17 17:55] whirm commented on #1971
@devos50 you fixed that one already, right?

[2016-03-18 07:21] imkebe opened #2042 "Error on exit"
#### Please, fill all relevant items:
- [x] I have read CONTRIBUTING.md
- [x] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

6.5.1
##### Operating system and version:

Windows 10
##### Expected behavior:

Exit smoothly
##### Actual behavior:

Error on exit
##### Steps to reproduce the behavior:

Close app
##### Relevant

[2016-03-18 08:37] whirm commented on #2042
Thanks for the report!

[2016-03-18 09:20] whirm commented on #1683
@synctext I guess this should be assigned to whichever student is in charge of improving the tunnel community?

[2016-03-18 09:23] whirm commented on #1664
@lfdversluis could you see if this bug is still there after all your unstaller modifications?

[2016-03-18 09:38] whirm commented on #1790
There's ben a bunch of fixes merged to `devel` since this issue was opened including a fix for the assertion error @nicoechaniz reported.  I'm closing this one now. If you find more issues or any of the ones reported here are still present, please check if there's an existing issue already open or create a new one otherwise.

Thanks again for your help!

[2016-03-18 09:38] #1790 closed

[2016-03-18 09:39] synctext commented on #1683
OK, yes. Another nice student job.

So the tunnel community has scaling problems. Good to hear from our users about this. With a nice performance graph, it's even performance analysis & re-factoring.

[2016-03-18 09:41] whirm commented on #875
@devos50 could you focus on dealing with the remaining wx bugs assinged to this milestone so we can release a first Alpha?

[2016-03-18 09:42] lfdversluis commented on #1664
@whirm This will be still there. I have seen the string that the uninstaller targets and that is the $InstallDir. I have not seen code that changes this if the user specifies something else.

[2016-03-18 09:45] synctext commented on #1683
@Pathemeous  #21 Seems the 1TByte seeding goal is difficult. Seeding anonymously gives already errors at >60 torrents.

[2016-03-18 10:12] Pathemeous commented on #1683
Yes, this should be the first target to overcome (as expected). It seems that this is related to the big GUI refactor? Without a clean API such high-performance goals are bound to result in errors like these.

[2016-03-18 10:41] whirm commented on #1683
It's not related to it, but in principle we where planning to have it fixed for the wx3 release.

Depending on how long the tunnel community refactor will take, it could be that the improved tunnel community is not ready until after the new gui is ready, so maybe it's not worth worrying about breaking the gui parts of it for now.

[2016-03-18 10:42] whirm commented on #1683
If the WX3 part of this milestone is ready before the rest, we can still release that so we get in Debian/Ubuntu ASAP and split the rest for a future milestone/release.

[2016-03-18 10:45] devos50 commented on #1971
@whirm this one is fixed.

[2016-03-18 10:46] devos50 commented on #1947
@whirm we think this is nice to fix but not top priority.

[2016-03-18 10:47] whirm commented on #1664
I guess it should use a registry entry for that?

[2016-03-18 10:47] devos50 commented on #1941
@whirm this seems easy to fix?

[2016-03-18 10:47] devos50 commented on #1916
@whirm this one can be closed, I replaced `SearchCtrl` elements with `TextCtrl` widgets on OS X.

[2016-03-18 10:48] whirm commented on #1941
Yeah

[2016-03-18 10:48] #1916 closed

[2016-03-18 10:50] devos50 commented on #1854
@whirm we haven't seen this one on the wx3 tests. Looking at your log, you're using wx2.8 so is this still happening?

[2016-03-18 10:50] devos50 commented on #1831
@whirm I fixed this one a while ago?

[2016-03-18 10:51] whirm commented on #1854
I caught that on a unit test run, not on my local machine.

[2016-03-18 10:52] whirm commented on #1854
Let's close it, I haven't seen that since the move to wx3

[2016-03-18 10:52] #1854 closed

[2016-03-18 10:53] whirm commented on #1831
I think so.

[2016-03-18 10:53] whirm commented on #1831
@Dmole is it still broken for you?

[2016-03-18 10:53] #1971 closed

[2016-03-18 10:53] devos50 commented on #1826
@whirm maybe someone other than @lfdversluis and me can look at this one? Neither of us are experienced with the hidden tunnel community.

[2016-03-18 10:54] whirm commented on #1826
Maybe @Pathemeous?

@synctext ?

[2016-03-18 10:55] devos50 commented on #1823
@whirm during the next weeks we can take a quick look through the code to see where this happens. Don't think this is a task that can be assigned to one particular person.

Additional question: how can we make sure that we know which exception can and should be caught?

[2016-03-18 10:56] devos50 commented on #1811
@whirm can you assign this one to the 6.6 milestone? I think it's important to have this one.

[2016-03-18 10:56] devos50 commented on #1817
@whirm do you have any idea what's causing this and how we could reproduce it?

[2016-03-18 10:57] devos50 commented on #1801
@whirm I can add a test with a 'real' older database (like we discussed before). There already is a test available that is using a clean database.

[2016-03-18 10:58] devos50 commented on #1776
@whirm can you fix this one?

[2016-03-18 11:00] devos50 commented on #1769
@whirm this one is nice to have but not top priority we think.

[2016-03-18 11:01] devos50 commented on #1742
@whirm I'm not able to reproduce this one. @Dmole do you still experience this problem?

[2016-03-18 11:02] devos50 commented on #1729
@whirm almost done with this one! Should be finished in a few days when the Windows tests are also working.

[2016-03-18 11:05] devos50 commented on #1704
@whirm should be easy to fix but not a top priority for now I guess.

[2016-03-18 11:06] whirm commented on #1729
@devos50 feel free to add the test runner to the pull request tester, also don't forget to configure the subjob so it doesn't abort all other jobs when failing and add the coverage report to the coverage check job (I did that already for the OSX job you connected)

[2016-03-18 11:07] whirm commented on #1704
The "columns" label part could be fixed quickly and the rest taken as a usability reminder for the new UI.

[2016-03-18 11:07] devos50 commented on #1703
Since 6.5 is already released, we cannot make it backwards compatible with 6.4.3 unfortunately. We should keep this in mind for next releases.

[2016-03-18 11:09] whirm commented on #1769
@devos50 take it as a reminder for the unified config and the new GUI

[2016-03-18 11:09] whirm commented on #1769
I don't know why I added the duplicate tag?

[2016-03-18 11:13] whirm commented on #1823
There's very few cases where you want to catch all exceptions, that usually happens when you want to clean up something before continuing and even then you will raise the exception again.

You can see the calls the function makes and figure out the exact exceptions it should be catching (if at all).

[2016-03-18 11:14] devos50 commented on #1669
@whirm we believe this issue is related to the name being set to `NULL` in the database when removing a torrent but we should further investigate this.

[2016-03-18 11:14] whirm commented on #1811
It slipped through the cracks

[2016-03-18 11:16] devos50 commented on #1623
@whirm I would assign someone to this issue who has experience with dispersy.

[2016-03-18 11:18] whirm commented on #1817
I added added some more info for the next time this happened. I haven't catched it since then.

I guess it was an IPV6 address. (we should really start thinking about supporting IPV6 BTW :D)

[2016-03-18 11:18] devos50 commented on #1622
@whirm I think this is a more involving issue. There are more with the hidden community right? Maybe someone working on related stuff should dedicate some time to investigate the hidden community code and see how it works and where it can be improved.

[2016-03-18 11:18] devos50 commented on #1585
@whirm this one is easy to fix I guess?

[2016-03-18 11:19] devos50 commented on #1560
@whirm should be fixed by the minimum window size setting.

[2016-03-18 11:19] whirm commented on #1623
My guess is that the tunnel community is messing with dispersy.

[2016-03-18 11:19] devos50 commented on #1540
@whirm is this one fixed?

[2016-03-18 11:20] whirm commented on #1801
Isn't the 10MB DB used on the tests a real DB?

[2016-03-18 11:20] devos50 commented on #1262
@whirm do we really want this one in 6.6?

[2016-03-18 11:21] devos50 commented on #1038
@whirm I think this is a very nice addition in the new Qt GUI.

[2016-03-18 11:21] devos50 commented on #875
@whirm will do!

[2016-03-18 11:21] whirm commented on #1540
I don't see the check that @NielsZeilemaker mentioned there, so I assume it's not.

[2016-03-18 11:23] devos50 commented on #870
@whirm This is a nice addition for the new API (we can have a parameter like `sequential` when starting a download). I would move this to the new GUI milestone.

[2016-03-18 11:24] devos50 commented on #847
@whirm what's the status of this issue? From the url @egbertbouman posted, it seems to be fixed.

[2016-03-18 11:25] devos50 commented on #783
@whirm what's the status of this issue?

[2016-03-18 11:26] devos50 commented on #707
@whirm we think this issue is something for the longer term.

[2016-03-18 11:28] devos50 commented on #705
@whirm maybe move this milestone to V6.6+?

[2016-03-18 11:31] whirm commented on #1703
What we should do, is to offer to make a backup of the data before the migration or keep a different state directory for each new Tribler on disk format change like other programs do, (Android Studio comes to mind).

[2016-03-18 11:31] devos50 commented on #1801
@whirm the 10MB database is too old to be upgraded so it only checks whether an exception is thrown. No actual upgrade of that database is done.

[2016-03-18 11:31] whirm commented on #705
@devos50 I guess,

@synctext ?

[2016-03-18 11:33] whirm commented on #1801
I see, then yeah, let's run a copy of the oldest version of Tribler that is still able to talk to recent versions and let it generate a more recent DB

[2016-03-18 11:35] whirm commented on #1622
@devos50 definitely

@synctext This should go to the tunnel community package too. I'm thinking we should have a milestone just for that suff and we can have a special release just for that even. What do you say?

[2016-03-18 11:36] whirm commented on #1585
I guess, but don't waste too much time otherwise.

[2016-03-18 11:37] whirm commented on #1560
Do it :)

[2016-03-18 11:39] lfdversluis commented on #1664
@whirm I'll take a look at it

[2016-03-18 11:40] whirm commented on #1262
No, we can have this done on the new gui instead, I'll move it

[2016-03-18 11:42] whirm commented on #1038
That's not really gui related, the only gui related part would be the dir selector on the settings panel and a checkbox to enable the feature.

[2016-03-18 11:42] whirm commented on #1664
great

[2016-03-18 11:45] whirm commented on #847
Yes, that got fixed in wx 2.8.12, and we aren't even using WX2.8 that anymore :D

[2016-03-18 11:45] #847 closed

[2016-03-18 11:46] whirm commented on #783
That's tunnel community stuff, disregard it.

[2016-03-18 11:51] Pathemeous commented on #1826
I doubt that I have more practical knowledge of the matter than @lfdversluis or @devos50, but obviously I am also working in this area. Since I can't work on Tribler all week I cannot guarentee that I can fulfill the _Top Priority_ label, but I can make this the first thing I do when I do.

[2016-03-18 11:57] whirm commented on #1826
That would be great, It's top priority because it makes us have to disable those tests to be able to run the rest with a reasonable success rate, but as long as it gets fixed before any further work on the tunnel community so the community doesn't break further due to it not being properly tested, it should be fine.

[2016-03-18 12:04] Pathemeous commented on #1826
I think that should be doable. However, @synctext should probably confirm that that indeed no one is working on the tunnel community.

[2016-03-18 12:04] Dmole commented on #1831
It's fixed, thanks.

[2016-03-18 12:05] #1831 closed

[2016-03-18 12:06] whirm commented on #1826
No one is as far as I know

[2016-03-18 12:11] Dmole commented on #1038
yah the main reason most want it is so we don't have to use the GUI.
It would be nice if;
it could be set via config file,
and optionally remove downloads when the torrent file is removed from the watch folder
and optionally move completed downloads to a completed folder.

[2016-03-18 12:14] Dmole commented on #1742
This was torrent specific so it's hard to reproduce. Likely it will crop up again unless some safety/threading/timeout/etc was added.

[2016-03-18 12:16] Dmole commented on #1769
maybe for the bugs unrelated to the issue?

[2016-03-18 12:23] whirm commented on #1038
We will have a REST API so you will be able to manipulate Tribler even with `curl` if you want to.

[2016-03-18 12:25] whirm commented on #1742
I'll close this then, @Dmole please reopen it if you manage to reproduce it again :)

[2016-03-18 12:25] #1742 closed

[2016-03-18 12:27] Dmole commented on #1038
when do we get the EST API?
what version will the EST API be in?
is there a link to the EST API?

[2016-03-18 12:31] Pathemeous commented on #1826
(y)

[2016-03-18 12:35] whirm commented on #1038
XDD, @devos50 which branch was it?

[2016-03-18 12:37] devos50 commented on #1038
@whirm @dmole See #1961

[2016-03-18 12:44] whirm commented on #1826
I'll assign this to you then

[2016-03-18 13:34] synctext commented on #1826
No one is working on the tunnel community...

[2016-03-18 13:48] whirm commented on #1826
@Pathemeous there's more tunnel issues on this same milestone you could help with

[2016-03-18 14:11] Transcend01 commented on #1038
quote;"yah the main reason most want it is so we don't have to use the GUI." I think reason why most want it is not having to ad torrents manualy.

[2016-03-18 15:11] Dmole commented on #1038
Same difference.
I'll be implementing my own watch folder with the REST API if it becomes available fist.
I kinda hope REST API is worked on first because headless is the other thing at the top of my wishlist.

[2016-03-18 15:13] lfdversluis opened #2044 "win32regchecker is not covered at all"
Was looking in the coverage, there is no test for `Tribler/Core/Utilities/win32regchecker.py`. @devos50 Maybe you can add this in your unit tests for windows PR?

[2016-03-18 22:26] Pathemeous commented on #1826
When I'm on the seventh floor again I'll come to you, if that's all right

On Fri, 18 Mar 2016 14:48 Elric Milon, <notifications@github.com> wrote:

[2016-03-19 11:11] dukst opened #2045 "Won't start application"
#### Please, fill all relevant items: ####

- [+ ] I have read CONTRIBUTING.md

- [ +] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: Tribler 6.5.1

##### Operating system and version: Windows Vista Home Premium 32 bit russian
##### Expected behavior: #####
##### Actual behavior: Tribler 6.5.1 won't start
##### Steps to

[2016-03-19 16:20] devos50 commented on #1991
@whirm I haven't seen this issue anymore. It probably came up when I was working on  `Tribler.Test.test_sqlitecachedbhandler.TestTorrentDBHandler `. I am pretty sure this can be closed.

[2016-03-19 21:32] devos50 commented on #1874
@whirm you did this one :+1:

[2016-03-20 17:19] devos50 opened #2048 "List items cannot be selected very well on OS X using wx3"
In the wx3 GUI on OS X, list items are not always selectable. I suspect that the label is eating the click event instead of the list row.

[2016-03-20 19:20] devos50 commented on #1769
@Cathryne thank you for the report. I tried to reproduce the issue and in my case, the button `Browse ` also start in Documents. It appears to be a bug in wxPython 2.8 since when I'm running the version built with wxPython 3.0 (Tribler 6.6), the file dialog starts correctly in my specified download directory. We will release a first alpha of Tribler 6.6 soon.

[2016-03-20 19:22] devos50 commented on #1706
@whirm I guess this one is finished?

[2016-03-20 23:38] Dmole commented on #1706
Seems to be.

[2016-03-21 10:01] lfdversluis commented on #2045
@dukst Thanks for the report. We will take a look at it.
@whirm I think you fixed this issue, or attempted to at least. Was this already included in 6.5.1 ?

[2016-03-21 10:24] devos50 commented on #267
This can be accomplished by the work of #1961 and #2029. When these are done, we are able to create a very basic command-line interface.

[2016-03-21 16:35] brussee commented on #1782
- [x] adb connection
- [x] One Android phone
- [x] Buildozzer -> new P4A toolchain
- [x] Compile: wip_shadow_internet_android, https://github.com/Tribler/tribler/tree/wip_shadow_internet_android
- [x] running Kivy code
- [x] takes screenshot

[2016-03-21 18:48] nosuch17 opened #2049 "Tribler breaks with: OSError: Unable to obtain adapter information."
- [x ] I have read CONTRIBUTING.md

- [x ] I have tried with the latest pre-release version and I still can reproduce the issue.

Tribler version/branch+revision: 6.5.1

Operating system and version: windows 8.1 x64

Expected behavior: Download a file via magnet link or torrent file and clean exit.

Actual behavior: After adding a magnet link or torrent file all that happens is: "Building circuits

[2016-03-21 21:44] synctext commented on #1782
+1  good progress

[2016-03-22 14:24] lfdversluis commented on #2049
Thanks for the report, we will take a look at it. :+1:

[2016-03-23 12:17] EL01 commented on #2042
Got the same error on exit 2 times in 6.5.0. will upgrade to 6.5.1 (win10/ASUSA75DE/8GB)

ERROR   1458728057.84 tunnel_community:724
Direction must be either ORIGINATOR or EXIT_NODE
ERROR   1458728057.84
log:443

Unhandled Error
Traceback (most recent call last):

File "threading.pyo", line 763, in run
File "Tribler\Core\Utilities\twisted_thread.pyo", line 55, in _reactor_runner
File "twisted\inte

[2016-03-23 12:29] lfdversluis opened #2050 "Key error in list_body"
When pressing the down key when not having selected anything you get the following stacktrace:

Traceback (most recent call last):
  File "/home/laurens/Documents/thesis/tribler/Tribler/Main/vwxGUI/list_body.py", line 1399, in <lambda>
    self.Bind(wx.EVT_MENU, lambda event: self.SelectNextItem(True), id=adownId)
  File "/home/laurens/Documents/thesis/tribler/Tribler/Main/vwxGUI/__init__.py", lin

[2016-03-24 20:25] merlinnusr opened #2053 "Why do you have checksum sha512 or better gpg .sig for downloads?"
Check the situations with transmission
[TRANSMISSION ISSUE](https://www.transmissionbt.com/ )
this guy have a malware in their software .
This situation it's possible in **Tribler **.

[2016-03-24 21:37] NielsZeilemaker commented on #2048
Have a look at https://github.com/Tribler/tribler/blob/devel/Tribler/Main/vwxGUI/list_body.py#L208 that's our recursive mouse event binder. Maybe for wx3 you need to change/update it.

[2016-03-24 21:42] NielsZeilemaker commented on #2034
It in the DBStub, so its not overwriting anything.

[2016-03-24 21:42] #2034 closed

[2016-03-26 10:35] devos50 commented on #1560
I'm unable to reproduce this both on OS X and Ubuntu but I made three changes that contribute to a solution of this problem:
- There's now a minimum window width for Tribler
- Replaced the show grid button with an image
- Decreased the width of the dropdown menus

[2016-03-26 10:48] devos50 commented on #1448
The issue above should cannot happen on the `devel` branch currently. With the code in `next`, we are creating a task regarding `torrentfeed` (https://github.com/Tribler/tribler/blob/next/Tribler/Main/tribler_main.py#L448) but this code has been removed. So I would suggest to close this issue and open another issue with another stack trace if this happen again.

[2016-03-26 10:56] devos50 commented on #1889
This issue should be fixed when the new GUI goes live since then vlc will not be part of the Tribler core anymore. So I'm not sure whether it is worth spending time to investigate this one.

[2016-03-26 10:58] devos50 commented on #1801
I've written some tests to test the upgrade process in #2046.

[2016-03-27 07:26] Cathryne commented on #1769
Cool, thanks for investigating :-) Looking forward to 6.6!

[2016-03-27 10:26] Koris opened #2056 "Windows 10 installation: error running after installation"
After installing Tribler, I get an error 'Ordinal not found' when I effectively want to start it.

- [ x ] I have read CONTRIBUTING.md

- [ x ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
6.5.1

##### Operating system and version: #####
Windows 10

##### Expected behavior: #####
Up running

##### Actual behavio

[2016-03-28 11:42] lfdversluis commented on #2032
I have refactored these now in a PR: #2057 I suggest that when someone encounters such a scenario, (s)he creates an issue which can then be targeted by another PR to keep the overview, rather than one big issue.

[2016-03-28 13:47] ardhipoetra commented on #109
Libtorrent has `get_peer_info` for every valid torrent handle. What's the different between this function and the one in pymdht?

[2016-03-29 07:05] synctext commented on #109
@ardhipoetra Interesting API handle: http://www.rasterbar.com/products/libtorrent/manual.html#torrent-handle

Looks somewhat similar! pymDHT only returns non-validated IP addresses, Libtorrent tries a handshake with them.
Please try if you can download a .torrent file and access the peer info with this Libtorrent API. It initiates uTP handshakes then, so it really measures the swarm size. These ca

[2016-03-29 10:45] ardhipoetra commented on #109
@synctext yes, we can get list of peers using that function. And it's available on python binding.

Test code can be found in [This gist](https://gist.github.com/ardhipoetra/457b35882d16289b4c50)

Tested with [this](http://linuxtracker.org/index.php?page=torrent-details&id=5aec5ee9f2d044316fe1de29d221452103ceb958&hit=1) and it was okay.

[2016-03-29 12:11] lfdversluis commented on #2035
Should be fixed by #2038

[2016-03-29 12:12] lfdversluis commented on #2020
Should be fixed by #2025

[2016-03-29 12:12] lfdversluis commented on #1823
An attempt to remove some is made in #2055

[2016-03-29 15:38] #1991 closed

[2016-03-29 15:39] #1874 closed

[2016-03-29 15:41] #1706 closed

[2016-03-29 15:45] whirm commented on #2045
@devos50: The unicode error comes from py2exe's stdout/stderr highjack AFAIR. There should be an issue around with a similar stacktrace. (Running short on time and on an ubercrappy internet connection, so I'll leave the search to you)

[2016-03-29 15:52] whirm commented on #2042
@EL01 It's not the same error and It should be fixed in 6.5.1.

Please create a new issue if it still happens after upgrading.

Thanks!

[2016-03-29 16:26] whirm commented on #2053
I don't understand your statement. Do you mean we could get hacked and malware could be embedded in our packages? How would moving from SHA256 to SHA512 for the signed hashes would help with that?

[2016-03-29 16:30] whirm commented on #1560
Can anybody test this on windows to make sure it's fixed there too?

[2016-03-29 16:32] whirm commented on #1448
@devos50 can you start/stop Tribler quickly (as in less than a minute after starting) and see if you still get errors? If you do, post the new stacktrace here, otherwise we can close this issue.

[2016-03-29 16:35] merlinnusr commented on #2053
You can distribuit a public key and sig a tribler download in a case of hacking the users can verify the checksums of .sig package Or you can publish a Sha*.txt.sig with checksums and this will be authentified with GPG key. is irresponsible only have packages without verification

[2016-03-29 16:35] whirm commented on #1889
I agree.

Let's close it, nobody has complained about this and you really have to try to trigger it.

[2016-03-29 16:35] #1889 closed

[2016-03-29 16:39] whirm commented on #2056
Thanks for the report!

[2016-03-29 16:39] merlinnusr commented on #2053
If you could have a checksum of the dmg binary, it would have prevented the spread of malware

[2016-03-29 16:41] Nubro01 commented on #1710
This is still NOT FIXED within 6.5.1, your changes where probably overwritten.

[2016-03-29 17:09] whirm commented on #109
should we move this to an early milestone?

[2016-03-29 17:41] whirm commented on #2053
We've been had signed checksum files for a few releases already.

https://github.com/Tribler/tribler/releases/download/v6.5.1/SHA256.txt.asc
https://github.com/Tribler/tribler/releases/download/v6.5.1/SHA1.txt.

[2016-03-29 17:41] #2053 closed

[2016-03-29 17:42] whirm commented on #1710
I'm on vacation, @devos50 or @lfdversluis could you see if this is not fixed on `devel` either?

[2016-03-29 18:15] merlinnusr commented on #2053
Im glad to hear that ,but why is not public in main page.

[2016-03-30 10:51] synctext opened #2060 "Experiment: one Android phone can reach an audience of millions at no cost"
_Experiment+storyline for scientific article_

Objective: Every Android phone in the world has the potential to become a TV studio, without any infrastructure requirements

Goal: a single hash becomes a real-time updating channel with guaranteed availability
Experiment: A single Android phone is the source of various videos, only identified by a channel hash.
When a new video comes out it is immed

[2016-03-30 11:04] ardhipoetra commented on #2060
Additional contraint :
Seeding storage should only take 1 GB, at most

[2016-03-31 08:47] adamjimenez opened #2061 "select all with ctrl-a"
feature request: press ctrl-a on downloads view to select all.

[2016-03-31 08:50] adamjimenez commented on #1668
In Win 10, it always goes to the correct folder for me. But it doesn't select the file if it's a single file being downloaded. This would be useful when you have a lot of files in your download directory.

[2016-03-31 18:39] lfdversluis commented on #2061
@adamjimenez This will most likely not be in the upcomming alpha of 6.6. @devos50 do you think this is a nice addition for the new gui? I wonder if more users would appreciate this feature :grey_question:

[2016-03-31 18:44] adamjimenez commented on #2061
It seems like a natural interaction for me and I end up shift-clicking to select which is a little more awkward.

[2016-03-31 18:54] lfdversluis commented on #2061
@adamjimenez It could very well be. I wonder if there are more people who find this instinctive and would like this feature implemented. Also, I cannot assign labels to issues, so it will probably tagged later on by another tribler team member.

[2016-03-31 20:05] devos50 commented on #2061
@lfdversluis @adamjimenez I think it's not that hard to implement in the upcoming alpha actually. I will to implement it tomorrow. Whether it is suitable for the new GUI depends on whether and how we are going to display downloads (should discuss this with @whirm and @synctext).

[2016-03-31 20:43] synctext commented on #2061
OK!  tomorrow late afternoon I have a small slot left to discuss open issues

[2016-04-01 08:37] lfdversluis commented on #2056
@Koris Could you try to replace this dll with the `IPHLPAPI.dll` in C:/Windows/System32`. Also check your network driver is up to date.

[2016-04-01 20:38] devos50 commented on #2061
@adamjimenez I implemented this feature in #2047 :)

[2016-04-01 20:41] devos50 commented on #1560
@whirm I've tested this on Windows. At first, the show grid button was not visible but I've changed the code and now it's showing. I haven't seen strange overlapping behaviour on all three platforms.

[2016-04-01 20:43] devos50 commented on #1448
@whirm I opened and closed tribler many times quickly. I haven't seen a single dirty reactor error yet. I will try again tomorrow.

[2016-04-01 20:53] adamjimenez commented on #2061
Thank you, that was quick. Great project.

[2016-04-02 10:55] devos50 commented on #1038
I've created some code to implement the watch folder functionality in #2065. Feedback on the PR is very welcome :)

[2016-04-02 15:58] lfdversluis commented on #1683
Starting to target this one as it's the last issue assigned to me for 6.6. What do I have to work with? @colin1497 I see now that it's been open a while, what do you remember; do you have any stacktrace or log related to this issue?

My first guess is that downloading or seeding 60 anon torrents means creating >= 60 hidden tunnels which is quite heavy on the cpu side. Having (blocking) python call

[2016-04-02 16:47] Transcend01 commented on #1038
Hoi Martijn,

Top dat je black hole hebt toegevoegd aan tribler. Heb je een idee wanneer de exe hiervan te downloaden is? Heb wel een beetje verstand van computers. Maar zelfs met filmpjes van youtube valt het me toch erg tegen om van een py een goed werkende exe te maken. Met dat soort dingen doe normaalgesproken niet , en ik heb er ook weinig succes mee tot nu toe.

Bijna iedereen die Sickbeard

[2016-04-03 12:53] lfdversluis commented on #1864
Just looked into this, I see this line in the mac builder script `eulagise --license $LIBRARYNAME/LICENSE.txt --target dist/$APPNAME.dmg` and this line in the windows builder script `type Tribler\LICENSE.txt Tribler\binary-LICENSE-postfix.txt > Tribler\binary-LICENSE.txt`

Looks like they target the same `LICENSE.txt`. The postfix differs though, because ffmpeg is added to it (from what I saw, did

[2016-04-03 14:26] devos50 commented on #1038
@Transcend01 Thank you for your response. I will answer in English so other (international) users can understand me :)

I'm not sure when we will release a first preview version of Tribler 6.6 but probably in several weeks. It depends on the outstanding issues for the 6.6 release. I'm also working on a totally new GUI written in Qt so I'm rather busy. It also depends on other developers since some

[2016-04-03 18:33] Koris commented on #2056
I have copied the dll and it works now! Thanks!

[2016-04-03 19:27] lfdversluis commented on #2056
@Koris Great! Feel free to close the issue :+1:

[2016-04-04 09:22] lfdversluis commented on #1448
On my ubuntu I can open it an close it within a few seconds without any crash happening.

[2016-04-04 09:40] lfdversluis opened #2066 "Stacktrace when adding magnet link"
Apparently my magnet link I am testing with went down (within 1 minute of using it, working..) produced a frozen (grey) screen with the following trace:

[code]

Tribler kept working, but the non-responsive GUI is a bit of a shame.

[2016-04-04 09:43] lfdversluis opened #2067 "Stacktrace when having a duplicate download in the terminal"
Ran tribler from current `devel` with ./tribler.sh. Added a magnet link twice to test and got  an error as expected. I did however get a stacktrace in my terminal even tough Tribler itself did NOT crash.

[code]

[2016-04-04 10:01] lfdversluis opened #2068 "circuits_needed dict should be cleaned up when there aren't any more downloads"
Added a magnet link and selected to download anon, removed the download but my terminal kept spamming lines `ERROR   1459763994.46 tunnel_community:534   creating circuit 844298149 of 3 hops. First hop: <ip>`. Looks like it keeps trying to build circuits?

[2016-04-04 11:18] lfdversluis commented on #1669
@colin1497 We tried reproducing this bug but we are unable to do so. Does this error happen with specific torrents? Any non utf-8 (hebrew, chinese, kanji) characters in it? Or unicode perhaps?

it would be awesome if you found a consistent reproducible way with a given torrent.

[2016-04-04 11:21] egbertbouman commented on #2068
No need to investigate this: it doesn't :P

The ```TunnelCommunity``` keeps a dict (called ```circuits_needed```), which specifies how many circuits we need for each #hops. Values from this dict are never removed. Perhaps it's a good idea to empty this dict when the are no more downloads.

[2016-04-04 11:24] lfdversluis commented on #2068
@egbertbouman Ah that explains, thanks! Yeah that would be a good idea as we are trying to create circuits for non-existant downloads now :confused:

[2016-04-04 12:31] lfdversluis commented on #1702
Reproduced the issue, see https://gyazo.com/75a48cf8c7ee14e66bb436aba4c83560 in the panel it says downloading from dht, in the status it is fine. Investigating now.

[2016-04-04 14:55] #1970 closed

[2016-04-04 14:57] devos50 commented on #1891
This one is fixed #1990.

[2016-04-04 14:57] #1891 closed

[2016-04-04 14:59] devos50 commented on #1802
@whirm This is probably my task. When the new GUI is (nearly) finished I will write some tests with an API that provides some dummy data.

[2016-04-04 16:19] pimveldhuisen commented on #2049
I've taken a look at this and it seems the problem is in the netifaces library we use.
(https://pypi.python.org/pypi/netifaces)
The "Unable to obtain adapter information." error is generated by this library and seems to be a rather catch-all type error that does not provide a lot of info.
We recently added a catch for this exception (https://github.com/Tribler/dispersy/pull/449), but catching it o

[2016-04-04 21:44] colin1497 commented on #1669
I can't give you a reproducible scenario.  Here's what I know:

1) It doesn't happen the first time you download a torrent.  It happens only if you delete a torrent and then add it again.  Most often I have it when I improperly select privacy settings and want to change them.
2) Once it happens, I can't get tribler to correct the problem.  the @devos50 description sounds accurate, the name is gett

[2016-04-04 21:57] colin1497 commented on #1683
I'm afraid it's been a while.  Looking back at #1605 I originally had 91 torrents, so it was well over 60.  I haven't seen this is a long time.  Besides build changes, I've also tripled my data rates with my ISP since I originally created the report.  If your speculation is right, then you would hit it at some point.  Maybe the issue is just that it shouldn't start all the tunnels in parallel?  Ma

[2016-04-06 06:52] brandc opened #2073 "If you're doing a new graphical user interface also, might this time you use a tool kit like qt?"
If you're actually doing a new graphical interface and I'm not misunderstanding. I think wxgtk is holding this project with the minute and complex rendering errors that you get with it.

[2016-04-06 08:44] devos50 commented on #2073
@brandc thank you for your suggestion. Actually, the new GUI is created in qt using PyQT and the qt designer. You can check it out here: https://github.com/devos50/TriblerGUI. Feedback is very welcome :+1:

[2016-04-07 11:59] whirm commented on #2053
@merlinnusr good point, I'll update the issue title for that and get it fixed soon.

[2016-04-07 12:07] whirm commented on #1668
As a new GUI is being written, I'll assign this to the new gui milestone as a reminder to implement this properly there.

Thanks for all the feedback!

[2016-04-07 13:02] whirm commented on #1560
Great, thanks!

[2016-04-07 13:03] whirm commented on #1560
@devos50 these changes are on #2047 I assume?

[2016-04-07 13:06] #1664 closed

[2016-04-07 13:06] whirm commented on #1864
Nice!

[2016-04-07 13:06] #1864 closed

[2016-04-07 13:16] devos50 commented on #1560
@whirm yeah, I will add it to the fixed issue list :+1:

[2016-04-07 14:05] whirm commented on #1038
@devos50 if your "wx fixes" PR fixes enough stuff so that Tribler is usable, we could be releasing a first 6.6 alpha around the end of next week or the one after as the first proof of concept of the Multichain community seems to be ready.

@Transcend01 ^

[2016-04-07 14:07] whirm commented on #2056
I don't think this can be considered fixed.

@lfdversluis is that DLL shipped in windows by default?

[2016-04-07 14:19] lfdversluis commented on #2056
@whirm yes it is default in the windows32 folder

[2016-04-07 15:45] whirm commented on #1448
Great to read that!

[2016-04-07 15:45] #1448 closed

[2016-04-07 15:51] whirm commented on #2067
Don't forget to quote the stracktraces, they read way better like that

[2016-04-07 15:52] whirm commented on #2067
Did you get the dialog saying that the download was already there?

[2016-04-07 16:00] lfdversluis commented on #2067
@whirm yes

[2016-04-07 16:02] #1984 closed

[2016-04-07 16:16] whirm commented on #1683
Even if some requests time out it should still keep building circuits until it hits the circuit target.

[2016-04-07 16:24] lfdversluis commented on #1683
@whirm sure, but if due to a large amount of circuits being built not a single one can actually be constructed, rescheduling them all concurrently will mean that all the newly scheduled circuits will timeout as well. Assuming that this is the issue of course.

[2016-04-07 16:31] #2073 closed

[2016-04-07 16:36] lfdversluis commented on #918
Triggering it 100% currently with `<DelayedCall 0x7efdd9497290 [288.222896099s] called=0 cancelled=0 LoopingCall<300>(DiscoveryCommunity.periodically_insert_trackers, *(), **{})()>` as the delayed call in the reactor. Dispersy is not shutting down properly when running tests.

[2016-04-07 18:03] whirm commented on #2056
so why are we shipping it?

[2016-04-07 18:17] lfdversluis commented on #2056
@whirm Good question. First time I've seen this error being reported and had to search a bit to find it was default in win32

[2016-04-08 08:58] whirm commented on #918
@lfdversluis please elaborate on how to trigger it 100% of the time

[2016-04-08 09:23] whirm commented on #1683
@lfdversluis let's stop guessing and try to reproduce it instead. Once you've got a scenario where this happens.

If you don't have a shitty Internet connection, use `wondershaper` to fake it :)

If you want to limit the amount of cores Tribler can use (this shouldn't make a huge difference) you can use `taskset`.

[2016-04-08 11:31] whirm commented on #2049
@nosuch17 Are you running anything network related that you think is worth mentioning? (firewall, antivirus, VPN...)

[2016-04-08 11:45] whirm opened #2074 "Tribler/readme.txt should be removed"
This readme is 6 years old and I don't think it contains any relevant information anymore.

https://github.com/Tribler/tribler/blob/devel/Tribler/readme.txt

[2016-04-10 10:33] lfdversluis commented on #918
I have a test suite that extends `TestAsServer`. It has the following config:

[code]

and this simple test is enough to  get the trace:

[code]

[2016-04-10 10:40] lfdversluis opened #2075 "Idea: clean the reactor after every tests to prevent cascading error"
@devos50 and I were discussing the current situation with the tests and thought of the following. Perform the check if the reactor is dirty, if it is print all the stuff like we do now. But in addition **clean** the the reactor so that the next tests won't show the dirty reactor issue if it doesn't leave a dirty reactor behind.
This keeps the overview of which test is the culprit (well it is the f

[2016-04-10 12:25] nosuch17 commented on #2049
No Firewall, Panda Free Antivirus, OpenVPN GUI installed a TAP Windows Adapter V9

[2016-04-10 12:31] lfdversluis commented on #2049
That TAP Windows Adapter sounds interesting. Could you try disabling it and see if you still experience the error? It could be that the library has trouble finding such an adapter.

[2016-04-10 13:06] lfdversluis commented on #918
It is also good to note that the builders do not experience this dirty reactor, but I am on my ubuntu 15.10

[2016-04-10 13:46] devos50 commented on #2074
@whirm I totally agree! Want me to open a PR for that?

[2016-04-10 13:50] devos50 opened #2076 "Purpose of channelcast_supporter.py and search_supporter.py"
Can anyone explain the purpose of `channelcast_supporter.py` and `search_supporter.py `? It seems to enter a `SearchCommunity`/`ChannelcastCommunity`. Are we actually using these scripts?

[2016-04-10 20:36] claudiusraphael opened #2078 "REQUESTS: Description | Example --- Tribler- -testing on various platforms / Guidelines"
As it is now the right place to ask (compare: [original post ](https://github.com/Tribler/tribler/pull/2064#issuecomment-204541637)in Issue#2064 --- WIP : First Credit mining prototype), would you please point out the most necessary steps to generate a generic and besides explaining the differences how to generate an explicit build (like 'credit-mining'-WIP) on Ubuntu- or Windows- -based systems?

[2016-04-10 21:33] devos50 commented on #2002
@Dmole it turns out that the web seeds URLs created with `mktorrent` were never imported in libtorrent since they were stripped out by our torrent validation method. I changed to logic slightly to support web seeds created with `mktorrent`. The upcoming 6.6 alpha should have PR #2079 integrated which contains the fix.

[2016-04-10 21:37] Dmole commented on #2002
Thanks, I'll test when it's avalabe.

[2016-04-11 03:14] brandc commented on #2073
Thanks for the fast response, I look forward to the new qt interface

[2016-04-11 08:09] lfdversluis commented on #845
@whirm I think this can be closed, but `MainFrame` and `Listbody` were fixed right?

[2016-04-11 09:19] lfdversluis commented on #1590
@whirm I think this can be assigned to 6.6 or 6.7. Maybe we can include it in the alpha, or just go with the new gui?

[2016-04-11 09:46] whirm commented on #2075
Sounds good. We should also check for TCP/UDP listeners.

[2016-04-11 10:00] whirm commented on #2049
@lfdversluis do you want to take care of this one?

[2016-04-11 10:11] lfdversluis commented on #2075
@whirm Those are already present right? I get "test left listening port on <port> behind". Very useful.

[2016-04-11 10:19] lfdversluis commented on #2049
@whirm @pimveldhuisen is looking into it. He also figured out it was netifaces.

[2016-04-11 10:40] whirm commented on #918
Great! Do you want to take care of this one?

I first would make sure that we are waiting for Dispersy to stop completely before going further ahead on the shut down process (maybe we are doing a non-blocking call on a different thread or something is returning a deferred that we are ignoring?)

You could add a check right after calling the stop method on dispersy seeing if there's any of these "p

[2016-04-11 10:44] #875 closed

[2016-04-11 10:44] #1540 closed

[2016-04-11 10:44] #1560 closed

[2016-04-11 10:44] #1585 closed

[2016-04-11 10:44] #1704 closed

[2016-04-11 10:44] #1770 closed

[2016-04-11 10:44] #1941 closed

[2016-04-11 10:44] #1947 closed

[2016-04-11 10:44] #2048 closed

[2016-04-11 10:44] #2050 closed

[2016-04-11 10:44] #2061 closed

[2016-04-11 10:49] whirm commented on #2076
# used to 'support' .torrent files dissemination of different channels.

The first one is a headless booster for channel communities.

The second one answers incoming search with results from the megacache.

[2016-04-11 10:49] #2076 closed

[2016-04-11 10:50] devos50 commented on #2074
@whirm can you assign @lfdversluis to this one (PR is open already)?

[2016-04-11 10:53] devos50 commented on #2076
Thanks for the explanation. Maybe it's better to move these scripts to a separate directory (i.e. a `tools` or `scripts` directory)?

[2016-04-11 10:59] lfdversluis commented on #918
@whirm I can give it a try. Never looked into dispersy though, so may take some time.

[2016-04-11 11:23] devos50 opened #2081 "Exception when running tests on Windows"
When running tests on the win64 builder, sometimes the following error is raised:

[code]

During the past months, I've seen the same error once or twice, also on other platforms. It seems like the threads returned by `threading.enumerate()` is not always the same as the threads given by `sys._current_frames().items()`.

@whirm Is it an idea to add a check to see whether the `thread_id` key exists

[2016-04-11 11:27] whirm commented on #2078
For instructions on how to run Tribler, have a look at the README file as it contains links to docs for the platforms we support.

As for testing Tribler, you don't need to build a package. Just checkout the branch you are interested in and run the tests there.

We are currently running tests on Linux (Debian testing), Windows and OSX for each PR via our [Jenkins instance](https://jenkins.tribler.

[2016-04-11 11:34] whirm commented on #845
Do we still have any pydeadobject error at all left?

[2016-04-11 11:34] whirm commented on #845
@devos50 ^

[2016-04-11 11:35] whirm commented on #1590
Let's do it for the new gui, it would be a waste of effort to do it on WX and then throw it away.

[2016-04-11 11:36] devos50 commented on #845
Haven't seen any PyDeadObjectErrors recently. iirc we had indeed fixed them a while ago.

[2016-04-11 11:36] whirm commented on #2075
oh, true, @devos50 implemented that already :D

[2016-04-11 11:43] lfdversluis commented on #1590
@whirm I fully agree.

[2016-04-11 11:44] lfdversluis commented on #845
@devos50 Yes I have fixed the Dialog race condition segfault thingy months ago and the listbody and artworkpanel a few weeks ago.

[2016-04-11 11:50] whirm commented on #2074
Oops

[2016-04-11 11:51] whirm commented on #2076
I would convert those to twisted plugins, like the tunnel helper, the tracker, etc.

[2016-04-11 11:52] whirm commented on #918
@lfdversluis this is probably a mistake on the Tribler side (not waiting for dispersy to be done).

[2016-04-11 11:59] whirm commented on #2081
I guess a new thread is being spawned after the names are collected?

Maybe we could make it a function that fetches the name from the output of enumerate() instead of generating a dict, it will be slower but it's not like we care about performance there :)

[2016-04-11 12:00] devos50 commented on #2081
Yeah that might explain this behavior. Shall I add this to my unit test improvement PR?

[2016-04-11 12:01] whirm opened #2082 "The PR tester should run the tests on the lowest version of Ubuntu we support too"
We could create a container for it.

This way I could stop asking if people has tested changes against an old libtorrent, etc. :)

[2016-04-11 12:02] whirm commented on #845
I though so :) :tada:

[2016-04-11 12:02] #845 closed

[2016-04-11 12:03] whirm commented on #2081
Go ahead

[2016-04-11 12:28] pimveldhuisen commented on #2049
It seems that the VPN is the source of the problem here. I can somewhat replicate the problem on my Windows machine with it a VPN, in the sense that anonymous torrents do get stuck on 'building circuits' , although I do not get a crash report.

I think fixing it will be non-trivial however, I reckon routing traffic through a VPN is a scenario that is not really considered in the tunnel community c

[2016-04-11 12:40] whirm commented on #2049
@pimveldhuisen are you getting the netifaces error?

[2016-04-11 13:00] synctext commented on #1590
with a Youtube-ish GUI this all changes. true.

[2016-04-11 13:03] synctext commented on #2076
Never used anymore.. Could be archived

[2016-04-11 13:08] devos50 commented on #2081
@whirm see https://github.com/Tribler/tribler/pull/2046/commits/6bbada0459a3c6817b00f9482ef3aa9c6cf5fc28 :)

[2016-04-11 13:09] whirm commented on #2076
If the headless Tribler allows you to disable enough stuff, maybe these two scripts would not make much sense anymore (they are way lighter than running a full blown Tribler ATM)

[2016-04-11 13:14] whirm commented on #2081
Looks great!

[2016-04-11 13:14] #2074 closed

[2016-04-11 14:46] devos50 commented on #2082
@whirm what version of libtorrent do we have installed on bbq?

[2016-04-11 14:49] whirm commented on #2082
1.0.7-1

[2016-04-11 14:50] devos50 commented on #2082
What about installing an older version of libtorrent on BBQ?

[2016-04-11 15:00] whirm commented on #2082
that would mean downgrading bbq's Debian or having to build it by hand

[2016-04-11 15:56] #2002 closed

[2016-04-11 15:58] whirm commented on #2045
@lfdversluis Just noticed I replied to @devos50 instead of you for some reason

[2016-04-11 16:18] ardhipoetra commented on #109
An update:

in version 1.1.0.0 (the most recent one), there are new function called 'dht_get_peers` providing a swarm's infohash. This can be done without joining the actual swarm. We have to monitor `alert` to get the peer list.

The bad news is, python binding implementation is not perfect, if I may say. The discussion in arvidn/libtorrent#602 still ongoing till now.

[2016-04-11 16:26] whirm commented on #109
nice, let us know when it gets into a usable state!

[2016-04-11 18:29] claudiusraphael commented on #2078
Thanks @whirm ; I noticed, and i'll dig into it as soon as possible.
---
claudiusraphael
; 20160411202900+002

[2016-04-11 18:46] nosuch17 commented on #2049
OK, little update.
I disabled the TAP adapter - no change
I uninstalled OpenVPN so that the TAP is also gone - no change
i disabled every network adapter but the actual wifi - no change

[2016-04-12 09:11] devos50 opened #2083 "Session is not closing when running the tunnel helpers"
When running the tunnel helpers (`python Tribler/community/tunnel/main.py`), the session is not closed when I quit the application by typing `q`. It keeps spamming and ultimately crashes:

[code]

[2016-04-12 09:41] synctext commented on #2045
@dukst this week we are aiming to fix this bug...

[2016-04-12 10:00] lfdversluis commented on #2045
Taking care of this one now. @whirm assign it to me pelase.

[2016-04-12 10:03] whirm commented on #2049
@nosuch17 Do you have any extra/manual network config? I couldn't break Tribler by installing OpenVPN, so I'll install Panda too

[2016-04-12 11:11] lfdversluis commented on #2045
@dukst I have taken a look at the error and discussed it with @whirm. It looks like our new builders have an upgraded version of py2exe, which the program that was throwing the error. Could you test [this build on your machine](https://jenkins.tribler.org/job/Build-Tribler_Win64/lastSuccessfulBuild/artifact/tribler/dist/Tribler_6.5.0-rc5-569-ga2f1238_x64.exe) and **check only if it starts** ? This

[2016-04-12 11:14] lfdversluis opened #2084 "Show grid button doesn't work"
When testing a new build I and @devos50 observed that @devos50's new show grid button is not doing anything on windows (64 bit).

[2016-04-12 11:15] lfdversluis commented on #2084
@whirm Can you assign @devos50 to this?

[2016-04-12 12:29] whirm commented on #2049
@nosuch17 Panda completely kills Tribler for me: It will start, but the second I click a download, Tribler will stop responding. If I uninstall Panda,  it goes back to working fine without even having to reboot.

I'll try to see if the same happens with other antiviruses.

[2016-04-12 12:46] whirm commented on #2049
@nosuch17 nod 32 works perfectly fine

[2016-04-12 13:21] whirm commented on #2049
@nosuch17 avast also works fine.

Can you uninstall Panda and see if Tribler works for you?

[2016-04-12 13:25] whirm commented on #2045
@dukst: @lfdversluis forgot to mentiont that before starting this development version, you should back up `%APPDATA%\.Tribler` just in case.

[2016-04-12 13:56] lfdversluis commented on #2045
@whirm good point. Thanks for noticing!

[2016-04-12 14:51] whirm commented on #2049
@pimveldhuisen You go on with the netifaces error, I'll just wait for the feedback re. Panda but won't be doing any more work on the netifaces stuff.

[2016-04-12 15:38] #2083 closed

[2016-04-12 19:28] nosuch17 commented on #2049
I uninstalled Panda, it didn't help.
I uninstalled Wireshark and winpcap and that didn't help also.
I have resetted winsock with no effect.
But now when i run tribler my whole windows is very sluggish, i am about to give up ...

[2016-04-12 20:41] devos50 commented on #1038
@whirm this one can be closed :)

[2016-04-12 21:04] devos50 commented on #2084
I just tested on Windows 32- and 64-bit, both from the installer and from source (latest commit on `devel` branch). In all tests, the grid icon seems to work correctly i.e. it shows the grid cells when clicked and the button itself turns to orange. @lfdversluis did you test it on a specific proxmox machine?

[2016-04-13 08:11] lfdversluis commented on #2084
@devos50 Yes, on proxmox 144

[2016-04-13 09:37] whirm commented on #2049
I've tested it on both windows 10 and 8.1 and I'm having no issues whatsoever.

Do you have any other windows 8.1 available to test?

Are you running a non-english version of windows?

[2016-04-13 09:37] whirm commented on #2049
@pimveldhuisen all yours.

[2016-04-13 09:43] #1038 closed

[2016-04-13 10:06] devos50 commented on #2084
Ah I don't have acces to that machine. @whirm can you give me access to it?

[2016-04-13 10:20] whirm commented on #2084
done

[2016-04-13 10:52] whirm commented on #1776
@themusicgod1 any feedback on this?

[2016-04-13 11:27] whirm commented on #1776
Closing it as the fix is on both `next` and `devel` @themusicgod1 feel free to reopen it if you still have issues.

[2016-04-13 11:27] #1776 closed

[2016-04-13 11:36] synctext opened #2087 "IETF RFC writeup of Trustchain"
Goal: facilitate broader uptake of Multi-Chain

Approach: have a detailed, complete and accurate protocol description of Multi-Chain in IETF RFC format

Tribler team at Delft created before: https://datatracker.ietf.org/doc/rfc7574/
Example RFCs which mention currency, credit or gossip :
- https://datatracker.ietf.org/doc/draft-ietf-trans-gossip/
- [4 reputation RFCs](https://datatracker.ietf.org/

[2016-04-13 11:43] #2032 closed

[2016-04-13 15:24] zor1984qq commented on #2045
Thank you. I have not being able to test it while I just scratching the surface of newly installed Deepin Linux but from the point that I digging in with previous Sabayon installation it can be fixed up by just pulling git clone and syncing tribler software with recent git repositaries and then just starting it from "sh" any vtt terminal. For the OS level I have no Sabayon installation for now and

[2016-04-13 21:22] nosuch17 commented on #2049
i do not think i have any other 8.1 around (or friends)
Well, non-english version, i am located in germany and the windows gui is in english but keyboard is german, so ...

[2016-04-14 10:18] dukst commented on #2045
@synctext thank you! Good luck! :)

[2016-04-14 10:23] dukst commented on #2045
@lfdversluis Thanks, I'll do that today and write here.

[2016-04-14 11:15] lfdversluis opened #2089 "Downloads are not cleaned properly"
While investigating why the download status is broken, I found that while having `0` downloads, I get the following lines:

[code]

Where the `self.torrent.magnetstatus: None` is in the `UpdateStatus` function in the `list_details.py` file. There should not be a function call as there are no downloads present.

[2016-04-14 11:54] whirm commented on #2045
@dukst the file got rotated out of the build history, get that one instead: https://jenkins.tribler.org/job/Build-Tribler_Win64/130/artifact/tribler/dist/Tribler_6.5.0-rc5-586-g38c8850_x64.exe

[2016-04-14 11:54] whirm commented on #2089
Good find

[2016-04-14 12:47] whirm opened #2090 "Update checker feature idea: background download of the new Tribler version"
The new version could be prefetched and it's signature checked.

This way we could have our users update to the latest versions without any effort on their side.

[2016-04-14 12:48] whirm opened #2091 "Update checker feature idea: pre-release update checks"
Any user that runs a pre-release version of Tribler should upgrade to the next one as soon as possible.

It would be nice that Tribler could check for pre-release versions of Tribler if the running instance is a pre-release too.

[2016-04-14 12:55] devos50 opened #2092 "Pylint checker configuration discussion"
The new pylint checker is working now but it needs some tweaking regarding the configuration it accepts. Let's use this issue to discuss which options should be enabled and disabled.

_My opinion:_
I would like to disable the following checks:
- `C0103: (invalid-name)`: sometimes, we override methods from frameworks that do not confirm to this (i.e. the `render_GET` method is an invalid name accor

[2016-04-14 13:25] whirm commented on #2092
**To everyone involved:** have a look at the `pylintrc` config file before writing anything to get an idea of the options we have.

* C0103: have in mind that we can set our own regexps for that and that individual violations can be whitelisted.

* W0613: We can still ignore the argument with `_`

* C0111: can be tuned with:
[code]

[2016-04-14 13:54] devos50 commented on #918
I just got the error again on a test, when running `test_tunnelhelper.py`. After running it manually, I got the following error:

[code]

[2016-04-14 14:04] whirm commented on #918
That's may be the bootstrap stuff not registering these to be aborted when shutting down dispersy?

[2016-04-14 14:05] lfdversluis commented on #2092
I like the docstring enforcement as I am now having a blast of the past in the negative sense. The current logic when adding magnet links is already amazing, having no documentation and functions like [these](https://github.com/Tribler/tribler/blob/devel/Tribler/Main/Utility/GuiDBTuples.py#L215) hurt my brain.

[2016-04-14 14:15] whirm commented on #2000
Sadly, there's still a leak, In a couple of days, memory consumption has grown by 1GB...

[2016-04-14 14:27] devos50 commented on #2000
Can you give me the memory dumps again?

[2016-04-14 14:28] devos50 commented on #2000
Also, does the consumption grow slower now?

[2016-04-14 14:39] whirm commented on #2000
I'll start one with memory dumping ASAP

re growth: Yeah, I'd say about ~4 times slower.

[2016-04-14 14:55] devos50 commented on #2000
That's some good news already so a part of it got fixed!

[2016-04-14 15:07] pimveldhuisen commented on #2049
@nosuch17 I've tried running Tribler with VPN and or Wireshark/winpcap, but I can't seem to reproduce your error.

Could you copy the output of running "ipconfig /all" in cmd ?

[2016-04-14 15:09] whirm commented on #2000
yeah, it should last a week across reboots :)

[2016-04-14 16:40] dukst commented on #2045
@whirm @lfdversluis This is Tribler for a 64-bit version? My Windows Vista is 32 bit. It does not start. Tribler.exe log:
Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 183, in __init__
  File "Tribler\Core\Session.pyo", line 419, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 152, in register
  File "Tribler\dispersy\dispersy.pyo", line

[2016-04-14 17:21] nosuch17 commented on #2049
![untitled-1](https://cloud.githubusercontent.com/assets/17990409/14537115/ebb6af80-0275-11e6-9e73-da1eb59982c9.png)

[2016-04-14 18:56] dukst commented on #2045
Closed by mistake, sorry. Open!

[2016-04-14 18:58] lfdversluis commented on #2045
@dukst Ah didn't notice your 32 bit version. Let me link you another build. Hang on :)

[2016-04-14 19:07] lfdversluis commented on #2045
@dukst A freshly cooked 32 bit version: https://jenkins.tribler.org/job/Build-Tribler_Win32/lastSuccessfulBuild/artifact/tribler/dist/Tribler_6.5.0-rc5-586-g38c8850_x86.exe

Please try it out and check if it opens. If it doesn't we need to dive further, else we know what's wrong.

[2016-04-14 19:10] lfdversluis commented on #2045
@dukst Don't forget to back up %APPDATA%\.Tribler just in case.

[2016-04-14 21:33] dukst commented on #2045
@lfdversluis @whirm Twice installed - both times not start.
Folder appdata/Roaming/.Tribler can be downloaded here: https://yadi.sk/d/VrT4QfevqzoYs

[2016-04-15 05:23] synctext commented on #2045
@dukst excellent feedback. thank you for helping to get this bug(s) out. We'll try to get you something that works soon.
Dispersy is acting out hmmmm.

[2016-04-15 07:52] whirm commented on #2045
@dukst I would delete that upload if I where you, it contains private stuff. (we never asked for you to upload it, just back it up in case the experimental build corrupts it somehow)

[2016-04-15 07:56] whirm commented on #2045
That's a DLL issue, it's probably missing a dependency.

Let's trace Tribler's startup so we can see which dll on the chain it's failing to load for you.

Could you download/unzip process monitor: https://technet.microsoft.com/en-us/sysinternals/bb896645

Then:

1: Start it, go to Filter > Filter... and add a "Process name is tribler.exe then include" filter.
2: Start Tribler
3: When it crashes, g

[2016-04-15 07:57] whirm commented on #2045
@lfdversluis I'll leave it to you from here (have a look at the uploaded trace to see what's missing.

[2016-04-15 08:35] lfdversluis commented on #2045
@whirm Thanks! Could you update the old builder to install a more recent py2exe? It seems to at least get the unicode bug out of the way.

@dukst I wanted to point out that this is indeed a different error. It looks like a DLL is missing that your version of Windows may be lacking. If you could provide us with the trace from the process monitor we would be grateful.

[2016-04-15 08:42] whirm commented on #2045
@lfdversluis which version are we sporting on the new builder?

[2016-04-15 08:45] lfdversluis commented on #2045
@whirm I've just checked and judging by the installer still in the Downloads folder and the `__init__.py` in the site-packages it is version `0.6.9`.

[2016-04-15 08:46] lfdversluis commented on #2045
https://sourceforge.net/projects/py2exe/files/py2exe/0.6.9/ Looks like it is the most recent one still. Hasn't been updated in years.

[2016-04-15 08:54] whirm opened #2093 "non-ascii issues with Tribler 6.5.1"
Issue reported by user Fire in the forums:

http://forum.tribler.org/t/a-problem-about-east-asian-user-names/3420/2

[code]

[2016-04-15 09:06] lfdversluis commented on #2092
Can we also ignore certain issues like missing docstring in tests? Makes no sense to add a docstring for every def test_*

[2016-04-15 09:08] devos50 opened #2094 "Proposal: unit tests that are always running on a machine"
I would like to propose to continuously run unit tests on a machine. We have many race conditions/dirty reactor issues that are occurring in a very small fraction of the test runs. By running the unit tests many times and by automatically extracting and analysing Python stack traces, we can see which issues are occurring frequently.

We can either do this in Jenkins or by using a simple bash scrip

[2016-04-15 10:09] whirm opened #2095 "segfault when clicking on `Channels`"
This is on current `devel`:

[code]

[code]

[2016-04-15 10:11] devos50 commented on #2095
Does it always happen? Did you click `channels` immediately after startup?

[2016-04-15 10:20] whirm opened #2096 "Issue with current channel list that should be taken care of in the new GUI"
From user Maggy in http://forum.tribler.org/t/whats-happening-and-how-to-stop-it/3462

[code]

[2016-04-15 10:31] lfdversluis commented on #2096
I like the metaphor though :smirk: :

[2016-04-15 10:33] lfdversluis commented on #2020
@whirm Can you close this one?

[2016-04-15 10:45] whirm commented on #2045
Updated, this build should contain the installer with the new py2exe: https://jenkins.tribler.org/job/Build_Tribler_next/7/

[2016-04-15 10:50] whirm commented on #2092
There's many tests that aren't really descriptive about what they are supposed to be testing.

[2016-04-15 10:54] whirm commented on #2094
I pretty sure that after the GUI separation, many of those will be gone.

What do you say we delay the discussion until after this has been done?

Running the tests non-stop is easy, what's not so easy is fetching the stack traces from the xml reports, the logs..., seeing which ones are identical and merging them toghether, etc. Would be cool to have, but I think everyone has enough on his plate A

[2016-04-15 10:55] whirm commented on #2095
yes, always happen, and yes shortly after startup. Let me wait for a bit and see if it still happens.

[2016-04-15 10:56] lfdversluis commented on #2092
I agree, but isn't that a fault of the tests themselves? Unit tests should be as small and as descriptive as possible.

[2016-04-15 11:01] whirm commented on #2095
@devos50 I waited for a few minutes before clicking and it still fails.

[2016-04-15 11:01] whirm commented on #2095
Even with 5 discovered channels

[2016-04-15 11:02] devos50 commented on #2092
Sometimes small unit tests are not possible. It can be quite a challenge to setup all the required objects and to invoke the right methods at the right time, leading to large unit tests. So in this case, I would say we need indeed a docstring to explain what we are exactly testing.

[2016-04-15 11:02] devos50 commented on #2095
@whirm it happens on Debian right?

[2016-04-15 11:03] #2020 closed

[2016-04-15 11:03] devos50 commented on #2095
Also, is there enough space in the left panel for expansion of the menu?

[2016-04-15 11:06] lfdversluis commented on #2095
Just for information: on ubuntu 15.10 this issue is not present.

[2016-04-15 11:20] whirm opened #2097 "libnacl doesn't look for libsodium18"
Which breaks Tribler in recent Linux releases.

I've tested it with this version and it works fine. So I suggest hotpatching

```__SONAMES = (17, 13, 10, 5, 4)```

And updating `debian/control` to alternatively depend on all the versions on this tuple + 18.

[2016-04-15 11:46] dukst commented on #2045
@whirm @lfdversluis
[Logfile.zip](https://github.com/Tribler/tribler/files/220870/Logfile.zip)

[2016-04-15 11:50] whirm commented on #2092
Sometimes even small tests have misleading/ambiguous names or use magic numbers, compare values in tuples without any explanation, etc. Many of these could be improved by using a better function name or constants. Others really need a docstring.

[2016-04-15 11:52] whirm commented on #2095
@devos50 Up to date Debian SID.

I tried switching to full screen on a FHD display and it still crashes.

@lfdversluis could you run the dpkg command I pasted?

[2016-04-15 11:57] lfdversluis commented on #2095
[code]

[2016-04-15 12:00] lfdversluis commented on #2092
Yup, hence my preferably statement :D

[2016-04-15 12:19] whirm commented on #2095
So we are running the same version

[2016-04-15 12:40] lfdversluis commented on #2095
In the middle you have `3.0.2+dfsg-1.3+b1` and I got `3.0.2+dfsg-1.2` does that make a difference?

[2016-04-15 12:59] whirm commented on #2095
[code]

doesn't look like it could be related to this...

[2016-04-15 13:03] lfdversluis commented on #2045
@dukst Thanks! I opened the file but cannot find an error in there. Could you run procmon.exe, then start tribler, make it crash and then save the logfile? Thanks for your effort in hunting this bug!

[2016-04-15 13:24] devos50 opened #2098 "Tests for the notifier should be improved"
Currently, we are using `time.sleep` statements in `test_notifier.py` to wait for notifications to be fired. We should refactor these tests to not use `time.sleep` statements.

[2016-04-15 16:35] dukst commented on #2045
@lfdversluis I did just that. OK, will make a second attempt

[2016-04-15 17:17] dukst commented on #2045
@lfdversluis
[Logfile.zip](https://github.com/Tribler/tribler/files/221424/Logfile.zip)

[2016-04-15 17:25] dukst commented on #2045
@lfdversluis tribler and his behavior :) -

[Logfile1.zip](https://github.com/Tribler/tribler/files/221430/Logfile1.zip)

[2016-04-16 09:02] devos50 opened #2099 "Refactor the thread pool mechanism and give each module/component in Tribler its own"
Currently, we are using one thread pool in Tribler, created and managed in `LaunchManyCores.py`. This can give problems during shutdown since all components are using that thread pool.

For instance, when safe seeding is enabled on a download and when the download had finished, the download is readded to libtorrent, this time using a tunnelled session (see https://github.com/Tribler/tribler/blob/d

[2016-04-16 10:40] devos50 commented on #2000
@whirm I modified the `main.py` script to dump memory every half an hour and started it on the debian container so in a few days I have some useful data hopefully.

[2016-04-16 15:22] synctext commented on #2000
productive weekend!

[2016-04-17 09:42] lfdversluis commented on #2056
[py2exe has some criteria](http://www.py2exe.org/index.cgi/OverridingCriteraForIncludingDlls) as what it copies and what not. I have included now this dll and some others in the dll_exclude list and am running a test build on jenkins which I'll install on proxmox 144

[2016-04-17 10:09] lfdversluis commented on #2045
Hi @dukst, I went through you log but it seems still incomplete. There is no error related to a file not being found and I was missing the process exit line, which indicated that not a full capture happened. Just to make sure you capture everything, can you do the following steps?

1. Open procmon.exe and wait a second or two
2. Run tribler.exe, make it crash and if any error dialog shows press ok

[2016-04-17 14:55] devos50 commented on #2000
The increase in memory is not due to a memory leak. Instead, the problem is in the hidden community, where entries in the `intro_point_for` dictionary are created if you act as introduction point for other peers. This dictionary keeps growing, keeping references to `TunnelExitSocket` which in turn can become pretty big. Items are never removed from `intro_point_for` which means that nodes act as i

[2016-04-17 14:59] lfdversluis commented on #2000
@devos50 Sounds like #2089

[2016-04-17 16:30] devos50 commented on #2095
I managed to reproduced it (installed Debian 8 with GNOME desktop as 2nd OS on our used win10 64-bit builder) and I can confirm that it always happens, whether I have channels in the database or not. Will investigate now.

[2016-04-18 09:24] #1729 closed

[2016-04-18 09:24] #1801 closed

[2016-04-18 09:24] #1811 closed

[2016-04-18 09:24] #1944 closed

[2016-04-18 09:24] #2022 closed

[2016-04-18 09:24] #2044 closed

[2016-04-18 09:24] #2081 closed

[2016-04-18 09:26] whirm commented on #2056
@lfdversluis nice! Maybe we should check if newer py2exe alternatives are smarter about this stuff...

[2016-04-18 09:30] whirm opened #2102 "Tunnel community keeps consuming more and more memory"
Quote from @devos50:

[code]

(from: https://github.com/Tribler/tribler/issues/2000#issuecomment-210787710)

[2016-04-18 09:32] whirm commented on #2000
I've created an issue for this so it can be dealt by the students involved in the tunnel community. @synctext I'll leave the actuall assigning to you :)

[2016-04-18 09:32] #2000 closed

[2016-04-18 09:33] whirm commented on #2095
@devos50 man, you can ask for more VMs if you need them :D

[2016-04-18 09:35] devos50 commented on #2095
@whirm I just noticed that I typed used but it should be unused :P

I also changed the name of the VM to `debian-8`.

[2016-04-18 09:36] whirm commented on #2095
Ah great then :)

[2016-04-18 09:43] lfdversluis commented on #2000
Sorry, I meant looks like #2068

[2016-04-18 09:43] lfdversluis commented on #2056
@whirm We can certainly add that on the todo list, py2exe has not been updated in a long time. Most likely the project has stopped.

[2016-04-18 09:45] devos50 commented on #2056
Yeah, py2exe is not developed anymore.

[2016-04-18 09:51] whirm commented on #2102
Partially dupe (see: https://github.com/Tribler/tribler/issues/2068)

[2016-04-18 09:52] whirm commented on #2102
Edited to only leave the non-dupe part of the issue

[2016-04-18 09:52] whirm commented on #2000
@lfdversluis thanks! I've updated @2012

[2016-04-18 09:53] whirm commented on #2056
@lfdversluis maybe we could sync it to the new GUI release.

[2016-04-18 09:56] devos50 commented on #2056
@whirm yeah, we probably need to do some tweaking of the builders when we are going to bundle Qt.

[2016-04-18 09:57] devos50 commented on #2000
@lfdversluis yes that one is related indeed. The tunnel and hidden community need some attention since there are various bugs left.

[2016-04-18 10:12] lfdversluis commented on #2056
@whirm Probably. We should look for a good alternative from time to time.

[2016-04-18 10:14] devos50 commented on #2056
I vote for [pyinstaller](http://www.pyinstaller.org) 💃 . From the website:

[2016-04-18 10:57] lfdversluis commented on #2056
https://github.com/pyinstaller/pyinstaller Looks like a really alive and well maintained project. PyQT support is a bonus. Looks like we found a good replacement already

[2016-04-18 11:49] #2095 closed

[2016-04-18 11:57] devos50 commented on #2091
@whirm we can do this by performing a request to `https://api.github.com/repos/tribler/tribler/releases` (probably with a limit parameter or something). We need a some in the version check manager to distinguish between a stable and pre-release version.

I will do this after separation of GUI and core.

[2016-04-18 12:10] whirm commented on #2091
Sounds good

[2016-04-18 12:50] synctext commented on #2045
@lfdversluis  The Logfile1.zip contains the starting of Tribler, but no crash info of any kind?

[2016-04-18 13:06] lfdversluis commented on #2045
@snorberhuis

[2016-04-18 13:59] #1702 closed

[2016-04-18 13:59] #2089 closed

[2016-04-18 14:21] whirm commented on #2045
It does contain the bug happening:

[code]

corresponds to:

[code]

which imports `netifaces.pyd`.

If you look at the procmon dump, this happens at 7:11.54.

[2016-04-18 14:27] lfdversluis commented on #2045
@whirm As what is this bug categorized? NO SUCH FILE or NAME NOT FOUND in procmon?

[2016-04-18 14:30] whirm commented on #2045
The .pyd is being found (look at the dump, it looks for it in several locations until it finds it)

[2016-04-18 14:48] lfdversluis commented on #2045
It is indeed found, but in `logfile.pml` near the end at `18:11:54:5794` it reports a `SUCCESS ` on finding `netifaces.pyd` and no more traces of netifaces come after that.

[2016-04-18 15:53] whirm commented on #2045
I only see events until `7:11:54.5465` ?

https://gyazo.com/8ef656db48f052ea4d229d706e1b1f42

[2016-04-18 15:56] #2075 closed

[2016-04-18 16:04] devos50 opened #2103 "test_download hangs randomly when running tests"
`test_download_torrent_from_url (Tribler.Test.API.test_download.TestDownload)` hangs randomly when running the test suite. I'm not exactly sure where it hangs since I only managed to reproduce it once.

[2016-04-18 16:38] whirm commented on #2097
Quick update:

The hotpatch can't be easily be done as an exception gets raised right at import time. So we are left with a temporary fork for a four bytes patch.

Debian already ships libsodium18 and Ubuntu Xenial (to be released in a week) will too.

[2016-04-18 16:55] dukst commented on #2045
@lfdversluis Good evening. All instructions for using ProcessMonitor are performed. Made two more attempts, send the logfile. Also sent two screenshots with the program's message about its collapse. I would be glad if it will help you in the work.
[Logfile.zip](https://github.com/Tribler/tribler/files/224261/Logfile.zip)

[Screenshots.zip](https://github.com/Tribler/tribler/files/224269/Screenshot

[2016-04-18 17:02] devos50 opened #2104 "Tribler avatar (mugshot) is not working"
When working on the new GUI, I was looking for a way to fetch the avatar of other users (as they are displayed in comments). However, there is no way and mechanism available to fetch avatars from other users. Also, when setting your own avatar, they are not shared in the network!

For the comments, a default placeholder image is displayed but I feel this should be fixed, especially if we want to m

[2016-04-18 17:12] lfdversluis commented on #2045
Good evening to you too @dukst . Thanks a lot for your effort in helping track down this bug! I am sure that we will find it with your help. I will investigate the log files soon.

[2016-04-18 17:13] lfdversluis commented on #2104
Do they resemble a use case? Do we want to? Have this worked in the past actually? So many questions...

[2016-04-18 17:23] devos50 commented on #2084
I just tested it on proxmox 144, the button is working perfectly. Maybe you built an older version? I remember that I made a change to the action being triggered of the button a while ago.

[2016-04-18 18:39] lfdversluis commented on #2084
@devos50 If it wasn't merged at that time, maybe it's possible. If you confirmed it is working on that machine now using the latest devel, then i'll close this one.

[2016-04-19 09:26] lfdversluis commented on #2084
Confirmed it is working. So this one is closing.

[2016-04-19 09:26] #2084 closed

[2016-04-19 11:30] synctext commented on #706
Possible cleanup, after scalability is addressed: https://github.com/Tribler/tribler/issues/2039

[2016-04-19 11:52] synctext commented on #2039
Note the Dispersy warning from above log from: [_dispersy_claim_sync_bloom_filter_largest()](https://github.com/Tribler/dispersy/blob/master/community.py#L827)

[2016-04-19 11:57] synctext opened #2106 "Scalability of Dispersy channels"
This performance analysis work seeks to understand the effectiveness of the sync mechanism.
Linked to: #2039 .

![image](https://cloud.githubusercontent.com/assets/325224/14638113/fde33f70-0635-11e6-8109-001e263bcff6.png)

For thesis work first explain that sync to 10 peers failed for example Flood community:-)
Repeat with minimal example community. Use DAS4 or DAS5 for 10..1000 Peer examples.
Rep

[2016-04-19 13:30] whirm commented on #2093
@lfdversluis do you want to have a look at this one?

[2016-04-19 14:52] synctext commented on #1842
Tasks for coming 3 weeks:
- [ ] fix GUI wx3
- [ ] runs flawless, stable for days/weeks
- [ ] passes unit tests, code coverage
- [ ] select channel and credit mine!
- [ ] tracker checking UDP....

Thesis material credit
 - Credit mining, cost of evaluating a swarm is essential
 - similar to prospecting, what is a good investment ?
 - How many bytes does it cost, per swarm?
 - cost of DHT, .torrent

[2016-04-19 15:08] whirm commented on #2045
@dukst while @lfdversluis does his thing, could you install VS2008 redist and see if Tribler starts after that?

https://www.microsoft.com/en-us/download/details.aspx?id=29

Thanks!

[2016-04-19 15:09] whirm commented on #2104
I wouldn't give much priority to this. Just leave that stuff out of the first version of the GUI unless @synctext has something else to say about it.

[2016-04-19 15:56] synctext commented on #1882
Within the roadmap for _high-performance privacy_ it is important to identify bottlenecks. We do not know if the CPU, IO, buffering, or networking is the bottleneck.

The following experiment determines the crypto performance of the HiddenTunnelCommunity at the downloading side.

Step-by-step we build and measure the raw networking throughput expressed in MByte/second in various setups. First is t

[2016-04-19 16:27] synctext commented on #31
This week the _alpha version of multichain_ got merged. Solid progress, this is 2 months after the idea of an alpha took root. We assume no redesign is needed.. The features for the next Beta 1.0 release are:

- [ ] Limited crawling. Peers start collecting multi-chain records from peers that helped them. Simple linear downloading. Warning: limited crawling rate to avoid attempting to crawl Exit No

[2016-04-19 16:29] synctext commented on #1844
update request of docs

[2016-04-20 09:16] lfdversluis opened #2107 "Shipping visual C++ and C redistributables"
I have investigated which libraries need which runtimes using dependency walker on Windows (64 bit), the results:

| Library   |      Dependency      |
|----------|:-------------:|
| Python | MSVCR90.dll |
| M2Crypto |  MSVCR100.dll |
| LevelDB |    MSVCR110.dll   |
| LibTorrent | MSVCP110.dll & MSVCR110.dll |
| netifaces | MSVCR100.dll |
| apsw | MSCR90.dll |

We can either install all the three

[2016-04-20 09:24] devos50 commented on #2066
@whirm I would like to take a look at this one. Can you assign me?

[2016-04-20 09:55] pimotte commented on #2087
@synctext just explained his intended scope to me: Up to and including the crawling protocol. I agree that this is a good idea and there is value to document the protocol in a rigid way. Feel free to poke me for input and/or proofreading.

[2016-04-20 10:39] whirm commented on #2107
I'd recompile. But lets first fix the 6.5.X builder so we can do the last 6.5 release and move forward.

[2016-04-20 10:57] lfdversluis commented on #2107
@whirm I do not have access to the old builder, can you add the `Visual C++ Redistributable for Visual Studio 2012`, `Visual C++ Redistributable for Visual Studio 2010` and `Visual C++ Redistributable for Visual Studio 2008` (32 bit I guess in the old builder) to the build folder? And add the following lines to the .nsi file:
[code]

That should run all three of them.

[2016-04-20 11:09] devos50 commented on #2066
The problem is related to the fact that downloading a torrent from an url is blocking. I will refactor it so it makes use of a Twisted `Agent`.

[2016-04-20 11:13] lfdversluis commented on #2066
@devos50 nope, the issue was that it was timing out, which was not catched. Refactor it to become asynchornous is indeed nice and hande (trap) the timeout exception. See my PR #2038 on how to use the redirectagent (which accepts a timeout param when constructing)

[2016-04-20 11:33] lfdversluis opened #2109 "Tunnel community: CannotListenError: Couldn't listen on any:38438: [Errno 98] Address already in use."
See https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/850/testReport/junit/Tribler.Test.test_tunnel_community_positive/TestTunnelCommunityPositive/test_anon_download/

[code]

[2016-04-20 11:42] lfdversluis commented on #2109
Maybe the one above was an error because another test messed up the state. See: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/850/artifact/output/test_runners_output/00003.err/*view*/

[code]

[2016-04-20 12:03] whirm commented on #2109
Quickly looking at the code, we should have a look at if the getter for this.

[code]

is doing the right thing at picking the 5 random unused ports.

Also there's a hardcoded port in test_tunnel_base:

[code]

We should go though all the tests and fix this kind of things.

[2016-04-20 12:33] lfdversluis commented on #2045
Ok an update: It looks like we are shipping a wrong version of the Microsoft Visual C++ runtime. We are installing 2010 (MSVC100.dll) while using dependency walker on 6.5.1 only MSVCR90.dll shows up as dependency, indicating that we need to ship the 2008 version. @dukst If you could please verify installing the 2008 C++ runtime @whirm linked works, then I will update it and this bug should be fixe

[2016-04-20 12:38] lfdversluis opened #2110 "Installer runs twice"
While running the new builder installer I noticed that Tribler (and possibly also the old installer) runs the installation and uninstallation section twice. This is confusing and has to be investigated :)

[2016-04-20 13:04] vi opened #2111 "Can't change anonymity mode after the download has already started"
#### Please, fill all relevant items:
- [glanced though] I have read CONTRIBUTING.md
- [no] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

v6.5.1 built from git
##### Operating system and version:

Linux Debian (32bit on 64-bit)
##### Expected behavior:

There is a menu item that allows editing anonymity settings (numbe

[2016-04-20 13:24] whirm commented on #2111
Thanks!

[2016-04-20 13:37] lfdversluis commented on #2110
@whirm Ok I just tested the installer of 6.5.1 with install and uninstall and that one does not (luckily) run twice. It seems my tribler is running check runs twice. So the blocker tag can be removed. Issue is still for 6.6

[2016-04-20 14:48] whirm commented on #2110
It still is blocker, we can't ship a 6.6 with an installer that runs twice :)

[2016-04-20 16:17] dukst commented on #2045
@whirm @lfdversluis MC VC++ 2008 Redistributable x86 9.0. 30729. 40148 is already on computer. Also MS VC++2005 and MC VC++2010. Do you recommend to reinstall the 2008 version?

[2016-04-20 19:24] lfdversluis commented on #2110
Ah I was thinking blocker was for the current release, no idea why because the milestone clearly says 6.6. Sorry :p

[2016-04-20 19:52] lfdversluis commented on #2045
Hi @dukst Thanks for your reply :+1:  The regular version of tribler on https://www.tribler.org should work with the MS VC++ 2008 + 2010 redistributables. You could try reinstalling (or repairing), but if this doesn't work then something else is missing :(.

If you are up for it, you could do the following:

1. Download [Dependency walker](http://www.dependencywalker.com/). (it's only ~500kb lucki

[2016-04-20 23:59] vi opened #2115 "Tribler temporarily frozen with 100% single-core CPU load when I deleted a download"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

v6.5.1
##### Operating system and version:

Debian
##### Expected behavior:

Tribler continues running like usual after removing a download.
##### Actual behavior:

Tribler frozen for about a minute, CPU-bound in one thread. GUI was stuck.
##### Steps to reproduce the

[2016-04-21 08:15] lfdversluis commented on #2045
Also, @dukst, if you start up tribler having installed al the distributables, do you still get the line `File "Tribler\dispersy\dispersy.pyo", line 49, in`?

[2016-04-21 09:07] lfdversluis commented on #2056
@whirm can you close this one?

[2016-04-21 09:16] #2056 closed

[2016-04-21 09:32] #2097 closed

[2016-04-21 09:51] devos50 commented on #1769
@whirm I think we can close this issue?

[2016-04-21 09:52] #1769 closed

[2016-04-21 11:57] dukst commented on #2045
@lfdversluis Send screenshots of Dependency walker. Thank you for the introduction to such an interesting program! I'm sorry that I'm not a programmer and can't read all the information myself! :)

[Screenshot_Dependancy_Walker.zip](https://github.com/Tribler/tribler/files/229838/Screenshot_Dependancy_Walker.zip)

[2016-04-21 12:00] lfdversluis commented on #2045
No problem @dukst I am glad you are enthusiastic towards new programs. When I first used Dependency walker I amazed too :D

Thanks for your screenshots! I will take a look at them later this afternoon.

[2016-04-21 15:41] BoringUserWhoCantCode commented on #1681
Same Problem. python-wxgtk2.8 is not in Jessie main repos.

This should not be closed. It should be re-opened for contributors.
This is a legitimate issue that needs the code to migrate on to python-wxgtk3.0, not python-wxgtk2.8.

I think, at least.

[2016-04-21 15:46] devos50 commented on #1681
@BoringUserWhoCantCode we are working on this. Our upcoming Tribler 6.6 alpha contains full support for python-wxgtk3 so this should solve the problem. See for instance PR #2047 where most of the work regarding wx3 has been done.

[2016-04-21 16:00] whirm commented on #1681
@BoringUserWhoCantCode We are working in releasing the last bugfix release for v6.5. Shortly after we will release the first v6.6 Alpha which as @devos50 said has wx3.0 support among other things.

[2016-04-21 16:01] BoringUserWhoCantCode commented on #1681
Awesome work, indeed.

Can't wait to try it when this is solved.

Thank you all very much for your efforts.
On Apr 21, 2016 6:46 PM, "Martijn de Vos" <notifications@github.com> wrote:

[2016-04-21 16:06] whirm commented on #2093
Merged and manually tested on Windows and Linux.

@devos50 could you install the latest build of `next` on OSX and make sure that it works for you too?

Add non-ASCII chars in the nickname textbox on the settings window, save and restart Tribler.

[2016-04-21 16:06] #2093 closed

[2016-04-21 16:55] dukst commented on #2045
@lfdversluis Line 49:
Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 183, in __init__
  File "Tribler\Core\Session.pyo", line 419, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 152, in register
  File "Tribler\dispersy\dispersy.pyo", line 49, in <module>
Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 1067

[2016-04-21 19:57] lfdversluis commented on #2045
Hi @dukst. I forgot that you cannot run the normal version of tribler (yet) because of the unicode bug we have fixed earlier by upgrading py2exe. So the stack trace you just posted is (naturally) identical to the first.

From your screenshots I can conclude that it finds MSVCR90.dll which means your C++ 2008 redistributable can be found. This means another .dll file that is required cannot be foun

[2016-04-21 21:01] devos50 commented on #2109
@whirm in `test_tunnel_base`, the socks server is never started so the port does not matter.

[2016-04-21 21:23] devos50 opened #2122 "Test tried to insert a torrent it received from another peer shortly after closing"
I got the following stack trace:

[code]

Apparently, `RemoteTorrentHandler` received a torrent but the database has already been closed (i.e, the `close` method in `SQLiteCacheDBHandler.py` has been called).

[2016-04-22 03:37] MESWEB opened #2123 "Tribler fills RAM to MAX size"
#### Please, fill all relevant items: ####

- [ ] I have read CONTRIBUTING.md

##### Tribler version/branch+revision: #####
6.5.1 but in tab bar is 6.2.1
##### Operating system and version: #####
Ubuntu 14.04
##### Expected behavior: #####
Tribler filling RAM to max size when starts
##### Actual behavior: #####
Tribler frozen for about a 5 minutes and fill RAM to MAX size (My comp have 8GB) by pyt

[2016-04-22 05:01] brandc commented on #564
I'm guessing the proposed solution is to group transactions?

[2016-04-22 07:08] whirm commented on #2109
Then test_tunnel_base should be cleaned up.

[2016-04-22 07:22] whirm commented on #2123
Tribler can't run on python3.

re the title bar showing 6.2.1. Are you running a version from git or the official package?

Could you start Tribler and paste the output of `ps aux | grep python` while it's running and the output of `cat $(ls -1atr /tmp/*-tribler-*log | tail -1)` after closing Tribler?

[2016-04-22 07:54] whirm commented on #2049
@pimveldhuisen we are pretty close to releaseing 6.5.2, and it looks like this will be the last issue left. Could you focus on fixing this so we can free `next` for 6.6?

[2016-04-22 08:32] synctext commented on #2049
close to release.. good news. This looks like quite a specific bug or incompatibility. We could work on it further and not let it slow the bugfix release.

[2016-04-22 08:41] synctext commented on #2109
please document the stuff that was wrong with the tunnel (test) code for your thesis. can be just 4-8 lines.

[2016-04-22 08:46] synctext commented on #564
@brandc thnx for reviving this issue. it's been a whole year since I've measured the IO performance. We don't know where this is coming from.
The AllChannel community needs a rewrite I think. We plan to do that now that we can filter fake channel votes based on Multi-Chain this year.

[2016-04-22 09:57] lfdversluis commented on #2045
@dukst I just learned from @whirm that you can save the dependency walker report by going to `file > save as`. Could you sent me your dependency walker report? Then I can have a look and hopefully find the bugger :D

[2016-04-22 11:00] MESWEB commented on #2123
No U r wrong. When I start Tribler then python process is starting (python-O Tribler/Main/tribler.py) and this process going to max of RAM and next freeze computer. Yes I have downloaded from official site and file have sign 6.5.1 but after installing I see on tab 6.2.1. Check screenshot I'm make it for U.
![zrzut ekranu z 2016-04-22 12 50 24](https://cloud.githubusercontent.com/assets/2931024/147

[2016-04-22 11:12] devos50 commented on #2093
@whirm confirmed to work on OS X.

[2016-04-22 11:14] whirm commented on #2093
thanks!

[2016-04-22 12:23] lfdversluis opened #2124 "Tunnel community close() does not wait for stopListening to fire."
https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/tunnel_community.py#L176 is not handled in case a deferred is returned. This may result in a delayed call when shutting down.

[2016-04-23 08:45] lfdversluis commented on #2107
edit: I have made a PR and installed the redists on the old builder.

[2016-04-23 15:35] pimveldhuisen commented on #2049
@whirm I would love to fix this but at the moment I wouldn't really now how to proceed, since we/I still can't reproduce the issue. However, if I understand Laurens correctly #2213 is supposed to fix this? (I haven't had a chance to talk to him about this)

[2016-04-25 10:13] #2107 closed

[2016-04-25 10:14] whirm commented on #2049
@pimveldhuisen nope, that will (hopefully) fix a different issue where netifaces was missing some DLLs.

[2016-04-25 10:16] whirm commented on #2049
@pimveldhuisen I guess you tested that with a wifi-connected laptop, right? (in case netifaces has a hard time dealing with wifi devices for some reason) I only tried with with a desktop machine.

[2016-04-25 10:17] whirm commented on #2049
If we haven't found a way to fix this before v6.5.2 release time, I'll move it to the v6.6 milestone as indicated by @synctext.

[2016-04-25 10:28] devos50 opened #2129 "test_torrentchecking.py contains a sleep"
`test_torrent_checking` contains a hardcoded `sleep` to wait for torrent health results. We should refactor it to make it asynchronous and remove the `sleep`.

[2016-04-25 10:49] whirm opened #2130 "We need to get rid of the sleeps on the tests and most of the ones on the code"
In general it's a sign of broken/racy tests and they extend test execution time.

Quick grep reveals:
- [ ] Tribler/Core/Libtorrent/LibtorrentDownloadImpl.py:            time.sleep(1)
- [ ]  Tribler/Core/Utilities/instrumentation.py:            sleep(0.2)
- [ ] Tribler/Core/Video/VideoPlayer.py:                time.sleep(1)
- [x] Tribler/Main/channelcast_supporter.py:    time.sleep(5)
- [ ] Trible

[2016-04-25 11:17] devos50 commented on #2130
Many of the sleeps above are related to the startup process of Tribler (which I will refactor once the `devel` branch becomes free).

[2016-04-25 12:17] #2035 closed

[2016-04-25 12:20] lfdversluis commented on #2130
Random idea. Once we get devel into next after 6.5.2. How about simply removing all of them (or one by one) and watch it burn, if any fires?
Then we know where stuff needs fixing with race conditions. Do note however that I am going to primary focus on the tunnels so I wont have my priorities on hunting race conditions. Unless of course the sleeps in the tunnels need refactoring. But we'll find th

[2016-04-25 12:31] synctext opened #2131 "app-to-app communicator on Android"
Create a first app for automagic NAT puncturing and traversal on Android.

The app will connect to others which installed this app and try to establish a connection with them. This is the only functionality of this app: getting an UDP NAT puncture to others. Part of this functionality is discovering others and coordinating a puncture attempt. On this first screen of the app the currently discovere

[2016-04-25 12:33] lfdversluis commented on #1391
Just an update. I've agreed with @devos50 (some weeks ago) that we can add a field in the settings menu of Tribler where one can set these ports, which Tribler then always will use.

We might need to adapt functions i.e. `getRandomPort` to never use a list of ports that **may** be used. So even though they are currently not in use, it still won't select them to be safe.

[2016-04-25 12:35] whirm commented on #2131
Why does this have to be a standalone app instead of one based on @brussee's work?

[2016-04-25 12:37] synctext commented on #2131
@whirm Another student, first Java prototype.. :-)

[2016-04-25 12:38] whirm commented on #2131
yeah, but that will mean having to reimplement it from scratch in python, I think that will be a waste of effort.

Isn't it better to directly implement the prototype feature on the existing codebase?

[2016-04-25 13:34] whirm opened #2132 "Streaming a torrent doesn't honor the anontunnel settings"
It will always do a plain download.

[2016-04-25 14:23] lfdversluis opened #2133 "Reduce amount of vc redist we ship"
Currently we ship 2008, 2010 and 2012 of the C++ redistributables. Packages need to be recompiled to use either on or two versions. Currently the dependencies are as follows.

| Library   |      Dependency      |
|----------|:-------------:|
| Python | MSVCR90.dll |
| M2Crypto |  MSVCR100.dll |
| LevelDB |    MSVCR110.dll   |
| LibTorrent | MSVCP110.dll & MSVCR110.dll |
| netifaces | MSVCR100.dll

[2016-04-25 14:29] dukst commented on #2045
@lfdversluis I think the error is not in tribler, a bug in windows vista on my computer. I would not like to University Delft distracted from the important things in looking for errors in vista and repair my computer :) I set tribler on my other computer with windows 7, works without problems. But, of course, if the idea is to help find a bug in tribler, then I'm happy to help. In the archive repo

[2016-04-25 15:11] synctext commented on #2131
This project by design is isolated from the huge Tribler/Dispersy code base.

If it works this method cannot be easily be integrated into Dispersy. Sometimes you need 10 tries before it punctures on Android with 3G/4G carrier networks. Dispersy only tries stuff once and only once.

[2016-04-25 16:33] devos50 opened #2134 "Error when running tests - torrent checker seems to make a call after shutdown"
When running the tests, I came across the following error on Jenkins:

[code]

It seems that a call to `update_tracker_info` is being made after the shutdown has already been called.

[2016-04-26 05:11] baldyj opened #2136 "Version 6.5.1 stuck on installation; database never finishes updating"
#### Please, fill all relevant items: ####

- [x] I have read CONTRIBUTING.md Yes.
- [x] I have tried with the latest pre-release version and I still can reproduce the issue. ?

##### Tribler version/branch+revision: ##### 6.5.1

##### Operating system and version: ##### Windows 8.1

##### Expected behavior: #####
I was performing an upgrade and expected to be able to use Tribler.

##### Actual be

[2016-04-26 09:22] lfdversluis commented on #2045
I went trough the trace: three missing dlls `NTDLL.dll`, `SHLWAPI.dll` and `IEFRAME.dll`. None of them seem really relevant. NTDLL can be related to a graphic driver update > http://answers.microsoft.com/en-us/windows/forum/windows_7-windows_programs/programs-close-faulting-module-ntdlldll/54aaaec5-2b53-4e9f-b9a7-b7889a1cd4b6?auth=1.

The SHLWAPI and IEFRAME are related to IE explorer apparently:

[2016-04-26 10:01] whirm commented on #2136
From your log:

```CorruptError: CorruptError: database disk image is malformed```

Your sqlite database is corrupted. Did your system crash lately? Are your hard disks/filesystems/RAM healthy?

To fix that you will need to remove the corrupted databases so they get recreated:

Open `%APPDATA%\.Tribler` and delete the `sqlite` directory.

Let me know if Tribler works after doing this.

[2016-04-26 10:55] lfdversluis commented on #2110
@whirm Can you assign this to me?

[2016-04-26 11:17] lfdversluis opened #2137 "Proof of concept: offloading of CPU/ IO / Network to Twisted's threadpool benchmark"
Discussed with @synctext

As multiple threads in python do not give performance benefits because all of them are captured by the GIL, a proof of concept benchmark that has a mixed workload of CPU intensive tasks, IO intensive tasks (database) and networking requests that mimics Tribler's behavior should be constructed.
From this benchmark we can observe the gains if these distinct elements are pla

[2016-04-26 11:36] whirm commented on #2045
Yes, I'm afraid there's not much more we can do. I'll close this.

@dukst thanks for all the help figuring that one out!

[2016-04-26 11:36] #2045 closed

[2016-04-26 11:38] whirm commented on #2137
Note that blocking calls to native calls that free the GIT WILL give performance improvements!

[2016-04-26 11:42] whirm commented on #2123
Something is wrong with the Tribler copy you are running on this screenshot.

How did you obtain the source code? (provide step by step instructions of what you did)

Do you have more copies of Tribler installed?

[2016-04-26 11:44] whirm commented on #2049
Quick update: @pimveldhuisen thought of a fallback that should work when netifaces fails to obtain the necessary info. We will be providing a build here and on the forum thread to make sure it solves the issue and release 6.5.2 with it if it does.

[2016-04-26 11:45] whirm commented on #2049
@pimveldhuisen this is the last issue pending for v6.5.2, so it would be great if you gave priority to it.

[2016-04-26 12:24] MESWEB commented on #2123
I just downloaded this copy from official website, next I just install and few day later I'm download firs two torrents. So few days ago I want download movie ~8GB and I see this issue. Now I was try delete torrent 8GB but nothing changed still filling RAM. No I have only one version of Tribler.

[2016-04-26 12:44] whirm commented on #2123
The website provided link points to: https://github.com/Tribler/tribler/releases/download/v6.5.1/Tribler-v6.5.1.tar.xz

Which SHA1 is: dc6246f89a6350b0fb400c66898b0885b7ec2f81

If I download, unpack and execute `cd tribler && ./tribler.sh` I get a working Tribler showing the right version (6.5.1) on the title bar.

Is that exactly what you did?

[2016-04-26 12:48] lfdversluis commented on #918
Forgot to update from last week. When shutting down, the discover community reports it received the close call and the taskmanager cancels all pending tasks. Dispersy also reported shutdown in 0.04 seconds, yet still a delayed call. The weird part is that I cannot find where a 300 second delayed call is scheduled, moreover they are added using the TaskManager so either that contains a bug, or some

[2016-04-26 12:49] MESWEB commented on #2123
No I have file .deb tribler_6.5.1_all.deb (1404932 bits) from [https://github.com/Tribler/tribler/releases/download/v6.5.1/tribler_6.5.1_all.deb](url)

[2016-04-26 12:58] lfdversluis commented on #918
Just ran it again, output:

[code]

[code]

And result:
`TestLibtorrentDownloadImpl: ERROR: >     <DelayedCall 0x7f8be70672d8 [298.150224924s] called=0 cancelled=0 LoopingCall<300>(DiscoveryCommunity.periodically_insert_trackers, *(), **{})()>`

[2016-04-26 14:03] whirm commented on #2123
I've downloaded/installed the .deb and ran `tribler` on a terminal and it works fine:

![2016-04-26-145443_3120x1920_scrot](https://cloud.githubusercontent.com/assets/529494/14820755/4307c78c-0bc8-11e6-98b4-5018bfdb40f6.png)

Can you please describe what you are doing _step by step_?

[2016-04-26 14:49] brussee opened #2139 "Refactor Tribler\Core\osutils.py"
- [ ] Make interface for required get_dir() functions and move implementation to appropriate platform startup environment config.
- [ ] Make internal config params to set the (default) location of the get_dir() functions mentioned above
- [ ] Cleanup safe_filename() functions

[2016-04-26 15:46] MESWEB commented on #2123
Sorry my mistake. After reinstalling Tribler I found reason of my error. Tribler version 6.2.0 is a default in Ubuntu app center when I try install new version I have error: libsodium13. What I should to do? I have installed already libsodium.

[2016-04-26 15:48] whirm commented on #2123
@MESWEB what version of libsodium do you have installed?

[2016-04-26 15:50] MESWEB commented on #2123
Latest libsodium-1.0.10.tar.gz from - [https://download.libsodium.org/libsodium/releases/](url)

[2016-04-26 15:51] whirm commented on #2123
@MESWEB why aren't you installing the version provided by Ubuntu?

[2016-04-26 15:53] MESWEB commented on #2123
How?

[2016-04-26 16:03] whirm commented on #2123
If you install the tribler .deb, libsodium13 should be installed as a dependency.

1.0.10 is libsodium18, which is not supported by tribler 6.5.1, you either need to:

 a)  Wait for 6.5.2 which should be out next week at most.

 b) Install a developer build (which is not validated)  from https://jenkins.tribler.org/job/Build_Tribler_next/10/

 c) Edit `/usr/lib/python2.7/dist-packages/Tribler/disp

[2016-04-26 16:10] MESWEB commented on #2123
Ok thanx. I'll wait for new version. Thanks for help.

[2016-04-26 16:22] #2123 closed

[2016-04-26 16:24] whirm commented on #2123
You are welcome :)

[2016-04-26 16:57] lfdversluis commented on #2129
Duplicate of #2130 implicit

[2016-04-26 17:08] whirm commented on #2129
I'm closing this even if it's the older one. As the other supersedes it.

[2016-04-26 17:08] #2129 closed

[2016-04-27 07:06] brandc commented on #564
I certainly hope it gets fixed somewhat soon, then I don't have to run Tribler on ram disk with cron jobs to back it up.

[2016-04-27 07:58] brandc opened #2140 "Defining the e2e encryption problem, and are there any proposed solutions?"
I see the demand for end to end crypto come up a lot in the issues, so I tried to write something on the topic in a similar way to a math proof:

Defining the problem:

Common solutions for the authentication problem and some thoughts (any currently proposed solutions specific for Tribler?):

[2016-04-27 11:20] devos50 commented on #2103
Fixed by #2128

[2016-04-27 11:20] #2103 closed

[2016-04-27 14:00] qstokkink commented on #2106
A weekly small progress report:
- For very small communities it tends to finish a full synchronization (3~6 peers/nodes)
- Although I have waited for half an hour once for a 3 node - 3 message experiment to finish :cry:
- In my ongoing quest to find out why this happens [at least I made debugging look pretty](https://github.com/qstokkink/VisualDispersy)

[2016-04-27 20:31] synctext commented on #2106
thnx for the update. curious. If you have time, please insert a picture here of VisualDispersy for easy smartphone viewing..

[2016-04-28 08:58] lfdversluis commented on #918
Opened a PR on dispersy concerning this one.

[2016-04-28 09:36] whirm commented on #1822
I really think we should have this done for the `new gui` milestone, otherwise the insanity will keep creeping on new code (for instance the configuration REST endpoint).

[2016-04-28 09:40] devos50 commented on #1822
@whirm do you agree if I give priority on this one immediately after wx is removed?

[2016-04-28 09:45] whirm commented on #918
@lfdversluis better if you provide a link for future reference

[2016-04-28 09:49] whirm commented on #1822
@devos50 what else do you have on your plate other than the new gui and the REST iface?

[2016-04-28 09:50] devos50 commented on #1822
@whirm except for writing the thesis and some outstanding issues for 6.6 release, nothing as far as I know.

[2016-04-28 09:54] whirm commented on #1822
If @synctext has nothing to say and we don't find anything more important/urgent until then it's fine by me.

[2016-04-28 09:57] devos50 commented on #1822
@whirm I can also focus on it now if you want since it would benefit Tribler overall. I think it will take a few days however to implement.

[2016-04-28 10:19] lfdversluis commented on #918
@whirm I agree, but common it's dispersy there are at most 2 to 3 PRs open on it :D

[2016-04-28 10:28] whirm commented on #1822
@devos50 let's wait for @synctext feedback on this. Also, the new GUI is more important and I would like to have an initial version merged ASAP.

[2016-04-28 10:28] whirm commented on #918
_future_ reference :)

[2016-04-28 10:43] qstokkink commented on #2106
It provides a realtime graph of all loaded communities (showing packets sent for the community in question), which looks like this:
![Graph Preview](https://github.com/qstokkink/VisualDispersy/raw/master/doc/preview_graph.png)

It also provides a GUI for easy running of custom communities:
![GUI Preview](https://github.com/qstokkink/VisualDispersy/raw/master/doc/preview_gui.png)

[2016-04-28 13:24] whirm commented on #2049
@nosuch17 could you please test this build and tell us if it solves the issue for you?

https://jenkins.tribler.org/job/Build_Tribler_next/11/artifact/

Thanks!

[2016-04-29 08:53] whirm commented on #1905
The build was cleaned up, so I'm closing it as it has no available traceback anymore. :(

[2016-04-29 08:54] devos50 commented on #1905
@whirm yeah we should copy the stack trace into the issue so we keep a reference to it.

[2016-04-29 08:55] #1905 closed

[2016-04-29 08:55] whirm commented on #1905
Yeah, either this or marking the build as persistent on jenkins.

[2016-04-29 08:56] whirm opened #2147 "Dirty reactor when running test_download_torrent_from_url"
[code]

[2016-04-29 10:12] whirm opened #2148 "SingleInstanceChecker is not properly implemented"
It even detects pylint processes as Tribler's.

It should be reimplemented by writing a `lock` file containing the current process PID to the state dir. This would eliminate false positives and several Tribler processes using different state dirs could coexist without need of disabling the single instance check.

Note that the current implementation makes some tests randomly fail when mistaking py

[2016-04-29 15:07] devos50 commented on #2148
That's a bad implementation lol. I will try to refactor and reimplement it this weekend.

[2016-04-29 15:15] whirm commented on #2148
Great!

Have in mind that twistd provides this feature and in the future we will have both the GUI and the core running at the same time.

[2016-04-30 03:38] baldyj commented on #2136
Hi,

Sorry for the delay in responding.  Your fix worked!  It's up and running.
As for the health of my system, I think it's generallyn O.K.  The crash
probably occured while I was trying to update Tribler.

Anyway, thanks very much.

On Tue, Apr 26, 2016 at 4:01 AM, Elric Milon <notifications@github.com>
wrote:

[2016-05-01 13:26] nosuch17 commented on #2049
Unfortunatly it does not help.
Logfile attached. @
[tribler.exe.log.txt](https://github.com/Tribler/tribler/files/244118/tribler.exe.log.txt)

[2016-05-01 14:29] lfdversluis commented on #2137
I have implemented the basic client and server code. So far the results look promising. This experiment ran **6 servers** and **6 clients**, every client connects to one server and then issues **10** different queries so that the server's query is different and no database optimizations can make the results biased .

| Client                      | Server      | Duration (microseconds) |
|--------

[2016-05-02 09:40] whirm commented on #2136
Glad to help!

I'll create an issue to add a check for this during startup.

[2016-05-02 09:41] #2136 closed

[2016-05-02 09:42] whirm commented on #1993
Another example:

[code]

[2016-05-02 10:03] lfdversluis opened #2155 "Performance improvement: Move from json to ujson"
As we are and will make good use of json, a lot of performance can be gained if we use [ujson](https://github.com/esnme/ultrajson). It is significantly faster than the default library and it's quite the low hanging fruit.

I have check and they are both in the debian and ubuntu repositories available.
@whirm If we would like this, can you assign this to me?
@devos50 I think your new GUI and server

[2016-05-02 10:17] devos50 commented on #2155
Looks good. I can image that this would be beneficial for very large JSON objects (i.e. querying all torrents in a specific channel). My next endpoint will be the fetching of the RSS feeds on a channel but after that, I want to create an endpoint to get all channels in Tribler (possibly with a limit parameter). This JSON object will be huge so I think that we can use this endpoint to get a better

[2016-05-02 10:26] whirm commented on #2155
I agree this is a cheap improvement and the dependency can be made optional. But it's an extra dependency and the % of time spent serializing json in Tribler will probably be pretty low in general terms.

Let's wait for the API to be more or less stable and then you can do a benchmark and see how it improves performance for Tribler in a more concrete way (so it will look better in your thesis).

[2016-05-02 10:37] lfdversluis commented on #2155
@whirm Yes, I am first focussing on the DB stuff anyway. Once the API becomes mature, I will take a look and test.

[2016-05-02 11:03] devos50 opened #2156 "Channel RSS urls are stored as files in the .Tribler directory"
When a user creates a channel and adds an URL, these URLs are stored in files in the Tribler state directory. I think that's a bit weird since we have a nice SQLite database we should use for this purpose. So I propose to store URLs of the RSS feeds inside the database.

[2016-05-02 12:45] whirm commented on #2049
Well, it does help, but we are hitting a different issue now.

Could you shut down Tribler, go to Tribler's install dir, then to `Tribler\dispersy\`, delete `conversion.pyo` and `payload.pyo` and unzip the attached archive there?

The next time you start Tribler you should get more info on the log file, please paste it so I can have a look.

Thanks!
[files.zip](https://github.com/Tribler/tribler/f

[2016-05-02 14:27] EljoM opened #2158 "Does not start / Crash after re-install"
#### Please, fill all relevant items: ####

- [ ] I have read CONTRIBUTING.md

- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

6.5.1

##### Operating system and version: #####

windows 10

##### Actual behavior: #####

Install Tribler.exe
After install Tribler should start after the last install OK.
Tribler

[2016-05-02 15:14] whirm commented on #2158
could you search your whole system for a file called "ntpath.pyo" and see if only the one on the Tribler install dir is found? It looks like the debugging infro provided doesn't match with the version of the file we bundle with Tribler.

[2016-05-02 19:14] nosuch17 commented on #2049
OK, here is the log:
[tribler.exe.log.txt](https://github.com/Tribler/tribler/files/245739/tribler.exe.log.txt)

[2016-05-03 08:31] whirm commented on #2049
Perfect, thanks!

Could you delete `conversion.py`, `conversion.pyc`, `payload.py`, `payload.pyc` and unzip the contents of the updated link on the previous comment? (files2.zip)

[2016-05-03 09:58] lfdversluis commented on #2137
And the results are in :D Now with the server also blocking / non-blocking for IO and CPU methods.

![benchmark cpu network and io](https://gyazo.com/ab380a9859dab7dd22de5ebafc4655cc.png "Benchmark cpu network and io")

The colors have a pattern:
If CPU is asynchronous (non-blocking); red (r) = 255 else 0
If Network is asynchronous (non-blocking); green (g) = 255 else 0
If IO is synchronous (non-b

[2016-05-03 10:14] whirm commented on #2137
Good work!
How much data is being compressed?

[2016-05-03 13:38] devos50 commented on #2155
Just did a little check with the endpoint that fetches all channels. Encoding 11000 channels (around 2 MB) into a JSON dictionary only takes around 54 milliseconds so I don't think think we can gain a lot of speedup here since it's already quite fast.

[2016-05-03 15:13] pimveldhuisen commented on #2130
Note that the first 9 and the last 3 grep results are not test, but actual code, which doesn't really fit this issue. (It is arguably much, much worse though.)

[2016-05-03 15:27] whirm commented on #2130
Fixed :)

[2016-05-03 19:48] EljoM commented on #2158
I had uninstalled the program after this problem. Closed my pc and went to bed. I red your question today and installed Tribler. I also wanted to download music from bundles.bittorrent .com /bundles/ big-gigantic and clicked on download. Tribler started normal and all problems are gone.....

[2016-05-04 06:20] synctext commented on #2158
@eljom that is great to hear! Thank you for getting back to us.

[2016-05-04 09:47] whirm commented on #2158
Hm, maybe Tribler was running while you upgraded it? v6.6 checks for Tribler to be running but 6.5.x still doesn't. That would explain some files being locked and so not replaced.

Enjoy Tribler!

[2016-05-04 09:47] #2158 closed

[2016-05-04 18:47] nosuch17 commented on #2049
OK, since there are no *.pyc files i made the assumption *.pyo was meant and deleted them accordingly.
Again here's the log:
[tribler.exe.log.txt](https://github.com/Tribler/tribler/files/249380/tribler.exe.log.txt)

[2016-05-05 12:55] liberodark opened #2165 "How to Install On Raspberry Pi 3 ?"
Hello,

Have RPI version ?

Cordialy

[2016-05-05 15:39] lfdversluis commented on #2155
@devos50 54 ms is indeed not to much. I wonder if using tribler regularly how much time e.g. per hour is spent on en/decoding json?. It's only one install after all, so definitely a low hanging fruit.

If it turns out that time spent doing json stuff is negligible then we can stick to the builtin library.

[2016-05-05 16:36] devos50 opened #2166 "Breaking cyclic dependencies between modules"
In order to analyse the code structure of the Tribler package, I created a job on Jenkins that generates a dependency graph dot file and creates a PNG file with the graph (see [here](https://jenkins.tribler.org/job/Tribler_import_graph/)). I created a small script based on the code that can be found [here](https://github.com/jantman/misc-scripts/blob/master/dot_find_cycles.py) to find dependency c

[2016-05-07 07:06] Dmole commented on #2165
https://github.com/Tribler/tribler/blob/devel/doc/Tribler%20development%20on%20Linux.md

[2016-05-07 15:43] lfdversluis commented on #1883
See #2137 :)

[2016-05-07 15:44] lfdversluis commented on #2137
These results are without the zip inflation/deflation as an error is being thrown at random when unpacking things. I am trying to fix that, however I was thinking of maybe doing Crypto stuff on the JSON instead of zipping it, should also be CPU intensive and that's what we do now in the tunnels basically.

[2016-05-07 15:51] lfdversluis commented on #918
@whirm The PR is ready on the dispersy side, can you review and if ok and merged close this once more?

[2016-05-07 17:55] vi opened #2169 "All GUI gets disabled (gray) sometimes"
#### Please, fill all relevant items: ####

- [no] I have read CONTRIBUTING.md

- [no] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

v6.5.1

##### Operating system and version: #####

Linux Debian

##### Expected behavior: #####

GUI stays accessible (except of may be some intermittent subsecond critical secions

[2016-05-07 17:59] qstokkink commented on #2106
In other news: I supercharged Dispersy with some selective multithreading. This brought the 10 nodes, 10 messages-per-node experiment **down from _6 minutes_ to _10 seconds_** on my localhost. Which was thusly fast, that it crashed my VisualDispersy tool. The 3 nodes, one node with 10000 messages was brought **down from _over 2 hours_ to _4 minutes_**.  Note that this uses the fastest settings, it

[2016-05-07 19:22] synctext commented on #2106
message batchimg is that killer!

[2016-05-07 19:28] synctext commented on #2106
wow, that is a solid performance evaluation + dramatic improvement. Impressive thesis content!

Looking forward to seeing a demo Monday.

Message batching was introduced as a possible measure to improve performance. The idea was to process a few messages at once. It would reduce context switches and use IO more efficiently...

[2016-05-08 02:24] vi commented on #2169
Triggered search => gray waiting. Basically requesting anything to do => waiting.

[2016-05-08 02:30] vi opened #2170 "Can't remove "Initializing..." download from list"
#### Please, fill all relevant items:
- [no] I have read CONTRIBUTING.md
- [no] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

v6.5.1
##### Operating system and version:

Debian
##### Expected behavior:

Can remove any download. "Remove download" or "Remove download + data" menu items inaccessible.
##### Actual behavior

[2016-05-08 03:16] vi commented on #2169
After restarting the gray waiting time (for example, after starting a search) dropped to a few seconds.

[2016-05-08 06:41] qstokkink commented on #2106
I did disable the batch feature (with [the flag](https://github.com/Tribler/dispersy/blob/devel/community.py#L2012)), so the buffering is occurring somewhere where it shouldn't be. Right now I assume it to be in the horrible spaghetti of [community.on_messages](https://github.com/Tribler/dispersy/blob/devel/community.py#L2116).

[2016-05-08 07:49] devos50 commented on #2169
Thank you for your report. I suspect this has something to do with wx in combinations with the calls made on the wx thread. I'm not sure whether we can fix this before 6.6 but in 6.7 the GUI will not block when doing operations in Tribler.

[2016-05-08 07:51] devos50 commented on #2170
Thanks for the report. I think this is an issue we should fix before we release 6.6 (and I think it isn't that hard to fix, just enable the stop/remove button when a download is in the initialising state).

[2016-05-08 07:53] devos50 commented on #2165
Hi,

The link @Dmole provided is correct and at the end of the guide, you should be able to run Tribler from source. If you encounter any problem when following the guide, please create a new issue and we are able to help.

At the moment, we do not have a Debian package available in the repos but we are working on that.

[2016-05-08 11:41] synctext commented on #2106
self._dispersy._delay()  interesting....

that might be from the time when peer not always included their full public key in messages, just the hash. Then messages got delayed until the full public key was known. That really can be refactored out..

[2016-05-08 12:49] devos50 opened #2172 "Loading the Dispersy communities should be done in Session"
Loading the Dispersy communities is a typical task of the Tribler core. Currently, we are loading the communities in `tribler_main.py` which I think is not the right place for this task.

I propose to move the loading of the Dispersy communities to the `session.py` file when we are removing the wx stuff.

[2016-05-09 09:39] synctext commented on #1842
additional thesis material:
 cost of swarm checking in bytes
 yield of swarm investments
 coinvestor factor
 relay cost
 archiving cost eith disk space limits

[2016-05-09 09:42] whirm commented on #918
For future reference: https://github.com/Tribler/dispersy/pull/472

[2016-05-09 09:49] synctext commented on #1842
working code, see issues above. Create a legal channel with 500+ legal swarms. Repeat the Mihai experiments. Show in Gumby on Jenkins with nice R plots.

[2016-05-09 09:52] whirm commented on #2165
@liberodark latest stable release has no binary components, so you can just install the .deb on your RPI. It will punish your storage, so make sure your `.Tribler/` dir is not on a flash memory.

[2016-05-09 09:52] #2165 closed

[2016-05-09 09:55] whirm commented on #2172
I would make it hang from Session, but in a separate component.

[2016-05-09 11:02] devos50 opened #2174 "Call to unexisting methods in SearchGridManager"
There are some method calls in SearchGridManager to methods that are not available in Tribler, see  https://github.com/Tribler/tribler/blob/devel/Tribler/Main/vwxGUI/SearchGridManager.py#L1516. Note that `subscribe`, `spam` and `unsubscribe` calls. They do not exist in the `VoteCastDBHandler` class.

[2016-05-09 18:41] lfdversluis commented on #2169
Found the problem. https://github.com/Tribler/tribler/blob/next/Tribler/community/tunnel/tunnel_community.py#L131 This call is just like the torrent_checker that I refactored blocking, on the main thread (the wx) thread. Makes no sense and has to be done asynchronously, non-blocking.

@whirm assign this to me as it concerns the tunnels which I will target.

[2016-05-09 18:43] lfdversluis commented on #2169
Is this before or after Vietna.. err I mean 6.7? :D

[2016-05-09 18:48] lfdversluis commented on #1796
@pimotte @pimveldhuisen @Captain-Coder Maybe something for you guys to consider/think about? :D If this is not the case and I am plain wrong, let me know an I will happily close it :)

[2016-05-09 20:29] qstokkink commented on #2106
Continuing with the conversion refactor:
I created a Gist to showcase how some of the internals and overlay mechanics of the Cap'n Proto-based conversion would look:
https://gist.github.com/qstokkink/681682e7e97acdc6c015106a13baaf54
The big problem I encountered, is that there is no way to limit string size without custom logic.
Next I will be checking out Protocol Buffers.

[2016-05-10 10:15] whirm commented on #2169
@lfdversluis I would be really nice to have it fixed for 6.6, 6.7 will simply not have this kind of issues but it will be a while until it's ready.

[2016-05-10 10:27] whirm opened #2179 "WX stuck on current devel"
found [here](https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/1079/artifact/output/test_runners_output/00005.err/*view*/)
[code]

[2016-05-10 10:28] whirm commented on #2179
Opps, not current devel.

[2016-05-10 10:28] #2179 closed

[2016-05-10 11:20] whirm commented on #2049
@nosuch17 sorry for the delay, This version should hopefully work for you:

https://jenkins.tribler.org/job/Build_Tribler_next/14/

Could you please give it a go?

[2016-05-10 12:02] pimveldhuisen commented on #1796
Combining anonimity and reputation indeed seems like a paradox, and this is an issue with the multichain. We will have to find a good balance while developing the multichain protocol.

[2016-05-10 14:21] lfdversluis opened #2180 "result of `create_key_request` in `hidden_community` is not used by its single caller."
So either return nothing or do a check, but as it's the last statement in the caller, I see no reason to create a check.

[2016-05-10 14:22] lfdversluis opened #2181 "result of `tunnel_data` in routing.py (tunnel community) is not used by any of its callers"
It has many callers, none of them do something with the boolean being returned. Remove it or add a check for all/some of them?

[2016-05-10 19:25] nosuch17 commented on #2049
I am sorry to report that it still doesn't work for me.
[tribler.exe.log.txt](https://github.com/Tribler/tribler/files/257926/tribler.exe.log.txt)

[2016-05-11 09:56] whirm commented on #2049
@nosuch17 amazing :D I'll set some stuff up and come back to you. ASAP, Could you connect to the IRC channel? (see the main README)

[2016-05-11 10:31] lfdversluis commented on #2137
I have fixed the zip inflation/deflation issue and added encryption and decryption at the server resp. client side which encrypts/decrypts the zip being send. The results are interesting:

![benchmark cpu network and io](https://gyazo.com/431cecc6d52788765ee35241d32b3fb5.png "Benchmark cpu network and io")

Now, the combination of cpu, io and network being offloaded scores best, with a gain of ~**

[2016-05-11 11:51] lfdversluis opened #2183 "Torrent Checker updated tracker manager when Tribler is shutting down."
`File "/home/jenkins/workspace/GH_Tribler_PR_tests_linux/tribler/Tribler/Core/Modules/tracker_manager.py", line 98, in update_tracker_info tracker_info = self._tracker_dict[tracker_url] exceptions.TypeError: 'NoneType' object has no attribute '__getitem__` error from the tests.

When shutting down, Tribler is now cancelling attempts to connect to trackers. The tracker manager may already have shut

[2016-05-11 13:58] whirm commented on #2137
is the zip stuff freeing the GIL?

[2016-05-11 14:10] lfdversluis commented on #2137
No, and that explains probably why the CPU offloading takes more time.

Source: http://www.dalkescientific.com/writings/diary/archive/2012/01/19/concurrent.futures.html

[2016-05-11 14:12] lfdversluis commented on #2137
Apparently pycrypto does release the GIL now, but I used the crpytography package.

https://github.com/dlitz/pycrypto/blob/master/ChangeLog

[2016-05-11 14:17] whirm commented on #2137
let's see what happens if you use pycrypto then

[2016-05-11 14:18] lfdversluis commented on #2137
Do note that the tunnels use cryptography :) I will give pycrypto a go

[2016-05-11 14:22] lfdversluis commented on #2137
Also, zlib releases the GIL apparently: https://docs.python.org/2/c-api/init.html

[2016-05-11 14:43] whirm commented on #2137
Well, if we want to improve throughput and python-cryptography doesn't release the GIL, something will have to change... Let's talk about it when we have results from both libs.

[2016-05-11 19:43] nosuch17 commented on #2049
I've parked my client there

[2016-05-11 19:50] lfdversluis commented on #2137
Alright, the results are in once more! Now non-blocking zipping and pycrypto which (should) releases the GIL.

![benchmark cpu network and io](https://gyazo.com/b57a8c2ad635578656162ec93dd2660b.png "Benchmark cpu network and io")

Comparing the best (blue) one to the black (everything blocking) shows a gain of ~**18.93%** which is huge. Nearly one fifth! Interesting that the green blue and white c

[2016-05-11 23:18] vi opened #2184 "[devel] Filtering in channels shows results only for a moment"
#### Please, fill all relevant items:
- [no] I have read CONTRIBUTING.md
- [no] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Operating system and version:

Debian
##### Expected behavior:

Can filter content in a channel
##### Actual behavior:

For most filter queri

[2016-05-11 23:22] vi opened #2185 "[devel] Restarting Tribler started from Git checkout fails"
#### Please, fill all relevant items:
- [no] I have read CONTRIBUTING.md
- [no] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

b60d3b1 devel
##### Operating system and version:

Debian
##### Expected behavior:

Tribler restarts
##### Actual behavior:

Tribler shuts down
##### Steps to reproduce the behavior:

Start Trib

[2016-05-11 23:31] vi opened #2186 "Feature request: sort downloads by date"
The adding date may be explicitly stored at database or just retrieved from filesystem (from TriblerDownloads).

[2016-05-11 23:37] vi opened #2187 "Feature request: limiting bandwidth for contributed anonymity traffic"
I see "Total:" growing and "Balance:" falling a bit rapidly.

Sometimes I want to limit (but not turn off completely) bandwidth contributed to decentralized networks.

Ideally there should be easily switchable "Traffic profiles" in Tribler affecting any network activity (including zero - temporarily stop Tribler from using network, just to view downloads, edit settings, create torrents for future

[2016-05-11 23:41] vi opened #2188 ""Balance:" does not collapse to megabytes unlike "Total:"."
##### Tribler version/branch+revision: #####

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel

##### Operating system and version: #####

Debian

##### Expected behavior: #####

`Total: 94.87 MB   Balance: -80.71 MB`

##### Actual behavior: #####

`Total: 94.87 MB   Balance: -80712.54 KB`

[2016-05-11 23:46] vi opened #2189 "Shall consumed anonymity balance decrease counter instead of increasing?"
Currently I see balance dropping (with approximately the same rate as Total rising). As far as I understand, Balance = Consumed anonymity traffic - Contributed anonymity traffic.

I think it should be reverse: Balance = Contributed anonymity traffic - Consumed anonymity traffic.

People tend to maximize their values, not minimize. Seeing negative balance makes user feel indebted to contribute to a

[2016-05-12 00:28] vi opened #2190 "[devel] Removing torrents from my channel works with a delay"
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Expected behavior:

Removed torrent from my channel immediately disappears. Or there is indication that removal is in progress.
##### Actual behavior:

It disappears from the list after some delay. No indication of background operation.

[2016-05-12 00:32] vi opened #2191 "[devel] Ratio does not increase"
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Expected behavior:

Value in "Ratio" column increase as uploading goes on
##### Actual behavior:

Ratio has been reset to 0.00 for all downloads and stays 0.00. Worked well in v6.5.1.

[2016-05-12 00:35] vi opened #2192 "[devel] "Remove all" fails in my channel"
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Expected behavior:

"Remove all" works like selecting every torrent and pressing "Remove selected"
##### Actual behavior:

It gets ignored.

[2016-05-12 00:43] vi opened #2193 "GUI gets blocked while creating a big torrent"
b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel, also was in 6.5.1/6.5.0.

[2016-05-12 00:48] vi opened #2194 "[devel] I get this backtrace periodically"
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Relevant log file output:

[code]

[2016-05-12 00:48] vi opened #2195 "[devel] Newly created torrent file named after directory and can't be renamed"
#### Please, fill all relevant items:
- [ ] I have read CONTRIBUTING.md
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Steps to reproduce the behavior:
- Go to my channel
- Press "+ Add ..."
- Press "Create"
- Press "Browse"
- Choose a single file
- Observe sele

[2016-05-12 00:54] vi opened #2196 "[devel] Can't make newly created torrent anonymous"
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Expected behavior:

Can create new torrent as anonymous or change download to be anonymous after creating
##### Actual behavior:

All newly created torrents are non-anonymous
##### Steps to reproduce the behavior:

Follow steps from #2195.

[2016-05-12 00:55] vi opened #2197 "[devel] Newly created torrents are in "Downloading" state instead of "Seeding""
##### Tribler version/branch+revision:

b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel
##### Operating system and version:

Linux Debian, 32-bit, jessie/wheezy.
##### Expected behavior:

Newly created torrent is in "Seeding" state.
##### Actual behavior:

Newly created torrent is in "Downloading" ETA: 23w1d [Anonymous:no](https://github.com/Tribler/tribler/issues/2196)
##### Steps to reproduce the

[2016-05-12 00:56] vi commented on #1716
Still reproducible in v6.5.1 and in devel (b60d3b126ddfcafc2a939c32ca6b9a97a962f561). Actually I'm not sure Tribler can actually create new torrents for new files: #2197.

[2016-05-12 01:08] vi opened #2198 "Suggestion: Show "Checking pending" instead of "Checking: 0.0%""
Seems like Tribler checks only one download at a time. Other unchecked downloads remain "Checking: 0.0%".

Maybe it would be better to show them as something like "Checking: queued" or "Pending checking".

Persistent "Checking: 0.0%" may mean that the checking has stuck on that file (e.g. it is located on a frozen filesystem).

[2016-05-12 01:14] vi commented on #1716
The channel itself is discoverable in search although.

[2016-05-12 01:35] vi opened #2199 "[devel] Tribler re-checks all downloads on starup"
b60d3b126ddfcafc2a939c32ca6b9a97a962f561 devel

After I close Tribler and start it again, it re-checks all the downloads.
I think it should be only recheck if there may be issues (e.g. filesystem modification date changed or some peer rejected chunks from the file)

[2016-05-12 08:51] lfdversluis commented on #2189
I tend to agree to this for the psychological effect. When it was added I also wondered why I was going negative, after the explanation it because clear but you cannot explain every Tribler user this.

[2016-05-12 08:52] lfdversluis commented on #2192
@devos50 Didn't you do something to selecting multiple rows recently?

[2016-05-12 08:53] lfdversluis commented on #2193
Most likely because this operation is done on the main thread (wx thread) that the GUI is running on, shouldn't be the case and will become impossible with 6.7 as the GUI runs separate from the core.

@whirm Is this a 6.6 issue though?

[2016-05-12 08:55] lfdversluis commented on #2195
Definitely a bug, thanks for reporting :)

[2016-05-12 09:05] lfdversluis commented on #2184
Confirmed it's not working well. Results never disappear for me on ubuntu 15.10, but Rasperberry pi does not show when searching for "pi", seen same behavior with different queries.

[2016-05-12 09:32] synctext commented on #2131
First running code: https://github.com/Jaapp-/app-to-app-communicator

[2016-05-12 09:48] synctext commented on #2131
Goals:
PEX operational with 1 PC emulated Phone, 2x android devices
Lookup local IPv4 and wifi/3G info plus include this as text field in PEX as info for overview screen of app.
Puncture-request message
ToastNotifier for each incoming UDP packet of a _new_ phone.

[2016-05-12 10:14] synctext commented on #2131
Detailed report on NAT puncturing: http://www.ds.ewi.tudelft.nl/reports/2010/PDS-2010-007.pdf

[2016-05-12 15:35] whirm commented on #2049
This build contains a bunch of debug info that should help me nail the issue:

https://jenkins.tribler.org/job/pers/job/Build_Tribler_6.5_builder_emilon/11/

Could you run Tribler for a bit and attach the log file again?

Thanks!

[2016-05-12 15:46] whirm commented on #2185
Thanks!

[2016-05-12 15:47] whirm commented on #2186
@devos50 do you want to have a look at this one for the new GUI?

[2016-05-12 15:50] whirm commented on #2190
It gets removed once dispersy notices, I'm not sure how this should be represented on the GUI.

[2016-05-12 15:55] whirm commented on #2193
It should be fairly easy to push the torrent creation to the threadpool and make the gui call async

[2016-05-12 15:58] whirm opened #2201 "Tunnel community log levels are wrong"
And are filling our user's log file with irrelevant info such as

[code]

[2016-05-12 15:59] whirm commented on #2184
@vi: Created a new bug for the wrong log levels on the tunnel community:

https://github.com/Tribler/tribler/issues/2201

[2016-05-12 20:32] nosuch17 commented on #2049
Alright, this time it worked !
Tribler is downloading, however on exit it creates an error and here is the log:
[Tribler.exe.log.txt](https://github.com/Tribler/tribler/files/262203/Tribler.exe.log.txt)

[2016-05-13 06:45] synctext commented on #2049
yet another error.. Many thanks again. This is highest priority for the Tribler team, as this is the last bugfix we need to take care of.

[2016-05-13 07:08] whirm commented on #2049
@nosuch17 by error you mean it shows a popup saying there was an error right? That's because debugging info has been written to the log.

I'll clean up the fixes and release 6.5.2!
Again, thank a lot!

[2016-05-13 08:43] devos50 commented on #2049
@nosuch17 Thanks for your help!

[2016-05-13 09:21] devos50 opened #2204 "Watchdog tripped during test (possibly due to leveldb lock)"
When running the tests, I got several watchdog tripped logs, see below.

Is there something going wrong with the shutdown procedure maybe?

[code]

[2016-05-13 09:46] qstokkink commented on #2106
Small milestone: [The standalone serialization/conversion](https://github.com/qstokkink/TriblerProtobufSerialization) has reached 100% unit test coverage and is ready for integration into Tribler.

[2016-05-13 10:09] lfdversluis commented on #2106
Interesting, so what is the gain from using (capnp vs) protobuf vs. struct.pack? I was thinking to also include this in the tunnel community on Tribler. If protobuf is in the official debian and ubuntu repos then it is indeed more favorable to use those.

[2016-05-13 10:13] #2049 closed

[2016-05-13 10:13] whirm commented on #2049
Fixed in `next`

[2016-05-13 10:42] qstokkink commented on #2106
The gain of capnp and protobuf over struct is in part readability of the message structures and also easy backward compatibility. Note that these approaches may *in some cases* (rare) waste a few bytes over hardcore manual struct definitions (although this is usually covered by smart message packing/compression).

For an example of the readability, the _votecast_ message is defined as follows righ

[2016-05-13 10:52] lfdversluis commented on #2106
And performance wise? Your protobuf wrapper really looks useful.

[2016-05-13 13:47] synctext commented on #2106
Solid progress.
Should really help with refactoring and moving towards a trust-based Dispersy.
Thus: a single walker, based on multi-chain records.

[2016-05-13 14:08] whirm commented on #1762
That was implemented by @LipuFei more than one year ago

[2016-05-13 14:08] #1762 closed

[2016-05-13 16:04] nosuch17 commented on #2049
no, i have to thank you guys, you made the program work for me ;)

@whirm yes about the popup.

[2016-05-13 19:54] qstokkink commented on #2106
@lfdversluis Captain proto is faster because it actually stores objects serialized in memory. Protocol Buffers does not however, this makes it slower (https://capnproto.org/ has a nice bar plot of the two).

[2016-05-13 20:29] lfdversluis commented on #2106
yeah the infinite speed thingy I am familiar with. Was wondering if you had done any comparison and stress testing :D

[2016-05-15 08:21] qstokkink commented on #2106
After extensive whiteboard work, I think I have a new community design everyone can be happy with. The design both allows backward compatibility and forward compatibility, without having to change Dispersy. Note that this __*immediately adopts the single walker for all communities*__. Here is the class overview, which I will explain below:

![](http://s32.postimg.org/xlfbnst4l/newtriblercommunitie

[2016-05-15 13:37] lfdversluis commented on #2106
I am already quite convinced about your protobuf wrapper, although I am not sure how much time we gain using it (I know it is faster than struct.pack which we use in all conversion.py files now).
This plan sounds good!

If we decide to take this approach, I would be happy to make the anon-tunnels use this system, but to what extent do you think this will require rewriting? I cannot spend months on

[2016-05-15 14:54] qstokkink commented on #2106
@lfdversluis this can work alongside 'old' channels so there is no need to immediately switch. To answer your question: *assuming the CommunityManager exposes all of the required functionality correctly* you could probably switch the community code itself in a day (+- 6 hours). __*However*__ changing all of the unit tests as well, getting the code peer reviewed and running into unexpected issues w

[2016-05-15 17:34] synctext commented on #2106
epic weekend work!

Please note that backwards compatibility is not needed. If we can release a new Tribler with a fresh, lighter, and faster AllChannel, that is all OK. We reset all the votes. Another release could break and upgrade search, tunnel, etc.
To upgrade to a single MultiChain based walker we need different communities at some point.

If we can avoid breakage of compatibility with littl

[2016-05-16 09:55] devos50 commented on #2106
@qstokkink we currently have no dedicated unit tests for each individual community. Since the (big fat) wx tests will be removed soon, the coverage in the `Tribler/community` module will drop tremendously. I think the refactoring of the communities module is a good opportunity to write new unit tests.

I don't think I really understood the idea of the `NewCommunity` vs `OldCommunity`. Can you expl

[2016-05-16 11:27] lfdversluis commented on #2137
I noticed in the last benchmark the creating of the table at the client side was included in the time measurement which shouldn't be included. Below the corrected plot:
![benchmark cpu network and io](https://gyazo.com/79be5af31b9ed89146f821bedae14d15.png "Benchmark cpu network and io")

Blue remains the best, but the all synchronous case is now the worst. The gain became even bigger between blue

[2016-05-16 14:01] lfdversluis commented on #1703
@whirm This issue can be closed, it is no longer relevant. Re the backup of the data, if it's desirable it should go into a new issue (wasn't there one?). Apparently backwards compatibility may be broken more in the future, as per @synctext mention in #2106.

[2016-05-16 16:31] qstokkink commented on #2106
@devos50 Not having any unit tests does definitely speed up the time it would take to adopt this new scheme. Furthermore, writing new tests should be a lot easier now.

The old communities are for backward compatibility, such that in the transition period between Tribler version switches, communities do not get torn in two. This would happen because of the switch in wire protocol, which would make

[2016-05-17 09:20] #2148 closed

[2016-05-17 10:20] whirm opened #2212 "The "error happened" dialog should contain a link to the issue tracker"
Otherwise people keep reporting issues on the forums and I keep telling them to create an issue here :)

[2016-05-17 13:28] whirm commented on #1703
@lfdversluis that's a differend kind of break, one thing is breaking on disk format compatibility and the other is protocol compatibility.

[2016-05-17 16:18] synctext commented on #1703
The naming convention is actually never documented or formalized. It's user-uptake focused.
The convention I used so far was something like: new major number when release has an understandable killer feature that can be explained in a TorrentFreak/Arstechnica post.

Putting this aside, 7.0 probably has a lot of radical changes (QT GUI, credits, Android, etc.).

[2016-05-18 13:23] lfdversluis opened #2215 "Measure IO time spend when running the unit tests"
To gain insight into the IO time consumed by tribler, I will profile the functions with yappi in databamanagers such as `sqlitecacbedb` to measure the time spent on IO time when running the unit tests.

Output:

| Disk type | Runtime tests | IO Time |
| --- | --- | --- |
| SSD |  |  |
| SATA |  |  |

[2016-05-18 13:26] lfdversluis opened #2216 "IO numbers of functions using DB stuff"
Check this for the three database managers and aggregate the numbers.

Including:

- How many functions use cursors
- How many of these call e.g. dispersy or GUI items

[2016-05-18 13:27] lfdversluis opened #2217 "Create a callgraph of methods calling database managers"
To gain insight into the amount of callers of these managers. Related to #2216.

[2016-05-18 13:39] lfdversluis opened #2218 "Fix the jenkins idle run tests to create a basis for ensuring tribler doesn't break when introduction the storm DB manager"
First step:
- [x] Fix the one week job (and apply the same fix to the 86 hour, 1 day etc.)
- [x] Replace the idle run with @devos50 twistd plugin
- [ ] Join hardcoded channels
- [x] Let it run idle for +- 30 minutes so Tribler syncs
- [ ] Check if any crashes occurred
- [ ] Analyse the results.

The results include:
- Time spent on (blocking) IO (?)
- # synced packets
- CPU consumption (Gumby prov

[2016-05-18 13:51] synctext commented on #1883
As discussed today:
 - study Execute and ExecuteMany in Dispersy and Tribler
 - Create stress test job
 - serial IO thread in threadpool with inline deferred calls.

[2016-05-18 14:11] synctext commented on #1882
Connected to: https://github.com/Tribler/tribler/issues/2137

[2016-05-18 14:35] qstokkink commented on #2106
Alright, I finished compiling [the list of current Tribler wire-format messages, containing data/member/field types and aliases](https://gist.github.com/qstokkink/f011c336b78063e5a8380025d239ffda). Just in case anyone wants to know what a particular message looks like on the wire right now. This will be the base for the Protocol Buffers definitions, such that transitioning will be as painless as p

[2016-05-20 08:36] devos50 opened #2222 "Ubuntu devel builder does not work on devel branch"
The job `Build-Tribler_Ubuntu-64_devel` is currently not working and failing on the `dch` command. On next, it works. The problem appears to be due to the fact that the result of `git describe --tags HEAD` is different on `next` (`v6.5.2`) than on `devel` (`v6.5.0-rc5-772-g658647a`).

@whirm what do you suggest how to fix this? Should we split on `-` character and take the first part?

[2016-05-20 08:58] synctext commented on #2222
Error link:
https://jenkins.tribler.org/job/Build-Tribler_Ubuntu-64_devel/584/console

[code]

Failing code:
https://github.com/Tribler/tribler/blob/devel/Tribler/Main/Build/update_version_from_git.py#L43

```runCommand('dch -v {} New upstream release.'.format(version_id).split())```