[2015-02-19 12:09] corpaul commented on #1242
assigned to @corpaul

[2015-02-19 12:57] whirm commented on #1237
@synctext could you test a devel build and see if it still happens?

[2015-02-19 13:05] whirm commented on #952
@rjruigrok did you check the issues you got assigned? I think several could be closed now.

[2015-02-19 15:53] synctext commented on #5
@VoR0220 The final thesis report and overview can be found here:
https://github.com/Tribler/tribler/wiki/BarterCast3

But: the key lesson is don't try this (not in report). Better approach is to deny service if a user is below "freerider level" and just let all the non-freerider sharing according to network conditions.

[2015-02-19 16:20] #262 closed

[2015-02-19 17:29] #1204 closed

[2015-02-20 11:02] synctext commented on #1228
No idea what the progress column in MyPreference is used for. Feel free to cleanup.

[2015-02-20 21:24] VoR0220 commented on #5
Thanks a ton @synctext  I can't wait to read what you found and learn from you :)

[2015-02-21 19:19] JeffGoderie opened #1259 "Unable to install dependencies on clean Ubuntu 14.04"
I was unable to install libsodium13 and python-cryptography through the command that you provided in the README.md. I'm using a clean Ubuntu 14.04 Install, and I was not the only one encountering this problem. It returned the following errors:

    E: Unable to locate package libsodium13
    E: Unable to locate package python-cryptography

[2015-02-21 19:21] JeffGoderie commented on #1259
I've opened a pull-request with an update to the README.md that explains a way to solve this issue.

[2015-02-21 20:02] Lottiotta opened #1261 "Remember my sort preferences"
(Most of the issues on this are really complex and way over my head, so I completely understand if this is a low priority, but it bugs me so here it is.)

I always like my torrents sorted by progress, ascending. I would like it if Triblr could remember that. I'm on a Mac, if that's relevant.

Thanks!

[2015-02-21 20:04] Cassolotl opened #1262 "Ability to change default page (home, downloads, etc.)"
(Most of the issues on this are really complex and way over my head, so I completely understand if this is a low priority, but it bugs me so here it is.)

I'm never interested in the Home page of Triblr. If there could be a setting that lets me set my default homepage upon opening Triblr that would be great. I'd like to set it to open on Downloads.

[2015-02-21 22:13] LipuFei opened #1264 "Move FamilyFilter settings into Session"
The FamilyFilter is in `Tribler/Core`, but the actual settings are in `Tribler/Main/Utility/utility.py`, called `family_filter`. Should we move it into Session instead?

[2015-02-22 21:55] colin1497 commented on #3
With regard to "never" being an exit node, a more logical/usable approach is to allow being an exit node only for your own torrents.  While ideally the darknet just works, a reasonable method of usage is: download torrent non-anonymously and switch to anonymous and only seed to the darknet after completion.  Upon starting a torrent download, this process should be automatically selectable as an op

[2015-02-23 04:00] TorDevz opened #1265 "Windows and OSx"

[2015-02-23 04:00] #1265 closed

[2015-02-23 04:03] TorDevz opened #1266 "Windows and OSX Build and Packaging Documentation"
Hi everybody,

A few of us would like to contribute to tribler development but need help getting started.

Could anybody update the build and packaging documentation for windows and OSX?

It seems some of the dependencies are broken, a requirements.txt or a shell/bat script and instructions would be very helpful for devs who want to get involved.

Thanks

[2015-02-23 09:24] whirm commented on #1266
@LipuFei could you take care of this?

@TorDevz in the meanwhile, you could take a look at ```debian/control``` so see the dependency list.

[2015-02-23 11:30] #1259 closed

[2015-02-23 13:21] synctext opened #1269 "Unable to install dependencies on clean Ubuntu 14.10"
[code]

[2015-02-23 13:46] LipuFei commented on #1269
@synctext run the following command and try again
[code]

[2015-02-23 14:22] #1269 closed

[2015-02-23 15:01] Innomen opened #1271 "Just creating this so I can be informed when there is a windows version for non-coders."
I hope someone comments here when that happens or tells me how to accomplish that end. Thank you for your time :)

[2015-02-23 15:58] #1164 closed

[2015-02-23 15:59] whirm commented on #1271
What do you mean by a windows version for non-coders? An installer?

[2015-02-23 17:31] Innomen commented on #1271
Obviously.

[2015-02-23 17:43] whirm commented on #1271
Well, we've always had the download links on the main site: https://www.tribler.org/
Also, as any other github project you can go to the releases page: https://github.com/Tribler/tribler/releases and get the latest releases from there too.

[2015-02-23 17:43] #1271 closed

[2015-02-23 18:09] Innomen commented on #1271
Well that's just another reason github is awful. I guess that's why you felt it wise to make your own page :)

Why I was mislead:

On the main page is says:
"Windows and OSX TODO"

And on "https://github.com/Tribler/tribler" releases is hidden in tiny grey on white text buried between "branches" and "contributors." And I wasn't even looking for that word. the whole rest of the net uses words like

[2015-02-23 18:32] #1228 closed

[2015-02-23 18:33] LipuFei commented on #1228
@whirm I was thinking about this. I don't think trying to migrate `TriblerDownloads` directory from `Desktop` to `Downloads` would not be a good idea because the `destination_dir` column in `MyPreference` table has references to where the downloads are. So if we do so, it will make a lot of troubles and we have to do a lot of work to make sure everything is ok...

So, let's close this.

[2015-02-23 18:33] LipuFei commented on #1228
@whirm If you agree, you can also close #1099

[2015-02-23 18:37] whirm commented on #1228
@LipuFei so the existing downloads will finish on the old place and the new ones will go to the new one.

Good enough.

[2015-02-23 18:38] #1099 closed

[2015-02-23 21:52] LipuFei commented on #899
Closing this one because we are doing the refactory bit by bit.

[2015-02-23 21:52] #899 closed

[2015-02-23 21:53] LipuFei commented on #787
@whirm I guess this should go to V6.5

[2015-02-23 21:56] LipuFei commented on #448
@synctext @whirm Haven't seen this one. Could we close this one?

[2015-02-23 21:58] LipuFei commented on #109
@NielsZeilemaker @egbertbouman @whirm @synctext I guess this one can be closed.

[2015-02-24 07:29] NielsZeilemaker commented on #109
Why? Is the pymdht already removed?

[2015-02-24 08:22] whirm commented on #448
@LipuFei fine by me

[2015-02-24 08:42] #448 closed

[2015-02-24 08:43] LipuFei commented on #109
@NielsZeilemaker Not yet.

[2015-02-24 10:38] synctext opened #1279 "addTorrentTrackerMappingInBatch: ValueError("Invalid URL: " + repr(url))"
in latest devel.

[code]

[2015-02-24 10:56] whirm opened #1280 "EBADF, 'Bad file descriptor'"
Saw this on one of the test runs for a PR

[code]

[2015-02-24 14:50] #1280 closed

[2015-02-24 14:51] #1279 closed

[2015-02-24 16:55] LipuFei opened #1285 "Remove TorrentStatus and Category tables"
For now we are using an `id (integer) <-> string` mapping for torrent status and categories, but we only have a fixed number of torrent status and categories and they haven't been changed for years, so this whole thing seems to be unnecessary. Also, in the SearchCommunity we are sending torrents with actual category name instead of category_id.

So, I think it is better to remove the two tables `T

[2015-02-24 17:10] whirm commented on #1285
Sounds great to me

[2015-02-25 14:56] synctext opened #1287 "structured performance suite?"
in the far _far_ future after anonymous downloading is completed and used by 1+ million people, we can focus on performance. A structured performance test for Tribler is very difficult. What is typical network traffic to process? How good is the UDP NAT puncturing doing? What peers am I connected to for search?

We need to evaluate various options, as we already have a mature unit testing framewor

[2015-02-25 17:28] LipuFei opened #1289 "Is this azureus_properties needed?"
Is this `azureus_properties` in torrent file and `TorrentDef` needed? No actual code is using those things.

[2015-02-25 17:36] LipuFei opened #1290 "Strange files in Tribler/Core/Utilities"
There are some strange files `Tribler/Core/Utilities`, such as `clock.py`, `Crypto.py`, and `encoding.py`. What are they used for?

[2015-02-25 18:07] whirm commented on #1289
I think this is from when we had the python torrent engine from ABC

[2015-02-25 19:55] LipuFei commented on #1289
@synctext @whirm Can we remove it?

[2015-02-27 09:44] alex9311 commented on #1264
Hi, I'm part of a group for Delft's Software Architecture class and we are investigating Tribler. We are looking for smaller areas we can help in. If you decide that the FamilyFilter settings should be moved and you think it is something someone who isn't closely involved with your project could do,  please let us know! (@alex9311 or @JeffGoderie)

[2015-02-27 10:06] whirm commented on #1264
@alex9311 @JeffGoderie  could you join ```#tribler``` at freenode? We can find some tasks for you guys to choose from.

Thanks!

[2015-02-27 10:38] NielsZeilemaker commented on #1290
I think clock was/is used by rawserver to do some crazy timing on windows, I tried to understand what was happening there -> failed.
Crypto.py should die.
Encoding.py was build by boudewijn to be a more efficient type of serialization than json (it obviously isn't) but it's used by the channels I think so we can't get rid of it.

[2015-02-27 11:28] synctext commented on #1264
@alex9311 @JeffGoderie @whirm
Nice to hear you are joining us for this coursework. FamilyFilter is a very boring thing to work on.
We should be able to brainstorm and come up with something more exciting.
Is this suppose to be online-meeting and collaboration only? A physical 30minutes of interactivity might be productive+ get me to understand your talents and interests.

[2015-02-27 11:33] synctext commented on #1264
@alex9311 @JeffGoderie
After some thinking, are you specifically looking for smaller, clearly defined tasks, realistic for newcomers..?

[2015-02-27 12:16] whirm commented on #1169
Closing this one as the plan is to remove the dialog entirely on the next release.

[2015-02-27 12:16] #1169 closed

[2015-02-27 12:17] whirm commented on #787
Should this be taken care of by @rjruigrok too?

[2015-02-27 12:33] synctext commented on #1290
You do a call to simple `get_time()` and you end up with undocumented and for me unexpected `_MAXFORWARD` + `_FUDGE` added for free [clock.py : L21](https://github.com/Tribler/tribler/blob/devel/Tribler/Core/Utilities/clock.py#L21) ?
Bloody h*ll or is this somewhat normal? Crazy timing?

After this grant writing is done, I should really spend a month playing and browsing our code base.

[2015-02-27 12:36] NielsZeilemaker commented on #1290
Like I said, I tried to make sense of it and failed. At first I thought this was fixable, but I think we should remove RawServer altogether to get rid of stuff like this.

[2015-02-27 14:03] synctext commented on #1290
Thnx @NielsZeilemaker
@LipuFei  please work with @whirm and try to come up with an approach to clean this up.

[2015-02-27 14:21] whirm commented on #1290
The RawServer can't be removed until all the database stuff is moved out of the dispersy thread. I already implemented an endpoint that used the twisted stuff but we lost too much packets when IO was high.
We started doing work in that direction (moving all the SQL stuff out of the constructor so they could be called from the database thread pool) but we found too many difficulties and we decided

[2015-02-27 14:28] NielsZeilemaker commented on #1290
Alternatively we could use the standalone endpoint which is a thread
reading packets from a socket.
That's more or less what we need right?
2015-02-27 15:21 GMT+01:00 Elric Milon <notifications@github.com>:

[2015-02-27 18:37] JeffGoderie commented on #1264
Hi, the course asks for one or more useful contributions. However, the course has more aspects beside the contributions as well, making up for a large portion of the time set for the course, therefore we probably are not capable of doing a large contribution. So we'd say that smaller/medium sized tasks are preferred, and while they probably have to be suited for newcomers, they don't have to be fu

[2015-03-02 14:52] synctext commented on #1264
@binnimar @PetervB @alex9311 @JeffGoderie
Before coding, the first easy tasks are documentation. Always a chronic lack of this.
What info did you miss when new to Tribler as an interested pro-user/developer and where can we put this info?

[2015-03-02 16:31] synctext commented on #1289
sure, feel free to delete. Just be confidant it does not break stuff, like this that I found with a quick Google search: `azureus_properties/dht_backup_enable`

[2015-03-02 16:33] synctext commented on #1237
@ whirm are we using a new Libtorrent version in the latest installer?
I'll try to find some time to test this again.

[2015-03-02 16:44] whirm commented on #1237
AFAIK yes, @LipuFei we are, right?

[2015-03-02 16:52] LipuFei commented on #1237
@whirm Yes, we are using libtorrent 1.0.3 on Mac.

[2015-03-03 07:45] #1289 closed

[2015-03-03 09:23] #1165 closed

[2015-03-03 18:04] xur86x opened #1301 "Using Tribler with a VPN stops the download"
I recently got myself a VPN (Private Internet Access, to be exact) and it seems to conflict with tribler. As soon as I start it, tribler stops downloading/uploading. When I deactivate it everything runs as usual.
I liked the idea of having an extra layer of anonymity in addition to the 5 hops, but it seems that's not possible (yet).
It could be something in the settings of the VPN that causes this

[2015-03-04 12:13] whirm commented on #1301
Does restarting Tribler once the VPN is up help?

[2015-03-04 15:07] synctext commented on #1174
After more thinking and forum discussion I'm now in favor of just adding an "Exit node" flag  in the config screen. It's a quick fix and then we can decide later if we go with the "only darknet mode".
Forum post by Roli: http://forum.tribler.org/viewtopic.php?f=2&t=7143&p=11662&sid=83bbed72b5ce09a38cf3432c8f4110d0#p11635

[2015-03-04 17:50] xur86x commented on #1301
I just restarted it and now I get 5KB/s speeds, which is at least something. How exactly does the reputation system work? Could it be that a VPN affects it?

[2015-03-05 03:59] leethax666 opened #1304 "Sort channel by torrent added date?"
It would make it a lot easier to find recent torrent releases. Thanks!

[2015-03-05 10:31] LipuFei opened #1305 "Fix freeSpace() or drop it"
`freeSpace()` in `SqliteCacheDBHandler.py` doesn't work any more. We either fix it or drop it.

Now every torrent is stored in `state_dir`, so if we want to check the disk space, we need to check the drive that holds `state_dir` but not `TriblerDownloads`.

[2015-03-05 11:08] whirm commented on #1301
Tribler doesn't notice when your network config changes, so you need to restart it.

Do you get 5KB/s by using tunnels and VPN?

The reputation system is still not working on the latest release, so don't worry about that.

[2015-03-05 11:11] whirm commented on #1305
We should fix it. And I guess we should check for disk space issues on all the directories Tribler writes data to.

[2015-03-05 12:53] rjruigrok commented on #1174
I'll try to get this working in the coming week.

[2015-03-05 16:19] xur86x commented on #1301
That low download speed could also come from less peers uploading. Since I can't be sure let's just ignore this for now. The VPN is as fast as my normal speed so I'm pretty sure it is not the cause for the low speeds. Is it possible that Tribler automatically recognizes if I connect to a VPN while running?

[2015-03-05 16:54] whirm commented on #1301
Tribler doesn't care/check if you are using a VPN or not.

If you are enabling the tunneling and using 5 hops, getting 5KB/s is perfectly normal, (each layer adds overhead, and the whole tunnel chain will go as fast as the slower link minus the overhead)

Try lowering to 1 hop and see if it improves.

[2015-03-05 17:10] xur86x commented on #1301
It's actually getting around 15 to 50 now, so everything seems fine. Thanks for the help.

[2015-03-05 17:10] #1301 closed

[2015-03-05 20:14] whirm commented on #1301
Enjoy! :)

[2015-03-06 13:10] synctext opened #1307 "Database recovery failed, Tribler tried to recover, but failed."
An incorrect megacache (partial upgrade, running bleeding edge devel)
can bring down Tribler upgrade script.

It gave a nice pop-up, that it failed to covert and was starting a fresh megacache.
Then it halted on the error below.

[code]

[2015-03-06 13:15] LipuFei commented on #1307
@synctext Could you check the version number of your database?
[code]

[2015-03-06 14:31] #1307 closed

[2015-03-08 20:40] JeffGoderie commented on #1264
First of all, sorry for the late reply, I, and I think the rest of the team missed to notification of your reply.

When first trying to get Tribler working we encountered a dependency problem, which we managed to fix and we added the corresponding documentation to the README.md in the main project repo (https://github.com/Tribler/tribler/pull/1260).

One thing we noticed when going through the rep

[2015-03-09 09:34] synctext opened #1312 "Traceback error messages from the latest devel"
Quick writeup of 1 frequent warning and 3 Tracebacks:
[code]

[2015-03-09 12:41] LipuFei commented on #1264
@binnimar @PetervB @alex9311 @JeffGoderie. Besides all the packages metioned in the `README.md`, you also need `libsodium` and `python-cryptography`. You can find the `.deb` packages in the following links:

1. http://packages.ubuntu.com/vivid/libsodium13
2. http://packages.ubuntu.com/vivid/python-cryptography

Another thing is that I am planing to do this recently, but then you will not be able t

[2015-03-09 12:53] JeffGoderie commented on #1264
@LipuFei, those were the packages we had the problems with. Therefore we wrote the small addition to the README.md (Pull request #1260).

If we can help by writing guidelines for new developers, we would be glad to do so. Is there a specific project member to address for the required details (e.g. what guidelines you would like new devs to follow)?

[2015-03-09 13:26] LipuFei commented on #1264
@JeffGoderie You can ask me if you have any question. :)

For the coding standard, please follow PEP8.

[2015-03-09 13:49] synctext opened #1316 "make search community backwards compatible after Libswift removal"
avoid changing the Community ID.
As this would significantly reduce content discovery and search results.

[2015-03-09 13:53] #1285 closed

[2015-03-09 13:54] synctext commented on #1264
@binnimar @PetervB @alex9311 @JeffGoderie
Development pointers documents are quite advanced. Can you try for 1 week to test,fix, update + expand the Dispersy tutorial (s) : https://github.com/Tribler/tribler/wiki#overlay-protocol-for-synchronization
That should be a realistic achievable task ?

[2015-03-09 15:55] whirm commented on #1316
This means either:
 * Reverting the PR I made removing the swift hash from the message and changing the CID and keep sending a dummy hash around with each query.
 * Re-implement it by using the community version system which we agreed on not using because it was buggy and test/fix the community version stuff.

[2015-03-09 15:59] synctext opened #1317 "ArgumentError: Python argument types in libtorrent.bdecode(NoneType)"
[code]

[2015-03-09 16:05] synctext commented on #1316
Community version are to be avoided indeed, if possible.

What is the easiest solution?
How costly are dummy hashes ? would that confuse/cripple the older peers? (no Libswift to download).
A lightweight version system would be nice; keeping track of what version they speak and adjusting for each peer.

[2015-03-09 16:31] whirm commented on #1316
Well, reverting a commit is quite easy :D It won't confuse anyone, It's just wasted bandwith.

As for the lightweight version system, we should have to look at it.

[2015-03-09 16:39] synctext commented on #1316
OK. How many bytes are search-request and search-responses? How much do we waste then?

[2015-03-09 16:46] whirm commented on #1316
I don't know, I guess it mostly depends on the amount of items on the response message, Ill check tomorrow.

[2015-03-10 10:08] #1317 closed

[2015-03-10 23:21] alex9311 commented on #1264
@synctext
We will take a look at testing, fixing, and updating the dispersy tutorials over the next week. Thank you for the suggestion, we will be in contact!

@LipuFei (or @synctext  )
Are there any smaller code-related tasks we can try to take on as well?

[2015-03-11 10:33] whirm commented on #1264
@alex9311 you could check the issues marked with the ```needs volunteer``` tag some of them are easy, some others are quite isolated from the bulk of Tribler's code (IE the automatic version checker, auto-updater, etc...)

[2015-03-11 10:33] LipuFei commented on #1264
@alex9311 Unfortunately I think we have finished most small refactory tasks, but I will let you know when I find something.

[2015-03-12 13:22] whirm commented on #1316
@synctext it's 2 bytes per torrent on the response message.

[2015-03-12 13:24] whirm commented on #1312
We already have issues oppened for the stacktraces not yet fixed on this list, closing.

[2015-03-12 13:24] #1312 closed

[2015-03-12 13:36] whirm commented on #1237
@synctext don't forget about that one

[2015-03-13 06:17] synctext commented on #1174
@rjruigrok Good to hear progress on this ticket.

@whirm @LipuFei : please review the approach taken by Rob
https://github.com/Tribler/tribler/compare/devel...rjruigrok:exitnode-switch

As suggested we should release this soon. When this is done and there are no other pressing open issues (DB upgrade fully done?) we can build an RC1 and start testing a new release!

[2015-03-13 20:31] NielsZeilemaker opened #1328 "Selectcallback bug"
Got the following stacktrace:
[code]
Needs an if to check if selectcallback is actualy != None

[2015-03-13 20:34] NielsZeilemaker opened #1329 "Could not open channel"
[code]

[2015-03-13 20:37] NielsZeilemaker opened #1330 "Bartercast4 is printing defaultdicts to console"
https://github.com/Tribler/tribler/blob/devel/Tribler/community/bartercast4/statistics.py#L96

[2015-03-13 20:51] NielsZeilemaker opened #1332 "Magnet retrieval does not refresh files tab"
After fetching a torrent the files tab does not refresh

[2015-03-13 21:10] NielsZeilemaker opened #1333 "Remotetorrenthandler"
ERROR   1426280548.55 RemoteTorrentHandler:615   failed to save data for download f907a77bdc515feb7e2701bf80d0094dbd1047cd.torrent: node port not int, but ```<type 'long'>```

[2015-03-13 21:38] LipuFei commented on #1333
@NielsZeilemaker Looks like the torrent file has a non-integer port number, but the message is missing the last part. It should be "but `repr(type(port))`". Could you find that missing part?

[2015-03-13 21:40] NielsZeilemaker commented on #1333
It said long, so I guess it's a simple fix

[2015-03-14 14:17] NielsZeilemaker opened #1335 "Bartercast4 is disabling bloomfilters caching etc"
I would remove the part of the code from
https://github.com/Tribler/tribler/blob/devel/Tribler/community/bartercast4/community.py#L79
unitl
https://github.com/Tribler/tribler/blob/devel/Tribler/community/bartercast4/community.py#L88

[2015-03-16 11:17] Baigle commented on #23
I can help provide 1TB, though I will be limited on the async upload speed. If it proves to be very successful and help is still needed then I can do some upgrading.

[2015-03-18 14:49] #1329 closed

[2015-03-18 15:10] whirm commented on #1316
I'm reverting the changes and we can apply them again or a modified version of it when we decide what to do.

[2015-03-18 16:48] #1333 closed

[2015-03-19 08:54] tm45 opened #1346 "Custom python installation breaks tribler"
When there is a file /usr/local/bin/python, tribler (6.4.3) won't start. After removing or renaming this file, tribler works fine. It seems tribler doesn't explicitly rely on system python (/usr/bin/python), but to python set by the current environment, which, if custom python is installed, is /usr/local/bin/python.

Please update all the shebangs in tribler's python files so that they explicitely

[2015-03-19 15:53] whirm commented on #1346
If you want Tribler to use a specific python interpreter, just put its location first on your $PATH.
Using the one in the environment is the right thing to do (allows one to use virtualenvs, etc.)

Thanks for your report.

[2015-03-20 07:47] corpaul commented on #1238
Added unittests for statistics.py https://github.com/Tribler/tribler/pull/1347.
Need to discuss with @whirm on how to test community.py

[2015-03-21 20:38] tm45 commented on #1346
I forgot to mention that I installed Tribler as Ubuntu package (tribler_6.4.3_all.deb). I agree that in source code shebangs must refer to python from current environment. But when packaged for Ubuntu or another OS, the program must explicitly rely on a particular python interpreter, which it should list as its dependency and which also must be installed by the package manager. The package tribler

[2015-03-21 21:06] synctext commented on #1237
@whirm @LipuFei  All Devel builds this months for Mac have failed.
http://jenkins.tribler.org/job/Build-Tribler_OSX_devel/
Nothing to test.

[2015-03-23 13:16] whirm commented on #1346
Ah, that makes more sense :)

I'll fix that.

Thanks for the report!

[2015-03-25 09:28] NielsZeilemaker opened #1354 "Searchmanager nullpointer"
[code]

[2015-03-25 09:52] LipuFei commented on #1354
@NielsZeilemaker should be fixed by a02d875

[2015-03-25 09:52] #1354 closed

[2015-03-25 09:58] LipuFei opened #1355 "set_megacache() should go away"
Those DBHandlers are just different wrappers for the database core. Since we always initialize the database core anyway, this settings option doesn't make any sense and the it simply makes tests fail because they forget to set megacache to True.

[2015-03-25 10:16] LipuFei commented on #1355
@corpaul Are you still having trouble with the megacache? I plan to fix this after #1353.

[2015-03-25 10:25] corpaul commented on #1355
well, not trouble, but I wanted to use a session in a unit test and to use the database I had to enable the megacache. I'm not using a session anymore but it still doesn't really make sense to me :)

[2015-03-25 10:53] NielsZeilemaker commented on #1355
Tribler should be able to run without a database, why do we always initialize the database?

[2015-03-25 11:25] LipuFei commented on #1355
Because we have to check the version number from the database.

[2015-03-25 11:31] NielsZeilemaker commented on #1355
Only if you have a database, if you turned it off it doesn't make sense to check the version

[2015-03-25 11:35] LipuFei commented on #1355
So now the upgrade happens before the session starts. During the upgrade, if there is no database, we will create one (which is the latest version), if there is a database, we check its version and do some upgrade if needed. So, after the upgrade, there will definitely be a working database.

I agree that Tribler should be able to run without a database, but putting the Tribler version into the da

[2015-03-25 11:41] NielsZeilemaker commented on #1355
The upgrade is started in the Session.prestart method, which already has access to the sessionconfig.
Simply check there if the megacache is enabled, and only perform the upgrade then.

[2015-03-25 11:43] NielsZeilemaker commented on #1355
In the Tribler upgrader check if db != NULL

[2015-03-25 11:43] LipuFei commented on #1355
ok, I will have a try.

[2015-03-30 16:02] bagusflyer opened #1357 "Is it possible the video player in iOS/Android?"
I'm wondering if it's possible to run the video player running on mobile devices like iOS or Android? Thanks

[2015-03-30 16:09] synctext commented on #1357
We have initial code for running parts of Tribler on Android. The video player integration has prven to be difficult:
http://jenkins.tribler.org/job/Build-AT3-ARM-32/
http://jenkins.tribler.org/job/Build_Test-TSAP_Android_pull-requests/
http://jenkins.tribler.org/job/Build_Test-TSAP_Android_master/

Documentation in the form of 3 large reports:
http://repository.tudelft.nl/search/ir/?q=android+tri

[2015-03-31 01:25] bagusflyer commented on #1357
Thanks. I see. No iOS support by far?

[2015-03-31 09:47] PetervB opened #1359 "Add package information to __init__.py"
Add a comment to the **init**.py files about the purpose of the code inside the package. This is intended as documentation for outside developers to use.

We discussed this with the professor yesterday and I'm currently working on this.

[2015-03-31 11:37] alex9311 commented on #1187
I took a crack at this issue. The get_creation_date method mentioned by @aronj does indeed return the creation date of the torrent file rather than the date it was added to the library. So we don't want that.

As far as I can tell, the date the torrent is added is not currently being stored anywhere. So that would need to be added. I got a bit lost in the code finding out how to add this info to t

[2015-04-06 22:33] vi opened #1361 "Can't insert https:// link to torrent file into Tribler"
For example, `https://tails.boum.org/torrents/files/tails-i386-1.3.2.torrent`.

[2015-04-09 18:37] qherreros opened #1363 "Icon in low resolution in Ubuntu 14.04"
The unity icon on the left bar appears to be in low resolution. It looks kind of ugly.
![screenshot from 2015-04-09 19 36 16](https://cloud.githubusercontent.com/assets/7406885/7074086/c6b54390-deef-11e4-9c83-598fdfe58db4.png)

[2015-04-12 21:43] YakovL commented on #1194
Any progress with this? By the way, Popcorn Time team have solved the similar problem: https://git.popcorntime.io/popcorntime/desktop/issues/49

[2015-04-13 10:53] NielsZeilemaker opened #1365 "Remove Tribler/Debug"
I think we should get rid of Tribler/Debug, the console wrapper stuff seems dodgy at best and since we're using logger we shouldn't need any protection wrt stderr anymore.

[2015-04-14 13:25] corpaul opened #1366 "bartercast statistics record wrong data"
the statistics in devel record the mid of the circuits instead of that of the peers. will fix but need an isolated experiment working in gumby to test.

[2015-04-14 18:03] zuperia opened #1367 "Using tribler without "anonymous download" option"
What is when you forget  the anonymous download option or it didn't asked for because you choose streaming and there wasn't any anonymous option. Does it mean that tribler was completly not anonymous. Can you be caught easily because of this?

[2015-04-15 21:12] vi commented on #1361
Can't insert `file://` link as well...

[2015-04-16 01:58] juanda-097 opened #1368 "Backing up a channel"
es{Desearía ver que en la siguiente version de "tribler", se pudiera hacer una copia de respaldo a un canal propio o con el número de identificador se pudiera pasar de un "tribler" a otro "tribler" la administración de un canal.

Discúlpeme por mi ingles.}

en{Would like to see in the next version of "Tribler" could be done a backup to own channel or ID number you could pass a "Tribler" another "T

[2015-04-16 14:12] whirm commented on #1363
thanks for the report!

[2015-04-16 14:15] whirm commented on #1365
I completely agree

[2015-04-16 14:21] whirm commented on #1367
If you don't enable tunneling, it will download the torrent the same way any other torrent client out there.

Also, have in mind what the tunneling opt-in dialog tells you: With the current implementation, Tribler will act as an exit node for other peers' downloads too, which is really not advisable if you are not absolutely sure about what you are doing.

[2015-04-16 14:21] #1367 closed

[2015-04-16 14:22] whirm commented on #1361
thanks for your report!

[2015-04-16 14:30] whirm commented on #1368
Para poder transferir la propiedad de un canal de una instalacion a otra deberia ser suficiente copiar ec.pem/ecpub.pem al nuevo .Tribler/ (Estos ficheros contienen la claves publica/privadas utilizados en los canales creados por ti) Con eso transferirias tu ID, de forma que tendrias exactamente los mismos permisos en los canales, etc.

Quizas se podria anyadir una herramienta para hacer copia de

[2015-04-16 14:32] whirm commented on #1368
For non-spanish speakers: He's basically asking for a way to tranfer channel ownership/Tribler ID across machines.

Maybe we could have a dialog to import/export the keys on the settings pane?

[2015-04-17 17:58] rjruigrok commented on #1005
This bug can be closed.

[2015-04-17 17:59] rjruigrok commented on #1120
This one too, can be closed.

[2015-04-17 18:00] rjruigrok commented on #1157
Does not happen anymore. :)

[2015-04-17 18:05] whirm commented on #1005
@rjruigrok don't you have permissions to close them yourself?

[2015-04-17 18:07] rjruigrok commented on #1005
Nope.
3 months ago I had those permissions, but now they magically disappeared. :)

[2015-04-17 20:39] whirm commented on #1005
Oh well...

[2015-04-17 20:39] #1005 closed

[2015-04-17 20:39] #1120 closed

[2015-04-17 20:39] #1157 closed

[2015-04-18 18:15] zuperia commented on #1367
Can you be tracked easily without anonymous option? Have there been cases when somebody used it in the past without anonymous option and was caught?

[2015-04-20 06:52] NielsZeilemaker opened #1369 "KeyError in SearchList"
Caused the searchtest to fail at least once

[code]

[2015-04-20 07:50] NielsZeilemaker opened #1370 "Add test to verify "same member used in circuit twice crypto bug""
As discovered in #1325. See if we can test it without booting tribler etc.

[2015-04-20 07:52] NielsZeilemaker opened #1371 "Remove link between tunnel and libtorrentmgr"
See: https://github.com/Tribler/tribler/pull/1325/files#diff-4ad015aac4b46fead75b9906bd163a13R269
Maybe add a new method in session which verifies if the core is ready to start downloading a torrent.

[2015-04-20 07:54] NielsZeilemaker opened #1372 "Gui should not switch between hidden/non-hidden automatically"
We need a popup here:
https://github.com/Tribler/tribler/pull/1325/files#diff-310dc44f9c89e674f8c8df8bb780b7b3R614

[2015-04-20 11:15] whirm commented on #1367
You will be in the same situation as if you would be using any other bittorrent client out there.

[2015-04-20 14:07] #1316 closed

[2015-04-20 15:24] #1346 closed

[2015-04-20 15:28] whirm opened #1374 "Rework current torrent checking behaviour"
We have to:
 - [ ] Document the current behaviour.
 - [x] Implement the DHT checking part.
 - [ ] Implement dead torrent dropping:
   - Not worth waiting for the torrent limit to be reached if it's been dead for long enough.
   - It's better to delete dead torrents than to randomly delete torrents as we could be keeping dead torrents while deleting healthy ones.

[2015-04-20 15:49] #1369 closed

[2015-04-20 17:44] #1328 closed

[2015-04-22 08:22] vwdewaal opened #1379 "Double clicking .torrent file does not add it to queue in OS X"
OSX Yosemite.

When Tribler is not active and you click a .torrent file, tribler is started and the option to add the torrent file is presented.

When Tribler is active and you click a .torrent file, tribler does not present the option to add a .torrent file.  you have to click the + button to add.

[2015-04-22 09:59] whirm commented on #1379
Thanks for the report!

[2015-04-23 10:17] whirm commented on #1194
@YakovL That is fixed and working on our testing W7 box for current devel.
Next release should be fine for you too.

[2015-04-23 10:17] #1194 closed

[2015-04-23 10:18] #1174 closed

[2015-04-23 10:20] whirm commented on #1009
Closing due lack of feedback

[2015-04-23 10:20] #1009 closed

[2015-04-23 10:21] #952 closed

[2015-04-23 10:23] whirm commented on #903
This will give trouble for big files, so we need the rest implemented for thumbnails and such. (>100KB)

[2015-04-23 10:26] whirm commented on #787
@rjruigrok is that fixed already?

[2015-04-23 10:28] whirm commented on #1374
We are dropping this as we have more pressing things to solve, we may get back to this in the future.

[2015-04-23 10:40] #1374 closed

[2015-04-23 10:46] rjruigrok commented on #787
Nope, apparently not. Will have a look at it.

[2015-04-23 11:50] whirm commented on #787
Great, thx!

[2015-04-23 13:56] #787 closed

[2015-04-23 14:02] #1365 closed

[2015-04-23 14:04] #1379 closed

[2015-04-23 14:19] corpaul commented on #1330
this is merged

[2015-04-23 14:19] corpaul commented on #1335
this is merged

[2015-04-23 14:20] corpaul commented on #1366
fixed

[2015-04-23 14:20] #1366 closed

[2015-04-23 14:21] #1335 closed

[2015-04-23 14:21] #1330 closed

[2015-04-23 16:31] whirm opened #1385 "Stacktrace when trying to download with [tunnel_community] enabled = False"
[code]

This is with current ```devel```

[2015-04-23 16:31] whirm opened #1386 "Category key error"
[code]

[2015-04-23 16:36] whirm opened #1387 "assert all(len(packet[1]) > 22 tripped a couple times while using Tribler to download an Ubuntu ISO"
[code]

[2015-04-23 16:46] whirm commented on #887
Debian doesn't have this patched yet, maybe we will have to do some monkeypatching.

[2015-04-23 16:46] whirm commented on #847
Debian doesn't have this patched yet, maybe we will have to do some monkeypatching.

[2015-04-23 16:48] whirm commented on #847
@Baigle I guess we will patch our windows/OSX systems and do some monkeypatching for linux.

[2015-04-23 16:51] whirm commented on #843
I haven't seen this in a good while. I guess we can close it.

[2015-04-23 16:51] #843 closed

[2015-04-23 16:52] whirm commented on #683
@rjruigrok is this addressed by your implementation?

[2015-04-23 16:56] whirm commented on #632
We've disabled thumbnails so this doesn't need attention until we enable it again.

[2015-04-23 21:35] #887 closed

[2015-04-24 08:37] synctext opened #1390 "Anonymous downloading and fallback for end-to-end crypto"
The GUI should clearly communicate to the user:

 - [ ] "Download anonymously using proxies"
 Displays slider for selecting circuit length between 1 and 3 hops.
 Always shown but grayed-out when box is not ticked.

Set your preference (radio button)
  - [ ] Find hidden seeders, fallback to anonymous Bittorrent after 2 minutes
  - [X] Find hidden seeders, fallback to anonymous Bittorrent after 5 mi

[2015-04-24 08:52] synctext opened #1391 "Port forwarding: random port and always use that one"
Lock-down of anonymous downloads for unconnectable peers.

During the install process a random port is selected.
Communicated to the user that they need to port forward this.

Only connectable people have anonymity. Check if users are connectable and clearly communicate _why_ anonymous downloads are disabled...

[2015-04-24 10:56] whirm opened #1393 "Tunneling checkboxes in download dialog should be radio boxes instead"
As these are mutually exclusive options

[2015-04-24 11:07] #1386 closed

[2015-04-24 12:07] ThomasdenH commented on #14
Wouldn't it make sense to have an 'official' Tribler channel that uploaded all versions of Tribler? This way the updating would also be impossible to shut down.

[2015-04-24 13:22] whirm commented on #14
@ThomasdenH Yeah, that would be cool. But it would take more work too...

[2015-04-26 11:38] YakovL commented on #1194
@whirm just to be sure, which release should I be looking at?

[2015-04-26 18:16] whirm commented on #1194
The next one will be v6.5

[2015-04-26 21:25] YakovL opened #1395 "[feature] Start streaming a video for a torrent outside the search"
Workflow: I founded a torrent outside Tribler's search engine and started downloading it with Tribler. I'd like to start Streaming the video from it. But as far as I can see, there's no such option for now. So, here's the feature request: please add this possibility (or let me know if I've overlooked it [in v6.4.3]).

[2015-04-26 21:53] YakovL opened #1396 "[feature] Tree view to select files to download"
Some torrents (including different kinds of anthologies) contain folder trees and sometimes only one folder may be of interest (is the download target). In this cases selecting files to download using the current "list view" can be devastating in terms of time. So what is needed in such cases is a tree view where each folder can be selected/unselected/selected partially.

(an example of such inter

[2015-04-28 09:38] whirm commented on #1396
Thanks for the report!

[2015-04-28 09:55] whirm commented on #1395
You can double click on any video file on the torrent and streaming will start for it.

I guess it could be made clearer :)

Thanks for your report and feel free to reopen this issue if it's not working for you.

[2015-04-28 09:55] #1395 closed

[2015-04-29 15:50] corpaul commented on #1238
can be closed after https://github.com/Tribler/tribler/pull/1398 is merged

[2015-04-30 16:32] YakovL commented on #1395
@whirm Ah, not the torrent itself but even a file inside it.. ok, this sound logical, but only if one knows that this is implemented. I'd suggest that some sort of hint should be displayed when the download starts. The hint should point where to click to start streaming, I think.

[2015-04-30 16:33] YakovL commented on #1395
@whirm should I edit and reopen this issue?

[2015-05-01 05:21] whirm commented on #1395
@YakovL just create a new one :)

[2015-05-01 07:21] #1238 closed

[2015-05-04 02:09] francescodiorazio commented on #1013
Thanks Whirm.  I was wondering if the setting was hidden, but it's just not a feature right now.  Would love to have this since you can increase download speed by lowering the anonymity level, but after download I'd like to increase the anonymity level.

[2015-05-07 09:45] NielsZeilemaker commented on #1387
Seems tftp related, as the prefix of the packet is is fffffffd. Why is this packet passed on to dispersy?

[2015-05-07 09:46] whirm commented on #1387
@LipuFei ^

[2015-05-07 09:48] NielsZeilemaker commented on #1387
Probably caused by sending a tftp request to a peer which does not have the newer tftp version enabled.
Why did the prefix change?

[2015-05-07 09:52] whirm commented on #1387
Ah, I see, @LipuFei is implementing the retry stuff and it's backwards incompatible, he was probably testing some stuff at that time.

[2015-05-07 09:54] NielsZeilemaker commented on #1387
That's ready now right? If so, lets close this issue

[2015-05-07 10:00] #1387 closed

[2015-05-07 10:06] NielsZeilemaker commented on #1195
Tribler constucts the lists in a lazy manner. When you scroll down it will create more items to fill the screen. No need for any paging.

[2015-05-07 10:06] #1195 closed

[2015-05-07 11:49] LipuFei commented on #1387
@NielsZeilemaker @whirm Yes, I changed the prefix for the new TFTP with retries. If we merge it now, it will cause old triblers to have the same issue.

[2015-05-07 14:49] LipuFei opened #1405 "set_max_desired_speed() in LibtorrentDownloadImpl"
`set_max_desired_speed()` in `LibtorrentDownloadImpl` is never used. However, `RateManager` uses `LibtorrentDownloadImpl.get_max_desired_speed()` to set max speed, for example:
[code]
The `set_max_speed()` is defined in `DownloadConfig`.

@NielsZeilemaker Do you know if this is a bug or we are intended to do this?

[2015-05-07 14:57] NielsZeilemaker commented on #1405
I think we can remove our own custom ratemanager since swift is gone. Libtorrent has one of its own.

[2015-05-07 15:02] LipuFei commented on #1405
ok, I will do it.

[2015-05-07 15:03] LipuFei commented on #1405
@NielsZeilemaker BTW, how about the `SeedingManager`? Is it also related to swift?

[2015-05-07 15:04] NielsZeilemaker commented on #1405
I think so, and those policies as well.
I think the upload/download limits are already controlled by libtorrent, but verify that first.

[2015-05-07 15:04] LipuFei commented on #1405
ok. thanks!

[2015-05-07 15:23] LipuFei commented on #1405
I just checked. Both policies are still being used but we only need to use `LibtorrentMgr` to set the max upload and download speeds. So I think it is safe to remove those two policies and replace the speed setting code with things such as `LibtorrentMgr.set_upload_rate_limit()`.

[2015-05-07 15:28] NielsZeilemaker commented on #1405
I would add the runtime callback here
https://github.com/Tribler/tribler/blob/devel/Tribler/Core/APIImplementation/LaunchManyCore.py#L724

[2015-05-07 16:19] whirm opened #1408 "Stacktrace when searching for "tv" on current devel"
[code]

[2015-05-08 10:32] LipuFei opened #1410 "Remove some session locks in LaunchManyCore and Libtorrent"
@NielsZeilemaker Since you have changed the RawServer to a twisted thing, I guess all those NoDispersyLocks do not make sense any more, and they can be removed, right?

[2015-05-08 10:35] LipuFei commented on #1410
I was trying to remove the policies and I found there is a lot of functions in LaunchManyCore and Libtorrent that have crazy chains of callbacks. It's already giving me a big headache... If it is ok to remove them, I will try to do it as well.

[2015-05-08 10:42] NielsZeilemaker commented on #1410
Sure, I would keep some of the locks around the download list
Op 8 mei 2015 12:36 PM schreef "Lipu Fei" <notifications@github.com>:

[2015-05-09 01:58] kb- opened #1411 "Filtered exit nodes"
It would be nice to have some control over the exit node behavior to limit or avoid false copyright infringement notices. 3 possibilities could be offered :
- Exit node active
- Filtered exit node
- Exit node disabled

The filtered exit node could offer the possibility to filter the IP ranges from one's country (and maybe known VPN IPs) to avoid being monitored. There could also be a white list /

[2015-05-10 14:03] NielsZeilemaker commented on #1385
Already fixed in https://github.com/Tribler/tribler/pull/1399/files#diff-48db89215e497c2743cd3c070ff79ac1R237

[2015-05-10 14:03] #1385 closed

[2015-05-11 09:25] synctext commented on #1391
Current code uses the special "-1" valued for port number. Then it's randomly selected _every_ session. Unpractical for port forwarding.

[2015-05-11 09:29] whirm commented on #1411
The next release (6.5) will have points 1 and  implemented.

The second one shouldn't be hard to implement, simply by exposing the blacklisting feature in libtorrent ```session::set_ip_filter()``` on Tribler's UI,

Unfortunately, we are too understaffed to be able to give much priority to this issue. We would gladly accept it as a contribution tough.

[2015-05-12 10:24] #1405 closed

[2015-05-13 16:44] whirm opened #1418 "test_anon_download (Tribler.Test.test_tunnel_community.TestTunnelCommunity) blocks the wx thread shortly after starting"
And just a bit later the twisted reactor blocks too.

It doesn't always happen on the PR unit test run, but I can reproduce it with 100% success locally.

I'm working on instrumenting the base test classes to check for this and fail early/report with debugging info when it happens.

I'm not sure if it's due to the recent changes made by @NielsZeilemaker and @LipuFei  or not, as I tried running the

[2015-05-13 17:19] NielsZeilemaker commented on #1418
Is the NoDispersyRLock still there? If not, revert that change and see if
you can find where it's deadlocking.
Its probably the wxthread acquiring the lock, and then the twisted thread
attempting to acquire it.

2015-05-13 18:44 GMT+02:00 Elric Milon <notifications@github.com>:

[2015-05-14 16:01] YakovL opened #1420 "Make the option to stream from the already started download more apparent"
So, as was pointed in comments to the previously formulated issue https://github.com/Tribler/tribler/issues/1395, it's not obvious that it's possible to start streaming from a torrent that is being downloaded.

Possible solutions to that: on download start from a file/magnet link (not from the Tribler's search, where the "stream" button is present), if the torrent contains a video file some sort o

[2015-05-16 19:12] YakovL opened #1421 "Donating to content-sharers right from the client?"
Ok, this is may be an idea that requires too much time/work investment (not only in terms of the client, also in protocol itself), but at least I'd like to hear what do you think.

### Inception
When a torrent client allows to search, download and even stream inside it, it's quite natural to forget that there are people behind the scene who produced the content/software. And to support them, a way

[2015-05-18 11:36] whirm commented on #1421
Let's see when @synctext has some time to have a look at this.

[2015-05-18 15:47] rjruigrok opened #1423 "Anonymous = 1 flag in the infopart of a torrent file. Necessary?"
As discussed with @whirm and @LipuFei , is there a good reason for adding an anonymous=1 flag to the info section of a torrent (and changing the infohash by this)? Getting the torrent file is not done anonymously, it reveals the identitiy. The only reason why the torrent is needed now, is to set the anonymous=1 flag, but the torrent is not saved afterwards. Peers for anonymous torrents can only be

[2015-05-18 15:54] synctext commented on #1423
A mechanism is needed for hidden seeder discovery.

Current solution is based on the DHT to find introduction-points for an info_hash. By using anonymous=1 you have a nice deterministic algorithm. You can also simply use: hidden seeding DHT SHA1 = info_hash + 1. But that sounds like a terrible hack to me.

[2015-05-18 16:12] whirm commented on #1423
Right now we don't have any other way to anonymously fetch the torrent data. For the time being lets really use use it as it is:

  - plain search
  - plain torrent fetch
  - set anonymous=1 so the infohash changes deterministically
  - recompute the hash (we aren't doing this right now, so the whole thing was pointless)
  - load the updated torrentdef into the tunneled session

[2015-05-18 17:18] synctext commented on #1423
To add to Whirm his comment, after Libtorrent has fetched the .torrent we get a notification. Then you can add code add anonymous=1 and recompute the hash.

[2015-05-18 18:36] egbertbouman commented on #1423
@whirm The hash is recomputed [here](https://github.com/Tribler/tribler/blob/devel/Tribler/Main/vwxGUI/MainFrame.py#L543). Currently, hidden services is disabled by default, so it only gets executed during the test ;)

BTW, a workaround for the problem that @rjruigrok is describing is only allowing the user to set the hop count once the SaveAs dialog has downloaded the torrent.

[2015-05-18 18:39] YakovL commented on #1218
@whirm May be for update-checking (not updating itself) http is good enough?

Also, as you're looking for volunteers, may be it's be better to share the rusty code as starting somewhere (not in vacuum) is more engaging?

[2015-05-18 18:58] rjruigrok commented on #1423
@egbertbouman In the next release hidden services will be enabled by default without the possibility to download over proxies, only as a fallback when downloading from a hidden seeder fails.

We also thought about locking the anonymity options in the dialog until a torrent is downloaded, but it might be even nicer solution to use the 'fetching torrent...' status download status. Will have a look a

[2015-05-18 22:07] rjruigrok commented on #1423
Solution from @egbertbouman is part of #1422. :)

[2015-05-18 22:41] xur86x commented on #1218
Yeah, I'd really like to try this one. I'm not sure if I could do it, but I'd need to try to know.

[2015-05-19 10:57] whirm commented on #1218
@xur86x: This is the module that takes care of it:
https://github.com/Tribler/tribler/blob/devel/Tribler/Main/Utility/version_check.py
It should be changed to use https and check the latest release published on github for starters.

Also, the next release will come with a pgp signed sha1sum file, so a validity check with a hardcoded public key would also be great to have in the future.

Thanks!

[2015-05-20 12:36] synctext opened #1425 "exceptions.AssertionError: twisted_rawserver and register_task"
Latest devel error, with the latest tunnels enabled.

[code]

[2015-05-20 12:39] synctext opened #1426 "exceptions.AssertionError: in addOrGetTorrentIDSReturn"
Latest devel, with tunnels enabled.
[code]

[2015-05-20 13:19] synctext opened #1428 "3100 walker failures in 22 hours"
When running latest devel code we see frequent failure to contact the bootstrap trackers.
This has a severe impact on performance.

![tribler_6trackers_not_responsive_3100_drops__may2015](https://cloud.githubusercontent.com/assets/325224/7726566/5926ab82-ff03-11e4-87cf-6c51a5bc1824.png)

[2015-05-20 13:33] synctext commented on #1428
For the past 45minutes only 5 trackers are unresponsive :-)

[2015-05-20 13:44] #1423 closed

[2015-05-21 03:08] vvs- commented on #3
This paper has interesting relations to your work: [Kadupul: Livin' on the Edge with Virtual Currencies and Time-Locked Puzzles](http://anil.recoil.org/papers/2015-diynet-kadupul.pdf)

[2015-05-22 11:52] #1426 closed

[2015-05-22 18:13] rjruigrok commented on #1393
Can be closed.

[2015-05-22 18:13] rjruigrok commented on #1390
Can be closed :+1:

[2015-05-22 22:14] #1393 closed

[2015-05-22 22:14] #1390 closed

[2015-05-26 09:13] LipuFei commented on #1118
This one should be fixed through #1427.

[2015-05-26 09:13] #1118 closed

[2015-05-26 09:14] #1290 closed

[2015-05-26 09:16] LipuFei commented on #903
Done through #1404

[2015-05-26 09:16] #903 closed

[2015-05-27 09:08] synctext opened #1431 "unreliable Internet: 17000 drops with a 174 byte packet invalid response identifier [dispersy-introduction-response]"
Happend after Internet connection went down for a while and got restored.
Our own tracker is sending bad replies in AllChannels, search community, etc.

![tribler_6 5pre_17000_drops__invalid_response_id](https://cloud.githubusercontent.com/assets/325224/7832576/6a8098f4-0460-11e5-9095-e482994aa31c.png)

[code]

[2015-05-27 09:10] synctext opened #1432 "AttributeError: 'NoneType' object has no attribute 'mid'"
(stand alone tunnel)
ERROR   1432308530.29            main:33    Yappi not installed, profiling options won't be available
INFO    1432308530.29            main:368   Exit-node disabled
ERROR   1432308530.50   LibtorrentMgr:115   could not restore dht state, starting from scratch
INFO    1432308530.50            main:129   Using port 50109
ERROR   1432325904.15        dispersy:1724  exception duri

[2015-05-27 11:32] whirm commented on #1408
If I reset the megagache this goes away. I've stashed the problematic one away so we can reproduce it at will.

[2015-05-27 13:34] whirm commented on #1418
Quick note: I got this one stuck too in an isolated run:
[code]

[2015-05-27 13:35] whirm commented on #1418
@rjruigrok so far it seems to only happen in the tunneled tests?

[2015-06-01 20:28] rjruigrok commented on #1432
Can be closed :+1:

[2015-06-01 20:32] #1432 closed

[2015-06-02 09:59] pguth commented on #267
+1

[2015-06-02 10:04] NielsZeilemaker commented on #1431
I guess this is being caused by @lipu updating some of the trackers. @lipu is 6422 a new tracker?

[2015-06-02 10:06] NielsZeilemaker commented on #1431
Sorry, wrong lipu, @LipuFei could you check if this tracker was updated

[2015-06-02 10:28] LipuFei commented on #1431
@NielsZeilemaker 6422 is a new tracker.

[2015-06-02 14:51] synctext opened #1443 "Speedlimiter is broken and break Tribler downloads"
It prevent all downloads from progressing. To reproduce:
[update: seems restart is not needed]

0 Goto Tribler setting, bandwidth, limit upload to 100 KByte/sec
1 find the popular Ubuntu 15.04 Desktop torrent
2 start downloading this torrent, do not pauze
3 restart Tribler
4 watch the lack of any progress for minutes
5 swarm is contacted and 100+ seeders are found
6 goto setting and set upload lim

[2015-06-02 16:35] synctext opened #1444 "Remove popup dialog for TunnelCommunity"
By default you do not serve as an exit node.
Even naked seeding in Bittorrent is disabled, hence this warning can be removed.

You always join tunnelcommunity in Tribler.

[2015-06-03 13:51] synctext opened #1448 "error upon close: The reactor was not clean after stopping"
[code]

[2015-06-03 14:11] whirm commented on #1448
Did you close Tribler shortly after starting it?

[2015-06-03 16:43] synctext commented on #1431
Everything is healthy again!  "just" 1.7% of incoming packets are dropped.

![tribler_6 5pre_healthy_drops](https://cloud.githubusercontent.com/assets/325224/7965821/43697de2-0a20-11e5-95e9-226ce9b0e29a.png)

[2015-06-04 12:50] #1443 closed

[2015-06-04 13:36] synctext opened #1449 "SqliteCacheDBHandler.py, line 409, in getTorrentIDS assert len(to_return) == len(infohashes)"
http://jenkins.tribler.org/job/GH_Tribler_pull-request-tester_devel/4273/console
[code]

[2015-06-04 14:07] synctext commented on #1431
Shoot, could now reproduce this. Completely messed up Tribler/Dispersy when Internet connectivity goes away and comes back. Not a priority for upcoming release, as it eventually recovers.
[code]

[2015-06-04 14:24] synctext opened #1452 "Remove download test from TunnelCommunity"
No longer needed, as it's production-level code. Tested and deployed since 2013:-)

[2015-06-04 14:35] NielsZeilemaker commented on #1431
I know what's happening, the requests get added to the packet queue in de
endpoint. And when the Internet connection returns it sends a huge number
of introduction request which have already expired.

I'll have a look if the exception being thrown in the endpoint is specific
enough to determine that no Internet connection is present. Otherwise I'll
add a timeout on the queue to attempt to send a p

[2015-06-04 15:11] rjruigrok commented on #1452
See #1454

[2015-06-04 16:58] maxihatop opened #1455 "Proposal: EmerCoin NVS as magnet link storage"
Hi,
I would like to make your attention into Emercoin Name-Value storage, NVS:
http://emercoin.com/DNS_and_Name-Value_Storage
This decentralized storage has feature to store and distribute magnet links,  see "Magnet" in the document, and table 2. In opposite to another technologies, this is truthfully distributed system,
and cannot be blocked/censored/alerted, etc. Anyone able load and manage his

[2015-06-04 18:31] #1452 closed

[2015-06-04 18:31] synctext commented on #1452
Thnx Rob

[2015-06-05 07:19] synctext commented on #1390
For the archives..
This was replaced with concurrent download via exit nodes and hidden seeders. A superior approach.

[2015-06-05 12:42] #1444 closed

[2015-06-05 12:46] NielsZeilemaker opened #1456 "Tunnel tests don't have captions in their screenshots"
Please add some captions to the screenshots taken by jenkins, see
http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester_devel/4288/artifact/output//Screenshot-42.png

[2015-06-05 14:21] rjruigrok commented on #1456
I will incorporate this in the next PR I'm currently working on :+1: (next PR will be distinguishing different types of exitnodes for circuits, exit nodes are only necessary for anon downloading, hidden services should work without any exit enabled circuits).

[2015-06-05 16:55] whirm opened #1459 "The anontunnel tests take over 12 minutes to run"
Is there anything that can be done to improve that?

With the new parallel test execution, all the tests except for the anontunnel ones are done in ~5 minutes and then the whole thing waits for those to finish.

As a last resort, we could split those in two modules so than at least we can execute them concurrently.

[2015-06-05 17:04] rjruigrok commented on #1459
Weird, the events for the tunnel tests are timed for 90 or 140 seconds, 12 minutes is too long. Especially the latest test written by @egbertbouman takes long.
I'll have to look into this, but any suggestion on a possible cause is welcome!

[2015-06-05 17:57] egbertbouman commented on #1459
@rjruigrok What makes you say that? Looking at the [timings](http://jenkins.tribler.org/job/GH_Tribler_pull-request-tester_devel/4292/testReport/Tribler.Test.test_tunnel_community/TestTunnelCommunity/) from the most recent successful run, it looks like the most recent test doesn't take that long at all.

[2015-06-06 16:05] rjruigrok commented on #1459
Nope, my mistake.
I looked into the time into experiment graph, see http://jenkins.tribler.org/job/GH_Tribler_pull-request-tester-turbo_devel/5/artifact/output//utimes.png, but understood it wrong. I thought that the individual tests took over 12 minutes, but it is a cumulative graph. All consecutive tests in the same file are executed after each other.

Splitting them up would be indeed the best

[2015-06-08 09:40] synctext opened #1460 "Seeder selects a proxy, downloader selects a Rendezvous point"
Seems the relays are not correctly selected.
Seeder selects his introduction point (OK)
Seeder then selects a proxy to use as a relay in the end-to-end circuit (OK)
Downloader uses a proxy to check the DHT fetch (OK).
Downloader selects a rendzvous point (ToDo, now selected by seeder).

[2015-06-08 13:31] synctext commented on #1460
It seems in the latest code both the seeder and downloader are protected by 1 proxy they select.
However, unlike Tor the rendezvous is selected by the seeder. The _downloader_ side connects to the rendezvous, not the other way around as happens in Tor. This was changed last Dec'14 for improved pub/session key exchange.

[2015-06-08 13:32] #1460 closed

[2015-06-08 14:48] synctext opened #1462 "Creating a new .torrent from your own channel (for hidden seeding)"
To reproduce:
1) dd if=/dev/urandom of=RANDOMDATA.txt bs=1M count=165
2) create a new channel
3) goto "manage torrents" tab, press "+Add..." button
4) use the "create your own .torrents" by pressing "create"
5) browse files and add RANDOMDATA.txt

This will generate a .torrent, but it cannot be added to your channel.

This will generate error below:
[code]

[2015-06-08 17:20] rjruigrok commented on #1456
Can be closed

[2015-06-08 17:21] #1456 closed

[2015-06-08 17:21] rjruigrok commented on #1459
Tests are separated over 3 different files now, can be closed too.

[2015-06-08 17:24] rjruigrok commented on #1372
Can be closed too. Anonymous downloading over proxies and end-to-end run together now without fallbacks.

[2015-06-08 17:27] #1372 closed

[2015-06-08 19:26] NielsZeilemaker commented on #1455
I made a quick attempt at seeing if I could connect to the EmerCoin deamon, and it worked. I've succesfully enabled the rpc and call issue request for keys using the json rpc.

@maxihatop I'm going to integrate it into Tribler by using a emc: prefix. If you type this into the searchbox the string after it will be passed to the EmerCoin deamon. I'll replace the emc: with magnet:  before passing the

[2015-06-08 21:26] maxihatop commented on #1455
Perfect, thanks for quick progress! You performed awesome job!
I will test/use next week - tomorrow I will leave city, and this week will not be available.

[2015-06-08 23:42] maxihatop commented on #1455
UPD:
I downloaded Tribler 6.4.3 from officvial site, tried to search "emc:example", found just "automatic test".
question: How to configure access and using EMC-wallet for search?

[2015-06-09 06:50] #1459 closed

[2015-06-09 07:31] NielsZeilemaker commented on #1455
It's not in Tribler yet, I'll create a pull request for it probably this week. Then after its merged, you can test it out.

[2015-06-09 10:20] synctext opened #1465 "Tunnel tests flakey on devel"
TestHiddenCommunity.test_hidden_services - Hidden services download should be finished in 140 seconds (0.0% downloaded) - Condition was not satisfied in 140 seconds

http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester_devel/4347/testReport/junit/Tribler.Test.test_hidden_community/TestHiddenCommunity/test_hidden_services/

This test can hopefully be more stable. Various strange things se

[2015-06-09 13:13] whirm commented on #1465
@rjruigrok  I made 4 runs of the devel branch and the tunnel tests are failing all the time (not all of them but a different set on each run).

[2015-06-09 13:14] whirm commented on #1465
Tests I ran:

http://jenkins.tribler.org/job/Test_tribler_devel/999/
http://jenkins.tribler.org/job/Test_tribler_devel/1000/
http://jenkins.tribler.org/job/Test_tribler_devel/1001/
http://jenkins.tribler.org/job/Test_tribler_devel/1002/

[2015-06-10 10:23] #1462 closed

[2015-06-10 13:00] snorberhuis opened #1469 "make the method dispersy._forward public"
This method is used within Tribler multiple times, but is accessed publicly while it is a protected method.
The method should be changed into a public method so no pylint errors are given in the code.

`store_update_forward( [messages], false ,false, true )` can also be used and will result in only `_forward` being called. But in the documentation of that method it is mentioned that false should m

[2015-06-11 08:40] synctext opened #1470 "stable unittests, fixing PyDeadObjectError error"
Thnx to @NielsZeilemaker for spotting this. #1461

If we keep removing all the FAILED causes, especially of TestRemoteTorrentSearch, it should become quite reliable..:
http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester-turbo_devel/103/testReport/junit/Tribler.Test.test_remote_search/TestRemoteTorrentSearch/test_remote_torrent_search/

[code]

[2015-06-11 13:05] #1470 closed

[2015-06-12 17:55] synctext opened #1473 "please fix the pydeadobject error"
http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester_devel/4430/testReport/Tribler.Test.test_libtorrent_download/TestLibtorrentDownload/test_playdownload/

[2015-06-13 09:39] #1473 closed

[2015-06-14 15:43] maxihatop commented on #1455
OK. I have additional interesting idea, which, I believe, easy to implement, and it will add more power to the Tribler. Imagine for example:

When I found some magnet link in EMC NVS, and it starts download (or download complete), I click right mouse button over the download line for this file, and in the drop-down menu I can select item "Copy EMC address for donation".
Thereafter, I can donate so

[2015-06-15 10:08] NielsZeilemaker commented on #1455
That's basically already implemented by the guys at frostwire:
https://github.com/frostwire/frostwire-desktop/wiki/Extending-a-Torrent%27s-info-map-with-Cryptocurrency-Wallet-addresses-and-a-Creative-Commons-license.-BitTorrent-meets-Bitcoin

Have a look at their spec, to see if you can fit in Emercoin.

[2015-06-15 10:08] NielsZeilemaker commented on #1469
@snorberhuis could you create this issue in the dispersy github repo.

[2015-06-15 10:08] #1469 closed

[2015-06-15 10:09] NielsZeilemaker commented on #1449
I'm closing this one, as I think @LipuFei fixed it.

[2015-06-15 10:09] #1449 closed

[2015-06-15 10:25] NielsZeilemaker commented on #1421
Frostwire has taken a different approach and actually proposes a change to the .torrent file

https://github.com/frostwire/frostwire-desktop/wiki/Extending-a-Torrent%27s-info-map-with-Cryptocurrency-Wallet-addresses-and-a-Creative-Commons-license.-BitTorrent-meets-Bitcoin

[2015-06-15 11:15] NielsZeilemaker commented on #1011
This is required because of the foreign key from channeltorrents. If we need the .torrent for all ChannelTorrents, you need a lot of diskspace.

[2015-06-15 11:15] #1011 closed

[2015-06-15 11:16] #874 closed

[2015-06-15 11:26] NielsZeilemaker commented on #80
@LipuFei you implemented this right?

[2015-06-15 12:18] LipuFei commented on #80
@NielsZeilemaker Yes, I did. We are sure that there are duplicate infohashes coming from the channel community.

[2015-06-15 12:26] maxihatop commented on #1455
I read that doc. That proposal is regarding to add info into *.torrent files, not into crypto. For example, they shows Bitcoin in doc, while Bitcoin has only basic functionality. Because of EMC supports standard Bitcoin JSON API, it ready to work in this system, too.
Again: their proposal about torrent extension, is not about crypto extension.
And any crypto can work with this proposal.
Also, I wo

[2015-06-15 12:36] NielsZeilemaker commented on #80
This pull request is about using libtorrent to create .torrents instead of our own finalize stuff we had. I'll close it.

[2015-06-15 12:36] #80 closed

[2015-06-15 12:39] NielsZeilemaker commented on #1455
I agree, it's nicer/safer to send the emc: payment option to the emc wallet instead of trying to integrate it. Is there such a functionality exposed in the API?

[2015-06-15 13:12] ThomasdenH commented on #1421
I'd love this. I would even opt in if Tribler could have advertisements to support content providers.

[2015-06-15 13:41] maxihatop commented on #1455
Yes, of course. Emercoin supports all bitcoin API commands, including "sendtoaddress".
See bitcoin API here: http://we.lovebitco.in/bitcoin-qt/command-reference/

[2015-06-15 14:57] LipuFei opened #1477 "New metadata design"
@NielsZeilemaker I am removing old metadata stuff. Do you know if this `modification` message was made for metadata or it already existed before that? Thanks!

[2015-06-15 14:59] NielsZeilemaker commented on #1477
Existed before it

[2015-06-15 15:01] LipuFei commented on #1477
Looks like they are closely related, even with this `MetadataTypes` table, which seems to be useful only to the metadata thing. Do you know why?

[2015-06-15 15:18] NielsZeilemaker commented on #1477
I think you rewrote parts of it + the Metadata stuff is inspired by the old modification messages

[2015-06-15 15:27] LipuFei commented on #1477
Now we plan to make a new metadata message in the Channel, but only the owner of the Channel can create it and there is no versioning feature for that: once a metadata is created for a ChannelTorrent, it's never going to be replaced.

So I am removing all the old stuff, but this `modification` thing is getting me confused. At least I don't remember making those things myself...

The problem is thi

[2015-06-15 15:32] NielsZeilemaker commented on #1477
A channel in closed and semi-open state already works like this. I wouldn't redesign it if I were you.
Also I don't think it's worth it breaking compatibility with the current channels. I would only replace allchannel.

As for the MetadataTypes what's in that table?

[2015-06-15 15:36] LipuFei commented on #1477
The names of metadata types, such as `name`, `description`, `swift-thumbnails`, etc.

[2015-06-15 15:36] NielsZeilemaker commented on #1477
BTW, why are you removing the metadata community? I would modify it by disabling the bloomfilter sync and letting peers announce infohashes they have information for. Then similar to the ping pong messages in the remote search community, a peer could decide which metadata to collect.
If you only collect metadata from your favorite communities, most spam should dissappear

[2015-06-15 15:38] NielsZeilemaker commented on #1477
BTW, those types already existed. I would keep that table.
The types aren't predefined, you can add types on the future and still be backwards compatible

[2015-06-15 15:45] LipuFei commented on #1477
Got it, I thought that table was made later.

We want to enable and propagate thumbnails only for the Channels that a user has subscribed to. If we use the old metadata community, it will propagate all data regardless of what a user's subscriptions are, which will eat up a lot more disk space. Another thing is that, if we propagate everything, some unwanted thumbnails from other Channels may arriv

[2015-06-15 15:47] LipuFei commented on #1477
Anyway, adding a new message in Channel seems to be the easiest way to do this. That's why we decide to have it this way.

[2015-06-15 15:49] NielsZeilemaker commented on #1477
You might be able to do so by just using the current modification messages. Egbert made some code once which checked if a channel was open after downloading a file. If it was it added some ffmpeg output.
I would reuse/extend this scheme and add support for tftp thumbnails, just add a new type and the newer peers would start to download them

[2015-06-16 06:12] synctext commented on #1477
morning, thnx for the comments Niels. Reusing things more sounds good...

[2015-06-16 14:13] LipuFei opened #1478 "[reminder] fix uPnP when libtorrent python binding has those functions exposed"
According to libtorrent's documentation, we need to use `add_port_mapping()` in a libtorrent session to add uPnP port mapping. But this `add_port_mapping()` is not exposed in the libtorrent session yet on python side. So we need to fix this when it gets exposed.

[2015-06-16 16:35] NielsZeilemaker commented on #1431
Implemented in https://github.com/Tribler/dispersy/pull/429

[2015-06-17 14:33] synctext opened #1482 "'Session' object has no attribute 'uch'"
When starting Tribler with 1 hidden seeding (1-hop) torrent in the library.
[code]

[2015-06-17 14:37] LipuFei commented on #1482
This is fixed in #1480. We haven't merge it because we want to test if the catch unexpected exception thing works during the shutdown.

[2015-06-18 11:41] #1482 closed

[2015-06-18 12:20] whirm commented on #1477
@NielsZeilemaker let me write down the possibilities here to se if I understand them:

 * Add an extra message to the Channel community and bump community version:
   - New peers will receive the new messages if they have joined the community and then ask for the thumbnails to the message sender.
   - Old peers will just not sync this new message and that's it.

 * Reuse the old Metadata community

[2015-06-18 12:23] NielsZeilemaker commented on #1477
Or number three, use the modification message already existing in the
channel community
Op 18 jun. 2015 2:20 PM schreef "Elric Milon" <notifications@github.com>:

[2015-06-18 12:25] whirm commented on #1477
@NielsZeilemaker ah, I see, I understood this message was part of the metadata community solution.
So that would basically be the first one without it being an extra message but one that already exists which is even better.

[2015-06-18 12:27] NielsZeilemaker commented on #1477
Jup, and I think Egbert was already using this message to publish metadata images

[2015-06-18 15:04] rjruigrok opened #1486 "Adding a newly created torrent to Tribler does not work, will result in 'downloading 0.0%'"
Creating a new torrent is possible in Channel > My Channel. But after creating the torrent, and adding the .torrent to the Downloads list, it will get download-status "Downloading 0.0%".
I was expecting to see state "Seeding 100.0%". I already put the file to be seeded to the directory Tribler Downloads, but no matter how: it always stays on downloading state.

Is this a bug, or am I just doing it

[2015-06-18 15:18] rjruigrok commented on #1486
Found out that when I create the torrent manually with ctorrent on terminal, seeding works like a charm. So there's something going wrong in the torrent creation.

[2015-06-18 17:21] synctext commented on #1486
to clarify.. from My Channel, you goto torrent manager, you have a local file, create a .torrent, gets added to your channel OK, gets shown OK in downloads, and then Tribler should start to seed it...

[2015-06-18 17:34] LipuFei commented on #1486
@rjruigrok I tried the steps. I can see the download but it's always building circuits.

[2015-06-18 17:50] rjruigrok commented on #1486
That's correct. But after circuits are built (you can speed this up finding
candidates by running the 'rjruigrok-hiddenservices-seeding' job in jenkins.

When the circuits are built, it should start seeding.

Op donderdag 18 juni 2015 heeft Lipu Fei <notifications@github.com> het
volgende geschreven:

[2015-06-19 09:37] LipuFei commented on #1486
@rjruigrok I just did a few tests using ubuntu-15.04-desktop-amd64.iso torrent:

1. Adding a download NOT through MyChannel: I first put the iso file into TriblerDownloads and then started the download. After the circuits were built, it checked the file and started seeding.
2. Adding a download NOT through MyChannel: I first started the download. After the circuits were built, it was showing "Down

[2015-06-19 09:37] LipuFei commented on #1486
@rjruigrok I think the result will be the same if I add a download through MyChannel.

[2015-06-19 14:05] synctext opened #1489 "just download again: Tribler.Core.exceptions.DuplicateDownloadException"
Download something, remove data+torrent, then download it again.
Fails with error below.

Please make a unit test out of this, seen this error popup numerous times in past years. Thnx!
Tested with: http://releases.ubuntu.com/15.04/ubuntu-15.04-desktop-amd64.iso.torrent
[code]

[2015-06-19 20:14] rjruigrok commented on #1486
@LipuFei It works fine for all torrents, but to clarify where it goes wrong: for torrents created within Tribler itself (there is a button in mychannel to generate a torrent file by adding some files to it, specify a name, and it's afterwards saved somewhere on your disk. After creating this - let's call it tribler-generated' torrent, it will be 'downloading 0.0%' even when the file contained in t

[2015-06-19 20:17] rjruigrok commented on #1465
@whirm Looks like they run stable again? If so, it can be closed.

[2015-06-22 09:12] #1465 closed

[2015-06-22 09:12] LipuFei commented on #1477
@NielsZeilemaker @whirm I agree to reuse the `modification` message is a good idea because we don't need to recreate the infrastructure again. But we cannot reuse the metadata types such as `swift-thumbnails` because messages of those metadata types are already in our current network, and the thumbnail paths they carry are not what we want this time (we use SHA1 hash of the thumbnail as identifier

[2015-06-22 09:15] NielsZeilemaker commented on #1477
Regarding your last comment, this was basically implemented by downloading the thumbnail in the check method, and only accepting it if it was downloaded, see:
https://github.com/Tribler/tribler/blob/devel/Tribler/community/channel/community.py#L738

[2015-06-22 09:22] LipuFei commented on #1477
@NielsZeilemaker Ah, I see, didn't notice that. Thanks!

[2015-06-22 10:20] LipuFei commented on #1486
@rjruigrok I loaded the created torrent file with transmission and it showed 0.0% even if I rechecked the the local file. So the torrent file that Tribler creates may be incorrect.

[2015-06-22 11:25] LipuFei commented on #1486
@rjruigrok #1491 will fix the torrent creation problem.

[2015-06-22 11:46] whirm commented on #1486
@LipuFei I think we should have a test for this.

[2015-06-22 11:49] #1431 closed

[2015-06-22 11:49] LipuFei commented on #1486
@whirm I will have a look. The create torrent thing is coupled with the GUI, so it might not be easy to separate them.

[2015-06-22 18:58] synctext opened #1497 "deadobject fix please"
http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester_devel/4596/testReport/Tribler.Test.test_remote_search/TestRemoteTorrentSearch/test_remote_torrent_search/

[2015-06-23 09:03] #1497 closed

[2015-06-23 10:25] #1361 closed

[2015-06-23 10:30] LipuFei commented on #1486
@rjruigrok #1491 has been merged.

[2015-06-23 16:30] vi commented on #1361
For the utter completion there can also be `data:application/x-bittorrent,application/x-bittorrent...` URLs, but that's really extra.

Thanks for the implementation.

[2015-06-25 13:15] synctext opened #1504 "exceptions.AssertionError: on_similarity_response"
Could be that this happened when my IPv4 was changing or wifi-Internet was down for a bit.

[code]

[2015-06-25 13:17] synctext opened #1505 "assert not self.is_pending_task_active(name), name"
[code]

[2015-06-26 06:49] LipuFei commented on #1428
@synctext I am closing this one at the moment. We have the per-community statistics now, so if it happens again, we will know which communities are failing more than usual.

[2015-06-26 06:49] #1428 closed

[2015-06-27 16:12] jordansteeves opened #1509 "Videoplayer does not work"
The videoplayer tab is greyed out and not clickable for anywhere inside the application.

Details:
Tribler 6.4.3 on OSX 10.10.3

![trible](https://cloud.githubusercontent.com/assets/1646659/8392823/564b110c-1cac-11e5-8aa6-bafa8a7c75e9.png)

[2015-06-28 18:39] NielsZeilemaker commented on #1504
Its a bug in the discovery community, it's probably using the wrong candidate object

[2015-06-29 01:15] snifong opened #1511 "Can't import Core.Utilities.twisted_thread when running Tribler from a FUSE filesystem"
**OS:** Sabayon Linux 15.X (Gentoo)
**Version:** Latest (as of 06/28/2015) version pulled from git.
**Command:**  `./tribler.sh` from tribler git root.

Error msg:

[code]

[2015-06-29 10:18] whirm commented on #1509
We  don't have an embedded video player on OSX.

We will just remove the greyed out tab to not confuse our users :)

Thanks for the report!

[2015-06-29 10:24] whirm commented on #1511
Just did

[2015-06-29 10:26] whirm commented on #1511
Just did a quick test:

[code]
And it's working fine.

Could you do a ```git fetch --all ; git status  ``` and paste the output here?

Thanks!

[2015-06-29 11:59] synctext opened #1512 "exceptions.AssertionError: threadpool_manager"
[code]

[2015-06-29 12:41] whirm commented on #1512
@synctext do you know how to trigger this?

[2015-06-29 13:45] whirm commented on #1425
duplicate of #1512

[2015-06-29 13:46] #1425 closed

[2015-06-29 13:47] whirm commented on #1505
duplicate of #1512

[2015-06-29 13:47] #1505 closed

[2015-06-29 14:14] whirm commented on #1504
Ok, I'm able to reproduce it by doing this:
[code]
And then waiting for a bit.

[2015-06-29 15:26] snifong commented on #1511
[code]

[2015-06-29 16:00] whirm commented on #1511
That's weird...
Is ```Tribler/Core/Utilities/twisted_thread.py``` there?

[2015-06-29 18:09] NielsZeilemaker commented on #1504
@whirm could you add an assert here:
https://github.com/Tribler/dispersy/blob/devel/discovery/community.py#L465
assert candidate.get_member()

and check if that fires

[2015-06-30 10:22] whirm commented on #1504
Yes it does, for the trackers just after starting Tribler even:
[code]

[2015-06-30 15:49] NielsZeilemaker commented on #1504
That makes sense, remove that assert, and add
[code]
to line https://github.com/Tribler/dispersy/blob/devel/discovery/community.py#L597
that should fix it.

[2015-06-30 21:45] rjruigrok opened #1517 "Traceback Tribler.Test.test_gui_general.TestGuiGeneral"
Test passes, discovered this traceback while looking for results of other tests.

[code]

[2015-07-01 10:21] LipuFei commented on #1486
@rjruigrok Shall we close this one?

[2015-07-01 10:22] rjruigrok commented on #1486
Yep. :-) works perfectly.

Op woensdag 1 juli 2015 heeft Lipu Fei <notifications@github.com> het
volgende geschreven:

[2015-07-01 10:23] #1486 closed

[2015-07-01 10:30] LipuFei commented on #1504
I'll update the dispersy pointer after we merge https://github.com/Tribler/dispersy/pull/436.

[2015-07-01 11:51] #1512 closed

[2015-07-01 12:22] #1509 closed

[2015-07-01 12:56] whirm commented on #1418
@rjruigrok has this happened to you lately on the current tunnel PR?

[2015-07-01 13:25] rjruigrok commented on #1418
Not sure, most of the tests in my PR are totally broken. But the latest ones all should have passed.
Is http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester-turbo-isolated_devel/451/ stuck?

[2015-07-01 13:57] whirm commented on #1418
How to tell if it timed out:
* If there's no test results, it probably timed out.
So we look at the job output: http://jenkins.tribler.org/job/GH_Tribler_pull-request-tester-turbo-isolated_devel/451/artifact/output/
[code]
The test report for group 3 is missing, so that means that it either crashed badly or that it got killed due to a timeout.

Let's go to it's stderr file: http://jenkins.tribler.

[2015-07-01 14:09] rjruigrok commented on #1418
I understand. But is this stuck test related to the blocking wx thread?
These stuck tests occasionly occur, but the timeouts are narrowed in the previous PR, I don't really know what to do about it, or what to fix, as there is no log or traceback.

[2015-07-01 14:13] #1504 closed

[2015-07-01 14:22] whirm commented on #1418
I don't know if this one in particular is. I have a branch which adds a watchdog on both WX and twisted threads. I'll see if I can integrate it so when one of the watchdog trips, the test fails too.

[2015-07-01 14:23] rjruigrok commented on #1132
Got it here: http://jenkins.tribler.org/job/Experiment-hiddenservices-seeder-rjruigrok/81/artifact/output/localhost/00004.err/*view*/

Looks like the port of my machine on ubuntu vm on eduroam changes the port very often, causing this assert to fail.

[code]

[2015-07-01 15:13] whirm commented on #1517
Should be fixed on devel.

[2015-07-01 15:14] #1517 closed

[2015-07-02 08:57] synctext commented on #655
@rjruigrok Almost done :-) ?

[2015-07-02 08:59] rjruigrok commented on #655
Of course! :-)

Op donderdag 2 juli 2015 heeft Johan Pouwelse <notifications@github.com>
het volgende geschreven:

[2015-07-02 10:43] synctext opened #1524 "KeyError: u'similarity:11097'"
[code]

[2015-07-03 10:12] whirm commented on #1418
The watchdog branch has been merged.

[2015-07-03 10:18] whirm commented on #1418
BTW: the watchog won't make the tests fail (it wouldn't work most of the time as if the twisted thread is locked, the test-ending checks will not be made anymore) We could play with injecting exceptions on the stuck thread, etc. but I don't think it's worth the trouble as it wouldn't work in all situations anyway.

[2015-07-03 10:19] whirm commented on #1418
@LipuFei  @NielsZeilemaker @synctext ^ have a look at my last 4 comments about the watchdog thing.

[2015-07-03 11:13] whirm commented on #1524
@synctext which branch are you running?
[code]
Is a ```get``` in ```upstream/devel``` which won't raise a ```KeyError``` if the ID is not in the cache.

[2015-07-03 11:28] rjruigrok opened #1525 "test_normal_torrent (Tribler.Test.API.test_seeding.TestSeeding) ... Unhandled Error"
[code]

[2015-07-03 12:16] synctext commented on #1524
Rob his PR 1510 branch.

[2015-07-03 12:18] LipuFei commented on #1524
@rjruigrok Have you done a rebase in your branch #1510?

[2015-07-03 13:30] rjruigrok commented on #1524
Did it this afternoon, around 13:00.
When did you fix this keyerror @LipuFei?

[2015-07-03 13:30] rjruigrok commented on #1524
Btw, my previous rebase against devel was from yesterday afternoon.

[2015-07-03 13:31] LipuFei commented on #1524
@rjruigrok about 2 days ago #1521

[2015-07-03 13:38] rjruigrok commented on #1524
Then @synctext likely should do a `git submodule update --init --recursive` :smile:

[2015-07-03 14:58] #1525 closed

[2015-07-06 12:13] whirm commented on #1418
Closed by #1510

[2015-07-06 14:39] whirm commented on #1237
@synctext could you check if this is still happening?

[2015-07-06 15:24] rjruigrok opened #1530 "Allow 0.0.0.0:0 as destination to tunnel data through circuits back and forth"
Currently when the key-request is relayed to the seeder, the dispersy wan address is used as source. This causes the seeder to respond to the dispersy port of the introduction point over an exit socket.
https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/hidden_community.py#L400

[code]

It would be nice not to use dispersy wan here, and to set 0.0.0.0:0 as the source, to pass m

[2015-07-06 15:25] whirm opened #1531 "Traceback after deleting a download that had anontunnel enabled"
That's in current devel.

[code]

[2015-07-06 15:37] whirm opened #1532 "The non-uncheckable darknet mode button should be replaced by a "Safe seeding" button."
Which will disable normal seeding after the download finishes and only seed trough the anon tunnels.

This checkbox needs to be grayed out and force-enabled when anon download is enabled.

[2015-07-06 15:41] whirm commented on #1532
@rjruigrok OK'd by @synctext

[2015-07-07 03:24] brandc opened #1534 "Failed to create session for tracker"
Can this be capped to 100 tries per session, on the event the tracker is no longer online?

(Sorry, I thought the spoiler tag would have hidden it.)
[spoiler]
ERROR   1436237936.51 torrent_checker:397   Failed to create session for tracker udp://tracker.fake.org:80: Cannot resolve tracker URL.
ERROR   1436237936.61 torrent_checker:397   Failed to create session for tracker udp://tracker.fake.org:8

[2015-07-07 09:59] synctext opened #1535 "Could not create a TorrentDef instance - ValueError: Invalid URL: ''"
[code]

[2015-07-07 10:08] synctext commented on #991
Running the default ```./tribler.sh``` (seems -O is NOT used)

Seeing this error again.
Niels had issues with the previous fix it seems: https://github.com/Tribler/dispersy/pull/394#commitcomment-10214280

[code]

[2015-07-07 11:42] #1535 closed

[2015-07-07 12:01] whirm commented on #991
@synctext  that already got reverted.
I'll add a check on the discovery community.

[2015-07-07 12:24] #1418 closed

[2015-07-07 12:27] #1132 closed

[2015-07-07 12:28] LipuFei commented on #1534
@brandc Thanks for the report! I've made a fix for this issue.

[2015-07-07 12:33] #991 closed

[2015-07-07 13:55] #1534 closed

[2015-07-07 14:51] synctext opened #1539 "dowser no longer operational"
[code]

[2015-07-07 14:58] LipuFei commented on #1539
@synctext You need to install this `dowser` package.

[2015-07-07 15:19] brandc opened #1540 "KeyError"
I was using the down arrow key to preload everything in a channel, and this is what showed up in the log.
[code]

Edited by @whirm: One copy of the stacktrace is enough.

[2015-07-07 15:40] LipuFei commented on #1540
@whirm I am not sure if I can fix this for `6.5`... Those list problems in the GUI is always a big headache.

[2015-07-07 15:40] whirm commented on #1539
@synctext it's not on debian, so you need to install it via pip: ```pip install --user dowser```

[2015-07-07 15:41] whirm commented on #1540
@LipuFei let's do it for 6.6

[2015-07-07 15:41] whirm commented on #1540
@brandc thanks for the report!

[2015-07-07 15:43] whirm commented on #1066
@synctext: @NielsZeilemaker said that this was basically done. Can you close this if it's OK?

[2015-07-07 15:44] whirm commented on #1524
@synctext can you still reproduce it with an up to date checkout of ```devel```?

[2015-07-07 15:50] synctext commented on #1524
Running a clean checkout for 46minutes now, has not come up yet.. good.

[2015-07-07 15:58] synctext commented on #1539
Using a custom-made Dowser version by Niels that has improved MByte usage statistics and sorting or something, but it's outdated. New dowser works, but it seems useless. You can't see the big topN memory users easily.

[2015-07-07 15:58] #1539 closed

[2015-07-07 16:01] synctext commented on #1539
Cool, solved a bit: http://localhost:8080/?floor=10

[2015-07-07 16:02] whirm commented on #1539
@synctext never heard of that souped up dowser, but it's not on the tribler repo.

[2015-07-07 16:22] whirm commented on #1489
@synctext can't reproduce: @LipuFei tried to reproduce this manually for half an hour and we created a unit test for that and we ran it a bunch of times and we couldn't either so reopen it if you can figure out a way to reproduce it consistently.

[2015-07-07 16:22] #1489 closed

[2015-07-07 16:22] brandc opened #1541 "Failed to load file/dir: Argument 'key' has incorrect type (expected str, got unicode)"
I'm betting this has to do with different versions of Tribler interacting with saved data.

(I censored the IP's as to not be rude to other users)
[code]

[2015-07-07 16:23] #1531 closed

[2015-07-07 16:34] whirm commented on #1541
@LipuFei we probably shouldn't be capturing all exceptions there, maybe we should replace this return with a raise? https://github.com/Tribler/tribler/blob/devel/Tribler/Core/TFTP/handler.py#L314

[2015-07-07 17:17] brandc opened #1543 "Can certain trackers be blacklisted so Tribler won't attempt to use them?"
I know I made a bug report on this earlier and the patch fixes a majority of the log spam; however, I was wondering if it would be possible to add a tracker blacklist file, to prevent Tribler from attempting to use these trackers.

I know two of these trackers have been shutdown permanently, and possibly that last one.

(I added a few empty lines to separate the related blocks of text)

[code]

[2015-07-07 17:26] whirm commented on #1543
@brandc That message log level should be lowered to warning at most. AFAIK the torrent checker will try to contact dead trackers less and less often over time too. @LipuFei is that right?

[2015-07-07 17:41] brandc commented on #1543
That does not appear to be precisely true, checking my log, I see it occurring every 200 to 300 seconds, almost without exception.

More of my log, for proof:
[code]

[2015-07-07 20:39] synctext opened #1545 "Mac dependency failure"
Tribler version: 6.4.3-1153-g2c04cb2
Traceback (most recent call last):
  File "Tribler/Main/tribler_main.pyo", line 174, in __init__
  File "Tribler/Core/Session.pyo", line 422, in start
  File "Tribler/Core/APIImplementation/LaunchManyCore.pyo", line 109, in register
  File "Tribler/Core/RemoteTorrentHandler.pyo", line 13, in <module>
type: No module named decorator

[2015-07-07 23:51] snifong commented on #1511
Yes.
[code]

[2015-07-08 06:01] synctext commented on #1543
@brandc  Good to see your bugreport. Clearly you found a bug here. The doubling of timeouts is not there.. It should check tracker only once per 7200 or 3600 seconds or so with ongoing failure.

[2015-07-08 08:09] #1541 closed

[2015-07-08 08:11] whirm commented on #1511
@snifong: Could you run ```bash -x tribler.sh``` and paste the output?

[2015-07-08 08:44] LipuFei commented on #1543
@brandc So far we don't have a file to blacklist dead trackers. However, in the tracker checking module, we do have a mechanism to avoid checking dead tracker frequently. The problem is that, before the fix I made, our tracker checking module periodically selects tracker and torrent to check, and this mechanism only applies there. With that fix, Tribler should now be able to avoid those dead track

[2015-07-08 08:52] #1545 closed

[2015-07-08 10:29] LipuFei commented on #1532
Fixed by #1542

[2015-07-08 10:29] #1532 closed

[2015-07-08 14:55] synctext opened #1548 "Windows Permission Denied error"
Not allowed to write to the log file, when closing Tribler 6.5RC1.
![permission_denied](https://cloud.githubusercontent.com/assets/325224/8573461/f8c2ac54-2591-11e5-9c77-22413744c602.png)

[2015-07-08 14:57] LipuFei commented on #1548
@synctext This cannot be fixed. This `tribler.exe.log` is generated by `py2exe` automatically.

[2015-07-08 14:58] synctext opened #1549 "Clean frontpage"
disable the "Loading, please wait" +"start streaming immediately.." and thumbnail on frontscreen.
![loading_please_wait](https://cloud.githubusercontent.com/assets/325224/8573529/5b3f972a-2592-11e5-8713-b3c464e9cdcf.png)

[2015-07-08 15:37] synctext opened #1551 "Update Dispersy pointer when the memory leak issue is closed/fixed"
Update Dispersy pointer when the memory leak issue is closed/fixed: Tribler/dispersy#442

[bug moved to Tribler/dispersy]

[2015-07-08 15:57] #1549 closed

[2015-07-08 16:11] #1548 closed

[2015-07-08 17:05] egbertbouman commented on #1548
@LipuFei We used to store it in %APPDATA% on Windows, which seems to be the logical place for this. If I recall correctly, we actually used a patched version of py2exe (it's on the Windows XP builder).

[2015-07-09 08:04] NielsZeilemaker commented on #1551
Clearly a Dispersy issue, could you move this issue there?

[2015-07-09 08:08] NielsZeilemaker commented on #1540
Basically this line:
https://github.com/Tribler/tribler/blob/devel/Tribler/Main/vwxGUI/list_body.py#L1297
needs a call to self.HasItem(select) and then it should be fixed.

[2015-07-09 08:24] synctext opened #1553 "Segmentation fault - UnicodeDecodeError - SystemError: ../Objects/tupleobject.c:142: bad argument to internal function -"
While running this just-before-RC1 version for memory leaks with Dowser for roughly 48hours.
commit b166ceb25bf9e378c1ceb9cfb0c5af016dc409cb
Merge: e6ce427 8686f54
Author: Elric Milon whirm@users.noreply.github.com
Date:   Tue Jul 7 15:55:43 2015 +0200

Below is the TraceBack output with a `not_filter     for pos in fmt_unpack(hash_.digest()):` error, then a SegFault. However, the stacktrace pictu

[2015-07-09 10:39] whirm commented on #1553
Hm, can you tell me how to reproduce that?

I see that it was on m2crypto land when it segfaulted. I've managed to make m2crypto segfault when feeding it wrong sized keys, so it could also be related to passing bad data to m2crypto.

[2015-07-09 11:32] synctext commented on #1553
no idea, sadly..

Wrong keylength is a promising lead...!

[2015-07-09 12:29] whirm commented on #1553
I don't think wrong key lengh is the issue, I'm saying I used to be able to make m2crypto segfault by feeding it bad data (Just checked and the segfault.py script I made to reproduce that doesn't crash anymore, so it seems at least that got fixed in the last months)

[2015-07-09 19:45] brandc commented on #1553
By chance, could this be related could issue #1541 be related?

[2015-07-09 20:54] whirm commented on #1553
@brandc nope, that one is already fixed and the unicode error is happening somewhere else. Also, that shouldn't lead to a segfault anyway.

[2015-07-10 19:52] synctext opened #1556 "Tribler .deb manages to crash the Ubuntu Software Center"
When using: http://jenkins.tribler.org/job/Build-Tribler_Ubuntu-64_next/113/
It crashes, see below. Manual dpkg also fails.

[code]

![crash_software_center_by_tribler deb](https://cloud.githubusercontent.com/assets/325224/8627777/adc9dbd8-274d-11e5-92a3-05db95ebaced.png)

![crash_software_center_by_tribler deb2](https://cloud.githubusercontent.com/assets/325224/8627782/b2fbd106-274d-11e5-867a-5d9

[2015-07-10 21:10] whirm commented on #1556
```dpkg``` is expected to fail like this (you are trying to install a package for which you are missing dependencies), you can do an ````apt-get -f install``` to install the missing dependencies.

Re. the ubuntu software center crash, I don't think we can do much about it. It's probably a bug on their side.
Our ```debian/``` hasn't been modified for the last 2 years other than to add dependencies

[2015-07-10 21:13] LipuFei commented on #1556
I think the problem can be `gtk3`.

[2015-07-12 10:44] whirm commented on #1556
@LipuFei WX uses gtk2.

[code]

[2015-07-12 10:57] LipuFei commented on #1556
@whirm In the backtrace, there is `libgtk-3-0`, so it might be related.

[2015-07-12 16:20] synctext opened #1557 "Mac is out of file handlers: Too many open files"
6.5.0 RC1-xx failed after a minute, when having 38 files in Library.
[code]

[2015-07-12 18:38] whirm commented on #1556
@LipuFei Because what's crashing is the Ubuntu software center and that's what's using GTK3.
Anyway, if the .deb is corrupt or badly built, the package manager should complain about it. Dpkg is installing it just fine with no complains other than the expected missing deps. which is expected. So the bug is on the software center side.

@synctext can you reproduce that consistently? If you can, I wo

[2015-07-13 22:02] brandc commented on #1543
Thanks for the feedback, this is some of the fastest response time I've seen in a github repo. I will get to testing this right away.

[2015-07-13 22:40] brandc opened #1559 "Don't know how to decrypt incoming message"
Is this a error a communication error, or a Tribler bug. If the first, does it need to be logged?

[code]

EDIT: (Refreshed log, after letting it run for a while)

[2015-07-13 22:43] brandc commented on #1543
The relevant lines from my log today:

[code]

[2015-07-13 22:56] brandc opened #1560 "file size search limiter render error"
I could not upload the window image, so I had to post it on imgur, sorry in advanced.

https://i.imgur.com/SgCa4kc.png

[2015-07-13 23:49] brandc commented on #1543
Relevant log:

(I marked a few popular channels as favourites on a fresh install)
[code]

[2015-07-14 12:00] whirm commented on #1560
Thanks for the report!

[2015-07-14 12:04] whirm commented on #1559
@brandc I guess now it's ERROR level because the whole tunnel_community stuff is on development/debugging phase. Once it stabilizes a bit, it will probably be lowered to WARNING.
Assigning it to @rjruigrok just in case.

[2015-07-14 12:49] rjruigrok commented on #1559
This happens when a circuit breaks (due to security limiters or timeouts) and there are still messages in transit on the circuit. Those messages can't be decrypted because the keys have already been cleaned up. Those errors are useful for debugging but not relevant in production, as they can happen any time.

I'll create a PR tonight setting this into a warning.

[2015-07-14 13:57] whirm opened #1562 "Is there a limit on the amount of resources Tribler will dedicate to proxying for other peer's circuits?"
Or it will try to attend all requests and go down in flames if there are too many requests?

[2015-07-14 22:28] rjruigrok commented on #1562
There is a limit which defaults to 100 concurrent relays or exits to be allowed. It's in https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/tunnel_community.py#L916

[2015-07-15 10:18] whirm commented on #1553
@synctext I'm pushing this to the backlog, If anyone is able to reproduce this without enabling dowser I'll have a look at it.

[2015-07-15 10:21] whirm commented on #1524
Ok, I'm closing this one then.

[2015-07-15 11:36] #1559 closed

[2015-07-15 14:36] whirm commented on #1562
@rjruigrok  Have you tried reaching the limit? Does Tribler still work?

[2015-07-15 14:45] rjruigrok commented on #1562
I tried it once, Tribler works fine. The bottleneck is not with the amount of circuits it is participating in, but the downloading / seeding bandwidth taking place over these circuits. Via the settings panel it is possible to limit the bandwidth of torrent seeding / downloading, but there is no way to limit the bandwidth for relaying data to others yet (mentioned earlier in #1053).

I think the li

[2015-07-15 15:20] whirm commented on #1562
Did you test it with a 100Mbit symmetrical connection?

[2015-07-15 18:14] rjruigrok commented on #1562
On the eduroam network or the Tribler wifi, not completely sure, it's been some months ago. But it was just a test with circuits / relays, not sure if there was any relaying activity on these circuits.
My mac was always going down in flames, with or without tunnels. Frying an egg on top is not that hard.  :smiley:

[2015-07-15 18:16] rjruigrok commented on #1562
Just meaning it gets hot, very hot, full cpu load. But it stays working.

[2015-07-16 20:00] synctext opened #1565 "Incorrect tracker checking"
just move to the next one if it fails?
[code]

[2015-07-16 20:20] LipuFei commented on #1565
@synctext Is this the latest `devel`?

[2015-07-17 05:39] synctext commented on #1565
yes

[2015-07-17 19:26] snifong commented on #1511
[code]

[2015-07-17 19:26] lfdversluis opened #1567 "Realtime graph on the website is broken"
http://www.tribler.org/tunnel-stats.html

shows http://gyazo.com/322c1f81a879a3312129723946c48d02

Perhaps there was no activity? In any case, it's unclear.

[2015-07-17 20:02] whirm commented on #1567
Yeah, we are having some issues with one of the servers, should be back on Monday.

Thanks for the report!

[2015-07-17 20:13] whirm commented on #1511
That looks fine.

Could you try doing the checkout in /tmp instead of the truecrypt volume? I guess truecrypt uses FUSE and maybe that is giving trouble?

[2015-07-17 20:18] synctext opened #1568 "download state not correctly restored"
To recreate, download a torrent, pauze the download, restart Tribler, it will incorrectly resume downloading.

[2015-07-17 21:59] snifong commented on #1511
I checkout to home dir deleted ~/.Tribler dir and tried running it.
[code]
After installing libsodium, I ran it again.  GUI started to load then displayed and error dialog with the following error:
[code]
I don't see any available packages for plyvel.

[2015-07-17 23:29] whirm commented on #1511
@snifong That's the fallback leveldb import, just install ```python-leveldb``` (have a look at ```debian/control``` to see Tribler's current deps.)

[2015-07-18 04:14] snifong commented on #1511
Installed all the dependencies and was able to run it from my home dir.  I had to install plyvel seperately from LeveDB using pip.

`$ pip install plyvel`

That's the only dep I had to install that way.  Thanks for the help.

Back to your FUSE comment.  I run lots of apps from that truecrypt volume and have never run into trouble.  What gives?

[2015-07-18 11:08] whirm commented on #1511
@snifong the "supported" leveldb bindings are py-leveldb (http://code.google.com/p/py-leveldb/) as those are available on Debian based distros. Plyvel was added as a backup but either should work fine.

re FUSE: I've seen a handful of weird behaviours when running stuff on a FUSE filesystem in the past. You could ```strace``` the python binary when trying to run Tribler and see if you notice anyth

[2015-07-18 16:35] ThomasdenH opened #1569 "Windows close button not working"
In Tribler 6.4.3 on Windows, the close button does nothing. I would expect the program to quit or minimize to tray, but currently for me the only way to close the program (that I know of anyway) is to manually abort the process. I am on Windows 8.1 Professional.

[2015-07-20 11:48] whirm commented on #1557
@synctext could you trigger this error again and get the list of open file descriptors by doing this:
http://stackoverflow.com/a/26862998

This way we can get a hint about where we are leaking them.

[2015-07-20 11:51] whirm commented on #1565
@LipuFei are you working on this?

[2015-07-20 11:52] LipuFei commented on #1565
@whirm Yes, I've made a fix for this #1566.

[2015-07-20 16:22] snifong opened #1570 "All Anonymous Downloads and Uploads Stuck at "Building Circuits""
**OS:** Sabayon Linux 15.X (Gentoo)
**Version:** Latest (as of 07/20/2015) version pulled from git.
**Reproducible?** Yes
**Tribler Config Settings:** Anonymous download set to low (1).  I've tried medium (2) and high (3) also and the same thing happens.

**Steps to Reproduce Hung Download:**
1. Launch Tribler
2. Search for a file to download
3. Select it and click download
4. Dialog pops up askin

[2015-07-21 12:41] whirm commented on #1570
This feature is not yet on a released version of Tribler, so there's almost nobody acting as proxies right now. We have a few dedicated boosters maybe where offline when you tried? I'm just downloading an Ubuntu iso in tunneled mode at 2.5 MB/s right now.

[2015-07-21 15:00] snifong commented on #1570
There used to be a 1-5 level slider for anonymity.  I don't know what version that was 6.3.4 maybe.  I almost always used at least a 3 and it worked fine.  What's different under the covers about the 1-3 slider?  Still using the same network, right?

[2015-07-21 15:13] whirm commented on #1570
AFAIK it got reduced to 1-3 because 4-5 was just too slow to be useful at all.
The anontunnel community has changed a lot, since the last release.
RE ports, I think it's using the same port than the rest of the dispersy traffic.
@rjruigrok could you answer this better/correct me?

[2015-07-21 22:12] rjruigrok commented on #1570
@whirm That's correct, nothing changed related to the ports.

Regarding the 'building circuits' state, it will stay in this state until at least 4 circuits are built. And when using a circuit length larger than 1, those circuits should all end in a different exit-node, but as they are scarce in the current version, this may take some time.

@whirm, it might possibly be related to trackers running

[2015-07-22 01:11] snifong commented on #1570
I'm not sure what happened but today I started it up and the "Launching Tribler" dialog box status read "upgrading database ... this may take some time" (or something like that).  After a little bit, it launched and I tested it with a Ubuntu ISO and it worked.  Then I tested it with the same file I was trying before when I opened the ticket and it worked with that one also.

```git pull``` didn't

[2015-07-22 09:36] whirm commented on #1570
@snifong good to know.
Remember that we use several submodules, so you need to ```git submodule update --recursive``` after updating the main repo.

Let us know if you find more issues :)

Cheers.

[2015-07-22 09:36] #1570 closed

[2015-07-22 23:23] brandc opened #1571 "What is in place to prevent voting spam?"
Could someone just generate elliptic curve signing keys really quickly, sign one channel, and distribute the bad data?

[2015-07-23 20:20] synctext commented on #1556
sadly, I can't reproduce it. Closing it.

[2015-07-23 20:20] #1556 closed

[2015-07-27 14:04] vvs- opened #1572 "The Tribler forum is under attack"
There is a massive spam attack ongoing. Please, disable new registrations and posts from new users.

[2015-07-28 03:30] brandc commented on #1572
If you have not noticed, the tribler github has been idle for almost a week now.

[2015-07-28 07:16] synctext commented on #1572
yep, also our Jenkins infrastucture was under attack. Somebody compromised a build image.  Busy week... So lack of communication,but stuff is happening.

[2015-07-28 08:59] whirm commented on #1572
@synctext I have no admin rights on the forum, can you disable new registrations? I can take care of banning existings users.

[2015-07-28 12:27] vvs- commented on #1572
According to the forum logs they are registering at a rate of a several per minute. If something is not done quickly they will flood the forum completely. I can't stay behind the computer all the time.

[2015-07-28 12:31] #1565 closed

[2015-07-28 12:34] whirm commented on #1572
@vvs-: @synctext is on vacation, so it may take some time for he to reply. Bad timing for a spam attack :(

[2015-07-28 13:03] whirm commented on #1572
@vvs- I've gone directly into the database and set myself as admin :D

I've just disabled user registration.

[2015-07-28 13:13] vvs- commented on #1572
Hourray! I can finally relax. Thanks!

[2015-07-28 13:18] whirm commented on #1572
@vvs- thanks for the help! I'll be looking at solutions for the forum spam problems shortly.

[2015-07-30 16:13] whirm commented on #1569
I can't reproduce this (Tested on windows 8.1 pro)
Can you reproduce this consistently? If so, what do you do to trigger the issue?
If you leave the process alone will it close by itself eventually?
Could you have a look at the log file and see if you get any error message there?

Thanks for your report!

[2015-07-30 16:14] whirm commented on #1568
@LipuFei can you take care of this?

[2015-07-30 16:18] #1562 closed

[2015-07-30 17:14] brandc commented on #1571
I'm guessing some sort of puzzle system similar to bitcoin. A puzzle of a given memory and computational difficulty in order to sign a channel and increase the popularity rating.

[2015-07-30 20:18] whirm commented on #1571
@brandc yes, there's no protection against spam voting right now. But when you subscribe to a channel, you also help propagating it over the rest, so that also helps with keeping the good channels visible.

[2015-07-31 19:55] ThomasdenH commented on #1569
After some more testing I have found the following: The window closes fine at first, but as soon as it is moved or its size has been altered the button stops working. When leaving the program running, it doesn't close within ten minutes after the button is pressed.

When looking at the log file (pymdht.log, right?), on startup, this line appears:

    2015-07-31 21:44:06,970 CRITICAL minitwisted.p

[2015-08-02 13:01] synctext commented on #1569
thnx for helping us debug Tribler. If Tribler has been running for a day, we sometimes see that it may take a -full- minute to flush everything to disk after pressing close.

Is this the case perhaps?

[2015-08-03 09:43] whirm commented on #1569
This minitwisted CRITICAL line is bad logging from an external library (pymdht) we use due to libtorrent not exposing some DHT calls on the python bindings. Nothing to worry about.

Thanks a lot for investigating further, I'll try to reproduce it ASAP.

[2015-08-03 09:59] brandc commented on #1571
That answers my question.

[2015-08-03 09:59] #1571 closed

[2015-08-03 12:09] ThomasdenH commented on #1569
@synctext The issue appears immediately, so probably not that.

[2015-08-08 22:07] BmetaMax opened #1574 "Error upon close, cleaning up databases"
Apologies if there's already an entry for this, I don't see it.
I just upgraded to tribler 6.5RC2; note not a clean install but the upgrade installation went error free even though it took almost an hour to "ingest" everything.
I went in and enabled being an exit, (as I'm broke and not a programmer but at least I can contribute bandwidth), which caused tribler to prompt that the application needed

[2015-08-09 01:58] colin1497 opened #1575 "Upgrade install fails on start, "Unable to obtain adapter information.""
Tribler version: 6.5.0-rc2
Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 174, in __init__
  File "Tribler\Core\Session.pyo", line 422, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 155, in register
  File "Tribler\dispersy\dispersy.pyo", line 136, in __init__
  File "Tribler\dispersy\dispersy.pyo", line 194, in _get_interface_addresses

[2015-08-09 08:27] conradpoons commented on #1304
I suggested this some time ago. For me it would the best change that could be made in Tribler.

[2015-08-09 08:29] conradpoons commented on #1135
That would be nice.

[2015-08-09 14:41] jbshirk opened #1576 "On Mac OSX 10.9.5 Tribler exits immediately after launch"
Please let me know what other information would be helpful. I used the OSX install package.

[2015-08-09 14:42] LipuFei commented on #1576
Hi @jbshirk, thank you for the report! Could you open your Warning Console to see if there is any output? Thanks in advance!

[2015-08-10 09:51] LipuFei commented on #1574
Hi @BmetaMax, thank you for the report!

What does the error message say? Does it say something like "Please see ...\tribler.log"?

[2015-08-10 12:46] whirm commented on #1135
You can do this already: Click on channels -> My channel -> Manage torrents -> Create torrent.

Yes it's hard to find. I guess we should make it more visible.

[2015-08-10 12:48] whirm commented on #1304
Let's see if we can have it done for the release after 6.5.

[2015-08-10 13:25] whirm commented on #1569
@ThomasdenH I really can't reproduce this with RC2. (I tried several times with the windows 2008 machine I have on the corner) Can you have a look at the log file and see if there's anything there?

[2015-08-10 13:30] whirm commented on #1152
Last RC already came with an PGP armored SHA1.txt file.

I'll put the public key on the git repository ASAP.

[2015-08-10 14:42] LipuFei commented on #1575
We have made a fix for this in dispersy #449. This issue will be closed after we update dispersy in Tribler.

[2015-08-10 20:05] karlhedderich opened #1578 "option to make a non-anonymously downloaded file seed anonymously"
I would like an option to make non-anonymously downloaded files seed anonymously.

Thanks for all you hard work :)  Keep up the good fight

[2015-08-10 23:20] BmetaMax commented on #1574
Yes it says see ...\Programs\Tribler\tribler.exe.log. Which I opened, but there are a ton of errors listed. So that's why I tried to paste the whole log as I mentioned before but it didn't work. Want me to email it to you or something?

[2015-08-11 08:12] LipuFei commented on #1574
@BmetaMax Thanks! You can email it to me. Probably some threading issue caused the problem during the shutdown.

Another thing I would like to mention is that, this error message is produced by `py2exe`, which is the package we use to make Windows .exe application. If there is any log entry >=ERROR level, a log file will be generated, and after the application shuts down it will show this error me

[2015-08-11 11:02] whirm commented on #1578
This feature is already present in 6.5.-RC2, when you start a download, you can check an option for that.

What can't be done right now is to switch from plain to tunnelled and vice-versa once the download has started and that should be implemented.

Thanks!

[2015-08-11 15:54] BmetaMax commented on #1574
Lipu, thank you for your feedback. The log file is too big now (69MB!) to attach to the email normal so I've zipped it (7z, ultra, no encryption or password) and hope it makes it to you through either github or direct email.

     On Tuesday, August 11, 2015 4:13 AM, Lipu Fei <notifications@github.com> wrote:

 @BmetaMax Thanks! You can email it to me. Probably some threading issue caused the prob

[2015-08-11 17:44] LipuFei commented on #1574
Hi @BmetaMax, I checked your log file. Some of the problems should already been fixed, so I am not sure what exactly happened on your machine. Perhaps, could you try to reinstall (don't keep the old stuff, if you installed it in "C:\Tribler" for example, uninstall and remove "C:\Tribler" completely before you install again) and see if you still get the same backtraces? Thanks!

[2015-08-11 20:03] BmetaMax commented on #1574
Will that lose all my downloads in progress or no? If I won't lose things then I don't mind.

-------- Original message --------
From: Lipu Fei <notifications@github.com>
Date: 11/08/2015  13:44  (GMT-05:00)
To: Tribler/tribler <tribler@noreply.github.com>
Cc: BmetaMax <meta.maximus@yahoo.com>
Subject: Re: [tribler] Error upon close, cleaning up databases (#1574)

Hi @BmetaMax, I checked your log

[2015-08-11 20:14] LipuFei commented on #1574
@BmetaMax No, you won't lose them. :) All data is saved in "$HOME\.Tribler".

[2015-08-12 09:56] LipuFei commented on #1575
Fixed by #1581

[2015-08-12 09:56] #1575 closed

[2015-08-13 11:18] LipuFei commented on #1568
@synctext Could you try to reproduce this?

[2015-08-13 14:25] LipuFei commented on #1567
One of our servers was down. Now it's fixed.

[2015-08-13 14:28] whirm commented on #1567
@LipuFei still not working:  http://www.tribler.org/tunnel-stats.html

[2015-08-13 18:46] BmetaMax commented on #1574
Lipu, I did it; uninstalled, made sure the program directory was gone, then reinstalled. It started up much faster but after letting it run a couple hours I tried closing it and got the error again. This time I managed to get a screenshot though you probably don't need it, attached.
I'll email you the log in a minute.
![Uploading triblererror081315.png…]()

[2015-08-13 18:47] BmetaMax commented on #1574
Wrong button sorry!

[2015-08-13 19:04] BmetaMax commented on #1574
Hi Lipu, here's the new log. It's certainly faster than before reinstall but still getting that error on close.

     On Tuesday, August 11, 2015 4:14 PM, Lipu Fei <notifications@github.com> wrote:

 @BmetaMax No, you won't lose them. :) All data is saved in "$HOME.Tribler".—
Reply to this email directly or view it on GitHub.

[2015-08-13 20:07] BmetaMax commented on #1574
Oh also I don't know if it matters for this, but I've also been seeing that all my finished downloads which should be seeding are stuck at building circuits, including ones that were seeding before upgrading to rc2 and finished since reinstalling rc2 today.

[2015-08-13 20:08] LipuFei commented on #1574
@BmetaMax I cannot see the screenshot... Could you upload it again? And could you also upload the log file if it is not big? Thanks!

[2015-08-13 20:13] LipuFei commented on #1574
@BmetaMax The "building circuits" thing is not related to this. It's basically saying that it's trying to seed anonymously. Because the Tunnel is still experimental at the moment, it never finishes the "building circuits" phase.

[2015-08-13 20:50] LipuFei commented on #1574
Hi @BmetaMax, I've checked the logs. There are three issues:
1. Missing wxPython version (fixed and will be in the next RC release)
2. A lib-not-found error (also fixed and will be in the next RC release)
3. A cryptography-missing-sha256 problem. This is a wired one and I cannot reproduce on my Windows machine. I will investigate this later and will let you know when it is fixed.

[2015-08-13 20:58] BmetaMax commented on #1574
Trying to upload the log directly to the forum gives me this error: "Unfortunately, we don’t support that file type. Try again with a PNG, GIF, JPG.", FYI.

[2015-08-13 20:59] BmetaMax commented on #1574
Thanks Lipu.

     On Thursday, August 13, 2015 4:50 PM, Lipu Fei <notifications@github.com> wrote:

 Hi @BmetaMax, I've checked the logs. There are three issues:
1. Missing wxPython version (fixed and will be in the next RC release)
2. A lib-not-found error (also fixed and will be in the next RC release)
3. A cryptography-missing-sha256 problem. This is a wired one and I cannot reproduce on my Wi

[2015-08-14 01:37] jbshirk commented on #1576
I need a few clues about what/where/how.

[2015-08-14 19:51] BmetaMax commented on #1568
I've also been having this error. I mentioned it in a different bug, but just saw this bug filing and so wanted to verify I'm seeing it too. To clarify, I'm on rc2, have recently performed a clean install.
I would add that I've stopped downloads several times, performed a clean shutdown, and upon reopening tribler all downloads are resumed whereas in 643 the same stopped downloads would remain sto

[2015-08-15 15:19] ThomasdenH commented on #1569
I have tested it on 6.4.3, not the latest RC. How can I build and test Tribler on Windows?

[2015-08-16 09:39] EnolRekcah opened #1582 ""Default Anonymous Level:"-Option becomes visible but is not interactable"
If you deselect "Let me choose a location for every download" in the general settings menu in Windows an option "Default Anonymous Level:" becomes visible where the title "General" is placed. Underneath it seems to be a checkbox but it's kind of buggy.

[2015-08-16 19:29] BmetaMax commented on #1569
@ThomasdenH at last another layperson like me- I can help with this! Go here and you can download the windows installer package of the Rc2 to install: https://github.com/Tribler/tribler/releases
Another tip; uninstall tribler 643 first but don't worry your files will still be there. I installed rc2 over 643 and had weird things happen one of the dev's asked me to do a fresh install and it helped.

[2015-08-17 11:45] whirm commented on #1569
Has anybody else run into the same issue than @BmetaMax with having to manually uninstall Tribler before installing an update? The Tribler installer runs the old Tribler uninstaller before installing the new version.

[2015-08-17 15:40] LipuFei commented on #1574
Hi @BmetaMax, I've finally fixed the cryptography problem. So, all the errors in the log files that you gave me should be gone in the next release.

[2015-08-17 20:26] ThomasdenH commented on #1569
Ah. I hadn't noticed the executable was there. I have had no problems updating. The issue is still there though. Also, all torrents seem to be stuck on building circuits. Is this just due to the fact that few people updated?

[2015-08-17 20:29] LipuFei commented on #1569
Hi @ThomasdenH. The "building circuits" problem is actually caused by the incorrectly packaged `cryptography` module. Now this problem is fixed and it will be working in the next release.

[2015-08-17 22:22] BmetaMax commented on #1574
Thanks @LipuFei that's great!

[2015-08-18 13:15] #1574 closed

[2015-08-18 15:03] whirm opened #1585 "The bittorrent icon on the download items should go"
As we only support bittorrent transfers now.

[2015-08-18 23:52] BmetaMax opened #1588 ""errors occurred" on adding magnet link"
Got this error when adding by magnet link. Honestly hadn't tried it since going to RC2.

If I need to email the log to someone just let me know. I may not be able to help programming but at least I can help by breaking it!
![triblererror081815](https://cloud.githubusercontent.com/assets/13711690/9345778/8e2146be-45e2-11e5-83cd-88caec61e199.jpg)

[2015-08-19 09:24] LipuFei commented on #1588
@BmetaMax Could you send me the log file? Thanks!

[2015-08-19 11:44] ThomasdenH opened #1590 "Keep sorting torrents"
Right now, the download panel sorts when clicking an option, but the order stays the same, even though the value to sort by changes. For example, when sorting on ETA one torrent might suddenly download much quicker and therefor get a faster ETA without this being reflected in the torrent order.

[2015-08-19 11:47] ThomasdenH opened #1591 "Consider torrents without ETA taking the longest"
When sorting torrent by ETA, could you please change it so that completed torrents and torrents that don't download are sorted below torrents that have an estimated time. This way, it is an easy way to see what torrent will be complete the soonest, as it is on top of the list, which torrent will take a while, since it will be at the bottom of the still downloading torrents, and which torrent are c

[2015-08-19 12:10] whirm commented on #1591
Good idea, thanks!

[2015-08-19 12:39] whirm commented on #1582
Are you running 6.4.*? This part of the gui has changed since then. Maybe you could try the latest RC?

Thanks!

[2015-08-19 12:51] EnolRekcah commented on #1582
Yes I'm running v6.4.*. I am having problems with the latest RC. I think this Error is also mentioned in a previous issue:

Tribler version: 6.5.0-rc2
Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 174, in __init__
  File "Tribler\Core\Session.pyo", line 422, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 155, in register
  File "Tribler\

[2015-08-19 13:17] whirm commented on #1582
I've just uploaded RC3, which contains fixes for that issue: https://github.com/Tribler/tribler/releases/tag/v6.5.0-rc3

Give it a go and see if it solves your issue.

Thanks!

[2015-08-19 13:39] #1572 closed

[2015-08-19 14:05] EnolRekcah commented on #1582
Thanks ;)

[2015-08-19 14:09] EnolRekcah commented on #1582
I just downloaded the new release but unfortunately I run into the following Error on Windows 8.1:

Tribler version: 6.5.0-rc3
Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 174, in __init__
  File "Tribler\Core\Session.pyo", line 422, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 155, in register
  File "Tribler\dispersy\dispersy.pyo",

[2015-08-19 14:21] ThomasdenH opened #1594 "Select multiple download state filters"
It would be great for easier use if the download state selection could be changed into a checkboxes instead of radio buttons. Instead of having the option all to show everything, there could be a dot in front of all enabled options and none in front of the others. By default, all would be enabled. This way, only checking and downloading torrents could be selected or both seeding and stopped ones.

[2015-08-19 14:43] whirm commented on #1582
Just merged a fix for that, I'll do a quick rebuild shortly. Thanks.

[2015-08-19 15:13] EnolRekcah commented on #1582
Okay, thanks a lot.

[2015-08-19 19:26] NielsZeilemaker commented on #1585
Add a tunnel icon?

[2015-08-20 11:49] whirm commented on #1585
And remove the anonymous column, yeah, that would be nice.

[2015-08-21 21:31] BmetaMax opened #1599 "Tribler rc3 & rc3-5-g61899fd crash after *going to downloads & several minutes of waiting for the list to load"
I can't find a log, but both crash. For rc3 I ran the install which uninstalled rc2. It crashed so I looked around and saw @whirm 's post about build -5-g61899fd and downloaded it. This time I uninstalled rc3 manually, ran the installer, and same thing happened.
I haven't tried going back to rc2.
Win10 x64.
![triblererror082115](https://cloud.githubusercontent.com/assets/13711690/9419469/f198c854-

[2015-08-22 13:52] synctext commented on #1599
OK, that is quite serious.
We hope you can find the time to help us fix this issue.

Please try to locate the logfile in your Windows filesystem and sent it in a PM to our Dev (http://forum.tribler.org/users/whirm):
c:/program files/tribler/tribler.exe.log (windows) or
c:/users/USERNAME/tribler.exe.log (windows-alt)

We will create a dedicated version with more extensive logging if that is require

[2015-08-22 14:03] Cathryne opened #1600 "Noob question: helpful to move previously collected .torrent files?"
Hi!

I wanted to migrate from another torrent client to Tribler and noticed that the previous one had many of its .torrent files still stored. Is it helpful to Tribler to just drop them into the `collected_torrents` folder, or can they only be utilised if they have been written by Tribler itself?

Thanks for any advice!

[2015-08-22 17:49] synctext commented on #1600
hi, Tribler should be able to use them.

if you want to download the content of those .torrent files, simply use the upper right '+' icon. Manually adding them to the collected_torrents file requires a bit of work.

[2015-08-23 15:32] BmetaMax commented on #1599
Sorry hadn't checked back till now. I'll look for logs and send them to whirm. Regarding disk space, I've 120GB free on my OS drive, and 250GB+ free on the drive tribler's directory is installed to.

[2015-08-23 15:48] BmetaMax commented on #1599
Here's what I replied to whirm in forum on rc3, can't seem to do a PM?
@whirm below is my tribler log pasted. For context see this issue on github; https://github.com/Tribler/tribler/issues/1599.
Sorry I haven't quite figured out how to send a PM on the new forum yet. I apparently can't upload attachments yet I get this error when trying "Sorry, new users can not upload attachments".
Log details:

[2015-08-23 15:54] BmetaMax commented on #1588
Sorry @LipuFei I think that logs gone now since I updated to Rc3, I couldn't find it in the old place when I submitted a different issue 2 days ago. All my log says now is:
ERROR 1440174030.47 server:214 DENYING SOCKS5 request
ERROR 1440179551.44 server:214 DENYING SOCKS5 request
From %appdata%

[2015-08-23 16:31] BmetaMax commented on #1599
So I spent some more time playing with this and realized didn't it crash exactly some time after opening, rather I realized that after opening I always click on downloads and then normally tribler takes some minutes to initialize everything I guess; on 643 typically it takes better than 2 minutes for all files to change from initializing to downloading/seeding etc., showing progress and details.
T

[2015-08-23 18:17] EnolRekcah opened #1601 "Running Tribler directly from repository in Arch Linux"
After cloning and executing the "tribler.sh" script I get the following error: "ImportError: No module named cryptography.hazmat.backends". At the moment I'm stuck. Previous errors could be fixed through the installation of the corresponing dependencies but this one seems to be tougher,

[2015-08-23 21:35] Thomasedv opened #1602 "RC-3 and RC-3 g61899 not being able to build circuits for anonymous donwloading."
I'm on Windows 10. The anonymous torrenting doesn't work. Works fine with encrypted anonymous seeding, but not anonymous downloading. Getting a lot of errors. Tribler also have an error when trying to close. Pastebin of a bit of the log file. Most stuff are just the same thing going since i left it going over the night so see if it would work, and i assume that's what here are so many of those.

h

[2015-08-24 09:37] LipuFei commented on #1588
Hi @BmetaMax. Starting from RC3, the log file on WIndows has been moved to %APPDATA% directory, so you will not find it in the install dir.

Those two entries in your log file have nothing to do with magnet download, so I have no idea what happened at the moment... Perhaps you could gather more information and upload them later? Thanks a lot!

[2015-08-24 09:39] LipuFei commented on #1601
Hi @EnolRekcah, thank you for the report. This error is caused by missing the `cryptography` python module. Could you try to install this module and try again?

[2015-08-24 10:47] EnolRekcah commented on #1601
Hey, you were right LipuFei. Thank you very much. The "python2-cryptography" module was missing. I also had to install "python2-plyvel" and "python2-decorator". Now it is functioning ;) Is it normal that the window title says "Tribler 6.4.0-GIT" although I cloned the repository?

[2015-08-24 11:39] LipuFei commented on #1601
@EnolRekcah It is normal. We didn't update this title in the source code so that's why you see "Tribler 6.4.0-GIT".

[2015-08-24 12:09] whirm commented on #1599
@BmetaMax there's only bugfixes since RC1, so I don't think it'll get better if you downgrade. I'll try to reproduce it by adding a lot of downloads like you do.

[2015-08-24 12:10] LipuFei commented on #1599
@BmetaMax The anonymous functionality in RC2 was basically not working because the `cryptography` package was broken. From what you described, I think the issue is with the anonymous seeding: tribler GUI may block when initializing anonymous seeding torrents. I will have a look to see what happened.

For the moment, you can switch to RC2, but as I have described earlier, the anonymous seeding will

[2015-08-24 12:17] LipuFei commented on #1602
@Thomasedv Thank you for the report. I have made a fix for a problem in the log file you provided. Could you have a try when the next release becomes available? Thank you!

[2015-08-24 14:38] Thomasedv commented on #1602
Will do once it's out.

[2015-08-24 14:40] whirm commented on #1602
@Thomasedv Could you try this build?
http://jenkins.tribler.org/job/Publish_tribler_next/133/artifact/Tribler_6.5.0-rc3-7-gdc80e16.exe

[2015-08-24 16:03] Thomasedv commented on #1602
Ok, it's a bit complicated now. After installing the build it did not change anything at first. Restarted the computer just to be sure, and to my surprise it started working! I then decided to test to see if i got an error when closing Tribler. I did, and at that moment i had a few of the anonymous torrents in progress. (Adding as info as it may be related) Got an error, and check log file for inf

[2015-08-24 16:08] colin1497 opened #1605 "Loads, then exits without notification [RC5]"
I get no notification of anything on exit, the process just ends.  It loads, connects, and starts processing existing torrents to seed, then just exits hard.  I've looked for log files, and the only log file that has anything is in \collected torrents and contains:

    2015/08/24-10:58:58.000873 1430 Recovering log #3
    2015/08/24-10:58:58.000877 1430 Delete type=0 #3
    2015/08/24-10:58:58.00

[2015-08-24 16:31] colin1497 commented on #1605
Confirmed same happens with 5-g61899fd build.

[2015-08-24 16:38] whirm commented on #1602
It's fine like this :)

I'll let @LipuFei have a look at it tomorrow.

Thanks a lot for your work!

[2015-08-24 16:39] whirm commented on #1605
@colin1497 have you looked for logs in ```%APPDATA%``` ?

Thanks!

[2015-08-24 16:55] ThomasdenH commented on #1569
After some more testing I've found that I can close the program immediately after starting it. It's after the number of channels and torrents appear that the button stops functioning.

[2015-08-24 17:03] whirm commented on #1569
@ThomasdenH Could you give a shot at this build and verify that it still happens?

http://jenkins.tribler.org/job/Publish_tribler_next/133/artifact/

Thanks!

[2015-08-24 18:04] ThomasdenH commented on #1569
Unfortunately, yes, it still does.

[2015-08-24 19:25] Thomasedv commented on #1602
A new and probably not related problem, but getting an error popup for each torrent i add. Still works fine, but there seems to be an error. Also kind of feel bad for pointing so many problems out, especially after seeing the length of the logs...

New log file for this problem, a good change the part of the other one is in it too.
https://mega.nz/#!RAhmFBiL!cbJw6MR998WaGNLLwivdoEJTKeXvAgojoUycnZj

[2015-08-24 19:29] Thomasedv commented on #1588
This might be relevant, since i get the same thing. I use a program that automatically downloads and then "runs" the torrent file, so i think it's related to adding torrents. This log file is also partly of another issue, but might contain something useful.

https://mega.nz/#!RAhmFBiL!cbJw6MR998WaGNLLwivdoEJTKeXvAgojoUycnZjFxYU

[2015-08-24 20:12] EnolRekcah commented on #1601
Okay, perfect.

[2015-08-25 09:56] EnolRekcah opened #1606 "Seeding although I disabled it and set limit to 0 KB/s"
I'm seeding although I disabled seeding to both Tribler-Peers and Bittorrent-Peers. I also set the Upload-Limit to 0 KB/s.

[2015-08-25 09:57] #1582 closed

[2015-08-25 11:12] whirm commented on #1569
@ThomasdenH Could you edit logger.conf and set all ```level=SOMETHING``` to ```DEBUG``` and reproduce the problem?
You should get a huge log file that may give us a hint about what's going on.

[2015-08-25 11:37] whirm commented on #1606
I've just reproduced it: Go to settings, disable seeding for both Tribler and Bittorrent peers, save and restart, download an ubuntu iso. It will stay in seeding mode.

[2015-08-25 12:09] EnolRekcah commented on #1606
What do you mean by "It will stay in seeding mode"?

[2015-08-25 13:51] colin1497 commented on #1605
Nothing in the root of %appdata%.

I just tried one start.  If I go to %appdata%\.tribler and search for files modified today, I see the following:

![untitled](https://cloud.githubusercontent.com/assets/11151259/9468208/0068735a-4b06-11e5-8bbb-43831f1dec54.png)

The log in collected_metadata says:
    2015/08/25-08:44:44.000500 17f8 Recovering log #7
    2015/08/25-08:44:44.000506 17f8 Delete typ

[2015-08-25 14:21] whirm commented on #1606
It will not unload the torrent when it's finished downloading.

[2015-08-25 14:53] BmetaMax commented on #1599
Ok thanks @LipuFei & @whirm , I'll just wait until the next RC comes up for now.

[2015-08-25 14:55] BmetaMax commented on #1588
@LipuFei everytime I try to load RC3 to see if the log changes, as mentioned in a different issue it crashes, and after that I check the log and nothings changed.
I'm happy to supply more info but if the behavior doesn't change then there's nothing new to provide.

[2015-08-25 16:08] BmetaMax commented on #1599
So I just tried something different to see what happens; on 3 separate attempts to run tribler rc3 I started it and just let it sit without touching it, no going to channels or downloads, not even minimizing it. By 20 minutes using a chronometer it crashed on all three occasions.

[2015-08-25 17:21] ThomasdenH commented on #1569
Sure. It was too large for pastebin, but [here's a link](https://drive.google.com/file/d/0B0dXxWOn-664ZloxVTl2VjNxM2M/view?usp=sharing) to the file on Google Drive.

[2015-08-25 20:55] kucenkelate opened #1610 "download is not running"
my 6.5 rc3 is refusing to download.

[2015-08-25 20:57] kucenkelate commented on #1610
http://s18.postimg.org/mqe89h621/tribler.jpg

[url=http://postimg.org/image/qmrk5gr1h/][img]http://s18.postimg.org/qmrk5gr1h/tribler.jpg[/img][/url]

[2015-08-25 21:00] kucenkelate commented on #1610
http://s1.postimg.org/ou2azo47j/tribler2.jpg

[url=http://postimg.org/image/jvesl50ej/][img]http://s1.postimg.org/jvesl50ej/tribler2.jpg[/img][/url]

[2015-08-26 10:15] whirm commented on #1599
@BmetaMax: @LipuFei found a gui crash bug that may be fix the first issue you had (not the crash after 20 min. we will have a look at that next.) I'll post a new build shortly.

[2015-08-26 13:35] whirm commented on #1569
@ThomasdenH great, thanks!

[2015-08-26 14:06] BmetaMax commented on #1599
@whirm Thanks, looking forward to it!

[2015-08-26 15:24] synctext commented on #1568
reproduced.
Hey guys, just did update to latest devel. Still not restoring correctly if I stopped seeding, restart, it resumes seeding again.

commit c4fa55709551cc44013e8123b5cf25e3a6f9b0ec
Merge: 871f23d c98c07b
Author: Elric Milon <whirm@users.noreply.github.com>
Date:   Mon Aug 24 14:23:44 2015 +0200

[2015-08-26 15:49] synctext opened #1612 "Removing an anonymous download, then re-download gives error"
start an anonymous download, start streaming, remove only the torrent from download (not the data).
Add same magnet link again, start streaming same file. error.
[code]

[2015-08-26 17:12] synctext opened #1613 "Files are saved in subdirectories"
Both Mac and Linux version have this sometimes.

downloading 1 multi-file swarm. Second multi-file swarm is saved in subdirectory of first; not in TriblerDownload.

[2015-08-27 11:04] #1613 closed

[2015-08-27 13:40] whirm commented on #1610
Can you set it to 1 hop and see if it works?

Thanks!

[2015-08-27 13:41] whirm commented on #1605
I'll be pushing a new RC shortly which fixes the broken logging, could you retry and upload the log?

[2015-08-27 13:45] whirm commented on #1602
It seems you have a corrupt download state file. To make sure, could you rename the ```dlcheckpoints``` directory and see if that fixes it? If so, maybe you could send us the contents so we can see what the issue is.

Also, we are going to add a check for that so that corrupt download state files will just be dropped instead.

[2015-08-27 13:45] #1601 closed

[2015-08-27 13:49] whirm commented on #1588
@BmetaMax The logging should be fixed on the next build (coming shortly) could you try to get a new log again then?

Thanks!

[2015-08-27 13:50] whirm commented on #1576
Sorry for the delay, here's how to do it:

Go to the launch pad -> other -> console

Thanks!

[2015-08-27 13:54] whirm commented on #1569
@ThomasdenH I'm building a new RC right now which fixes a couple of nasty bugs. Could you please see if the issue persists and upload a new log if it does?

Thanks!

[2015-08-27 14:25] BmetaMax commented on #1588
Yes I can / will once I get the new build installed.

[2015-08-27 15:48] Thomasedv commented on #1602
Ok, so for a lot of reasons things just went wrong. Not just with tribler, while going through files my secondary hard drive partition suddenly turned into a weird storage format and said on space left on it. (Exactly 0....)  Also had more freezes, crashes and other things happen to Tribler.
So i ended up removing every trace of Tribler i could find on the computer and see how things will be with

[2015-08-27 15:53] whirm commented on #1602
@Thomasedv that's unrelated to Tribler but maybe you should do a smart test run to make sure you disk is not dying.

Could you update to RC4? The issues you described should be (mostly?) fixed.

[2015-08-27 16:04] Thomasedv commented on #1602
Yeah know that's unrelated to tribler. I restarted the computer and it was fine. Will look more into that.

Wish i had noticed RC4 was out earlier. Will test it out and report back.

[2015-08-27 16:23] Thomasedv commented on #1602
Installed it. Adding torrents and closing tribler is without error now. So that's great! Tribler now starts successfully most of the time now. Had it crash once, but i'm not sure what the cause was.

Had one error pop up during downloading though. Which was this.

Traceback (most recent call last):
  File "Tribler\Main\vwxGUI\SearchGridManager.pyo", line 606, in _do_gui_callback
  File "Tribler\Ma

[2015-08-27 16:53] synctext opened #1617 "Traceback: cryptography.exceptions.InvalidTag"
With the latest devel code from 25h ago.

There might be more hints in the 2nd appended log of the <CTRL N> debug community.
btw is this kept in memory? Should this be pruned at 10k log lines, for people that run Tribler for weeks?
[code]

[code]

[2015-08-27 16:54] synctext commented on #1617
[code]
Seems Gihub does not allow all of my logs to be posted :-)

[2015-08-27 20:14] EnolRekcah commented on #1606
Yeah I know. But why is it uploading anyway? I mean I have disabled it.

[2015-08-27 23:05] colin1497 commented on #1605
Absolutely.

[2015-08-27 23:43] colin1497 commented on #1605
OK, RC4, this is crazy, same thing, no log in %appdata% (\users\xxxx\appdata\roaming\.), and similar stuff in %appdata%\.tribler, but I searched \users\xxxx\appdata for *trib*log and found a log in the C:\Users\xxxx\AppData\Roaming\Raptr\ltc folder (http://raptr.com/, comes with AMD video drivers).  Raptr is monitoring processes that start to see if they're games to do its overlays with, etc.  Any

[2015-08-28 06:24] Cathryne commented on #1600
Hi Johan,

What work is required to add them to the collected_torrents? I don't want
to download their content, just add the .torrent files themselves to the
searchable pool.

Cheers,
Cathryne

On 22 August 2015 at 19:49, Johan Pouwelse <notifications@github.com> wrote:

[2015-08-28 07:26] ThomasdenH commented on #1569
Still does it, [here's](https://www.dropbox.com/s/ut5nc39nlas8g23/tribler.exe.log?dl=0) the log.

[2015-08-28 08:03] whirm commented on #1569
Thanks!

 I'll be creating several issues with the stuff I find on your log.

[2015-08-28 08:04] whirm opened #1618 "Libvlc initialization segfaults on windows 8.1 pro"
[code]

[2015-08-28 08:06] LipuFei commented on #1617
@synctext Could you check your openssl version? I found this comment in the cryptography:

[2015-08-28 08:06] whirm opened #1619 "Tunnel community address is None in encode_address()"
This is on windows 8.1

[code]

[2015-08-28 08:10] whirm opened #1620 "Invalid index error on list_details.py"
This is on windows 8.1

[code]

[2015-08-28 08:12] whirm commented on #1606
I confirmed the bug, we still have to fix it :)

[2015-08-28 08:16] LipuFei commented on #1620
@whirm This problem should be fixed. Could you check again?

[2015-08-28 08:18] whirm commented on #1600
You will need to insert them into the leveldb called ```collected_torrents``` in the ``.Tribler``` directory with the binary infohash as key.

This is done automatically when upgrading to the latest stable version but you could copy that part of the code into a small script that does this for you if you know a bit of python.

[2015-08-28 08:20] whirm commented on #1620
This comes from @ThomasdenH's log file posted in  #1569

[2015-08-28 08:21] whirm commented on #1605
Could you disable this thing, reboot and try again with it disabled?

Thanks!

[2015-08-28 08:35] synctext opened #1622 "KeyError: '\xe6}\xdf\xfbw\xc4\x94\xaa\xc1\xaf\t\xc1\x84\xa1\xa1\x15\xed\xbb\xb4\x90'"
[code]

[2015-08-28 08:36] synctext opened #1623 "exceptions.AssertionError: ('0.0.0.0', 7759)"
[code]

[2015-08-28 08:49] LipuFei commented on #1620
@whirm Ah, ok. This has been fixed, so I'm closing this one.

[2015-08-28 08:55] whirm commented on #1569
@ThomasdenH Just to confirm, this log comes from an RC4 install, right?
https://github.com/Tribler/tribler/releases/tag/v6.5.0-rc4

[2015-08-28 08:56] whirm commented on #1620
@LipuFei I'm confirming that this comes from an RC4 run. Let's leave it open until we are sure it's fixed.

[2015-08-28 09:30] LipuFei commented on #1618
@whirm I have been running vlc streaming on Win10 for a while, haven't seen this error yet.

[2015-08-28 09:32] whirm commented on #1618
This happens at startup time. (it also comes from the big log)

[2015-08-28 10:36] #1152 closed

[2015-08-28 10:36] whirm commented on #1623
@rjruigrok any idea about what's going on here?

[2015-08-28 11:08] rjruigrok commented on #1623
Not completely sure about this, currently `0.0.0.0:0` is used by the endpoint of a circuit to relay data back to the circuit originator. This has been working without problems for months, we should find out where it is passing port 7759 instead of 0.

[2015-08-28 15:12] colin1497 commented on #1605
Sure.  No change.  Exactly the same behavior as when I ran it after exiting the raptr app:

![untitled](https://cloud.githubusercontent.com/assets/11151259/9549745/46837e8e-4d6d-11e5-9151-d0c7ef66c251.png)

[2015-08-28 15:47] whirm commented on #1605
Also, the log you pasted is not Tribler's It's probably one generated by this Raptr app for every executable.

Tribler's log should be on: ```%APPDATA%/roaming/Tribler.exe.log``` double check that it is not there. If it's not, could you temporarily rename ```.Tribler``` to something else and see if Tribler starts correctly with a clean slate?

Thanks!

[2015-08-28 18:31] synctext commented on #1623
btw 7759 is my default Tribler port.

[2015-08-28 18:49] colin1497 commented on #1605
Yeah, I'm aware that the log I posted was the Raptr log, I just thought it was moderately interesting and it did at least trap the fact that tribler had crashed.  I've confirmed after each start the non-existence of tribler.exe.log in \users\xxxx\appdata\roaming.  It was actually there after the first RC, I believe, but hasn't been there for these builds.

With a clean .tribler directory (renaming

[2015-08-28 18:51] colin1497 commented on #1605
Also, it won't save my changes to the default download location.  Every restart I get it reset to:

C:\Users\xxxx\Downloads\TriblerDownloads

[2015-08-28 19:01] colin1497 commented on #1605
OK, it's definitely trying to download the torrent through the anonymous network (recall that I said download non-anonymously).  I started getting download traffic.  I picked a very large torrent and it says it's .1% complete.  The time stamp on the file hasn't changed at all, but there is disk activity.

[2015-08-28 19:05] colin1497 commented on #1605
OK, since things clearly weren't working right, I shut tribler down and got a crash and notification to check the log, which is there:

Traceback (most recent call last):
  File "Tribler\Main\vwxGUI\SearchGridManager.pyo", line 606, in _do_gui_callback
  File "Tribler\Main\vwxGUI\list_details.pyo", line 935, in OnRefresh
  File "Tribler\Main\vwxGUI\__init__.pyo", line 119, in invoke_func
  File "T

[2015-08-28 20:58] rjruigrok commented on #1623
@whirm Might be the wan address voting on majority of received messages be the cause? It looks like this is the only place where 0.0.0.0 is set without a port number...
https://github.com/Tribler/dispersy/blob/devel/dispersy.py#L800

[2015-08-28 22:19] EnolRekcah commented on #1606
Okay thanks.

[2015-08-29 10:29] rjruigrok opened #1626 "Certificate issues tribler.org"
https://www.tribler.org is not considered safe in Chrome, due to the use of a deprecated sha1 signature on the cert.
Furthermore, the certificate chain is incomplete.

[2015-08-29 19:23] BmetaMax commented on #1588
Sorry hadn't had a chance to install rc4 until today. I've done so, but so far tribler hasn't modified the log file as of yet. I will specifically try to add a torrent by link & magnet to see what happens.

[2015-08-29 19:33] BmetaMax commented on #1588
I still get errors with a clicked magnet link (as opposed to manually pasting into + add menu). Tribler became unresponsive so haven't tried manually adding magnet via + menu yet. then after a few minutes the dialog for adding the torrent opened (from my clicking of the magnet link even though I'd gotten an error) came up. I unselected "use anon dl" and "seed anon" then hit OK and tribler gave me

[2015-08-29 19:37] BmetaMax commented on #1599
Sorry guys I couldn't install until today. So it's not crashing on it's own at least the first time I fired it up since installing rc4, but it did crash when I attempted to add a magnet to test it, see issue #1588 for that I just posted there.
Anyways then it crashed and here's the log's entire contents, however the first 4 lines were the only ones I had before installing rc4;
ERROR 1440174030.47

[2015-08-29 19:50] BmetaMax commented on #1599
I reopened & adjusted my bw limits, it told me tribler had to restart which is new it didn't used to have to restart for bandwidth changes but I clicked ok and it hung at the shutdown screen for about 5 minutes before I killed it from task manager then reopened it. No change in the log. Here's the splash screen it was hung at.
![triblershutdownhang082915](https://cloud.githubusercontent.com/assets

[2015-08-29 19:54] BmetaMax commented on #1588
Ok bugger me if I believe this one; after it crashed I reopened tribler and tried to manually add the exact same magnet through the + manual add, and it told me the torrent already existed! So I guess it added it even though it crashed.

[2015-08-29 19:56] BmetaMax commented on #1568
I confirm I'm also still having this on rc4.

[2015-08-29 20:11] BmetaMax commented on #1599
Maybe I spoke too soon, it just crashed after being unresponsive for several minutes- this happened after I got into it again after the last crash then started to stop torrents (I don't have the disk space for since it still won't save the last state of a download) at which point it froze and would no longer respond, then it crashed on me. 1 new line added to the log file since the last time I pos

[2015-08-30 06:06] kucenkelate commented on #1610
no change as i cannot get it to connect even to 1 hop.

[2015-08-30 06:12] kucenkelate commented on #1610
it halt at "building circuits"

[2015-08-30 06:41] kucenkelate commented on #1610
check the screenshot

http://s4.postimg.org/7po6jgpkd/rc4.jpg

[2015-08-30 06:57] kucenkelate commented on #1610
if choose  "no" for annom while choosing the torrent,i will able to download. So no link can be made if "download with proxies" was chosen. Without it,no annom will be enforced,right?

http://s7.postimg.org/mu3ghznuj/RC4_0.jpg

[2015-08-30 07:42] kucenkelate commented on #1610
If i untick this,will i be protected?

[2015-08-30 07:45] kucenkelate commented on #1610
if i untick the fuction,will i be protected from been seen? i found out that if did not use the fuction..i can download BUT if i choose the function..it will stay at "building circuits" forever.

http://s10.postimg.org/8pmtkl47t/Annom.jpg

[2015-08-30 09:14] juanda-097 opened #1627 "Tribler is not in AUR"
es{Tribler no está en los repositorios de Arch linux y no he podido instalar tribler en manjaro debido a eso.

PS:Al parecer lo han eliminado de los repositorios comunitarios

Gracias por vuestra atención}

en{Tribler is not in the repositories of Arch Linux and I could not install Tribler in Manjaro because of that.

PS: apparently they have been removed from the community repositories

Thank you

[2015-08-30 20:00] Thomasedv commented on #1602
Works so fine i think this is solved right now. So i'll close and possbily make a new issue if the problem appears again.

[2015-08-30 20:00] #1602 closed

[2015-08-30 20:54] ThomasdenH commented on #1569
Yeah, that's right.

[2015-08-31 07:22] synctext commented on #1599
Many thanks for all your efforts, I hope we have a new lead now...
[code]

So you have 161 swarms seeding in your downloads library? Many of them Anonymous seeding? How many GBytes is that in a rough estimate?

That is quite cool, we clearly need another pro-user test. Before we ship any Tribler RC we test it again numerous tests. Guess that if we add seeding half a TeraByte we cover also the pro

[2015-08-31 07:29] synctext commented on #1599
@LipuFei @whirm
Can you please make a unit test that starts to seeds roughly 200 swarms.

You can find the 200 SHA1 hashes of popular torrents here:
http://bt1.archive.org/hotlist.php
http://bt2.archive.org/hotlist.php

[2015-08-31 13:07] whirm opened #1629 "test_anon_download_exitnode_changeofmind failing"
http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester_devel/4907/testReport/junit/Tribler.Test.test_tunnel_community_negative/TestTunnelCommunityNegative/test_anon_download_exitnode_changeofmind/

[2015-08-31 13:08] whirm commented on #1602
@LipuFei seems that the flag issue is still not fixed :(

[2015-08-31 13:16] LipuFei commented on #1569
Hi @ThomasdenH, could you try this build to see if the VLC crashing issue is resolved? Thanks!
http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_lfei/87/artifact/tribler/dist/Tribler_6.2.0-4288-g139a219.exe

[2015-08-31 13:19] whirm commented on #1627
We are not mantaining any repositories as we lack the manpower to do that, but it would be really nice if somebody could take care of this.

Gracias por el aviso :)

[2015-08-31 13:25] whirm commented on #1610
If you don't use the tunneled download, it behaves as any other torrent client.

On the screen shot I see the downloads are set to 2 hops. Set it to one hop and see if it works. (We have some exit nodes running to help bootstrap the tunnel community, but the intermediary helpers will not be up until at least mid September. And as this is unreleased code, practically nobody is there to act as a tun

[2015-08-31 13:26] whirm commented on #1568
Yeah, we haven't addressed that yet.

[2015-08-31 13:27] whirm commented on #1588
We will have to find out why Tribler is not finding ```logger.conf```

[2015-08-31 13:28] whirm commented on #1626
I gues @synctext will have to get a new one then.

[2015-08-31 14:05] LipuFei commented on #1620
Should be fixed by #1630

[2015-08-31 14:13] Thomasedv commented on #1610
This issue was solved for me in RC-4, so i suggest trying that if you haven't.

[2015-08-31 18:14] BmetaMax commented on #1599
Roughly about 200~ GB currently though the size filter in tribler shows ~380GB at the top end but I don't know if that counts as half of that are active downloads many of which I've been hanging on to though they may be dead, I tend to let things seed as long as I can afford the disk space, my way of giving back since I have too little time to generate new content regularly.
If you think that's co

[2015-08-31 20:17] rjruigrok commented on #1626
Simply recreating a new certificate should be free. Comodo has a policy for
this, especially for circuits requested for multiple years.

For getting the complete and correct chain, use some online tools. Comodo
is very unclear what intermediate and root circuits (and the order in which
they are placed!) exactly are needed, but most ssl validating tools give
good insight in them. Plus those certs n

[2015-08-31 20:35] rjruigrok commented on #1626
Last time my chain for a positiveSSL was like this. Domain specific ssl certificate on top, and then followed with the intermediate and root ones.
[code]

[2015-08-31 20:49] rjruigrok commented on #1629
The idea behind this test, is that it should never reach 100% download progress because halfway it disables the exit node functionality. This can be checked by looking for messages like `Dropping data packets, refusing to be an exit node for data`.

There are a lot of them, and while some exit nodes look like they block data, it looks like there are exitnodes around that should not be there in the

[2015-08-31 20:58] rjruigrok commented on #1622
@synctext Do you remember what the amount of hops was for this download? Was it actually downloading anonymously or using set to 0 hops? Only in the latter case it would be plausible that this error would occur.

I suspect that https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/hidden_community.py#L237 would need an extra if constriant, checking whether the number of hops is >

[2015-09-01 10:52] whirm commented on #1629
@rjruigrok nope, this was a normal test run.

[2015-09-01 14:42] ncc2906 opened #1633 "Automatically Download from a selected directory"
If a new .torrent will be added in a selected directory, then Tribler will automatically downloads it.

[2015-09-01 14:45] ncc2906 opened #1634 "Security Account and password for WebUi"
WebUi have no security control access, please add it
Thanks

[2015-09-01 15:26] whirm opened #1636 "Database migration fails due to the dispersy sqlite DB being open when trying to move it"
This is on RC4 (current next)

[2015-09-01 18:24] ThomasdenH commented on #1569
I tested the build, [here](http://pastebin.com/xVrHx2rU)'s the log. The close button didn't work. I am not sure what crashing issue I shoud look for. The first time I started Tribler a crash did occur while the circuits were still building.

[2015-09-01 20:18] NielsZeilemaker commented on #1633
Duplicate of #1038

[2015-09-01 20:18] #1633 closed

[2015-09-02 13:34] whirm commented on #1569
@ThomasdenH could you have a run at this build and upload the new log? http://jenkins.tribler.org/job/Publish_tribler_next/144/artifact/Tribler_6.5.0-rc4-23-gbbd3530.exe

It contains a fix for the LevelDB errors and some extra debug info for the VLC crash.

Let's see if we can figure out the VLC problem as we can't reproduce it on any of the test machines we have.

Thanks!

[2015-09-02 14:09] ThomasdenH commented on #1569
It says the integrity check has failed upon starting the installer. Also, I'm not sure what the VLC crash is, is the video player crashing the reason the close button isn't working?

[2015-09-02 14:22] whirm commented on #1569
If the integrity check failed, it means the download was corrupted, I've checked the installer and it's fine.

I don't know if the VLC failure it's related or not.

[2015-09-02 15:08] ThomasdenH commented on #1569
I can't download the installer it seems like. I'm not sure wether it is my internt connection or something else, but the download keeps getting interrupted before it finishes, resulting in a corrupted file.

[2015-09-02 15:20] whirm commented on #1569
That's weird, let me see if I can upload it somewhere else.

[2015-09-02 16:13] whirm commented on #1569
@ThomasdenH:
https://mega.nz/#!6gpzHaQJ!CqQv3HX8N6EpZgp33B_ZArwdKkB5cgSnDpnO5OvmQB0

[2015-09-03 11:16] whirm commented on #1636
This should be fixed on ```next```

[2015-09-03 11:16] #1636 closed

[2015-09-03 11:18] whirm commented on #1620
Not happening anymore on win 7 and win 10 with latest post-rc4 builds.

[2015-09-03 11:18] #1620 closed

[2015-09-03 11:23] whirm commented on #1605
@colin1497 Could you please have a go a this build?

http://jenkins.tribler.org/job/Publish_tribler_next/145/artifact/Tribler_6.5.0-rc4-27-g3a7cd10.exe

It contains fixes relevant to your issues.
Thanks!

[2015-09-03 11:28] whirm commented on #1588
@BmetaMax could you try the latest build?

http://jenkins.tribler.org/job/Publish_tribler_next/lastSuccessfulBuild/artifact/Tribler_6.5.0-rc4-27-g3a7cd10.exe

It contains more debug info for your errors and a fix for the "unable to find logger.conf" issue.

Thanks!

[2015-09-03 12:08] ThomasdenH commented on #1569
Thanks for that. [Here](https://www.dropbox.com/s/55l4n9n7ql8kspt/tribler.exe%20-%20kopie.log?dl=0)'s the new log.

[2015-09-03 12:11] whirm commented on #1569
Content of the log, for convenience:
[code]

[2015-09-03 12:13] whirm commented on #1569
@ThomasdenH BTW, do you have VLC installed on your machine?

[2015-09-03 12:43] whirm commented on #1568
@synctext , @BmetaMax: This build should fix this issue:
http://jenkins.tribler.org/job/Publish_tribler_next/146/

Reopen if it doesn't.

[2015-09-03 12:43] #1568 closed

[2015-09-03 13:23] ThomasdenH commented on #1569
Yes, I do.

[2015-09-03 13:44] LipuFei commented on #1569
Hi @ThomasdenH, I think we have found the problem with your vlc. Could you try this build? Thanks!
http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_next/54/artifact/tribler/dist/Tribler_6.5.0-rc4-33-g39553aa.exe

[2015-09-03 14:00] ThomasdenH commented on #1569
Tribler closes! I did get an error when it was this is the log:

[code]

[2015-09-03 14:14] LipuFei commented on #1569
Hi @ThomasdenH, could you install tribler in a path with ascii characters only and try again? Thanks!

[2015-09-03 14:32] BmetaMax commented on #1588
I get the below error when I try to grab that file;
HTTP ERROR 404

Problem accessing /job/Publish_tribler_next/lastSuccessfulBuild/artifact/Tribler_6.5.0-rc4-27-g3a7cd10.exe. Reason:

    Not Found

[2015-09-03 14:36] whirm commented on #1588
Oops, sorry, wrong link.
http://jenkins.tribler.org/job/Publish_tribler_next/147/artifact/Tribler_6.5.0-rc4-33-g39553aa.exe

[2015-09-03 14:55] BmetaMax commented on #1588
Ok got it, will try this afternoon, time to get to work.

[2015-09-03 15:11] whirm commented on #1588
@BmetaMax try this one instead, it has some extra fixes: http://jenkins.tribler.org/job/Publish_tribler_next/148/artifact/Tribler_6.5.0-rc4-36-ga8e4b61.exe

[2015-09-03 15:52] whirm commented on #1599
@BmetaMax If you could try to reproduce the issue with

http://jenkins.tribler.org/job/Publish_tribler_next/148/artifact/Tribler_6.5.0-rc4-36-ga8e4b61.exe

I've added some more debug info to try to see the cause of the SOCKS5 error.  Though it's probably file descriptor exhaustion.

[2015-09-03 15:55] whirm commented on #1599
If you still get the same errors, could you try playing with this and see if it improves things? https://serverfault.com/questions/108827/windows-file-handle-limit

[2015-09-03 16:27] ThomasdenH commented on #1569
I have it installed on a path with ASCII characters only. Should I use a path without spaces?

[2015-09-03 16:28] LipuFei commented on #1569
@ThomasdenH spaces should be fine. We have just made a fix for this installation path issue. So the next release should work for you, regardless of where you install it.

[2015-09-03 18:19] colin1497 commented on #1605
Test 1:  Restoring my .tribler.old directory to .tribler

Application crashed like before.  From Event Viewer:

Faulting application name: tribler.exe, version: 0.0.0.0, time stamp: 0x55ddccf1
Faulting module name: MSVCR90.dll, version: 9.0.30729.9158, time stamp: 0x554b0726
Exception code: 0xc0000005
Fault offset: 0x0003b9f0
Faulting process id: 0x16f4
Faulting application start time: 0x01d0e673d

[2015-09-03 18:49] colin1497 commented on #1605
Test 2a: back to my new, clean .Tribler directory, start seeding previously downloaded torrent, click link

- Initially started torrent from magnet link from Firefox, got an error that said to check my tribler.exe.log file.  Contents of file:

          Unable to load logging config from 'logger.conf' file: No section: 'formatters'

- After clicking through error, torrent was ready to start, but I

[2015-09-03 19:04] colin1497 commented on #1605
Test 3 Try seeding a different previously downloaded torrent, this time a bit smaller download

- restart tribler, remove download from test 2, delete .log file, restart tribler again
- paste magnet link into search
- again, deselect download anon
- leave selected anon seeding
- start download
- checking...checking....checking (anonymous: No)  100%
- anonymous: yes (3 hops), checking 0.0% (slightl

[2015-09-04 01:37] BmetaMax commented on #1588
ok downloading now, glad I didn't install yet, trying to clear up my DL directory, remove things I've been seeding for weeks, etc...

[2015-09-04 01:40] BmetaMax commented on #1588
BTW I forgot to say after my last round of success I went back to 643 for a few days, so this will be an upgrade from that again not the last RC4 I tried..

[2015-09-04 04:50] BmetaMax commented on #1588
Ok here's the latest results with manual time stamps:
1215 started Tribler rc4-36-ga... after install.
at about 1220-2 I clicked settings, took 3-4 minutes to open
Still didn't keep the DL location I had, did keep the rest of my settings.
1225 changed what I needed and kept trying to click save, didnt appear to work until 1229, then got "A restart is required...", I clicked yes at 1230 sharp, and

[2015-09-04 04:52] BmetaMax commented on #1599
Ok here's the latest results with manual time stamps:
1215 started Tribler rc4-36-ga... after install.
at about 1220-2 I clicked settings, took 3-4 minutes to open
Still didn't keep the DL location I had, did keep the rest of my settings.
1225 changed what I needed and kept trying to click save, didnt appear to work until 1229, then got "A restart is required...", I clicked yes at 1230 sharp, and

[2015-09-04 04:54] BmetaMax commented on #1599
To be clear, at this point I've done only:
Upgrade tribler.
Set my download folder to another drive not the default (why doesn't it keep that from the previous install like it does my other settings?!).

I've not added any torrents or links, etc.

[2015-09-04 04:54] BmetaMax commented on #1588
To be clear, at this point I've done only:
Upgrade tribler.
Set my download folder to another drive not the default (why doesn't it keep that from the previous install like it does my other settings?!).

I've not added any torrents or links, etc.

[2015-09-04 05:11] BmetaMax commented on #1588
Started tribler rc4_36... at 1255, and just left it running untouched. At this point I noticed something- tribler's not reporting my free disk space correctly for the drive it's installed to; it shows 122.7GB free though windows shows 233GB free but that's how much I have free on C:... uh oh!
1258 I try to open settings to make sure it's looking in the right drive (selected DL directory before the

[2015-09-04 05:11] BmetaMax commented on #1599
Started tribler rc4_36... at 1255, and just left it running untouched. At this point I noticed something- tribler's not reporting my free disk space correctly for the drive it's installed to; it shows 122.7GB free though windows shows 233GB free but that's how much I have free on C:... uh oh!
1258 I try to open settings to make sure it's looking in the right drive (selected DL directory before the

[2015-09-04 06:12] synctext commented on #1588
wow, the number of errors is staggering. This is all critical info for us. Can't thank you enough for all this.

Hopefully this will move matters further. btw
For the long-term we need a Windows10 PC like yours in our lab. Please let us know what tools and utilities you installed. Our clean Windows 10 box here in the lab runs Tribler smoothly.

[2015-09-04 13:31] BmetaMax commented on #1588
@synctext OK will detail for you tonight, pressed for time this morning but did want to give you this update; tribler seems to have recovered from whatever crashed it right after install its been running since I posted 8 hours ago. I've gotten a couple pop-up errors about specific downloads, but that's probably because I manually was modifying those DL directories and file contents as yesterday I

[2015-09-04 13:32] BmetaMax commented on #1599
Dev team I'm pressed for time this morning but did want to give you this update; tribler seems to have recovered from whatever crashed it right after install, its been running since I posted 8 hours ago. I've gotten a couple pop-up errors about specific downloads, but that's probably because I manually was modifying those DL directories and file contents as yesterday I realized there were duplicat

[2015-09-04 16:44] BmetaMax commented on #1588
@synctext ok I'm doing this on my mobile so hopefully this goes thru.
Not knowing exactly how deep to go on my setup I'll try to mention everything that could affect tribler.
Win 10 x64, pro.
Intel raid, O/s on array 0 (striping), C:
Tribler installed to and dl path on array 1, mirrored.path
Both arrays encrypted.
I have no torrent specific tools besides tribler, however I do run 2 malware clients

[2015-09-04 16:45] BmetaMax commented on #1588
I don't seem to be able to edit on mobile, but array 1 which tribler is on is logical d:\ in windows, to clarify.

[2015-09-04 16:54] BmetaMax commented on #1568
I can confirm rc4_36 fixed this issue for me, yay thanks! I hope my post doesn't reopen the issue.

[2015-09-04 16:56] BmetaMax commented on #1599
I gave my system build details on #1588 if any of it pertains to this case also.

[2015-09-05 08:24] kucenkelate opened #1645 "Peerblock"
Latest version rc4 refused to complete the building circuit if the peerblock is running. tried to get fix from peerblock but not avail.

[2015-09-05 20:15] BmetaMax commented on #1588
Ok so update on the original issue I reported here- errors on adding thru magnet. I was able to add 3 torrents through magnets, then tried adding some more through the internal + browse for directory option, and it worked for a couple then died and below I've pasted the pertaining part of the log file:
\AddTorrent.pyo", line 155, in OnBrowseDir
  File "wx\_core.pyo", line 14619, in __getattr__
wx.

[2015-09-05 21:13] BmetaMax commented on #1588
Some more errors I got while trying to do things like just double click a torrent file, one tribler crash waiting for the add dialog to open, etc;
ERROR   1441485507.12          server:214   DENYING SOCKS5 request, reason: not enough circuits
Unable to load logging config from 'logger.conf' file: No section: 'formatters'
Unable to load logging config from 'logger.conf' file: No section: 'formatter

[2015-09-05 21:53] BmetaMax commented on #1588
Ok I spent a couple more hours playing with it- by that I mean opening it, trying to add or manage or delete and re-add torrents different ways then when tribler crashed doing it over again- so below is the contents of the log after my last paste:
ERROR   1441487834.19        dispersy:1728  exception during handle_callback for torrent-collect-response
Traceback (most recent call last):
  File "Tri

[2015-09-07 00:34] Mrkebubun opened #1646 "Can the Tribler project collaborate with zeronet?"
i just visited zeronet project i think tribler can work togather with zeronet.
please take look.
www.zeronet.io

[2015-09-07 09:25] LipuFei commented on #1618
Should be fixed by #1642

[2015-09-07 09:25] #1618 closed

[2015-09-07 11:08] whirm commented on #1646
Edited title to actually describe what the request is.

Thanks for your heads up!

[2015-09-07 11:10] whirm commented on #1645
Are plain torrent downloads working?

Did any older version of Tribler work with Peerblock?

[2015-09-07 11:16] whirm commented on #1588
@BmetaMax I'm pushing RC5 in a few minutes, could you give it a shot? should have all(?) your issues fixed.

Thanks a lot for your work!

[2015-09-07 12:12] BmetaMax commented on #1588
Absolutely, no problem and my great thanks to all of you for your hard work!

[2015-09-07 12:15] BmetaMax commented on #1645
I've used peerblock with 643 for a long while, however you MUST set it to allow HTTP connections or it will default block all connections to peers.
After that it just takes occassional adjustments as it will block blacklisted IP's, whether or not you personally want to allow connections to/from tribler at those IP's- most of them are blacklisted for being known p2p points.

[2015-09-07 12:44] BmetaMax commented on #1588
UHoh, out of the box (right after install) several minutes after starting tribler up I got the "tribler.exe has stopped working" again. Hmm, maybe I'm cursed, lol.
The log doesn't appear to have changed since yesterday on rc4_36; the time stamp in windows still shows 12 hours ago.

[2015-09-07 12:51] whirm commented on #1588
@BmetaMax so you are still getting entries such as: ```LevelDBError: IO error: collected_torrents\000454.sst: Could not create random access file.``` ?

[2015-09-07 12:56] BmetaMax commented on #1588
I saw no new entries to the log, but I just reopened tribler, then set my correct download path and allowed it to restart (tribler) which errored after the splash screen "exiting...cleaning up databases" and said to check the log file so here is the latest logging after what I pasted yesterday:
ERROR   1441514160.32          server:214   DENYING SOCKS5 request, reason: not enough circuits
ERROR

[2015-09-07 12:59] BmetaMax commented on #1588
Just restarted tribler and it defaulted the DL directory back to C:\Users\..\Downloads\TriblerDownloads again. Sigh. I guess I'll leave it there for now since all my files are still on the D:\ drive, but it's a little bothersome I can't set that- my OS is on an ssd and I'd rather have all the temp file writes on the hdd since high r/wr speed isn't needed by tribler.
I'm going to leave it running a

[2015-09-07 13:16] BmetaMax commented on #1588
It crashed again says windows, no log updates either.

[2015-09-07 13:26] whirm commented on #1588
@BmetaMax We have a fix for the stacktrace on your log on the line.

About that crash, did you have a bunch of downloads or it was idling with no downloads? (I need to reproduce it locally so I can attach a debugger to Tribler)

Thanks!

[2015-09-07 13:36] BmetaMax commented on #1588
THere were about 141 torrents, some are dead, some seeding, several downloading. So definitely not idling.

[2015-09-07 13:43] whirm commented on #1588
Ok, I'll transfer my 270 linux iso + vodo videos downloads to the windows 10 machine and try to make it crash there.

[2015-09-07 16:52] colin1497 commented on #1645
What BmetaMax said.  I just started RC5 w/ peerblock and a couple anon seeds and it took some time to set up circuits, but it happened eventually.  It just has to discover enough non-blacklisted clients.

[2015-09-07 16:59] colin1497 commented on #1605
Testing RC5 changes

Repeat Test 2b: back to my relatively clean .Tribler directory (2 anon seeds going), start seeding previously downloaded torrent (large, about 17GB):

-    pasted magnet of existing torrent into search box, select public download, anonymous seed, 3 hops.
-    Torrent starts checking, checks to 100%, changes to downloading 0.0%, anonymous, 3 hops
-    Speed is very slow (3-4kBp

[2015-09-07 16:59] kucenkelate commented on #1645
"HTTP" is always allowed,sire...

1. Tixati is running well but with low speed....

2. Tribler cannot complete the circuits...

"Details about network security diagnosis:

Settings that might be blocking the connection:
Provider name: 		-
Provider description: 	-
Filter name: 		PeerBlock Flow Inbound Filter for IPv4.
Provider context name: 	-

Details about network security diagnosis: Tribler

Set

[2015-09-07 17:02] kucenkelate commented on #1645
"HTTP" is always allowed,sire...

1. Tixati is running well but with low speed....

2. Tribler cannot complete the circuits...

"Details about network security diagnosis: Tixati

Settings that might be blocking the connection:
Provider name: 		-
Provider description: 	-
Filter name: 		PeerBlock Flow Inbound Filter for IPv4.
Provider context name: 	-

Details about network security diagnosis: Tribl

[2015-09-07 17:08] colin1497 commented on #1605
RC5 still crashes while building circuits when I use my .Tribler.old directory.  Still no log file.

From Event Viewer:
Faulting application name: tribler.exe, version: 0.0.0.0, time stamp: 0x55ddccf1
Faulting module name: MSVCR90.dll, version: 9.0.30729.9158, time stamp: 0x554b0726
Exception code: 0xc0000005
Fault offset: 0x0003b9f0
Faulting process id: 0x2908
Faulting application start time: 0x0

[2015-09-07 17:28] colin1497 commented on #1605
I just tried something I hadn't with my .Tribler.old directory:

I renamed my download directory so that all my old torrents would start downloading from scratch instead of continuing.  When I did this, it didn't crash for several minutes.  It spent several minutes building circuits for anon links and I cleaned out my download list some (91 to 78 torrents) and then exited without a crash.

I then

[2015-09-07 19:09] BmetaMax commented on #1588
Update: I left tribler running at home screen (basically I started it and ran, maybe its shy and crashes only when I'm there!) for the past several hours while I was away and it appeared to be running fine other than the missing file message I posted a couple days ago- DL showed about 400k and UL about 40K, and as I type this I'm able to navigate and check out files, so its my guess that somehow t

[2015-09-07 19:21] BmetaMax commented on #1588
I just manually fixed that path error, it was a result of the manual duplicate corrections I did before, for some reason tribler didn't recreate the subdirectory on on of the torrents when I changed the download location. I manually recreated and ran a force recheck and it's fine now.

[2015-09-07 20:21] synctext commented on #1588
wow, bit of progress then! Can you try to crash the latest Tribler RC perhaps?

btw on the transferring files between installs.. I use a single win32 fat formatted partition for Linux /home mount

[2015-09-08 00:46] BmetaMax commented on #1588
@synctext Isn't RC5 the latest or no? That's what I'm running, its the most recent I see on github...?
Thanks for that tip but I'm afraid I don't fully follow- you copy from one OS to that drive then out from the other OS?

[2015-09-08 00:57] BmetaMax opened #1650 "Enhancement suggestion - Display quick stats when mouse hovers over tray icon"
Hi dev team, I thought of something that would be a nice to have feature- I leave tribler minimized to the tray alot and was thinking how nice it would be that if I hover over the tribler icon it could show me some quick stats (like utorrent as an example) such as DL & UL bandwidth, maybe how many torrents are downloading or peer connections- if anonymous is working, stuff like that.

[2015-09-08 10:23] whirm commented on #1605
Ok, could you _copy_ your .Tribler.old dir back to its place and delete one file at a time while trying to start Tribler after each deletion until you get to start it successfully? I would like to know which file is making it crash and maybe you can send it privately to me so I can have a look?

Thanks!

[2015-09-08 10:37] whirm commented on #1588
Hm, could you double check this? I'm still transferring my 131GB TriblerDownloads dir to the windows 10 testing machine.

Tribler is a 32 bit program, so it can't even go past 4GB :D

Post this on the forums and I'll write a response ASAP, this way more people will benefit from this.
I'll also throw in a post describing what all the files in .Tribler do to educate our advanced users a bit. :)

[2015-09-08 10:42] whirm commented on #1645
All the Tribler/Dispersy/anontunnel traffic is UDP and going trough the same port. (Except for the plain bittorrent traffic which uses it's own and the separate DHT implementation which also uses a dedicated one) The only TCP traffic Tribler can generate is when it talks to TCP bittorrent trackers.

[2015-09-08 10:48] whirm commented on #1645
If the red list are blacklisted IP's you are blocking known good IPs (such as our dispersy trackers used for bootstrap)

I would make a post on the forums and see if any fellow user can help you. We are too understaffed right now to give support to issues with third party stuff. Sorry :(

[2015-09-08 16:40] BmetaMax commented on #1588
@whirm Its definitely working if I leave it to run awhile before going to downloads; pic attached.
![triblerworking090815](https://cloud.githubusercontent.com/assets/13711690/9741109/862fc210-5626-11e5-9349-84b094c3744e.png)

Re: 32-bit, ok makes sense thanks for pointing that out.

Re: file transfer, I'll happily post shortly.

[2015-09-09 12:31] whirm commented on #1599
It shows the right free space for me (it just checks the free space on the default download dir, so the real issue there is that for some reason your download dir is not being set properly, so it shows the info for the default Tribler one)

RE download dir not being saved: Are you setting a non ASCII path or just a path on a different logic unit? I'll try that on the Windows 10 machine too.

[2015-09-09 13:10] whirm commented on #1599
Ok, I've found a couple of bugs and @LipuFei is fixing it as I write.

[2015-09-09 13:11] whirm commented on #1576
@jbshirk Are you still having issues with this?

[2015-09-09 13:18] #1606 closed

[2015-09-09 13:57] BmetaMax commented on #1599
@whirm RE: RE download dir not being saved: Just a logical path. This is it: D:\TriblerDownloads
What's weird is that it takes it just fine and saves, but then crashes after restarting tribler for changes to take effect.

Thanks for the update guys!

[2015-09-09 14:30] whirm commented on #1599
@BmetaMax yeah, it's a combination of two bugs, the default download location wasn't being restored properly and the Tribler restarting mechanism broke due to some unicode path fixes.

Both will be fixed on the next build.

[2015-09-09 14:34] BmetaMax commented on #1599
Great, will be looking forward to it.

[2015-09-10 16:46] BmetaMax commented on #1599
New update, yesterday tribler was running fine. I shut it down to do some pc maintenance (still getting the shutdown error of course) and when I brought everything back up tribler just kept crashing every time. So far I've tried starting it 6 times, letting it "simmer" for times ranging from 5 to 30 minutes, and always it crashes either on it's own without me attempting to move from the downloads

[2015-09-10 16:47] BmetaMax commented on #1599
log to date part 2:
ERROR   1441684745.25             log:443   Unhandled Error
Traceback (most recent call last):
  File "twisted\python\log.pyo", line 73, in callWithContext

  File "twisted\python\context.pyo", line 118, in callWithContext

  File "twisted\python\context.pyo", line 81, in callWithContext

  File "twisted\internet\selectreactor.pyo", line 151, in _doReadOrWrite

--- <exception c

[2015-09-10 16:48] BmetaMax commented on #1599
This morning I also tried re-running the rc5 installer in hopes it might clean it up, but that made no change to the behavior after 2 attempts.

[2015-09-10 21:26] BmetaMax commented on #1599
Ok so I had a slow day, and spent some time fiddling with rc5 after my last post. I tried something unusual to change the symptoms as it seemed to me from the log that tribler was crashing while trying to build circuits; so I disconnected from any network and started tribler. Surprisingly after several minutes it hadn't crashed, and it was very responsive while going through various menus.
NOTE! W

[2015-09-11 04:53] kucenkelate commented on #1645
mind to tell me the our dispersy trackers' address?

[2015-09-11 05:52] synctext commented on #1645
Could you please try disabling all blockers for a bit, is that giving Tribler RC5 the troubles?

The accurate list of trackers+IPv4
https://github.com/Tribler/dispersy/blob/devel/discovery/bootstrap.py

Their IPv4 is resonable stable. but subject to rate changes.

hope this helps with the blocking.

[2015-09-11 09:11] whirm commented on #1599
You triggered a known bug on the tunnel community now. So I'll close this issue and you can follow this one instead #1619 for updates.

Thanks again for your intensive testing! :D

[2015-09-11 09:11] #1599 closed

[2015-09-11 11:09] whirm commented on #1645
Let's move this discussion to the forums as it's not a Tribler issue.

[2015-09-11 11:09] #1645 closed

[2015-09-11 12:24] #1619 closed

[2015-09-11 13:45] BmetaMax commented on #1599
OK thanks, no problem.

[2015-09-11 15:07] whirm commented on #1612
I can't reproduce it.
@synctext can you?

[2015-09-11 16:04] whirm commented on #1588
@BmetaMax does it happen to you with less downloads? I've been trying to reproduce this on Linux with no success but I have fare less than 140 downloads. I'll try on the Windows 10 machine with ~280 downloads on Monday.

BTW, this build should have the default download dir issue fixed among others:
http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_next/lastSuccessfulBuild/artifact/trib

[2015-09-11 16:07] BmetaMax commented on #1588
Honestly I haven't tried to add any torrents since I've been fighting the tunnel issue, tribler crashes regularly as it is. I'm downloading that build now and see what happens shortly! If I have any change in adding files, I'll let you know.

[2015-09-11 17:01] BmetaMax commented on #1588
Ok so off the bat I'm still getting the regular periodic crashing error. I tried adding a torrent anyways, through magnet detection from my browser, and after several unresponsive minutes it finally brought up the add download dialog box, then crashed again. I can't tell if it crashed from the add file dialog or it was just that time with the regular periodic crashes. Here's what's new in the log:

[2015-09-11 17:15] BmetaMax commented on #1588
ok a 2nd attempt yielded no crash and this new entry to the log;

Unable to load logging config from 'logger.conf' file: No section: 'formatters'

[2015-09-11 17:18] BmetaMax commented on #1588
ok then I tried hitting the + to add the torrent that way and the choose download location dialog popped up as if it had been hung, and THEN tribler crashed.
additional log entry from a moment ago;

ERROR   1441991765.70          server:219   DENYING SOCKS5 request, reason: not enough circuits

[2015-09-11 17:22] BmetaMax commented on #1588
I reopened tribler and immediately double-clicked the torrent I just manually downloaded, and this is what I got;
Unable to load logging config from 'logger.conf' file: No section: 'formatters'
![triblercrash091115b](https://cloud.githubusercontent.com/assets/13711690/9821403/1af54880-5888-11e5-8826-454d0502a648.png)

[2015-09-11 17:31] BmetaMax commented on #1588
and just now after a few minutes of (not responding) it just crashed. Entry in log;
ERROR   1441992356.20          server:219   DENYING SOCKS5 request, reason: not enough circuits

[2015-09-11 17:46] BmetaMax commented on #1588
Ok so still crashes on using + to manually add a torrent file from a directory.
![triblercrash091115c](https://cloud.githubusercontent.com/assets/13711690/9821905/6fdce922-588b-11e5-8866-90bbdaf21f37.png)

again only thing in log is;
ERROR   1441993402.43          server:219   DENYING SOCKS5 request, reason: not enough circuits

[2015-09-11 18:46] synctext opened #1657 "exception during handle_callback for stats-request"
On Ubuntu Linux.
commit 0656bab21129317fad5f9c3df74cb1e4759a85d0
Date:   Fri Aug 28 10:36:49 2015 +0200

[code]

[2015-09-11 18:53] synctext commented on #1617
OK, good find! You're right. Can you a workaround in less then a hour?
Otherwise just close the ticket, wont-fix.

12.04 LTS is a bit old, but officially supported till 2017.
[code]

[2015-09-11 18:54] synctext opened #1658 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xa0 in position 24: ordinal not in range(128)"
[code]

[2015-09-11 18:59] synctext commented on #1622
@rjruigrok Hey Rob, are you still able to take a look at the code for us?
That would really help us out a lot, we're starting to get ready to ship V6.5 after like 3 months of  debugging...

No downloads with any anonimity hops.
Not doing any downloading at the moment of this error, just background circuits I guess.
Just seeing this in latest code:
[code]

[2015-09-11 21:10] sofada opened #1659 "Installation deletes non-Tribler data within its folder"
Hi developers,

I've installed Tribler into a custom folder (C:\...\Documents\Torrent) where I had placed also my downloads folder (...\Torrent\Downloads), and Tribler (the newest version 6.4.3) deleted all the content without any asking nor warning. The data (images, videos, music, .torrent files) even wasn't downloaded by Tribler.

What I did: Installed Tribler. Opened Tribler. Without setting u

[2015-09-11 21:43] Thomasedv commented on #1588
I'm not allt that sure, but i'm using RC5, and had a crash or two for no reason and still have lots of error codes when adding torrents. And i had a few other issues, so i decided to share my log which is quite huge. It may have other problems too there seems to be some introduced with rc5.

https://mega.nz/#!gRoSDaAa!lN6M70YBFu4NQ8XU11l4OBiKWEeUgnirXEGHVggK2EI

6 Megs to read through, though half

[2015-09-11 21:48] BmetaMax commented on #1588
@Thomasedv I like your checking torrents suggestion, should create a new issue as an enhancement suggestion for that!
And yay, its not just me! Sorry, misery loves company.

[2015-09-11 22:01] Thomasedv commented on #1588
I'll create a new suggestion issue then.

[2015-09-11 22:07] Thomasedv opened #1660 "Ehancement - Make "Checking" torrents show up under the Active sorting option. And start with the same sorting option it was closed with."
When i start up Tribler it's very easy to see what's going on by simply moving to that tab, but it can be hard to know if i have a torrent that is checking or actually stopped, since neither of those show up there. Since checking torrents are technically active, and provide a clearer picture of what's going on when you start, i think it would be a nice enhancement for Tribler.

Another Enhancement

[2015-09-12 12:19] ThomasdenH commented on #1569
Ok, I will wait for that.

[2015-09-13 05:55] wkrick commented on #1659
This raises several questions...
Why would someone install a program into their Documents folder?
Why would someone store their data in a folder inside the application installation folder?

[2015-09-13 13:07] rjruigrok commented on #1622
Strange, as the dispersy introduction request / response is overridden to add the pubkey to the `self.exit_candidates` dict [here](https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/tunnel_community.py#L870) and [here](https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/tunnel_community.py#L882).

It iterates over all verified candidates [here](https://github

[2015-09-14 12:34] whirm commented on #1659
Yeah, that's definitely a weird use case. That's an issue within the NSIS installer, and it left behind the non-ascii named files because it's unable to deal with them.

We will see if we can add some sort of notice during the install procedure but there's not much more to do than that.

[2015-09-14 13:09] whirm commented on #1588
@Thomasedv: The ```Unable to load logging config from 'logger.conf' file: No section: 'formatters'``` message should be fixed with the latest build:

https://jenkins.tribler.org/job/Publish_tribler_next/152/

Could you confirm it's fix for you too? (remember to remove the log file as new entries get appended)

The other stuff I see on your log are know bugs on the tunnel community and a new one on

[2015-09-14 13:44] BmetaMax commented on #1588
@whirm Just so you realize, I'm still getting the error "Unable to load logging config from 'logger.conf' file: No section: 'formatters'" with the build Tribler_6.5.0-rc5-21-ga55d203.exe

[2015-09-14 13:46] BmetaMax commented on #1659
I take back what I said on the forum, I did not do the same thing. My install folder and downloads folders are different.

[2015-09-14 14:19] BmetaMax opened #1662 "Can torrent Pause be a discrete option from Stopped? (Enhancement suggestion if feasible)"
First I don't know how feasible this is, but over the weekend I was thinking that some additional pause functionality would be nice to have. Admittedly, this is based off my method of usage and I don't know how many other people use tribler the same and if they would benefit.
Use case- Complete pause of all active torrents, different than stopping all, which would restart only those files not in s

[2015-09-14 16:47] whirm commented on #1617
We are calling `update()` right before `finalize()` so that shouldn't be the cause.

[2015-09-14 16:49] whirm commented on #1662
Yeah, that would be a nice feature.

[2015-09-14 16:51] whirm commented on #1588
:( Ok, I guess we will have to add some debugging to see what's the problem in your case.

[2015-09-14 16:58] whirm commented on #1657
I guess we should disable the bartercast community until it's more tested, it doesn't make much sense to have an unused, buggy community enabled in release code.

[2015-09-14 18:15] BmetaMax commented on #1588
@whirm if you got back to the 11th, right after your last post that day (in case you missed all of them), I put in a ton of notes and log entries. Well maybe not a ton, but enough hopefully it gives you some insight.

[2015-09-14 18:41] sofada commented on #1659
And why not? Your installer deletes user' data and you implicate that it is his fault because he used an unconventional folder location??

[2015-09-14 18:52] BmetaMax commented on #1659
@sofada Look, being defensive and churlish will get you no where. These guys are all volunteers. Sure it sucks, I'd be upset too- but in fairness it is a non-standard practice and you had to work to do that which means if it were me I'd be upset at myself as much as anyone.
Programs and data have been separated in most software for a long time, that's no coincidence- its a best practice to keep da

[2015-09-14 19:01] wkrick commented on #1659
I'm not one of the developers.  I'm just another user asking questions about how common it would be for the bug to actually happen.

Though, I've seen this sort of thing before with overly aggressive uninstallers.  There was a video game in the late 90s that had a similar problem.  It was discovered when a user installed it to the root of their C: drive.  When they uninstalled it, it tried to dele

[2015-09-14 19:54] Thomasedv opened #1664 "Issue: During installation of Tribler after having a prior biuld installed it says it'll delete from a default directory even though that's not where Tribler is installed."
Basically, on my W10 computer, i have Tribler installed in a folder under disk D somewhere. When i try to install a build it would say it's going to delete the old from from "C:\Program Files (x86)\Tribler" Which is not the location, or even close. I'm not sure which effects this could have on the program, if another installation is made too. It's says it's going to remove rc-5(installing a more r

[2015-09-14 20:35] Thomasedv commented on #1588
Unfotunately, still the same problem for me. Tribler is also crashing when i close it. Here's what i got in the log:

Unable to load logging config from 'logger.conf' file: No section: 'formatters'
Unable to load logging config from 'logger.conf' file: No section: 'formatters'
Unable to load logging config from 'logger.conf' file: No section: 'formatters'
ERROR   1442262332.85             log:443

[2015-09-15 08:43] LipuFei commented on #1658
@whirm I think every time we receive a torrent file, we should sanitize its tracker list first so that there will be no trackers with strange characters.

[2015-09-15 10:05] whirm commented on #1658
I guess we should make them unicode

[2015-09-15 10:12] whirm commented on #1588
Yeah, I noticed. I want to solve the logging issue so you can raise the logging level on the config file to be able to figure out some of the other issues.

[2015-09-15 12:02] whirm commented on #1664
Hm, never noticed that.

We will get that fixed.

The only issue there that bug brings is that it abandons files on the real file location. The .Tribler dir gets updated by Tribler itself at startup time, so no problem there.

Thanks for the report!

[2015-09-15 12:03] #1658 closed

[2015-09-15 12:27] whirm commented on #1659
I _am_ a Tribler dev. :)

This bug has been there for I would say ~7 years (As long as there's been an installer for Tribler) and nobody complained about it before. As you can see it's rather uncommon to do what you did.

We are going to have a look and see if we can add a warning or force the user to choose a nonexisting dir to mitigate this. But if you copy stuff into that dir and then uninstall

[2015-09-15 12:29] BmetaMax commented on #1588
Oh ok, understood. 

[2015-09-15 15:18] whirm commented on #1588
@Thomasedv, @BmetaMax:

Could you delete the log file, install this build: https://jenkins.tribler.org/job/Publish_tribler_next/153/ , run Tribler for a minute, close it and post the log file? Let's see if we can see why the logger.conf file is not found.

Thanks!

[2015-09-15 16:41] whirm commented on #1588
Actually wait, turns out this build is broken on Windows. @LipuFei will post a new fixed build tomorrow morning.

[2015-09-15 18:37] BmetaMax commented on #1588
Ok.

[2015-09-16 09:05] LipuFei commented on #1588
Hi @BmetaMax @Thomasedv, sorry for the delay. Something went wrong with OpenSSL. You can find the latest build here: http://jenkins.tribler.org/job/Publish_tribler_next/154/

Thanks!

[2015-09-16 12:18] BmetaMax commented on #1588
Ok I'll give it a try in a little while. Thx!

-------- Original message --------
From: Lipu Fei <notifications@github.com>
Date: 16/09/2015  05:05  (GMT-05:00)
To: Tribler/tribler <tribler@noreply.github.com>
Cc: BmetaMax <meta.maximus@yahoo.com>
Subject: Re: [tribler] "errors occurred" on adding magnet link (#1588)

Hi @BmetaMax @Thomasedv, sorry for the delay. Something went wrong with OpenSSL.

[2015-09-16 15:22] BmetaMax commented on #1588
Ok so with this build over not quite an hour, tribler hasn't crashed at all (YAY!) but it has generated a 2MB log file which I cannot attach to github, any preference for where I put it? I'll keep copying in additions from the active log, so I expect it to only grow bigger...

[2015-09-16 15:54] BmetaMax commented on #1588
![triblerclosecrash091615](https://cloud.githubusercontent.com/assets/13711690/9909659/1e9cf090-5c67-11e5-80f5-373ec52dcf1c.png)
I tried closing tribler to do something and still get a close error, see attached.
I realized it may not be until tomorrow that I get a preference on file upload so just picked one randomly from google, get log here; http://www.tempfiles.net/download/201509/375227/Trible