[2015-09-16 16:33] LipuFei commented on #1588
@BmetaMax Thanks a lot! I will check the log file later.

[2015-09-16 17:10] BmetaMax commented on #1588
@LipuFei no problem!

[2015-09-17 08:55] LipuFei commented on #1588
@BmetaMax The log file is bit strange... @whirm had added some debugging prints for the "Unable to load logging config from 'logger.conf' file: No section: 'formatters'" error, but nothing has been printed in your log file, however, the error is still there. I also checked the Windows installer and it's the latest version...

I've just made another Windows installer. Could you have try with it? Th

[2015-09-17 13:43] BmetaMax commented on #1588
Tribler is installed to D:\TriblerDownloads
Downloading now...

[2015-09-17 16:33] BmetaMax commented on #1588
I uploaded the rest of the log from yesterdays build (NOT today's that you just gave me!) past day, its 51MB; http://www.tempfiles.net/download/201509/375447/Tribler-Log-from-sept16-1135am-to-sept-17-0730am.html
it took a long time to upload, sorry!

[2015-09-17 18:56] BmetaMax commented on #1588
@LipuFei with today's build Tribler is back to crashing every 30 minutes or so, which the previous build had finished.
After trying it out for a couple hours, see below for the only entries in the log file that have been created (I copied the old log file out as it was so big, and let tribler create a new one when I installed this build):

ERROR   1442513505.44          server:219   DENYING SOCKS5

[2015-09-17 19:11] LipuFei commented on #1588
Hi @BmetaMax I just finished downloading that 51MB log file. It was horribly slow... The log file was mostly spammed with "_commoncrypto" errors, which have been fixed in the latest build.

Besides that, the only errors I can find are the "logger.conf" errors, but their timestamps are from Sept. 16 (yesterday). Judging from the comment you just made, I guess the "logger.conf" problem has been fixe

[2015-09-17 20:30] BmetaMax commented on #1588
@LipuFei "the previous build had finished" was a typo, I meant "the previous build had fixed", sorry. So last build doesn't crash, today's build which fixes the crypto errors as you mentioned, crashes. The builds from Rc5 until yesterday crash regularly and periodically, yesterdays didn't crash once. Today's is back to crashing.

[2015-09-17 20:30] BmetaMax commented on #1588
I reinstalled yesterday's build to verify, back to not crashing.

[2015-09-17 20:43] LipuFei commented on #1588
@BmetaMax I see. The previous one has this "commoncrypto" issue, and I suspect that it's anonymous downloading/seeding doesn't work. As you are installing the previous build, could you also check if anonymous downloading/seeding is working or not? Thanks!

The latest build is using OpenSSL for cryptography. From your information, I think it might be OpenSSL that is causing trouble. I will continue

[2015-09-17 20:49] BmetaMax commented on #1588
Yes correct, on yesterday's build which doesnt crash, no anon is working. Both DL & UL are stuck at building circuits.

[2015-09-18 09:48] LipuFei commented on #1588
@BmetaMax So I think it has to be OpenSSL that is crashing for you. Could you also try to get some memory dumps from the crash? Thanks! I will try to compile other OpenSSL versions to see if they work for you.

Sorry that I forgot how exactly to enable automatic memory dump on Windows, but it's something similar to this:
http://www.codeproject.com/Articles/6230/Auto-Memory-Dump-on-Crash-of-an-Appl

[2015-09-18 18:54] BmetaMax commented on #1588
I don't think I'm doing this right but those instructions were for an older version of windows, this is what I see in debugger;
Microsoft (R) Windows Debugger Version 10.0.10240.9 X86
Copyright (c) Microsoft Corporation. All rights reserved.

CommandLine: D:\TriblerDownloads\tribler.exe
Symbol search path is: *** Invalid ***
*************************************************************************

[2015-09-18 18:56] BmetaMax commented on #1588
then I hit "go" and tribler gave the errors have occurred message and I get this;
0:000> g
ModLoad: 753f0000 7541b000   C:\WINDOWS\SysWOW64\IMM32.DLL
ModLoad: 751f0000 75310000   C:\WINDOWS\SysWOW64\MSCTF.dll
ModLoad: 75320000 753de000   C:\WINDOWS\SysWOW64\msvcrt.dll
ModLoad: 1e000000 1e264000   D:\TriblerDownloads\PYTHON27.DLL
ModLoad: 771d0000 7724b000   C:\WINDOWS\SysWOW64\ADVAPI32.dll
ModLoad

[2015-09-18 21:50] BmetaMax commented on #1588
Latest tribler log, by the windows kit entry I'm guessing I screwed something up?
ERROR   1442513505.44          server:219   DENYING SOCKS5 request, reason: not enough circuits
ERROR   1442514231.79          server:219   DENYING SOCKS5 request, reason: not enough circuits
Unable to load logging config from 'u'C:\\Program Files (x86)\\Windows Kits\\10\\Debuggers\\logger.conf'' file: No section: 'f

[2015-09-19 10:52] Thomasedv commented on #1588
Sorry for late reply, just got an expansion in a game and kind of didn't touch the computer in a few days...

Ran tribler and tried to add a torrent. Got an error, it was still added to the list. Tribler did not get past building circuits, but i think it just needs some time for that, will report back on that matter. Closed tribler after a few minutes, got an error for that too. Current log file.

[2015-09-20 21:44] BmetaMax commented on #1588
If you can give me any idea what I've done wrong with the debugging tool I'd appreciate it.
Ok so on another thread I saw somewhere that someone had tried running the uninstaller from the install directory, and so I tried that just to try, then reinstalled the last build. No differences.
Log today (tribler crashed without a notification):
ERROR   1442513505.44          server:219   DENYING SOCKS5

[2015-09-21 01:34] BmetaMax commented on #1588
I discovered I had a firewall issue preventing me from connecting to peers at all, fixed that and after about 20 minutes of it running it crashed with the below entry in the log being the only new one from above;

ERROR   1442799151.15          server:219   DENYING SOCKS5 request, reason: not enough circuits

[2015-09-21 03:09] BmetaMax commented on #1588
I got a new error, not sure that it's from anything I did new;
ERROR   1442800455.80 tunnel_community:622   could not remove exit socket 2015343495
ERROR   1442803150.23          server:219   DENYING SOCKS5 request, reason: not enough circuits

[2015-09-21 08:30] adamjimenez commented on #1054
minimise to tray makes more sense than close to tray. need to break those old habits.

[2015-09-21 08:34] adamjimenez opened #1668 "Explore files should select the file"
Right click a download -> Explore files.
This opens a file explorer window with the correct location. It would be nice if it automatically selected the file as well. (win 7)

[2015-09-21 09:53] LipuFei commented on #1588
@Thomasedv It's quite weird to still have the "commoncrypto" error. I have made another build. Could you remove the tribler log file, do a clean install and have another try? Thanks!

The link is here:
http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_next/69/artifact/tribler/dist/Tribler_6.5.0-rc5-31-g67ea0e3.exe

@BmetaMax Now the log file makes more sense, but it's a puzzle to me th

[2015-09-21 12:24] BmetaMax commented on #1588
@LipuFei To answer your question I didn't modify anything just installed debugger with defaults, I found the registry key with some googling; HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\AeDebug
![debuggerregistryentry](https://cloud.githubusercontent.com/assets/13711690/9991666/0730f98e-603a-11e5-84a5-5b68d70312d2.PNG)

I'll try uninstalling it and the registry change you gave

[2015-09-21 12:37] BmetaMax commented on #1588
@LipuFei I cannot find the referenced sections in my registry, see attached.
![localdumpsregistrymissing](https://cloud.githubusercontent.com/assets/13711690/9991869/d6c9bc20-603b-11e5-99c9-5b41d4d8f47b.png)

[2015-09-21 12:47] LipuFei commented on #1588
Hi @BmetaMax, Could you create this `LocalDumps` section and create all the entries inside? Or use this solution on StackOverflow except that you need to specify a different `DumpFolder` that suits you: http://stackoverflow.com/questions/20237201/best-way-to-have-crash-dumps-generated-when-processes-crash

You can a lso take a look at this:
https://msdn.microsoft.com/en-us/library/windows/desktop/

[2015-09-21 16:18] BmetaMax commented on #1588
Well I finally got a dump, and its 602MB, so considering how long it took to upload a 60MB file for me I'm not eager to try and upload this somewhere. I tried opening it with every text program I have (notepad, wordpad, MS Word, Firefox, and IE) and none will open it.
Suggestions?

[2015-09-21 16:28] BmetaMax commented on #1588
@LipuFei ok so now I realize you aren't supposed to open it with a text editor (I made a copy, changed the extension, then got it to open- gibberish).
But still I don't know how to get it to you.

[2015-09-21 17:37] LipuFei commented on #1588
@BmetaMax You can use this https://mega.nz as @Thomasedv did. I think you can open it with WIndows Debugger. It should show you where the crash happened.

[2015-09-21 18:13] BmetaMax commented on #1588
@LipuFei OK I'm uploading now, it says it should be done in about 8 hours :(
I'd already uninstalled debugger thinking it was screwing tribler up, as all I'd done was either select "attach to process" or "launch process" through it, and I tried the portable "BlueScreenView" but it won't open it either. Sigh, reinstalling debugger now, just to sate my curiosity.

[2015-09-21 18:25] LipuFei commented on #1588
@BmetaMax That's way too long... Don't bother uploading it then...
I'm installing WinDbg on my home PC to check how you can get information from the crash dumps. Will let you know when I have something.

[2015-09-21 18:39] LipuFei commented on #1588
Hi @BmetaMax, You can use WinDbg to open the crash dump via menu "File"->"Open Crash Dump". Could you check if you can find any error information? For example, something like this:
[code]

[2015-09-21 18:58] BmetaMax commented on #1588
@LipuFei yup I finally got it installed, this is what it says:
Microsoft (R) Windows Debugger Version 10.0.10240.9 X86
Copyright (c) Microsoft Corporation. All rights reserved.

Loading Dump File [D:\dump\Backup_tribler.exe.2556.dmp]
User Mini Dump File with Full Memory: Only application data is available

WARNING: Minidump contains unknown stream type 0x15
WARNING: Minidump contains unknown strea

[2015-09-21 18:59] BmetaMax commented on #1588
So can I cancel uploading the dump file then? It's only at 38% yet, lol.

[2015-09-21 19:08] LipuFei commented on #1588
@BmetaMax Please cancel that, otherwise it will take way too much time...
Thanks for the information! Looks like there is a NULL-pointer problem somewhere. We don't have symbol files so I guess this is as much as we can get... I will try to figure out what happened.

[2015-09-21 19:13] BmetaMax commented on #1588
@LipuFei Cancelled, no problem, and thank you!

[2015-09-21 19:36] colin1497 commented on #1605
OK, haven't had much of a chance to mess with it, but tried again today.  Reduced to 61 torrents and it managed to get through checking a ton of them but never finished building circuits.  Eventually I had no anon peers and it was just sitting so I shut down, got crash and error log as below:

ERROR   1442863983.41   sqlitecachedb:272   cachedb: ===Twisted===
SQL Type: <type 'unicode'>
-----
COMMI

[2015-09-21 19:42] colin1497 commented on #1605
After this I restarted, and it didn't insist on checking all the torrents again, so it's making some progress in that regard, now it just wants to seed the torrents anon, but it doesn't seem to be able to build the circuits for 61 anon torrents?

Anyway, starting and stopping doesn't crash now that it's finished checking all the torrents.

[2015-09-21 23:25] colin1497 opened #1669 "Sometimes when adding a previously downloaded torrent, name is blank [Still Exists 6.6.0-exp1 G1725b60]"
This is existed in 6.4 and exists in the 6.5 RC's at some level (saw it today).

When you remove a torrent, but later re-add it, sometimes it doesn't show the name.  I don't know what exact circumstances are required to recreate it.  I think they've gotten better in 6.5 because I've seen it less, but I definitely saw it today.

In 6.4 I often removed and re-added torrents as part of the "download

[2015-09-22 06:30] synctext commented on #1605
hi Colin, many thanks for all your debugging efforts. we're struggling for a month now to get it solid..

Anonymous seeding of 61 torrents with 3 hops has never been tested by us. Hardcore.

if you seed only 5 or 10 torrents with3hops, is Tribler stable then? As Whirm suggested, could be 1 specific file breaking thongs or running out of file descriptors, sockets,something..

[2015-09-23 23:44] colin1497 commented on #1605
One problem (secondary, but impacts debug) is that I can't stop the torrents that are trying to build circuits.

[2015-09-24 13:01] Thomasedv commented on #1588
Sorry for late update, @LipuFei But i just got a torrent completed and did a clean install of the Tribler build provided. So i deleted everything concerning Tribler, even the .Tribler folder in the roaming folder, restarted and did the install. It crashed once, but it seemed like a one of instance, nothing in the log about it. Tried adding a torrent, and to mention that i have a program which does

[2015-09-24 13:14] LipuFei commented on #1588
@Thomasedv Thanks for the information.

The current working directory problem is indeed very strange. It indeed isn't supposed to be there, but somehow it still happens in your case and @BmetaMax 's. @whirm and I have been working on this issue for a while but no luck so far. It would be great if you can provide some more details about it (for example, what you did when this happened, etc.).

It i

[2015-09-24 15:15] colin1497 commented on #1605
OK, so I opened Github today and it managed to build circuits and is now seeding anon.

Now it wants to redownload 8 of the 61 torrents, and, of course, it wants to do it anon, so it will essentially never happen.  I don't completely understand what's going on here, maybe something failed during check?

So, I picked one of them and stopped it, copied the magnet link, removed the download, and star

[2015-09-24 17:41] Thomasedv commented on #1588
Not much to say really. I have the program Taiga, which automatically fetches torrents for me and keeps track of them, saving a lot of hassle. It does so by apparently downloading the torrent files and getting Tribler to read them. Taiga is set to open the files with the asigned .exe file named Tribler in the Tribler folder. I can't really say more, since i'm not sure what more i can specify. I mi

[2015-09-24 18:42] LipuFei commented on #1588
@Thomasedv I guess when Taiga starts Tribler.exe, it doesn't change the working directory, then the logger.conf error message makes sense.

The `logger.conf` file is the configuration file for python logging. We are using a relative file path "logger.conf" to load this file, so if Tribler doesn't start with the current directory set to its installation directory, "logger.conf" will not be found an

[2015-09-24 19:03] Thomasedv commented on #1588
As to details, i almost always start Tribler manually, so the torrent files are sent to the program when it's already running. So the pop up window opens like usual when adding a magnet link or double clicking a .torrent file.

Also, how much of a purpose does the logger.conf do? Since torrents appear to work fine regardless of it not finding it.

Also, i have another program which needs python, s

[2015-09-24 19:05] Thomasedv commented on #1588
Heh, tried adding a torrent file stored manually. (Since Taiga stores them in a folder) and got this:

Unable to load logging config from 'u'C:\\WINDOWS\\system32\\logger.conf'' file: No section: 'formatters'
Current working directory: C:\WINDOWS\system32
File doesn't exist

[2015-09-24 19:33] LipuFei commented on #1588
@Thomasedv Thanks! That's very useful!

When you open a torrent file using Tribler, Windows will start Tribler.exe, and (almost) the first thing Tribler.exe does is to load the "logger.conf" in the current working directory. Because "logger.conf" is not there, this error will occur.

I think for now you can ignore this "logger.conf" error message. It should be harmless.

[2015-09-24 19:36] LipuFei commented on #1588
(More explanation) It doesn't matter if you already have a Tribler running or not. When you open a torrent file using Tribler, a new Tribler.exe will start, but instead of running a new instance, it will check if there is already a Tribler instance running. If so, this new Tribler.exe will tell the existing Tribler.exe to open a new torrent file and then exits. That's why it looks like there is on

[2015-09-24 19:41] LipuFei opened #1670 "On Windows, opening a torrent file using Tribler will start Tribler.exe in an arbitrary directory"
Problem found in #1588

On Windows, opening a torrent file using Tribler will start Tribler.exe in an arbitrary directory. A direct consequence is that all code using relative paths will break. One of them is the "logger.conf" problem.

A solution is to use absolute path for "logger.conf" in `tribler.py`.

[2015-09-24 19:42] LipuFei commented on #1670
@whirm Could you have a look when you are back from vacation? Thanks!

[2015-09-24 19:48] LipuFei opened #1671 "Crashing every 30 minutes on Windows (suspected to be OpenSSL)"
A problem found in #1588

According to @BmetaMax, Tribler crashes every 30 minutes on his Windows. However, with a broken Windows build whose Tunnel doesn't work (and python-cryptography's openssl backend doesn't work), it doesn't crash. So I suspect that the problem could be caused by OpenSSL or python-cryptography or both.

The OpenSSL in the Windows builder is 1.0.1l (from https://slproweb.com/

[2015-09-24 19:54] LipuFei commented on #1671
@whirm I tried to compile python-cryptography using newer versions such as 1.0.2d, but it didn't work. It will show this "no OPENSSL_Applink" error message every time I start Tribler.

When using OpenSSL on Windows, we must to include `<openssl/applink.c>` which provides this `OPENSSL_Applink()`. Otherwise, the "no OPENSSL_Applink" error message will show up. (see https://www.openssl.org/docs/faq.

[2015-09-25 15:31] colin1497 commented on #1668
Actually, I find that explore files wants to open the default download directory, even if you've got another directory configured, and even if the torrent is located in another directory.

[2015-09-25 17:07] BmetaMax commented on #1668
in 643 it opened the correct/actual subfolders 9/10 times for me. With rc5 it opens the default top level directory I have set in tribler settings. So I'd say it's probably related to the fixes, I guess I assumed it would go back to working eventually but good to bring it up.

[2015-09-27 02:11] themusicgod1 commented on #1556
This looks more like a software-center than a tribler bug, did you report it via ubuntu-bug to software-center on launchpad.net ?

[2015-09-28 00:33] BmetaMax commented on #1588
So I got fed up with windows 10, however I couldn't reload to my backup due to partition changes I'd made so I just reloaded windows from scratch today. After that I reinstalled tribler rc5-31 and realized I'd forgot to try and save the working directory (I assume it was under users somewhere as the log file is) so in tribler it appeared I'd lost all torrents. Really though I have all the file dat

[2015-09-29 17:45] synctext opened #1672 "exceptions.ValueError: metainfo not dict"
This happend I guess during normal background torrentcollecting, when my Tribler was on for a week.

commit 76ae512f675aef847ade6e78051a688e90a9dd10
Date:   Mon Sep 14 15:37:16 2015 +0200
Merge pull request #1661 from LipuFei/win_installer
Remove "Make default for ppsp urls"

[code]

[2015-10-01 14:34] quite opened #1676 "IOError: IO error: lock /home/quite/.Tribler/LOCK: already held by process"
Just found this thing, tribler... Fairly hard to get up and running, I must say. Or is that just me...

After managing to squeeze in all dependencies, I found the code broken and submitted a small fix #1675.

Now tribler just complains with the error in title, and I got a bit tired. What up with LOCK?

[2015-10-05 09:02] UC3829 opened #1677 "Video broadcasting with SwarmPlayer"
I am opening an issue here because the Tribler forum appears offline (http://forum.tribler.org/)

I have been looking for a good p2p broadcasting application because I want to start a live TV channel with original content, conversation & interviews.  I see that Wikipedia says:

"Tribler also features a built-in video streamer known as SwarmPlayer."
https://en.wikipedia.org/wiki/Tribler

However, I

[2015-10-05 11:55] UC3829 commented on #1646
Some other related projects:

https://en.wikipedia.org/wiki/Osiris_%28Serverless_Portal_System%29
http://www.osiris-sps.org/

http://project-maelstrom.bittorrent.com/
http://blog.bittorrent.com/tag/maelstrom/

[2015-10-06 14:01] eaglgenes101 opened #1678 "Forum is inaccessible"
Well, the "forum under attack" issue fit in the issue tracker well enough, so I guess this will do well too.

Anyway, I'm not able to connect with forum.tribler.org. It times out all connections to it, and ping packets are never responded to, not even with an error message. Can others confirm that they are experiencing forum downtime too?

[2015-10-07 19:43] synctext commented on #1678
yeah, our proxmox server is down. reinstalling fresh..

[2015-10-08 17:34] #1678 closed

[2015-10-09 10:46] whirm commented on #1677
Live streaming support was removed due to lack of manpower to maintain it. You can look at the PSPP reference implementation project: https://github.com/libswift/libswift Which was developed at our university too and was used to offer that feature in Tribler.

BTW, the forums are up again :)

[2015-10-09 10:46] whirm commented on #1677
I'm closing this now, feel free to reopen it if you have more questions.

Thanks!

[2015-10-09 10:46] #1677 closed

[2015-10-12 17:23] ghost opened #1680 "Tribler should show a warning when adding torrent via HTTPS URL with an invalid certificate"
See https://github.com/Tribler/tribler/pull/1496

[2015-10-12 18:42] nllz opened #1681 "Dependency issue with python-wxgtk2.8"
Hi all,

Am on Debian Jessie / Stable / 8, and am trying to install Tribler, but there is an issue with an unmet dependency: python-wxgtk2.8. I have python-wxgtk3.0 and python-wxgtk3.0-dev installed, but Tribler won't install, and v2.8 is not in the repositories.

Any suggestions?

Best,

Niels

[2015-10-13 00:17] colin1497 commented on #1605
Should I try to break the multiple issues up into different bugs at this point or just let you guys sort it out?  It seems like there are several independent issues that may need tracked separately.

[2015-10-13 06:15] themusicgod1 commented on #1681
Debian has asked tribler to migrate away from wxwidgets 2.8 and removed tribler from debian because of their lack of interest in moving away from it (last I read, it was one of two packages in debian that still was based on 2.8).

This issue is basically #875

[2015-10-14 11:25] whirm commented on #1671
@BmetaMax, I can't reproduce this crash for the life of me. I've rebuilt updated versions of all cryptography related dependencies on the builder, could you try and see if this build crashes?

https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/4/

If it still crashes, could you try overwriting the openssl DLL with this one? (the one used on the latest stable Tribler release, whi

[2015-10-14 11:33] whirm commented on #1680
Thanks for the report!

[2015-10-14 11:38] whirm commented on #1605
@colin1497 yes please, that would be great, otherwise I'll miss something for sure :)

Thanks again!

[2015-10-14 11:41] whirm commented on #1681
@nllz You can get WX 2.8 from either either the oldstable or experimental repos.

@themusicgod1 I'll have a look at the patch ASAP, thanks for the heads up!

I'll start working on the WX3 migration as soon as 6.5 is released. That should have been done a long time ago.

[2015-10-14 12:18] David-Leudolph commented on #1141
I agree. It would be nice to have such an option.

[2015-10-14 14:49] colin1497 opened #1682 "Crashes at start when resuming/checking many torrents [RC5]"
Somewhere above 60 torrents seeding, anonymously, where all torrents are already downloaded, but because tribler is updating to a new version (6.5 from 6.4) it is checking each torrent at startup, tribler crashes with no log file while "building circuits."

Since I eventually got through this, I don't currently have a setup in the state to reproduce this bug, so it may be a little tough to check f

[2015-10-14 14:52] colin1497 opened #1683 "Fails building circuits with large number of anon seeds [still issue with 6.6.0-exp1]"
Seeding >60 torrents anon, tribler sometimes fails to build circuits and seed.  Lots of info in #1605, see this comment specifically:

https://github.com/Tribler/tribler/issues/1605#issuecomment-142086993

Splitting this issue out for tracking purposes, may be related to #1682

[2015-10-14 14:56] colin1497 opened #1684 "After checking file, sometimes redownloads anon mistakenly [RC6]"
Sometimes, I assume on a failed check, if the file is marked download public, seed anon, tribler will try to download anon instead of public.

Lots of information provided in #1605, splitting this issue out for tracking purposes.

[2015-10-14 15:33] whirm commented on #1671
@BmetaMax Ready for you to test.

[2015-10-15 09:38] Baigle commented on #1066
Any thoughts? http://arxiv.org/abs/1507.05724v1?utm_source=webopsweekly&utm_medium=email

[2015-10-15 11:24] UC3829 commented on #1677
I just wanted to add these references for any users or developers who may be interested in a similar project.

http://www.swirl-project.org/
https://github.com/skunkwerks/swirl

[2015-10-16 12:52] whirm commented on #1682
If there's a segfault (as in the error doesn't happen in python space) it's expected that no log entries will be written. Not much to do about that except for installing a debugger so the process state can be inspected when it happens.

[2015-10-16 14:54] nllz commented on #1681
@themusicgod1 Install in Debian with package in report is not working either :(

$ sudo apt-get install tribler
[sudo] password for #####:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package tribler is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another so

[2015-10-16 14:57] whirm commented on #1681
If Tribler is not on the Debian repositories, this won't work. You will need to first install WX 2.8 from debian experimental or oldstable and then download the `.deb` from the `releases` tab and install it.

[2015-10-16 15:01] whirm commented on #1681
@nllz: If you need more directions, please create a post on [Our forums](http://forum.tribler.org) describing your issue.

Cheers!

[2015-10-16 15:06] nllz commented on #1681
@whirm I think the problem is a bit more complicated since Tribler is listed in the Debian repo.

[2015-10-16 15:07] #1681 closed

[2015-10-19 10:24] #1670 closed

[2015-10-23 22:44] themusicgod1 opened #1688 "Why is "Pioneer One" used as a test?"
Seems like this is just asking for trouble using copyrighted material in a test.  Am I missing something? is it not proprietary?

https://github.com/whirm/tribler/commit/4faa5b8ea8bb073c3b11e7c6e69b6507471a5cbe
https://github.com/Tribler/tribler/tree/devel/Tribler/Test/data

[2015-10-23 22:45] #1688 closed

[2015-10-23 22:45] themusicgod1 commented on #1688
Looks like they did release it on bittorrent, disregard

[2015-10-24 15:26] vi opened #1689 "v6.5.0-rc5 seems to be much slower than v6.4.3 with the big torrent file"
With [this](http://www.tlmc.eu/) torrent in Download list, Tribler v6.4.3 was very slow at startup (several minutes of unresponsive UI), then seriously slow, but yet somewhat usable afterwards.

v6.5.0-rc5 seems to be even slower, rendering it just unusable. It has downloaded a file from it, but UI still shows "Downloading 0.0%" when the UI finally got unblocked.

[2015-10-24 15:30] vi opened #1690 ""Exit node" description should be more clear."
This may cause problems in some countries.

Does it proxy _only_ BitTorrent traffic or somebody can send spam though Tribler's exit node like with Tor?

I may want to allow other's bittorrent though this station, but don't want to get into an open proxy blacklist.

[2015-10-24 22:42] vi opened #1691 "Feature request: sorting on columns in file selection table"
I should be able to sort by file name, file size, included/excluded status and the local presence percentage.

[2015-10-25 19:16] noiseless opened #1692 "__init__() takes at least 3 arguments (2 given) on v6.5.0-rc5"
Hello!
I tried to run tribler (v6.5.0-rc5) on my archlinux and suffered a failure. After the start, I've seen an error message:

[code]

How to reproduce:

[code]

As I can see, LevelDB instance is created in Tribler/Core/leveldbstore.py by following code:

self._db = self._leveldb(store_dir)

But, in Tribler/Core/plyveladapter.py there are this code:

[code]

Also, variable "state_dir" doesn't us

[2015-10-26 14:18] whirm commented on #1692
It's a refactor bug, I've just merged a fix for this on `next` :)

[2015-10-26 14:18] #1692 closed

[2015-10-26 14:18] whirm commented on #1691
Thanks for the report!

[2015-10-26 14:21] whirm commented on #1690
It's a UDP proxy, so no worries about that, it also has some content filters to only let pass bittorrent-looking traffic.

Just to double check: @egbertbouman can you confirm this?

[2015-10-26 14:21] whirm commented on #1690
@vi I'll update the warning text with a better description ASAP.

[2015-10-26 14:23] whirm commented on #1688
We also have a Gbit/s seeder on the files we use for testing/experiments now, so everybody benefits :)

[2015-10-26 14:25] whirm commented on #1689
I'll have a shot at it.

I guess that's on Linux, right?

[2015-10-26 14:29] whirm commented on #1689
Is that torrent copyleft/public domain?

[2015-10-26 14:34] whirm commented on #1066
I'm closing this, one, @synctext feel free to reopen it if it's not really finished.

[2015-10-26 14:34] #1066 closed

[2015-10-26 14:35] whirm commented on #1237
@synctext friendly reminder that this is assigned for 6.5 milestone.

[2015-10-26 14:39] whirm commented on #1569
@ThomasdenH Could you see if [this](https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/65/) build and see if you still have issues, I've been fixing and testing Tribler on Windows 10 for a few weeks and I've never seen this issue.

[2015-10-26 14:41] whirm commented on #1576
Closing due to lack of feedback, feel free to reopen with the required info if the issue still affects you.

Thanks!

[2015-10-26 14:46] whirm commented on #1588
@Thomasedv could you try [this](https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/65/) build? It contains a lot of fixes for Windows, including crypto stuff.

[2015-10-26 14:52] whirm commented on #1617
I'm pushing this back to the backlog as I can't reproduce it and nobody else has complained/given more info either.

[2015-10-26 14:52] whirm commented on #1617
@synctext feel free to close it if it's not happening to you anymore with recent versions either.

[2015-10-26 14:55] vi commented on #1689
Yes, it's on Linux.

Unlikely, it's a big collection of related music from multiple sources.

Note that it's one of biggest torrent files easily available, so it's tricky to download it entirely without preparation.

Maybe the torrent file itself is OK (I don't see any info).

There is also a 7z with cue sheets (just enumeration of all tracks included) inside, so you can download just it avoiding

[2015-10-26 14:59] whirm commented on #1689
@vi You mean that Tribler slows down even without downloading any content from the file?

[2015-10-26 15:04] vi commented on #1689
Yes.

The torrent is that big (there was a warning on it's site about client incompatibilities).

But I expect Tribler to be a good BitTorrent client and handle tricky cases as well. It should slow down logarithmically depending on indexed content, not linearly. And should not block the UI thread when busy.

[2015-10-26 15:17] egbertbouman commented on #1690
@whirm Yup, it should only allow BitTorrent/dispersy traffic.

[2015-10-26 16:12] whirm commented on #1682
I've just tested a migration from 6.4.3 to 6.5RC5+ with 233 downloads (most of them in seeding state) and the upgrade went smoothly.

A bunch of bugs have been fixed since RC5, maybe you where hitting one of them?

I'll close this, but if somebody manages to get the same behavior with a >RC5 version, please reopen it.

@colin1497: I'll post RC6 shortly in case you are interested in further testing

[2015-10-26 16:12] #1682 closed

[2015-10-26 16:13] whirm commented on #1684
You are talking about a failed file hash check, right?

[2015-10-26 16:14] whirm commented on #1690
@egbertbouman thx!

[2015-10-26 16:45] whirm commented on #1689
Hm, I'll have a look post 6.5.

Thanks for the report!

[2015-10-26 16:52] #1690 closed

[2015-10-26 16:54] colin1497 commented on #1684
This is my assumption.  I really can't say exactly what happened, but of the 60+ torrents, a few decided to redownload after the upgrade instead of skipping straight to seeding.  At that point, they downloaded anon instead of BT.

[2015-10-26 17:36] whirm commented on #1684
@colin1497 could you see if they started from scratch or from near 100%?

[2015-10-26 19:30] ThomasdenH commented on #1569
I still have the problem. I have deleted the log, so this is the output from only this build:

[code]

Let me know if I need to do some additional testing.

[2015-10-27 19:07] Thomasedv commented on #1588
Ok, tested out quickly just now. Seems pretty good, no error on adding links when i tried. Nor did i get one after closing Tribler. After adding a torrent, closing then opening tribler, removing the torrent and closing Tribler, i got no errors and no log file has been created. For now it's working pretty well. I'll give an update if i notice any problems in the coming days.

[2015-10-27 19:35] colin1497 commented on #1684
They started from scratch.

[2015-10-27 20:12] colin1497 commented on #1669
Verified behavior in RC6.

[2015-10-28 04:25] Dmole opened #1694 "OS X Exception"
On first run the app tried to use ~/.Tribler/ without making it first... maybe I have had it installed before and there is some partial config leftover, but it should just work not crash.

[code]

[2015-10-28 10:25] whirm commented on #1569
@ThomasdenH Ok, I'd say there's an interaction with your locally installed VLC, Could you uninstall it just to test if Tribler works OK without it?

Thanks!

[2015-10-28 10:26] whirm commented on #1588
@Thomasedv great!

I'll close this one but feel free to reopen it or create a new one if you manage to trigger it again.

Thanks!

[2015-10-28 10:26] #1588 closed

[2015-10-28 10:28] whirm commented on #1684
@colin1497 still no log in %APPDATA%?

[2015-10-28 10:35] whirm commented on #1684
Also, to verify that it still was happening on RC6, did you restore a 6.4.3 .Tribler dir and then upgraded to RC6? (Trying to make a picture of the situation here)

[2015-10-28 10:38] whirm commented on #1669
@colin1497 This is when removing it on the same run? Does it happen when you restart Tribler inbetween?

Have you noticed that now you can choose safe seeding for a download which should do exactly what you want?

[2015-10-28 11:28] ThomasdenH commented on #1569
I uninstalled VLC, but I still get an error and cannot close the program:

[code]

[2015-10-28 14:04] whirm commented on #1569
I've tried installing VLC, starting Tribler with over 200 downloads, stopping, uninstalling VLC, starting again and it just works on my Windows 10 testing machine.

Are/where you running the latest VLC version? Tribler bundles 2.1.X I'll upgrade to the latest version so you can see if works then.

Could you download the 32 bit version of dependency walker from www.dependencywalker.com and check if

[2015-10-28 14:47] whirm commented on #1569
This build bundles the latest libvlc and python bindings.
Could you test it in case it helps with the VLC issue?
https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/68/

[2015-10-28 14:50] whirm commented on #1605
I'm closing this one as it got split into 3 separate issues.

[2015-10-28 14:50] #1605 closed

[2015-10-28 15:31] ThomasdenH commented on #1569
I tested the latest build (#68), but the problem wasn't fixed. I ran dependency walker and quite a number of files couldn't be found. I exported the images: [libvlc](https://www.dropbox.com/s/12cug6s6zdt9zgp/libvlc.dwi?dl=0) and [libvlccore](https://www.dropbox.com/s/u188mgy072obrjx/libvlccore.dwi?dl=0).

[2015-10-28 17:14] whirm commented on #1569
It looks exactly like the one on my testing machine (It's missing some DLLs which are bundled with Tribler but they should be found at run time).

Could you run this build and paste the log?

https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/69/

I've added some debug prints so I can make sure that the PATH var makes sense in your system.

[2015-10-28 18:17] ThomasdenH commented on #1569
This is the log:
[code]

[2015-10-29 10:58] whirm commented on #1569
@ThomasdenH please tell me this one works :D
https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/71/

[2015-10-29 11:01] whirm commented on #1694
I see a few different errors here, I'll have a look today.

Thanks for the report!

[2015-10-29 11:24] ThomasdenH commented on #1569
Closing works, but now I get a 'Tribler stopped working' from Windows, with the following log file:
[code]

[2015-10-29 12:19] colin1497 commented on #1669
Just removed the torrent I had exhibiting this behavior, restarted tribler, added it, and again got no name.  I have never seen this behavior when downloading a new torrent, only when adding one that was already downloaded, but it happens relatively frequently in that case and has in every version of Tribler that I've used, so this is not a new bug.

I am aware of the new feature, actually #1684 i

[2015-10-29 12:21] colin1497 commented on #1684
No, this is going from RC5 to RC6.  Also, see what I just posted in #1669.  This torrent was added immediately after restarting the client.
![tribler](https://cloud.githubusercontent.com/assets/11151259/10818206/b02ff4cc-7e0d-11e5-9017-9021f084ac4a.png)

[2015-10-29 12:29] colin1497 commented on #1684
OK, there was an error log before I started this process, but Tribler had been running for a long time and so I deleted it before restart because I didn't want to muddle these specific issues.

I removed the torrent (not data)
I exited tribler
deleted existing error log
started tribler
added the magnet link
made the above screen cap and post
exited tribler
No error log
started tribler

If you'd li

[2015-10-29 12:30] colin1497 commented on #1684
Below are the contents of the log I deleted above, for reference:

ERROR   1445974938.86             log:443   Unhandled Error
Traceback (most recent call last):
  File "threading.pyo", line 763, in run

  File "Tribler\Core\Utilities\twisted_thread.pyo", line 55, in _reactor_runner

  File "twisted\internet\base.pyo", line 1192, in run

  File "twisted\internet\base.pyo", line 1201, in mainLoop

[2015-10-29 12:49] colin1497 commented on #1684
OK, after step 9 above (last restart) it checked the file and changed the status to completed instead of trying to redownload it.

[2015-10-29 16:23] whirm commented on #1694
Could you please check if this build works for you?

https://jenkins.tribler.org/job/Build-Tribler_OSX_next/166/

[2015-10-29 16:47] vi opened #1700 "v6.5.0-rc6: Download bandwidth limit is not observed"
Configured for 200 KiB/sec down, 100 KiB/sec up, but actually downloading 1.3 MiB/s (and counting).

Anonymity is turned on both ways.

[2015-10-29 16:51] vi opened #1702 "v6.5.0-rc6 Wrong status is displayed for a file being downloaded"
I see `Status: Torrent file is being downloaded from the DHT (10.2%).`

It should be `Downloading (10.2%)`

[2015-10-29 17:04] whirm commented on #1569
This one doesn't fix anything but adds some debug prints to see which libvlc.dll it's finding that's not good.

https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/74/

[2015-10-29 17:21] whirm commented on #1684
Oh, ok, that's a duplicate of #1612 and a typo on a log call. I've fixed the log call and will fix the other one ASAP with the info you provided.

Thanks a lot for your help reproducing this!

[2015-10-29 17:22] whirm commented on #1612
Note to future me: #1684 has info on how to reproduce this one.

[2015-10-29 17:25] whirm commented on #1702
Hm, how do you reproduce this? I'm seeing "Downloading @XXKB/s (XXX%)" (checked on about 20 downloads)

[2015-10-29 17:27] whirm commented on #1700
@rjruigrok is bandwith throttling implemented on the tunnel community?

[2015-10-29 17:28] whirm commented on #1700
Actually it's libtorrent who should be controlling this even with anon downloads...

[2015-10-29 17:29] vi commented on #1702
Found a torrent using search and downloaded it.

[2015-10-29 17:29] whirm commented on #1700
I'll have a look, thanks for the report!

[2015-10-29 17:29] vi commented on #1702
Now I see "Seeding 100%" in the download list, but still "Torrent file is being downloaded from the DHT" in Status in lower pane.

[2015-10-29 17:32] vi commented on #1700
I don't remember observing such behaviour in v6.4.3

[2015-10-29 17:35] whirm commented on #1700
Well, the tunnel community got mostly rewritten after 6.4.3 so it makes sense.

[2015-10-29 17:37] vi commented on #1700
Why it's not Tribler v7.0 then?

[2015-10-29 17:39] vi opened #1703 "Maybe Tribler v6.5.0 should be called v7.0.0?"
Storage of collected torrents files got changed in a major way, requiring migration.

User is probably not expected to start Tribler <= 6.4.3 after starting the new Tribler...

That looks more like a Tribler v7.

[2015-10-29 18:22] Dmole commented on #1694
Yes the app loads with that build.
side note: that link should be http because NET::ERR_CERT_AUTHORITY_INVALID

[2015-10-29 18:23] #1694 closed

[2015-10-29 20:13] ThomasdenH commented on #1569
This is the log:
[code]

[2015-10-29 22:11] vi opened #1704 "Download table columns visibility editor has misleading UI and can't be opened without any downloads."
In tribler v5.4.3 downloads showed "ratio" field (and was able to sort by it).

Now I don't see it.

Without ratio or accumulated upload size user don't see the relative popularity of his shared content.

[2015-10-29 23:25] colin1497 commented on #1684
No problem.  Hopefully that takes care of it.

[2015-10-30 10:47] whirm commented on #1704
Thanks!

[2015-10-30 10:53] whirm commented on #1569
Ok, so it's definitely finding the right dll.

Just to rule out some weird interaction with the system's language: Could you switch your system to English, reboot and try again?

http://ccm.net/faq/28761-windows-8-1-how-to-change-the-language-settings

Thanks!

[2015-10-30 10:55] whirm commented on #1694
Great! Thanks for the testing.

Yes, it's a self signed certificate, we have to get a proper one for jenkins.

[2015-10-30 11:16] whirm commented on #1703
@synctext maybe you wan to join the discussion?

We usually consider the third digit (bugfix releases) to keep on disk backwards compatibility, 2nd is new features (often requiring on disk data changes like the new torrent and thumbnail storage system), and third is major breakage such as protocol-level incompatibilities.

What we maybe could do is to have a dialog warning people about on disk com

[2015-10-30 11:20] whirm commented on #1700
Because it was an experimental feature I guess. @synctext?

[2015-10-30 14:49] whirm commented on #1704
Do you mean v6.4.3? I can't see this ratio field on the sorting option list.

[2015-10-30 15:02] vi commented on #1704
Yes, v6.4.3, the previous version.

[2015-10-30 16:13] whirm commented on #1704
I've installed that version on windows, and on the "sort by" list, there's only  name, progress, ETA, down speed, up speed, connections, anonymous, no ratio there. Maybe it was an older version?

[2015-10-30 16:22] vi commented on #1704
Maybe I confused it with sorting by progress or by ETA. Or maybe sorting by progress implicitly (or by chance) sorted it by ratio among "Seeding" entries.

Anyways, if it is as easy to sort by ratio as by other columns, why not have such option?

[2015-10-31 06:51] secretmylo commented on #1692
I'm also getting this. As of the latest version.

    [user@localhost tribler]$ ./tribler.sh
    Traceback (most recent call last):
      File "/home/user/Development/tribler/Tribler/Main/tribler_main.py", line 165, in __init__
        s.start()
      File "/home/user/Development/tribler/Tribler/Core/Session.py", line 422, in start
        self.lm.register(self, self.sesslock, autoload_discovery=s

[2015-10-31 12:03] ThomasdenH commented on #1569
Sure. Here's the log:
[code]

[2015-10-31 13:38] jbshirk commented on #1576
10/31/15 9:29:29.250 AM Tribler[80062]: Traceback (most recent call last):
     10/31/15 9:29:29.252 AM Tribler[80062]:   File "<string>", line 5, in <module>
     10/31/15 9:29:29.252 AM Tribler[80062]: ImportError
     10/31/15 9:29:29.253 AM Tribler[80062]: ImportError:
     10/31/15 9:29:29.254 AM Tribler[80062]: ImportError: No module named csv
     10/31/15 9:29:29.254 AM Tribler[80062]: Imp

[2015-10-31 13:44] jbshirk commented on #1576
I can't tell what version, date on files is Jan 28 2015

[2015-10-31 15:44] renang010 opened #1705 "Error: u'file too short"
Hi,
I am using OS X El Capitan and Tribler 6.5.0 - rc5.

After a couple of minutes of download, Tribler stops and pops the message: Download stopped on error: u'file too short: reading p: 1485 b:0 s: 524288 (read: 0)'.

Hit ok, message disappears, and then it pops up again. Indefinitely.

Renan

[2015-10-31 15:47] renang010 opened #1706 "v6.5.0-rc6: OS X El Capitan"
Hi,
I am using OS X El Capitan.
Opened v6.5.0-rc6.dmg, copy .app to Applications. Tried to run, but it won't start.

Renan

[2015-10-31 18:22] vi commented on #1704
Update: I opened a context menu on a download and saw the misleading "Show labels" context menu item.

There I can enable ratio column. After enabling the ratio column, I can also sort by it.

Reformulating the issue to be about misleading UI rather about absense of a feature.

[2015-10-31 18:24] vi commented on #1704
It should be "Show columns" instead of "Show labels". This menu should be openable from the header line `Sort by  | Download state | File size ------------ | Filter downloads`, not from the context menu of a download.

[2015-10-31 22:34] vi commented on #1700
Note that I have discovered previously absent context menu item "Bandwidth allocation" for a download, suggesting that it is possible to set bandwidth per-download.

That's nice feature, but I think the global limit should still be applied together with per-download limit.

[2015-11-01 14:56] vi opened #1707 "After downloading completed, it still shows falling "Download speed""
Probably due to some averaging. This looks misleading.

[2015-11-01 22:46] cryptoz opened #1708 "New install errors 6.4.3"
Windows 10, little acer laptop.  After a restart of the program it seems to have sorted itself out but I thought you might want to see the log regardless for feedback.  Tried to remote add a torrent file and magnet and url but all failed.  Have not tried remote control after restart.

[dumptext](http://dumptext.com/I35wf0TT)

[2015-11-02 13:35] Nubro01 opened #1709 "6.5.0.RC6 Ratio not working"
I have set my seeding ratio to three, I am seeding and is already on 11.8, normally it should stop when I reach my ratio setting.
Also log file is not receining any errors, while this RC6 abends quite a few times with errors, but none appear witin log.
This is on a Zotac ID42 with 12 gig memory, Windows 10 Pro x64.

[2015-11-02 13:38] Nubro01 opened #1710 "6.5.0.RC6 Destination location not working."
When one picks a location for the files to be downloaded, the last folder is not used, so e:\Videos\Seriename\Season01, results in the files being placed in E:\Videos\Seriename\torrent-orinal-destination-folder-name.
In the pre beta the result would be e:\Videos\TVSeriename\Season01\filename.avi, this is what we had and need back. Also the history stored is not stored properly, last folder is also

[2015-11-02 17:14] BmetaMax commented on #1671
@whirm Sorry guys, life overwhelmed me and I've not been around. Anyways for the past two-three weeks rc5-31-g67ea0e3 has been running inexplicably stably 95% of the time.
The other 5% of the time the issues I have are at startup; sometimes it still crashes with the same last errors reported in the log (example pasted below), I still get an error when closing tribler, and I have this recently occu

[2015-11-02 17:17] Dmole commented on #1706
Try this build:
https://github.com/Tribler/tribler/issues/1694
if that fails open Console.app search for tribler and paste results here

[2015-11-02 17:27] Dmole opened #1711 "[enhancement] Command line"
headless rtorrent like XMLRPC would make tribler usable when flexible scheduling and torrent management is required.

[2015-11-02 17:45] Dmole opened #1712 "upload and download speed not shown"
The OS reports Tribler using 10KB/s and Tribler reports 0.
(maybe DHT etc are not counted?)

6.5.0-rc6-8

[2015-11-03 20:53] 0vermind commented on #1711
I don't get why this feature is still missing after years of project.

[2015-11-04 12:49] whirm commented on #1711
Well, we are severely understaffed and we have to chose our battles.
The issue is that we still have some download code tangled with the GUI code that needs to get refactored so we can offer this feature.

It seems that a couple of master students will be working on this during this semester, so maybe we will get this feature in the not so distant future.

We would also love to have collaborators

[2015-11-04 12:56] whirm commented on #1692
This is looks like an old version. Check out the head of  `upstream/next`

[2015-11-04 13:16] Dmole opened #1713 "OS X caught Tribler burning CPU"
http://pastebin.com/nVCjMYSD

[2015-11-04 13:20] whirm commented on #1569
Ok, let's just trace Tribler's startup so we can see which dll on the chain it's failing to load for you.

Could you download/unzip process monitor: https://technet.microsoft.com/en-us/sysinternals/bb896645

Then:

1: Start it, go to `Filter > Filter...` and add a "Process name is tribler.exe then include" filter.
2: Start Tribler
3: When it crashes, go back to process monitor and click on `File >

[2015-11-04 13:23] whirm commented on #1713
Did it hang it was working properly?

[2015-11-04 13:27] Dmole commented on #1713
I woke up, logged in and found it was not running, but I would guess it hung in a tight loop for OS X to kill it because I do plenty of CPU warming activities and never had this happen before.

[2015-11-04 13:31] whirm commented on #1576
@jbshirk could you try this build:

http://jenkins.tribler.org/job/Build-Tribler_OSX_next/166/

And tell me if it works for you?

Be aware that once you upgrade from 6.4.x to 6.5.x the on disk format will change and you won't be able to use that data with older Tribler versions, so backup .Tribler/ if you want to have this option.

[2015-11-04 13:32] whirm commented on #1713
I guess it's too late for you to have a look at the logs to see if there's anything that could help us?

[2015-11-04 13:33] whirm commented on #1712
Yes, I think it only accounts for the bittorrent traffic, not the background traffic such as dispersy, torrent collecting or the DHT.

[2015-11-04 13:34] whirm commented on #1706
@Dmole thanks :)

[2015-11-04 13:42] Dmole commented on #1713
console logs are in the pastebin, don't see any more in ~/Tribler

[2015-11-04 13:44] whirm commented on #1671
Yes, There's been a bit of stuff coming in, so maybe you want to test rc6 (no need to go further as the fixes that came afterward where just for OSX.

About this error msg:
`exceptions.WindowsError: [Error 267] The directory name is invalid: u'D:\TriblerDownloads\Movies\acafddkgpj.mp4\.'`
Does that torrent contain a single file without a dir? Maybe an incorrect file name with a `\.` at the end?

[2015-11-04 13:51] whirm commented on #1713
Oh, I see.
Tribler on OSX is know to consume more CPU than it should. I suspect something is wrong on the GUI/WX side, but I haven't had time to investigate on this.
If you add this to the new tunnel community, which does a lot of en/decryption and you have a proper internet connection, it can get pretty hot.

I will probably have a couple of master students working on splitting the GUI from the c

[2015-11-04 13:58] whirm commented on #1705
Could you upgrade to https://jenkins.tribler.org/job/Build-Tribler_OSX_next/166/ as it contains some fixes for OSX.

And if it still happens, quit Tribler and  temporarily rename your `.Tribler` directory to something else and see if this fixes your issue? This is just to check if there's a corrupt file on the state dir that is triggering this message.

[2015-11-04 14:34] jbshirk commented on #1576
11/4/15 9:31:14.000 AM kernel[0]: hfs: mounted Tribler on device disk2s2
    11/4/15 9:31:15.167 AM mds[76]: (Normal) Volume: volume:0x7ff0098e2a00 ********** Bootstrapped Creating a default store:1 SpotLoc:(null) SpotVerLoc:(null) occlude:0 /Volumes/Tribler
    11/4/15 9:32:08.000 AM kernel[0]: hfs: unmount initiated on Tribler on device disk2s2
    11/4/15 9:33:12.664 AM Tribler[1645]: ERROR   1

[2015-11-04 14:48] whirm commented on #1576
Ok, that's looking better.

It also seems your Sqlite DB got corrupted somehow. Could you enter ~/.Tribler/sqlite/ and move all `tribler.*`files somewhere else and see if that makes Tribler work as it should again?

Don't delete the files as I may ask you to forward them to me so I can analyze them.

Thanks!

[2015-11-04 14:49] whirm commented on #1709
Could you open a different issue for the errors you are getting which don't get written to the log file?

Thanks for your reports!

[2015-11-04 14:53] whirm commented on #1708
This should be fixed on the latest RC, could you give it a shot and see if it fixes it for you?

Remember that upgrading Tribler to a 6.5.X version will upgrade the on disk data so you won't be able to run an older Tribler version. So back up the data in case you want to do so.

Thanks!

[2015-11-04 14:53] whirm commented on #1707
Yeah, I agree it looks weird.

[2015-11-04 15:02] whirm commented on #1704
Thanks for the update!

[2015-11-04 15:06] jbshirk commented on #1576
That worked. It's up. No errors in System Log console.

[2015-11-04 15:48] whirm commented on #1710
You mean that when you add a multi file download, it will create a directory for all the files on that torrent instead of mixing them up with whatever you had on the selected target dir?

[2015-11-04 16:15] whirm commented on #1576
Great!

Closing this one, feel free to report any other issues you have.

[2015-11-04 16:15] #1576 closed

[2015-11-04 19:48] ThomasdenH commented on #1569
The file is [here](https://drive.google.com/file/d/0B0dXxWOn-664MFVhU2lRWXAyT28/view?usp=sharing).

[2015-11-04 21:56] BmetaMax commented on #1671
@ whirm ok I'll install rc6 tonight. correct no dir, I don't know how that \ got there, it was a previously downloaded file that was already complete, but at the time that log was pulled it had oddly gone back to initializing and was no longer in the directory I move completed dl's to. Could it's path have been corrupted between restarts of tribler somehow?

[2015-11-04 23:44] cryptoz commented on #1708
OK installed fine but crashed on magnet link
[log dump](http://dumptext.com/c5vHxfpf)

[2015-11-04 23:59] cryptoz commented on #1708
I tried to restart tribler again and it started but hung on building circuits for about 5mins then the status bar advanced to 100% like it was done then it crashed again.  Problem is... no log could be found.  Is there a log option?

[2015-11-05 03:19] cryptoz commented on #1708
repeated attempts results in crash but no log :/   need debug?

[2015-11-05 13:05] whirm commented on #1708
This log looks a lot like it comes from an older Tribler version.

What kind of crash did you get? A "Tribler.exe found an error and it's going to be closed" type of message?

[2015-11-06 00:42] cryptoz commented on #1708
tribler.exe has stopped working

A problem caused the program to stop working correctly.  Windows will close the program and notify you if a solution is available.

Close program

[2015-11-06 07:42] LipuFei commented on #1671
@whirm It used to create folders for single-file torrents as well. I think I had made a fix for this single file issue, and perhaps this somewhere else in Tribler is trying to use the path as a folder or so.

Take a look at the  "MyPreference" table in the sqlite database. It can also be some tunnel-related code, when it tries to restart a torrent in anon seeding mode.

[2015-11-06 10:16] whirm commented on #1569
Ok, that one should really fix it for you:

http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/83/

If by any reason it doesn't, please, do the process monitor thing again.

[2015-11-07 13:10] ThomasdenH commented on #1569
Tribler closes, but while it does, it still displays a notification that an error has occured. The logfile contains this:

[code]

I also had another error occur while the program was running. I did add a magnet link, but it might not have been immediately afterwards.

[code]

I have a feeling that my Tribler data is corrupted in some way, especially since I have possibly downgraded to an incompat

[2015-11-07 14:48] Dmole commented on #1038
+1, also note you can use
inoticoming/incron on linux,
FindFirstChangeNotification/FileSystemWatcher on windows,
and kqueue/FSEvents on OS X.

[2015-11-08 09:20] rjruigrok commented on #1700
@emilon as far as I know, no bandwidth throttling is available in the
tunnel community. The limits for libtorrent will continue to work when
downloading/uploading files. But all the bandwidth related to relaying and
exiting somelne else's data is not limited.

The tunnel community has some functions that monitor the relayed / exited
data, they are used for bartercast and signing certificates for d

[2015-11-08 15:36] Konstamokh opened #1715 "Can't install Tribler 6.5.0-rc6 on Kubuntu"
I successfully opened the .deb installer, but when I click on "Install Package" nothing happens.
Could someone check if this is just me or every Kubuntu installation?

[2015-11-09 11:23] vi opened #1716 "v6.5.0-rc6 Can't find my own torrents using Search"
Typically (i.e. in v6.4.3) as soon as I add a torrent using "Download an external torrent" feature, it immediately becomes searchable in global search.

In v6.5.0-rc6 hovewer I can't find my downloads beeing seeded no matter what keywords I do try.

[2015-11-09 12:45] whirm commented on #1569
This one should work for you.
https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/84/

Turns out you have old vlc DLLs in `sysWOW64` dir and windows will always look there before loading our stuff. So now we are manually loading our bundled `libvlc.dll` and `libvlccore.dll` to make sure this can't happen.

[2015-11-09 14:13] vi opened #1718 "Feature request: Sequential download without starting player"
I prefer using external player.

v6.5.0-rc6 also crashes with segfault when it tries to start video (after buffering).

Untangling sequential mode from player would be nice.

For example, in Files tab there can be third option "Download sequentially" in addition to "Include" and "Exclude".

[2015-11-09 14:28] whirm commented on #1718
Could you create a separate issue for the segfault issue?

Thanks!

[2015-11-09 14:30] whirm commented on #1715
Have you tried doing it from the command line?

[2015-11-09 14:32] whirm commented on #1700
@rjruigrok is the socks wrapper used for forwarded traffic?

[2015-11-10 07:54] Konstamokh commented on #1715
dpkg: dependency problems prevent configuration of tribler:
 tribler depends on ffmpeg | libav-tools; however:
  Package ffmpeg is not installed.
  Package libav-tools is not installed.
 tribler depends on libjs-excanvas; however:
  Package libjs-excanvas is not installed.
 tribler depends on libjs-mootools; however:
  Package libjs-mootools is not installed.
 tribler depends on libsodium13; howev

[2015-11-10 09:09] Konstamokh commented on #1715
Well, I installed the missing dependencies and now it works.
My question now is, why didn't it show a dialogue that asks if I want to install the missing dependencies when I clicked on install?

[2015-11-10 11:30] synctext commented on #21
"Performance analysis of a Tor-like onion routing implementation", Quinten Stokkink, Harmjan Treep, http://arxiv.org/abs/1507.00245

@qstokkink student Wouter is aiming to repeat your work and do a CPU performance analysis automagically after each pull request.

Roadmap :-)
![image](https://cloud.githubusercontent.com/assets/325224/11061302/6531cf20-87a6-11e5-8e48-f2c0a42208e2.png)

[2015-11-10 12:32] synctext commented on #21
Found interesting code from Quinten: https://github.com/Tribler/tribler/compare/devel...qstokkink:devel

[2015-11-10 12:33] whirm commented on #1715
@Konstamokh I wouldn't know, sorry. I'm not familiar with Kubuntu anymore (I haven't used it for years)

Closing this as it's not Tribler related. Don't hesitate to open another issue if you have any issue with it.

Enjoy!

[2015-11-10 12:33] #1715 closed

[2015-11-10 12:46] Konstamokh commented on #1715
So, it's probably a bug with Kubuntu specifically? Not Ubuntu in general?
If I experience it with the next stable release of Tribler, I will probably open another issue.
I think a stable release should not run into problems while installing, even if those problems are easily fixed. One reason why people are afraid of Linux distributions is using the Terminal and developers should try to attract th

[2015-11-10 12:58] whirm commented on #1715
I would say it's a bug on the package manager (last time I used kubuntu it used Adept, I don't know if it still is the case) But Tribler can't do much about it, we generate a valid package and the package manager has to be able to deal with that. Maybe you could open an issue on Kubuntu's package manager issue tracker, you could link to the particular .deb that's failing for you if you have others

[2015-11-10 13:23] devos50 commented on #1711
I am going to spend some time on it over the next weeks but as @whirm said, the core logic has to be separated from the GUI code first. Collaborators are indeed very welcome :+1:

[2015-11-10 13:52] qstokkink commented on #21
If you want to re-use our code you should extract the [start_profiling](https://github.com/qstokkink/gumby/blob/devel/experiments/dispersy/tunnel_client_local.py#L230) and [stop_profiling](https://github.com/qstokkink/gumby/blob/devel/experiments/dispersy/tunnel_client_local.py#L235) functions from our code and call them respectively before and after whatever you want to profile. The [tunnel_piech

[2015-11-10 14:04] whirm commented on #1569
It looks like preloading `libvlcore.dll` would trigger a lookup for `libvlc.dll` for some reason. I've gone through a different approach now and even putting some dlls in the SysWOW64 dir like you have and it works fine.

Could you try this:

http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_emilon/104/

And see if it finally works? Otherwise do the process monitor thing again. For now

[2015-11-10 14:15] Pathemeous commented on #21
Thanks @qstokkink, I will have a look.

[2015-11-10 14:16] whirm commented on #21
We do already have memory profiling and manhole (telnet into the process to inspect it in real time) It would be cool to have the profiling integrated into gumby's instrumentation.py so all the experiments can use it straight away.

[2015-11-10 15:29] whirm commented on #1711
@devos50  I'll assign that to you once you accept the team invitation.

Also, let's talk about how the command line iface should look before doing any serious work on this aspect ok?

[2015-11-10 16:26] Konstamokh commented on #1715
I'm pretty sure there was no message. I just clicked on install and nothing happened.
I'll try it again sometime after I uninstall Tribler and a few packages it depends on. If it still doesn't work, I'll open a bug report.
What OS are you using at the moment?

[2015-11-10 16:59] synctext commented on #1448
@whirm  That is not something I do for testing.
This is an entry I found on my STDOUT a long time ago.

[2015-11-10 17:02] synctext commented on #1557
OK, it happened a week or 3 ago again. Let me see if we can reproduce this. It's not easy..

[2015-11-10 17:24] whirm commented on #1715
I've been using Debian SID for years now.

[2015-11-10 19:49] synctext commented on #1557
Tribler is running smoothly, latest *next* branch of Mac. But, we (still?) have this nice error.

![image](https://cloud.githubusercontent.com/assets/325224/11073731/5721315a-87ec-11e5-8402-51cb2caca760.png)

[2015-11-10 20:11] ThomasdenH commented on #1569
It does close, thanks very much! I think I fixed the other issue by deleting some unnecessary files, too.

[2015-11-10 20:11] #1569 closed

[2015-11-11 11:12] whirm commented on #1569
Great! glad to read that! :D

[2015-11-11 11:46] whirm commented on #1557
@synctext then you'll need to buy a developer cert from Apple I guess.

[2015-11-11 11:47] whirm commented on #1557
I'm closing this, feeel free to reopen if you manage to reproduce it.

[2015-11-11 11:47] #1557 closed

[2015-11-11 13:29] whirm commented on #1448
I'm almost 100% sure this happened because you started and closed Tribler quickly, we are aware of that bug and it'l get fixed by the LibTribler splitting work. So I'm moving this to 6.6.

[2015-11-12 12:31] synctext commented on #1237
Unable to reproduce this with latest next .DMG.

[2015-11-12 12:32] #1237 closed

[2015-11-12 12:33] whirm opened #1721 "No circuits are built if only seeding state downloads are active during startup"

[2015-11-12 12:57] whirm opened #1722 "We need to go through all the TODO/FIXME entries and clean them up/do something about them"

[2015-11-12 18:22] theodoor opened #1724 "Exception on building circuits Tribler 6.5.0 RC 6"
Tribler crashes on building circuits.

[code]

[2015-11-13 10:29] whirm commented on #1724
Could you please provide all the info requested in `CONTRIBUTING.md`?

Thanks!

[2015-11-13 15:22] theodoor commented on #1724
*Version: 6.5.0 RC6
*OS: Windows 10 64 bit.
*Step-by-step: Start up tribler, after circuits are build Tribler crashes. There are a few torrent in my tribler that are seeding and some are just added.
*Log:
[code]
*Does not happen when I move away Appdata/.Tribler
*I have not installed any interfering software.

Please let me know if you need more information!

[2015-11-13 20:32] devos50 opened #1726 "Create deployment tests for Tribler on Linux, Windows and OS X"
Tribler makes use of units tests, however, these tests do not verify whether an application is working correctly in a production setting after the app has been installed on a system. Deployment tests that startup Tribler and perform some basic actions should be created to see whether the applications runs well and without errors on Linux, Windows and OS X.

[2015-11-13 20:34] devos50 opened #1727 "Create a guide to setup a Tribler development environment on Windows"
We currently have instructions on how to install the required packages on Linux and OS X. A guide about setting up the development environment of Tribler on Windows should be created so users that use Windows as their primary OS are also able to contribute to the project.

[2015-11-13 20:40] devos50 opened #1728 "Reduce the number of Pylint errors"
The number of Pylint errors is huge. Some effort should be made in order to decrease the number of Pylint errors.

Moreover, we can add a feature that automatically rejects pull requests that increase the number of Pylint errors.

[2015-11-13 20:44] devos50 opened #1729 "Increase code coverage by running unit tests on OS X and Windows too"
Currently, the code coverage covers 48% of the conditional statements. This number can be increased by also running unit tests on OS X and Windows since many of the statements are only executed on specific platforms. At the end of the build process, the code coverage reports can be merged.

[2015-11-15 07:56] synctext commented on #1724
@theodoor Thank you for those details. Strange crash...

[2015-11-15 09:51] theodoor commented on #1724
I can send you my whole %APPDATA% folder if that helps, or any more info you might want to know?

[2015-11-15 14:24] Nubro01 commented on #1710
When I pick a location like e:\Videos\TVSeries\SerieName\Season01 then the pre beta version would put all the selected files from that Torrent in that folder. Normally I would only select the avi file that I want and not all the other noncense files. The result would be that folder Season01 would contain all the selected files from the torrent. Since the beta the last folder is not used,and within

[2015-11-18 10:58] whirm commented on #1728
It's more or less set up on jenkins.
The only issue we have is that it compares against the latest PR run, we need to find a way to make it compare against upstream devel/next or make a small script that does that. We should start enforcing it post-6.5.

[2015-11-18 11:15] whirm commented on #1729
Not only that, but it will allow us to catch bugs on non-Linux platforms way quicker than now. We notice stuff is broken on Windows when we start a release cycle which greatly delays releases.
I would love to have this up and running for the release after 6.5

[2015-11-18 11:17] whirm commented on #1724
@theodoor could you mail me your `.Tribler/`?
Thanks!

[2015-11-18 11:18] whirm commented on #1710
Ah, I get it now.

Thanks for your report!

[2015-11-18 12:07] theodoor commented on #1724
I have mailed you my folder to the email-address found on your website.

[2015-11-18 12:50] whirm commented on #1724
@theodoor great, thx!

[2015-11-18 13:22] whirm opened #1733 "Tribler always shows the upgrade splash for a fraction of a second"
Even if no upgrade is needed.

[2015-11-19 12:50] #1727 closed

[2015-11-19 21:47] mackhina opened #1736 "Error opening file for writing"
Receive this error when attempting to install 6.5.0-r-c6.

![triblr](https://cloud.githubusercontent.com/assets/15932899/11285328/aa24b24e-8f5a-11e5-9d82-b09e9c238691.PNG)

[2015-11-20 02:13] gaenserich opened #1737 "Internal Error at Startup (Error Report did not send)"
Tribler starts its splash screen, but fails to fully launch, causing a error-report window to pop up (but the error report fails to send)

In the first text area of that window:
[code]

The second window doesn't allow me to copy and paste, but here are some of the highlights:
[code]

[2015-11-20 08:46] whirm commented on #1737
Could you read the issue reporting guidelines at `CONTRIBUTING.md` (shown when you created the issue) and provide the missing info please?

Thanks!

[2015-11-20 08:48] whirm commented on #1737
It would be nice if you can back up your `~/.Tribler` and see if the latest pre-release still fails for you.

[2015-11-20 08:52] whirm commented on #1736
Do you have enough free space?
Maybe your download got corrupted? Check it's MD5 or SHA256 against the provided ones.
Is your filesystem/hard disk healthy?

[2015-11-20 10:47] whirm commented on #1709
Fixed by #1725

[2015-11-20 10:47] #1709 closed

[2015-11-20 14:59] #1700 closed

[2015-11-20 14:59] #1721 closed

[2015-11-20 15:07] whirm commented on #1671
@BmetaMax About the 30 minute crash, could you give a shot at this buid?

http://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_next/73/

It contains some crypto related workarounds for the upcoming 64bit Tribler build that may fix this issue too.

[2015-11-21 01:17] mackhina commented on #1736
70+GB of free space on the drive. Disk appears to be working fine in all other aspects. Everything is updated as well. I've just downloaded the file a second time and I still get the same error?

Windows 10
Tribler_6.5.0-rc6.exe

[2015-11-22 02:48] Dmole opened #1742 "Right click stop fails to do anything"
OS X
rc6-8
stop button on the bar is also ineffective.

[2015-11-22 15:02] Dmole opened #1743 "Too many open files"
Download stopped on error: u'Too many open files: /Users/user/Downloads/TriblerDownloads/folder/file.jpg'

[2015-11-23 12:32] whirm commented on #1743
Please, read the `CONTRIBUTING.md` file and provide the required info.

[2015-11-23 12:33] whirm commented on #1742
Please, read the `CONTRIBUTING.md` file and provide the required info.

[2015-11-23 12:45] whirm commented on #1736
It's working just fine here on my win 10 testing machine.

Is Tribler running while you run the installer?

Could you do this to see if for some reason that file is being held open by some other process?

https://superuser.com/questions/117902/find-out-which-process-is-locking-a-file-or-folder-in-windows/643312#643312

If that doesn't shed any light, maybe you could try tracing the installation pr

[2015-11-23 14:22] whirm commented on #1710
@Nubro01 I've fixed the dropping the last path component issue.

What's missing is the possibility to select only a file on the torrent and make Tribler not create a torrent dir. only for it. I won't be doing this for 6.5 but feel free to create a feature request for that and we can think of a way to not make it confusing for the end user.

Thanks!

[2015-11-23 14:22] #1710 closed

[2015-11-23 14:37] whirm commented on #1716
Seems to be working fine for me:
![2015-11-23-153100_3120x1920_scrot](https://cloud.githubusercontent.com/assets/529494/11339096/13e36d84-91f8-11e5-9b73-89f6d97ca04b.png)
![2015-11-23-153110_3120x1920_scrot](https://cloud.githubusercontent.com/assets/529494/11339097/13e3dc60-91f8-11e5-90b5-06bf7583fbb1.png)

[2015-11-23 14:41] Dmole commented on #1743
Tribler 6.5.0-rc6-8-g785f442
OS X 10.11.5
To reproduce, click stop, and note the option won't grey out after any time or number of stop attempts.
Relevant log entry:
 3248 Nov 22 03:01:03 comp.local Tribler[77773]: ERROR   1448179263.89    tribler_main:578   main: Error: u'Too many open files: /Users/user/Downloads/TriblerDownloads/folder/file.jpg'
Deleting select torrents (or likely moving .Tribl

[2015-11-23 14:42] Dmole commented on #1742
Tribler 6.5.0-rc6-8-g785f442
OS X 10.11.5
To reproduce, click stop, and note the option won't grey out after any time or number of stop attempts.
nothing in the log.
Deleting select torrents (or likely moving .Tribler) is a workaround.
No other software installed would interfere Tribler.

[2015-11-23 14:44] Dmole opened #1745 "CONTRIBUTING.md OS X log file"
CONTRIBUTING.md:
"Attach Tribler's log file found in %APPDATA% on Windows or on ~/.Tribler/ on Linux/OSX..."

pymdht.log

~/.Tribler/pymdht.log: empty

 26

Please update CONTRIBUTING.md to point tot the correct log file.

[2015-11-23 18:14] devos50 opened #1746 "Split some large Python files into several files"
I noticed that some files (such as widgets.py) contains thousands lines of code. Maybe we should split these into separate files.

I've discussed this with @whirm and we can work on this after the 6.5 release.

[2015-11-23 19:06] devos50 commented on #1729
I've setup a job to run the unit tests on windows (not with Gumpy unfortunately since a required import of Gumpy is missing on Windows - have to investigate this one). See http://jenkins.tribler.org/job/GH_Tribler_unittests_win32/ for the build status.

[2015-11-24 09:38] whirm commented on #1729
If I where you, I would start by skipping the tunnel tests and maybe the download tests too until all the others pass as those don't pass 100% of the time. Once you have it working, you can enable and debug them.

[2015-11-24 09:51] whirm commented on #1745
@devos50 could you take care of this? You are more familiar with OSX than I am.

[2015-11-24 11:21] lfdversluis opened #1748 "Test test_tunnel_community_positive.py crashes"
Running it fails quite often, but also works from time to time.
I am running python 64 bit.

One of the crashes gives a segfault with no further info. Another crash gives the following stacktrace:

[code]

Another crash:

[code]

[2015-11-24 11:32] whirm commented on #1748
The first one is telling you the wx thread got stuck for more than 10 seconds.
The second one you will have to run it with gdb and investigate.

[2015-11-24 11:32] lfdversluis opened #1749 "Test test_hidden_community.py fails"
Running the hidden community gives the following crash:

``test_hidden_services (Tribler.Test.test_hidden_community.TestHiddenCommunity) ... *** Error in `/usr/bin/python': realloc(): invalid pointer: 0x0000000002f9d7c0 *** Aborted (core dumped)``

And the well-known ``test_hidden_services (Tribler.Test.test_hidden_community.TestHiddenCommunity) ... Segmentation fault (core dumped)``

[2015-11-24 11:34] whirm commented on #1749
As I said, this is not useful without some gdb digging.

[2015-11-24 12:54] lfdversluis commented on #1749
Ran with GDB. Problem lies in wx which makes use of gdk/gtk or so ( @devos50 )?

Trace:
[code]

My wx version: ``['2.8-gtk2-unicode']``

[2015-11-24 12:58] whirm commented on #1749
Could be a cross-thread call, I haven't looked at the test to see what it does though.

Could you do a `bt` to get the full stack and then try to get a python backtrace too?

[2015-11-25 12:38] lfdversluis commented on #1749
Ok so I ran the test with GDB once more and got the full stack:

https://gist.github.com/lfdversluis/caf23760eeab7d343d67

The problem lies in these lines:

``
#57 PyEval_EvalFrameEx (
    f=f@entry=Frame 0x160d360, for file /home/laurens/Documents/thesis/tribler/Tribler/Main/tribler_main.py, line 378, in InitStage1 (self=<ABCApp(_logger=<Logger(name='ABCApp', parent=<RootLogger(name='root', paren

[2015-11-25 12:40] devos50 commented on #1749
The issue also comes up when running other GUI-related tests such as `test_gui_general.py`.

[2015-11-25 16:27] synctext opened #1750 "User community insight using an improved crawler"
_Goal: a validated, documented and reliable crawler to understand user behavior. This enables the future step of measuring behavioral change._

We have an existing Crawler for Dispersy communities. See: http://Statistics.tribler.org
This is annotated with our releases and major news events. However, totally unmaintained and difficult to maintain.
![image](https://cloud.githubusercontent.com/assets

[2015-11-25 21:33] xantares commented on #1627
hey:
https://aur.archlinux.org/packages/tribler/

I'm not sure about some dependencies, it seems some aren't used anymore (pil? aspw? crypotgraphy ?):
https://github.com/Tribler/tribler/blob/devel/debian/control

[2015-11-26 11:01] whirm commented on #1627
That's great! thanks!

aspw is used in `sqlitecachedb.py` PIL is used in `VideoUtility.py`

Cheers!

[2015-11-26 11:01] #1627 closed

[2015-11-26 14:51] synctext opened #1751 "Quality Assurance: crash reporting and understanding complex bug"
Build a tool chain and workflow for crash reporting and reproducing bugs.

We have an initial collection of 842 crash reports. This initial work from 2014 needs to be expanded. A simple tool to analyse them into a usable form is good progress. Key outcome: turn these stacktraces into unit tests that fails. http://dispersyreporter.tribler.org/stacktraces/
![crashreporter_website_tribler__2014](http

[2015-11-26 15:51] lfdversluis commented on #1749
Just an update after some testing:
Added `assert wx.Thread_IsMain()` and the assertion passes, so the dialog runs on the wx thread.
Adding `assert self.gui_image_manager is not None` and `assert upgrader is not None` didn't trigger anything either. So we have to dive deeper into what is being done by wx

Overall, the problem triggers when the `showModal` function is called.

Also getting a new err

[2015-11-26 18:16] BmetaMax commented on #1671
@whirm Since I updated to rc6 about 3 weeks ago, everything has run fine on win8.1 though I haven't used tribler in a week. However I went to try using it today and it has crashed consistently within a few minutes of starting it up. I just downloaded that build you suggested last week and will try shortly.

I also cannot find any sort of logging; nothing under appdata\.tribler, and other programs\

[2015-11-26 22:27] Pathemeous opened #1752 "Master branch has not been updated in two years"
The last commit on master is from 2 Aug 2013.
There is a rough 4,000 commits difference between `next` and `master`.
The [latest release](https://github.com/Tribler/tribler/commit/07fd5e083894c4442f0d1e162a96dbd565c7ed58) was tagged on `devel`, contrary to the convention of putting all releases on `master`.

Keeping an up-to-date `master` helps attracting potential open source developers. Out of s

[2015-11-27 07:33] juanda-097 commented on #1627
Hi xantares the package that you have chosen is not stable, is a developer version of tribler which is not yet well developed and have some bugs, please change the package to the version 6.4.3(branch: master not develop).

Thank you for your attention.

[2015-11-27 10:22] devos50 commented on #1749
After some more investigation, it turns out that the upgrader (in particular, the method `check_and_upgrade` in the `TriblerUpgrade` class) run on a sperate thread. The upgrader is called in the `prestart` method of `Session` which runs on the main thread. This means that the variable `upgrader.is_done` might not be correct (the upgrader check is not finished on the other thread yet) and this coul

[2015-11-27 11:14] whirm commented on #1752
@Pathemeous the default branch is set to devel, so whenever you clone the repo, devel will be checked out.

But yes, we should either update the master branch with each release, that's what was supposed to be done, but as you can see, it did't really happen.

[2015-11-27 11:24] whirm commented on #1749
There's a method that updates the upgrade status message, maybe that one could decorated to be called on the gui thread and the `is_done` attr could be converted to an `Event`

[2015-11-27 12:14] Pathemeous commented on #1752
I tried creating a pr to see if fast-forwarding was possible, but it was not.

Maybe we should start updating the master branch again with the next release?

[2015-11-27 13:11] whirm commented on #1752
Yes, or maybe even just drop it. All releases are tagged anyway.

[2015-11-27 13:40] Pathemeous commented on #1752
Unless `master` has extra protection, which it doesn't (`devel` is the only protected branch), having that extra layer does not add anything, so then I'd favour dropping it.

[2015-11-27 19:42] BmetaMax commented on #1671
@whirm Since last night when I uninstalled rc6 and then installed rc6-31-g9d705c5, it now opens without error, but I can no longer access settings (I click but nothing happens) otherwise seems to function fine though I've only test adding a torrent through + dialog, and right-click context management of downloads.

[2015-11-27 21:04] xantares commented on #1627
Hi,
I can't get v6.4.3 to work, here's a traceback:
[code]
SessionConfigInterface.get_state_dir returns None, any help on this ?

[2015-11-28 23:02] Venca24 opened #1753 "multi-lingual interface"
I miss the ability to translate the interface of Tribler into different languages.

[2015-11-29 09:38] xantares opened #1754 "tribler 6.4.3 cannot start"
Hi,
I can't get v6.4.3 to work on archlinux (6.5rc6 was running, but it's not stable): https://aur.archlinux.org/packages/tribler/
here's a traceback:
[code]
SessionConfigInterface.get_state_dir returns None, any help on this ?

[2015-11-29 22:07] colin1497 commented on #1669
FYI, just had this happen again.  Had a download that somehow wasn't flagged as anon, so I removed and added it and had the problem.

Also, had this error log last time I shut down, may be related to the files not being flagged as anon after restart (or may not have anything to do with issues I have open):

Traceback (most recent call last):
  File "Tribler\Main\Dialogs\AddTorrent.pyo", line 96, i

[2015-11-29 22:14] colin1497 commented on #1684
Well crud, just had this happen again on 3 torrents (they were flagged as Anon: no after a restart, see my comment in #1669 ):

https://github.com/Tribler/tribler/issues/1669#issuecomment-160475456

Is there a newer test build available?

[2015-11-29 23:52] colin1497 commented on #1669
I restarted it again and it crashed again on exit, following log, may be unrelated:

Traceback (most recent call last):
  File "wx\_core.pyo", line 14669, in <lambda>
  File "wx\lib\delayedresult.pyo", line 82, in __call__
  File "Tribler\Main\vwxGUI\__init__.pyo", line 119, in invoke_func

  File "Tribler\Main\vwxGUI\list.pyo", line 1545, in _ShowSuggestions
  File "wx\_core.pyo", line 14619, in

[2015-11-30 09:55] synctext commented on #23
The core of the credit mining branch: https://github.com/egbertbouman/tribler/blob/channel_boosting/Tribler/Policies/BoostingManager.py

[2015-11-30 10:05] synctext commented on #23
@ardhipoetra All yours for 9 months:-)

[2015-12-01 16:15] intel478 opened #1758 "[Win] Unable to find vcvarsall.bat"
Following https://github.com/Tribler/tribler/blob/devel/doc/Tribler%20development%20on%20Windows.md#running-tribler

During LevelDB bin\buildout.exe command:
[code]

*Solution*: install https://www.microsoft.com/en-us/download/details.aspx?id=44266

[2015-12-01 16:29] intel478 opened #1759 "SSL for Windows Dev Env"
Following the steps from https://github.com/Tribler/tribler/blob/devel/doc/Tribler%20development%20on%20Windows.md#running-tribler
[code]
*Possible solution?* https://github.com/Tribler/tribler/issues/1671#issuecomment-143032132

[2015-12-01 17:10] devos50 commented on #1759
This was caused by an issue in `M2Crypto`. You should update your local git submodule pointer of `dispersy`. See https://github.com/Tribler/dispersy/pull/458 and https://github.com/Tribler/tribler/pull/1731 for more information about this issue.

[2015-12-01 19:46] intel478 commented on #1759
Done, but error remains.
[code]

[2015-12-01 19:49] devos50 commented on #1759
You also have the solution to issue #1731 merged in your project?

[2015-12-02 12:04] devos50 commented on #1758
@intel478 this one is fixed right?

[2015-12-02 12:59] intel478 commented on #1758
Yes, but I've added the VC subdirectory to my PATH as well to find vcvarsall.bat from the dev-cmd: C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC

[2015-12-02 12:59] #1758 closed

[2015-12-02 14:53] lfdversluis commented on #1749
Currently the gorilla's are down, so the test will not complete due to a lack of exit nodes. But it should be fixed by PR #1757 and  #1756

[2015-12-02 14:53] lfdversluis commented on #1748
Should be fixed by PR #1757 and  #1756

[2015-12-02 19:34] whirm commented on #1758
is that on the windows README?

[2015-12-02 20:46] vatterspun opened #1761 "Feature request: portable version / save settings to local folder [Windows]"
**Current behavior**: settings are written to the ".Tribler" folder in AppData

**Requested capability**: settings written to the local folder.

**Why?**  One additional layer of security/convenience is the ability to run the client via a USB drive or over cloud services.  Right now, if the program is run from anywhere but the same computer, you will have to re-enter the settings, which can become

[2015-12-02 21:34] intel478 commented on #1759
Cherry picked cd544998eb6de40bfa554bb2e284d8ce890a6a8c

[2015-12-03 10:18] whirm commented on #1753
Yeah, I guess this would help a lot with user adoption.

[2015-12-03 10:19] intel478 commented on #1758
Yes, https://github.com/Tribler/tribler/blob/devel/doc/Tribler%20development%20on%20Windows.md#running-tribler

[2015-12-03 10:20] whirm commented on #1754
Did you run 6.5 and then go back to 5.4.3 without deleting ~/.Tribler?

[2015-12-03 10:25] whirm commented on #1669
@colin1497 If you get different stack traces, please create separate issues (If there's no report for that one already) or we will probably miss some.

I'll have a look at these ASAP.

Thanks!

[2015-12-03 10:42] whirm commented on #1761
Maybe a TRIBLER_HOME env. var could be added so that Tribler will use that instead of the default state dir path. On Linux this can already be done by calling Tribler like this: `HOME=/media/usb_drive/my_tribler_dir tribler`

We won't give a lot of priorty to this, but we will welcome a pull request for that.

Thanks for the report!

[2015-12-03 10:46] whirm commented on #1759
Can this be closed?

[2015-12-03 10:47] whirm commented on #1758
Good!

[2015-12-03 11:53] #1759 closed

[2015-12-03 15:58] devos50 commented on #1745
I will take a look!

[2015-12-03 19:08] xantares commented on #1754
indeed!

[2015-12-03 19:08] #1754 closed

[2015-12-03 23:55] Pathemeous commented on #1753
The benefit will only really be significant for countries with low level of English bilingualism.
Also, since the Tribler user base (I suspect) is generally more technical and active on the internet, the chance that additional languages attract more users seems relatively low.

That said, it is a nice quality of life improvement.

I would not mind working on a (Brazilian) Portuguese version.
Do we

[2015-12-04 09:47] lfdversluis commented on #1724
@whirm I can take a look at the bug if you'd like. You mentioned something about the download path missing from the .conf file. If that's the case we could add a fall back to a default path or something.

Can you give me the .tribler folder (and what you have found out so far so I can pick up from where you are)

[2015-12-04 11:08] whirm commented on #1754
Glad to help!
We should add a check so you get an error instead of weird behaviour. I'll create an issue for that.

[2015-12-04 11:11] whirm opened #1762 "Tribler should check if the state dir version is too new"
And offer the user to stash away the state dir and start from scratch.

[2015-12-04 11:22] whirm commented on #1724
Forget about the the missing download path for now, it will only get triggered if you delete the stuff by hand and that's only done by us when debugging stuff.
I'll finish that branch when I have some time.
Just edit the paths on `tribler.conf` `libtribler.conf` and `dlcheckpoints/*` so they match with your machine instead of deleting the entries and expecting Tribler to fill them up for you.

I'v

[2015-12-04 11:25] whirm commented on #1753
There's many countries that match the description :)

I can do Spanish and Catalan and could get somebody to do Romanian, French and Italian.

[2015-12-04 11:39] devos50 commented on #1753
Good idea! We can make a separate file with all strings in the GUI or something like that.

Using https://docs.python.org/2/library/gettext.html might be a good starting point?

[2015-12-04 11:56] whirm commented on #1753
Yes, we should use something like that, but we should check if WX provides some built-in gettext functionality already.

Don't start working on this though, we have many other things that are more important than that.

Everything [here](https://github.com/Tribler/tribler/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3AV6.5+-label%3A%22needs+feedback%22+-assignee%3Asynctext+sort%3Acreated-

[2015-12-04 14:26] ThomasdenH commented on #1660
I think #1594 is very similar and has a better solution for the filter. Saving the choice still is a good improvement.

[2015-12-04 15:26] whirm commented on #1626
Now that letsencrypt.org is open for public beta, I've configured the jenkins server to use it.

@rjruigrok could you check if your chrome raises any flags? I've tested Iceweasel and Chromium and it's fine for me.

[2015-12-04 16:13] Thomasedv commented on #1660
@ThomasdenH I agree, main problem is starting up and having to check the right thing manually each time. So as long as saving between sessions is there, your idea is more versatile. Each time i start up i like to have an idea for what things that are ongoing, so i just hoped to get things that are checking on the active tab, since it'll more than likely will be. But between waiting for the buildin

[2015-12-04 17:12] ThomasdenH commented on #1660
I agree. To support people seeding, I think it is essential to be able to hide only those to prevent them from being annoying.

[2015-12-04 17:39] Pathemeous commented on #1626
Just visited the site on my phone (chrome), the certificate is not recognised.

[2015-12-04 17:40] whirm commented on #1671
@BmetaMax could you test this build?
https://jenkins.tribler.org/job/Publish_tribler_next/161/
I has a fix that should solve the settings issue.

Thanks!

[2015-12-04 19:13] colin1497 commented on #1669
@whirm probably need to try and do builds a little more frequently so people aren't distracted by closed issues.  I'm not suggesting automated nightly builds or anything, but it's been a while since there was an updated test build.  Just thinking out loud.

[2015-12-04 19:16] colin1497 opened #1767 "Log file trace [RC6]"
After last session closed, got this log file.  I can't tell for sure if there are new issues or not.  Feel free to ignore if this is all duplicate:

ERROR   1448890974.72             log:443   Unhandled Error
Traceback (most recent call last):
  File "threading.pyo", line 763, in run

  File "Tribler\Core\Utilities\twisted_thread.pyo", line 55, in _reactor_runner

  File "twisted\internet\base.pyo

[2015-12-04 20:54] rjruigrok commented on #1626
Nope. Chain is still incomplete, looks like the root certificate is missing.
But most important problem is that the certificate uses a deprecated sha1 signature. Only way to fix is is by reissue of the certificate by Comodo.

![schermafbeelding 2015-12-04 om 21 46 58](https://cloud.githubusercontent.com/assets/3985534/11601155/8b706546-9ad1-11e5-9346-e9d389762342.png)

https://www.ssllabs.com/sslt

[2015-12-05 04:05] Dmole opened #1768 "build scripts"
Tribler needs some. It's no longer 1998, we should not have to hunt for dependencies.
yum, apt, port, brew, even Microsoft is catching up;
http://blogs.technet.com/b/packagemanagement/archive/2015/04/29/introducing-packagemanagement-in-windows-10.aspx

[2015-12-05 10:36] Cathryne opened #1769 "browsing for external torrents & download target always starts in /Documents"
Using the functions `Download external torrent | Browse` and `Browse for Directory` always jump the view to the Documents folder. If the last torrent was added from another folder, that is shows for just a split second. The same is true when selecting a custom download target folder.

IMHO, it would be more logical to either jump to whichever folder is set as the download location, or to the last

[2015-12-05 10:42] Cathryne opened #1770 "improve "Duplicate download" warning"
Currently (v6.4.3) that warning just has an OK option that closes the whole `Add external .torrent` dialogue. I think it could be improved by:

a) automatically switching the main window to the Downloads section and selecting the torrent in question, or
b) adding a `select different .torrent` button, so one can start another torrent faster.

Thanks for your work on Tribler :-)

[2015-12-06 10:38] theodoor commented on #1724
When I start the video player I get the following exception:

'''Traceback (most recent call last):
  File "Tribler\Core\Video\VideoServer.pyo", line 43, in process_request_thread
  File "SocketServer.pyo", line 334, in finish_request
  File "Tribler\Core\Video\VideoServer.pyo", line 57, in __init__
  File "SocketServer.pyo", line 655, in __init__
  File "BaseHTTPServer.pyo", line 340, in handle

[2015-12-06 12:31] Dmole commented on #1769
try /private/var/log/system.log

[2015-12-06 14:30] Cathryne commented on #1769
OK, so after starting Tribler, `system.log` contains:
[code]
And adding two torrents (2nd one sees the folder jumping issue), the following log entries appear:

[code]
The last 2 messages appear several more times.

[2015-12-06 15:27] Dmole commented on #1768
This works on OS X:
[code]
Temp patch: https://trac.macports.org/attachment/ticket/49910/Portfile.diff

Then you need 2 patches on tribler:
[code]
[code]
then you can build
[code]

[2015-12-07 09:41] lfdversluis commented on #1724
@theodoor Is that with the same .tribler folder or a new one?

[2015-12-07 09:52] devos50 commented on #1729
Unit tests on the Windows VM are working pretty well out of the box, except for the tunnel/hidden community tests. They still have the timeout problem which should be solved.

[2015-12-07 09:54] theodoor commented on #1724
The second error about the identifier is a new folder, I can send you this one as well if you want it :)

[2015-12-07 09:56] lfdversluis commented on #1724
Sure, I think this might be a different bug, so to be safe I can use that folder and see if I can reproduce the bug. I am now installing a windows 10 VM to make sure I match your settings.

[2015-12-07 09:58] devos50 commented on #1768
You are using wx3 to run Tribler which is currently not fully supported (I will try to solve this as soon as possible). You should try to install wx2.8 for OS X. Note that wx2.8 makes use of `carbon` which is only supported on 32-bit systems. This means that your other dependencies (such as M2Crypto, libtorrent) should be 32-bit as well.

[2015-12-07 10:01] theodoor commented on #1724
Sounds great! Where can I send it to? On your website I see only a contact form without uploading capabilities.

[2015-12-07 10:05] lfdversluis commented on #1724
Oh right, send it to {my github username} at gmail.com

[2015-12-07 10:07] theodoor commented on #1724
For some reason my .tribler folder is now 150 MB, with only one torrent. I am uploading right now to Google Drive and I will send you the link.

[2015-12-07 10:08] lfdversluis commented on #1724
Thanks, i'll await the link and take a look at it!

[2015-12-07 11:10] whirm commented on #1768
Could we get the useful parts of this as a PR?
Thanks!

[2015-12-07 11:12] whirm commented on #1729
@devos50 well, those happen on Linux too, so it may not be a Windows-only bug.

[2015-12-07 11:16] whirm opened #1772 "PYMDHT logging should be fixed"
It contains lots of debug stuff with CRITICAL level misleading people into thinking there's something wrong like in #1769.

[2015-12-07 11:21] whirm commented on #1769
@Cathryne could you test [this pre-release build](https://jenkins.tribler.org/job/Publish_tribler_next/161/)? it contains fixes for the issue you are having.

Please make a backup of your .Tribler before running the new version as it will make backwards incompatible upgrades to it so you won't be able to use it with an older Tribler version.

[2015-12-07 11:23] lfdversluis opened #1773 "Error in windows guide for windows 10 64 bit"
While trying to install m2crypto on windows 10, 64 bit I get:

[code]

[2015-12-07 11:23] whirm commented on #1770
Thanks for your suggestion!

[2015-12-07 11:25] whirm commented on #1773
@devos50 not sure if it's a doc bug or otherwise, I'm adding the bug tag, feel free to replace it with something else.

[2015-12-07 11:28] whirm commented on #1626
Just to doublecheck I'm talking about https://jenkins.tribler.org, not https://tribler.org

I've tested with Iceweasel, Chromium (both from up to date Debian SID) and latest Firefox on Win 10, and the certs are recognized fine.

[2015-12-07 11:29] devos50 commented on #1773
This issue should be fixed in my PR.

[2015-12-07 11:33] whirm commented on #1767
I'm guessing this is for version 6.4.3? The pre-release version should contain fixes for this.

[2015-12-07 11:39] whirm commented on #1669
@colin1497 we do have [automated builds](https://jenkins.tribler.org/job/Publish_tribler_next/)
That job will build packages for all supported platforms every time a fix gets merged into `next`.
I guess the `CONTRIBUTING.md` file could do with some instructions on how to backup `.Tribler` and test the latest stabilization branch build to make sure the bug they are reporting is not already fixed or

[2015-12-07 11:43] lfdversluis commented on #1773
Was a unicode error. The check now, however, fails.
[code]

[2015-12-07 13:50] Dmole commented on #1768
yes 2.8 worked.

[2015-12-07 14:34] Dmole commented on #1768
While those dependencies get Tribler Running there is a (dependency unrelated I think) bug
[code]

[2015-12-07 14:38] whirm commented on #1742
@devos50 are you able to reproduce this on your mac?

[2015-12-07 14:41] whirm commented on #1743
@Dmole could you please trigger this bug and then provide a list of (censored) files that the Tribler process has opened?

https://stackoverflow.com/questions/20974438/get-list-of-open-files-descriptors-in-os-x

Thanks!

[2015-12-07 15:36] Dmole commented on #1769
That build has the same issue (opens last then jumps to documents, even though finder is set to downloads).
There is a setting "Finder Preferences > New Finder windows show" it should respect when not opening last.

[2015-12-07 15:42] whirm commented on #1769
@Dmole The fixes are for the errors in the logs.

[2015-12-07 16:11] themusicgod1 opened #1776 "Low disk space, I get it already"
If you leave tribler open for awhile with low disk space, it will open dozens of "You have low disk space" windows open. This gets to be quite the hassle closing all of them.

Tribler: 6.3.1+git20140902.9a5a2604-3
OS: Ubuntu 15.10

[2015-12-07 16:24] whirm commented on #1776
Yeah, I meant to create an issue for this but I kept forgetting.

Thanks for your report!

[2015-12-07 16:36] whirm commented on #1776
Turns out I had an unpushed partial fix for that!

@themusicgod1 could you give a try at this branch?

https://github.com/whirm/tribler/tree/stop_on_out_of_free_space

It should give you just one pop up window per download.

It would be nice to stop all the downloads on the same file system automatically, but that would take more time and would need slightly different implementations for each OS.

[2015-12-07 17:18] Thomasedv opened #1777 "Bizzare issue, extremely slow downloads."
Ok, first of all, i'm not sure if this is even a Tribler issue or my internet provider did something or a system update messed something up. (Though there seems that none have been installed when it started happening.) I'm merely posting to see possible reasons as to why this could happen.

On Win10, internet speed around 20/20 on a good day, as low as 5/5 other days. Now at 17/17. All units in Mb

[2015-12-07 17:39] whirm commented on #1777
Yeah, I posted a reply on the forums about this, It's not a bug, it's simply that there's not enough helpers on the network. The big ones that the university provided to help while the network is still small, where hosted on rented servers and its contract expired the 1st of December. They are working on a new contract but it'll take some days more.

[2015-12-07 17:39] #1777 closed

[2015-12-07 17:43] Thomasedv commented on #1777
Ok, all i needed to know. I was just worried it was something wrong. Thanks.

[2015-12-07 23:05] BmetaMax commented on #1671
@whirm Sorry it took me so long but just tried it but no, rc6-45-g95b9186 hasn't fixed the settings problem it acts the exact same.

[2015-12-07 23:10] BmetaMax commented on #1671
@whirm and oddly enough now all the completed torrents I was seeding are stuck at building circuits. I'm definitely connecting and have DL & UL, ~250k & ~15k currently. I left it running a good 10 minutes at least before saying that- I noticed on earlier rc6 versions it may take a few minutes for files to change from that to seeding, but based off previous experience I've waited plenty long enough

[2015-12-08 10:58] whirm commented on #1671
Do you get anything on the log file if you start Tribler, click on settings (nothing happens), and then quit Tribler?

re building circuits: It's normal there's veeery few people acting as proxies and the big servers from the university that where helping while the network is still small are temporarily out of service.

[2015-12-08 11:54] lfdversluis opened #1778 "Discussion: Rename .Tribler folder (in appdata/Roaming)"
Folders that start with a dot are not allowed on Windows (go to your desktop, right click, new -> new folder and name it .test -> error). While it *does* work with a hack [like this](http://stackoverflow.com/questions/10744305/how-to-create-gitignore-file), I think removing the dot is a better approach overall. I noticed that (at least on windows) no other folder in Roaming starts with a dot.

[2015-12-08 11:57] lfdversluis commented on #1733
Probably fixed in #1756 but tests have to be fixed yet. (Just referencing for now).

[2015-12-08 12:55] synctext commented on #1622
Still in latest devel of 4Dec.
[code]

[2015-12-08 14:41] whirm commented on #1778
They are allowed, it's just the file manager being silly. If you create it with a different name and then rename it, it works fine. I wouldn't touch this.

[2015-12-08 15:27] lfdversluis commented on #1778
Ok, closing in that case.

[2015-12-08 15:27] #1778 closed

[2015-12-08 20:57] rjruigrok commented on #1626
Ah I see.
For jenkins everything is correct, chain as well as the signature. :thumbsup:

[2015-12-09 10:57] whirm commented on #1626
Great, I'll switch tribler.org and forums.tribler.org to letsencrypt then.

Thanks!

[2015-12-09 15:03] colin1497 commented on #1767
No, but it’s an installation that was previously updated from 6.4.3, as I’ve reverted back to that installation after creating several clean installs for testing purposes.

From: Elric Milon [mailto:notifications@github.com]
Sent: Monday, December 7, 2015 5:34 AM
To: Tribler/tribler <tribler@noreply.github.com>
Cc: colin1497 <colin1497@yahoo.com>
Subject: Re: [tribler] Log file trace [RC6] (#1767)

[2015-12-10 14:29] synctext opened #1781 "MultiChain part of standard Tribler unit test"
complete scenario file for unit test

add existing scenario files to standard PR tester: https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester_devel/
Existing written scenario, like: https://github.com/snorberhuis/gumby/blob/devel/experiments/multichain/multichain_integrated_single.scenario
Ensure that the scenario files do not overload the test machine.
Create a screenshot of the results

[2015-12-10 14:46] lfdversluis commented on #1107
Duplicate of https://github.com/Tribler/tribler/issues/267

[2015-12-10 14:47] devos50 commented on #267
@whirm can you assign me on this one?

[2015-12-10 14:47] devos50 commented on #1107
@whirm can you assign me on this one?

[2015-12-10 14:48] synctext opened #1782 "Android Devel on Jenkins"
adb connection
One Android phone
Buildozzer
Compile: wip_shadow_internet_android, https://github.com/Tribler/tribler/tree/wip_shadow_internet_android
running Kivy code
takes screenshot

[2015-12-10 14:52] jkaberg commented on #1107
@lfdversluis Not really a dupe since #267 is about running the client without an UI and this is about an possible API which is an different matter

@devos50 I take it you'r gonna take a stab at this, would you mind elaborating on how you plan to design the API? I'm very curious =)

[2015-12-10 14:59] devos50 commented on #1107
@jkaberg I'm currently playing around with the Tribler core files and trying to classify parts into the GUI and core API. I try this by creating a very basic CLI so I can see how various methods are invoked. I will have to discuss the design of the API in more detail with @whirm. If you have any input or ideas about this, please let us know and we'll keep in touch :+1: .

[2015-12-10 15:15] synctext commented on #1107
@jkaberg  ettermiddag,
This is finally getting some developers attention, in the form of "LibTribler" as we call it internally.
This is part of the refactoring and code quality improvement step.
A json-based REST approach seems logical. Don't know the alternatives sufficiently.
JSON-RPC, etc. https://wiki.python.org/moin/WebServices

[2015-12-10 15:46] brussee commented on #1782
Template: https://jenkins.tribler.org/job/Build-AT3-ARM-32/

[2015-12-10 17:14] whirm commented on #267
@devos50 As a first I would go for a non-interactive and headless version first: You start it and it runs till you press control+C

[2015-12-10 19:49] jkaberg commented on #1107
@devos50 Well, I only have a wish list but I'll throw in here so you can see

search the Tribler network. when returning search results I'd love to see stuff like
* torrent name
* torrent hash / id
* leechers / seeders
.. and other stuff related to the torrent.
- sort search results based on criterias such as seeders, size etc

manage torrents
* initiate download from .torrent or magnet
* start to

[2015-12-10 20:11] sergiomb2 commented on #893
By https://bugzilla.redhat.com/show_bug.cgi?id=1019390 elliptic curves should be enabled by now ! I going test it right now , but IMO the solution is enable ECC in Fedora not disable it in Tribler.

[2015-12-11 07:38] Pathemeous commented on #1772
Should the logs be entirely removed, or should they be moved to a lower priority level (like `DEBUG`)?

[2015-12-11 08:06] Pathemeous commented on #1669
Made a PR: #1785.

[2015-12-11 08:47] whirm commented on #1781
@synctext Just to clarify, you are talking about running the experiment in parallel with the tests, right?

[2015-12-11 08:57] whirm commented on #1772
AFAIR there where both unreasonably high level logger calls and prints. I think @LipuFei already sent a PR with fixes for the print part, but I would check just in case.

I wouldn't remove log entries as I don't think @rauljim would be happy with that :)

Sould I assign this one to you then?

[2015-12-11 09:03] whirm commented on #893
@sergiomb2 that's great!
Please, let me know whether it worked or not.

[2015-12-11 12:11] synctext commented on #1781
yes.
Could be nice part of the standard test suite, if rock solid stable.

[2015-12-11 12:37] whirm commented on #1781
If it's using scenario files it's using gumby, it would be neither trivial or a good idea to have tests depending on that. What I think we should have is a comparative experiment execution system added to gumby.

Similar to the performance regression analysis paper but way simpler (no systemtap involved, just some basic metrics comparison against the results from the target branch).

All this expe

[2015-12-11 15:24] sergiomb2 commented on #893
I couldn't solve it yet , I also tried compile openssl without restrictions but :
tribler
Traceback (most recent call last):
  File "/usr/share/tribler/Tribler/Main/tribler_main.py", line 1061, in run
    use_torrent_search=use_torrent_search, use_channel_search=use_channel_search)
  File "/usr/share/tribler/Tribler/Main/tribler_main.py", line 143, in __init__
    use_torrent_search=use_torrent_se

[2015-12-11 16:18] whirm commented on #893
You will also need to recompile m2crypto then.

[2015-12-12 05:12] sergiomb2 commented on #893
openssl ecparam -list_curves

    secp256k1 : SECG curve over a 256 bit prime field
    secp384r1 : NIST/SECG curve over a 384 bit prime field
    secp521r1 : NIST/SECG curve over a 521 bit prime field
    prime256v1: X9.62/SECG curve over a 256 bit prime field

So:

    ec_keypair = M2Crypto.EC.gen_params(M2Crypto.EC.NID_sect233k1)

fails I think

Can't I try use one of ecparam available ? until

[2015-12-13 13:26] mornfall commented on #1077
Not true, current zip is missing dispersy again.

[2015-12-13 14:49] colin1497 commented on #1669
Sorry, been a bit busy.  Probably trying to provide best feedback I can is all the contribution I can make at this time.

[2015-12-13 15:07] colin1497 commented on #1669
Sure, not a big deal at all to copy my .tribler directory and try to reproduce in the latest tribler_next build.

[2015-12-13 19:45] devos50 commented on #1745
@whirm do we write to a log file? Since I can't find anything in the code that hints towards a `tribler.log` file or something alike in the `.Tribler` directory.

[2015-12-14 03:00] sergiomb2 opened #1790 "Tribler won't run with wxPython-3.0.2 (Fedora 23)"
Tribler version: 6.5.0-rc6
Traceback (most recent call last):
  File "/usr/share/tribler/Tribler/Main/tribler_main.py", line 232, in __init__
    self.splash.tick)
  File "/usr/share/tribler/Tribler/Main/vwxGUI/MainFrame.py", line 203, in __init__
    self.channeldetailspanel = ChannelDetails(self.splitter_bottom_window)
  File "/usr/share/tribler/Tribler/Main/vwxGUI/list_details.py", line 1464, i

[2015-12-14 08:23] whirm commented on #1077
@mornfall yes, because github doesn't pack the submodules in. That's why I added a .tar.xz with the whole set of sources, including both submodules. I guess you misread my last comment :)

https://github.com/Tribler/tribler/releases/download/v6.5.0-rc6/Tribler-v6.5.0-rc6.tar.xz

[2015-12-14 10:18] Pathemeous commented on #1772
Yes please!

[2015-12-14 10:35] rauljim commented on #1772
@whirm @LipuFei @ gaohuazuo
This thread reminds me that I have a couple of open PRs in Pymdht.
Unfortunately, my family and work keep me busy and I have no time to maintain Pymdht. :-(

I'll mark my Pymdht repo as stale/dead/unmaintained.
If it makes sense for you guys, I can put a link in my README pointing to a Pymdht repository that is alive.

You can always reach me for a quick question via em

[2015-12-14 12:30] whirm commented on #893
Maybe you could send a PR with instructions on how to do that? (that's if you are doing everything on the user's dir)

[2015-12-14 12:32] whirm commented on #1772
@rauljim I will fork it to the Tribler organization then.

Thanks for your work!

[2015-12-14 12:35] whirm commented on #1772
Done, @Pathemeous, you can branch off the current HEAD and do whatever it makes sense to you for each log entry (delete it if it's obvious stale debugging stuff, lower otherwise, etc.).

[2015-12-14 12:43] whirm commented on #1790
Tribler 6.5.* will not be compatible with 2.8. There's a PR that will be soon merged into `devel` that adds support for WX3.0. But it's not stable enough yet.

[2015-12-14 12:50] whirm commented on #1745
@devos50 nope, it goes to `/private/var/log/system.log` as @Dmole says.

[2015-12-14 12:52] devos50 commented on #1790
Wx 3.0 support is still under development. We can use some testers for the Wx3 support branch. Could you please check out https://github.com/Tribler/tribler/pull/1786 and test whether this works for your environment?

[2015-12-14 14:37] Pathemeous commented on #1772
Will do, could you assign me?

[2015-12-14 15:12] brussee opened #1791 "ccache: invalid option -- 'L'"
The Buildozer script in the android branch unexpectedly spits out this error during compilation:

https://gist.github.com/brussee/f6f15eb566aaf9f47db7

expecting an external issue...

[2015-12-14 15:12] brussee commented on #1782
Stuck on probable external issue #1791

[2015-12-14 15:21] whirm commented on #1791
Is Buildozer using ccache on purpose? (I haven't used ccache in like 10 years) If it's not required by Buildozer, maybe you could uninstall it and see.

[2015-12-14 15:24] brussee commented on #1791
Yes, it appears so: ''' sudo apt-get install build-essential ccache '''
https://buildozer.readthedocs.org/en/latest/installation.html?highlight=ccache

[2015-12-14 15:26] whirm commented on #1791
try to uninstall ccache anyway

[2015-12-14 15:37] brussee commented on #1791
Check build dependencies for Ubuntu
Packages missing: cython
It might break the compilation, except if you installed thoses packages manually.
Check environment
*snip*
kivy/graphics/vbo.c:1:2: error: #error Do not use this file, it is the result of a failed Cython compilation.
 #error Do not use this file, it is the result of a failed Cython compilation.
  ^
 error: command 'arm-linux-androideabi-

[2015-12-14 15:37] #1791 closed

[2015-12-14 15:37] brussee commented on #1791
Resolved, onto the next issue:
[code]
https://gist.github.com/brussee/bc376f8491a9e2ac42a4

[2015-12-14 15:45] whirm commented on #1791
@brussee maybe you could open a ticket on the buildozer issue tracker, specifying ccache version, Linux distro and version, etc...

[2015-12-14 15:45] brussee opened #1792 "Clean cython build error"
From: https://gist.github.com/brussee/bc376f8491a9e2ac42a4
[code]

As per instructions I did install manually: https://buildozer.readthedocs.org/en/latest/installation.html?highlight=cython

[code]

[2015-12-14 15:49] brussee commented on #1792
Likely solution: https://github.com/kivy/buildozer/issues/251#issuecomment-162437006

[2015-12-14 15:50] whirm commented on #1792
For higienic reasons, don't install pip stuff as root. Use `--user` instead so it gets installed into your `$HOME`.

[2015-12-14 16:23] whirm commented on #1767
One of the errors you are getting is on another issue, the other should be fixed by #1793, but it may be covering another bug. So if you get different stack traces once this is merged, please, create a new issue with it.

Thanks!

[2015-12-14 16:24] whirm commented on #1724
@lfdversluis You guys should focus on fixing this one so we can release 6.5. I think that would be a nice xmas gift to our users :D

[2015-12-14 17:59] brussee commented on #1792
I cleaned up as much of the pip packages I could and reinstalled them as --user.
Reinstalled fresh version of cython, both OS and python. Did not see any errors there.

[2015-12-14 18:35] brussee commented on #1792
Now I get this: https://gist.github.com/brussee/f90753397393bd61310d
[code]

[2015-12-14 18:42] whirm commented on #1792
I may be finding the wrong libraries (maybe some of the manually instaled stuff?).
Do an `ldd /home/paul/.local/lib/python2.7/site-packages/Cython/Compiler/Scanning.so` to see if it's finding the wrong stuff.

[2015-12-14 18:46] brussee commented on #1792
$ ldd /home/paul/.local/lib/python2.7/site-packages/Cython/Compiler/Scanning.so
	linux-vdso.so.1 =>  (0x00007ffc86fb0000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007fbd309a6000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fbd305dc000)
	/lib64/ld-linux-x86-64.so.2 (0x00005595e2cde000)

According to the code from: https://docs.python.org/2.7/faq/extending.html#when-i

[2015-12-14 18:52] brussee commented on #1792
Maybe the interpreter for cross-compiling is 32bit? My system is 64 bit. Old issue where I got this idea from: https://github.com/zeromq/pyzmq/issues/165#issuecomment-3464487

[2015-12-14 19:18] lfdversluis commented on #1724
@whirm Yeah I have copied the .Tribler folder to the Proxmox, but I had to postpone it because no circuits were being built and therefore the segfault didn't trigger :p Are the leaseweb's back a.k.a. can I create circuits now?

[2015-12-15 03:47] sergiomb2 commented on #1790
I tested your pull request (1) also added the last commits (2) tribler started ! but can't enter in settings (3) , the rest seems that is working .
(1)
https://patch-diff.githubusercontent.com/raw/Tribler/tribler/pull/1786.diff
(2)
https://github.com/Tribler/tribler/compare/v6.5.0-rc6...next.diff
(3)
Traceback (most recent call last):
  File "/usr/share/tribler/Tribler/Main/vwxGUI/TopSearchPanel.p

[2015-12-15 08:45] brussee opened #1795 "Jenkins buildozer not found"
What's up with the installation of buildozer being succesful and not found at the same time?

+ pip install --upgrade --user buildozer
Requirement already up-to-date: buildozer in /home/jenkins/.local/lib/python2.7/site-packages
Requirement already up-to-date: pexpect in /home/jenkins/.local/lib/python2.7/site-packages (from buildozer)
Requirement already up-to-date: ptyprocess>=0.5 in /home/jenki

[2015-12-15 09:06] brussee commented on #1795
Had to provide the full path:  /home/jenkins/.local/bin/buildozer

[2015-12-15 09:06] #1795 closed

[2015-12-15 09:39] devos50 commented on #1790
Great that it is starting up. I've been looking for the cause of your `keyError` and apparently, a config parameter has been renamed recently (https://github.com/Tribler/tribler/commit/cd6a6279239a03d4aeced5825de963f21cbdce9e). Could you please backup your `.Tribler` directory and try with a fresh one instead? @whirm do you have ideas about how we can fix this?

[2015-12-15 09:59] whirm commented on #1767
@colin1497 Could you test this build? If it still fails, the logs should provide some useful info to fix one of the errors.

https://jenkins.tribler.org/job/Publish_tribler_next/162/

[2015-12-15 10:02] whirm commented on #1790
@devos50 I'll have a look.

@sergiomb2 could you create a separate issue for that stacktrace?

[2015-12-15 10:03] whirm commented on #1795
I would rather add `~/.local/bin` to the `PATH`, there's probably more stuff that got installed there.

[2015-12-15 10:31] whirm commented on #1792
I'll come by in a bit and we can have a look at it.

[2015-12-15 10:34] whirm commented on #1724
Ow, I see.
I'll come by in a bit.

[2015-12-15 12:28] lfdversluis opened #1796 "We need to find the right balance between anonymity and accountability with the MultiChain"
@synctext I was thinking about @snorberhuis's MultiChain this morning and thought of the integration. To me, integrating a reputation system alongside anonymity/privacy seems counter-intuitive. By crawling the network and chains, you can look at the past interactions and identify users by using they public key as identifiers. So you can tell how much a user has interacted with another.

Maybe not

[2015-12-15 18:02] colin1497 commented on #1767
I can try it, but I'm not sure I have a rock solid way to reproduce the above logs.  I haven't had a log file since those posted, but I haven't done much lately...

[2015-12-15 18:02] colin1497 commented on #1767
I can try it, but I'm not sure I have a rock solid way to reproduce the above logs.  I haven't had a log file since those posted, but I haven't done much lately...

[2015-12-15 19:17] ThomasdenH commented on #1796
I imagine this is similar to Bitcoin's pseudonymity; everything is public, but the connection between public keys and their user is secret.

[2015-12-15 22:50] Pathemeous commented on #1796
@ThomasdenH is right. Remember that people already connect via a SOCKS5 proxy.

On top of that, everyone essentially obscures the origin of the traffic by relaying (**anonymity through obscurity**). If enough people do this, the correlation between personal traffic and a specific user, becomes too flat (i.e. nonexistent) to find out who is the owner / originator of the traffic.

This way, we can i

[2015-12-16 03:32] sergiomb2 commented on #1790
in reply to devos50, yes, clean ~/.Tribler , the key error is gone.
@whirm  I will do that in next stacktrace ok ?

[2015-12-16 07:13] ghost opened #1797 "[Feature Request] Tracker priority in normal Bittorrent"
Tribler 6.4.3 on Win7 x64

Hello,
There are many trackers in my seed file, but I found most of them not contacted. Some of the not contacted trackers will possibly return domestic IPs to make better download speed.
I would like to (1) move some trackers up and down, and (2) force contact some trackers.

[2015-12-16 10:38] whirm commented on #1767
@colin1497 OK, just keep using that build (or any other more recent from that branch) if it's all the same to you in case you trigger it again.

Thanks!

[2015-12-16 11:00] devos50 opened #1798 "StartDownload method in MainFrame should be moved to the Tribler core package"
The `StartDownload` method in `MainFrame` contains too many core logic (like creating a torrent definition, download configuration etc) and should not be present in the GUI-related code. It might be better to create a seperate class (for instance, a download manager or something related) to host this code.

[2015-12-16 11:01] lfdversluis commented on #1796
@Pathemeous @ThomasdenH I dont think so. When you are part of a tunnel or simply downloading directly you have to sign the request of your direct neighbour, whose IP will be known. This means that you can keep a database of IP, public key as you will be able to see their public keys. This means seeding for a long time will eventually allow you to learn identities in the network as you will interac

[2015-12-16 11:03] devos50 opened #1799 "Not strictly necessary to startup the GUI when testing the tunnels"
When testing the tunnels, we noticed that a GUI is started. We believe this is not necessary and Tribler can test the tunnels without a GUI. Downloads can be started by invoking the `start_download` method in `Session` instead of starting a download through the `StartDownload` method in `MainFrame`.

[2015-12-16 11:21] Pathemeous commented on #1796
Does the SOCKS5 proxy not display a random IP?

[2015-12-16 12:36] devos50 opened #1801 "Create tests that checks whether upgrading of older Tribler versions is working"
We should have tests that test whether upgrading the database to a newer version is working. This can be done by placing old and/or corrupt .Tribler directory in the tests and invoke the upgrader.

[2015-12-16 14:12] lfdversluis commented on #1796
@Pathemeous display yes, but underneath you are getting data from a real IP, not a random one...

[2015-12-16 14:13] lfdversluis commented on #1796
Moreover, if you know all the ips of a tunnel (all the hops) then you can reconstruct the tunnel and know the source e.g. as hop or even as downloader. That would completely destroy anonimity,

[2015-12-16 15:29] Pathemeous commented on #1796
You are right about that, as I said I am not sure how exactly @snorberhuis implemented the MultiChain and how it deals with this reverse engineering.
[Paying the Guard: an Entry-Guard based Payment System for Tor](http://fc15.ifca.ai/preproceedings/paper_112.pdf) deals with this by basically squashing the individual transactions into a single net transaction.

[2015-12-17 09:22] whirm commented on #1799
We would also need the gui side of the tunnel stuff to be tested independently of the session.

[2015-12-17 09:26] devos50 commented on #1799
@whirm indeed, I will create a seperate issue for that.

[2015-12-17 09:27] devos50 opened #1802 "Create unit tests that test only the GUI"
Currently, the tests are testing both the GUI and the Tribler core system. We should have a clear separation of GUI and Core in the tests. We can use a mocked `Session` to control the GUI and to test whether it is displaying the right stuff.

[2015-12-17 10:55] whirm opened #1803 "AttributeError: 'NoneType' object has no attribute 'get'"
Stacktrace reported on the forums:

That's on OSX, 6.5-rc6

[code]

[2015-12-17 14:46] whirm opened #1806 "We need a battery of tests for the `Upgrader` class"
Currently there's just one simple test for the DBUpgrader class but nothing else.

[2015-12-17 15:18] devos50 commented on #1806
Related to #1801

[2015-12-17 15:22] whirm commented on #1806
not related but dupe :D Sorry!

[2015-12-17 15:22] #1806 closed

[2015-12-18 11:01] lfdversluis commented on #1749
Fixed by #1800

[2015-12-18 11:01] #1749 closed

[2015-12-18 11:01] lfdversluis commented on #1748
Fixed by #1800

[2015-12-18 11:01] #1748 closed

[2015-12-18 11:02] lfdversluis commented on #1733
Should be fixed by #1800

[2015-12-18 11:17] lfdversluis commented on #1803
Why did it close? Can you close this @whirm

[2015-12-18 11:19] whirm commented on #1803
you mean why didn't it close?
I guess you have to have permission to close it yourself?

[2015-12-18 11:19] #1803 closed

[2015-12-18 11:20] lfdversluis commented on #1803
@whirm makes sense :+1:

[2015-12-18 11:46] devos50 opened #1811 "Mark unit tests as failed if an exception occurred"
Currently, when an exception is thrown, the test still continues to run. We should add a Twisted log observer to check whether there are errors and if so, mark the test as failed.

[2015-12-20 14:29] hoxu commented on #875
Are there any plans to work on this? Would be nice to have Tribler installable on Debian Jessie (and derivatives).

[2015-12-20 15:49] whirm commented on #875
There's a WIP branch dealing with this:

https://github.com/Tribler/tribler/pull/1786

Seems to work, but it still gives some warnings and needs more testing.

[2015-12-21 20:27] synctext commented on #875
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=759044
This started in 2014, but will be finished early 2016 :-)

[2015-12-23 09:00] nicoechaniz commented on #1790
@devos50 I've tested your wx3_fixes branch and it is working, except for the Channels, which make Trible crash when clicked. This is the error:

python2.7: ../../../../src/cairo-arc.c:189: _cairo_arc_in_direction: Assertion `angle_max >= angle_min' failed.
Aborted

I also get a lot of these lines on startup:
(tribler.py:2191): Gtk-CRITICAL **: IA__gtk_widget_set_size_request: assertion 'width >= -

[2015-12-24 08:11] synctext commented on #1790
semi dupe of #875

Great to see people helping us out and testing. Appricated.

[2015-12-24 16:23] devos50 commented on #1790
@nicoechaniz thanks for testing! Really helpful to have some people helping to debug.

I'm not sure what exactly went wrong but I will take a look at it as soon as I'm able to. I know about the assertions regarding the width and they seem to be non-critical in a sense that it does not hinder the execution of Tribler. Nevertheless, I will attempt to get rid of them since they may become a problem i

[2015-12-26 22:56] BmetaMax commented on #1671
@whirm Sorry I thought I responded already, I redid it and here's the latest log:
Traceback (most recent call last):
  File "Tribler\Main\vwxGUI\TopSearchPanel.pyo", line 158, in OnSettings
  File "Tribler\Main\vwxGUI\__init__.pyo", line 128, in invoke_func

  File "Tribler\Main\vwxGUI\GuiUtility.pyo", line 114, in ShowPage
  File "Tribler\Main\vwxGUI\settingsDialog.pyo", line 91, in __init__
  Fi

[2015-12-28 10:46] Anth0rx opened #1816 ""Building circuits" loop"
At the moment I am experiencing a loop in the "Building circuits" stage of an anonymous download. Sometimes I get to the actual download stage with no traffic throughput at all.

Regards
Anth0rx

[2015-12-28 10:52] whirm commented on #1816
Are you are getting error messages on the logs?

If not, it probably just is that there's not enough peers proxying traffic. The university provided some new servers to help boost the network until critical mass is reached and I'm setting them up as I write. Should be better soon.

[2015-12-28 10:52] #1816 closed

[2015-12-28 11:25] whirm opened #1817 ""Unsupported address type" on community/tunnel/Socks5/conversion.py:149"
Found on a failed test run for #1783

https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5279/testReport/Tribler.Test.test_hidden_community/TestHiddenCommunity/test_hidden_services/

[code]

[2015-12-28 11:28] whirm commented on #1811
Another example of an uncaught exception: #1817

[2015-12-28 16:15] devos50 commented on #1733
@lfdversluis this issue is not fixed by #1800 since the `show_upgrade_dialog` is still always shown on startup. Reason for this is that the observer is listening for the `NTFY_FINISHED` changetype which is always triggered. Instead, this changetype should be `NTFY_STARTED`.

[2015-12-28 22:51] synctext opened #1821 "error when opening settings dialog"
latest next
[code]

[2015-12-29 08:24] whirm opened #1822 "We should have a single config file/object"
That's why we have sections, it doesn't make sense to have 3 different ways to access/set config options with different features (one upgrades across config versions, the other doesn't even check for that, etc.) which leads to silly bugs and general confusion.

I would also discuss if it's worth switching to ConfigObj, it makes some things easier.

[2015-12-29 09:52] whirm opened #1823 "Catchall excepts must die"
Tribler is plagued with catchall excepts that hide bugs under the rug and make debugging unnecessarily difficult.

For instance `tribler_main.py` has several of them in a row.

We need to check which exceptions make sense to catch and crash/log properly the rest.

[2015-12-30 09:06] #821 closed

[2015-12-30 09:08] whirm opened #1826 "Hidden tunnel tests are broken"
I'll disable the ones that fail all the time, but somebody should take a good look at them and fix whatever needs fixing. (see #1825)

[2015-12-30 12:11] whirm commented on #1724
@lfdversluis the tunnel helpers are up and running now, you can continue working on this.

[2015-12-30 12:50] whirm commented on #1706
Closing due to lack of feedback, feel free to reopen it if you are still interested.

[2015-12-30 12:56] whirm commented on #1684
I missed your comment somehow,
Here you can get the latest pre-release branch build: https://jenkins.tribler.org/job/Publish_tribler_next/lastStableBuild/

[2015-12-30 12:57] whirm commented on #1684
@colin1497 btw, if you still get the error, please create a new issue for each stacktrace you get, it helps us a lot in keeping track of things.

[2015-12-30 13:25] #1821 closed

[2015-12-30 13:29] whirm commented on #1767
I'm closing this one as it's a mix of different stuff and some of them are fixed.

If you get any stacktraces with the latest pre-release build, please create new issues for them separately.

Thanks!

[2015-12-30 13:29] #1767 closed

[2015-12-30 13:31] whirm commented on #1769
@devos50 are you up for this one? I guess it should easy to reproduce.

[2015-12-30 13:33] whirm commented on #1743
Closing due to lack of feedback.

Please feel free to reopen the issue if you are still interested.

[2015-12-30 13:33] #1743 closed

[2015-12-30 13:33] whirm commented on #1742
@devos50 ping!

[2015-12-30 13:35] whirm commented on #1716
@vi Could you provide more info on how to reproduce this?

Thanks!

[2015-12-30 13:36] whirm commented on #1736
Closing due to lack of feedback, please feel free to reopen the issue if you are still interested.

[2015-12-30 13:36] #1736 closed

[2015-12-30 13:37] whirm commented on #1737
Closing issue due to lack of feedback, please feel free to reopen it if you are still interested.

[2015-12-30 13:37] #1737 closed

[2015-12-30 13:42] vi commented on #1716
What is the best way to reproduce this?

Create a torrent with unique-ish keywords myself and check if it shows up in search?

[2015-12-30 13:44] Dmole commented on #1743
I will try to reprodice as soon as the exit node shortage is fixed.

[2015-12-30 14:35] #1733 closed

[2015-12-30 14:37] whirm commented on #1743
@Dmole it is, we've got 3 1Gb/s servers up and running :)

[2015-12-30 14:38] whirm commented on #1716
I really don't know as it works fine for me :/

[2015-12-30 14:39] whirm commented on #1716
Have you tried moving `.Tribler` away just in case?

[2015-12-30 15:40] synctext commented on #1821
Confirmed fixed in latest next.

[2015-12-30 16:38] vi commented on #1716
I already have multiple `.Tribler` backups... Maybe can create another one...

How do I create entirely new torrent with Tribler?

[2015-12-30 16:45] whirm commented on #1716
You need to create your own channel, and then the channel gui will be available and there's a button there to create torrents.

[2015-12-30 21:40] vi commented on #1716
Created a torrent with Tribler's `README.md` file. It says `Please wait while Tribler is creating your .torrents. Please wait while Tribler is creating your .torrents.` with a stuck fake progress bar. UI is blocked now...

[2015-12-30 21:43] vi commented on #1716
Second attempt: it no stuck UI, also no error messages or new torrents in my channel. Console message:

[code]

[2015-12-30 21:48] vi commented on #1716
Next attempt, without a command this time. Successfully created, appeared in my channel list (although only when I refreshed the view by navigated from/to). The torrent is named `Tribler test README dm581xmPqe.md` and is also visible in Downloads in state "Seeding 100.0%".

Searching for `dm581xmPqe` shows no results. Magnet link is `magnet:?xt=urn:btih:413ed7fbeba68743417fd72c4ecbcd503245d705`. B

[2015-12-30 22:44] Dmole commented on #1706
Tribler-6.4.3.app
[code]

Tribler-6.5.0-rc6.app
[code]

Tribler-6.5.0-rc5.app
[code]

[2015-12-31 00:18] colin1497 commented on #1684
It's OK on missing the comment, you had actually linked to try a newer build and I'd rummaged around the Jenkins site and figured things out.  I'll grab today's next build.

[2015-12-31 10:22] #1684 closed

[2015-12-31 10:26] whirm commented on #1706
@Dmole thanks!

@devos50 I guess that's your gig.

[2015-12-31 10:29] whirm opened #1829 "Creating a .torrent from Tribler fails if the comment field is filled"
[code]
See:
https://github.com/Tribler/tribler/issues/1716#issuecomment-168078966

[2016-01-01 15:42] Dmole commented on #1743
I can't find the use case that caused this... I'll comment again if I see it again. Though I'm stuck using rc5 due to other rc6 bugs so the issue may have been new to rc6.

[2016-01-01 15:54] Dmole opened #1831 "unclean exit on OS X"
Tribler-6.5.0-rc5.app (the latest version that will run on OS X)

[code]

[2016-01-02 18:47] synctext opened #1832 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 34: ordinal not in range(128)"
Latest next on Ubuntu.
[code]

[2016-01-04 07:15] whirm commented on #1743
@Dmole Ok, let's see if it comes back when you can use a more recent version.
Thanks!

[2016-01-04 07:16] whirm commented on #1831
Did you get anything on the console?

[2016-01-04 08:28] whirm commented on #1612
@synctext I've repeated the steps described a bunch of times and I can't reproduce it anymore  on `next` (many fixes have been merged since you opened this issue), closing it but it would be nice if you could check on your side and reopen the issue if it's not fixed.

[2016-01-04 08:28] #1612 closed

[2016-01-04 08:46] synctext commented on #1612
OK, getting ready for a release slowly..

[2016-01-04 09:17] #1829 closed

[2016-01-04 09:31] #1832 closed

[2016-01-04 10:41] lfdversluis opened #1837 "LevelDB error when running Tribler on Windows"
I am running Tribler with the corrupt .Tribler folder of @theodoor to fix #1724 yet I run into a old, but slightly different issue (looks like #1535)

[code]

[2016-01-04 10:47] lfdversluis commented on #1837
Related: https://github.com/fusesource/leveldbjni/issues/28 and apparently known here: https://jira.duraspace.org/browse/FCREPO-1743 yet no fix.

[2016-01-04 11:01] whirm commented on #1837
According to fusesource/leveldbjni#28:
`Retrying to read after an exception is thrown (which I filtered if the exception message contains error code 32 :S ) seems to fix the problem.`

Do you want to create a patch to implement this workaround? (Also document why this is done and a reference to the tickets you can find)

[2016-01-04 11:05] lfdversluis commented on #1837
@whirm If you continue reading you see that the problem persists, even after his second work around/fix

[2016-01-04 11:09] whirm commented on #1837
@lfdversluis yes, but it seems to be due to a different reason (iterator not destroyed) hopefully we won't trigger this issue.

[2016-01-04 11:57] lfdversluis commented on #1837
A simple try: except: doesn't work unfortunately.

[2016-01-04 11:58] whirm commented on #1837
you are saying the `try` is not catching the exception?

[2016-01-04 12:25] lfdversluis commented on #1837
oh it is, but if I do the call again in the except part it just throws another exception.

[2016-01-04 12:38] whirm commented on #1837
I'd reschedule the flush to happen a bit later to give levelDB the opportunity to finish the leveling.

[2016-01-04 13:49] devos50 commented on #1831
Seems to be something wx related but I'm not sure what exactly went wrong here. Did it happen at a specific point during the application execution?

[2016-01-04 13:51] devos50 commented on #1742
@whirm pong

Will test it out in a moment!

[2016-01-04 14:24] devos50 commented on #1742
Unable to reproduce it, tested it both on my laptop and the Mac Mini. @Dmole does it happen for every torrent that you add?

[2016-01-04 15:07] Dmole commented on #1742
No, but also I'm now using rc5 because of https://github.com/Tribler/tribler/issues/1706#issuecomment-168088779

[2016-01-04 15:32] Dmole commented on #1831
rm -fr ~/.Tribler
fresh Tribler-6.5.0-rc5.app download

console:
open the app:
[code]

quit the app:
[code]

[2016-01-05 03:08] stevenroose opened #1841 "ValueError on launch"
[code]

I had to install a bunch of dependencies first, but ultimately, this error came up.

[2016-01-05 03:15] stevenroose commented on #1841
When I check out the latest release tag, I got this
[code]

Even though I installed `wxPython`.

[2016-01-05 07:34] synctext commented on #1841
thnx for this report.
M2Crypto seem to be missing EC crypto.
WXpython needs the 2.8 series.

Is this Debian?

[2016-01-05 09:05] whirm commented on #1841
@stevenroose I guess you are running a RH/Fedora based distro?

[2016-01-05 10:30] synctext opened #1842 "Operational credit mining branch, Gumby scenario and multichain"
Get a working performance analysis environment.
Goal: ability to make pretty graphs locally with both credit mining and multichain (two different branches).
Task: make an Ubuntu channel or other large validated legal collection, with actual "from the wild" downloads.
This environment will be expanded over coming months.

part of #23.
ToDo: read "tragedy of the commons" paper, 1968 problem.

Strate

[2016-01-05 11:55] stevenroose commented on #1841
Yes, it's Fedora. Latest versions.
On Jan 5, 2016 10:05, "Elric Milon" <notifications@github.com> wrote:

[2016-01-05 12:00] devos50 commented on #1841
Wx3 support is still experimental. Yesterday we've added a conditional check: if wx3 is installed in the system, it is used by Tribler. If not, it falls back on wx2.8. This explains why your checkout of the latest release tag is failing.

For your first error: it seems that M2Crypto is not compiled with EC support. How did you install M2Crypto on your system?

[2016-01-05 12:42] synctext opened #1844 "sybil attack cost model"
edge creation, cost becomes a function of time

Outcome: a written description and model of attack cost.
Proof-of-work function is likely to be part of this.

[2016-01-05 12:52] synctext opened #1845 "First recipes for Android build using Kivy build tools"
Part of #1782.

[2016-01-05 12:54] synctext commented on #1781
Good point. Lets keep it as simple as possible for now. A new job with this picture as output.
No performance regression yet. That is where we want to end up later. Just a picture using .gv format generated using cmdline tools, like we did 7 years ago.
http://kayapo.tribler.org/trac/raw-attachment/wiki/SwarmBasedReputationConsensus/bartercast_graph_all_records_till_0806.gv

[2016-01-05 12:57] stevenroose commented on #1841
From the Fedora package repo. It's `m2crypto-0.22.5-2.fc22.x86_64.rpm`

[2016-01-05 13:22] whirm commented on #1841
@stevenroose the m2crypto and openssl packages on Fedora are crippled due to patent-related fears. They re-enabled some ECCs recently, but not the ones Tribler needs. You can search for "fedora" on this repo to see some discussions about it.

[2016-01-05 13:23] #1841 closed

[2016-01-05 13:24] stevenroose commented on #1841
Is a solution also discussed? I was planning on migrating away from Fedora
anyway, but that can take another several months..

On Tue, Jan 5, 2016 at 2:23 PM, Elric Milon <notifications@github.com>
wrote:

[2016-01-05 13:38] synctext opened #1846 "My updates: recommended based on your downloads and searches"
Enhance the frontscreen of Tribler with content items in the form of thumbnails.
These items are recommended based on popularity in general and fit with your profile.
Suggested GUI text: "My updates: recommended based on your downloads and searches"

Key inspiration (include in thesis.tex):
![scholar_my_updates_screenshot__personal_recommendation](https://cloud.githubusercontent.com/assets/325224/

[2016-01-05 13:44] synctext opened #1847 "Item list for content of Problem Description within thesis.tex"
test-driven development
quality assurance infrastructure
#1846 My Updates on frontpage

...

![20160104_162744](https://cloud.githubusercontent.com/assets/325224/12116503/893dfd9a-b3ba-11e5-9b33-98e6bd2a8549.jpg)

Outcome: add text simply as a comment below.

[2016-01-05 13:51] whirm commented on #1841
You'll have to build your own libraries, or maybe see if anybody has created a repo with non-crippled versions of these packages?

[2016-01-05 14:04] whirm opened #1848 "Shutdown procedure should be streamlined"
Right now there's sleeps in two places, which hog the main thread for a long time and even trip the watchdog when shutting down after running a test.

This will also make each individual test finish quicker and reduce the overall test execution time.

[2016-01-05 14:10] whirm opened #1849 "Bug in refactored splash tick code"
That's on current `devel`
[code]

[2016-01-05 14:11] whirm commented on #1849
I guess that will also happen in `next`, better to get it fixed there and merge the fixes back to `devel`

[2016-01-05 14:49] devos50 commented on #1849
On which OS does this happen? And does it happen every time?

[2016-01-05 14:50] whirm commented on #1849
I've seen it happen on a test run of `devel`, it's receiving events after the splash has been destroyed.

[2016-01-05 14:56] devos50 commented on #1849
Could this be a race condition? If so, a simple if-statement to check whether the splash is not `None` should do it right?

[2016-01-05 14:59] whirm commented on #1849
Well, I don't think you should be getting update events after the splash screen is closed, right? So that would be just pushing the underlying issue under the rug.

[2016-01-06 13:54] pimveldhuisen opened #1851 ".."

[2016-01-06 14:02] synctext commented on #1769
This issue will be fixed when we move to a superior config file approach. We have half finished code for this.

[2016-01-06 16:30] whirm commented on #1851
wut?

[2016-01-06 16:32] pimveldhuisen commented on #1851
I have no idea what happend here, sorry

[2016-01-06 16:32] #1851 closed

[2016-01-06 16:33] whirm commented on #1851
:D

[2016-01-06 16:35] whirm commented on #1671
That got fixed some days ago, but I forgot to close the issue.

[2016-01-06 16:35] #1671 closed

[2016-01-07 13:25] lfdversluis commented on #1837
@whirm does not work. I've compiled a newer version of leveldb today but that also does not solve the issue. Creating a very minimal program also does not seem to fix the issue.

[2016-01-07 13:35] lfdversluis commented on #1849
I would consider this 6.5 as it crashes 100% on windows. It is fixed now though :+1:

[2016-01-07 14:42] whirm commented on #1849
Oh, right, sorry

[2016-01-07 15:07] devos50 commented on #1837
Fixed in #1853

[2016-01-08 11:07] devos50 commented on #1706
@whirm @Dmole I just created a fresh .dmg file. I'm sure that we've already fixed the error that you get in `6.5.0-rc5`. Regarding the error in `6.5.0-rc6`: I also get it when I open `Tribler.app` but the error seems to be gone in the latest `.dmg` and I can open and use Tribler without problems.

[2016-01-08 11:17] devos50 commented on #1742
@Dmole could you try out https://jenkins.tribler.org/job/Build-Tribler_OSX_devel/488/artifact/tribler/dist/Tribler-6.5.0-rc5-228-gd6e0ea8.dmg (fresh builded `.dmg`) to see whether it boots and the stop button is working?

[2016-01-08 11:19] devos50 commented on #1831
@Dmole the `KeyError` should be gone in the next RC. Can you try out the `.dmg` I linked in #1742 ?

[2016-01-08 12:06] whirm opened #1854 "Sometimes update events get triggered after the download list gets destroyed"
[code]
Caught here:
https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5398/testReport/junit/Tribler.Test.test_remote_search/TestRemoteTorrentSearch/test_remote_torrent_search/

[2016-01-08 14:33] lfdversluis opened #1856 "Stacktrace while running full test suite"
``
Traceback (most recent call last):
  File "/home/laurens/Documents/thesis/tribler/Tribler/Test/test_as_server.py", line 293, in DoCheck
    if condition():
  File "/home/laurens/Documents/thesis/tribler/Tribler/Test/test_gui_dialogs.py", line 214, in has_connections_or_channel
    if self.frame.SRstatusbar.GetChannelConnections() > 10:
AttributeError: 'TestGuiDialogs' object has no attribute 'f

[2016-01-08 14:34] lfdversluis opened #1857 "Attribute error when running full test suite"
``
STraceback (most recent call last):
  File "/home/laurens/Documents/thesis/tribler/Tribler/Main/tribler_main.py", line 215, in __init__
    startWorker(consumer=None, workerFn=self.guiservthread_checkpoint_timer, delay=SESSION_CHECKPOINT_INTERVAL)
  File "/home/laurens/Documents/thesis/tribler/Tribler/Main/Utility/GuiDBHandler.py", line 326, in startWorker
    name=jobID, delay=delay, uId=uId,

[2016-01-08 14:40] whirm commented on #1856
which branch is that?

[2016-01-08 14:41] whirm commented on #1857
which branch is that?

[2016-01-08 17:09] Dmole commented on #1706
Yes, this has been fixed in the source before, and yes the build you liked works to, but that's not a fix; the website was never updated so new users could never find a working version.

I understand why we never heard for renang010 again; Any brand/site that serves a broken product directly from the main page for an entire year (well a full year 20 days from now) is really not worth most peoples

[2016-01-08 17:21] Dmole commented on #1706
Why did you link an rc5 instead of an rc6 build? (we already know rc5 works)
There are 60 commits and 2 month between them.

[2016-01-08 17:31] Dmole commented on #1831
this bug report is not about the KeyError it's about the SIGSEGV

[2016-01-08 18:18] themusicgod1 commented on #1776
I can't get your branch to give me a popup on Ubuntu 14.04.  It silently fails when Fetching Torrent and if I didn't have the commandline open to see the error messages(coming), I'd never know that's what was happening.

[2016-01-08 18:20] themusicgod1 commented on #1776
./tribler.sh	(wd: ~/tribler/tribler)
ERROR   1452277118.76        dispersy:2708  exception during handle_callback for dispersy-undo-own
Traceback (most recent call last):
  File "/home/makerspace/tribler/tribler/Tribler/dispersy/dispersy.py", line 2704, in store_update_forward
    messages[0].handle_callback(messages)
  File "/home/makerspace/tribler/tribler/Tribler/dispersy/dispersy.py", line 387

[2016-01-08 18:40] themusicgod1 commented on #1776
running ./tribler.sh results in excweption

Traceback (most recent call last):
  File "Tribler/Main/tribler.py", line 87, in <module>
    __main__()
  File "Tribler/Main/tribler.py", line 77, in __main__
    run()
  File "Tribler/Main/tribler.py", line 59, in run
    from Tribler.Main.tribler_main import run as run_main
  File "/home/makerspace/tribler/tribler/Tribler/Main/tribler_main.py", line 3

[2016-01-08 20:07] themusicgod1 commented on #1823
This could be a student task couldn't it?

[2016-01-08 20:19] themusicgod1 commented on #1842
While you're reading that, also take a pass at the Anarchist FAQ on the same paper. http://www.infoshop.org/AnarchistFAQSectionI6

[2016-01-09 08:40] whirm commented on #1823
sure

[2016-01-11 10:05] whirm commented on #1706
@Dmole tribler.org links to the latest stable release (6.4.3) which doesn't work with newer OSX releases. 6.5 will, it just hasn't been released yet.

We are understaffed so things don't go as fast as they should.

[2016-01-11 10:08] whirm commented on #1706
@devos50 BTW you are linking to a `devel` build, don't advise people to use these builds as they are usually broken and this is not the code we will be delivering on 6.5 either.

Be careful with that and make sure you reproduce the bugs with builds from the `next` branch or things will get pretty confusing for everyone.

[2016-01-11 10:11] whirm commented on #1776
@themusicgod1 did you do a `git submodule update --init`?

[2016-01-11 10:15] devos50 commented on #1706
@whirm thanks for the comment, didn't notice I created a `devel`build. I will test again with a `next` build and report whether there are any errors.

[2016-01-11 13:13] #1837 closed

[2016-01-11 13:35] devos50 commented on #1706
@Dmole I've created a new build: https://jenkins.tribler.org/job/Build-Tribler_OSX_next/174/artifact/tribler/dist/Tribler-6.5.0-rc6-90-g2420d9c.dmg. Could you please run this one and see whether the issues you encountered are still present?

[2016-01-11 13:40] devos50 commented on #1831
@Dmole it might be that this `KeyError` is causing other errors (and maybe somehow can lead to corrupt variables being passed to native C-libraries, causing errors). Could you please try out the new RC6 build I've linked in #1706?

If the issue (the segmentation fault) is still there, is there any crash report file that can be found in the `/Users/dmole/Library/Logs/DiagnosticReports/` directory?

[2016-01-11 13:41] devos50 commented on #1742
The linked `.dmg` file linked above is incorrect. I've linked another one in #1706.

I've tested this new build both on my 10.10 and 10.11 machine and I'm unable to reproduce the issue.

[2016-01-11 23:42] stevenroose commented on #1841
I built m2crypto from their resource, but still got this error:
[code]

[2016-01-12 00:36] themusicgod1 commented on #1776
I didn't have python-requests and it seems to be a prerequisite in that branch...

[2016-01-12 01:02] themusicgod1 commented on #1776
Yeah but i didn't have all the prereqs installed.  I was able to get it compiled & running (on a Ubuntu 16.04 box though ), running hard disk stress test now.

[2016-01-12 10:02] #1856 closed

[2016-01-12 10:02] #1857 closed

[2016-01-12 10:49] whirm commented on #1841
@stevenroose you need to build openssl first and make sure m2crypto links against that.

[2016-01-12 11:02] lfdversluis opened #1860 "Exception when closing tribler rc6"
Ran on windows 7, without virus scanner (scary!) and got the following when shutting down tribler:

Traceback (most recent call last):
  File "Tribler\Core\Video\utils.pyo", line 125, in return_feasible_playback_modes
  File "Tribler\vlc.pyo", line 168, in <module>
  File "Tribler\vlc.pyo", line 148, in find_lib
  File "ctypes\__init__.pyo", line 365, in __init__
WindowsError: [Error 193] %1 is no

[2016-01-12 11:14] lfdversluis commented on #1860
duplicate of #1448

[2016-01-12 11:14] #1860 closed

[2016-01-12 12:00] AbhimanyuAryan opened #1861 "error encountered while installing tribler in Ubuntu 15.10"
sudo dpkg -i tribler_6.4.3_all.deb
[sudo] password for cooldudeabhi:
Selecting previously unselected package tribler.
(Reading database ... 380196 files and directories currently installed.)
Preparing to unpack tribler_6.4.3_all.deb ...
Unpacking tribler (6.4.3) ...
dpkg: dependency problems prevent configuration of tribler:
 tribler depends on libjs-excanvas; however:
  Package libjs-excanvas is

[2016-01-12 12:45] whirm commented on #1861
Tribler depends on wx2.8 which is on the `universe` repositories, so you will need to enable that.

http://packages.ubuntu.com/wily/python-wxgtk2.8

Cheers!

[2016-01-12 12:45] #1861 closed

[2016-01-12 13:27] AbhimanyuAryan commented on #1861
Thanks worked

[2016-01-12 13:34] devos50 opened #1862 "Clean up the mac license file so the OS X .dmg opens faster"
The license file seems to be too long which causes the .dmg file to take longer to load (about 3 seconds). I've already reduced the amount of loading time by using an external script to inject the EULA in the .dmg file.

The file loads even faster if we make the license agreement shorter. @synctext can you take a look at this? The file I'm using right now is https://github.com/devos50/tribler/blob

[2016-01-12 13:35] whirm commented on #1861
Great, enjoy! :)

[2016-01-12 14:12] whirm opened #1863 "Tribler installer size could be easily reduced by deleting unused vlc plugins and libraries"
Currently we are shipping everything, but we don't really need stuff like dvd support or cacalib output.

[2016-01-12 14:29] whirm opened #1864 "OSX and windows installers should show the same license file"

[2016-01-12 14:44] devos50 commented on #1773
This issue appears to be related to missing DLLs. The virtual machine we were using didn't have the required DLL files. To solve this, we used Dependency Walker (http://www.dependencywalker.com) to find out which DLL files were missing. After downloading the Visual C++ redistributable package the error was gone. @lfdversluis will update the guide so this issue is solved.

[2016-01-12 14:50] lfdversluis commented on #1773
PR created #1865

[2016-01-13 07:47] synctext commented on #1862
if it improves speed use something like this 3-line version:

This software is released under the LGPL license by Delft University of Technology. Included third party libraries and software modules may have different licences. For details see the included file tribler/licence.txt or http://github.com/tribler/tribler.. etc.

[2016-01-13 11:50] synctext commented on #1150
Just to document my thoughts at this point.

Would remove a lot of code. This is a big item on the roadmap and could dramatically improve Tribler performance. Every peer could locally store easily the metadata of 250000 swarms! However, when doing a search the penalty must be paid. Then you click on content and the .torrent must be fetched via [BEP9](http://www.bittorrent.org/beps/bep_0009.html).

[2016-01-13 12:22] lfdversluis opened #1869 "Create 64 bit windows tribler builder"

[2016-01-13 12:23] lfdversluis commented on #1869
@whirm can you assign me?

[2016-01-13 14:48] devos50 opened #1870 "Write documentation about setting up the builder on OS X"
The OS X build script requires some specific setup and tools. A document should be created so users are able to build `tribler.dmg` themselves.

[2016-01-14 10:53] whirm commented on #1724
Some updates about this: The segfault happens on `msvcr90.dll` in a strlen() call made by libtorrent. It only happens when tunnels are enabled though, so the socks proxy may be passing some incorrect data to libtorrent.

I'll build libtorrent with debugging symbols to investigate this further.

[2016-01-14 11:26] devos50 commented on #1724
@whirm which version of libtorrent are you compiling? I have compiled libtorrent 1.0.7 32/64 bit files with debug symbols on the proxmox but that might not be the version that we are bundeling with Tribler.

[2016-01-14 11:38] lfdversluis commented on #1724
@whirm the current x64 builder has libtorrent 1.0.7. with debug symbols on them. Note that this is a build of current devel though.

[2016-01-14 11:45] whirm commented on #1724
@devos50 I've tried with the prebuilt 1.0.3 in case it worked but no dice (I've tried prebuilt 1.0.7 but the installer was missing the libtorrent dll, so it didn't even start).

I guess it will crash with any version we use, but you guys already told me that you couldn't reproduce it on you windows machines, so tomorrow I'll copy your libtorrent build to mine and see what I get.

[2016-01-14 13:24] devos50 commented on #1870
See #1871

[2016-01-14 13:56] devos50 commented on #1870
This one can be closed now right?

[2016-01-14 14:04] #1870 closed

[2016-01-14 15:23] #1862 closed

[2016-01-15 10:48] lfdversluis commented on #1869
#1872 has been opened.

[2016-01-15 11:56] devos50 opened #1874 "Create a pylint Jenkins job to check and report the amount of pylint warnings"
As one of the steps in creating a more sophisticated build environment, we should setup a Jenkins job to perform a static analysis and report the amount of pylint warnings.

We should mark the build as failed if the amount of pylint warnings is higher than the amount of warnings in the target branch.

[2016-01-19 11:27] synctext commented on #1842
@themusicgod1 interesting link, very relevant. Our work is all aimed at getting rid of any authority, while still ensuring social good. Very much aligned with the Anarchist movement.
[code]
[See more](http://www.infoshop.org/AnarchistFAQSectionI6#sthash.R7zafTO8.dpuf)

[2016-01-19 15:12] whirm opened #1878 "Tribler installer doesn't check if Tribler is running"
Which leads to partial uninstalls as the files are busy.

[2016-01-19 16:57] synctext opened #1880 "Increase security limiters of exit nodes"
Max traffic variable: https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/tunnel_community.py#L211

Currently our own exit nodes are limited to giving 55MByte per circuit (per download?). Then they either stop giving traffic or break circuit. Per file download each exit node will only give 55MByte, thus downloads fail to complete!

During one Ubuntu downloads I observed it got s

[2016-01-19 19:18] pimveldhuisen commented on #1781
First image:
https://jenkins.tribler.org/job/MultiChain_integrated_experiment_pim/43/
This could be refined some more of course.

[2016-01-19 22:53] lfdversluis commented on #1878
Not sure how the installer works exactly but: http://nsis.sourceforge.net/Check_whether_your_application_is_running

[2016-01-20 14:24] lfdversluis commented on #1082
@whirm Is this still relevant since we use arvid's libtorrent 1.0.8 ?

[2016-01-20 14:29] lfdversluis commented on #1408
@whirm Still there?

[2016-01-20 14:36] whirm commented on #1408
I don't remember seeing this in the last months.

[2016-01-20 15:36] whirm commented on #1082
We should see what Debian/Ubuntu is shipping in current LTS and latest non-LTS release.

[2016-01-20 16:28] synctext opened #1882 "slow anonymous downloads: Crypto CPU bottleneck"
The CPU seams to be the reason for slow <1 MByte/sec anonymous downloads.

_possible problem_
Running crypto on twisted thread blocks all other Tribler activity. Unclear if we needs 256bit GCM mode. Anything that checks a signature, decrypt a message, etc. needs to be traced.

_possible long-term solution_
Separate thread for the tunnel community or even an isolated thread for each community.
Low

[2016-01-20 16:39] synctext opened #1883 "asynchronous database performance analysis"
We now have blocking database IO. All database interaction is within the main twisted thread. It blocks, causing performance loss.

Events can be split in multiple parts. Events would continue when data has been retrieved, Twisted feature: https://twistedmatrix.com/documents/8.1.0/api/twisted.internet.defer.Deferred.html

Also, Lipu has an experimental  branch using storm framework.

Task: benchma

[2016-01-20 16:43] synctext commented on #68
https://capnproto.org/ Seems capt'proto now has also support for integrity checks. As Boudewijn indicated, these make up the bulk of the current code.

Task: benchmarking serialisation using capnproto and encoder/decoder.py for tunnel community.

[2016-01-20 16:51] synctext commented on #875
We will put out a specific release focused exclusively on WX3 support in coming weeks.
We have been kicked out of Debian and need to get back in.

[2016-01-20 17:30] whirm commented on #1882
@synctext I don't think this is related to 6.6

[2016-01-20 18:24] devos50 commented on #1082
It seems that Ubuntu has libtorrent-rasterbar 0.16.11 in their repo (https://apps.ubuntu.com/cat/applications/python-libtorrent/) which is a several years old version.

Debian seems to ship version 1.0.7 (https://packages.debian.org/sid/python-libtorrent).

[2016-01-21 09:47] whirm commented on #1082
@devos50 you need to check all versions :

http://packages.ubuntu.com/search?suite=all&arch=any&searchon=names&keywords=python-libtorrent

https://packages.debian.org/search?keywords=python-libtorrent&searchon=names&suite=all&section=all

[2016-01-21 13:11] synctext opened #1885 "Swarming effect in anonymous downloads: unit tests, performance analysis, and improvements"
Swarms of thousand of peers are commons in the Bittorrent ecosystem. Numerous scientific studies investigated the swarming effect in relation to [Internet locality](https://www.usenix.org/legacy/event/iptps09/tech/full_papers/wang/wang.pdf).

Connecting to dozens of hidden seeds should be reliable and fast, as in the non-privacy case:
![image](https://cloud.githubusercontent.com/assets/325224/1248

[2016-01-21 13:26] whirm opened #1886 "setup.py should programatically populate `packages` and `package_data`"
Maintaining these lists manually inevitably leads to packaging bugs.

[2016-01-21 13:41] whirm opened #1887 "Tribler resources should be in a different tree than python code"
To ease packaging, etc.

[2016-01-21 14:31] synctext commented on #1885
The latest V6.5 RC7 code can handle a lot of connections via exit nodes. That seems OK, 44 connections in picture below, giving 1.5 MByte/sec.
![tribler_lot_of_seeders_through_anonymous_tunnel](https://cloud.githubusercontent.com/assets/325224/12483203/e5515e24-c053-11e5-98a9-b4a112803515.png)

[2016-01-21 14:37] synctext opened #1889 "exceptions.KeyError: 'e'"
On Ubuntu 15.10 when streaming a torrent the view fails to switch to the videoplayer. (only first time after fresh search and startup)

[code]

[2016-01-21 14:40] whirm commented on #1889
does it happen if you run from `next`instead of the .deb?

[2016-01-21 16:55] synctext commented on #1889
git log | head
commit af1e903e7fd2ba84b59a976f4d99d56dc354e677
Author: Elric Milon <whirm@users.noreply.github.com>
Date:   Thu Jan 21 15:57:24 2016 +0100

    Merge pull request #1890 from whirm/install_dir_hack_for_ubuntu

    Install dir hack for ubuntu

[2016-01-21 17:02] synctext commented on #1889
Sadly, still same. btw The /tmp/*log file is gone, a new directory in /tmp is empty.

git log |head
commit af1e903e7fd2ba84b59a976f4d99d56dc354e677
Merge: c31a011 893ca8b
Author: Elric Milon <whirm@users.noreply.github.com>
Date:   Thu Jan 21 15:57:24 2016 +0100

    Merge pull request #1890 from whirm/install_dir_hack_for_ubuntu

    Install dir hack for ubuntu

[2016-01-22 08:04] whirm commented on #1889
This stacktrace doesn't look related to Tribler not switching to the video tab properly.

[2016-01-22 08:09] whirm commented on #1889
Can you reproduce the stacktrace consistently? If so, can you provide step by step instructions on how to reproduce that?
Apparently the search community is receiving a corrupt message.

[2016-01-22 11:21] lfdversluis commented on #1391
@synctext Isn't an option in the settings panel a much better approach? Then the user can select the port (s)he wants and forward that one. Doesn't conflict then if something is running on the randomly selected port.

[2016-01-22 12:07] devos50 opened #1891 "pop_alert in LibtorrentMgr.py is deprecated"
The `pop_alert` method in `LibtorrentMgr.py` (https://github.com/Tribler/tribler/blob/devel/Tribler/Core/Libtorrent/LibtorrentMgr.py#L444) is deprecated, see https://github.com/arvidn/libtorrent/blob/13c33694638a414ae6207d5fb3f5dc313d019c1d/bindings/python/src/session.cpp#L485. We should probably be using the newer `pop_alerts` method.

Maybe we can compile libtorrent with the `TORRENT_NO_DEPRECAT

[2016-01-22 12:40] synctext commented on #1889
Consistent 100% reproducible on my 15.10 Ubuntu machine.
1. clean start tribler
2. search pioneer
3. click "stream"  on an entry not yet downloaded
4. it does not switch to video-player view.

Shoot, now Tribler even get's stuck with frozen screen with step 1-4. Never seen that in past months. No log entries in /tmp/

[2016-01-22 12:42] synctext commented on #1391
Yes, that randomly suggested port can be altered in the Settings panel.
The special "-1" construction should just go.

[2016-01-22 13:39] whirm commented on #1889
@synctext I was talking about the KeyError exception, I just fixed the streaming bug.

[2016-01-22 13:42] whirm commented on #1889
@synctext could you try this branch https://github.com/Tribler/tribler/pull/1892 and tell me if it fixes it for you too?

[2016-01-22 13:45] whirm commented on #1891
Let's focus on getting the new testing/building infrastructure up and running and 6.6 with WX3 out of the door and we will take care of this later. Not a priority.

[2016-01-22 14:15] synctext commented on #1889
Excellent. Fix seems to work, testing some more.

[2016-01-22 14:15] synctext commented on #1889
Streaming fast after startup.
[code]

[2016-01-22 14:28] synctext commented on #1889
Hmm, Tribler does not like it when you're doing stuff quickly after startup.
Essential trick to reproduce: I'm searching results for "pioneer" already, even before the "pioneer" files I'm seeding are done initialising or done building circuits for anonymous seeding of them!

[code]

[2016-01-22 14:32] synctext commented on #1889
Error when clicking a "pioneer" file from sarch result which was already seeding (not easy to reproduce):
[code]

[2016-01-22 14:40] whirm commented on #1889
All these are unrelated to this issue, please create separate issues so they can be dealt with individually otherwise it becomes a mess to follow up.

[2016-01-22 14:46] synctext commented on #1889
True, I came across 3 unique error messages + a full-freeze.
Plus the issue of this ticket itself is not resolved in this commit. Bit it seems to occur less.
[code]

[2016-01-22 14:48] devos50 opened #1893 "Tribler is producing errors in the first seconds after startup"
When starting up Tribler, searching for `Pioneer` and clicking the stream button, Tribler is showing an exception:

![5740f4098d7a8aa70f9e18521bea78f1](https://cloud.githubusercontent.com/assets/1707075/12513622/1bb81702-c11f-11e5-9797-93edf64747dd.png)

Exception:

[code]

[2016-01-22 14:48] synctext commented on #1889
Seems unrelated to fetching torrent, see the left-hand-side state of the videoplayer
![fetching_torrent](https://cloud.githubusercontent.com/assets/325224/12513699/7d8892cc-c11f-11e5-8498-473f1a0536cb.png)

[2016-01-22 14:49] whirm commented on #1889
I wasn't trying to fix this ticket but the streaming window issue, the original traceback happened because the community got a search result message which is corrupted or not properly encoded.

[2016-01-22 14:56] synctext commented on #1889
Yes, I saw the magical ```_decode_search_response``` hint you found. Never seen the original exceptions.KeyError: 'e' happening.

Streaming windows issue is still there in your branch, also when .torrent is there. See again the left-hand-side state of videoplayer.
![no_screen_switch_to_video_player](https://cloud.githubusercontent.com/assets/325224/12513870/6e0baf36-c120-11e5-9c30-b399d60302ec.png

[2016-01-22 15:00] whirm commented on #1893
Does it happen on a non-OSX system? (Can't reproduce it on Linux and Tribler doesn't support the embedded video player on OSX, so it's probably just trying to access an attribute that hasn't been initialized.

[2016-01-22 15:01] devos50 commented on #1893
@synctext has encountered it too.

[2016-01-22 15:01] synctext commented on #1893
Somewhat similar behavior on Ubuntu 15.10.
Searching for ```Pioneer``` and then streaming an entry freezes Tribler.

![reproducable_freeze_after_startup](https://cloud.githubusercontent.com/assets/325224/12514005/38d590a6-c121-11e5-99ee-f0d3fb664c76.png)

[2016-01-22 15:03] whirm commented on #1889
Weird, it's working just fine here:
![2016-01-22-160200_1920x1080_scrot](https://cloud.githubusercontent.com/assets/529494/12514070/a7358c68-c121-11e5-9539-0026880a4eac.png)

[2016-01-22 15:08] synctext commented on #1889
@whirm  Can you try a few times: start Tribler, quickly search pioneer, pre-position the mouse already, click stream button on an incoming search result entry. Then it freeses Tribler in seconds after startup.

Hmm, possibly this only works if you're seeding a dozen files and introduce init delay.

[2016-01-22 15:18] whirm commented on #1889
Ok, I managed to reproduce it once, but you have to be super fast to pull it.

I'd say it's because of this:

https://github.com/Tribler/tribler/blob/71377341ac2fc59b2c9f5efbda81e71115303622/Tribler/Core/Video/VLCWrapper.py#L48

I don't think that's a bug a normal user will trigger and it will probably not be easy at all to fix.

[2016-01-22 15:24] whirm commented on #1893
@synctext that's not the same bug as @devos50's it's not freezing on his case.

As you can all see, the GUI code is a disaster. These bugs where probably there on 6.4 too, so I don't think it's a smart decision to delay 6.5 even more due to those.

Let's talk about it on Monday if you want, but I'd rather have 6.5 out and then see if these bugs are happening too on 6.6 with WX3.

We could make 6.6

[2016-01-22 15:27] devos50 commented on #1893
I agree with @whirm, we can focus on these issues when we overhaul parts of the GUI/are creating libtribler.

[2016-01-22 15:35] synctext commented on #1889
There is a 2GByte megacache that might slow your init time, mughal: /home/tribler/Tribler_Megacache/Tribler_Megacaches_2016/

[2016-01-22 15:37] synctext commented on #1893
Agreed, better leave this for 6.5.1 or even later.
Feel free to release RC7 on forum.

[2016-01-22 15:54] synctext commented on #1885
The <ctrl>n debug window shows nice PEX details:
[code]

[2016-01-23 20:02] vi opened #1894 "After creating new torrent, it shows "Downloading 0.0%" instead of "Seeding"."
version 9c6fb360b20796fd8e5be5439da7a5e52b0233aa

[2016-01-25 08:34] synctext commented on #31
This will be moved earlier in the roadmap. Multi-chain will evolve with several steps into this envisioned system from 2013.

- [X] append-only datastructure
- [X] payout to seeders
- [X] Isolated Gumby experiment with various peers
- [ ] visualization of the multi-chain graph
- [ ] payout to hidden seeders and intermediary proxies
- [ ] edge traversal
- [ ] keep-alive

[2016-01-25 09:50] whirm commented on #1889
Let's discuss this other bug in a separate issue.

Do you agree this (#1889 bug) to post 6.5? It appears to be a cosmetic issue, but I want to have a closer look at it.

[2016-01-25 14:31] whirm commented on #1724
I Forgot to update this issue, it was a bug in libtorrent, we ship the latest version on the installer now.

[2016-01-25 14:32] #1724 closed

[2016-01-25 21:22] synctext commented on #31
ToDo: sidebranch idea. provides compression and timeout-free signatures. magic: merging back does not require anybodies cooperation. So use a weld-node: point where total up/ down is updated and Merkle hashe of: main branch and side branch is taken. Only signed by owner.

[2016-01-26 10:12] lfdversluis commented on #1885
https://github.com/Tribler/pymdht does this dht do the PEX? Then I can build a test around this, rather than whole tribler

[2016-01-26 10:51] synctext commented on #1846
Youtube also has a nice thumbnail-based navigation system. Key example for the Tribler User Experience.
![wjifjbq](https://cloud.githubusercontent.com/assets/325224/12578703/f2fc8454-c422-11e5-855a-d5b84e88a280.jpg)

btw.. It is [very aggressive](https://www.reddit.com/r/mildlyinfuriating/comments/2mnbpe/i_watched_one_norm_macdonald_video_yesterday/) to recommend new videos, one accidental "mylitt

[2016-01-26 10:53] whirm commented on #1846
You could always have a button to clear your preferences.

[2016-01-26 14:06] lfdversluis opened #1898 "Investigate if we can get rid of last make_torrent_file call"
In Tribler\Core\TorrentDef.py

[2016-01-26 14:40] lfdversluis commented on #1898
see https://github.com/Tribler/tribler/pull/1464/files

[2016-01-27 10:58] whirm commented on #1894
Should be fixed in next!

[2016-01-27 10:58] #1894 closed

[2016-01-27 11:20] pimotte commented on #31
In my opinion, we should avoid branching at all costs.

The problem we are solving with branching is two-fold: First the blocking issues on timeouts, second the infinite growth of the datastructure.

The second problem can be easily resolved by having some sort of secondary archive multichain. In this multichain, you are allowed to archive a transaction older than X period of time. This transactio

[2016-01-27 11:22] #1880 closed

[2016-01-27 11:57] lfdversluis opened #1901 "Disable dispersy et al. when running gui tests"
test_gui_dialogs.py starts dispersy. Not needed if we only want to test the gui.

[2016-01-27 12:05] whirm commented on #1901
Some dialogs feed on data provided by the communities, so we have to have a closer look at it and see what can be done for each case.

[2016-01-27 14:02] pimveldhuisen commented on #31
*On archiving:*
Does this not make it possible to lie about your history before time X? Or do we intend to base reputation only on the period from now to X? This might be viable if X is sufficiently large, say a few years, but a long history might be useful for Sybil resilience.

*On request timing:*
A very elegant idea, but I think it is not guaranteed to work. What if there never comes a time wh

[2016-01-27 14:13] pimveldhuisen commented on #31
*Alternative concept: half-signed only, or optimistic requesting*

Another way of going around the blocking problem is to base the chain on only half signed blocks.
1. You note down your interaction in a block and sign it.
2. You can then base your next block on the hash of only the block with your signature. This means there is no blocking.
3. You request your peer to sign the same interaction in

[2016-01-27 14:44] pimveldhuisen commented on #1781
The experiment now renders svg images with colored nodes:
https://jenkins.tribler.org/job/MultiChain_integrated_experiment_pim/61/
Green nodes are origin nodes (light green: origin for both peers, dark green: origin for one of the peers).
Red nodes are half signed nodes.
Is this sufficient to close this issue?

[2016-01-27 15:45] synctext commented on #1781
![image](https://cloud.githubusercontent.com/assets/325224/12618675/3126cab2-c515-11e5-890b-09034294546f.png)
Yes, Looks good; feel free to close it.

[2016-01-27 16:02] #1781 closed

[2016-01-28 09:50] whirm commented on #1801
6.5 has been delayed due to a bug introduced in the upgrader that went undetected due to the lack of tests.

[2016-01-28 10:26] whirm opened #1902 "Upgrader is broken on `next`"
From Pim's computer:

[code]

[2016-01-28 15:02] whirm opened #1905 "The tunnel community sometimes leaves a dirty reactor when running the tests"
One instance of this happening (current `devel`):

https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5573/testReport/junit/Tribler.Test.test_remote_search/TestMixedRemoteSearch/test_remotedownload/

[2016-01-28 15:25] devos50 opened #1906 "Update tribler.sh so Tribler can run from a Cygwin environment"
Currently, when running `tribler.sh` in a Cygwin environment, it will just terminate. We can easily change it so it will be able to run in Cygwin.

[2016-01-28 15:31] #1902 closed

[2016-01-28 16:09] whirm opened #1907 "Network graph backgrounds are pained gray instead of white"
That's on `devel` I assume due to the switch to WX3?

See:

https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5569/artifact/output//Screenshot-39.png

[2016-01-29 10:46] lfdversluis opened #1908 "Tests write data to the repository"
As they are not included in the gitignore they pollute either your terminal and get in the way or will be committed by accident. As @whirm said "the tests should be fixed to not write data to the repository instead."

[2016-01-29 16:17] brussee commented on #1792
Aborted this approach last year. Switched to the new p4a toolchain.

[2016-01-29 16:17] #1792 closed

[2016-01-30 15:05] renang010 commented on #1705
New build worked. thanks.

[2016-01-30 15:06] #1705 closed

[2016-01-30 15:07] renang010 opened #1910 "6.5.0 - RC7 - Extremely slow, unusable"
Upgraded to 6.5-RC7

Trying to download a file with 8000+ seeders, 3000+ leachers. Connections: sometimes is different than 0, Down speed: most of the time is 0, and sometimes < 0.5 KB/s.

I am on OS X 10.11.

RG

[2016-01-30 19:01] Whyisdaddy opened #1911 "El Capitan version 10.11.4 build 15E33e"
Tribler never  gets past the first screen saying

Starting session and upgrading database (it may take a while)  2 hours and 5 min. latter its still
sitting in the same place, it will work on my imac osx 10 X.

 but not El Capitan 10.11.4

any suggestions ?
Thank's
![screen shot 2016-01-30 at 2 00 29 pm](https://cloud.githubusercontent.com/assets/4367006/12697791/e77bb642-c759-11e5-840a-5455e54cf2

[2016-01-31 12:04] renang010 commented on #1910
Update: It is working now.

[2016-01-31 12:04] #1910 closed

[2016-01-31 16:10] whirm commented on #1911
Could you check the log console and paste Tribler's output?
Thanks!

[2016-02-01 01:53] Whyisdaddy commented on #1911
I would be glad to where is it Tribler never gets past the visible screen notice.

      From: Elric Milon <notifications@github.com>
 To: Tribler/tribler <tribler@noreply.github.com>
Cc: Whyisdaddy <whyisdad@yahoo.com>
 Sent: Sunday, January 31, 2016 11:10 AM
 Subject: Re: [tribler] El Capitan version 10.11.4 build 15E33e (#1911)

Could you check the log console and paste Tribler's output?
Thanks

[2016-02-01 10:14] whirm commented on #1910
Great, let us know if you find any other issues!

[2016-02-01 10:17] whirm commented on #1911
It's a bundled OSX utility (Console app in your Applications/Utilities folder)

[2016-02-01 16:11] Whyisdaddy commented on #1911
i hope this is what you needand thank you.

      From: Elric Milon <notifications@github.com>
 To: Tribler/tribler <tribler@noreply.github.com>
Cc: Whyisdaddy <whyisdad@yahoo.com>
 Sent: Monday, February 1, 2016 5:17 AM
 Subject: Re: [tribler] El Capitan version 10.11.4 build 15E33e (#1911)

It's a bundled OSX utility (Console app in your Applications/Utilities folder)—
Reply to this email direct

[2016-02-01 16:54] whirm commented on #1911
I'm not seeing anything, did you attach something to the github notification email?

[2016-02-01 23:10] Whyisdaddy commented on #1911
I tryer but is gave me an error, I sent an email with a attachment to it, I'll Try again

      From: Elric Milon <notifications@github.com>
 To: Tribler/tribler <tribler@noreply.github.com>
Cc: Whyisdaddy <whyisdad@yahoo.com>
 Sent: Monday, February 1, 2016 11:54 AM
 Subject: Re: [tribler] El Capitan version 10.11.4 build 15E33e (#1911)

I'm not seeing anything, did you attach something to the gi

[2016-02-01 23:11] Whyisdaddy commented on #1911
[Archive.zip](https://github.com/Tribler/tribler/files/113160/Archive.zip)
hope this helps

[2016-02-02 09:37] whirm commented on #1911
I see it's getting stuck but not much more, could you upload Tribler's log file located in your `~/.Tribler/`?

Thanks!

[2016-02-02 11:10] whirm opened #1912 "The file size filter widget is gone"
I guess because of the wx migration?

[2016-02-02 13:41] Whyisdaddy commented on #1911
ok I think this is what you are looking for
[logger.conf.zip](https://github.com/Tribler/tribler/files/113992/logger.conf.zip)

[2016-02-02 14:36] whirm commented on #1911
Oh, sorry, turns out there's a mistake on our documentation and Tribler doesn't write to this log file on OSX.

Could you please execute this on a terminal: `syslog -C | grep Tribler > /tmp/tribler.log` and upload it?

[2016-02-02 14:59] Whyisdaddy commented on #1911
ok i did it but I'm not sure what I'm looking for and were it is

[2016-02-02 15:11] whirm commented on #1911
go to `/tmp` with the file browser and you will see a `tribler.log` file there. If you don't know how to get there, just run this on the terminal and it will be created on your home directory instead:

`syslog -C | grep Tribler > ~/tribler.log`

[2016-02-02 15:12] Whyisdaddy commented on #1911
[tribler.log.zip](https://github.com/Tribler/tribler/files/114136/tribler.log.zip)
ok here you go.

[2016-02-02 16:00] whirm commented on #1911
@Whyisdaddy thanks!

That's the relevant part of the log for reference:
[code]

[2016-02-02 16:01] whirm commented on #1911
@Whyisdaddy just to make sure: You are running Tribler 6.5-RC7, right?

[2016-02-02 17:23] Whyisdaddy commented on #1911
Yes i am using 6.5-rc7

[2016-02-02 17:25] Whyisdaddy commented on #1911
i sorry its 6.4.3

[2016-02-02 17:30] Whyisdaddy commented on #1911
ok i just downloaded 6.5-RC7 and it works !!!

[2016-02-02 18:13] whirm commented on #1911
Great! :D

Closing this then!

[2016-02-02 18:13] #1911 closed

[2016-02-02 19:48] synctext commented on #1911
@whyisdaddy impressive effort to help us forward. Please report more bugs when you find them.. We really need more Mac feedback.

[2016-02-03 14:28] devos50 commented on #1912
I also don't see this widget on OS X (with a checkout of the `next` branch). I will take a look.

[2016-02-03 14:53] #1907 closed

[2016-02-03 14:55] whirm commented on #1912
Oh, hadn't noticed that, let me check on the macbook

[2016-02-03 14:56] whirm commented on #1912
Yup, not showing here either.

[2016-02-03 14:57] devos50 commented on #1912
@whirm I will checkout next and try to fix it there.

[2016-02-03 15:07] whirm commented on #1912
Great, weird that it works fine on windows and Linux

[2016-02-03 15:23] devos50 opened #1916 "SearchCtrl on OS X, using wx3 is bugged"
When starting up Tribler (checkout of `devel` branch), the `SearchCtrl` widget seems to be bugged. The hint is not visible and text that I type, disappears when the widget looses focus. See http://trac.wxwidgets.org/ticket/17225#comment:1 for more information about this issue.

One possibility is to replace the `SearchCtrl` widgets by `TextCtrl` which seems to work fine. However, we need to find a

[2016-02-03 15:40] devos50 commented on #1912
It seems that the widget is not displayed the moment is it is added to the `wx.BoxSizer`. When not using a `wx.BoxSizer`, it displays correctly.

[2016-02-03 15:52] Anth0rx commented on #1753
I am not that much into Python programming. I would volunteer to translate Tribler into German. By the way: Do you have tips on how a newbie could possibly contribute to Tribler and learn more about Python?

[2016-02-03 16:04] whirm commented on #1753
@Anth0rx For Tribler to be translatable, we would need to extract all strings into a `.pot` (see [this](https://en.wikipedia.org/wiki/Gettext))  file, then we can translate that file into all the languages we want. It's not technically difficult to do, but you need to know a bit of python to not break the code when doing it.

There's lots of ways you can help, from the top of my head: promoting py

[2016-02-03 16:48] whirm commented on #1912
Amazing

[2016-02-03 17:34] Whyisdaddy commented on #1911
Well thank you I'm running into something new I think one of my computers my imac works without issue
but my laptop i use in a different room is wireless and Tribler can't find any channels and I am not sure why? its the newest version the last version will not work on my laptop , This laptop is used to test apple new operating systems I have been helping test these updates and system changes for

[2016-02-04 14:30] synctext commented on #31
ToDo: merge major/minor seq idea, half-signed+revert.

[2016-02-04 15:17] lfdversluis opened #1919 "wx.Notebook on 64 bit is bugged using wx 3"
Bug is [known](http://trac.wxwidgets.org/ticket/16561) yet no confirmed fix.
100% triggers on windows 64 bit.

With the error `CRITICAL:UnhandledExceptionCatcher:Unhandled exception raised while running the test: <class 'wx._core.PyAssertionError'> PyAssertionError(u'C++
assertion "m_growableRows[n] < nrows" failed at ..\\..\\src\\common\\sizer.cpp(1874) in wxFlexGridSizer::AdjustForGrowables(): i

[2016-02-04 15:37] Captain-Coder commented on #31
In a session with @synctext, we discussed the half-signed only and branching options. He was especially concerned about having the vertical compression (updating transactions) and the difficulty with the reuse of sequence numbers. This could be solved by introducing a minor sequence number.

![img_20160204_154521](https://cloud.githubusercontent.com/assets/3216100/12818751/fef9b7b6-cb4f-11e5-8f86-

[2016-02-04 16:04] synctext commented on #31
design dream: if you do not follow the protocol, you do not get any benefits.
Violations: by design this always leads to a signed and irrefutable "proof-of-lying", instant banning.

[2016-02-06 08:30] synctext commented on #1845
First recipes have been accepted. https://github.com/kivy/python-for-android/pull/405

[2016-02-06 08:30] #1845 closed

[2016-02-06 08:40] synctext commented on #1844
Key related work: http://www.aamas-conference.org/Proceedings/aamas2014/aamas/p205.pdf
Importance of time: https://www.princeton.edu/~pmittal/publications/temporal-ccs15.pdf

[2016-02-07 01:51] Anth0rx opened #1922 "Move parts of README into wiki and translate it into german"
Hey,
I have already mentioned that I want to start to contribute to this awesome project. This week I added dependencies for Arch Linux and now I want to take that a step further. I volunteer to do some documentation/wiki maintenance stuff to get familiar with the whole project. I also plan to translate the wiki into german.

Regards
Anth0rx

[2016-02-07 13:07] devos50 commented on #1922
Hi, great that you want to help! Any help on this project is greatly appreciated and starting with documentation is indeed a good way to learn more about the system and familiar with it (writing more documentation is also a part of my thesis, maybe we can work together on some parts?). I've also learned a lot by just looking at the code (with a more high-level view) and see how various components

[2016-02-07 20:42] synctext commented on #1922
@Anth0rx adding German language support to Tribler would also be an awesome contribution... If you have bit of Python experience, should be realistic.

[2016-02-07 21:00] devos50 commented on #1912
@whirm I did an attempt to fix it in PR #1923. Can you please test it on the Macbook? I'm unable to test it since I only have 64-bit systems. It's looking fine on Linux now (see https://jenkins.tribler.org/job/GH_Tribler_pull-request-tester/5636/).

[2016-02-08 09:50] whirm commented on #1922
@Anth0rx great to read that :)

re documentation: I'd rather have the documentation on the [git repository](https://github.com/Tribler/tribler/tree/devel/doc) than on the wiki. It's easier for us to review changes and it's simpler to keep it in sync with the current code.

Let us know if you need any help/guidance. Also there's usually someone at the #tribler IRC channel on freenode, so feel free

[2016-02-08 09:51] whirm commented on #1912
Oh, I merged it before seeing this, next time add the WIP tag to the PR or ask me there :)

I'll test it right away.

[2016-02-08 09:54] devos50 commented on #1912
Yeah asking it on the PR was better. I don't have permissions to add labels to issues btw.

I've implemented the changes in this PR on `devel` and tested it there. The widget was visible now when using the code on `devel` but since this is 6.5 related, I opened this PR against `next` ;)

[2016-02-08 09:55] whirm commented on #1912
Hm, I'll have a look and see if I can give that kind of permission.

[2016-02-08 09:57] whirm commented on #1912
Yeah, it's showing on osx 32bit.

[2016-02-08 10:00] devos50 commented on #1912
Great! :+1:

[2016-02-08 10:02] whirm commented on #1912
Shows on windows too

[2016-02-08 10:02] #1912 closed

[2016-02-08 10:03] devos50 commented on #1919
@whirm can you assign me on this one? It's wx3 related.

[2016-02-08 10:31] whirm opened #1924 "Incorrect config value for `emc_port`"
Report from [the forums](http://forum.tribler.org/t/tribler-6-5-rc7-ready-for-testing/3361/21):

Tribler 6.5-RC7, ubuntu 15.10 , when i try to click on the Settings button, nothing happens, and the log says:

[code]
Sometimes it works when i click on it the first time, after that it wont.

[2016-02-08 11:16] devos50 commented on #1849
@whirm this one is fixed right?

[2016-02-08 11:27] whirm commented on #1849
Yup

[2016-02-08 11:27] #1849 closed

[2016-02-08 11:53] lfdversluis commented on #1922
Hi @Anth0rx !
Awesome that you want to help Tribler further. Every contribution helps the project advance. We are currently documenting a lot of things, (see PR #1872 and #1875 for example), so there will be plenty of things to translate later on.
Feel free to join the IRC, we are happy to answer questions

[2016-02-08 12:07] whirm commented on #1924
Waiting from feedback from the user on the forum.

[2016-02-08 12:42] Anth0rx commented on #1922
Okay nice. @whirm Wouldn't it be better to transfer the [wiki](https://github.com/Tribler/tribler/wiki) into the [repository](https://github.com/Tribler/tribler/tree/devel/doc) so we have all the documentation in one place?

@synctext I am learning Python at the moment. For now I will remain translating the documentation to get more familiar with Tribler.

[2016-02-08 12:57] whirm commented on #1922
@Anth0rx Yeah, but only the code related part (how to package/develop/etc.) The more abstract or general stuff should stay in the wiki. It would be nice that anything moved to git is checked for validity first.

[2016-02-08 13:37] pimotte commented on #31
The whole problem with having any branching option is that the "design dream 2" mentioned above is lost. The fact that a client has multiple branches means that they cannot be forced to rebase or merge it back into their main branch. This means that there exists a "sidebranch hiding attack", in which a client cannot be forced to divulge a side-branch existing. To make up for this, there would need

[2016-02-08 14:07] #1906 closed

[2016-02-08 14:10] synctext commented on #1924
reproduced it on my Ubuntu 15.10 machine.
1) click settings
2) goto experimental -> enable Emercoin integration
3) change port number
4) try clicking on settings again, it fails

[2016-02-08 14:12] cisf commented on #1924
yes, i did activate the emercoin settings !

the log required on forum...
[cisf-tribler-9er6OynJ.log.zip](https://github.com/Tribler/tribler/files/121658/cisf-tribler-9er6OynJ.log.zip)

[2016-02-08 14:16] synctext commented on #1924
[code]

[2016-02-08 14:58] Anth0rx commented on #1922
Okay, and if i wanted to translate the wiki as well? Is that possible?

[2016-02-08 15:07] whirm commented on #1922
Sure, I guess you could create a /german/ subdir? Haven't thought much about the wiki to be honest. Maybe @synctext has some opinions.

[2016-02-08 16:40] #1924 closed

[2016-02-08 19:03] devos50 opened #1928 "Tests are defining torrent piece length not as a power of two"
When running the tests on OS X using libtorrent 1.0.8 (with assertions enabled and debug symbols), I get an assertion: https://jenkins.tribler.org/job/Test_macmini_unittests/68/artifact/output/test_runners_output/1.err/*view*/. When running the `test_vod.py` test suite, the problem is that the piece length is not defined as a power of two but instead, has a value of 10.

According to the BitTorren

[2016-02-09 09:42] whirm commented on #1928
Fine by me, go ahead

[2016-02-09 11:24] #1919 closed

[2016-02-09 11:45] lfdversluis opened #1931 "GetSubBitmap invalid bitmap region"
When running `test_gui_dialogs.py` I encountered an exception:

`Exception: Test raised 2 unhandled exceptions, last one was: PyAssertionError(u'C++ assertion "rect.x >= 0 && rect.y >= 0 && rect.x + w <= bmpData->m_width && rect.y + h <= bmpData->m_height" failed at ../src/gtk/bitmap.cpp(990) in GetSubBitmap(): invalid bitmap region',)`

When I ran it again it passed, maybe worth taking a look at

[2016-02-09 13:20] Anth0rx commented on #1922
The wiki is not part of the repository, right? @synctext Can you tell me how to create a multilingual wiki page, so the visitors are able to select a language first?

[2016-02-09 14:03] whirm commented on #1922
@Anth0rx the wiki is a separate git repository, re multilingual wiki, I don't think github has support for this, just create a /de/ or /german/ subdir with the documentation in there.

[2016-02-09 14:21] #1928 closed

[2016-02-09 15:03] colin1497 opened #1932 "Log file - rc7-2-g5a5d2d8"
Wanted to share a log dump.  Do with it as you will.

[code]

[2016-02-09 15:27] Anth0rx commented on #1922
But did't you say:

[2016-02-09 15:28] whirm commented on #1932
Care to give any more info about it?
Which version are you running?
many active downloads?
Do you now how to reproduce it?

Thanks!

[2016-02-09 15:46] whirm commented on #1922
The wiki IS a git repository (whenever you do modifications, a new commit gets created automatically for them) when I refer to the git repository, I'm talking about the main one that contains the Tribler code.

[2016-02-09 15:52] whirm commented on #1932
Oh, just saw the version on the title

[2016-02-09 16:14] whirm commented on #1932
Ok, that's a duplicate of #1617.

Which Debian/Ubuntu version are you running?

[2016-02-09 19:54] Anth0rx commented on #1922
However this doesn't solve the multilingual Problem :/

[2016-02-09 19:57] rjruigrok commented on #1932
I remember this error from the time I was working on anonimity. It's just decrypting with the wrong key. Why it got the wrong key may be caused by:
* the introductionpoint circuit is extended with a candidate that is already part of the circuit, causing a crypto error. Should not happen anyway, thorough analysis of the debug log may reveal why and how this candidate is discovered.
* the pubkey of

[2016-02-09 20:14] rjruigrok commented on #1885
@lfdversluis nope. The only PeX in the tunnel community is in the key-request and key-response which is used for setting up a hidden service. It's a bare, untested implementation written by me on a rainy sunday afternoon (see the commit mentioned by johan). It just takes a bunch of known candidates and appends them to the payload of key-request/response message. So only hidden services will benefi

[2016-02-10 11:01] whirm commented on #1932
@rjruigrok there's no integrity check for the message either right? so if a bit flips on transit, we will get the same result.

[2016-02-10 11:53] whirm commented on #1932
I'll add your comments to the code for future reference. Thanks!

[2016-02-10 13:48] #1932 closed

[2016-02-10 13:49] whirm commented on #1922
Just add a subdir per language and we can add links to these on the sidebar of the wiki.

[2016-02-10 14:02] lfdversluis opened #1936 "Wx panel being deleted crash"
Sometimes this error occurs:
[code]

See [this jenkins run](https://jenkins.tribler.org/job/Test_tribler_devel/1150/artifact/output/test_runners_output/00001.err/*view*/)

[2016-02-10 14:13] Pathemeous commented on #299
Also add an uninstall script for Mac. Couldn't find it myself.

[2016-02-10 14:20] whirm commented on #299
@Pathemeous You just have to throw the app bundle to the trash.

[2016-02-10 14:25] Pathemeous commented on #299
Friend of mine did that, the .Tribler in the home directory remained after the install.

[2016-02-10 14:33] devos50 opened #1938 "No channels matching tv assertion when running tests"
When running `test_channel_search `, I get the following error:

[code]

[2016-02-10 14:34] whirm commented on #299
Ah, I see what you mean. Do you really need a script to remove a directory?

[2016-02-10 14:35] whirm commented on #1938
This is because the test fails. It will sometimes happen as it connects to the internet and does real queries. If it doesn't get a result in time, it will fail.

[2016-02-10 14:39] devos50 commented on #1938
According to the screenshots, it got results. I will investigate the tests to see what's going on here.

[2016-02-10 14:40] Pathemeous commented on #299
Not so much for the action, but something that removes it automatically when the application is uninstalled would be nice.