[2016-05-20 09:04] synctext commented on #2222
@devos50  Now to actually answer your question:-)
Yes, please do ```split("-")[:1]```. Then we can start testing

[2016-05-20 09:10] whirm commented on #2222
Let's just add a new tag

[2016-05-20 09:11] devos50 commented on #2222
@whirm that's even easier but for easier future releases and stable automated building, we can still do the split thing?

[2016-05-20 09:20] devos50 commented on #2222
@whirm @synctext Ubuntu builder working 👍

See the fresh `.deb` files here: https://jenkins.tribler.org/job/Build-Tribler_Ubuntu-64_devel/lastSuccessfulBuild/artifact/

[2016-05-20 09:21] whirm commented on #2222
The issue here is that the changelog has a >6.5.0 release registered, so dch refuses to add a lower version after it. stripping part of the version would not fix anything (6.5.0 would still be lower than 6.5.2) and would be misleading (6.5.0 is not the same than 6.5.0+700 commits).

[2016-05-20 09:22] #2222 closed

[2016-05-22 01:14] idcrisis opened #2224 "Merge Dijjer functionality"
Hello coders,

- Please find it within yourselves to integrate 'Dijjer' functionality into this.

https://code.google.com/archive/p/dijjer/

The ability to configuration-less stream over UDP from behind NATs with bandwidth offloading to peers is useful.

- Convert each node into a Teredo / Miredo server+client ( with support for public internet routing). This could allow all nodes to maintain a pr

[2016-05-22 10:36] lfdversluis opened #2225 "Tribler crashes when you have no internet"
I had no WiFi on my ubuntu and started tribler. The following stack happened:

[code]

[2016-05-22 10:45] lfdversluis commented on #2216
Investigated `sqlitecachedb` and checked the callers that call function that return database items. The results indicate that there are no Dispersy or GUI operations mixed in loops that use the database cursor. I think I got all cases, but if I missed one please let me know. I will investigate the Dispersy Database manager today as well.

# SQLiteCacheDB
25 functions in Tribler call some of SQLite

[2016-05-22 10:58] lfdversluis commented on #2216
# Multichain database
A subclass of Database in Dispersy, uses a different `multichain.db` file.

### execute function
`add_block` -> ignores the cursor.
`update_block_with_responder` -> ignores the cursor
`get_latest_hash` -> fetches the result of the cursor, can be refactored by a fetchone.
`get_by_hash_requester` -> fetches the first result of the cursor. Can be refactored by a fetchone (note:

[2016-05-22 13:46] lfdversluis commented on #2216
# Dispersy/database.py

### execute function
`community.py.Community._dispersy_claim_sync_bloom_filter_modulo` -> uses the execute function three times. One can be refactored by a fetchone probably, the other two by fetchall
`idem._download_master_member_identity` -> can be refactored by a fetchone
`idem._initialize_timeline` -> loops over cursor, can be replaced by fetchall
`idem._select_and_fix`

[2016-05-22 16:23] lfdversluis opened #2226 "Bug in restAPI"
Was running tribler got the following stack:

[code]

[2016-05-22 16:41] lfdversluis opened #2227 "Tribler_profiler.py doesn't get beyond the run() statement"
So yappi that is running will not be stopped and the results printed.

The script is ran by setting `$PROFILE_TRIBLER"` and run `tribler.sh`

[2016-05-23 09:35] synctext commented on #2131
Public connectable App Port (Still TCP-only..)
![screenshot_20160523-113252](https://cloud.githubusercontent.com/assets/325224/15466541/74ab602e-20da-11e6-9e88-6976f03c4f1c.png)

[2016-05-23 09:46] synctext commented on #2131
Advanced feature: voting on external IPv4 https://github.com/Tribler/dispersy/blob/devel/dispersy.py#L738

[2016-05-23 09:52] Jaapp- commented on #2131
Tribler IP
130.161.211.254

Use Datagram Socket instead of Socket
UDP puncture
Generate random peer-specific hash, send with each message to be able differentiate between data from peers
Don't establish a connection with self
Include carrier, more information, with messages
Save instance state, don't lose list on redraw.
Implement proper OnPause / OnStop
Use service instead of activity?

[2016-05-23 10:19] synctext commented on #1842
Elric has 300 swarm and we have legal swarms from archive.org
https://blog.archive.org/2012/08/07/over-1000000-torrents-of-downloadable-books-music-and-movies/
https://archive.org/details/moviesandfilms

[2016-05-23 15:28] synctext commented on #1883
Work by @qstokkink
https://github.com/Tribler/dispersy/compare/devel...qstokkink:threadeddb

This 2 weeks sprint contains operational _multi-core_ Dispersy using Twisted.
40x speedup of sync experiment with 10 peers.

ThreadSafeExecute of Dispersy database: https://github.com/Tribler/dispersy/compare/devel...qstokkink:threadeddb#diff-0d31758bc4ed14da7f82a5780aa66abdR38

Most of the speedup comes f

[2016-05-23 20:42] lfdversluis commented on #1883
@synctext the reason this approach works is that it does not return a database item from `_deep_copy_nts_db_call`. it only returns the law inserted id or an iterator for the list generated by `fetchall`. The moment this returns a cursor it explodes :dancer:
Having that said, it looks well implemented in terms of synchronous code by making use of `blockingCallFromThread`.

[2016-05-24 12:48] devos50 commented on #2133
@lfdversluis the `netifaces` package appeared to be dependent on `MSVCR90.dll` on the 32-bit machine but not on the 64-bit machine so I recompiled it from source, installed it to the `site-packages` and tested it. So `netifaces` now depends only on `MSVCR90.dll`.

So if I manage to recompile `M2Crypto` with VS2012, we only have two dependencies left.

[2016-05-24 13:46] devos50 commented on #2133
The `M2Crypto` on the 64-bit builder is now also dependent on `MSVCR90.dll`. I tested on Windows 10 and it seems to work. Can you test on windows 7 and 8? See https://jenkins.tribler.org/job/Build-Tribler_Win64/191/ for a builded version. After it works, please remove `vc_redist_100.exe` from the builders.

[2016-05-24 13:48] lfdversluis commented on #2133
@devos50 did you verify the packes with dependency walker?

[2016-05-24 13:50] devos50 commented on #2133
@lfdversluis yes, see https://gyazo.com/3750b9733094e75abf25b6951f2cb1b6 and https://gyazo.com/cd954bd21d90187c0219f35c75d0dada

[2016-05-24 13:54] lfdversluis commented on #2133
Ok then i'll test the builds using the proxmoxes

[2016-05-24 14:01] lfdversluis commented on #2133
Works on win 8

[2016-05-24 14:01] brussee opened #2231 "Minimal viable Android app"
- [x] Search results
- [x] Click to stream
- [x] Record video
- [ ] Extract thumbnail
- [x] Create My Channel
- [x] Add to My Channel
# Performance experiments:
- [x] Startup time
- [x] Cpu usage during idle, tunnels, download, streaming (HD)
- [ ] Search results response time
- [x] REST API benchmark
- [x] Multichain record creation cost
- [x] Code coverage
- [x] CProfiler 10 min. run
- [x] Publi

[2016-05-24 14:02] lfdversluis commented on #2133
The reason I asked for dependency walker is that if it still tries to find msvc100.dll, it will find it because it is installed on my machine and the proxmoxes because of earlier installers being ran.

[2016-05-25 12:58] lfdversluis opened #2234 "Delete in sqlitecachedb is broken when passing a tuple."
It passes args.values() which is wrong. No test was written for this and luckily no code calls it, else it would've crashed.

[2016-05-26 08:37] lfdversluis opened #2236 "Paths fo torrents are decoded as utf-8 which may lead to an error"
Problem is in line ` File "/home/jenkins/workspace/GH_Tribler_PR_tests_linux/tribler/Tribler/Core/APIImplementation/maketorrent.py", line 246, in pathlist2filename
    return fullpath.decode('utf-8')`

It will lead to a `exceptions.UnicodeDecodeError: 'utf8' codec can't decode byte 0xf1 in position 62: invalid continuation byte` if it's not utf-8. Many alphabets will cause a crash thus. Should be

[2016-05-26 08:57] lfdversluis opened #2237 "Msc work: Compare performance improvement of the new torrent checker"
The new torrent checker has been integrated for responsiveness reasons, however we'd like to have a nice graph that shows other improvements too such as the number of torrents it can check now per time unit.

[2016-05-26 08:57] lfdversluis commented on #2237
@whirm Can you assign this to me please?

[2016-05-26 09:35] synctext commented on #1882
Approach: our exit node helpers are maxed out in CPU. It will be extremely valuable to profile them, identify hotspots, test improvements, and benchmark various changes in the field.
This could move our donated network capacity from 9 TByte/day to perhaps even 15TByte/day.

[2016-05-26 09:37] lfdversluis commented on #1882
I would love to profile them yes. I already have a hunch where bottlenecks are, but it would be great having a profiler output data that can be visualized by e.g. KCacheGrind to verify and confirm the bottlenecks.

[2016-05-26 10:35] whirm commented on #2224
@synctext maybe you want to have a look at this one?

[2016-05-26 12:22] whirm opened #2239 "The tunnel community depends on cherrypy"
It should be using Twisted's facilities.

[2016-05-26 12:47] whirm commented on #2236
How did you trigger this?

[2016-05-26 13:06] lfdversluis commented on #2236
I got it from a test run this morning. https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/1430/testReport/junit/Tribler.Test.test_remote_search/TestRemoteChannelSearch/test_channel_search/

[2016-05-26 13:15] #2234 closed

[2016-05-26 13:30] whirm commented on #2236
For future reference:

[code]

[2016-05-26 13:32] whirm commented on #2236
utf-16 would be just guessing again, I guess the nicest way would be to use `chardet` as we will be receiving torrents of all sorts.

[2016-05-26 18:11] lfdversluis commented on #2239
Is this really a bug? More like enhancement right?

[2016-05-27 07:58] whirm commented on #2239
It shouldn't be using it, that was an oversight from my side when I merged the PR.
It's holding a dependency that should be gone when all the wx gui code is gone. (the web iface is also using cherrypy, and I was planning on removing it at the same time than WX).

[2016-05-27 08:18] qstokkink commented on #2106
Something threw a wrench in the works, (very likely) preventing a pull request from being available this monday: the communities use some of the Dispersy routing information in their logic. [Out of the 37 header fields, 8 are currently being used inside the communities , 1 is deprecated due to the switch to Protocol Buffers and 1 is a duplicate field](https://gist.github.com/qstokkink/b37cd07b22a2

[2016-05-28 12:39] YakovL commented on #1420
Another option: in the list of downloads, in torrent details, files tab in lines corresponding to video files add "stream" button (or add somewhere in the "torrent details" tab).

[2016-05-28 13:17] lfdversluis commented on #1420
@YakovL A new GUI is being developed. This GUI will feature streaming more prominently :+1:

[2016-05-28 13:25] brussee opened #2240 "Add torrent via Emercoin requires refactoring"
EmercoinMgr requires the Utility class in Main to read config.

Currently the restapi has this commented out.
[code]

[2016-05-28 13:46] YakovL opened #2241 "Add rewind (jump in playback) keyboard shortcuts for streaming"
I'm using Tribler 6.5.1. When watching a video using streaming I sometimes want to jump several seconds back or forth, but doing it by exiting fullscreen mode and moving the "cursor" is not convenient, so it would be lovely if keyboard shortcuts are implemented. I'd propose ctrl+left/right for 1 min rewind and shift+left/right for 3 sec rewind (and may be alt+left/right for 10 sec rewind) like [in

[2016-05-29 11:16] devos50 commented on #2226
I found out that this error occurs when remote search results from Dispersy are coming in (which have a different dictionary structure). I will fix this as soon as possible.

[2016-05-30 05:27] synctext commented on #2240
please delete all support, instead of investing time.

[2016-05-31 08:33] synctext commented on #2131
Algorithm for peer list:
 - continuously actively crawl the app-to-app overlay (start on app open)
 - Using PEX you obtain a list of peers to which this peer has an active connections.
 - You attempt to establish a connection, resulting in either a green or red status
 - [Puncture-request message](http://dispersy.readthedocs.io/en/devel/wire_protocol.html#dispersy-puncture-request) is used for NAT

[2016-05-31 10:19] #2110 closed

[2016-05-31 11:50] #2124 closed

[2016-05-31 11:50] #2169 closed

[2016-05-31 11:50] #2201 closed

[2016-05-31 12:30] devos50 opened #2243 "DefaultDownloadStartupConfig should be moved to the core"
The `DefaultDownloadStartupConfig` class should be moved to the core. Currently, it's located inside the `Main` package but `DefaultDownloadStartupConfig` is used by various files in the core, i.e. `LibtorrentMgr`, creating unnecessary dependencies between the Core and Main modules.

[2016-05-31 14:11] whirm opened #2244 "The tunnel helper service needs refactoring"
- The singleton stuff in Tunnel should go away
- The constructor shouldn't start tribler
- it should use the TaskManager instead of taking care of the looping calls individually
- All the non twistd specific code should be moved into the tunnel community package and
- It needs to be properly tested

[2016-05-31 16:22] qstokkink commented on #2106
Some somewhat exciting news: [the first functional community port (allchannel)](https://github.com/qstokkink/tribler/tree/protobufserialization/Tribler/community/allchannel) runs its gumby experiment without producing errors.

[2016-05-31 19:27] lfdversluis commented on #68
I think this issue can be closed as @qstokkink has implemented a protobuf oriented solution. Capnp is not available on the official repos and can therefore not be used.

[2016-05-31 19:27] lfdversluis commented on #918
@whirm this one can be closed :)

[2016-05-31 22:23] defnax opened #2245 "Live Streaming with Tribler"
Hello Devs,

What with Live Streaming on Tribler?
it was planned, but its removed completly from Tribler?

It would be cool to stream, live via Webcam, Desktop, Video source to Tribler.

more old infos:
https://www.tribler.org/LiveStreamingBeta/
https://www.tribler.org/LiveStreaming/
https://www.tribler.org/StreamingExperiment/
https://www.tribler.org/Tutorials/ExampleFeedSetups/

[2016-06-01 06:36] synctext commented on #2245
This is no longer a goal.

We made operational prototypes,but we need to focus our functionality and resources sadly.

[2016-06-01 06:38] #2245 closed

[2016-06-01 06:43] #68 closed

[2016-06-01 11:18] lfdversluis commented on #2215
Small update: ran the unit tests a while ago and measured the sqlitecachedb class of Tribler running the Tribler unit tests (so dispersy also runs but **not** captured. The results indicated around 1-2% of the time was spend on IO, not significant at all thus.

Dispersy has a lot more IO and therefore impact. Running the Dispersy unit tests and profile dispersy should already indicate how much of

[2016-06-01 12:58] vi opened #2247 "Tribler stops seeding a download after I play and stop it."
##### Tribler version/branch+revision:

devel, a59a8f38195a01722993c1c8dbe600d636e5afae
##### Steps to reproduce the behavior:
1. Choose some completed video file download in "Seeding" state
2. Play It
3. Stop the player, remove it from player's list by pressing "X"
##### Expected behavior:

The download goes on seeding both while playing and after stopping the player
##### Actual behavior:

The d

[2016-06-01 13:09] lfdversluis commented on #2215
Running only the dispersy unit tests and profile Dispersy shows similar results. Here is a screenshot when only filtering on database items:

![% of time spend in DB functions](https://gyazo.com/2232f5f5a4dab8d07b7df6ebed5aa704.png)

The .incl is the percentage of time spent in that function, which amounts to ~4%. So the unit tests do not perform much database activity (as somewhat expected).
I th

[2016-06-01 14:58] synctext commented on #2224
that is unmaintained Java code. Not something we can use.

[2016-06-01 14:59] #2224 closed

[2016-06-01 15:04] synctext commented on #2140
we use the Tor wire protocol. With their e2e handshake for hidden services. Our extension and modification remove the need for any central server.
note: our code is far from as mature as their 13 years old codebase.

[2016-06-01 15:04] #2140 closed

[2016-06-01 15:06] synctext commented on #2104
old code, should be removed.
back from our decentral Facebook days..

[2016-06-01 15:08] #2104 closed

[2016-06-01 15:15] synctext commented on #1646
zeronet is moving into another direction as Tribler.
Not really compatible.

[2016-06-01 15:15] #1646 closed

[2016-06-01 15:16] #1626 closed

[2016-06-01 15:18] synctext commented on #1034
new GUI coming, closing.

[2016-06-01 15:18] #1034 closed

[2016-06-01 15:20] #855 closed

[2016-06-01 15:23] synctext commented on #9
proved too difficult

[2016-06-01 15:23] #9 closed

[2016-06-01 15:23] #8 closed

[2016-06-01 15:26] synctext commented on #6
@fdversluis For the past 3 years we've worked with limited success on solid profiling. Please include these failures in thesis briefly.
Tor exit nodes are easier hopefully..

[2016-06-01 15:26] #6 closed

[2016-06-02 07:15] Getron opened #2249 "Tribler should listen to the system themes on Linux"
Hi

Just installed the tribler, and i'm on Netrunner 2016.01 Arch KDE Rolling release Linux, with the dark theme and QtCurve.

Tribler doesn't listen to default theme from system, it is just white, and some spaces dark.

Can we make it to adapt itself to the system themes on Linux?

It would be great.
![auswahl_236](https://cloud.githubusercontent.com/assets/5913218/15736791/7c9b1f7a-28a2-11e6-962

[2016-06-02 10:24] devos50 opened #2250 "The relevance ranking algorithm when searching in Tribler needs to be redesigned"
When searching in Tribler, search results (which can consist of torrents and channels) are ranked according to several criteria. Channels and torrents are sorted separately from each other. The associated channels of the torrents are also determined and in case a torrent is present in more than one channel, the channel with the highest number of votes is taken.

Channels are sorted based on the nu

[2016-06-02 13:34] #918 closed

[2016-06-02 13:39] whirm commented on #2249
Thanks for the report!

A new (Qt based) GUI is on its final stages of development which sports a non-native look (will look the same on Linux/OSX/Windows).

I'll close this as won't fix.

[2016-06-02 13:39] #2249 closed

[2016-06-02 14:03] ardhipoetra opened #2251 "Alert for save_resume_data"
I noticed that there are not any alert for receiving `save_resume_data`. I have mentioned this in closed PR https://github.com/Tribler/tribler/pull/1990.

A bit explanation :
In previous (deprecated) call, `write_resume_data` is synchronously (blocked call) returned the so-called resume data.

In new call, `save_resume_data` is returned immediately (in my case : `None`). After resume data is ready

[2016-06-02 20:06] Captain-Coder commented on #2189
This was definately my intent when I implemented this. The total counter needs to count everything. This is usefull for people who have a bandwidth cap, it should provide a resonable estimate for the bulk of the bandwidth used. So this counter simply counts received+sent through the anon tunnels.

For the balance counter mostly my thought was "a positive balance should be a positive thing". The tr

[2016-06-02 22:37] vi commented on #2189
I though, that
* produced anonymous bandwidth = bandwidth we relayes for others (for their seeding/leeching);
* consumed anonymous bandwidth = bandwidth others relayed for us (for our seeding/leeching).

I think all three counters (consumed for leeching, consumed for seeding, produced by relaying) should be visible. How to define balance is another question:

* balance = relay - anon_seed - anon_l

[2016-06-03 10:30] whirm commented on #2251
So download state is not being stored to disk ever?

[2016-06-03 11:32] devos50 commented on #2250
@whirm I need this for the new GUI and I almost have a proposal ready. Can you adjust the milestone and assign the issue to me?

[2016-06-04 18:32] brussee opened #2255 "RestAPI is needs connection priority for GUI"
The twisted plugin running in an Android service process is starting to drop connections quite soon after a fresh install.
It appears that for example the tunnel community makes the gui requests wait and very often time out.
Every dropped gui request to the api is a show stopper to the user, so must be prioritized.

[2016-06-05 10:26] lfdversluis opened #2256 "Investigate if __init__s are doing DB IO and remove them if so."
We are going to move to an async IO system and as __init__s are supposed to be synchronous, calls to what eventually will lead to DB IO will have to be moved away.

[2016-06-05 13:21] devos50 commented on #2250
A first implementation of the algorithm as outlined above can be found here: https://gist.github.com/devos50/71b44339914259c82515f21846ee8173.

[2016-06-05 15:54] lfdversluis commented on #2256
Bartercast seems to do io in the init, havent found much else (my mac mini is slow so some tests timeout)

[2016-06-06 02:58] taoeffect opened #2257 "[security] Signature check failed."
#### Please, fill all relevant items: ####

- [x] I have read CONTRIBUTING.md

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

https://github.com/Tribler/tribler/releases/tag/v6.5.2

##### Operating system and version: #####

OS X

##### Expected behavior: #####

For signature to verify

##### Actual behavio

[2016-06-06 06:19] synctext commented on #2257
Many thnx for reporting this!
We're looking into it.

[2016-06-06 06:24] synctext commented on #2250
nice!
please try to write text and document this in a thesis.tex manner, instead of less formal issue rockets.  saves work..

[2016-06-06 08:37] lfdversluis opened #2258 "Tribler has a scalability problem when adding torrents with many files"
As we found out last week with the chardet being slow issue, having a torrent with many files seem to slow down the processing significantly, something is off.

We should plot/visualize/print this behaviour (create fake torrents with many files) and fix it. Then rerun the same torrents and verify the plotted/visualized/printed behaviour is better.

[2016-06-06 08:37] lfdversluis commented on #2258
@devos50 do you know in which module/file this was?
@whirm can you assign me?

[2016-06-06 11:28] devos50 commented on #2258
Yes, when adding the torrent `bak_multiple.torrent` in the `Tribler/Test` data directory. The specific test is `Tribler/Test/Core/Modules/RestApi/test_downloads_endpoint:TestDownloadsEndpoint.test_get_downloads`.

[2016-06-06 12:35] whirm commented on #2257
It's working fine here:

[code]

[2016-06-06 13:02] whirm opened #2259 "The tunnel helper will always enable exit mode no matter what argument gets passed to `-x`"
I already had deployed this on the university servers when I decided to manually check if it was working just in case :-1:

[code]

[code]

[code]

[code]

[2016-06-06 13:06] lfdversluis commented on #2259
On my machine:

[code]
and

[code]

[2016-06-06 13:28] lfdversluis commented on #2259
The option was an argument, not a flag so everything passed to it would evaluate to True. Fix is pull requested.

[2016-06-06 13:42] #2259 closed

[2016-06-06 15:36] ardhipoetra commented on #2251
Yes, I think so.

User can still resume the torrent downloading because libtorrent recheck download target.

[2016-06-06 16:18] synctext opened #2262 "StackTrace triggered by multichain due to "Missing member""
Running Devel on Ubuntu and doing an anonymous download. Circuits are less then 400 seconds old.

commit 03685f3cf5895aa69060da213959d2b862cc2506
Merge: 9a98642 1699f1b
Author: Elric Milon whirm@users.noreply.github.com
Date:   Mon Jun 6 15:42:25 2016 +0200

[code]

[code]

[2016-06-07 01:21] taoeffect commented on #2257
Nope:

[code]

Looking at your output, it like it was signed with a subkey that was never exported:

[code]

[2016-06-07 07:35] whirm commented on #2257
Yes it was:
https://pgp.mit.edu/pks/lookup?op=vindex&search=0xF33BAE29011D6ABC

It looks like your key DB is out of date?

[2016-06-07 07:54] whirm commented on #2258
I wouldn't give this one much priority. That's not an operation that happens often and we've got plenty of important issues to address.

[2016-06-07 07:58] whirm commented on #2251
Well, that explains several reports about downloads been checked every time Tribler started.

[2016-06-07 08:01] devos50 commented on #2251
Yeah it's quite annoying to have downloads rechecked every time on startup. Should be an easy one to fix however, just create a new alert type and process it in `LibtorrentDownloadImpl` by writing the resume data to the `.state` config file :)

[2016-06-07 08:04] whirm commented on #2255
There's no such thing as priorities on Twisted. This is more an issue about the tunnel community hogging the twisted thread with long running function calls. Those should be split and/or pushed to the thread pool.

What kind of latencies are you getting?

I'm assigning this to @lfdversluis as he's the one that's supposed to move the crypto stuff to the threadpool once he's done with the DB IO.

[2016-06-07 08:10] lfdversluis commented on #2251
Nice find @ardhipoetra This bug was described here: #2199 and should be fixed I guess by your fix 👍

[2016-06-07 08:32] #2188 closed

[2016-06-07 08:57] #2236 closed

[2016-06-07 11:26] lfdversluis commented on #2217
Turned out not to be feasible:
![callgraph](https://gyazo.com/5523c85793d26fa7c9975e2fcd718733.png)

### Approach 2
I tried converting this .callgrind trace to a dot file and for every `__init__ `in there, perform a depth-first search to see if it lead to a database function.
Result: also not feasible because of decorators. If a function "A" calls a function decorator with "C" that eventually does

[2016-06-07 12:49] pimveldhuisen commented on #2262
This is essentially expected behavior as long as we have a tunnel community with a mix of multichain and non-multichain members. Tribler attempts to send a multichain request to someone it made a tunnel with, but it fails to find this member in the multichain community. It might need to be handled better though, did this actually crash Tribler or just show up in the terminal?

[2016-06-07 18:13] lfdversluis commented on #2133
@whirm I believe this one can be closed as #2168 was merged.

[2016-06-07 21:14] taoeffect commented on #2257
OK, updating from the keyserver worked. I am confused though then as to why downloading the key itself from this repo, and re-importing it did not? Could it be that key needs updating as well?

[2016-06-08 08:26] whirm commented on #2257
Hm, let me come back to you on that one.

[2016-06-08 08:34] #2133 closed

[2016-06-08 09:01] synctext commented on #2131
The walker is getting operational. No more Hello World or keyboard entry popup. Tighter GUI design:
![gui](https://cloud.githubusercontent.com/assets/325224/15888705/45db57c8-2d68-11e6-8c60-e442261a37b4.png)

[2016-06-08 11:46] lfdversluis opened #2267 "UDP tracker has two transaction_ids"
And only one gets set and the other one gets used.

[2016-06-08 13:41] qstokkink commented on #706
[For now the allchannel, bartercast4, channel, demers and template communities have been ported.](https://github.com/qstokkink/tribler/tree/protobufserialization)
I am holding off on the multichain and tunnel community as they are still being edited.
Furthermore, I am holding off on the search community, as it would require major refactoring and should therefore probably have its own separate pull

[2016-06-08 14:06] lfdversluis opened #2271 "Exception on current devel"
[code]

https://jenkins.tribler.org/job/Test_tribler_devel/1292/testReport/junit/Tribler.Test.test_i2i_download/TestI2IDownload/test_i2i_running/

Weird line in there:

[code]

[2016-06-09 10:36] #2267 closed

[2016-06-09 11:55] #2183 closed

[2016-06-09 12:13] devos50 opened #2275 "Torrents cannot be removed from a playlist"
It appears that torrents cannot be removed from a playlist from the GUI. Trying to remove a torrent has no effect. In the command line, it says the following:

[code]

So probably, it is creating an undo message but it is ignored somehow.

[2016-06-09 16:18] #2257 closed

[2016-06-09 16:19] whirm commented on #2257
@taoeffect Fixed! Turns out I pushed the updated key to the key servers but forgot to update the one in the repo.

Thanks a lot for reporting it.

[2016-06-10 08:59] devos50 opened #2277 "Error when running tests on latest devel"
When running the tests on Mac (locally), the following error occurred (at random):

[code]

We've also seen this one in at least one other PR (#2274) during the test execution. I will fix it as separate commit in my PR #2253.

[2016-06-10 09:30] lfdversluis commented on #2277
This was introduced by @brussee and triggers at random. Also seen at https://jenkins.tribler.org/job/GH_Tribler_PR_tests_mac/1466/testReport/junit/Tribler.Test.Core.test_session/TestSessionAsServer/test_add_torrent_def_to_channel/ in #2265

[2016-06-10 09:30] lfdversluis commented on #2277
@brussee Any idea why this might be racy ?

[2016-06-10 11:59] brussee commented on #2277
@lfdversluis It sounds like a missing blocking_call_on_reactor_thread, but @devos50 made this:   File "/Users/martijndevos/Documents/tribler_endpoints/Tribler/Core/Modules/channel/channel.py", line 85, in _on_channel_created
@devos50 Do you know if that callback is supposed to be called on a certain thread or something along those lines?

[2016-06-10 12:02] devos50 commented on #2277
@brussee I did not create that particular method.

I've found the problem and the fix is here (in my outstanding PR): https://github.com/Tribler/tribler/pull/2253/commits/6776fa74a120f148d1845edce178606db400eb8a. The fact that the notifier makes use of the thread pool by default can cause race conditions (in this case, the notification was fired after shutdown which is why `_channel_community` was

[2016-06-10 12:34] devos50 opened #2278 "Many of our activities notifications are unused"
In Tribler, we have some notifications to alert the user about interesting events happening. However, most of these notifications are not used anymore. We are only using `NTFY_ACT_MEET`. All other `NTFY_ACT_*` definitions in `simpledefs.py` can be removed.

[2016-06-11 12:32] vi opened #2281 "Tribler checks already downloaded files too often"
##### Tribler version/branch+revision: #####

devel, 7cd6ed7402d22772e4a09c4520bec1b8553e1fc8

##### Expected behavior: #####

Tribler checks downloads only if it really suspects it may be broken (updated modification date, mismatched file size, explicit user request, rejected block while seeding).

##### Actual behavior: #####

All downloads are checked every time Tribler starts, consuming CPU an

[2016-06-11 14:30] lfdversluis commented on #2281
Semi-dup of #2199 it should be fixed by #2265

[2016-06-11 15:42] colin1497 commented on #1683
FYI, just updated to 6.6, 7cd6ed7402d22772e4a09c4520bec1b8553e1fc8 and it fails to build circuits.  103 seeded torrents.

Just looking at the Windows resource monitor it doesn't appear to be CPU bound.  Resource monitor shows lots of disc activity on the mechanical drive where torrents are stored (60-100MB/s) but I don't hear mechanical drive activity, so it makes me suspect that whatever is being

[2016-06-11 16:44] synctext commented on #1683
@colin1496
We still did not have a look at this, sorry.
The credit rewards for seeding + credit mining have been our prime focus since Feb..
Once that is done, the anon tunnels will get full attention.

[2016-06-11 17:56] colin1497 commented on #1683
No problem, just trying to give as much info as possible.  After checks were completed I restarted and again no joy with almost an identical log file.

[2016-06-11 18:47] lfdversluis commented on #1683
@colin1497 Thank you that is very valuable info. It seems that the IO is too heavy and probably completely blocking the twisted thread, most likely resulting in circuits timing out due to handshake failures and what not. I am currently in the process of making the IO non-blocking by pushing it out of the twisted thread in https://github.com/Tribler/dispersy/pull/481 but this migrating is still und

[2016-06-11 18:56] lfdversluis commented on #1683
Hmm looking at the log file I see `ImportError: No module named csv`

[code]
File "twisted\internet\defer.pyo", line 150, in maybeDeferred

  File "Tribler\Core\Modules\versioncheck_manager.pyo", line 54, in check_new_version

  File "twisted\web\client.pyo", line 1594, in request

  File "twisted\web\client.pyo", line 1578, in _getEndpoint

  File "twisted\web\client.pyo", line 1454, in endpointF

[2016-06-12 10:10] pimveldhuisen opened #2282 "Tribler cannot send half-signed multichain blocks to the multichain crawler"
You might come across this error in the multichain branch:

`ERROR   1465723300.46        dispersy:1747  exception during handle_callback for crawl_request
Traceback (most recent call last):
  File "/home/pim/Tribler/tribler/Tribler/dispersy/dispersy.py", line 1742, in _update
    messages[0].handle_callback(messages)
  File "/home/pim/Tribler/tribler/Tribler/community/multichain/community.py", li

[2016-06-12 10:11] pimveldhuisen commented on #2282
@Captain-Coder Do you foresee any problems with solution 2?

[2016-06-12 17:21] synctext commented on #2282
if this creates a small need to upgrade the DB code, we could..

[2016-06-13 12:06] pimveldhuisen opened #2283 "Invalid call to increase_bytes_sent() in routing.py"
https://github.com/Tribler/tribler/blob/devel/Tribler/community/tunnel/routing.py#L104

Here increase_bytes_sent() is called with the circuit_id (of type long) as the first argument.
However, increase_bytes_sent() only does something when called with a Circuit, RelayRoute or TunnelExitSocket object. This leads to several useless calls per second.

We should either remove this statement or fix it.

[2016-06-13 12:30] devos50 opened #2284 "Refactor the add torrent to channel endpoint"
I would like to propose two changes to the add torrent to channel endpoint:
- We can easily pass the torrent file data using a HTTP multipart request instead of passing the base64 data of the torrent file. I've already done this here: https://github.com/devos50/tribler/commit/2d0efe15e3a12d2c231eb021b600447b269d77b2. After that, we can easily add torrents to your channel using something like:

[co

[2016-06-13 12:35] whirm commented on #2283
@pimveldhuisen will you fix this?

[2016-06-13 13:07] synctext commented on #2106
@whirm How do you want to review this? One round of comments this week or One Giant PR when done? https://github.com/Tribler/tribler/compare/devel...qstokkink:protobufserialization_rc

[2016-06-13 13:30] #2243 closed

[2016-06-13 14:52] whirm opened #2286 "We should get rid of singletons"
They make testing harder as they force us to be aware of all the singletons that get created during a particular tests so we can clean up after it and avoid carrying state across tests.

[2016-06-13 14:57] pimveldhuisen commented on #2283
@whirm At the moment I'm not sure whether we should 'fix' the statement, changing the actual behavior of Tribler (which seems somewhat risky as I don't fully understand all the tunnel code) or just delete the line (which seems wrong). I guess you can assign me for now, if I can't work it out I'll ask for help.

[2016-06-13 15:13] whirm commented on #2283
There is no one related to the tunnel code anymore so I don't know if you will get much help :D

[2016-06-13 15:17] pimveldhuisen opened #2287 "REST API throws errors in console when performing a torrent search"
When searching for any string in the Tribler gui, I get this error:

`Unhandled Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/lib/python2.7/dist-packages/twisted/_threads/_threadworker.py", line 4

[2016-06-13 15:17] pimveldhuisen commented on #2287
@devos50 ?

[2016-06-13 18:54] colin1497 commented on #1683
I am relatively certain that I didn't get the log entries in the session where I deleted tribler.conf and it rechecked every file.  I think that it's only happening when it never is able to build the circuits.

[2016-06-13 19:30] devos50 commented on #2287
@pimveldhuisen I'm aware of the issue but thanks for reporting it! It is due to the fact that remote torrent results are not handled correctly yet since they have a totally different format than torrents in the local database. I've fixed it already in #2264 but that's waiting for another fix. I will create this tomorrow morning and try to get it merged. After that, this issue is solved.

[2016-06-13 19:44] ardhipoetra opened #2288 "Running test on test_events_endpoint with other test using setUpFileServer produces error"
Tested on the most updated `devel` branch.

I keep getting an error about `AssertionError: The reactor had readers/writers left` in some testcases. It seems the problem relies whenever I run **together** test : `test_events_endpoint` with other test that use `setUpFileServer` function.

It is tested with `Test/test_libtorrent_download.py` and `Test/API/test_download.py`.

[2016-06-13 19:54] devos50 opened #2289 "Error when running test on devel (due to DefaultDownloadStartupConfig singleton)"
When running tests on devel, the following error is raised:

[code]

[2016-06-13 20:09] devos50 opened #2290 "Error when running test on devel (due to overridden static method)"
When running the unit tests locally, I get the following error:

[code]

This is due to the fact that a static method (`TorrentDef.load_from_url`) is overriden by a 'fake' method. This has consequences for subsequent tests that are making use of the `load_from_url` method in `TorrentDef`: they all call that overriden method.

[2016-06-13 20:26] pimveldhuisen commented on #2287
@devos50 Allright, it's no problem for me specifically, just thought it would be good for you to know :)

[2016-06-13 21:31] egbertbouman commented on #2283
@pimveldhuisen I think you can just change the ```self.circuit_id``` to ```self``` and it should work as intended.

[2016-06-13 21:54] devos50 opened #2291 "Error when running tests on devel (dirty reactor due to rss scrape task left)"
When running the tests on devel, I got the following error:

[code]

Note the following delayed calls:

[code]

Problem: the `ChannelRssParser` is not closed correctly in the `test_channel_rss` tests.

[2016-06-13 21:57] devos50 opened #2292 "Left readers/writers check is broken"
When running the tests on devel, I noticed something very weird.

[code]

I've pinpointed the problem to the events tests which are not closing the event socket properly (which is my bad), however, the assertion triggers only when running a test that is NOT decorated with `@deferred`?!

This example should be easily reproducible by creating a very simple test without `@deferred` decorator, running

[2016-06-13 21:57] devos50 commented on #2288
@ardhipoetra I just noticed that this is related to #2292 ;)

[2016-06-13 22:00] devos50 commented on #2292
For now, I will fix the `test_events_endpoints.py` tests but if this check worked correctly, it would not have  been merged in the first place which should have been the case.

[2016-06-13 22:56] ardhipoetra commented on #2292
In my case, one of the test is using `@deferred` decorator but still producing those errors

[2016-06-13 22:58] ardhipoetra commented on #2289
Second this.

One of the workaround is to delete the instance of `DefaultDownloadStartupConfig` in `tearDown`. I used an instance in a class, and need to manually invalidate it in my test case.

[2016-06-14 06:54] devos50 commented on #2289
@ardhipoetra I will PR a fix today ;)

[2016-06-14 08:40] devos50 opened #2294 "The create_channel method in channel_manager.py should return a deferred when the channel is created"
Currently, we have some race conditions with the notification system when testing the creation of a channel. To fix this, we should let the creation of a channel return a deferred that fires when the channel has been created (when the create channel notification comes in). This way, we can wait in the tests for the deferred to fire and then continue.

[2016-06-14 08:41] devos50 commented on #2294
@whirm can you assign me to this one? I will work on this now.

[2016-06-14 08:42] devos50 commented on #2288
@ardhipoetra this is fixed in #2293.

[2016-06-14 10:03] whirm commented on #1683
@colin1497 you need to install `python-openssl`

[2016-06-14 10:04] whirm commented on #1683
@colin1497 if you are running from git, you should install all the dependencies listed on `debian/control`

[2016-06-14 10:06] whirm commented on #2185
@colin1497 restarting when running a non-packaged version of Tribler is simply not implemented.

[2016-06-14 10:11] whirm commented on #2292
@lfdversluis you implemented this check right? should I assign this to you?

[2016-06-14 10:17] lfdversluis commented on #2292
@devos50 do you mean that this check should also fire WITH a `@deferred` decorator above a test?

[2016-06-14 10:20] devos50 commented on #2292
@lfdversluis when running `Tribler/Test/Core/Modules/RestApi/test_events_endpoint.py`, it ignores the open event socket I'm leaving behind. The reader/writers check does not recognize this somehow and the tests are passing as you can see in my posted logs.

It gives an error however on the first test that is not decorated with `@deferred` so I'm suspecting that something goes wrong with the check

[2016-06-14 10:24] lfdversluis commented on #2292
Maybe nose is doing weird stuff then.. hmm

[2016-06-14 10:24] lfdversluis commented on #2292
Do you use Twisted's reactor or nose's?

[2016-06-14 10:28] lfdversluis commented on #2292
I just checked it's identical to Twisted's Trial Janitor check here: https://github.com/twisted/twisted/blob/trunk/twisted/trial/util.py#L171 so I doubt there is something wrong with the check. I think it's the combination of nose + this that goes wrong.

[2016-06-14 10:31] vi commented on #2185
If it is tricky to implement then a proper message should be shown instead.

[2016-06-14 13:29] #2288 closed

[2016-06-14 13:29] #2289 closed

[2016-06-14 13:29] #2290 closed

[2016-06-14 13:29] #2291 closed

[2016-06-14 13:47] whirm commented on #2292
Haven't looked at the code, but maybe the check is not running on the right thread on all cases or something like that?

[2016-06-14 13:47] whirm commented on #2292
In any case it needs to be investigated and fixed

[2016-06-14 13:50] whirm commented on #2185
I don't think it's tricky. Simply it hasn't been done yet. (we have to prioritize).  That's something that a volunteer could contribute with relative ease.

[2016-06-14 15:15] #2277 closed

[2016-06-14 15:17] devos50 commented on #2294
We've decided to go with another approach, see #2295

[2016-06-14 15:17] #2294 closed

[2016-06-14 16:38] ardhipoetra opened #2296 "Unexist flags calculate_file_hashes"
In libtorrent 1.1.0.0, flags `calculate_file_hashes` is not exist. This will produce an exception whenever function `create_torrent_file` is called.

Reference : https://github.com/Tribler/tribler/blob/devel/Tribler/Core/Utilities/torrent_utils.py#L30

[2016-06-14 17:01] #2287 closed

[2016-06-15 14:17] lfdversluis opened #2298 "Error when running the unit tests"
[code]

Reference: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/1884/testReport/junit/Tribler.Test.Core.Libtorrent.test_libtorrent_mgr/TestLibtorrentMgr/test_get_session_one_hop/

[2016-06-15 16:19] kucengemok opened #2299 "6.52 crashed after launch"
tribler.conf
-[Tribler]
version_info = {'first_run': 1466006762, 'version_id': '6.5.2'}

[downloadconfig]
version = 15
saveas = C:\Users\admin\Downloads\TriblerDownloads
max_upload_rate = 0
max_download_rate = 0
mode = 0
hops = 0
selected_files = []
correctedfilename = None
safe_seeding = True
seeding_mode = ratio
seeding_ratio = 2.0
seeding_time = 60

windows vista.

[2016-06-15 16:20] kucengemok commented on #2299
Tribler.exe.log
-Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 183, in __init__
  File "Tribler\Core\Session.pyo", line 419, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 152, in register
  File "Tribler\dispersy\dispersy.pyo", line 49, in <module>
ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.

[2016-06-16 08:00] devos50 opened #2301 "Convert documentation of Tribler to Sphinx and host it on readthedocs"
Like dispersy, the documentation of Tribler should be converted to Sphinx and be hosted on readthedocs. This also allows us to create a nice documentation document for the REST API.

[2016-06-16 08:00] devos50 commented on #2301
@whirm can you assign this to me? Currently working on this.

[2016-06-16 08:01] devos50 commented on #2226
@whirm or @lfdversluis can you close this once (since it's fixed by #2264 )?

[2016-06-16 08:47] #2226 closed

[2016-06-16 08:56] Captain-Coder commented on #2282
It seems identifying half signed blocks is done by checking against the responder hash being empty. In such cases the values in the responder total_up/total_down are very much "don't care".

Another option would be to:
3) use the max value of the Q format code (unsigned 64 bits iirc) as "invalid" (encoded as all 1s), but this is less attractive from a python point of view since python can handle a

[2016-06-16 09:36] ardhipoetra opened #2302 "Error on linux when running test"
Appears [here](https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/1845/artifact/output/test_runners_output/00006.err/*view*/) (warning, big file)
[code]

It occurs several times, retesting sometime success.

[2016-06-16 09:58] ardhipoetra opened #2303 "Error on mac when running credit mining test"
This error sometime occurs in PR #2064. It seems there is a race condition, but I can't find exactly the problem.
[code]

[2016-06-16 12:17] ardhipoetra opened #2304 "Move 'managers' to core"
I think the 'managers' (`LibraryManager`, `ChannelManager`, `TorrentManager`) in `Tribler/Main/vwxGUI/SearchGridManager.py` should be moved to Core. This is important for GUI-Core separation. Currently, those managers relies in GUIUtility and mixes up some stuff in GUI.

[2016-06-16 12:43] synctext commented on #2131
Stability issues, GUI mistakes, but running!
![screenshot_20160616-144218](https://cloud.githubusercontent.com/assets/325224/16117105/afc4c55c-33d0-11e6-993a-35668f2b583d.png)

[2016-06-16 13:16] synctext commented on #2131
ToDo: permanent storage of the unique identifier. Overwrite Peer-List duplicates upon arrival, only keep last incoming packet of same hash.

[2016-06-16 13:30] synctext commented on #2131
Fixes and polish:
 - 5 Second real-time update
  - outgoing peers
  - WAN address (not WAN vote) + "local IP"
  - last ping to each peer
 - graceful handling of 4G to wifi switch.
 - permanent storage of the unique identifier.
 - Overwrite Peer-List duplicates upon arrival, only keep last incoming packet of same hash.
 - stability....

[2016-06-16 13:31] whirm commented on #2299
@kucengemok apparently there was an issue loading netifaces.

@lfdversluis could you take care of guiding him through the dependency walker stuff to see what's missing?

[2016-06-16 13:57] whirm opened #2305 "'log_test' error when running test_get_infohash"
I've seen this one happening several times already:

[code]

[2016-06-16 14:26] lfdversluis commented on #2299
Sure!

Hi @kucengemok to see why netifaces could not be loaded, could you please do the following steps?

1. Download [Dependency walker](http://www.dependencywalker.com/). (it's only ~500kb)
2. Open dependency walker and open/load `netifaces.pyd` in the program. `netifaces.pyd` can be found in `C:\Program Files (x86)\Tribler`, the default installation location (or where you've installed Tribler).

[2016-06-16 14:37] pimveldhuisen commented on #2282
I will implement a switch to 0 by default then. Switching to unsigned seems like a waste of a bit and to make the format less intuitive/elegant.

[2016-06-16 15:09] lfdversluis opened #2307 "Error in API tests"
[code]

Reference: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win64/1528/artifact/output/test_runners_output/0.err/*view*/

[2016-06-16 21:33] kucengemok commented on #2299
http://postimg.org/gallery/ijm9wse0 please check...

https://s31.postimg.org/oyw1w0i3v/How_2.jpg
https://s31.postimg.org/7mvpakomj/How.jpg

[2016-06-16 21:39] colin1497 commented on #1683
Downloading Windows installer builds from Jenkins.  I shouldn't have to separately install dependencies in that scenario, should I?

[2016-06-17 04:29] synctext commented on #1683
ah, the unchecked latest Windows builds. Fresh from Jenkins.Tribler.org then?

These are not often checked if they function OK.
It would be good to check if this bleeding edge code, freshly installed can seed just one swarm correctly in Anon mode.

[2016-06-17 08:51] lfdversluis commented on #2299
@kucengemok It looks like MSVCR90.dll cannot be found. I have checked out builder and this file was missing indeed. I will build a new version which should include this, or additionally you can install MSVCR90 from here: https://www.microsoft.com/en-us/download/details.aspx?id=29 and then run tribler.

Thanks for posting this.

[2016-06-17 08:56] lfdversluis commented on #1683
@colin1497 The devel branch is almost exclusively used by developers that are adding additional dependencies (e.g. I am adding several at the moment). So often we add dependencies on our machines before we add them to the builders to check everything is working. The builders then ship these with the installers :)

As @synctext said, there are not regular checks on devel. Our next branch is far mor

[2016-06-17 08:58] lfdversluis commented on #2299
@whirm Apparently the builder is offline, it's this one right? https://jenkins.tribler.org/job/Build-Tribler_WinSrvr2008R2_64_next/

[2016-06-17 12:04] colin1497 commented on #1683
Apologies guys, I had been pulling next branch builds previously, and had an issue in 6.5.2 and went to jenkins to grab latest build to see if same issue still existed.  Geez, I can see that I clearly ended up grabbing devel branch versions.  /facepalm

[2016-06-17 12:29] kucengemok commented on #2299
installed..but it load..then nothing appeared...but can see it in process explorer...

[2016-06-17 12:30] lfdversluis commented on #2299
@kucengemok Any crash log this time?

[2016-06-17 12:36] kucengemok commented on #2299
https://s32.postimg.org/enb260zhh/Tribler_2.jpg

same thing...

"Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 183, in __init__
  File "Tribler\Core\Session.pyo", line 419, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 152, in register
  File "Tribler\dispersy\dispersy.pyo", line 49, in <module>
ImportError: DLL load failed: A dynamic l

[2016-06-17 12:38] lfdversluis commented on #2299
@kucengemok ok, could you repeat the dependency walker step again? We should see that it can find MSVCR90 now. Make sure to click on the "module" header at the bottom page in step 5 to sort them by name.

[2016-06-17 12:42] kucengemok commented on #2299
https://s31.postimg.org/bs9tnyk2j/Tribler_3.jpg

[2016-06-17 12:43] #2227 closed

[2016-06-17 12:48] lfdversluis commented on #2299
Hmmm unfortuntately no output in that screen. Can you open `netifaces.pyd` again in Dependency Walker and repeat the steps in https://github.com/Tribler/tribler/issues/2299#issuecomment-226501402 ?

[2016-06-17 12:52] kucengemok commented on #2299
https://s31.postimg.org/i3p6m7fln/tribler_5.jpg

[2016-06-17 12:55] lfdversluis commented on #2299
@kucengemok ok so MSVCR90.dll can be found now.

So this means there is another error. Could you load `tribler.exe` into Dependency walker this time? And show me the overview?

Thanks for helping bug  hunting by the way 👍

[2016-06-17 13:02] kucengemok commented on #2299
https://s31.postimg.org/3s04d3xmj/tribler_7.jpg

[2016-06-17 13:06] whirm commented on #1683
@colin1497 heh, no worries, at least we know it needs to be fixed now :)

@lfdversluis maybe this is due to the MSVC rebuild you did? Maybe you forgot something onthe python-openssl dll chain.

[2016-06-17 13:07] #2282 closed

[2016-06-17 13:10] lfdversluis commented on #2299
@kucengemok This looks good, all dlls can be found that are needed by tribler. Is there a `tribler.exe.log` in `C:\Program Files (x86)\Tribler` ? If so, could you paste it here?

[2016-06-17 13:12] kucengemok commented on #2299
none

[2016-06-17 13:15] lfdversluis commented on #2299
Are there any logs in `%APPDATA%` by any chance?

[2016-06-17 13:20] kucengemok commented on #2299
C:\Users\admin\AppData\Roaming

as usual..
"Traceback (most recent call last):
  File "Tribler\Main\tribler_main.pyo", line 183, in __init__
  File "Tribler\Core\Session.pyo", line 419, in start
  File "Tribler\Core\APIImplementation\LaunchManyCore.pyo", line 152, in register
  File "Tribler\dispersy\dispersy.pyo", line 49, in <module>
**ImportError: DLL load failed: A dynamic link library (DLL) i

[2016-06-17 13:31] lfdversluis commented on #2299
@kucengemok are you running windows vista? If so, we will try to run Tribler on this windows version and check if we can reproduce the issue.

[2016-06-17 13:38] kucengemok commented on #2299
yup..vista business with kapersky AV,bitdefender anti-ransomware

[2016-06-17 13:39] kucengemok commented on #2299
what to do..this is my office's computer..for my own use,im using win 8.1...

[2016-06-17 13:51] lfdversluis commented on #2299
@kucengemok So you are running WIndows Vista and Windows 8.1. and on neither windows version Tribler works?

[2016-06-17 13:57] kucengemok commented on #2299
on my office's computer - Vista...my own computer armed with 8.1..vista runs okay...

[2016-06-17 14:00] lfdversluis commented on #2299
Oh so the issue is on WIndows 8.1? Ok that is good to know.

[2016-06-17 14:01] kucengemok commented on #2299
at vista OS..that's the problem.

[2016-06-17 14:02] kucengemok commented on #2299
the error came from the system with vista....so maybe tribler is not well optimized for vista,right?

[2016-06-17 14:03] kucengemok commented on #2299
Let me clear it..

Tribler on Vista = failed to work. - Now the problem occurred right now came from the computer armed with Vista OS.

Tribler on Windows 8.1 = Okay.

[2016-06-17 14:05] lfdversluis commented on #2299
Ahhh ok. We do not have automatic tests on vista, so it may be that there is indeed an issue with it. We will install a machine in vista and try to reproduce your error. I will keep you updated 👍

[2016-06-17 14:27] kucengemok commented on #2299
@lfdversluis Please install these too as who knows these might be the culprit?

kapersky AV,bitdefender anti-ransomware

[2016-06-18 12:45] lfdversluis commented on #2299
@kucengemok You are right, we once noticed anti virus software can block items of tribler.

@devos50 Can you test Tribler on windows vista? Preferably with the programs above?

[2016-06-18 18:16] synctext opened #2312 "log:443 Unhandled Error"
Running bleeding edge devel on an Ubuntu 14.04 box, straight from the cmdline.
Multi-chain enabled. I think I was on the main search page. Suddenly a freeze and complete lockup. Waited 2+ minutes, but Tribler died.

commit b72db1ace90bef7cc6504dcea8891e9c10eee3c6
Merge: 588dad4 b63b518
Author: Elric Milon whirm@users.noreply.github.com
Date:   Fri Jun 17 15:07:53 2016 +0200

[code]

[code]

[2016-06-18 19:20] synctext commented on #1524
ai, poped up again. Fresh Tribler source code sheckout. Running bleeding edge devel from cmdline on Ubuntu 14.04.

commit b72db1ace90bef7cc6504dcea8891e9c10eee3c6
[code]

[2016-06-19 05:36] synctext opened #2313 "assert self._cursor is not None, "Database.close() has been called or Database.open() has not been called""
Multichain produced this error while Tribler was closing.

Error while running with a special libtribler.conf: allchannel, search, channels, preview_channels all = "False".
[code]

[2016-06-20 17:59] synctext opened #2315 "exceptions.AttributeError: 'Port' object has no attribute 'socket'"
New error I've never seen before. Pulled the latest devel and running on Ubuntu 14.04.

commit 3729f7e05b06b076bfeb69ba3463435cbeb3b428
Merge: b72db1a b306cd5
Author: Elric Milon whirm@users.noreply.github.com
Date:   Mon Jun 20 11:01:46 2016 +0200
    Merge pull request #2269 from Captain-Coder/twistd_crawler
    Made crawler into twistd plugin and systemd service unit

[code]

[2016-06-22 10:26] lfdversluis opened #2318 "Socket error during tests on 32 bit windows"
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win32/1670/artifact/output/test_runners_output/1.err/*view*/

[2016-06-22 11:29] devos50 opened #2319 "Proposal: use pyinstaller to build Tribler 7 and onwards on Windows/OS X"
I've investigated [pyinstaller](http://www.pyinstaller.org) and it seems to work (almost!) out of the box on both OS X and Windows. Some minor tweaks were needed to make it work. For instance, I had to change the path of the wx images in the frozen bundle. Also, I had to implement a custom hook due to [this bug](https://github.com/pyinstaller/pyinstaller/issues/1935) on Windows (which should be so

[2016-06-22 11:42] lfdversluis commented on #2319
Sounds great, we would still need NSI installer as unlike the name it is not an installer right?

[2016-06-22 11:44] devos50 commented on #2319
@lfdversluis yes exactly, we still need NSIS unfortunately. It also seems that the Windows bundle is very small (only around 70MB), probably due to the fact that it's stripping DLLs.

[2016-06-22 11:45] lfdversluis commented on #2319
70MB is pretty large, I believe the current installer is ~70MB too.

[2016-06-22 11:48] lfdversluis opened #2320 "Links on the README of the Tribler repo are broken"
They redirect to http://tribler.readthedocs.io/en/devel/contributing.html which does not exist.

[2016-06-22 12:01] devos50 commented on #2320
Ah, the `readthedocs` hook is probably configured incorrectly. @whirm I believe you own the account that maintains the readthedocs entries of Tribler right? Can you take a look?

[2016-06-22 13:51] jkaberg commented on #1107
@devos50 Few things come to my mind now, just wanted to make sure you are aware

Alot of people uses reverseproxy to hide stuff behind an frontend server, so it would be good if you take into account **base url** and [headers](https://en.wikipedia.org/wiki/X-Forwarded-For)

Aswell as the possibility of TLS encryption with self signed and signed certificates.

It's alot easier to implement these th

[2016-06-23 06:52] synctext opened #2327 "exceptions.AttributeError: 'NoneType' object has no attribute 'execute'"
Error upon Tribler close when running bleeding edge Devel on Ubuntu 14.04.

git log |head
commit 113ff1bdd6a0e4f67c86b0c6bb30520fc1e30b45
Author: Elric Milon <whirm@users.noreply.github.com>
Date:   Tue Jun 21 14:34:25 2016 +0200
    Merge pull request #2306 from lfdversluis/fix-general-excepts-channel-community
    Refactored general except in channel community

[code]

[2016-06-23 06:59] synctext commented on #2283
Thnx @egbertbouman for your help. See below a clear fault in byte counting of the tunnel community.  (devel, Ubuntu14.04, commit 113ff1bdd6a0e4f67c86b0c6bb30520fc1e30b45)

During this expertiment I was also solidly uploading several MByte. However, no significant tunnel upload traffic was counted (2.4 KByte in picture).
@pimveldhuisen @Ewout Can we create a unit test for this? Like moving 100MByte

[2016-06-23 08:23] whirm commented on #2320
There's nothing to configure, you either have the hook or you don't.

[2016-06-23 08:26] whirm commented on #2320
From the readthedocs log:
[code]

[2016-06-23 09:02] q155128 commented on #2320
Traceback (most recent call last):
  File "Tribler\Main\vwxGUI\settingsDialog.pyo", line 318, in saveAll
  File "Tribler\Main\vwxGUI\__init__.pyo", line 128, in invoke_func

  File "Tribler\Main\vwxGUI\MainFrame.pyo", line 648, in Restart
pywintypes.error: (2, 'FindExecutable', '\xcf\xb5\xcd\xb3\xd5\xd2\xb2\xbb\xb5\xbd\xd6\xb8\xb6\xa8\xb5\xc4\xce\xc4\xbc\xfe\xa1\xa3')
Traceback (most recent call l

[2016-06-23 12:54] whirm commented on #2320
@q155128 please create issues for problems unrelated to this one (also, please read CONTRIBUTING.rst).

[2016-06-23 18:16] synctext commented on #1885
@lfdversluis forgot about this one. Still, please focus on the async IO topic till end of July.

[2016-06-23 18:19] synctext commented on #1287
This ticket describes what is known as 'performance regression tests'.
Excellent way to test the fresh new core, red flag if performance drops. For instance, below more than 2 standard deviations below the average of last 10 runs.

[2016-06-23 18:31] synctext commented on #1882
Anonymous downloads are quite slow. As of V6.6 pre-release version we have with a solid i7 CPU core at 125% only *330 KByte/sec*. Confirms @whirm his view. Both the tunnel helpers and anon downloader are CPU constrained.

![tribler_6 6pre_full_cpu_tunnel_downloading_kbytes](https://cloud.githubusercontent.com/assets/325224/16315059/f28eb428-3980-11e6-87df-d7b418194db2.png)

[2016-06-23 21:04] lfdversluis commented on #1885
Will do. I hope I can give some love to this though :)

[2016-06-24 06:47] qstokkink commented on #1882
I have made some measurements for the endpoint.py throughput per logging level:
https://gist.github.com/qstokkink/57203ced56dccd95287193d43e7e6a34

Long story short: choosing the wrong logging level can cost you around 400 MB/s throughput.

[2016-06-24 07:52] whirm commented on #1882
@qstokkink hah. Just yesterday I was talking about removing unnecessary log calls when the big cleanup happens with @devos50.

[2016-06-24 09:14] devos50 commented on #2320
@whirm I'm using the `sphinxcontrib-httpdomain` package for the HTTP API rendering part so it's required to build the packages. Apparently, you can add a pip-file or something in the admin settings of `readthedocs` as described [here](https://github.com/rtfd/readthedocs.org/issues/479). Could you please try that and add `sphinxcontrib-httpdomain2` to it?

[2016-06-24 10:25] whirm commented on #2320
@devos50 it now looks for a requirements file at `doc/requirements` please, make a PR adding that.

[2016-06-24 11:26] lfdversluis opened #2329 "Pydeadobjerror in tests"
[code]

Reference: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2141/artifact/output/test_runners_output/00010.err/*view*/

[2016-06-24 11:44] whirm commented on #2329
Please paste both exceptions if they are not the same

[2016-06-24 11:49] lfdversluis commented on #2329
Sure. But the other is only printed half.

[code]

[2016-06-24 12:02] #2320 closed

[2016-06-24 13:04] devos50 opened #2333 "Error in REST API when fetching all discovered channels on win32 tester"
I got the following error on the Windows 32-bit tester:

[code]

Apparently, we cannot make any assumptions on the order of incoming data. We should remove this check.

[2016-06-24 13:17] whirm commented on #2333
You can still check that you receive all the channels you are waiting for

[2016-06-24 13:18] devos50 commented on #2333
@whirm yeah I'm doing that in #2334, I'm still checking whether I have received the right amount of channels.

[2016-06-24 13:19] whirm commented on #2333
But you are not checking for the right message format then

[2016-06-24 13:35] devos50 opened #2335 "Splitting the events in the events endpoint on newline is not reliable"
In #2324, we discussed about the usage of the newline as separator of JSON documents. This is not reliable enough since the JSON itself may contain newlines. So we need to think of another approach.

I'm thinking about prefixing each event with the length of the coming event dictionary. This could for instance be encoded in 4 bytes. This way, we can read the events connection like:
- read the 4 by

[2016-06-24 14:20] whirm commented on #2335
Something like this would probably be better:

https://github.com/evolvIQ/splitstream

But it's not on Debian and it's a C module. :(

[2016-06-24 14:22] whirm commented on #2335
https://pypi.python.org/pypi/ijson/

[2016-06-24 14:24] whirm commented on #2335
Or maybe even better: every new line, try to parse the buffer, if parsing fails, read until next new line and append to the original buffer and so on.

[2016-06-24 14:32] lfdversluis commented on #2335
Imo that is quite an ugly way to implement a stream parser.

[2016-06-24 14:46] whirm commented on #2335
It's not a stream parser (there's several separate json documents on the stream and each gets completely parsed or not at all)

It's not pretty, but anything else short than using a splitstream-like library or directly switching to stream parsing (ijson) becomes complex and expensive (if you track bracket balancing you need to start checking if they are inside of strings, etc.).

[2016-06-24 14:49] #2333 closed

[2016-06-24 14:53] whirm commented on #2335
@devos50 have you checked if qt has a streaming json parser?

[2016-06-24 17:11] brussee commented on #2335
@devos50 I've looked online and found the same solution as you propose to be te best one.

[2016-06-24 17:12] brussee commented on #2335
Right now I've solved this }{ issue by an ugly split and merge: https://github.com/brussee/tribler/commit/04db91ca6298354114ae23133e1af0e80f3ea1dc

[2016-06-24 21:32] synctext commented on #2335
https://pypi.python.org/pypi/cobs/

that should do the trick, use the 0x00 with byte stuffing.

[2016-06-25 15:09] brussee opened #2340 "twisted_utils.py: reactor.threadpool is NoneType"
Since #2323 on startup of twisted plugin on Android:

[code]

[2016-06-25 15:32] brussee commented on #2340
Same interface: #2325
https://github.com/twisted/twisted/blob/twisted-15.5.0/twisted/internet/interfaces.py#L1268

[2016-06-25 15:35] devos50 commented on #2340
@brussee interesting, can you try this "fix"? https://github.com/Tribler/tribler/pull/2325. Note that this is probably **not** the solution but I'm suspecting that it is caused by something else.

[2016-06-26 07:48] synctext commented on #2283
91GByte-14.4MByte have gone missing. Three different amounts for the tunnels:
 - 91 GByte Upload in _library_ view in just 1 swarm
 - 51 GByte in _community_ total upload counter
 - 2.4 KByte in a typical upload multi-chain _record_ in recent activity (6000 x 2.4 KByte = 14.4MByte overall total)
 - 2-25 MByte in a typical _received signature request_ (89 GByte overal estimate, see parsing and inve

[2016-06-27 09:12] pimveldhuisen commented on #2283
@synctext This is a very useful report, and this is definitely something we should look into. However, this issue refers to a specific line in the code that is unrelated to this problem. I would suggest moving this to a new, separate issue.

[2016-06-27 12:20] whirm commented on #2340
That probably means the reactor hasn't been started before the blocking call on thread tries to schedule something on the threadpool

[2016-06-27 13:30] #2275 closed

[2016-06-27 13:30] #2283 closed

[2016-06-27 19:10] synctext commented on #2283
Nice! Running  commit c983ea553e92e09127f36d41dd3abe6f503a9594
Date:   Mon Jun 27 15:31:46 2016 +0200

Uploads are making more sense. However... Below you can see numerous log entries as 22 tunnels are arranging their multi-chain records within a span of 10 seconds. They _all_ come from the same IPv4:port combo ? _95.211.155.142:6373_

[code]

![tribler_6 6pre_upload_bytes_in_tunnel](https://cloud

[2016-06-27 20:24] synctext opened #2344 "Missing a signature from multi-chain"
Strange. Only 7 out of 8 signatures is showing up in the logfile. All 8 are showing correctly in the 2 screenshots below. 1 of 8 signatures is simply missing in the log, shows a drop (drop a 148 byte packet invalid response identifier). Strange bug, but everything should make 100% sense and be 100% correct...

![screenshot from 2016-06-27 22 12 09](https://cloud.githubusercontent.com/assets/325224

[2016-06-28 08:51] pimveldhuisen commented on #2344
Blocks that would contain less than one MB are not processed (they would be a 0,0 block):
https://github.com/Tribler/tribler/blob/devel/Tribler/community/multichain/community.py#L404
In this case the fourth block of the selection has less than one MB for both up- and download.
I do think the log message could be clearer though.

[2016-06-28 09:55] lfdversluis opened #2345 "Error in test_downloadfromfile"
[code]

Reference: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2216/testReport/junit/Tribler.Test.test_libtorrent_download/TestLibtorrentDownload/test_downloadfromfile/

[2016-06-28 10:32] whirm commented on #2345
It doesn't seem to be failing on `devel`?

Have you double checked that it's not related to your PR?

[2016-06-28 10:39] lfdversluis commented on #2345
@whirm My PR does not use feature a TypeError. If I run it locally:
[code]

[2016-06-28 10:41] lfdversluis opened #2346 "Watchdog trips on my ubuntu 15.10 in test_downloadfromfile (Tribler.Test.test_libtorrent_download.TestLibtorrentDownload)"
Trace:
[code]

[2016-06-28 11:21] whirm commented on #2345
It's on the shutdown splash. I would ignore it.

[2016-06-28 11:39] devos50 opened #2348 "Error in credit mining tests on Mac (causing the tests to hang)"
[code]

See https://jenkins.tribler.org/job/GH_Tribler_PR_tests_mac/1953/

[2016-06-28 18:48] brussee commented on #2340
@whirm This is a major bug, since it is in the twisted plugin and not specific to Android at all.

[2016-06-29 09:11] whirm commented on #2340
@brussee I'll have a look

[2016-06-29 09:32] whirm opened #2352 "Tunnel community failing due to increase_bytes_sent"
This is on current `devel`/`next`

[code]

[2016-06-29 11:36] lfdversluis commented on #2348
Should this be closed now? With #2350

[2016-06-29 11:51] devos50 opened #2356 "Credit mining (tests) are dependent on GUI code (GUIDBTuples)"
During the removal of the wx code, I found out that the credit mining tests (in particular, `test_creditmining_sys.py` are dependent on the (soon to be removed) `GuiDbTuples` package. See for instance `test_chn_lookup` where you are using `CollectedTorrent`.

A quick search learned me that the `GuiDbTuples` package is also used in `BoostingSource.py` and `credit_mining_util.py`.

@ardhipoetra can

[2016-06-29 11:51] whirm opened #2357 "Dirty reactor when running Tribler.Test.test_my_channel.TestMyChannel.test_add_torrents_playlists"
[code]

[2016-06-29 11:53] #2348 closed

[2016-06-29 12:25] ardhipoetra commented on #2356
It also has dependency with `TorrentManager` (in `Main/vwxGUI/SearchGridManager.py`). Is there any module to replace that now?

[2016-06-29 12:44] devos50 commented on #2356
@ardhipoetra that depends on what you need from the `TorrentManager`. Can you explain that?

[2016-06-29 15:00] ardhipoetra commented on #2356
basically, all the process from having only the infohash, to really get the torrent file, store it to torrent_store or database, and an object representation of a torrent.

I need `ChannelManager` as well, but I think I have workaround for that.

In any case, I'm looking at it now.

[2016-06-29 15:11] #2340 closed

[2016-06-29 15:11] brussee commented on #2340
Fixed on next

[2016-06-29 17:29] devos50 opened #2363 "Error on windows 32-bit in test_rss from credit mining module"
Stacktrace:

[code]

See https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win32/1857/testReport/junit/Tribler.Test.Core.CreditMining.test_creditmining_sys/TestBoostingManagerSysRSS/test_rss/

[2016-06-29 18:34] devos50 opened #2365 "Error on Linux when running policy tests"
Stacktrace:

[code]

Reference: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2281/testReport/junit/Tribler.Test.Core.CreditMining.test_creditmining/TestBoostingManagerPolicies/test_random_policy/

[2016-06-29 21:43] vi opened #2370 "Percentage in "Files" tab for a download all show total downloaded percentage instead of per-file one."
##### Tribler version/branch+revision:

7cd6ed7402d22772e4a09c4520bec1b8553e1fc8 devel
##### Operating system and version:

Linux Debian
##### Steps to reproduce the behavior:
1. Somehow have a download with multiple files, of which only the first file is included and downloaded, and the second and rest files are not downloaded and not included;
2. Observe "Files" tab for this download:

[code]
3.

[2016-06-30 08:12] qstokkink opened #2371 "RestAPI test_create_torrent_endpoint failing randomly"
##### Tribler version/branch+revision: #####
tribler/devel 29b37ecc2f2acf55d8ca73c61c54dc6ba9052f35
##### Operating system and version: #####
Confirmed on *Ubuntu 15.10* and *Jenkins test Linux builder*
##### Behavior: #####
Running:
[code]
Alternates between outputs:
[code]
And:
[code]

[2016-06-30 09:34] whirm opened #2378 "Credit mining tests are highly unstable"
This is from @brussee 's PR:

https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win32/1855/

Tribler.Test.Core.CreditMining.test_creditmining_sys.TestBoostingManagerSysChannel.test_chn_max_torrents

[code]

[2016-06-30 09:39] whirm commented on #2370
@devos50 could you make sure the new gui doesn't have this problem?

[2016-06-30 10:30] ardhipoetra commented on #2365
Question, how do I test 'randomness'?

[2016-06-30 10:33] ardhipoetra commented on #2378
This is weird, I make sure I cleaned up properly and previously all the tests was okay. Do you have any clue why this happen, @whirm?

[2016-06-30 10:36] lfdversluis commented on #2365
@ardhipoetra By running it a few times until it crashes and investigate

[2016-06-30 10:38] brussee commented on #2371
My guess is that the logger is not instantiated: _logger.critical(...)

[2016-06-30 10:47] lfdversluis commented on #2147
Another ref: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2304/testReport/junit/Tribler.Test.API.test_download/TestDownload/test_download_torrent_from_url/

[2016-06-30 11:45] lfdversluis commented on #2281
@whirm I think this can be closed with #2265 ?

[2016-06-30 11:47] whirm commented on #2378
It's trying to schedule stuff after or before the launchmanycore threadpool exists.

[2016-06-30 11:58] whirm commented on #2281
Yes, thanks!

[2016-06-30 11:58] #2281 closed

[2016-06-30 12:12] lfdversluis commented on #2184
I think this should be fixed by QT, I think this is low priority now.

[2016-06-30 12:26] lfdversluis commented on #2307
Investigated this bug. Line 482 is invoked by the taskmanager, however after shutdown.

`_task_check_dht` only gets called by `_schedule_next_check` which registers this call on the taskmanager. The shutdown function has `self.cancel_all_pending_tasks()` so that seems to be ok.
` self.ltsessions` can only be set to `None` in the `shutdown` function, so this error seems to be unlucky timing?

[2016-06-30 12:30] lfdversluis commented on #2199
@whirm I think this was the original report. I think it can be closed too with #2265 ?

[2016-06-30 12:32] lfdversluis commented on #2174
Will be gone with #2355

[2016-06-30 12:51] devos50 commented on #2378
I disabled these tests in #2382 until they are stable again.

[2016-06-30 13:04] brussee commented on #2378
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2324/testReport/junit/Tribler.Test.Core.CreditMining.test_creditmining_sys/TestBoostingManagerSysRSS/test_rss/

[2016-06-30 13:10] #2199 closed

[2016-06-30 13:23] NoNameForMee opened #2383 "No module named Policies.BoostingPolicy on latest build from devel branch."
I have just tried the latest build, https://jenkins.tribler.org/job/Build-Tribler_Ubuntu-64_devel/620/ on my Ubuntu 16.04 64b machine however it fails to start.
I suspect this issue can be traced to https://github.com/Tribler/tribler/pull/2361 (with commit cebd228ec71f2b25ace31a1b428c73dee16f4656) which was not merged to the [devel](/Tribler/tribler/tree/devel) branch but only to the [next](/Tribl

[2016-06-30 15:20] brussee opened #2386 "Nose ReactorAlreadyRunning"
Upon starting the nosetests on Android:
[code]

[2016-06-30 16:28] brussee commented on #2386
from Tribler.Core.Utilities.twisted_thread import threaded_reactor

# Export global reactor variable, as Twisted does
reactor, reactor_thread = threaded_reactor()
reactor.run()
[code]

[2016-06-30 18:13] brussee commented on #2386
Nose needs no reactor to be installed and the dispersy tests are not compatible with running the tribler tests.

[2016-06-30 18:13] #2386 closed

[2016-06-30 19:02] devos50 commented on #2370
@whirm I can almost guarantee that the right percentages are displayed in the new Qt GUI.

[2016-06-30 19:18] brussee opened #2390 ""no channels matching de""
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2336/testReport/junit/Tribler.Test.test_remote_search/TestRemoteChannelSearch/test_channel_search/

https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2336/testReport/junit/Tribler.Test.test_remote_search/TestRemoteChannelSearch/test_channel_search_2/

[2016-06-30 19:27] devos50 opened #2391 "The video server should be rewritten so it's using Twisted"
Our current video server is dependent on `VideoPlayer` which in turn is dependent on the wx GUI. Moreover, the video server contains a lot of blocking code (`time.sleep` and `threading.event` occurrences), making the reactor and Tribler block when the user watches a video.

This video server should be rewritten in Twisted, making use of a static `File` object. The following should happen when a re

[2016-06-30 19:34] devos50 commented on #2390
@brussee that error is very rare, I only see it in around 1/50 runs. It is already a lot better than before (when we used a more specific search term). Anyway, this error will be gone after the wx GUI is removed (since the `test_channel_search` package will be removed as well) so I don't think it 's worth to spent a lot of time on this.

Also, we should move away from being dependent on other Disp

[2016-06-30 19:51] devos50 commented on #2174
@lfdversluis thanks for linking!

[2016-06-30 20:07] devos50 commented on #2356
@ardhipoetra how much work would it be to create a minimal method for that in `Session` or `LaunchManyCores` (or some other file)?

[2016-06-30 21:03] vi commented on #2370
Still reproducible in commit 3985b3dd0a25f5ca09e98411e85cc43cd94375a2

[2016-06-30 22:12] lfdversluis commented on #2370
@vi The new QT gui is not on devel yet, but still an open PR. If this bug will be fixed, it will be done on the **next** branch. Soon devel will have no wx gui anymore (the current gui).

[2016-07-01 05:42] synctext commented on #2370
@vi thnx for all the hardcore testing!

We very much would like to make you the first field tester of the completely redone GUI. if you have time in 1-2 weeks. you would work directly with devs, via irc preferably. sounds fun?

[2016-07-01 07:52] devos50 commented on #2301
@whirm this one can be closed

[2016-07-01 08:02] #2301 closed

[2016-07-01 10:05] vi commented on #2370
I juse use Tribler and report bugs along the way, that doesn't look like a "hardcore testing".

But if needed I can also try [the QT GUI](https://github.com/Tribler/tribler/pull/2153), if it is not too early for this.

[2016-07-01 14:41] #2225 closed

[2016-07-01 14:51] whirm opened #2395 "Tribler's threadpool should be removed"
It's currently a shim around Twisted's

[2016-07-02 03:29] ardhipoetra commented on #2356
I'm finishing it right now and it in the testing phase

[2016-07-02 05:18] ardhipoetra commented on #2383
I think it should wait until commit https://github.com/Tribler/tribler/commit/cebd228ec71f2b25ace31a1b428c73dee16f4656 to be merged into `devel`.

[2016-07-02 05:28] ardhipoetra commented on #2251
This is fixed, right?

[2016-07-02 05:52] ardhipoetra commented on #2378
Might be related to #2303

[2016-07-02 14:49] brussee commented on #2371
Also, the linked commit https://github.com/Tribler/tribler/commit/29b37ecc2f2acf55d8ca73c61c54dc6ba9052f35#diff-ea1baee298743f04208b92034249ed48R174

"Could not check torrent file: a ValueError was thrown" should be: "Check revealed ValueError: ..."

[2016-07-03 09:26] synctext commented on #2383
@NoNameForMee our key priority now is a stable Next branch. We need a release in 10 days for PR purposes. At some point all bugfix changes within Next will be copied into Devel.

Thnx for looking at Tribler so closely! we can certainly use more critical eyes of software developers.

[2016-07-03 09:32] synctext commented on #2352
@pimveldhuisen  can this be fixed before pending summer break? Put this on multichain wiki.

[2016-07-03 14:54] devos50 commented on #2329
`Test whether adding a torrent def to a channel works` is not a GUI tests so I guess that tests that are running before these tests, are leaving observers behind (probably `Tribler.Test.test_gui_general.TestGuiGeneral`). See https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2394/artifact/output/test_runners_output/00009.err/*view*/.

Also, the linked error is caused by this line: https://g

[2016-07-04 09:15] whirm commented on #2251
Isn't that fixed already?

[2016-07-04 10:11] whirm commented on #2329
@pimveldhuisen Could you have a look and check if this is a regression introduced by your commits?

[2016-07-04 10:57] lfdversluis opened #2403 "register_task should always be called from the reactor thread"
On current devel:

[code]

[code]

[2016-07-04 11:58] whirm commented on #2403
Have you tried `next` ?

[2016-07-04 12:50] lfdversluis commented on #2403
Too.

[code]

[2016-07-04 14:18] brussee opened #2406 "Exception raised on the reactor's thread 'on_tunnel_remove() takes exactly 5 arguments (6 given)'."
[code]

[2016-07-04 14:28] brussee commented on #2147
[code]

[2016-07-04 14:44] ardhipoetra commented on #2251
Can I close this?

[2016-07-04 14:50] whirm commented on #2251
If it's fixed, sure.

[2016-07-04 15:09] Captain-Coder commented on #2313
This issue should be fixed by PR [2380](https://github.com/Tribler/tribler/pull/2380) Though it is hard to test since I could not reproduce this error.

[2016-07-04 15:10] Captain-Coder commented on #2327
This should be fixed by [2380](https://github.com/Tribler/tribler/pull/2380)

[2016-07-04 15:44] brussee opened #2409 "Dirty reactor when running test_add_torrent_from_url_to_channel_with_description"
[code]

[2016-07-04 15:44] brussee commented on #2409
Similar to #2147

[2016-07-04 16:46] brussee commented on #1782
# Run on Jenkins & make nice graphs: #2231

[2016-07-04 16:52] brussee opened #2410 "Skipped multichain test_on_tunnel_remove_NoneType"
Regarding: https://github.com/brussee/tribler/blob/70584a84f3c7979911c08b01d0aa40f004ff7159/Tribler/Test/Community/Multichain/test_multichain_community.py#L166

@pimveldhuisen What do you mean by this? Should it swallow or raise an Exception?

[2016-07-04 16:54] brussee commented on #2406
This particular error was easy to fix, but raised another issue: #2410

[2016-07-04 16:55] #2406 closed

[2016-07-04 17:21] brussee opened #2411 "Unstable test_normal_torrent in Tribler.Test.API.test_seeding.TestSeeding"
[code]

[code]

[2016-07-04 17:28] brussee commented on #2411
Note that these 3 tests have recently worked once on some point on Android.

[2016-07-05 03:20] #2251 closed

[2016-07-05 07:57] synctext commented on #2352
@Captain-Coder All yours for 2 weeks...:-)

[2016-07-05 10:02] whirm commented on #2411
I don't think I've ever seen this failure on windows/linux/osx.

@brussee do they fail 100% of the time?

If so, could you please do a bisect run to see when it started failing?

[2016-07-05 10:14] whirm opened #2414 "The base teardDown method should make sure twisted's threadpool is empty between tests"
This would save us a lot of pain debugging dirty tests and related bugs.

[2016-07-05 13:03] dufernst commented on #1141
Bump.
It actually crashes my router while not having added any channels to it and having only one active download (a Ubuntu torrent obviously ;)).

Details of the router we have can be found here:
http://experiabox-info.nl/images/Handleiding_KPN_ExperiaBox_ZTE_VDSL.pdf

[2016-07-05 16:46] brussee opened #2425 "Mac import error mock -> six / wraps"
The Mac test runner ```cannot import name wraps```
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_mac/2205/testReport/nose.failure/Failure/runTest/

Probably due to wrong ```six``` version (from the os) that overrides the version installed from pip.
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_mac/2206/testReport/nose.failure/Failure/runTest/

This blocks PR #2423 that solves te

[2016-07-05 16:49] devos50 commented on #2425
I will take a look tomorrow when I'm at EWI.

[2016-07-05 17:00] brussee opened #2426 "Link or embed vlc on Android"
Use external player for now: #2427

[2016-07-05 19:25] brussee commented on #2411
99.9% of the time: I have seen them work once on Android.

No not easily, because python runs inside a service process on Android that does not have granular control from the outside.

[2016-07-05 20:19] brussee opened #2429 "test_anon_download_exitnode_changeofmind gets randomly stuck"
test_anon_download_exitnode_changeofmind (Tribler.Test.test_tunnel_community_negative.TestTunnelCommunityNegative) ... nosetests: Fatal IO error 11 (Resource temporarily unavailable) on X server :26415.

https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2484/artifact/output/test_runners_output/00000.err/*view*/
[code]

[2016-07-06 08:33] whirm commented on #2426
I would rather keep using the external player to simplify things for us. People can always install vlc.

[2016-07-06 08:33] whirm commented on #2426
@synctext what do you say?

[2016-07-06 09:03] whirm commented on #2429
That means that `test_anon_download_exitnode_changeofmind` got stuck and process guard killed it after the timeout.

[2016-07-06 09:20] devos50 commented on #2425
@whirm @brussee fixed this one by removing the older `six.py`. The unit tests on OS X are now passing.

[2016-07-06 09:33] lfdversluis opened #2430 "Documentation guide command misses a newline"
http://tribler.readthedocs.io/en/devel/development/development_on_linux.html

has the command

[code]

the `pip install decorator` part should be on a new line

[2016-07-06 09:36] #2425 closed

[2016-07-06 10:09] lfdversluis opened #2433 "configobj should be added to the docs as dependency"
It is missing now in the docs.

[2016-07-06 11:03] brussee commented on #2425
Excellent!

[2016-07-06 11:07] brussee commented on #2255
@lfdversluis What is your status on moving things to the threadpool?

[2016-07-06 11:08] brussee commented on #2255
@whirm About 30 to 60 seconds! The fastest phone here is doing better.

[2016-07-06 11:10] brussee commented on #2378
Tribler.Test.Core.CreditMining.test_creditmining_sys.TestBoostingManagerSysChannel.test_chn_lookup (from nosetests)
Test raised 1 unhandled Twisted exceptions
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win64/2080/testReport/junit/Tribler.Test.Core.CreditMining.test_creditmining_sys/TestBoostingManagerSysChannel/test_chn_lookup/

[2016-07-06 11:14] brussee commented on #2426
It will either be a separate app or embedded on the Java side.
So from the python perspective it will always be external, unless we use pyjnius to launch it.

[2016-07-06 11:16] brussee commented on #2378
Tribler.Test.Core.CreditMining.test_creditmining_sys.TestBoostingManagerSysChannel.test_chn_lookup (from nosetests)
Test raised 1 unhandled Twisted exceptions
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win64/2080/testReport/junit/Tribler.Test.Core.CreditMining.test_creditmining_sys/TestBoostingManagerSysChannel/test_chn_lookup/

[2016-07-06 11:32] whirm commented on #2426
Sure, that's what I meant, having it embedded on the java side means we have to maintain it.

[2016-07-06 12:32] lfdversluis commented on #2255
@brussee AFAIK @qstokkink is assigned to the tunnel community. I assume he will resolve this issue too

[2016-07-06 17:31] qstokkink commented on #2255
@brussee If you have to wait for me to resolve this: it will be a couple of weeks before I even start work on the tunnel community.

[2016-07-06 18:24] brussee opened #2434 "No module named pbr.version"
What is this test trying to do with https://pypi.python.org/pypi/pbr ?
[code]

[2016-07-07 10:06] whirm commented on #2255
I would expose the max amount of circuits on the config so it can be lowered on android

[2016-07-07 11:53] devos50 commented on #2434
@brussee I've never heard of that library before but it seems to be related to setuptools:

Could you somehow print the import trace to see which module is importing this `pbr` module?

[2016-07-07 13:47] brussee opened #2435 "test_remotedownload fails due to: 'no hits matching ubuntu + desktop'"
One more example of a test that depends on the outside world.
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2514/testReport/junit/Tribler.Test.test_remote_search/TestMixedRemoteSearch/test_remotedownload/

[2016-07-07 14:31] brussee commented on #2378
Tribler.Test.Core.CreditMining.test_creditmining.TestBoostingManagerPolicies.test_fallback_policy (from nosetests)

Start failed [4, 2] vs [{'num_seeders': -4, 'creation_date': 4, 'num_leechers': -4, 'metainfo': <Tribler.Test.Core.CreditMining.mock_creditmining.MockMeta object at 0x7f4e62906910>}, {'num_seeders': -2, 'creation_date': 2, 'num_leechers': -2, 'metainfo': <Tribler.Test.Core.CreditMini

[2016-07-07 15:09] brussee opened #2436 "PyDeadObjectError('The C++ part of the ActivityPanel object has been deleted, attribute access no longer allowed.',)"
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2516/artifact/output/test_runners_output/00009.err/*view*/

[2016-07-07 15:23] brussee opened #2437 "Refactor setup file server in tests"
Duplicate code is showing up to setup a file server in tests, like here:

https://github.com/brussee/tribler/blob/1ca1ab7e1712911186a97ebfaccb395929298fc9/Tribler/Test/Core/test_torrent_def.py#L38

Should be refactored.

[2016-07-07 15:31] brussee commented on #2378
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win64/2108/testReport/junit/Tribler.Test.Core.CreditMining.test_creditmining_sys/TestBoostingManagerSysChannel/test_chn_max_torrents/

[2016-07-07 15:42] brussee commented on #2390
Another case: https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2525/testReport/junit/Tribler.Test.test_remote_search/TestRemoteChannelSearch/test_channel_search/

[2016-07-07 15:53] whirm commented on #2436
It's due to the observer added (self.on_tunnel_remove) not being removed when the gui is destroyed. It's being removed later when the community get's unloaded but it's already too late.

I've pushed a quick hack to work around it. As the gui is going away I guess it's not worth fixing it properly.

[2016-07-07 15:54] brussee opened #2438 "exceptions.AttributeError: 'NoneType' object has no attribute 'add_task'"
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win32/2109/testReport/junit/Tribler.Test.Core.Modules.RestApi.test_downloads_endpoint/TestDownloadsEndpoint/test_remove_download_no_remove_data_param/

[2016-07-07 15:55] whirm commented on #2436
The commit will be merged to next with @brussee 's #2423

[2016-07-07 16:06] whirm commented on #2438
I'm working on removing the threadpool shim (#2395) so this should be hopefully fixed by it.

[2016-07-07 16:43] #2240 closed

[2016-07-07 16:47] brussee commented on #2240
I dropped support right away on May 30 and @devos50 removed the entire package in d96d957c0db4047e8ad120a5cfabed99308955a4

[2016-07-08 06:09] ardhipoetra commented on #2378
Thanks for the report, @brussee

[2016-07-08 08:08] vi opened #2444 "Tribler eats CPU even with no network"
##### Tribler version/branch+revision:

63f49df0c2ffca5da9bc8e80abee1aad1aa0645f, devel
##### Operating system and version:

Linux Debian 32-bit
##### Steps to reproduce the behavior:
1. Run Tribler with a number of downloads active
2. Turn off networking
##### Expected behavior:

Tribler gets into dormant state, not consumes [much] system resources until network is present again.
##### Actual beh

[2016-07-08 13:30] devos50 opened #2450 "Disable code coverage on some files"
I don't think it makes sense for some files to check for the code coverages. Examples include:
- `Tribler/vlc.py`
- The `Tribler/community/template` package
- The `Tribler/community/demers` package
- Various stand-alone scripts in `Tribler/Main`
- The `pymdht` package

Disabling checks on the packages above will substantially improve the code coverage statistics.

[2016-07-08 15:16] devos50 commented on #2403
This is due to the fact that we are calling `register_task` many times from a non-reactor thread. The `isInIOThread` check is introduced in https://github.com/Tribler/dispersy/commit/539e82243b64f0482d3fbc79164510a31864e27c.

[2016-07-08 15:48] #2352 closed

[2016-07-09 14:11] qstokkink commented on #2371
I had the same error in my unittests today: it was fixed by closing all of the Session's db handlers and calling Session.shutdown on tearDown(). @devos50 is this shutdown happening in the REST API tests?

[2016-07-09 14:58] brussee commented on #2409
Even after PR #2423 I still got it again on latest devel just now:

[code]

[2016-07-09 15:00] brussee commented on #2147
This was fixed in #2423.

[2016-07-09 16:52] brussee opened #2453 "NoseXUnit plugin requires decades old coverage module 2.85 and conflicts with XCoverage requirement of coverage>=3.4"
07-09 18:45:49.827 2113-2254/org.tribler.android:service_Triblerd I/Triblerd: /data/user/0/org.tribler.android/files/lib/python2.7/site-packages/nose/plugins/manager.py:395: RuntimeWarning: Unable to load plugin nosexunit = nosexunit.plugin:NoseXUnit: (coverage 4.1 (/data/data/org.tribler.android/files/lib/python2.7/site-packages), Requirement.parse('coverage==2.85'))

[2016-07-10 15:41] brussee commented on #2453
07-10 17:40:35.140 14654-14768/org.tribler.android:service_Triblerd I/Triblerd: /data/user/0/org.tribler.android/files/lib/python2.7/site-packages/nose/plugins/manager.py:395: RuntimeWarning: Unable to load plugin xcover = nosexcover.nosexcover:XCoverage: (coverage 2.85 (/data/data/org.tribler.android/files/lib/python2.7/site-packages), Requirement.parse('coverage>=3.4'))

[2016-07-10 19:55] synctext opened #2455 "crowdsourcing Metadata"
Allow any user to improve the metadata. Examples of existing approaches:

![image](https://cloud.githubusercontent.com/assets/325224/16715714/59c8ccf4-46e8-11e6-9936-605a1e80f79f.png)

![image](https://cloud.githubusercontent.com/assets/325224/16715701/13e58c90-46e8-11e6-865b-dd9d3c8d572c.png)

![image](https://cloud.githubusercontent.com/assets/325224/16715732/e7cae6cc-46e8-11e6-993a-4ac9e04da421

[2016-07-10 20:30] lfdversluis commented on #2455
A wiki-like approach? What would be editable within and outside Tribler?

[2016-07-11 09:14] #2430 closed

[2016-07-11 09:16] whirm commented on #2450
I think all standalone scripts should be moved outside of the Tribler package too.

[2016-07-11 10:00] #2147 closed

[2016-07-11 10:07] whirm commented on #2453
AFAIK we don't use this package at all

[2016-07-11 12:23] brussee commented on #2453
It is indeed integrated nowadays. Which explains the old version on pypi.

[2016-07-11 12:23] #2453 closed

[2016-07-11 17:47] brussee commented on #2255
I lowered this hard coded value for now: 59ab7c760f191388b4caa89787da2b82ac9c64ce

[2016-07-11 19:07] devos50 commented on #2255
@brussee is that change effective for you?

[2016-07-11 20:19] brussee commented on #2255
I'll let it run tonight and see what happens.

[2016-07-11 20:25] devos50 commented on #2255
I just installed Tribler on my raspberry pi and it's very slow (even with the tunnel community disabled!). Also, it's taking up my full CPU:

[code]

This really limits Tribler running on embedded devices 👎

[2016-07-11 21:50] lfdversluis commented on #2255
And that was even the latest raspberry pi 3 model B+ :-1:

[2016-07-12 07:10] brussee commented on #2255
This is what happened this morning:
[code]

[2016-07-12 08:39] synctext opened #2457 "multi-chain bottom-up consensus model prototype"
Research superior consensus models, resilient against 51% attacks.

Create an operational prototype of a mechanisms which spreads the last known record of all multi-chain.
- All peers crawl to some extend
- They create 1 Bittorrent swarm with a database dump of all these records and seed it
- Download a swarm with records from the nearest neighbor
- Merge, double spending check, and remove duplica

[2016-07-12 08:51] synctext opened #2458 "Multi-Chain live edge traversal with random walks"
Goal: every peer conducts a crawl of it's neighbors and stores a duplicate of their complete chain.
This walk is random and resilient against peer failure.

Approach: each peer conducts a keep-alive to a peer which is Multichain record is created with. Incoming introduction-responses are given to any peer to which we have a Multichain record. The result is a graph traversal across Multichain edges

[2016-07-12 09:59] whirm commented on #2255
@devos50 could you run triblerd with the profiler enabled for a while?

[2016-07-12 19:36] devos50 commented on #2255
@whirm ran it for around 50 minutes, see this call grind file:

[tribler_twistd.log.zip](https://github.com/Tribler/tribler/files/360121/tribler_twistd.log.zip)

[2016-07-13 10:16] whirm commented on #2255
![2016-07-13-121534_3120x1920_scrot](https://cloud.githubusercontent.com/assets/529494/16800028/8eb40ac0-48f3-11e6-8f5f-209e071785af.png)

[2016-07-13 15:51] brussee opened #2465 "Blocking add_torrent in network_create_engine_wrapper in LibtorrentDownloadImpl"
@lfdversluis Made the method network_create_engine_wrapper to return a deferred and I added a failure case.
This should be refactored to be async:

From: http://www.rasterbar.com/products/libtorrent/manual.html#async-add-torrent-add-torrent

[2016-07-13 19:46] brussee commented on #2255
Right now a limit of 10 max_relays_or_exits gets acceptable response times to the GUI it appears.

[2016-07-13 19:51] devos50 commented on #2255
@brussee that sounds good. What about disabling the tunnel community completely on embedded devices?

[2016-07-13 20:08] brussee commented on #2255
If this setting (https://github.com/Tribler/tribler/commit/59ab7c760f191388b4caa89787da2b82ac9c64ce) is exposed to the user he/she can make this decision for him/herself.

[2016-07-14 12:07] brussee opened #2467 "ConfigParser.NoSectionError: No section: 'formatters' in tunnel_helper_plugin.py"
[code]

[2016-07-14 13:59] #2436 closed

[2016-07-14 19:15] devos50 commented on #2438
@brussee this error is not fixed :(

[code]

See https://jenkins.tribler.org/job/GH_Tribler_PR_tests_win32/2305/

[2016-07-15 13:04] brussee opened #2472 "False negative: "Network is unreachable""
The network should have been reachable (nothing changed at that time) and Tribler should have retried at some point...

[code]

[2016-07-15 13:12] brussee commented on #2438
@devos50 Are you on next or devel?

[2016-07-15 13:13] devos50 commented on #2438
@brussee devel

[2016-07-15 13:17] brussee commented on #2438
That's too bad... I noticed a while back that #2409 also remains...
Hopefully @whirm can fix the threadpool issue once and for all with #2395.

[2016-07-16 11:42] brussee commented on #2434
It turns out that the Mock module somehow requests pbr.version. We don't use it anymore currently afaik.

[2016-07-16 11:42] #2434 closed

[2016-07-16 14:37] brussee commented on #2391
@synctext So until this complete rewrite is done, we don't have a video server that will work on Android.

[2016-07-16 15:07] lfdversluis opened #2475 "Jenkins is unreachable"
Guess its down.

[2016-07-16 16:36] devos50 commented on #2475
It seems to work fine now?

[2016-07-17 07:34] synctext commented on #2391
ai, bummer. @brussee
have you browsed the previously running code of various other projects? Three groups got it working.

One I could find quickly:
https://github.com/synctext/bsc-project/blob/master/Work/vlc-android/src/com/tudelft/triblersvod/example/TorrentVideoPlayerActivity.java

Seek is more complex then linear download.  better then download full and play. But first document existing code.

[2016-07-17 08:06] synctext commented on #2391
https://github.com/javto/Tribler-streaming/blob/master/Work/Tribler_Streaming/src/com/softwarrior/libtorrent/LibTorrent.java

[2016-07-17 08:19] synctext commented on #2391
Obviously: https://github.com/Tribler/tribler-android

[2016-07-17 08:33] synctext commented on #2391
tsap codebase with rpc calls for streaming:
https://github.com/wtud/tsap/blob/master/tsap/src/org/videolan/libvlc/LibVLC.java

btw refreshing to see all this old code..

[2016-07-17 09:15] devos50 commented on #2391
@brussee I'm pretty sure that the video player works with the Twistd plugin (recently checked). I was probably confused about the 'VideoPlayer' class being dependent on the GUI but iirc, it works without. Can you try it? Just use curl or wget to test it.

[2016-07-17 12:31] lfdversluis commented on #2475
It works now again.

[2016-07-17 12:31] #2475 closed

[2016-07-18 07:19] devos50 opened #2477 "Callback not called when fetching metainfo from DHT"
When performing some experiments with fetching metainfo from the DHT, I noticed that the callback passed in the `download_torrentfile` method in `Session` is not called. Also, according to the comments above this method, the callback is called with the fetched metainfo but from the code, this does not appear to be the case.

The whole callback mechanism when fetching torrents from the DHT should b

[2016-07-18 15:48] devos50 opened #2478 "Decoding error in add torrent to channel (with tdef) endpoint"
When adding a torrent to a channel with the base64-encoded data, the data encoding used is `application/x-www-form-urlencoded`. In this encoding, plus characters `+` are replaced by a space when decoded. This makes the base64 data corrupt and base64-decoding is not possible anymore.

There might be more characters which are replaced but I'm not sure about that.

[2016-07-18 16:05] devos50 opened #2479 "Error when creating multifile torrent, base path cannot be found"
When trying to create a torrent from two files in the same directory, I get the following error:

[code]

It seems that the base path is not correctly calculated.

[2016-07-19 10:06] whirm commented on #2478
Let's switch to the raw binary upload as we said

[2016-07-21 15:22] pimveldhuisen commented on #2410
The test was design to check if the function properly returns a TypeException when called with invalid types. The test broke however when the signature of on_tunnel_remove() was changed. I think commit https://github.com/Tribler/tribler/pull/2408/commits/25feb3fea84a519b8131892c030cde360eee3a33 should have fixed this. If we think testing for Expections is redundant/too much hasle, we can remove th

[2016-07-21 15:25] pimveldhuisen commented on #2344
I think this issue can be closed.

[2016-07-21 19:01] synctext commented on #2344
Closing, welcome back!

[2016-07-21 19:01] #2344 closed

[2016-07-21 19:06] synctext commented on #2313
OK, thnx.. Closing..

[2016-07-21 19:06] #2313 closed

[2016-07-21 19:07] synctext commented on #2327
Thnx for that.. Closing...

[2016-07-21 19:07] #2327 closed

[2016-07-22 10:09] whirm commented on #2410
@pimveldhuisen can you send a PR re-enabling the test?

[2016-07-22 11:14] brussee opened #2486 "test_remote_channel_search: timeout expired before end of test (120.000000 s.)"
[code]
https://jenkins.tribler.org/job/GH_Tribler_PR_tests_linux/2866/testReport/junit/Tribler.Test.test_remote_search/TestRemoteChannelSearch/test_remote_channel_search/

[2016-07-22 11:20] whirm commented on #2486
Remember to paste the relevant stacktraces/logs as the build logs get rotated pretty quickly

[2016-07-23 09:44] lfdversluis opened #2489 "Current allchannel experiment errors."
Found at least one (haven't checked other nodes) node crashing in build 976.

https://jenkins.tribler.org/job/Tribler/job/Experiments/job/AllChannel+Channelcommunity_devel/976/artifact/output/localhost/node057/00033.err/*view*/

In build 977 several (I've searched this one thoroughly):
### node 029

https://jenkins.tribler.org/job/Tribler/job/Experiments/job/AllChannel+Channelcommunity_devel/977/a

[2016-07-23 12:28] synctext commented on #2489
_exceptions.AttributeError: 'NoneType' object has no attribute '_channelcast_db'_

Thats a bad TraceBack..
This is without your Storm enhancement?

[2016-07-23 12:30] lfdversluis commented on #2489
This is the old channel experiment, it's not even my job. I am only using this as a reference point for my work :)

[2016-07-23 12:32] synctext commented on #2489
all seems the same error, but only looked briefly

[2016-07-23 12:37] lfdversluis commented on #2489
Yes, they are the same. I had this exact error too and figured it was due to my async work, but apparently that's not the case. This probably means that a node is not done yet with finishing going online. If it's not online yet and has to join the community (as the scenario dictates) then you get this error. This code should be completely synchronous but apparently we have a race condition.

[2016-07-23 12:38] lfdversluis commented on #2489
To further reinforce the argument of a race condition: under heavy load it seems to trigger more. When my work was committing per database interaction I saw this a lot more.

[2016-07-23 13:21] lfdversluis opened #2490 "test_bootstrap.py:TestBootstrapServers.test_servers_are_up is consuming all the memory on bbq"
Cannot run things on BBQ via Jenkins now.

https://jenkins.tribler.org/computer/bbq/executors/0/causeOfDeath

[2016-07-23 14:36] ardhipoetra commented on #2490
I think it has been like this since this morning. Do you have access to the physical machine (ssh?) to check this out?

[2016-07-23 15:11] lfdversluis commented on #2490
No, only @whirm does

[2016-07-25 09:40] whirm commented on #2489
This looks like a shutdown stacktrace?

[2016-07-25 09:44] whirm commented on #2490
There where a few of this taking all the memory on bbq:
[code]

[2016-07-25 09:50] whirm commented on #2490
If it starts again I'll hook in the debugger.

[2016-07-25 21:54] lfdversluis opened #2492 "Error in batercast4 tests"
https://github.com/Tribler/tribler/blob/devel/Tribler/Test/test_bartercast4_community.py#L55

No Idea why test currently works, but this is an attribute, not a function (`running`). Calling this in the `CallCondition` definitely returns an error. Fixing it in my PR.

[2016-07-25 23:20] vi opened #2493 "Tribler things the download is complete, but it is not."
##### Tribler version/branch+revision:

e1629c19ffeec2d796802e8c3dd359d25a222984 devel
##### Operating system and version:

Linux Debian
##### Steps to reproduce the behavior:
- Add more files to partial download
- Watch the percentage
##### Expected behavior:
- Download looks completed when all files (including newly included) are actually downloaded.
##### Actual behavior:
- Inlcuding more files

[2016-07-26 08:23] devos50 opened #2494 "Error if ffmpeg cannot be found on OS X on latest devel"
The statement introduced in https://github.com/Tribler/tribler/commit/6ddac6bf26972bfb1e1cf81db1bdb3dee2379d36 crashes when the `find_executable` call returns `None`.

[2016-07-26 08:34] lfdversluis opened #2495 "Tests in test_twisted_rawserver are racy"
Tests [like this one](https://github.com/Tribler/tribler/blob/devel/Tribler/Test/test_twisted_rawserver.py#L43) currently work fine because they are scheduled from the nose thread onto the twisted thread. However, with my deferred refactor this test will now run inside the (nose) reactor, and suddenly start behaving racy. The list is missing items sometimes or they are in a different order.

[2016-07-26 13:08] pimveldhuisen opened #2497 "Tribler cannot start when installed from the debian package because libnacl is not listed as a dependency"

[2016-07-26 17:20] devos50 commented on #2497
@whirm this one can be closed I guess?

[2016-07-27 11:36] qstokkink commented on #2492
`self.CallCondition` calls `has_finished()` which returns the negation of of the `running` attribute of a `LoopingCall`. This should work just fine. What's the problem/error?

[2016-07-27 12:03] lfdversluis commented on #2492
Ah my bad, was late when I encountered it. It errored on my side, probably because of my changes I guess. In any case, I fixed it on my side and this one looks fine too. Closing.

[2016-07-27 12:03] #2492 closed

[2016-07-27 12:48] pimveldhuisen commented on #2497
Yeah it seems the auto close when mentioned on a pull request doesn't work for the next branch

[2016-07-27 12:48] #2497 closed

[2016-07-27 14:08] whirm commented on #2497
It would have been closed after backporting the fixes to devel

[2016-07-27 15:30] devos50 opened #2502 "Zope.interface is not bundled in the experimental release .dmg file"
I'm getting the following error in my log when trying to start Tribler:

[code]

It works on another OS X laptop, why remains a miracle for me. I noticed that the `zope.interface` package is not copied to the `site-packages` in the final .app.

[2016-07-27 15:41] whirm commented on #2502
Who tested the DMG?

[2016-07-27 15:42] devos50 commented on #2502
I did, on my laptop it worked but on my iMac I got this error.

[2016-07-27 20:26] lfdversluis commented on #564
@synctext how did you get to 538 MB/hour? If I add the write_bytes and read_bytes and divide that by 1024*1024 I end up with 8127,37 MB. Assuming TIME+ 2h 41min = 161 minutes, then I obtain 3028,83.

So I guess this ran took around 16h? But I cannot find that in your screenshot.

[2016-07-28 07:53] vi opened #2504 "CPU load by Tribler looks too high"
##### Tribler version/branch+revision:

63f49df0c2ffca5da9bc8e80abee1aad1aa0645f devel
##### Operating system and version:

Linux Debian 32-bit
##### Expected behavior:

CPU load is very low when Tribler is not sending or receiving anything and goes up with bandwidth, but still it is IO-bound even on weak computers like Raspberry Pi.
##### Actual behavior:

Tribler takes about 5-10% CPU even when

[2016-07-28 08:48] whirm commented on #2502
hm, different osx versions?

[2016-07-28 08:49] whirm commented on #2502
AFAIK OSX comes with twisted bundled so it should ship its dependencies?

[2016-07-28 08:59] #2494 closed

[2016-07-28 09:27] whirm commented on #2504
We are working on improving CPU usage.

Maybe you could provide a profiler dump to see if there's anything weird?

Does the twistd plugin behave the same for you?

[2016-07-28 09:53] whirm opened #2505 "failure during tearDown of test_downloads_endpoint.TestDownloadsEndpoint.test_download_unknown_state"
This is in `next`

[code]

[2016-07-28 10:24] vi commented on #2504
What is a twistd plugin?

strace syscall counters:

[code]

There are too many `futex` (thread synchronisation) and clock-related syscalls.

[2016-07-28 10:28] devos50 commented on #2504
@vi the twistd plugin provides abilities to run Tribler in a command-line matter. To run the twistd plugin, please open a terminal, navigate to the tribler root directory and execute `twistd -n tribler`.

These `futex` things are quite interesting. @whirm could this be caused by the context switching between the wx/twisted threads?

[2016-07-28 10:31] whirm commented on #2504
yeah, any notification from wx -> twistd or the other way around will be scheduled from one thread to the threadpool and from there into the target thread...

[2016-07-28 14:39] devos50 commented on #2502
@whirm apparently, the `zope` directory, was in a location that could not be found in Tribler. I've fixed it and it is now bundled correctly. I will test the build on another iMac tonight.

[2016-07-28 17:03] devos50 commented on #2502
Works fine now!

[2016-07-28 17:03] #2502 closed

[2016-07-29 16:34] brussee opened #2506 "RestApi Torrent metadata endpoint"
Get seeders & leechers etc. from dht. and return over the event stream.

[2016-07-29 16:35] brussee opened #2507 "RestApi Discovered channels endpoint async"
Return all discovered channels over the event stream instead of 1 huge return json object.

[2016-07-30 00:27] vi commented on #2504
Tried the command:

[code]

Not sure if it is running or idling...

[2016-07-30 07:10] devos50 commented on #2504
@vi can you try to upgrade your version of `python-twisted`?

[2016-07-30 16:55] colin1497 commented on #1669
Update: just had it happen on a new download.  I deleted my torrent cache and it fixed it for that one, but didn't fix it for one of the older ones that was broken.  I deleted my databases and it fixed it for everything.  Of course, I lost my channel....

[2016-07-30 17:27] colin1497 commented on #1683
Quick update since there was concern about CPU performance:

I tried a few things.  I watched CPU usage and it didn't seem that high, not even enough to force the CPU to peg to its max frequency.  I set up an idle priority, 100% usage application and pegged it to one core to force the CPU frequency high.  I set Tribler to "realtime" priority level.  No change in behavior.

I can get 20 connected p

[2016-07-30 20:21] synctext commented on #1669
Colin, when you delete a torrent in Tribler you get a popup I assume. Do you delete on disk also?

[2016-07-31 18:03] vi commented on #2504
Upgraded `python-twisted` to version `16.2.0-1~bpo8+1` (jessie-backports):

[code]

[2016-07-31 19:16] lfdversluis commented on #2504
` from cryptography.hazmat.primitives.asymmetric.utils import exceptions.ImportError: No module named util` can you try to install or upgrade `python-cryptography` ?

[2016-07-31 21:09] vi commented on #2504
Updated to `1.3.4-1~bpo8+2`, now it started:

[code]

CPU usage looks similar to GUI mode (not tested without networking).

[2016-08-02 15:14] devos50 opened #2508 "Prioritization of the pieces is not correctly applied when seeking in a downloading video"
When streaming a download and seeking in that video immediately, it appears that the prioritization of the pieces is not correctly done. It looks like libtorrent always first finishes downloading the first 10% of the download before it jumps to the pieces being requested.

I suspect that this bug lies in the prioritization system but it might also be some issue in libtorrent (which I don't expect

[2016-08-02 18:27] synctext commented on #2508
this is a quick fix for video header downloading.

 You need the first MByte(s) for seek. Some formats also need the last MByte, e.g. trailer, before seek works.

[2016-08-03 21:06] lfdversluis commented on #564
Using my laptop, I have ran Tribler (with MultiChain crawler enabled) for 2 hours. I have captured the total io using `sudo iotop -aoP` and the results are far less than 500MB/hour.

![results](https://gyazo.com/9e53d87f8d7ef184bc917efca0d3e952.png)

From the screenshot above, I see that only around ~70-75 MB/hour is done in I/O. I did use my laptop which is only an i5, with 14mbit internet. But I

[2016-08-03 22:09] synctext commented on #564
interesting. Try to reproduce old results the with older code, like, https://github.com/Tribler/tribler/commit/b8ec22b897ca63504b50c28782c621105359aebb

Please ensure you are connectable on several ports (dht,libtorrent,dispersy).

[2016-08-03 22:15] synctext commented on #564
plus: https://github.com/Tribler/tribler/commit/f2889f43459fa5afe04c24fac6896813cc20a21c

Nice experiment to do IO intensity over 6 different versions. Then the 7th Laurens version. Plot X axis the date of release, Yaxis the IO per hour, for instance. Each just 1 hour run with clean megacache and also plot collected torrents + AllChannel votes (easy in debug panel with 'other stuff option' on). CP

[2016-08-03 22:17] lfdversluis commented on #564
AFAIK I was connectable on all ports. Since I am not seeding nor downloading libtorrent should not do much if anything. I will try that particular commit tomorrow. Will be interesting to observe the amount of I/O there.

Regarding the plot, that might be indeed interesting. I'll try to do that tomorrow.

[2016-08-03 22:21] synctext commented on #564
plus: http://svn.tribler.org/abc/branches/release-5.4.x/
http://svn.tribler.org/abc/branches/release-5.3.x/

[2016-08-04 09:50] lfdversluis commented on #564
Doesn't look like I am able to run old Tribler versions. Even recent tribler 6.3.5 crashes on startup, even with tribler-swift depedency installed. The svn brances are missing dispersy code.

Tribler 6.4.3 won't start. Installed it with `sudo gdebi 6.4.3.deb` and then `sudo tribler`, only prints "Starting tribler.." and quits, no error.

Tested this using the ubuntu 15.10 proxmox as that one can s

[2016-08-04 09:54] lfdversluis commented on #564
I will try to run tribler on windows, maybe that works.

[2016-08-04 14:08] lfdversluis commented on #564
Apparently `iotop` is not on windows and `perfmon.exe` cannot accumulate IO. Will come back to this once a suitable program has been found. (I asked a question on superuser meanwhile)

[2016-08-04 21:51] colin1497 commented on #1669
Sometimes?  Sometimes I may want to keep it on the disk and restart as non-secure?  That's what started this thread, before there was a functionality to download torrent and seed tribler I would download torrent, copy magnet, delete torrent (not files), search magnet, download tribler and now I would be seeding tribler.

[2016-08-05 08:04] lfdversluis opened #2510 "Jenkins has issues again"
When trying to save a job configuration:

[code]

[2016-08-05 08:05] devos50 commented on #2510
@lfdversluis I just sent a mail to @whirm

[2016-08-05 09:31] devos50 commented on #2510
I noticed that the `allchannel_laurens_v2` and `allchannel_laurens_normal` jobs are claiming > 200GB of disk space together. @lfdversluis maybe you can try to remove some older builds to clean up disk space and limit the amount of builds that are saved for each job?

[2016-08-05 10:29] lfdversluis commented on #2510
Disk space is not the issue, the error is misleading.

[2016-08-05 10:41] lfdversluis commented on #2510
@devos50 Do you have access to the machine? It's out of memory (RAM).

[2016-08-05 11:48] devos50 commented on #2510
I removed some backup files from the proxmox on @whirm's advise to free up disk space and now the jobs are working again.

[2016-08-05 11:48] #2510 closed

[2016-08-06 02:54] ardhipoetra opened #2511 "Jenkins issue"
Cannot save configuration file with following logs :
[code]

I also cannot build new job. Similar with #2510, I think.

[2016-08-07 09:00] ardhipoetra commented on #2511
It seems okay now. Close this issue

[2016-08-07 09:25] Thomasedv opened #2512 "Unable to add torrents by "running" the torrent file. 6.6.0-exp1 on windows 10"
#### Please, fill all relevant items:
- [x] I have read CONTRIBUTING.md
- [x] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

Multichain test build 6.6.0-exp1
##### Operating system and version:

Windows 10 Home, August Update installed. Version 1607, OS build 14393.10.
##### Expected behavior:

Tribler is running. Runni

[2016-08-08 14:53] lfdversluis commented on #564
I have managed to get Tribler 6.3.5 working on the ubuntu 15.10 machine. It looks like the IO numbers mentioned above are accurate, 10 minutes in and already 300MB of disk writes have been done. May actually be higher than 600MB/hour. Wow.

[2016-08-08 16:01] devos50 commented on #2512
@Thomasedv thanks for reporting! It looks like your `leveldb` database is corrupt somehow but we should have a closer look to see what has caused it.

[2016-08-08 16:01] devos50 commented on #2511
@ardhipoetra yeah I deleted some backups of the proxmox machines ;)

[2016-08-08 16:03] lfdversluis commented on #564
I note that on a fresh start, both 6.3.5 and 6.4.3 read a lot of data, ~100MB

[2016-08-08 18:32] ghost opened #2513 "[FEATURE REQUEST] Floating download bar and a new streaming/downloading options."
EDITED
**Floating Download bar**

µTorrent has a floating download bar, which shows download status, speed and ETA. Such a download bar is quite handy while multi tasking or to get a quick status update without opening the Tribler UI. The download bar should be floating over all open windows so that we can keep track of the downloads while watching videos in full screen.

**Streaming torrents with

[2016-08-08 18:44] lfdversluis commented on #564
6.5.2 reads in ~1 hour 74.44MB and writes 1530.72MB. This means it does **1605 MB/hour**.

Apparently the virtual machines on a 100mbit connection do a lot more I/O, perhaps this plays a role, maybe in both connectivity and download speed of content?

[2016-08-09 08:33] whirm commented on #2512
What's probably happening is that Tribler is not on the statedir when opening the torrent store due to the different code path triggered when clicking on the torrent file instead of the .exe

[2016-08-09 10:05] lfdversluis commented on #564
6.6.0pre-exp1 read 4 KB in ~1hour and wrote 2.59GB. This means an I/O activity of **2562 MB/hour**.

These all are significantly higher than what @synctext measured or what my laptop running on my 14 mbit connection did. Odd.

[2016-08-09 11:35] synctext commented on #564
good progress.
As inidicated, did you check how fast AllChannel was collecting votes? torrentcollecting?

key indight: cost vs. benefit.
with 100mbps you sync very fast and intense is my hypothesis.

[2016-08-09 11:44] synctext commented on #2513
For legal reasons we try to avoid creating an optimized project for copyrighted TV show or movie streaming.

[2016-08-09 11:47] lfdversluis commented on #564
No, these were the official .deb files that ran.
I will have to checkout the versions by git and modify the code to obtain these statistics. Note that torrent meta messages are shared via the Channel community rather than AllChannel.

[2016-08-09 13:46] synctext commented on #564
no code changes needed. all in debug panel.

[2016-08-09 18:19] lfdversluis commented on #2513
Just ccing @devos50 here since he is the main author of the new QT GUI. I guess it would be interesting for 7.0 ?

[2016-08-10 08:33] devos50 opened #2515 "The policies directory should be moved inside the Core package"
I fail to see the benefits of having the `Policies` package inside the root directory of `Tribler`. We also have a cyclic dependency now between the `Core` and `Policies` package.

Since the `Policies` package is part of the credit mining mechanism (which is essentially part of libtribler), I think it makes more sense if we move this directory inside the `Core`.

@ardhipoetra any thoughts on this?

[2016-08-10 08:54] ardhipoetra commented on #2515
I don't mind. To be frank, the name `Policies` not really descriptive. I thought changing it into `CreditMining`, or something.

On the way to that, I think #2398 should be merged first to remove `Main` dependencies. It depends on another PR #2463, though.

[2016-08-13 11:28] lfdversluis commented on #564
Forgot to update.

Ran four tribler versions idle for one hour using a clean state dir.Noted down the packets in the database using the debug panel:

![db packets](https://gyazo.com/093f03b5248be63cbc0aa1aaa31c2651.png)

[2016-08-13 13:03] lfdversluis opened #2516 "Jenkins cannot create new jobs"
Tried to create a job in the pers folder:

[code]

[2016-08-13 13:10] lfdversluis commented on #2516
https://issues.jenkins-ci.org/browse/JENKINS-37371

[2016-08-13 20:01] lfdversluis commented on #564
Ok so I have measured both the I/O calls and times in Tribler as well in Dispersy using an empty megacache (.Tribler state dir) and run it for one hour. It turns out Tribler was blocked for **607,723  seconds** doing I/O, this result does not include LevelDB as I am not sure yet if this has blocking behavior. Dispersy a lot less with **30,399 seconds**.  In total Tribler thus did **638,122** secon

[2016-08-13 20:12] synctext commented on #564
607 out of 3600 seconds. (you mixed up your . and , btw)
Solid progress! great stuff.

Note that which IO execute, fetchall or community.py calls are the heaviest is the critical info.

[2016-08-13 20:15] lfdversluis commented on #564
Yes this info is all captured as well. Lines are in the form of:
``1471109266.44 fetchall helper 46 /home/laurens/Documents/thesis/tribler/Tribler/dispersy/util.py 0.0179858207703
``
From left to right: time it was measured, database_function, caller_function_name, caller_function_line-number, path_caller_function_file, elapsed_query_time

[2016-08-13 21:05] lfdversluis commented on #564
If you run this with a filled megacache fro one hour, 100k torrents in it, 1200 channels and ~20 channel subscriptions dispersy will perform **167.704** seconds of I/O, Tribler a massive **1429.052** seconds. In total Tribler+Dispersy was doing **1596,756 seconds of IO, that is 44.4% of the time the main thread blocked**.

As per indication of @synctext I will rerun this with 10 subscriptions.

[2016-08-13 22:10] brussee opened #2517 "Get MyChannel overview TypeError"
Should check if my_channel is not None before accessing my_channel[1] and my_channel[2]:

[code]

[2016-08-13 23:24] brussee commented on #2517
Somehow my_channel is None, according to the stack trace below, after checking my_channel_id is None.
[code]

[2016-08-13 23:25] brussee commented on #2517
**Cause:** channel_db_handler.getChannel calls _getChannels() which does not return channels with empty names.
[code]

[2016-08-13 23:27] brussee commented on #2517
Effectively this creates an unrecoverable state when the user creates MyChannel with an empty name, because you can never edit it after creating due to the mentioned filter.

[2016-08-14 11:02] lfdversluis commented on #2517
Good find.

[2016-08-14 13:23] lfdversluis commented on #564
Empty state dir run with correctly caller and top 5 heaviest query:

Tribler: https://gist.github.com/lfdversluis/5c49ec6dcc73cc20f1b690c9d174229c
Dispersy: https://gist.github.com/lfdversluis/00b27126b9eb0ef4c89101198463ceae

[2016-08-14 14:13] brussee opened #2519 "Create test case for get single channel if name is empty"
Make sure you can still get a single channel if you know the ID or dispersy CID.
Prevent #2517 from happening again.

[2016-08-14 20:41] lfdversluis opened #2520 "Docs do not show anything"
http://tribler.readthedocs.io/en/latest/restapi/channels_subscribed.html

http://tribler.readthedocs.io/en/latest/restapi/channels_discovered.html

http://tribler.readthedocs.io/en/latest/restapi/channels_popular.html

[2016-08-14 20:50] devos50 commented on #2520
Thanks for reporting, I will investigate it.

[2016-08-14 21:29] Nubro01 opened #2521 "6.6.0-exp1 colums gone"
When clicking a column witin the download page, to resize that column, it disapeares and it is impossiblee to let it reappear again, even when you try to enlarge the column.
Within torrent details, ratio and other column data is not showing, so please show all colum's also within Torrent details,

[2016-08-14 22:02] brussee opened #2522 "Create torrent REST API endpoint should follow HTTP spec"
GET requests do not have a body https://tools.ietf.org/html/rfc2616#section-9.3

[2016-08-15 09:02] #2522 closed

[2016-08-15 09:22] whirm commented on #564
The LevelDB store was designed to be fully async from the get go. The transactions are commited on the threadpool.

[2016-08-15 09:27] whirm commented on #2515
I would move everything related to credit mining into a single package inside of `core`

[2016-08-15 09:31] whirm commented on #2521
Thanks for the report!

As this is a report on the old gui it won't be fixed. Instead it should be used as a reminder to check that the new gui behaves as expected.

[2016-08-15 11:53] Nubro01 commented on #2521
Also the top search sle is loosing its focus and you can only search through the home screen.
Unable to get a cursor working within the top lefl search sle (Single Line Edit)

[2016-08-15 14:20] devos50 commented on #1847
This one has been written a long time ago.

[2016-08-15 14:20] #1847 closed

[2016-08-15 14:22] devos50 commented on #2516
Fixed again

[2016-08-15 14:22] #2516 closed

[2016-08-15 14:30] whirm opened #2525 "It shouldn't be possible to create Channel with no names"
Right now it's not possible to do it from the GUI but it still is possible to do it because of a mistake on the code or via the API.

[2016-08-15 16:56] lfdversluis commented on #564
@whirm I remembered you explained this to me vaguely (was doubting myself), thanks for the confirmation :+1:

[2016-08-15 17:01] lfdversluis commented on #2521
@Nubro01 To get a bit more in-depth: we currently use wxgtk which is a not well maintained and a does not behave well cross-platform.

We are building a QT graphical user interface (GUI) now,  which is almost fully @devos50 work. We hope we can deploy this GUI soon. For now, we will leave the current wxgtk GUI as is because putting effort into something that will be deleted soon is a waste of time

[2016-08-17 14:41] pimveldhuisen commented on #2458
Design for a dispersy modification to use trust based peer selection:

Currently dispersy keeps a list of around 11 peers that are selected by random walks. Every 5 seconds a random peer is replaced. To make this trust based:

1. For every new peer request it's last x = 100 blocks
2. Calculate the netflow multichain score for each peer.
3. Order all peers from lowest to highest.
4. With probabilit

[2016-08-17 14:42] pimveldhuisen commented on #2458
@pimotte Thoughts?

[2016-08-18 19:35] jemadux opened #2526 "VLC ?"
i dont like to use vlc but i want to totem .. why there is that dependency on vlc ?

[2016-08-19 08:44] whirm commented on #2526
We use libvlc for the embedded player.

[2016-08-20 15:25] synctext commented on #67
@pimotte @pimveldhuisen Please consider using this as a reference in your thesis, along with Norberhuis work. Whiteboard picture names this the "Barter Chain" approach, from 3 years ago.

@Captain-Coder Consider including the tree design alternative within you design space discussion.

Live edges, discussed in 2013: #31
PR of implementation: https://github.com/Tribler/tribler/pull/1843

[2016-08-22 15:23] brussee opened #2527 "Events endpoint not started first"
The events start and upgrade finished events come AFTER other dispersy events. This should not be the case.

[code]

[2016-08-22 15:54] devos50 commented on #2527
@brussee which other dispersy events do you mean? Do you mean the logging from the Dispersy library?

`08-22 17:19:42.113 8950-9223/org.tribler.android:service_Triblerd I/Triblerd: WARNING:Could not resolve bootstrap candidate: dispersy2.st.tudelft.nl:6422`

[2016-08-23 08:49] brussee commented on #2527
Sometimes a huge list of discovered channels is outputted at the same time as the started events. I understand that dispersy may log before that, although it makes no sense that resolving the bootstraps is faster than the very very first thing Tribler should do: output startup progress events.

[2016-08-23 10:02] lfdversluis commented on #2527
If it's synchronous it may be that dispersy is started first which will output said channels? Then the startup procedure continues and Tribler outputs its events? I don't know the code so just naming a possibility here.

[2016-08-24 09:41] synctext commented on #2526
@jemadux we would love to integrate more video players in our client.
You can use Totem also. After downloading using Tribler, goto your file system browser and activate Totem from there. Should work in Win/Linux/Mac...

Hope this answers your question.

[2016-08-24 09:41] #2526 closed

[2016-08-24 09:43] synctext commented on #2519
Related to #2525
Not only test case, just not allow this in create_channel()

[2016-08-24 09:54] synctext commented on #2504
```TypeError: Increase_bytes_sent() was called with an object that is not a Circuit, RelayRoute or TunnelExitSocket```

@vi thank you all this interesting performance measurement work.
Could you perhaps upgrade to the latest devel, and try strace plus htop. See #564 ticket from 2014 onward where we track the IO bottleneck.

[2016-08-24 09:56] synctext commented on #550
Closing, we're redoing the whole GUI.

[2016-08-24 09:56] #550 closed

[2016-08-24 09:57] synctext commented on #680
About Tribler 6.2 closing...

[2016-08-24 09:57] #680 closed

[2016-08-24 10:05] synctext commented on #1713
An older version of what we also see in #2504.
Closing this ticket, as it's over a year old. With our new core we could re-open if happens again.

[2016-08-24 10:05] #1713 closed

[2016-08-24 10:06] synctext commented on #1711
It's now operational. REST api in devel.

[2016-08-24 10:06] #1711 closed

[2016-08-24 10:07] synctext commented on #1703
Current plan... Next version with GUI re-write will be 7.0
When anonymous download goes out of Beta: 8.0

[2016-08-24 10:07] #1703 closed

[2016-08-24 10:12] synctext commented on #1683
@colin1497 You discovered a problem in the tunnel community. The team made a good performance measurement test. Even with light load the tunnel may take 3 minutes to build.

btw  Gb infrastructure, nice!

[2016-08-24 10:12] Dmole commented on #1711
Thanks, is that available in (Pre-release) v6.6.0-exp1 or can you link to a build for testing?

[2016-08-24 10:14] synctext commented on #1676
Yes, sadly, hard to get running.. Complex stuff. Can you please try the latest Devel code?
Lot of changes past year. Closing for now, please re-open if you still get stuck.

[2016-08-24 10:14] #1676 closed

[2016-08-24 10:15] synctext commented on #1622
have not seen this in a while, closing.

[2016-08-24 10:15] #1622 closed

[2016-08-24 10:16] synctext commented on #1455
Please re-open if anybody has devel time for this. closing now....

[2016-08-24 10:16] #1455 closed

[2016-08-24 10:17] synctext commented on #1421
If anybody has time to work on this great! please re-open then, closing now.

[2016-08-24 10:17] #1421 closed

[2016-08-24 10:18] synctext commented on #1420
Thnx! we're now a Youtube-like GUI. closing...

[2016-08-24 10:18] #1420 closed

[2016-08-24 10:19] synctext commented on #1411
Yeah, the prior default setting was not good. Exit node behavior now needs to be explicitly enabled.

[2016-08-24 10:19] #1411 closed

[2016-08-24 10:20] #1408 closed

[2016-08-24 10:20] synctext commented on #1357
no iOS sadly, Android app Beta now operational. closing...

[2016-08-24 10:20] #1357 closed

[2016-08-24 10:22] synctext commented on #1041
REST api now in devel. Only took 2 years :-)

[2016-08-24 10:22] #1041 closed

[2016-08-24 10:24] synctext commented on #980
We now have it stored in a LevelDB database, using our own format. So it does not show up in simple searches.
Creating an encrypted store shounds safe, but the access key also is stored on the same machine. We need to improve the crowdsourcing and voting mechanism. Then then community can filter the really bad stuff out.

[2016-08-24 10:24] #980 closed

[2016-08-24 10:25] synctext commented on #979
We're now switching to a Youtube-like streaming GUI.
Hope you like the upcoming look and feel + usage model.

[2016-08-24 10:25] #979 closed

[2016-08-24 10:25] synctext commented on #892
REST api now in latest devel. enjoy!

[2016-08-24 10:25] #892 closed

[2016-08-24 10:26] #839 closed

[2016-08-24 10:27] synctext commented on #267
background server + REST api now in devel..

[2016-08-24 10:27] #267 closed

[2016-08-24 10:28] Dmole opened #2528 "404 link in README.rst"
The link in the "Packaging Tribler" part of the README.rst is 404.

[2016-08-24 10:34] Dmole commented on #1768
Thanks.
I guess the next step would be to reduce the 156 lines in
https://github.com/Tribler/tribler/blob/devel/doc/development/development_on_osx.rst
to `brew install tribler` or `port install tribler` .

[2016-08-24 22:04] colin1497 commented on #1683
Good to hear I found a legit issue.

WRT infrastructure, we completely renovated a house last year and it's relatively ridiculous what all I did....

[2016-08-25 09:18] qstokkink commented on #1882
Ok, I finally have a design I am happy with and which will provide a significant speed increase.

The main issues I faced were the following:
 1. Data passing through Dispersy clogs up Dispersy and thus the main process.
 2. As per (1), simply offloading received packets to subprocesses will **only** provide some benefit in encryption/decryption and **add overhead** for forwarding these packets.

[2016-08-25 14:31] synctext commented on #1711
https://jenkins.tribler.org/job/pers/job/Build-Tribler7_OSX/
Still very much under construction. Within a few weeks it should be stable and documented. But it's coming....

[2016-08-25 14:42] synctext commented on #1882
wow, wait, what? @qstokkink  So one Dispersy instance per community. So we fork a new Python process for each community, with their own IPv4 listen socket, own database, and walker.

Is the process doing the setup on a different listen port then the Tunnel community itself? How does this work with UDP puncturing. Are we still puncturing the correct listen socket?

Sounds quite interesting. I would

[2016-08-25 15:47] lfdversluis commented on #2137
@whirm This initial result is there, so this ticked can be closed :+1:

[2016-08-25 18:44] #2137 closed

[2016-08-25 20:09] qstokkink commented on #1882
@synctext Correct: one TunnelCommunity for one Dispersy with one unique listen port for one subprocess/forked process. Note that this will also be the only community loaded for a subprocess.

This _should_ work perfectly fine with the UDP puncturing.

Because [all of the TunnelCommunity messages are sent directly through the endpoint with NoAuthentication()](https://github.com/Tribler/tribler/blob

[2016-08-25 20:15] devos50 commented on #1882
@qstokkink sounds like an interesting design. I'm curious to know how this works out. I'm a huge supporter of splitting Tribler in various processes, however, we should be careful that we are not overcomplicating communication between processes since I think it's important that (external) developers can easily modify the communication protocol used between the Dispersy processes.

Another advantag

[2016-08-26 04:53] qstokkink commented on #1882
@devos50 If anything, this should even simplify communications. The three messages being transferred are the following:

1. Main process to subprocess: create(<<number of circuits per subprocess>>)
2. Subprocess to main process: stats(<<stats object>>)
3. Main process to subprocess: destroy()

That's it.

[2016-08-26 05:01] synctext commented on #1882
morning, sooo....
When selecting hops for a tunnel, we need a UDP punctured connection to it. Thus the Tunnel community needs to do all Create messages from its own external visible external IP:port.
correct?

[2016-08-26 05:54] qstokkink commented on #1882
@synctext Correct, each subprocess will need to be punctured separately. If this is really a problem, the design can also use a single port: [some very nasty code in endpoint.py already takes care of this](https://github.com/Tribler/dispersy/blob/devel/endpoint.py#L221).

[2016-08-26 11:41] synctext commented on #1882
soooo v2...
The Tunnel community has a certain UDP punctured peers. It can tunnel through them. The main Dispersy then needs to either take that into account when selecting the hops or let the Tunnel community do everything autonomously.

[2016-08-26 14:37] synctext commented on #1882
ohhhh. Just had an important realisation. Documenting it here.

Tunnel community is special. It moves bulk data. No other community needs that or does that.

Cell packet: 5MBytes per second.
Walker: once per 5 seconds!

This means Tunnel community is a single special case. Normal communities battle with correctness and code complexity. Agree?

[2016-08-26 20:14] qstokkink commented on #1882
@synctext Agreed. This is also why it is so disastrous to have it use the same port as everything else.

And to answer the former post: this is why the main process does not join the Dispersy community, but each subprocess does everything autonomously.

[2016-08-26 21:52] 0x27 opened #2529 "Feature Request: Add Tracker to Torrent"
A good feature to have would be the ability to add a tracker to a torrent that appears to be badly seeded (or relying on some dead trackers). For whatever reason, this usually works out pretty well for me in other clients to "revive" torrents that initially seem to be dead.

[2016-08-27 07:01] ardhipoetra commented on #2511
Reopen this issue as this happens every weekend in last 2 (or 3) weeks.

[2016-08-28 18:55] vi commented on #2504
Now using commit 9f1d4d94d1a2df32b42a57017d1246d568821876.

After starting Tribler (it is now "warmed up" yet), it takes about 2-7% of a i5 CPU core.

strace counters (by new `htop` shows about 7-50%, highly varied. Tribler still initializes...:

[code]

The time above is CPU time in kernel, not actual wall clock time.

I'll edit the measurements with warmed up Tribler + warmed up Tribler with net

[2016-08-28 20:04] synctext commented on #2504
@vi after 20 or 30 hours the content voting DB is also filled. CPU ussage should halve after that. Can you see that difference?

thnx for helping out!

[2016-08-29 10:52] vi commented on #2504
Warmed up Tribler (16 hours later), 32 completed seeding downloads, 0 downloads in progress, Upload bandwidth from varies from 10 kbps ro 100 kbps, Download bandwith varies from 0 to 300 kbps. Anonymity is on, with 6.5 GB total and 925 MB balance.

So far Tribler is spent 4.7 CPU hours, including 4.05 userspace CPU hours. htop reports from 30 to 50 per cent of CPU usage (excluding spikes). Syscall

[2016-08-29 11:22] whirm commented on #2511
I don't see any issue with jenkins, it has plenty of free space.

[2016-08-29 11:56] vi commented on #2504
With network off
---

Upload and Download are predictably 0, balance and total don't change.

Typical CPU load is 8-11%. Accurate measurement across 39 minutes: 10% user load + 0.8% kernel load (of one i5 CPU core).

Syscalls:

[code]

Maybe it's time to try some Python profiler (especially with network off, as it is more predictable and reproducible mode)?

[2016-08-29 12:11] ardhipoetra commented on #2511
Yeah, I also realize it on late Sunday. I intend to run a long (24+ hour) job on weekend, but this issue always pops up every saturday morning or friday evening whenever I tried to launch my job :/.

[2016-08-29 13:13] vi commented on #2504
For comparison, measurements for 63 minutes with network available: User CPU: 31%, Kernel CPU: 5.8%.

[2016-08-29 14:50] whirm commented on #2511
@ardhipoetra backups are made on the Saturday to Sunday nights, it's a lot of data so things get sluggish for a while. I would recommend running the job at any other time. Most of the people are done with the MSCs and on vacation so you won't be bothering anyone for sure.

[2016-08-29 15:13] ardhipoetra commented on #2511
@whirm I see. It makes sense now. Thanks for the explanation

[2016-08-29 15:13] #2511 closed

[2016-08-29 17:25] vi opened #2530 "[devel] Downloading while 100%?"
##### Tribler version/branch+revision:

9f1d4d94d1a2df32b42a57017d1246d568821876 devel
##### Expected behavior:

100%-downloaded, "Seeding" downloads are only uploaded, not downloaded
##### Actual behavior:

![q](https://cloud.githubusercontent.com/assets/173219/18060341/6594712c-6e26-11e6-9f52-bbf78b9bc0c2.png)

Note: anonymity contribution is on and the balance is slowly, unsteadily growing.

Ma

[2016-08-29 23:13] vi opened #2531 "[devel] Errors logged to console"
##### Tribler version/branch+revision:

9f1d4d94d1a2df32b42a57017d1246d568821876 devel
##### Relevant log file output:

For all/most of downloads:

[code]

[2016-08-31 08:23] ardhipoetra commented on #2365
This one is solved in PR #2461. Close it, @devos50?

[2016-08-31 08:26] devos50 commented on #2365
@ardhipoetra great, I will close it 👍

[2016-08-31 08:26] #2365 closed

[2016-08-31 08:28] devos50 commented on #2531
@vi thank you for your bug report! We will investigate it.

@ardhipoetra it seems related to the saving process of resume data. Are you able to take a look at it?

[2016-08-31 08:30] devos50 commented on #2530
That's weird, I'm unable to tell at this moment whether this is an issue of the GUI or an issue located inside the core of Tribler. Anyway, we will take a look.

[2016-08-31 08:35] qstokkink commented on #1882
For anyone keeping tabs on this, I will update this checklist with the progress of this implementation:

 - [X] Create separate runnable process [SOURCE](https://github.com/qstokkink/tribler/blob/tunnelprocess/Tribler/community/tunnel/tunnel_subprocess.py)
 - [ ] Create process/worker pool manager
 - [ ] Create a worker-pool-based tunnel community
 - [ ] Create Gumby experiment

[2016-08-31 09:32] synctext commented on #1842
Focus for 2 weeks: finish Problem Description and Related work (in 2 chapters or 1):
 - Flashcrowd scenario, press discussing potential replacement for Youtube services without servers. 10.000 new users/day for 1 week. Each donating 250 GByte. ResearchQuestion: make optimal use of  donated resource.
 - Left-over bandwidth allocation. ResearchQuestion 2: what mechanism can ensure that CreditMining

[2016-08-31 13:36] synctext commented on #1882
[Facinating usage of the Session construct](https://github.com/qstokkink/tribler/blob/tunnelprocess/Tribler/community/tunnel/tunnel_subprocess.py#L149)

[2016-09-01 09:37] pimotte commented on #2458
Johan: Specs for this component: Basic functioning hearsay mechanism. Low-risk conservative design.

[2016-09-01 14:04] pimveldhuisen opened #2533 "Thesis: Using distributed blockchains to cultivate trust in a peer group"
## Thesis: Using distributed blockchains to cultivate trust in a peer group
- Design a system that can account for user interactions that is:
  - Accurate
  - Tamper-proof
  - Scalable
- Implement this system
- Test and evaluate this system
- Use this system to select peers that can be trusted, and interact with them further to create self reinforcing trust.

[2016-09-01 15:51] synctext commented on #2533
"Cultivating online trust in complex self-organising systems" Nice title/storyline.

Background story: we tried multichain, needs churn resilience, Tribler future-proof architecture means creating a generic "trust cultivation" module. Essential requirement is that this can be re-used in other systems, proven to work in Tribler.

Self-reinforcing trust is a more cold and rational term. Cultivating

[2016-09-03 10:20] synctext commented on #2458
_Fault resilience_ and a design without any probability of _cascading failure_

Random graph sampling is safe, but not resilient against resource exhaustion attack.
That would be the main argument against making a multichain crawler directly dependent on the contents of the multichain. As proposed, start with a simple scoring function: 0=random peer, 1=connected through multichain. Deploy and lear

[2016-09-03 14:32] qstokkink commented on #1882
Since process management has become somewhat complicated, I will drop off some documentation here.

### Creating children
In Python there are several ways to create children (i.a. subprocess, twisted, raw os calls and multiprocessing), which all boil down to using _os.fork()_ or _os.spawn()_. Most of these constructs require you to reinvent the wheel and create your own serialization and pipe mana

[2016-09-04 20:35] synctext commented on #1882
quite impressive

[2016-09-05 09:06] pimveldhuisen opened #2534 "Multichain: Verify incoming requests"
When a multichain request is received, the local Tribler instance should verify that the up- and download amounts specified are correct.

[2016-09-05 09:35] pimveldhuisen commented on #2534
Proposed design:
 - When a tunnel close event occurs, and the role of the client is that of a requester, delay the sending of a multichain request by 5 seconds. This should 'guarantee' that a tunnel close message is received by the other party before the corresponding incoming multichain request.
 - When a tunnel close event occurs, and the role of the client is that of a responder, save the amoun

[2016-09-05 12:51] pimveldhuisen commented on #2534
(Feedback @synctext) Investigate:
Is it possible to have multiple tunnels with the same peer? If this is not the case, the above design would be very confusing.

[2016-09-05 14:09] synctext opened #2535 "Literature survey on incentives and mechanisms to create trust"
Towards msc thesis project on: fault-tolerant decentral market with proper security.

Read Torcoin, Lira, Multichain.

Storyline: tragedy of commons, I. PD, emergence of cooperation

2003 papers with 'solutions'.

[2016-09-05 21:53] ghost opened #2536 "[FEATURE REQUEST] Sending Tribler to tray."
The software is amazing as is. It'd be amazing to send Tribler to tray and not worry about accidentally closing the window.

[2016-09-06 10:00] Hivemind-pulse commented on #1264
This issue can be closed since it has become outdated. The FamilyFilter is no longer in `Tribler/Core`

[2016-09-07 11:03] synctext commented on #2458
The key challenge and danger for 2016 and 2017 is that we DDoS ourself. In scientific turns this is the problem of load balancing. The sybil attack is more medium to long-term. Hence my expressed desire for a conservative design, that _just works_.

[2016-09-07 18:18] qstokkink commented on #1882
First milestone https://github.com/qstokkink/tribler/commit/8faed16ca96e80557a8279aacbbdf54ae244a82a, things are coming together.
This version will run passive autonomous packet relayers for the HiddenCommunity (one per process).

It can't create its own circuits yet, but this does show that everything will work as described in my previous (long) post.

[2016-09-08 09:29] pimveldhuisen opened #2538 "TrustChain: Implement limited requests for blocks by a crawler walker"
Blocks can currently only be requested in a way aimed at retrieving the complete state by the crawler. When regular nodes will also collect some blocks we require more precise requests for specific blocks for performance/scalabillity reasons. This can be implemented by:
- [ ] Allowing 'crawl' requests for a different public key. (Node A can ask node B for all blocks it has from the chain of node C

[2016-09-08 10:13] synctext commented on #2458
Key piece of theory for msc thesis "Problem Description": https://www.semanticscholar.org/paper/Estimating-and-Sampling-Graphs-with-Ribeiro-Towsley/2337ba01e237a47c5f965474c1f2d4f4ee4f2643

[2016-09-09 14:44] synctext commented on #2231
- Coming 3 weeks: finish 3 thesis chapters...
 - Then minimal viable product: VLC playback.
 - Launch Beta
 - Measure & experiment

[2016-09-09 22:06] themusicgod1 commented on #2250
It might be worth considering that names aren't the only important thing a keyword search may be looking for - a 'deep search' of the content of files, too, used to be possible in earlier p2p networks (especially within special parts of files, like ID3 tags) and may yet be an important feature, long term to keep our eyes on.

Another thing worth thinking about is whether something like 'pagerank'

[2016-09-10 08:32] synctext commented on #1750
Related to multichain crawling. We don't want to spy on our users for profit, but identify fault, failures, and points for improvements. Respect privacy, no exposure of any individual, and only provide insight into the global system behavior.

[2016-09-10 08:42] synctext commented on #2250
@themusicgod1 Yes, we need accurate metadata, proper pageranking/itemranking, and good ID3 stuff.

btw. Worked on this myself 16 years ago, sadly never got solved (http://cd.ro.nu/hypermail/1046.html). Maybe an extra 16 years:-)

[2016-09-10 22:53] svnpenn commented on #1863
For goodness sake, what the hell is going on with the size?

Program     | Size
------------|------
Tribler     | 86 MB
qBittorrent | 16 MB
PicoTorrent | 3 MB

[2016-09-11 08:51] synctext commented on #1863
yeah, our installer includes a lot. On Windows a complete VLC installer, full Python interpreter, lots of libraries, and 3 versions of VB. Can be slimmed down.

[2016-09-11 09:18] lfdversluis commented on #2536
@devos50 I recall you have this implemented in the new GUI?

[2016-09-11 09:26] lfdversluis commented on #1882
Very interesting read @qstokkink didn't know that a fork would also copy the singletons.
I assume that Twisted subprocesses then also make use of the singleton reactor? Weird though, because that would mean that two processes running two python interpreters are using only one reactor...

[2016-09-11 09:40] lfdversluis commented on #1863
VLC takes a lot indeed (58%)
![vlc is big](https://gyazo.com/91a023896d17eea614371a1880539b6c.png)

[2016-09-11 11:04] qstokkink commented on #1882
@lfdversluis Well the two processes are using what appears to be the same reactor, until the subprocess tries to alter the memory (reading the other unaltered memory of the reactor is still possible). This leads to really strange behavior.

Also, that's a good point about the readthedocs :+1: .

[2016-09-11 14:05] mattpanther opened #2539 "Install Process Stopped at "Upgrading from v22 to v23""
#### Please, fill all relevant items:
- [ x] I have read CONTRIBUTING.md
- [ x] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

6.5.2
##### Operating system and version:

Windows 10 latest version
##### Expected behavior:

For new version of Tribler to install completely.
##### Actual behavior:

Stops at "Upgrading datab

[2016-09-11 15:11] mattpanther commented on #2539
Followed the instructions here and deleted the sqlite directory, appears to be working now, https://github.com/Tribler/tribler/issues/2136

[2016-09-11 15:17] lfdversluis commented on #2539
The issue is still valid, apparently something went wrong in the upgrade process. Deleting your databases will delete your discovered peers/channels i.e. knowledge about the network. Therefor, it would be better if we look at the root of this issue.

[2016-09-11 16:49] devos50 commented on #2536
@lfdversluis at the moment when you press the close button in the new GUI, Tribler is closed completely. @ghost thanks for the suggestion, I will take a look at it!

[2016-09-11 16:59] devos50 commented on #2539
I agree, we should take a look at this one and try to identify the root cause of the error. I will reopen this issue.

[2016-09-11 17:19] devos50 commented on #2066
This one cannot happen anymore since @brussee refactored the torrent fetching system in #2423.

[2016-09-11 17:19] #2066 closed

[2016-09-11 17:23] devos50 commented on #1107
@jkaberg thanks for the suggestion. We currently have an extensive API (see the documentation) that is ready for some beta testing. Also, the new GUI will utilize this API.

Can you create separate issues for suggestions regarding enhancements of the API? I'm closing this issue.

[2016-09-11 17:23] #1107 closed

[2016-09-11 17:25] devos50 commented on #2508
Ah in that case it's not a bug but a feature. I will close this issue.

[2016-09-11 17:25] #2508 closed

[2016-09-11 17:28] devos50 commented on #2429
@brussee I haven't seen this one after the refactoring of the tunnel tests in #2459. Please reopen the issue if it happens again and we will investigate.

[2016-09-11 17:28] #2429 closed

[2016-09-11 17:29] devos50 commented on #2329
This one cannot happen anymore since wx is removed from the tests.

[2016-09-11 17:29] #2329 closed

[2016-09-11 18:05] devos50 commented on #2190
There is a bug in the old GUI which makes it take longer before the torrent is removed from your channel. In the new GUI, the torrent gets removed almost instantly.

[2016-09-11 18:08] devos50 commented on #2033
This is already fixed.

[2016-09-11 18:08] #2033 closed

[2016-09-11 18:09] devos50 commented on #1939
This one will not be fixed since it is part of the old GUI.

[2016-09-11 18:09] #1939 closed

[2016-09-11 18:10] devos50 commented on #1908
This one is fixed by one of my PRs when refactoring the tests. Since then, I've not seen any test data being written to the repository directory.

[2016-09-11 18:10] #1908 closed

[2016-09-11 18:12] devos50 commented on #1798
This one has been fixed already (we have a start download method now in LaunchManyCore iirc).

[2016-09-11 18:12] #1798 closed

[2016-09-11 18:13] devos50 commented on #1796
Yeah, we have to balance this well. I'm closing this discussion btw.

[2016-09-11 18:15] devos50 commented on #1746
I think this issue is a bit too general. I close it and when I encounter a large file, I will open a separate issue for it.

[2016-09-11 18:15] #1746 closed

[2016-09-11 18:16] devos50 commented on #1634
WebUI is not maintained anymore and will be removed when the new GUI goes live.

[2016-09-11 18:19] devos50 commented on #1266
We have some documentation now about building/developing Tribler on OS X and Windows.

[2016-09-11 18:19] #1266 closed

[2016-09-11 18:20] devos50 commented on #1015
I've created a Twistd plugin which allows Tribler to run as daemon 👍

[2016-09-11 18:20] #1015 closed

[2016-09-11 18:22] devos50 commented on #14
Some work has been done on this issue in #2072 and it will be completed when the new GUI goes live in #2153.

[2016-09-11 18:25] devos50 commented on #2174
Since the wx GUI will be removed soon, I will close this issue since it will not be fixed.

[2016-09-11 18:25] #2174 closed

[2016-09-11 18:26] devos50 commented on #2172
Dispersy communities are now loaded in LaunchManyCore.py

[2016-09-11 18:26] #2172 closed

[2016-09-11 18:31] mattpanther commented on #2539
Sounds good guys, if there's anything I can do to support with testing let me know, I still have the old sqlite folder in my recycle bin. Your commitment to quality is admirable

[2016-09-11 18:33] lfdversluis commented on #1796
Why would you close this if it's still an open problem?

[2016-09-11 18:37] lfdversluis commented on #2539
I think the stacktrace you have provided us with already gives us a lot of information. I am not sure if the databases will be of help, but if you could hang onto the folder containing the SQLite databases just to be safe, that would be great.

[2016-09-11 18:39] devos50 commented on #1796
Ok then, I will reopen it and change the label/title to make the issue more clear.

[2016-09-11 18:49] mattpanther commented on #2539
Will do

On Sun, Sep 11, 2016, 2:38 PM Laurens Versluis <notifications@github.com>
wrote:

[2016-09-14 05:58] synctext opened #2540 "self-reinforcing Trust"
Tribler records interactions on the blockchain and prefers to interact with peers which helped in the past.

After each anon relay help, a record is created. Incoming requests for help are handled using a priority mechanism with a bias for cooperative peers. Freeriders may be in the queue for infinity. Outgoing relay help requests build upon existing trust relations.

Calculate a trust score for e

[2016-09-15 08:17] synctext commented on #2535
This work prepares this quarter for a thesis on crafting a decentral market. As such, knowledge from threats and defenses is vital. Given central research question: _how to build a trusted and reliable service out of unreliable and possible fraudulent donated resource_?

Starting points:
Classical MojoNation paper: www.cs.kent.edu/~javed/class-FP2P10S/papers-2006/mojonation.pdf
First ever document

[2016-09-15 08:33] synctext commented on #2535
Next steps:
 - define scope
 - find just titles for 6 sub-topics, aim for 30+ papers (not yet reading)

[2016-09-15 09:17] synctext commented on #2106
Thesis material:
 - Understanding performance and emergent behavior using _Visual Dispersy_ (correctness)
 - Improving performance and community coding in Dispersy using Protocol buffers (general performance)
 - Exploiting multi-core architectures for Dispersy speedups (multi-core performance)

Together:
Multi-core architecture for anonymous Internet streaming

[2016-09-15 10:21] synctext commented on #2540
#2533 overlap

[2016-09-15 10:42] synctext commented on #2533
Design: why create records every 10min, not every 10MByte ?

Experiments brainstorm:
 - Load balancing experiment (live walk peer overload, already a Gumby graph)
 - Record requesting methods experiments
 - scalability and long-term viability usage (long-term == 10 years)
 - SCIENCE: graph sampling, informativeness and accuracy of sharing ratio (Dedault Dispersy wlak, live walk, etc.). Scenario: j

[2016-09-15 10:47] synctext commented on #2533
Public ongoing thesis text : https://www.sharelatex.com/project/573db2896f2d756841e3def8

[2016-09-16 15:41] synctext opened #2541 "Geo-restricted communication, restrict talking to strangers"
_Investigate restricting communication for security_

There are various techniques to prevent an adversary for creating numerous identities and overflowing the network. Latency is restricted by the laws of physics, thus a peer 5ms away has to be reasonable close. Geo-fencing is a well known term to restrict activity to an region by using GPS technology. One measure we could take is create a low-la

[2016-09-18 12:20] kazerniel opened #2543 "[Bug] Erratic channel selection behaviour"
##### Tribler version/branch+revision:

6.5.2
##### Operating system and version:

Win7 Pro x64
##### Expected behavior:

When I click on a channel, it should show the channel's name and information below.

When I click visit channel, it should show the name of the channel and the torrents belonging to the channel I selected.
##### Actual behavior:

When I click on a channel, it often shows the co

[2016-09-18 18:56] lfdversluis commented on #2543
@devos50 I think this is a wx bug, what do you think?

[2016-09-18 19:00] #2216 closed

[2016-09-18 19:01] #2217 closed

[2016-09-18 19:02] lfdversluis commented on #2237
This was implemented a long time ago, since it is in line with the DB work and we have no more stuck GUI for 10 minutes or so, there is no need for further insight into improvements for this one.

[2016-09-18 19:02] #2237 closed

[2016-09-18 19:52] synctext commented on #2543
hi people, tricky to understand this problem.

Tribler may take 20+ seconds to respond. Especially if you are subscribed to over a dozen channels. It sometimes is slow to respond.

Could you perhaps make a screenshot of the problem?

[2016-09-18 20:08] kazerniel commented on #2543
Screenshots here: http://imgur.com/a/xd3M7

[2016-09-18 20:45] lfdversluis commented on #2543
Looks like a visual bug, should be inspect just to make sure. Unless @devos50 can confirm this issue is not present in the new GUI?

[2016-09-19 13:19] ardhipoetra commented on #2378
I think this should be closed because all the PR fixing it are merged already.

[2016-09-19 13:19] ardhipoetra commented on #2363
I think this should be closed because the PR fixing it is merged already.

[2016-09-19 13:38] #2378 closed

[2016-09-19 13:38] #2363 closed

[2016-09-19 14:52] ardhipoetra commented on #1842
Thesis latex repository : https://github.com/ardhipoetra/msc-thesis-creditmining

[2016-09-19 16:33] sirber opened #2546 "change anonimity level"
##### Tribler version/branch+revision: #####
6.5.2
##### Operating system and version: #####
Windows 10

Hi, would be nice to have an option to change anonimity level once the torrent have been added. Also have the option to set the anonimity level when adding a torrent.

[2016-09-19 17:11] devos50 commented on #2543
@kazerniel @lfdversluis I believe this is a GUI issue and I haven't seen this kind of behaviour in the new GUI. Probably, the updating of the bottom splitter view is not performed correctly. We won't give much priority to this and I will leave this issue open until the new GUI (#2153) is ready and we have verified that this kind of behaviour is not present in the new interface.

[2016-09-19 17:12] devos50 commented on #2546
Thank you for your suggestion. This is indeed something I've been considering to implement but due to time constraints, I haven't been able to implement this.

I hope we can have this feature in the Tribler 7 release.

[2016-09-20 08:49] devos50 commented on #2155
A while ago, we verified that this provides zero to none additional speed.

[2016-09-20 08:49] #2155 closed

[2016-09-20 08:53] qstokkink commented on #1882
Some shameless self-promotion here. Everything seems to be hooked up properly (read: barely fuctional) and is ready for testing!
![progress](https://cloud.githubusercontent.com/assets/3630389/18663788/42552df4-7f20-11e6-9a5e-81a4fffa736a.png)

[2016-09-20 09:55] lfdversluis commented on #1882
@qstokkink I heard you had a nasty bug, how it's going with that?

[2016-09-20 13:17] synctext opened #2547 "adversarial search state-of-the-art"
Keyword search within a self-organising system is a challenging unsolved problem.

Detecting and removing spam has proven to be extremely difficult. Creating a trustworthy search service, out of unreliable and possibly fraudulent resources is a challenge. A starting point is creating a web-of-trust or other feedback mechanism.

Existing work:
- [Twitter spam](https://scholar.google.com/scholar?q=t

[2016-09-20 18:05] synctext commented on #1882
quite eager to see the new download performance numbers. Can we do 5MB/s....

[2016-09-20 19:48] qstokkink commented on #1882
@lfdversluis that's with the protobuf port, I still don't know what is causing it (although I'm 99% sure its only a cosmetic/non-critical bug).

@synctext I'll have to set up a gumby experiment to test the new capabilities.

[2016-09-21 07:54] synctext commented on #646
We should have full debug symbols available when Libtorrent crashes.
After 2 years, we now have the 1 week experiment, but does not include regular Debian ISO download to trigger sef faults.

[2016-09-21 08:36] synctext commented on #1842
Create:
 - 1. introduction (file sharing, p2p, upload problem,Bittorrent, tit-for-tat, Tribler, allchannel&search community table, multichain and upload credits)
 - 2. Problem Description (credit mining, good investment, related work: Lira&Torcoin&Bitcoin..,P2P economics, sharing ratio enforcement, etc.)
 - 3. System design (picture, explain N piece prospecting, etc.)

[2016-09-21 11:47] synctext opened #2548 "end-to-end anonymous seeding and download performance test"
Privacy with usability is the core goal of our ongoing 11 year effort.

This end-to-end test is designed to identify problems in our whole Tribler chain, from session key exchange to rendezvous peer discovery.

Scenario:
 - Create a new file, generate magnet, and seed it
 - Start anonymous download on different machine and seed anonymously
 - repeat up to 8x the start download, start 1 new downloa

[2016-09-21 16:52] avemt1 opened #2549 "Tribbler not starting: Missing File?"
#### Please, fill all relevant items: ####

- [ ] I have read CONTRIBUTING.md

- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
6.5.2
#### Operating system and version: #####
Windows 10 pro
##### Expected behavior: #####
Application GUI displaying
##### Actual behavior: #####
Log file notification
##### Steps

[2016-09-21 17:44] avemt1 commented on #2549
It was one of my Anti-virus. I use both Malwarebytes and Spybot Search and Destroy +AV. I will test and inform which is causing the issue, and a possible fix.

[2016-09-21 17:49] avemt1 commented on #2549
The problem was Malwarebytes. It was reading the Log file in C:/Users/(User)/AppData/Roaming/.Tribler/collected_torrents/00000#.log as a malicious file. If anyone has this problem also, please go into your settings and add the .tribler folder listed above to the exclusion list.

[2016-09-21 17:49] #2549 closed

[2016-09-23 08:37] khonkhortisan commented on #2111
https://github.com/Tribler/tribler/issues/1013

[2016-09-23 19:07] vi opened #2551 "Tribler from "next" fails to start when database is from "devel"."
##### Tribler version/branch+revision:

e79b6dd2247f53ca764559280cc0997299a1e673 next
##### Operating system and version:

Debian i686
##### Expected behavior:

Tribler can start even after experimenting with dev versions (while preserving download list if possible or clearing them with a confirmation window if not).

Tribler never fails to start up and show the most of UI if VLC can't be initiali

[2016-09-23 19:13] vi commented on #2551
Tribler from "next" does work with `~/.Tribler` moved away.

Fortunately, going back to "devel" restored the downloads list. While adding a bunch of dummy empty downloads and one random non-empty download along the way although...

[2016-09-23 19:36] devos50 commented on #2551
Thanks for reporting!

[2016-09-26 07:50] qstokkink commented on #1882
Some results from the 1-gigabyte-1-hop experiment (5 nodes 20 processes):
![perf](https://cloud.githubusercontent.com/assets/3630389/18826281/e9acf50e-83cc-11e6-85dc-480f9f0821c5.png)
This stabilized at around 550kbps, although I have downloaded a well-seeded 350 MB file in the wild in about two minutes.

At this point the status is:
 - TunnelCommunity relaying (ergo, being a relay for someone els

[2016-09-26 09:18] devos50 commented on #1882
Good work! Do you get feedback about progress when using the API (`/downloads` endpoint)? Maybe you can use that to visualise the progress of a download?

[2016-09-26 09:49] qstokkink commented on #1882
@devos50 Well, the problem is that the subprocess maintains its own total up/total down, etc.: so the progress data exists, but the main process doesn't know about it.

This is a matter of forwarding all of the information to the main process. Sadly, this doesn't happen in one spot, so this is mostly a matter of trying to figure out where data is being pulled from (ex. some data is pulled from not

[2016-09-26 13:29] synctext commented on #2106
Thesis storyline: dispersy is just a use-case, now fast & usable.
why is this not just a case of (boring, not beyond state-of-the-art) performance engineering?

[2016-09-27 14:11] synctext commented on #2535
And more references:

[PeerMart: Secure decentralized pricing and accounting for peer-to-peer systems](https://pdfs.semanticscholar.org/b2b7/156868b5f060b45f011a30cec609e621daaa.pdf)
Google: "Matching Through Decentralized Markets - Penn Economics"
http://www.aaai.org/Papers/Symposia/Spring/1996/SS-96-02/SS96-02-002.pdf
http://link.springer.com/article/10.1007/s10660-010-9056-y
https://cs.uwaterlo

[2016-09-27 14:12] synctext commented on #2535
Survey .MD in progress: https://github.com/basvijzendoorn/literaturesurvey

[2016-09-29 17:13] synctext commented on #2547
Real world fraud with reviews/votes, thnx @pimveldhuisen
http://www.zdnet.com/article/exclusive-inside-a-million-dollar-amazon-kindle-catfishing-scam/

[2016-09-29 18:17] sirber commented on #2504
same thing on the windows version. cpu around 10-25% with downloading 10 torrents in anonymous mode (2 hops). the gui also takes 35-50% CPU when minimized for a while, when asked to show the main window again.

[2016-09-29 20:34] PingouinArmy opened #2556 "Download slow"
Hello I'm new on Tribler and I'm a a little bit lost.
I have a very very slow download even if I'm in fast download/low protection mode. What can I do with bittorrent it takes me less than 20 minutes for 1 giga and here I have 8 hour to go.
(I'm downloading from another torrent website because the channels doesn't seems to have what I look for)
Hope someone can help me out because I like thios pro

[2016-09-30 05:46] synctext commented on #2556
thnx for reporting this.
We're working hard to make Tribler faster. We need more people to donate their upload bandwidth...

[2016-09-30 10:14] slrslr opened #2557 "Missing feature, download torrent in sequential order for instant playback"
Hello,

some torrent clients like qbittorent has option to download torrent contents in sequential order

This is very useful as one can immediately start watching downloaded movie. It would be nice to have this feature in the Tribler. So user can choose to download torrent in sequential order either before download or in the middle of downloading.

Thank You for considering

[2016-09-30 10:17] devos50 commented on #2557
Thank you for your comment. Our built-in video player (that is currently disabled on OS X due to incompatibility issues) uses linear download mode by default. We could enhance this feature so it is also possible to select linear download mode when not playing a video in Tribler.

[2016-09-30 10:24] slrslr opened #2558 "New feature: Full screen and pause playback in the Player"
Hello,

i found being unable to quickly control playback in the Tribler media player.

Can You please allow Esc key to quit full screen.
Space key or mouse left click to pause/resume/start playback.
Doubleclick video to show fullscreen
(same as Media Player Classic)

Thank you for considering

[2016-09-30 10:36] devos50 commented on #2558
Hi,

A full screen mode is currently implemented in the new GUI when playing a video. This mode can be left by pressing the Esc button.

Your second suggestion is still pending (using the space/mouse left click key to control playback). I will implement this when I finish the work on the user interface.

[2016-09-30 12:42] wordempire commented on #2547
Most of these were quite useful for gaining some understanding on this topic, thanks @synctext and @pimveldhuisen.

I am currently looking into
[Fighting peer-to-peer SPAM and decoys with object reputation](https://dl.acm.org/citation.cfm?id=1080204), and to a lesser extent parts of [P2P-Based Collaborative Spam Detection and Filtering](http://ieeexplore.ieee.org/document/1334945/?arnumber=1334945

[2016-09-30 12:47] wordempire commented on #2547
Also, regarding an often-used WoT based system:
the [gpg shortkey issue](https://lists.gnupg.org/pipermail/gnupg-users/2011-December/043455.html) that came up recently is interesting, but  I am not sure if focusing on WoTs  is wise at this moment in time, seeing as it these are implementation details when looking at the state of the art of adversarial search. WDYT, @synctext?

[2016-09-30 13:32] synctext commented on #2547
@wordempire A lot of abuse, fraud and spam examples can be found in social media and e-commerce. So that is nice stuff to write about.

_but most often they heavily depend on some form of centralisation or have another major drawback._

That is a perfect storyline! Anything more for self-organising systems or P2P? Stuff like, http://www.ece.umd.edu/~goergen/docs/sec-nwatch.pdf ..

Web-of-trust mec

[2016-09-30 14:24] ardhipoetra commented on #1842
Problem description revision :

2.5 : how to prospect a good investment
how to detect investment, what is the properties of that

2.6 : when to delete a downloaded swarm and replace it with a new investment
if projected yield is more than enough - cost of download

[2016-09-30 17:09] PingouinArmy commented on #2556
What do you mean by donating bandwith if it's not to much asked ?

[2016-10-01 12:50] synctext opened #2559 "blockchain-regulated markets"
Marketplace with blockchain based reputation system supporting bid,ask, and cancel messages.
![20160928_103741](https://cloud.githubusercontent.com/assets/325224/19196605/85d30968-8cb6-11e6-9121-015504ae3f90.jpg)

Our previous running code, needs work: http://repository.tudelft.nl/islandora/object/uuid:c1816da8-c82e-47bc-bde2-4f35b9a3e775

[2016-10-01 14:39] trask1 opened #2560 "ImportError: No module named twisted.internet"
- [ x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: git clone --recursive https://github.com/Tribler/tribler.git #####

##### Operating system and version: 4.7.5-1-ARCH#####

 $ ./tribler.sh

Traceback (most recent call last):
  File "Tribler/Main/tribler.py", line 47, in <module>
    from Tribler.Core.Utilities.twist

[2016-10-01 17:14] devos50 commented on #2560
@trask1 Tribler requires Twisted to function (https://www.archlinux.org/packages/extra/x86_64/python2-twisted/). Can you make sure that this dependency is installed?

[2016-10-03 12:42] synctext commented on #2547
https://github.com/pimotte/msc-thesis

[2016-10-03 19:23] PingouinArmy opened #2562 "Big files download stopping during the download"
Hi, just wanted to report another error who seems to occur on large files download. The peers are connected but I don't receive anything from them.
Hoping it can help you or you can help me
![screenshot_4](https://cloud.githubusercontent.com/assets/22530759/19050586/86202e6e-89af-11e6-89c4-9cb6fd00165a.png)

[2016-10-03 21:47] slrslr opened #2563 "[PeX] Disabled, should/can i enable it?"
##### Tribler version/branch+revision: #####
6.5.2
##### Operating system and version: #####
Windows 10
##### Expected behavior: #####
[PeX] Enabled/Working
##### Actual behavior: #####
[PeX] Disabled
-------------------------
Hello, all torrents (private/public) i added into Tribler has [PeX] Disabled when i click torrent and click torrent trackers tab.

DHT is "Working"

Is it wrong PeX is not w

[2016-10-05 11:42] synctext commented on #2533
- 3-page intro is too compressed
 - avoid layer and architecture when talking about components
 - Relate to the Hoffman model (http://dl.acm.org/citation.cfm?id=1592452)
 - term to use: tamper-proof or attack-resilience ?
 - emergent problem or just requirement of a solution?
 -

[2016-10-06 16:02] devos50 commented on #2411
@brussee is this issue only on Android?

[2016-10-06 16:05] devos50 commented on #2302
This one has been fixed on `devel` a while ago.

[2016-10-06 16:05] #2302 closed

[2016-10-06 16:49] devos50 commented on #2134
This one is fixed already.

[2016-10-06 16:49] #2134 closed

[2016-10-06 16:50] devos50 commented on #2122
I haven't seen this one in a while and it is definitely not present after #2555 is merged. I consider it as fixed.

[2016-10-06 16:50] #2122 closed

[2016-10-06 16:52] devos50 commented on #1901
I already disabled Dispersy in some of the tests in PR #2555, however, there might be some additional tests where Dispersy can be disabled.

[2016-10-06 16:54] devos50 commented on #1826
The tunnel community tests are fixed already, however, the hidden seeding test is still broken. We need to spent some time investigating the hidden tunnel community.

[2016-10-06 17:53] #2486 closed

[2016-10-06 17:53] #1938 closed

[2016-10-06 17:53] #2298 closed

[2016-10-06 17:53] #2307 closed

[2016-10-06 17:53] #2318 closed

[2016-10-06 17:53] #2345 closed

[2016-10-06 17:53] #2390 closed

[2016-10-06 17:53] #2435 closed

[2016-10-07 05:51] khonkhortisan commented on #2546
https://github.com/Tribler/tribler/issues/2111

[2016-10-07 06:00] synctext commented on #2546
thnx. Yes, duplicate. closing..

[2016-10-07 06:00] #2546 closed

[2016-10-07 11:38] synctext commented on #21
A simple 1 week starting experiment without Tribler, Tor-stack, and no Gumby.

Goal is to first detect if there are Libtorrent bottlenecks. Experimental setup consists of just Libttorrent on Ubuntu. Libtorrent with seeding of 50GB..250GByte and testing the local download performance.

[2016-10-07 12:23] synctext commented on #2547
Fraud with search results with direct financial gain.

[2016-10-08 05:38] adbstyle opened #2565 "tribler is running but window not displayed"
Issue type: Bug

#### Please, fill all relevant items:
- [no] I have read CONTRIBUTING.md
- [no] I have tried with the latest pre-release version and I still can reproduce the issue.
##### Tribler version/branch+revision:

6.5.2 for os x
##### Operating system and version:

os x sierra
version 10.12
##### Expected behavior:

tribler window is displayed after starting the application / when applica

[2016-10-08 07:56] devos50 commented on #2565
Thank you for your bug report. I didn't update my laptop to Sierra yet so I'm unable to verify this, however, I heard some people having the same issue with other applications.

I'm not sure whether this will be fixed for the old wx GUI. I will make sure that the new GUI works on Sierra.

[2016-10-08 08:01] devos50 commented on #2563
PeX is a peer exchange protocol that can be used to discover other peers in a libtorrent swarm, see http://www.bittorrent.org/beps/bep_0011.html. When downloading a torrent anonymously, PeX is disabled since peer discovery should be performed by our own anonymous overlay. If you download a torrent regularly (not anonymously), PeX should work as expected.

[2016-10-08 08:01] #2563 closed

[2016-10-09 18:59] devos50 commented on #2383
We made some changes to the way the `setup.py` file is structured, see https://github.com/Tribler/tribler/commit/83b47823a23ea12c351fddd11083a42ef33ab492. This issue should be fixed by now. Please reopen this issue if you experience problems related to this.

[2016-10-09 18:59] #2383 closed

[2016-10-09 19:35] vi opened #2566 "Entire torrent being downloaded regardless of what files from it I have chosen"
##### Tribler version/branch+revision:

1f65ea44c14dc904efb222a5ae4a616489a52475 devel
##### Expected behavior:

When I choose not all files from a torrent, Tribler tries to economize traffic and storage space and does not request non-relevant files. Size of `.unwanted` directory is insignificant.
##### Actual behavior:

Entire torrent being downloaded and placed to `.unwanted`. Checkboxes only af

[2016-10-09 19:49] synctext commented on #2566
@vi thnx for testing our bleeding edge code. Coming weeks we'll try to get Tribler7 our of the door, expect more bugs like this..

[2016-10-09 19:56] vi commented on #2566
@synctext , Although it works on stable, it is not a recent devel breackage.

I also can't easily go back to "stable" or "next" because of database incompatibilities.

[2016-10-09 20:08] vi commented on #2566
I also tried testing the new GUI pull request, but it still doesn't work for me (unless it's `START_FAKE_API`) and the developer stated that fixing it is [postponed by something else](https://github.com/devos50/tribler/issues/10#issuecomment-248229242)

[2016-10-09 20:25] devos50 commented on #2566
@vi I recently continued work on Tribler after graduation and a holiday. There are some things left regarding the interface design, REST API and Tribler core for the Tribler 7 release which I'm currently working on.

A long outstanding point of attention was to make the unit tests of Tribler stable to improve developer productivity. I managed to do this for most part in PR #2555. Now, I am working

[2016-10-09 20:42] vi commented on #2566
I've juts tried it again and it still doesn't work. Now I'm running legacy GUI `./tribler.sh` from Tribler commit 05328974eb81ed06eafa610ef2801b1f58ff09b1 with one rebased commit on top. There it also downloads files regarless of their included/excluded status.

[2016-10-09 21:00] vi commented on #2566
Asserting that in 97f2766c46f2728c91d6a48f4925ae3109786d84 (v6.5.2) it downloads the files as it should.

[2016-10-10 05:51] synctext commented on #2566
@vi Things a bit slow now, lot of new developers and new projects starting: https://github.com/Tribler/tribler/wiki#current-items-under-active-development

[2016-10-10 12:23] qstokkink commented on #1882
### Status update and open question.
Since I'm kind of stuck right now, let me try some crowdsourcing. The status of [the implementation](https://github.com/qstokkink/tribler/tree/tunnelprocess) is as follows:
 - LibTorrent has been hooked up the proper way now (one LibTorrent sending over circuits being managed by multiple subprocesses).
 - It is able to communicate information with the outside w

[2016-10-10 12:44] wordempire commented on #2547
lee2006understanding: develops a model that looks at the link between user behavior/awareness and pollution of a p2p network.

[2016-10-10 13:55] wordempire commented on #2547
yoshida2009controlling: shows that index poisoning is an effective way of dealing with copyright violations when looking at the Winny network for small sets of files. This approach has the potential to disrupt the network as a whole, which might or might not be desirable for an adversary.

[2016-10-11 18:22] bsiegert opened #2568 ""Packaging guide" link in README.rst goes 404"
- [x] I have read CONTRIBUTING.md

The link to the packaging guide in the README file (http://tribler.readthedocs.io/en/devel/building.html) says

Is that really the case, or is the link just broken?

[2016-10-12 08:00] synctext commented on #1842
Thesis feedback :
 - Explain Multichain in details in chapter one, [include picture](http://www.blockchain-lab.org/img/multichain.png)
 - 1.4.2 Supply and Demand, nobody in thesis committee will understand this.

[2016-10-12 08:28] wordempire commented on #2547
- Determine layers of operation and archetypes for each layer. For each type,
    refer to drawbacks and assumptions made to make it all work.
    1. Trust building/subversion

       Choosing whether to trust an authority or group of peers can be based on
       a variety of existing decision making processes. For example, this would
       be the perfect section to refer to the abuse happening w

[2016-10-12 09:02] synctext commented on #2547
https://scholar.google.com/scholar?q=dht+poisoning
https://scholar.google.com/scholar?q=link+farm
https://scholar.google.com/scholar?q=kazaa+pollution
Reddit HackerNews, upvote, shadow ban, etc. techniques
https://scholar.google.com/scholar?q=collaborative+spam+filtering
https://en.wikipedia.org/wiki/Stealth_banning
Honesty among drug dealers, 90% satisfaction level with drug deals: http://dl.acm.

[2016-10-12 11:45] devos50 commented on #2346
I haven't seen this issue in a long time and if I'm right, it's related to the `setup_seeder` (being executed on the wx thread and probably taking some time). This method has been 'twistified' a while ago so I will close this issue. If the stack trace appears again, I will reopen it.

[2016-10-12 11:45] #2346 closed

[2016-10-13 08:21] synctext opened #2571 "A State-based CRDT without Infinite Growth"
Goal: upload and download byte accounting, detect freeriders, and refuse service.

Requirement: privacy is a cradinal requirement, only count bytes with a certain accuracy and never leak what is being downloaded or relayed. Side channel attack danger.
![20161013_100634](https://cloud.githubusercontent.com/assets/325224/19341534/11d51f8e-912e-11e6-90af-e8b481721f4c.jpg)
- [ ] Sharing ratio tracking

[2016-10-13 08:23] synctext commented on #2571
[Thesis (2).pdf](https://github.com/Tribler/tribler/files/526539/Thesis.2.pdf)

Feedback: expand 2-page intro with indirect reciprocity, tragedy of commons, leftist-stuff is OK in foreword, rest needs to be boring & scientifically grounded.

[2016-10-13 12:51] ardhipoetra commented on #1842
It has been processed in https://github.com/ardhipoetra/msc-thesis-creditmining/commit/04ce285dbc0aa69bb6702e9c0d827431dff5a2e1.

For prospecting details (how it works), I want to put that on 'design' chapter.

[2016-10-14 14:11] devos50 opened #2574 "The logic to manage downloads in tribler_main.py should be moved to the core"
In `tribler_main.py`, there's various code to manage downloads when they are finished. This should be moved to the Core of Tribler so it's not part of the GUI code.

[2016-10-15 14:53] #2395 closed

[2016-10-15 14:53] #2438 closed

[2016-10-15 16:55] brussee commented on #2409
@devos50 is this one perhaps also fixed by #2573 ?

[2016-10-15 18:12] devos50 commented on #1264
@Hivemind-pulse the family filter is part of the Tribler core. Also, I moved the settings to the general configuration file a while ago so this issue is not relevant anymore.

[2016-10-15 18:12] #1264 closed

[2016-10-15 18:14] devos50 commented on #2099
This one is fixed by #2573 and we are now using the Twisted thread pool directly.

[2016-10-15 18:14] #2099 closed

[2016-10-15 18:18] devos50 commented on #2495
This issue has been fixed in #2573

[2016-10-15 18:18] #2495 closed

[2016-10-15 18:21] devos50 commented on #2303
I haven't encountered this error in the tests after many runs. Also, the `add_task` method got removed in #2573.

[2016-10-15 18:21] #2303 closed

[2016-10-16 17:03] #2574 closed

[2016-10-17 08:13] synctext commented on #1844
Good intro _This problem is known as the Tragedy of the Commons. Everyone
would win if everyone participated, but one person can not make the difference. This concept
was first introduced in In Tribler, this concept exists in the following form: Everyone would like
to use the network to download data. However, in order to do so, there needs to be at least
one agent to relay this data, and then ano

[2016-10-17 08:22] qstokkink commented on #1882
Upon inspection of the open issues, the current thing I am stuck on is exactly issue #2566 . I suppose the shift of this project will now change to refactor all to the code to elegant industry-standard code. Right now the implementation is thusly horrible that it really can't be merged into Tribler.

[2016-10-17 12:13] Pathemeous commented on #21
https://github.com/Pathemeous/tribler

[2016-10-17 12:18] synctext commented on #21
Progress: first script to seed and control Libtorrent from Python.
Step closer to a PullRequest tester in Jenkins with 1 TByte seeding test.
Ardhi has 3000+ Linux .iso torrents, seems sufficient for a future test.

[2016-10-17 12:38] Pathemeous commented on #21
- Graph plot of startup time (time since launch until first seeding occurs)
- Graph (bar) plot of total amount of bandwidth used while seeding for 1 hour.
Interesting result is the following:
- Graph plot of the **effective** amount of bandwith used (total minus overhead of torrent management)

[2016-10-17 15:17] ardhipoetra commented on #21
Some of the `.torrent` crawled can be found in my [dropbox](https://www.dropbox.com/sh/qksj651s4cux5l6/AAA_XZPSLAc2V4SkEWueQo2Xa?dl=0). Currently it has 3658 .torrents.

I'm crawling mininova now, but I got blocked so maybe it will take some time to get more torrents on this site. AFAIK mininova now hosts legal torrents only.

[2016-10-18 07:44] devos50 commented on #21
@ardhipoetra great, thanks for sharing!

You might want to rate-limit your requests and maybe use HTTP proxies for the crawling process?

[2016-10-19 09:37] qstokkink opened #2577 "[devel] save_download_pstate AssertionError"
#### Please, fill all relevant items: ####

- [X] I have read CONTRIBUTING.md

- [X] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
3aa6bb204bbcc0cf7be3d6e8a355baf544ef6cb6

##### Behavior: #####
When you close Tribler when it is still initializing downloads it will throw an uncaught AssertionError.

[code]
#####

[2016-10-19 14:49] ardhipoetra commented on #2356
This issue should be close by the https://github.com/Tribler/tribler/pull/2398

[2016-10-19 18:34] #2356 closed

[2016-10-20 05:48] brussee opened #2579 "Warning: torrent collecting directory not found, skip: None"
Rebased from #2523 to #2576 on devel and got the warning as stated in the title (in the log on Android). However the default collected_torrents dir exists and is non-empty.

torrent_upgrade65.py line 55:
`self._logger.warn(u"torrent collecting directory not found, skip: %s", self.torrent_collecting_dir)`

torrent_upgrade64.py line 88:
`raise RuntimeError(u"The torrent collecting directory doesn't

[2016-10-20 08:47] #2577 closed

[2016-10-20 09:26] brussee opened #2580 "Threading error sqlite3"
[code]

[2016-10-20 10:55] ardhipoetra commented on #21
In the end, I used rate-limit my request and it works.

As @devos50 requested, [here](https://www.dropbox.com/s/82g25s6jeaifeqk/torrent.tar.gz?dl=0) is the link to the collection, zipped. You can put that in the bbq.

As for the crawler, I made the repository on https://github.com/ardhipoetra/legal-torrent-crawler

[2016-10-20 13:19] synctext commented on #2533
ToDo for thesis roadmap:
 - [Gumby PR fix &cleanup](https://github.com/Tribler/gumby/pull/240)
 - Live edges: #2458  Gumby evaluation and deployment
 - Load balancing experiments, etc. See Above.
 - #2087 Design and protocol description for Thesis Design Chapter.

[2016-10-20 14:52] synctext commented on #2231
Progress with app, now VLC integration is complete. Search results are fast and responsive.
![screenshot_20161020-164747](https://cloud.githubusercontent.com/assets/325224/19564903/5459f034-96e5-11e6-8c2e-6bb00f207b9d.png)

Shown above are the sub-second search results from Tribler network (if you have a premium phone).
![screenshot_20161020-164140](https://cloud.githubusercontent.com/assets/32522

[2016-10-20 15:18] synctext commented on #2231
Key experiment: content dissemination experiment with a several phones.
 - 1 phone has channel.
 - 10 phones get subscribed to the same channel
 - continuously add file to source phone (10+ swarms in seconds)
 - see them appear at the various screens with a refresh

[2016-10-21 09:36] ardhipoetra commented on #23
As I mentioned in #21, these are the ingredients that may be used for Terabyte seeding :

* Collection of torrents and logs : my [dropbox](https://www.dropbox.com/sh/qksj651s4cux5l6/AAA_XZPSLAc2V4SkEWueQo2Xa?dl=0)
* Collection of `.torrents` only (14248), zipped. Will be in bbq soon (I hope)
* The crawler (can be extended to facilitate other site) : https://github.com/ardhipoetra/legal-torrent-cra

[2016-10-21 12:31] qstokkink opened #2581 "[devel] Anonymous torrents not initializing in GUI"
##### Tribler version/branch+revision: #####
3aa6bb204bbcc0cf7be3d6e8a355baf544ef6cb6
Since:
c4729596703f07d5512b4879605926056c22f666

##### Behavior: #####
I can no longer start anonymous downloads using the latest devel (3aa6bb204bbcc0cf7be3d6e8a355baf544ef6cb6): I can confirm they still work in 6.5.2 and up until 501b09f55479f11aacb6451d8064442895752ff4 (Oct/15/2016).
Downloads get stuck on "In

[2016-10-21 16:11] synctext commented on #2559
- [ ] 0) connectable ! Control of wallet! New message order-match-made
 - [ ] 1) orderbook realtime updates. Closed trades,  buy/sell bid/ask open orders
 - [ ] 2) 'place order NOW' price, amount. Either bid or ask. Calculate estimated average cost, estimate in Euro. Fixed price bid/ask may block, long unfilled state.
 - [ ] 3) Close trade, match in orderbook, fill at various price points, increme

[2016-10-23 04:18] themusicgod1 commented on #2581
just grabbed c472959, as well as one of the later commits: issue exhibited itself.
Grabbed  501b09f : issue did not exhibit itself.  You appear to be correct about c472959 being the commit where this was introduced.  Looking at the commit it seems like it's missing a case for that particular state.

[2016-10-23 07:14] qstokkink commented on #2581
Thanks for confirming @themusicgod1. I did some digging in the commit log and I found:
[code]
was removed. I'm guessing this was removed in the process of separating the core from the GUI in preparation of the new GUI. However, this makes development on the `devel` branch impossible for anyone working with downloads.

@devos50 can we get a temporary fix (until the new GUI arrives) on the `devel` b

[2016-10-23 08:38] devos50 commented on #2581
Hi guys,

Thanks a lot for debugging! Apparently, I overlooked the call to `self.guiUtility.library_manager.download_state_callback(no_collected_list)` and I only focussed on `wantpeers.extend` which I though was not very relevant. The latter method call indicates that libtorrent should return peer information when requesting info about a download.

I guess that the `download_state_callback` is do

[2016-10-23 11:27] jalbstmeijer opened #2582 "Tribler v6.6.0-exp1 segfaults regularly on Fedora 24"
Hi,

Can anyone tell me how to collect useful data for the developers to be able to debug these segfaults?

Gr, Justin

[2016-10-23 11:57] qstokkink commented on #2581
@devos50 Well, the only thing `guiUtility.library_manager.download_state_callback` does is update the GUI. I believe the download is still progressing in the background.

However, by not calling it, the old GUI is now effectively worthless: this makes debugging a lot harder. This is why I propose to leave the call in, until the new GUI is merged into devel.

[2016-10-23 17:47] devos50 commented on #2582
Hi,

Thank you for your report. Is this issue present when performing specific operations in Tribler or does it happen at random?

[2016-10-24 07:39] jalbstmeijer commented on #2582
Till now mostly when browsing the channels list.

[2016-10-24 07:43] devos50 commented on #2582
@jalbstmeijer I guess that this issue can be addressed to the wx library we are using for our user interface. Do you get some more information when it segfaults (i.e. an assertion that fails)?

[2016-10-24 07:46] devos50 commented on #2581
@qstokkink if the download is still progressing in the background, it's only the GUI that is not refreshing fortunately. I don't want to create a temporary workaround by hard-linking the core package with the `vwxGUI` package so I propose to leave the state callback method in the GUI code. This way, the anon downloads should work again (in the GUI) and we don't make the core dependent on the GUI p

[2016-10-24 08:18] qstokkink commented on #2581
@devos50 The way I see it, you either put in place (1) a temporary fix in the core linking to the GUI or (2) a temporary fix* in the GUI to interface with the core. Tomayto, tomahto.

The reason I suggested option (1) is because it seems like it is part of the roadmap to the new GUI (read: smaller changelog in the PR).

Either way, something will have to be refactored before the new GUI gets merge

[2016-10-24 11:56] devos50 commented on #2560
Closing this issue due to inactivity. Please reopen this issue if you experience the problem again 👍

[2016-10-24 11:56] #2560 closed

[2016-10-24 11:57] devos50 commented on #2528
Duplicate of #2568 which I'm fixing in #2583.

[2016-10-24 11:57] #2528 closed

[2016-10-24 12:46] devos50 commented on #2581
@qstokkink having the 'fix' in the GUI makes it easier to just remove the old wx GUI as soon as we're ready to do that. I've implemented it in #2583 and tested it before and after the change and for me it works: the anon downloads are not stuck on initializing anymore.

[2016-10-24 12:56] #2433 closed

[2016-10-24 12:56] #2568 closed

[2016-10-24 12:56] #2580 closed

[2016-10-24 12:56] #2581 closed

[2016-10-24 12:58] devos50 commented on #2581
@qstokkink I've merged the PR with the fix. Please let me know whether it also works for you now. If not, feel free to reopen this issue and I will take another look.

[2016-10-24 13:27] devos50 commented on #2371
@qstokkink are you still experiencing this issue?

[2016-10-24 13:28] devos50 commented on #2304
This issue is not relevant anymore since they will be removed soon ;)

[2016-10-24 13:28] #2304 closed

[2016-10-24 13:30] devos50 commented on #2296
Has been fixed in https://github.com/Tribler/tribler/pull/2555/commits/2decc49933ff518920f7bc9b07c801a6848e7ab6

[2016-10-24 13:30] #2296 closed

[2016-10-24 15:21] qstokkink commented on #2371
@devos50 it seems to have been fixed.

[2016-10-24 15:47] devos50 commented on #2371
great!