[2018-03-23 11:10] qstokkink opened #3527 "fix_torrent request error"
I got this after adding a torrent on the latest `next`:
![afbeelding](https://user-images.githubusercontent.com/3630389/37826285-168a0842-2e93-11e8-8750-474b6f8a8da4.png)

[code]

[2018-03-23 11:12] synctext commented on #31
We will pioneer a new approach for creating trust among a set of mistrusting parties. Our universal mechanism builds upon the trust research from the Tribler lab of the past [20 years](https://www.usenix.org/legacy/publications/library/proceedings/usenix2000/freenix/full_papers/pouwelse/pouwelse.pdf).
Success would enable the Internet to evolve from a network for bits to a network of trust.

Our a

[2018-03-23 11:19] qstokkink commented on #3527
There was a hidden error in the terminal:
[code]

[2018-03-23 11:28] qstokkink commented on #3527
Probably related to #3510, @xoriole .

[2018-03-23 12:39] synctext commented on #3013
Direction of thesis: implementation of a stand-alone algorithm (like algorithmics master course) not software development.

[2018-03-23 13:15] devos50 commented on #3325
For example, see our existing Jenkins job (https://jenkins.tribler.org/job/Test_Tribler_idle_run_1H/1220/). A very basic improvement could be to extend this job with 20 pre-selected downloads (Ubuntu/Debian torrents).

![fd_usage](https://user-images.githubusercontent.com/1707075/37831093-92015320-2ea4-11e8-90cd-4e9df6e3acda.png)

[2018-03-23 13:26] devos50 commented on #2897
Unfortunately, it seems that we don't have an influence on the name of the torrent. The name of a torrent (inside the .torrent file) is automatically generated, based on the filename(s). Therefore,  I will postpone this issue.

Regarding your second point, I changed the logic when opening a file dialog so it always opens in the home directory of the user. This should already improve the user exper

[2018-03-23 13:42] devos50 commented on #2915
This issue is a bit more involved than I originally thought. It's very easy to display a single row of information in a `QListWidget` but it's more difficult when displaying it in our downloads list (which is a `QTreeWidget`.

One solution is to simply hide the whole table with downloads and replace it with a single label that says 'no downloads active' or 'loading' but I want to show the download

[2018-03-23 13:45] synctext commented on #3325
@ichorid @xoriole Good plan. If the downloading is integrated (e.g. https://cdimage.debian.org/debian-cd/current/amd64/bt-dvd/debian-9.4.0-amd64-DVD-1.iso.torrent x 20) we can buy some servers with real remote links. Next week I can buy some https://flokinet.is/vps-server.php Romania & Iceland servers for usage as Jenkins_client.

[2018-03-23 14:45] #2807 closed

[2018-03-23 14:45] #2922 closed

[2018-03-23 17:06] Dmole commented on #3230
I noticed there is a sort of hacky headless option
[code]

Otherwise with only OpenGL ES
[code]

[2018-03-23 17:29] Dmole commented on #3059
Tribler-7.0.2.dmg

[code]

Rename any torrent to "+.torrent" to reproduce.

[2018-03-23 17:33] Dmole opened #3529 "+.torrent"
Rename any torrent to "+.torrent" and add it to Tribler-7.0.2.dmg to get

[code]
Issue https://github.com/Tribler/tribler/issues/3059 was not properly fixed.

[2018-03-24 06:34] qstokkink commented on #3529
Duplicate of #3527.

[2018-03-24 09:52] devos50 commented on #2754
For setting up a Jenkins server, I use [this role](https://github.com/geerlingguy/ansible-role-jenkins), no need to re-invent the wheel :)

@remkonaber could you please tell me which Ansible script you particularly need or are interested in? I'm a bit hesitant with giving you access to all scripts since they contain sensitive information like passwords and filtering these out is a bit of work due

[2018-03-25 12:15] synctext commented on #2548
This 2016 issue has overlap with newer #3325 issue.

[2018-03-25 12:20] synctext commented on #3325
We need to visit network-awareness issue again, after token economy is up and running in initial form. Redo [some work from 13 years ago](http://www.ds.ewi.tudelft.nl/~iosup/mprobe05gp2pc.pdf). Tribler becomes a portable network performance measurement lab. Tribler measures all available bandwidth after install. Within Jenkins and servers on various continents, it does this daily.
First step, do a

[2018-03-25 15:55] Dmole opened #3530 "Exclude files"
Excluding large numbers of files from a running torrent is hard because the focus is moved in under a second so your selection is lost if you are not quick.

[2018-03-26 00:42] Dmole commented on #1053
Relay bandwidth seems to be saturating my connection choking out the downloads.

[2018-03-26 07:21] devos50 commented on #3530
This has been fixed in a recent commit (https://github.com/Tribler/tribler/commit/ea69163df3ccae8803252e6d88a8175a2ffa2ef3)

[2018-03-26 07:21] #3530 closed

[2018-03-26 10:42] remkonaber commented on #2754
@devos50 Thanks, I'll have a look at that role. My main reason to set up Jenkins myself is just to learn about it. Having examples in galaxy is handy, but there many, so it is handy to know what you prefer yourself.

About your other Ansible scripts, I don't need access to those scripts, this was just a thought of Johan. Ansible is pretty straight forward once you get the hang of it, and modules a

[2018-03-26 10:44] #3518 closed

[2018-03-26 11:55] xoriole opened #3534 "TypeError: coercing to Unicode: need string or buffer, NoneType found"
Adding torrents from a directory is broken. The download_defaults seems to have None value in settings.
[code]

[2018-03-26 13:01] #3126 closed

[2018-03-26 13:01] #3148 closed

[2018-03-26 13:33] devos50 commented on #2984
It seems that this has been fixed already: https://github.com/Tribler/py-ipv8/blob/96e4a7a8d3cf16268aeddfadcfc93ecf73a56799/ipv8/messaging/anonymization/community.py#L224. Therefore, I will close this issue. Please reopen it if it's not fixed for some reason.

[2018-03-26 13:33] #2984 closed

[2018-03-26 14:16] Nubro01 commented on #2797
I will check, if this is the case. Since it didn't work before, I am now always downloading to D:\tribler and moved the files manually.

[2018-03-26 14:26] Nubro01 commented on #2797
I checked and it is STILL WRONG!!!, With 6.5.2, one could pick a location and the selected file was placed within that selected folder and NO extra folder was created with the name of the Torrent. After 6.5.2 the extra folder is created like in D:\Tribler\TVSeries\Greys Anatomy\Season14\Greys.Anatomy.S14E16.XviD-AFG , that last folder shoud NOT be created. At least is was not with 6.5.2. I only se

[2018-03-26 14:37] Nubro01 commented on #2797
Hi,

I just tested and added some comments to this issue, but I was unable to see these comments.
This is still NOT WORKING as it was within 6.5.2, still an extra folder is created with the name of the Torrent. With 6.5.2 when one selected a special folder, just the selected file was placed in that folder. Since 6.5.2 and EXTRA folder is created which makes it much harder to NOT manually maintain

[2018-03-26 15:36] #3527 closed

[2018-03-26 15:36] #3534 closed

[2018-03-27 13:05] synctext commented on #1842
[untitled (1).pdf](https://github.com/Tribler/tribler/files/1852059/untitled.1.pdf)

Just show a plot where there are 0 seeders, 1 seeder, added to channel at time X, start credit mine, becomes 2 seeders after Z seconds. Plot the 5+ events in time (X-axis) and number of seeders, (Y-axis). Total experiment should only be a few seconds. No wild swarm! Do a hard-coded ```add_peer()``` if needed.

[2018-03-27 14:44] qstokkink opened #3537 "Error on latest next"
During shutdown:
[code]

[2018-03-27 16:47] synctext commented on #2559
Really decentral related work? https://github.com/KomodoPlatform/BarterDEX

[2018-03-28 08:14] devos50 commented on #2559
I've listed BarterDEX already in my related work comment. At that time, there was no code. It seems that there's a beta now available. Their technology heavily resolves around atomic swaps, a technique that requires [BIP65](https://github.com/bitcoin/bips/blob/master/bip-0065.mediawiki) implemented. While this ensures that exchange of currencies is either executed or not at all, its functionality

[2018-03-28 09:46] devos50 commented on #2559
They haven't done any scalability experimentation at all, after reading through their whitepaper. Also, some statements they make, are fuzzy:

[2018-03-28 10:34] ichorid commented on #3463
This problem should be fixed by Tribler-Libtorrent interface refactoring that is discussed in #3418. We cannot reliably fix this with our current code base. I will add it as a task there.
Please, if you want to make comments, do it in #3418.
Closing this one.

[2018-03-28 10:34] #3463 closed

[2018-03-28 10:40] ichorid commented on #1689
Libtorrent interface refactoring discussed in #3418 should have this problem solved. Will mention this problem in tasklist there.
Closing this one.

[2018-03-28 10:40] #1689 closed

[2018-03-28 12:02] ichorid commented on #3418
Related #3402

[2018-03-28 12:22] ichorid commented on #3017
Related to  #3418

[2018-03-28 12:25] ichorid commented on #3017
Merging it into #3418

[2018-03-28 12:25] #3017 closed

[2018-03-28 15:08] devos50 commented on #2559
I compiled BarterDEX and got it running on the DAS5, it's ready for some experiments 👍

[2018-03-28 15:28] synctext commented on #3379
Reproduced... Now shows the core not responding or something.
<img width="1280" alt="screen shot 2018-03-28 at 17 11 39" src="https://user-images.githubusercontent.com/325224/38039330-519cc76c-32ad-11e8-96d1-6acae374c65d.png">

[2018-03-29 08:35] qstokkink commented on #3537
We should probably wrap all interactions with the `QSystemTrayIcon`, as it may -at any point- throw a `RuntimeError` when interacted with.

[2018-03-29 09:32] #3537 closed

[2018-03-29 09:41] basvijzendoorn commented on #2887
[final_thesis.pdf](https://github.com/Tribler/tribler/files/1859495/final_thesis.pdf)

[2018-03-29 11:18] synctext commented on #2887
- Chapter 2: what related work is covered in this chapter. Overlays, Latency estimation algorithms, and their combination.
 - "optimization functions are often part of the latency estimation algorithms." please let the reader know this vital info in the 1st line of this new section.
- instead of blocks of text with isolated algorithms; good storyline connects them. For instance, in a publication f

[2018-03-29 12:31] ichorid commented on #2681
One possibility is to only support _get_peer_, hardcode the protocol that everything we DONT recognise would be filtered out. Talk UDP to the exit node and e.node talks TCP to tracker.
Or use SOCKS5 with filtering.
An explicit warning/error for connecting to HTTP-based trackers.

[2018-03-29 13:19] synctext commented on #2843
Thnx @vi for reporting this. We're now also relaying encrypted traffic (not exit node stuff) for other Tribler users sometimes. This should be visible for users. Not at the main screen perhaps, but at least in the debug panel or one-click away somewhere. Possible the "credit screen" showing "ongoing help".

[2018-03-29 15:04] vandenheuvel commented on #3418
![diagram](https://user-images.githubusercontent.com/20440137/38096468-3e07abb0-3373-11e8-8b9d-5c9c326ea2f8.png)

[2018-03-29 16:55] qstokkink commented on #2681
@ichorid this is what we currently have to do the filtering:
https://github.com/Tribler/py-ipv8/blob/master/ipv8/messaging/anonymization/tunnel.py#L42-L83

[2018-03-29 17:12] ichorid commented on #2681
The only reason for us not to enable unconditional TCP through our tunnels is our concern for the tunnels being abused. We intend our tunnels to be used for moving BitTorrent traffic, i.e. file downloading.
This is not technology by itself, but policy that could be enforced by technology.
We could do the "zero tolerance" policy, meaning that everything beside BT traffic is illegitimate. But why wo

[2018-03-30 02:15] shihjay2 commented on #3477
Thanks for the mention to the [HIE of One](https://github.com/shihjay2/hieofone-as).  Your discussion here is very interesting to us; I'm including [Adrian Gropper](https://github.com/agropper) who works with me on the HIE of One project.  We are both happy to assist and to also learn from your discussions how we can leverage self-sovereign identity, blockchain to our goals of improving health inf

[2018-03-30 05:31] thinhtp commented on #2812
@synctext Hi sir,
We can use fingerBlox for detect fingerprint classification in 5 types Tent arch, Arch, Whorl, Ulnar loop, radial loop, for faster matching algorithm.
Can we do this, please?

[2018-03-30 07:10] qstokkink commented on #2681
@ichorid Trust is feedback loop:

1. You engage in activities that require trust.
2. If you play by the rules, you build trust.

If we never check anything, you have *blind* trust, which leads to you getting abused: there is no *incentive*.

------------------

As our current filtering does not actually parse the message contents, I disagree with your labeling of the implementation as *Deep* Packe

[2018-03-30 08:37] synctext commented on #3379
Another observation using standard ```top```. Normally this Mac has lots of threads running, in _nothing running_ state. The Tribler core process below only seems to use 21 _#ports_. When the Tribler core is 90% in the ```stuck``` state, it's clear we're in trouble. Thus we have an alternative for a continuous keep-alive ping to check the core.
<img width="1280" alt="screen shot 2018-03-30 at 00 0

[2018-03-30 11:34] synctext commented on #2681
Quick feedback...

Self-reinforcing trust in Tribler #2540
+ token economy = critical feedback loops to get going.
That means closing 200+ outstanding issues. TCP is minor issue, as content is set as priority 3 in cardinal roadmap issues #1.

[2018-03-30 16:42] Thomasedv opened #3543 "Tribler ignores default download location for watch folder"
- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

Tribler_7.1.0-exp1-57-g861c9e5d0_x64.exe (from Jenkins, Build-Tribler_Win64_next)

##### Operating system and version: #####
Windows 10

##### Steps to reproduce the behavior: #####
Set default location to some folder.
Set wa

[2018-03-30 16:58] devos50 commented on #3543
Thank you for your report. We made significant changes to the way the settings in Tribler are stored and read. It seems that there was a bug in this code. I fixed this issue and I will open a pull request to fix this in a moment 👍

[2018-03-30 17:03] Thomasedv commented on #3543
Well, that was a fast response. Nice!

One another topic, i'm wondering if i should make an issue for it, but Tribler seems to be unable to shut down properly once it's connected to a hoop/circuit or something like that. It just freezes. Is this known, or should i make an issue for it? I initially tried the dev builds since i was having this issue in the 7.0.* releases.

[2018-03-30 17:06] devos50 commented on #3543
@Thomasedv is this reproducible behavior (it happens every time)? Do you see the spinning gears when shutting Tribler down? Please create a separate issue for this.

We can debug this in more detail if you could provide us with your Tribler logs (which can be found in `~/.Tribler/logs`). If you're hesitant with sharing this publicly (since it might contain infohashes of torrents you are downloadin

[2018-03-30 17:09] Thomasedv commented on #3543
Will create an issue for it!

[2018-03-31 13:30] reharmsen opened #3545 "Tribler installer overwrites VLC installation"
##### Tribler version/branch+revision: #####
7.0.2

##### Operating system and version: #####
Windows 10 (1709)

##### Steps to reproduce the behavior: #####
Install latest VLC (3.0.1)
Install Tribler 7.0.2

##### Expected behavior: #####
VLC remains untouched (i.o version 3.0.1)

##### Actual behavior: #####
VLC got replaced by a much older version (2.2.6)

##### Relevant log file output: #####

[2018-04-01 11:33] #3543 closed

[2018-04-02 09:51] devos50 commented on #3545
Theoretically, it should be enough to include `libvlc.dll` and `libvlccore.dll` with the Tribler installation. This would leave the VLC version installed on the OS untouched. It requires some changes to our existing NSIS installation scripts, however.

[2018-04-02 11:00] devos50 opened #3546 "VOD mode is broken in latest next"
Video on demand doesn't work anymore in 7.1. It gives me the following error:

[code]

The reason for this is that we made the `files` parameter optional when performing a request to `/downloads`.

[2018-04-02 12:32] devos50 opened #3547 "Files in download always report a progress of 0 for multi-file torrents"
When browsing through the files in a download, Tribler always reports that they are 0.0% done, even when the download itself has completed. It seems that this behavior only occurs when browsing through the progress of torrents with multiple files.

[2018-04-02 12:46] devos50 opened #3548 "When removing a download, all downloads are removed for a while"
When removing a single download, all downloads will be removed for a very short time. After around 0.5 seconds, they are re-added and continue.

[2018-04-02 12:59] devos50 commented on #3547
The issue is that the file name returned by `tdef.get_files_with_length()` is different from the one returned by `state.get_files_completion()`. This causes that the progress is always 0.0 (due to this line: https://github.com/Tribler/tribler/blob/next/Tribler/Core/Modules/restapi/downloads_endpoint.py#L243).

I'm not sure how to fix this easily. @egbertbouman could you take a look at this?

[2018-04-02 13:06] devos50 opened #3550 "When creating a torrent in your channel with multiple files, it does not seed immediately"
As the title of the issues indicates. This might be related to #3547.

[2018-04-02 16:14] #3550 closed

[2018-04-03 07:39] #2769 closed

[2018-04-03 07:39] #3545 closed

[2018-04-03 08:45] basvijzendoorn commented on #2887
[thesis.pdf](https://github.com/Tribler/tribler/files/1870773/thesis.pdf)

[2018-04-03 08:57] xoriole opened #3553 "Event connection drops after a few seconds"
Event connection drop after a few seconds on the latest next with the following logs:
[code]

[code]

[2018-04-03 09:16] reharmsen commented on #3545
Thanks for the quick fix

[2018-04-03 09:30] synctext commented on #2887
please fix: "In the default setting in the low latency overlay latency information
is obtained every second with the ping-pong mechanism from every peer in the
neighbourhood."

peer is chosen."

Currently implemented:
- New peer discovered: every 5 seconds, introduction-req.
- ping cycle 2 seconds, ``ping``` and ```pong``` exchange includes latency of 10 peer. each peer keeps a local ping history

[2018-04-03 14:07] #3553 closed

[2018-04-03 14:08] #3546 closed

[2018-04-03 20:40] synctext opened #3556 "Save files to : download location"
Not backward compatible with V7.0
Upgrade fails. All downloads messed up.

[2018-04-04 07:49] qstokkink commented on #2778
More competition in the claim domain: https://eprint.iacr.org/2018/209.pdf

[2018-04-04 08:51] jangerritharms commented on #3357
Full network crawl plot. All nodes and interactions.
![bokeh_plot](https://user-images.githubusercontent.com/7403807/38297887-0e4fc4a2-37f6-11e8-920d-a9d1ef86f5db.png)

[2018-04-04 10:33] synctext commented on #3486
progress: wrote own [Q-Learner](https://github.com/backender/ctc-executioner/blob/master/q_agent.py) and [deep-learning buzzword compliant version](https://github.com/backender/ctc-executioner/blob/master/agent_dqn.py). Got the leading engine also [operational now, OpenAI](https://gym.openai.com/)
general comment on reinforcement learning.
You need an explicit reward function, this is responsible

[2018-04-04 11:39] #3547 closed

[2018-04-04 11:43] ichorid commented on #2548
I've created and ran a local performance test based on LXC containers.
The test setup is:
seeder <=> router <=> leecher
 * Seeder is libtorrent `clien_test` utility.
 * Router is `tunnel_helper` Tribler plugin for Twisted
 * Leecher is a `leecher.py` from [latency-testing repo](https://github.com/ichorid/libtorrent-latency-benchmark/tree/tribler)

My machine is Xeon W-2133 3,6 GHz.

Direct downloa

[2018-04-04 12:10] clenrock commented on #3488
The version of the paper:
[exploration-state-art.pdf](https://github.com/Tribler/tribler/files/1875600/exploration-state-art.pdf)

[2018-04-04 15:34] ichorid opened #3559 "Race condition on 'select' UNIX call"
Tribler version: 7.1 Next
OS: Ubuntu 18.04

Got this error while running [a test of tunnel-community-based download](https://github.com/ichorid/libtorrent-latency-benchmark/tree/tribler).
[code]
The problem appears only when exit code from
[code]
is non-zero. It doesn't matter what the command is, if it returns with the error, it triggers the problem. If the exit code of the command is insulated b

[2018-04-04 15:40] ichorid commented on #3559
Ok, the problem is a race condition triggered by a signal (I guess it is SIGCHLD) generated by sub-shell started by `os.system("run something")`. It happens in:
[code]
Apparently, when Python interpreter starts a sub-process, and the process does not ends correctly, it could send a SIGCHLD to it's parent process.
If, at this moment, Python interpreter is waiting for data in the Unix "select" call,

[2018-04-04 15:42] ichorid commented on #3559
It is interesting to note that Tribler code contains almost no `os.system()` calls, except in Electrum wallet section.

[2018-04-04 16:17] devos50 commented on #3488
Lightning feedback (in addition to the feedback provided yesterday):

- make the first sentence of abstract amongst these lines: _the limited throughput of many blockchain solutions prevent the adoption of this relatively new technology at larger scales_ (here you immediately explain the problem)
- in the abstract, explain what you're doing (i.e. _this paper conducts an exploration of state-of-the

[2018-04-04 20:00] devos50 commented on #3556
Do you mean the locations in the drop-down menu when you add a new torrent? Or the location where existing downloads are being saved on the disk?

I could try to fix this tomorrow.

[2018-04-05 07:33] qstokkink commented on #3559
Oh wow. Do you have any clue how to fix this?

[2018-04-05 08:50] qstokkink commented on #3559
As there is a workaround for @ichorid and this is probably not a major issue for normal users, I moved this to the backlog.

[2018-04-05 09:00] qstokkink commented on #3477
https://github.com/qstokkink/ipv8-android-app/blob/master/app/src/main/java/org/ipv8/android/restapi/json/AttestationRESTInterface.java

[2018-04-05 09:02] synctext commented on #3477
Progress reporting:
- refactor & rewrite [protocol buffers now used extensively](https://github.com/klikooo/CS4160-trustchain-android/blob/2_claim_functionality/app/src/main/java/nl/tudelft/cs4160/trustchain_android/appToApp/PeerHandler.java)
  (prior path SQLite storage, then ProtoBuf, into appToApp, then BEncode, finally UDP sockets)
  - single [.proto file](https://github.com/klikooo/CS4160-tru

[2018-04-05 15:05] jangerritharms commented on #3357
<h2>Problem description</h2>

The manipulation resistance of our multi-chain architecture depends on the availability of data. If it would be possible that every agent has all transaction data of all other agents, every agent could identify double-spenders, could identify sybil regions and could allocate resource in a perfectly fair way. Unfortunately, such a situation is not possible in a distrib

[2018-04-05 17:16] #3478 closed

[2018-04-05 17:33] ichorid opened #3563 "Could not unpack item 5: QQHHBH"
Got this error while trying to connect to swarm to download Ubuntu torrent anonymously:

[code]

This message repeats periodically, always in pairs. Anonymous downloading doesn't work.
This only happens when I try to connect to the real swarm with my [download script](https://github.com/ichorid/libtorrent-latency-benchmark/tree/bytes). Local LXC leecher->router->seeder tests work OK.
@qstokkink, c

[2018-04-05 18:40] Dmole opened #3564 "OpenGLES compatibility"
As previously noted in issues 3230

##### Steps to reproduce the behavior: #####
run on aarch64

##### Expected behavior: #####
UI works

##### Actual behavior: #####
Cannot find EGLConfig

[2018-04-05 19:25] Nubro01 opened #3565 "Tribler 7.1 not shutting down normally"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
build 05-04-2018
##### Operating system and version: #####
Windows 10 Insider build 17639
##### Steps to reproduce the behavior: #####
STart Tribler 7.1 and try to shutdown.
##### Expected behavior: #####
Notmal Shutdown
##### Actual behavior: #####
Mining shutd

[2018-04-05 19:34] Nubro01 opened #3566 "Tribler download listview shows download speed while seeding"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
Yes
##### Tribler version/branch+revision: #####
Tribler 7.1 build 05-04-2018
##### Operating system and version: #####
WIndows 10 insider build 17639
##### Steps to reproduce the behavior: #####
Start Tribler and open download listview and have all seeding Torrents as Anonymous!!!
##### Expected behavior:

[2018-04-06 02:28] Dmole commented on #3564
installing https://github.com/ptitSeb/gl4es (makes most other apps work) results in
`ImportError: /usr/lib/python2.7/dist-packages/PyQt5/QtGui.aarch64-linux-gnu.so: symbol _ZTI18QOpenGLTimeMonitor, version Qt_5 not defined in file libQt5Gui.so.5 with link time reference`

[2018-04-06 02:31] Dmole opened #3567 "python-tk is missing from deb dependencies"
python-tk is missing from deb dependencies.

[2018-04-06 07:25] devos50 commented on #3565
Thank you for your report. Could you check your Tribler logs whether there are any interesting errors there?

[2018-04-06 07:29] qstokkink commented on #3563
Duplicate of https://github.com/Tribler/py-ipv8/issues/80

[2018-04-06 07:29] #3563 closed

[2018-04-06 07:30] devos50 commented on #3567
Thank you for your report. It seems that some Python distributions are missing Tkinter. We will add it to the recommended section of the Debian configuration files.

[2018-04-06 07:50] synctext opened #3568 "File progress %done counter is broken"
Minor polish.
Within download panel the % download for a specific file used to work. Current Mac build #38 has broken counters, always 0. Also when in disk file check they used to work.

[2018-04-06 08:07] devos50 commented on #3568
This is fixed already in our recent PR #3557

[2018-04-06 08:07] #3568 closed

[2018-04-06 09:17] Thomasedv opened #3569 "Not getting any uploads or at least any "credit" for it."
- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

Tribler_7.1.0-exp1-79-g141600e96_x64.exe

##### Operating system and version: #####
Windows 10

##### Steps to reproduce the behavior: #####
Use Tribler

##### Expected behavior: #####
Get uploads and credit for them.

#####

[2018-04-06 09:41] #3567 closed

[2018-04-06 10:56] ichorid commented on #2681
Related to arvidn/libtorrent#1373

[2018-04-06 11:31] Dmole commented on #3564
Debian on aarch64 actually but yes looks like more parts of qt5 need re-building against gles.

[2018-04-06 11:31] #3564 closed

[2018-04-06 13:42] synctext commented on #1842
Experiments:
- 1 seeder becomes 2 seeders
- 10 swarms, with either 1 or 2 seeders
- 10 swarms with 1 seeder, and some leechers (3rd experiment)
  - Question today: limit bandwidth of leecher? Sure, no problem. Then leecher will download for 30 second or something and credit mining policy prefers thos more active swarms (1 seeder, 0 leechers versus 1 seeder 1 leecher swarms)
  - At this point it do

[2018-04-06 14:20] xoriole opened #3570 "Tribler on Autopilot"
Explore Autopilot package for functional/acceptance testing of Tribler Qt application

[code]

https://launchpad.net/autopilot
Also interesting, Robot Framework: http://robotframework.org/

[2018-04-06 16:41] synctext opened #3571 "Lab goal: "Distributed Trust Design""
## overall aim of the lab for coming 10 years.

We now have the ability to create trust with software, as shown by Ebay, AirBnB, and Uber. Key is the star rating mechanism. We want to generalize this. Our audacious ambition is to establish a new scientific field, we call _Distributed Trust Design_.

**Distributed Trust Design provides a coherent framework to transform mutually non-trusting people

[2018-04-07 06:24] synctext commented on #1842
Your thesis work is nearly complete, how to get the graphs quickly...

You are very much invited to take shortcuts for the validation experiments, like setting bandwidth limits.
Another one is showing a different policy. If you're policy is not suitable for them, you can simply implement a trivial policy of preferring big swarms. Reacting to total swarm size. Then in experiment 4, you intoduce you

[2018-04-07 08:41] devos50 commented on #3569
In Tribler, you only receive tokens when you upload to other peers in our darknet. Due to limitations in the mechanism, 'plain' seeding is not rewarded by any tokens. Since we recently changed the overlay identifier, it might be that there are not a sufficient amount of users operating in this overlay, limiting the amount of uploaded data.

Note that you can also earn tokens by relaying encrypted

[2018-04-07 08:41] #3569 closed

[2018-04-07 08:42] devos50 commented on #3566
@Nubro01 thank you for your report. I'm not sure whether I completely understand your issue. Do you want to extend the information under the 'peers' section in the download details pane? Could you please clarify this?

[2018-04-07 09:30] Thomasedv commented on #3569
It does clarify it. I guess my uncertainty came from the fact that i'm used to having more "uploads" than downloads with the older tribler versions. I understand that is changed, i just wasn't aware that the impact would be literally everything i uploaded.

Another question would be, choosing to be an exit node, would count as "uploading" for others right?

[2018-04-07 09:34] devos50 commented on #3569
Exiting data as exit node yields you bandwidth tokens indeed.

We will clarify this behaviour in the token overview screen 👍

[2018-04-07 14:34] synctext commented on #3569
We used to have a seeding to Tribler users for tokens and
Seeding in Bittorrent without tokens. You could turn each on/off separately.
We should have that again perhaps + turn encrypted relaying off/on.

[2018-04-08 09:51] devos50 opened #3573 "Free-ride policy: give users with lower token balances less priority at the exit nodes"
Now that the payouts and anonymous downloading is functional, we should actually use the token balance to do something useful. The first iteration of such a policy will focus on the exit nodes. In particular, we create a _basic_ mechanism that works in the case of over- and undersupply of bandwidth where freeriders get less priority.

After a small discussion with @synctext, we came up with a desi

[2018-04-08 09:58] Nubro01 commented on #3565
I do not see any shutdown related error's, but since tribler is not shuttingdown, unless I close the log window...

ERROR   1523180955.10       community:299   Exception occurred while handling packet!
Traceback (most recent call last):
  File "Tribler\pyipv8\ipv8\deprecated\community.py", line 296, in on_packet
  File "Tribler\pyipv8\ipv8\deprecated\community.py", line 245, in on_introduction_req

[2018-04-08 10:01] Nubro01 commented on #3566
![afbeelding](https://user-images.githubusercontent.com/1146496/38466116-852d41cc-3b24-11e8-9afe-563e612ce5ee.png)

Hope this helps?

[2018-04-08 10:02] Nubro01 commented on #3566
I am seeding, so why do I see a download speed?

[2018-04-08 10:06] Nubro01 commented on #3566
When seeding is > bytes then I do see something.

![afbeelding](https://user-images.githubusercontent.com/1146496/38466165-30faf08a-3b25-11e8-801d-85ea211b6ccc.png)

[2018-04-08 10:15] Nubro01 opened #3574 "Download details not disapearing when selected again."
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
Yes
##### Tribler version/branch+revision: #####
Version 05-04-2018. versison 06-04-2018 does not even start, it abends at startup, report send.
##### Operating system and version: #####
Windows 10 Insider skip ahead build 17639
##### Steps to reproduce the behavior: #####
Select torrent in download detailv

[2018-04-09 06:34] qstokkink commented on #3566
The BitTorrent protocol keeps communicating with other people: this is where the download speed comes from.

So, this is not download speed for the file you downloaded. Instead, it is download speed to communicate the completion percentages, download flags, countries, etc. etc. of other people.

[2018-04-09 09:12] xoriole opened #3576 "'LibtorrentDownloadImpl' object has no attribute 'get_all_time_ratio'"
[code]

[2018-04-09 09:17] devos50 commented on #3576
It seems that these methods don't exist anymore so it should be easy to fix. I wonder how/why they were removed?

[2018-04-09 09:44] arvidn commented on #3566
I believe it will be mostly REQUEST messages and HAVE messages, when pieces complete.

[2018-04-09 09:57] devos50 commented on #3566
@arvidn thanks for clarifying this. I will close this issue since it's not an issue 👍 . Please let me know if you have any other questions!

[2018-04-09 09:57] #3566 closed

[2018-04-09 10:06] arvidn commented on #3566
I do get the impression, though, that a lot of users aren't interested in "protocol overhead", but really just *payload* transfers. Similarly to how the TCP/IP overhead isn't reported. My reading of this report is "the list view should only show payload transfer rates".

[2018-04-09 13:07] #3576 closed

[2018-04-09 14:59] jangerritharms commented on #3357
With the experiments we need to prove the desirable properties of the mechanism:

* obtaining and sharing more valid transaction data as a subject cannot decrease the score any auditor gives that subject -> this makes sharing data a weakly dominant strategy
* when approaching complete knowledge, every auditor should calculate the same score -> a theoretical consensus should be possible (not sure a

[2018-04-10 08:39] asajim commented on #3064
Latest draft:
[thesis.pdf](https://github.com/Tribler/tribler/files/1893789/thesis.pdf)

[2018-04-10 09:10] clenrock commented on #3488
The final snapshot of the paper, before the deadline of 12 April
[exploration-state-art (1).pdf](https://github.com/Tribler/tribler/files/1893911/exploration-state-art.1.pdf)

[2018-04-10 10:18] synctext commented on #3064
- "if bit values with length 1000 is the goal, a set of 1000 locations is required as an input to PUF device"
  is there a scientific motivation for the number of bits required?
- Section 3.2 opening sentence should be less modest. Too much intro text.
  More like: our aim is to make a strong PUF with significantly more combinations then the number of atoms on earth, [guessed to be at least 10^49]

[2018-04-10 11:29] synctext commented on #3064
_we would like a fully operational PUF of your design and development environment in our lab_. redo the Bitcoin experiment.

[2018-04-10 12:14] #3573 closed

[2018-04-10 12:31] ichorid commented on #2548
To estimate the limits of Twisted networking performance, I did a small packet forwarding test with LXC containers and `nc | pv | dd` method: `nc ` <= `twisted forwarder` <= `nc`.

|     |   /dev/zero  | /dev/urandom |
|:---:|:------------:|:------------:|
| TCP | 320 MBytes/s | 180 MBytes/s |
| UDP | 120 Mbytes/s | 120 MBytes/s |

[2018-04-10 12:55] synctext commented on #3357
List, discuss, and evaluate using various aspects to audit. Replaced witness with endorsements(real improvement). Goal: ability to provide strong game theoretic results. Resilience to Internet trolls? (e.g. Sybils) Explore design space as a system architect, aka mechanism design. What should we audit?
- information consistency
- information correctness
- graph remoteness
- trustworthiness estimato

[2018-04-10 13:51] synctext commented on #1842
conducted experiment:
- 4 libtorrent instances; joining all the same 1 swarm. 3 seeders, 1 leecher.
- Leecher starts from 0 progress, all limited to 3 MB/s down, 1MB/s up.
- Using default 6881-6883 UDP/TCP port. Not configured forced UDP or TCP usage.
- strange behavior, 1 seeder gets port 15000 something.
- ```connect_peer()``` does not seem to function.
- config option connect-to-local-peers?
-

[2018-04-10 16:16] Nubro01 opened #3579 "Last three builds abend at start up, last is build 10042018"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
yes
##### Tribler version/branch+revision: #####
7.1
##### Operating system and version: #####
Windows Insider preview 17639
##### Steps to reproduce the behavior: #####
Start Tribler
##### Expected behavior: #####
Normal startup
##### Actual behavior: #####
Abend
##### Relevant log file output: #####
[trib

[2018-04-10 19:08] devos50 commented on #2559
Extracted from the IDEX whitepaper:

Also, according to the whitepaper, their distributed order book will be live in Q3 2018.

Even more fantasy and dreaming from their main project, Aurora (https://auroradao.com/assets/Aurora-Labs-Whitepaper-V0.9.5.pdf):

[2018-04-10 19:41] synctext commented on #2559
Epic text!

[2018-04-10 19:44] synctext commented on #2548
Great to hear Python+twisted does not need replacing.

[2018-04-11 07:32] qstokkink commented on #3579
Apparently an environment variable is being set with a non-string (int or something):

[code]

[2018-04-11 07:38] qstokkink commented on #3579
We could probably do something like the following on https://github.com/Tribler/tribler/blob/next/TriblerGUI/core_manager.py#L72 :

[code]

[2018-04-11 07:39] devos50 commented on #3579
@qstokkink would this also work with unicode paths (i.e. the `PATH` variable)?

[2018-04-11 07:41] qstokkink commented on #3579
@devos50 That would make it slightly more complicated:

[code]

[2018-04-11 07:43] devos50 commented on #3579
@qstokkink let me verify whether this works on Windows 👍

[2018-04-11 07:44] qstokkink commented on #3579
@devos50 sure 👍

[2018-04-11 07:48] devos50 commented on #3579
@qstokkink I didn't realise you code strips out all unicode strings which is undesirable I guess. We have to deal with unicode strings being passed in the subprocess environment unfortunately.

[2018-04-11 07:54] qstokkink commented on #3579
The `x if isinstance(x, basestring) else str(x)` should only cast `x` to `str` if it is not `unicode` or `str` already.

[2018-04-11 08:11] xoriole commented on #3579
[code]
The other log present in the crash report.

[2018-04-11 08:14] devos50 commented on #3579
After searching for a bit, it seems that passing unicode in environment when using `subprocess` is simply not possible.

Alternatively, we might refactor the code and pass these variables as arguments, _however_, `subprocess` also doesn't support unicode in the system arguments... we might solve that with this library: https://pypi.python.org/pypi/subprocessww. Thoughts?

[2018-04-11 12:16] synctext commented on #3357
the _audit your partners_ rule: a key mechanism is to require audits, ensuring we create an invisible hand of honesty. The rule: repeated interactions with an agent requires you to be able to produce your cryptographically signed, valid, correct, and honest audit certificate for this agent.

After an initial interaction you need to start checking people, and either put positive or a negative endor

[2018-04-11 12:19] synctext commented on #3357
Obtaining honest ratings after transactions has proven to be a hard problem.

[_the paper "Rating inflation"_](http://john-joseph-horton.com/papers/longrun.pdf)
A solution to marketplace information asymmetries is to have trading partners
publicly rate each other post-transaction. Many have shown these ratings
are effective; we show that their effectiveness deteriorates over time.
The problem is t

[2018-04-11 12:44] qstokkink commented on #3579
I guess the alternative is this:
https://stackoverflow.com/a/11442604

[2018-04-11 15:27] xoriole commented on #3565
@Nubro01 Could you try the latest build [Build 197](https://jenkins.tribler.org/job/Build-Tribler_Win64_next/197/) and let us know if the problem persists?

[2018-04-11 18:14] Nubro01 commented on #3579
Build from 11-04-2018 same problem.

[tribler-gui-info.log](https://github.com/Tribler/tribler/files/1899959/tribler-gui-info.log)
[tribler-core-error.log](https://github.com/Tribler/tribler/files/1899960/tribler-core-error.log)
[tribler-core-info.log](https://github.com/Tribler/tribler/files/1899961/tribler-core-info.log)
[crash-report.log](https://github.com/Tribler/tribler/files/1899962/crash-r

[2018-04-11 18:15] Nubro01 commented on #3565
I have a start up problem with the lastest 3 builds, see my other issue.

[2018-04-11 20:28] vandenheuvel opened #3581 "Introductory text, overview of lab work"
@yinghaodai and I are currently writing about the work done in the lab at [this repo](https://github.com/vandenheuvel/mathematics-of-trust).

[2018-04-12 05:36] synctext commented on #3581
See issue 3571 also

[2018-04-12 14:12] xoriole commented on #3579
@Nubro01 Could you try this specific [experimental build](https://jenkins.tribler.org/job/pers/job/Build-Tribler_Win64_sandip/lastSuccessfulBuild/artifact/tribler/dist/Tribler_7.0.1-19-g194b181be_x64.exe) and let us know if it solves the issue?

It seems to us that the problem could be because of some environmental variables specific to your system hence a specific build only for you. We would ver

[2018-04-12 16:44] ichorid commented on #2548
Another simple experiment: CPU usage when bombing Tribler `tunnel_helper` exit node with packets.  Performance of `nc -u -l | pv | dd of=/dev/null` and simpler Twisted-based, do-nothing socket listener are measured to estimate baseline performance:

|             | nc+pv+dd | Twisted listen | Tribler  abcd*600 | Tribler ffffffff+abcd*600 | Tribler ffffffffffffffe+abcd*600 |
|------------:|--------

[2018-04-12 17:06] Nubro01 commented on #3579
The build could not be found, I was probably to late.
________________________________
Van: Sandip Pandey <notifications@github.com>
Verzonden: donderdag 12 april 2018 16:12
Aan: Tribler/tribler
CC: Ron Nuberg; Mention
Onderwerp: Re: [Tribler/tribler] Last three builds abend at start up, last is build 10042018 (#3579)

@Nubro01<https://github.com/Nubro01> Could you try this specific experimental b

[2018-04-12 17:08] Nubro01 commented on #3579
I adjusted the url and selected the file manually. Installing now!
________________________________
Van: Ron Nuberg <nubro01@hotmail.com>
Verzonden: donderdag 12 april 2018 19:06
Aan: Tribler/tribler; Tribler/tribler
CC: Mention
Onderwerp: Re: [Tribler/tribler] Last three builds abend at start up, last is build 10042018 (#3579)

The build could not be found, I was probably to late.
_______________

[2018-04-12 17:19] Dmole opened #3583 "libsodium23"
[code]
[code]
[code]

[2018-04-13 06:27] basvijzendoorn commented on #2887
[thesis.pdf](https://github.com/Tribler/tribler/files/1906069/thesis.pdf)

[2018-04-13 09:49] ichorid commented on #2548
One bottleneck identified: each active community adds about 50% of CPU load at 100Mbit/s UDP bombing test. The problem is, [`Endpoint.notify_listeners()`](https://github.com/Tribler/py-ipv8/blob/e160ff87616fa4a0bc4ac965476d079b88a3fc14/ipv8/messaging/interfaces/endpoint.py#L46-L56) notifies each listener in a broadcast manner:
[code]
This is very inefficient because each community (listener) does

[2018-04-13 09:57] Nubro01 commented on #3579
Startup is continueing with this test build. Shutdown however is still not normal. I replied on the received mail with logs of last shutdown.

[2018-04-13 10:17] ichorid commented on #2548
A quick hack that stops notifying all communities beside hidden tunnel community after 15 seconds of running Tribler increases torrent download speed from 0,9 Mbyte/s to 3,9 Mbyte/s. (Hack should be applied to both leecher and exit node.) Exit node's CPU usage drops to 98%. Of all Twisted threads only one still generates 20% CPU load, and other threads stay idle. The rest of the load is generated

[2018-04-13 10:31] jangerritharms commented on #3357
Thanks for the suggestions!

I think I was misled when thinking of the monotonic increasing value in order to make sharing strategy-proof. Instead, if pairwise audits are the only way of exchanging data and each endorsement block records the blocks exchanged, then we can simply see exactly which data an agent has at any point in time. So, when we require the full-chain, we not only see the agents

[2018-04-13 13:05] synctext commented on #3013
Clear goals for coming 3 weeks:
- There are numerous examples of hospital leaks out there [9000 records leaked](https://www.fiercehealthcare.com/privacy-security/website-upgrade-leaks-nearly-9-000-records-at-illinois-hospital-as-hacking)
- Getting ready for next step in next sprint of wiring 2-page Problem Description
- currently keep focusing on Python-blockchain coding
  - Explore for coming wee

[2018-04-13 14:12] ichorid commented on #2548
Another experiment: measure the pure bandwidth of exit node without leecher, in the direction `seeder->exit_node->leecher`.
To do that, we first disable method for taking down circuits, so the established circuit/tunnel would last forever. Next, we initiate the usual `seeder<-exit_node<-leecher`, so the circuit would be initiated properly by the exit node. We sniff the exit port of the circuit Twi

[2018-04-13 16:03] synctext commented on #2548
Smart twist in this experiment design! Seeder is replaced by a UDP sender with a fixed test pattern that does not do any congestion control. Fixed rate blasting at the exit node, which then uses full onion encryption to deliver the test pattern to the leecher. Leecher attempt to decypher the incoming data into Tor-like encrypted Bittorrent traffic.

[2018-04-13 18:12] nextgenthemes commented on #3583
I ran into this issue on Ubuntu 18.04 I used dpkg to install and it was actually listing all dependencies in a error because one was not met. I manually installed all of them except libsodium13 or 18 because 18.04 comes with 23. I installed 23 instead and Tribler seems to work fine with it. The issue is that it breaks apt and every action you take it will complain about a broken install because if

[2018-04-14 10:01] devos50 commented on #2559
I might have fried the DAS5 cluster at the VU but I managed to reach over **30.000 trades/sec**.

The following graph gives the relation between the total number of traders in the network and the average global throughput in trades per second. Each trader trades with another trader at a rate of 20 trades/sec, for a period of 30 seconds. The graph is made after optimizing the code and storing all T

[2018-04-14 10:04] devos50 commented on #3583
Thanks for the report! We should add `libsodium23` to our `debian/control` file.

[2018-04-15 18:52] devos50 commented on #2559
Repeated the OpenRide experiment, here are two rough plots (still needs some polish and I'm running it more times so I can add some error bars). During the experiment, I differ the broadcast settings, in particular, the fan-out _f_ and _TTL_. So when using _f = 10_ and _TTL=2_, each new ask/bid order reaches 10 + 10^2 = 110 nodes. As we see, lower values of _f_ and _TTL_ lead to suboptimal efficie

[2018-04-16 06:26] synctext opened #3584 "Jenkins.tribler.org certificate expired"

[2018-04-16 06:42] devos50 commented on #3584
Renewed cert + created crontab entry so it automatically attempts to renew the certificate if it's near the expiration date.

[2018-04-16 06:42] #3584 closed

[2018-04-16 09:38] egbertbouman commented on #3183
Status:
- Kademlia implementation: fast and designed for integrated NAT traversal
- routing table functional, designed as isolated DHT community https://github.com/egbertbouman/tribler/blob/dht/Tribler/community/dht/routing.py#L119
- the current protocol is iterative, which means that due to connectablity issues we will not always get a response
- besides smaller unit tests, we also have a larger

[2018-04-16 12:16] Nubro01 opened #3586 "Tribler 7.1 April 16th version no install on D:\"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
Yep
##### Tribler version/branch+revision: #####
April 16th 2018
##### Operating system and version: #####
WIndows 10 build 17643
##### Steps to reproduce the behavior: #####
Install tribler
##### Expected behavior: #####
Normal install
##### Actual behavior: #####
Install fails when D:\Program files is sel

[2018-04-16 12:24] ichorid commented on #2548
Experiment: multiple leechers vs multiple seeders:
* 1 leecher x 2 seeders: 4,3 Mbytes/s
* 1 leecher x 4 seeders: 4,5 Mbytes/s
* 1+1 leecher x 2+2 seeders (2 independent torrents): 5,3 Mbytes/s

These results show that we have bottlenecks both in the leecher and the exit node.

[2018-04-16 12:25] Nubro01 commented on #3565
After a while I am able to force shutdown on the Tribler main screen and that NOW works, but after restart most of the files are checked again and with >= 4 gig files, this takes a long time!!!!

[2018-04-16 12:36] Nubro01 commented on #3565
![afbeelding](https://user-images.githubusercontent.com/1146496/38809300-5d5a6b24-4183-11e8-84e5-3ff20914dc74.png)

[2018-04-16 12:43] Nubro01 commented on #3565
So please, before force shutdown close all files normally!

[2018-04-16 15:34] xoriole commented on #3586
Could you be more specific in what way it fails? Does the installer complete installation or it gets stuck after selecting the install location?

[2018-04-16 15:43] synctext commented on #3571
[The Internet is sick](https://arstechnica.com/information-technology/2018/04/mozilla-foundation-report-details-decline-in-health-of-internet/). We need a formula for _Trust and Truth_. Our cure needs to prove itself and work on a large scale. A killer application is needed to bring "distributed trust design" to a wide audience. Options to further explore:
- Youtube-like alternative to the central

[2018-04-16 19:57] synctext commented on #3183
ToDo in Design 3: caching mechanism for popular torrents or Tribler channels. (e.g. no trackers needed)

[2018-04-17 06:58] qstokkink commented on #3183
Will this be replacing the current puncturing infrastructure?

If so, we should make sure we have all of the existing communities ported to IPv8 before this goes live.

[2018-04-17 09:13] synctext commented on #3337
"Our live token economy: measuring and mitigating real-world attacks"
Detection of fraud on our live network and attacking our own network with live Sybil attacks could be The Big Next Paper... Cue "incremental personal PageRank". Merge trust of barter, voting, and trade transaction graphs.

[2018-04-17 09:43] synctext commented on #2925
Next: _going live in Tribler_
We are ready for the next steps this year with the maturing of our token economy and self-replicating code. The initial step is to provide advanced CloudOmate to ordinary users of Tribler, who are not experience traders, market makers, or command-line Linux experts. With the integration of the Bitcoin wallet we can expose buying servers to our users. Target the follow

[2018-04-17 09:50] ichorid commented on #2548
A superficial analysis of profiler charts revealed another potential problem: we [recreate the crypto object every time we need to encrypt or decrypt something](https://github.com/Tribler/py-ipv8/blob/e160ff87616fa4a0bc4ac965476d079b88a3fc14/ipv8/messaging/anonymization/tunnelcrypto.py#L69-L77). This runs a very costly operation of cypher initialization in OpenSSL.

[2018-04-17 11:55] qstokkink commented on #3586
@xoriole can you reproduce this?

[2018-04-17 14:09] egbertbouman commented on #3183
At first, we were thinking about using the introduction-request/response to create a walk for every DHT request you make. The random walk would also run, just like any other community, to discover new peers and fill the Kademlia-based routing table.

After thinking a bit more about this, I could also use the existing message types, and just add an IPv8 puncuture-request to it. This would more or l

[2018-04-17 14:30] qstokkink commented on #3183
@egbertbouman that would be nice, then we can immediately merge this into the codebase.

[2018-04-17 15:29] synctext commented on #2548
mental note: earlier discovery was that Twisted "thread pools" cost performance. By moving to main-thread, numerous context switches are avoided and performance _could_ also double here. @qstokkink @devos50

[2018-04-17 17:02] ichorid commented on #2548
Currently, we poll sockets ourselves [in an endless loop.](https://github.com/Tribler/py-ipv8/blob/e160ff87616fa4a0bc4ac965476d079b88a3fc14/ipv8/messaging/interfaces/udp/endpoint.py#L160)
This is clearly not the thing Twisted developers were expecting from their users since Twisted has facilities like `DatagramReceived` and `LoopingCall`. Most probably, our "endless" loop severely messes up Twiste

[2018-04-17 17:08] ichorid commented on #2548
@synctext, tried that. Disabling "thread pools" does not affect performance in my tests, but removes "unknown" objects in profiler, and makes profiling Twisted manageable.

[2018-04-17 18:44] qstokkink commented on #2548
Your comments touch upon a great many Python and Twisted nuances and intricacies, let me try and organize this into a shortlist:
 - The `UDPEndpoint` [does not run on a Twisted thread, but on a (built-in) Thread](https://github.com/Tribler/py-ipv8/blob/e160ff87616fa4a0bc4ac965476d079b88a3fc14/ipv8/messaging/interfaces/udp/endpoint.py#L115).
 - The `UDPEndpoint` [does not use a socket managed by Tw

[2018-04-17 20:16] ichorid commented on #2548
@qstokkink, thanks for the detailed explanation!
But why would we even have `UDPEndpoing` in a built-in thread, if context switching makes our application (at least exit node) slower? What's the point? We don't want 800 MB/s of theoretical throughput in a single part of our application if the rest of the application can't make more than 4 MBytes/s. We want a single thread of our application to do

[2018-04-18 08:06] qstokkink commented on #2548
@ichorid we did not have the time, nor the indication that we should do this before. If you want, you can try implementing a full Twisted-based endpoint.

[2018-04-18 10:42] #3402 closed

[2018-04-18 10:42] #3513 closed

[2018-04-18 10:42] #3583 closed

[2018-04-18 15:41] ichorid commented on #2548
While UDP bombing the exit node, its memory usage remains constant. However, the leecher's memory usage grows very fast, as if it internally buffers all the packets it can't process. Even when the stream of packets ends, the leecher's CPU usage remains 100% for a long time, until it finishes processing the buffered data. Its memory usage drops somewhat along the way. This happens even with crypto

[2018-04-18 16:40] qstokkink commented on #2548
I'm not sure, but I think the packets not arriving at libtorrent is expected due to the data format.

The UDP packets being sent directly to the seeder is a high priority bug.

[2018-04-18 18:42] ichorid commented on #2548
OK, I think I got how UDP packets could go back to the seeder directly.
When we inject packets back to the router node with IPv8 header, it would happily accept it because of its `could_be_something()` filters check everything in a single place, on the packet entry. We would expect the router node to at least check that uTP packets enter only through the BT port, and IPv8 packets enter only throug

[2018-04-18 20:19] Thomasedv opened #3587 "IOError in log on shutdown"
- [x] I have read CONTRIBUTING.rst

- [] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
Tribler_7.1.0-exp1-74-g3ca007f2d_x64

##### Operating system and version: #####
Windows 10

##### Steps to reproduce the behavior: #####
Unknown

##### Relevant log file output: #####

![image](https://user-images.githubusercon

[2018-04-19 06:45] qstokkink commented on #3587
This is a weird one, I do not have an answer (yet) but I can share my observations:

 - This is happening when `logging` is performing a `stream.write()`.
 - The error code is 0, so there is "nothing wrong".
 - There are some suggestions available (`https://github.com/Microsoft/` `vscode/issues/36630#issuecomment-350063413`, `https://github.com/robotframework/` `robotframework/issues/2709#issuecom

[2018-04-19 10:25] ichorid opened #3590 "Single-Packet Deanonymization"
We have a serious bug. The seeder is able to deanonymize the leecher by sending the specially-formed UDP packet to the exit node. The packet should go from the seeder to the exit node's temporary port, that was opened just for the bittorrent session. The packet should start with `fffffffffffffffe` tunnel community header.
After receiving such packet, the exit node forwards it to the leecher. Then

[2018-04-19 15:26] ichorid commented on #3590
The problem is, we currently use the stupidest method possible to determine if data coming from the tunnel is addressed to us: ["if there is no IPv8 header, this is not for us"](https://github.com/Tribler/py-ipv8/blob/e160ff87616fa4a0bc4ac965476d079b88a3fc14/ipv8/messaging/anonymization/community.py#L988).
[code]

Instead, we should look for circuit ID.
Overall, the packet handling/relaying logic

[2018-04-19 15:37] ichorid commented on #3405
We have to fix it to have #3590 fixed properly.

[2018-04-20 11:57] qstokkink opened #3593 "Creating trust through transactions on a blockchain"
The TrustChain achitecture allows users to collect transactions with different contents. Each of these content types allows users to build a globally recognized history for this particular type of transaction. For example in BitTorrent you earn more trust as you upload more data. Conversely you earn less trust as you download more data.

For this assignment you will be combining (at least) two typ

[2018-04-20 12:09] qstokkink opened #3594 "Decentralized Service-Level Agreements"
Blockchains are regularly used to perform services in exchange for currency. As nobody trusts each other in the blockchain context, these services can be tied to contracts. These contracts combine the public aspects of blockchains with the *commitment* to fulfill it.

For this assignment you will be creating a commitment scheme on the TrustChain, based on Service-Level Agreements. Concretely, you

[2018-04-20 12:34] ichorid commented on #3590
Packet repeat attack, magic cookie?

[2018-04-20 13:14] qstokkink commented on #3590
Magic cookie?
![cookiem_3167167b](https://user-images.githubusercontent.com/3630389/39052826-8b47539e-44ad-11e8-961a-92d8325694d1.jpg)

[2018-04-20 13:27] asajim commented on #3064
Thesis draft:

[thesis.pdf](https://github.com/Tribler/tribler/files/1932251/thesis.pdf)

[2018-04-20 14:12] synctext commented on #3064
Please provide @qstokkink with 4 out of your 5 operational SRAM puf chips. Three Arduino + interface board plus sources to get it operational and profile each PUF bit. Allows us to do parallel profiling. Additional microSDcard for storage of helper data + adapter to interface with Arduino.

[2018-04-20 21:04] synctext commented on #3590
Great to hear today that IPv8 + tunnel is not included in an officisl Tribler version. Phew, close call.

[2018-04-21 07:47] qstokkink commented on #3590
The post-mortem on this one:

 1. *Construct an unknown UDP packet with a valid IPv8 header and with you as the sender*
 2. *Send this packet to the exit node*
 3. The packet is tunneled and unpacked at the circuit originator
 4. The packet is determined to be garbage, normally this would only happen if the circuit was removed by us and the notification of circuit destruction was not forwarded to

[2018-04-21 13:45] Thomasedv commented on #3565
Also, getting incomplete shutdown.  Things like this in log:
![image](https://user-images.githubusercontent.com/1584461/39084196-9aee508a-4571-11e8-8fee-c787509679c3.png)

The negative data circuits slowly increases up to 0.

Also noticed errors like in #3587 and the unpack error mentioned above. Currently using dev version Tribler exp1-116.

[2018-04-21 13:52] ichorid commented on #2548
[On GIL](https://www.dabeaz.com/python/UnderstandingGIL.pdf)

[2018-04-22 07:39] Thomasedv commented on #3587
Update, this error is also spotted in longer running tribler instances.

![image](https://user-images.githubusercontent.com/1584461/39092489-2b25adae-460f-11e8-80f2-2e78549169b5.png)

Also, at the moment of taking this screenshot, Tribler is using about 9 GB of memory... Is this a new bug, or could it be related to the errors with logging? Or should i open an issue for memory leaks?

Currently, on

[2018-04-22 07:52] synctext commented on #2548
Porting to Python 3.6 would also help I think.

[2018-04-22 08:46] ichorid commented on #2548
@synctext, it definitely could, but there are some concerns ([page 54](https://www.dabeaz.com/python/UnderstandingGIL.pdf)) about the new GIL implementation in 3.2. The author of that presentation shows that for the corner case of "1 heavy IO thread + 1 heavy CPU thread" the performance of 2 threads on 2+ core system could drop up to 330x times! This problem is probably solved in later versions of

[2018-04-22 08:46] devos50 commented on #3565
@Thomasedv we're working on these issues. The negative number of data circuits required is a problem indeed and we should look into it. I will open a separate issue for it. Thanks for reporting!

[2018-04-22 08:49] devos50 opened #3596 "Tribler wants a negative amount of circuits"
As reported in #3565, sometimes Tribler seems to want a negative number of circuits. This might be caused by the shutdown procedure, where circuits are closed and counters could be messed up.

Screenshot:

![39084196-9aee508a-4571-11e8-8fee-c787509679c3](https://user-images.githubusercontent.com/1707075/39093136-d9d1896c-461a-11e8-8d6c-e3d6d2986a84.png)

[2018-04-22 09:06] devos50 commented on #2925
@thijmensjf @codesalad @vwigmore this ticket is all yours for the coming ten weeks! 👍

[2018-04-22 09:40] qstokkink commented on #3587
@Thomasedv the `logging` thing is a known (hard-to-fix) Windows obscurity.

The slowdown in the GUI is probably not related, could you make a separate issue for this?

[2018-04-22 09:49] egbertbouman commented on #3596
This seems to happen when we have circuits, but don't need them. For instance you have 32 circuits, and need 0. In that case the counter shown in the logs will be -32.

The circuits that we don't need will eventually timeout, and won't be recreated. So, the counter should go to 0 after some time.

[2018-04-22 11:36] qstokkink commented on #3596
Does this happen when removing downloads?

[2018-04-22 12:08] Thomasedv commented on #3587
@qstokkink Will do!

[2018-04-22 12:15] devos50 commented on #3587
@Thomasedv we recently added a memory dumper to Tribler. Could you help us by providing us with a memory dump that we can analyse? I.e. after running Tribler for an hour?

Instructions to create a memory dump: if you enable developer mode in the settings pane (general tab), you will see a _debug_ menu item to the left. From the debug pane, you are able to dump the memory content of the Tribler GUI

[2018-04-22 12:47] Thomasedv commented on #3587
@devos50 I'll do it once i let it run for a while, and have seen it increase notably in memory size.

[2018-04-22 12:47] devos50 commented on #3587
@Thomasedv thank you!

[2018-04-22 15:30] Thomasedv opened #3597 "GUI slowdown possible memory leak related."
- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
Tribler 7.1.0 exp-1-122

##### Operating system and version: #####
Windows 10

##### Steps to reproduce the behavior: #####
Use tribler regularly.

##### Expected behavior: #####
Same update speed as startup

##### Actual beha

[2018-04-23 05:21] Thomasedv opened #3598 "Tribler crashes on memory dump from GUI"
- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
Tribler exp1-122

##### Operating system and version: #####
Winsdows 10

##### Steps to reproduce the behavior: #####
Go to debug and select memory dump for GUI

##### Expected behavior: #####
Get memory dump in json (I think)

[2018-04-23 09:25] devos50 commented on #2925
Literature to start with:
- https://repository.tudelft.nl/islandora/object/uuid%3Aa1b443c7-8b37-4263-ae96-d38bc8b8f397?collection=education (TENNET)
- https://repository.tudelft.nl/islandora/object/uuid%3A08841cf0-8ddf-4354-9c99-bc7c270d67fd?collection=education (PlebNet)
- https://github.com/Tribler/tribler/issues/3238 (Master students who worked on Cloudomate)
- https://github.com/Tribler/trible

[2018-04-23 09:36] devos50 commented on #2925
Overall goal: Setup, deploy and optionally evaluate an end-to-end Botnet with self-replicating servers. Use the existing Cloudomate software to buy (and monitor) new servers, use PlebNet to install Tribler and deploy an exit node (optionally with VPN protection). Finally, sell earned bandwidth tokens on our decentralized market.

First sprint:
- Perform a requirement analysis -> create MOSCOW mode

[2018-04-23 09:40] xoriole commented on #3598
This seems specific to windows. I cannot reproduce it in Linux version.

[2018-04-23 09:51] Thomasedv commented on #3598
Also fail to make a memory dump of the core, with this error in the log:

![image](https://user-images.githubusercontent.com/1584461/39119492-4a09d366-46ec-11e8-89d4-61b9ce60dc02.png)

Current memory usage by tribler is at 6 GB.

![image](https://user-images.githubusercontent.com/1584461/39119571-7b0fa36e-46ec-11e8-87c6-e44b06982b0e.png)

[2018-04-23 10:07] xoriole commented on #3598
Thank you for the log and the memory graph. This is helpful.

[2018-04-23 12:07] xoriole commented on #3598
[code]
Additional error log on memory dump. Occurs only on windows.

[2018-04-23 17:16] ichorid commented on #2548
The bottleneck causing the memory leak/blowout is hiding somewhere behind
[`self.transport.write(data, self.remote_udp_address)` ](https://github.com/Tribler/tribler/blob/f40349a187f3cfa4010ef5c67a44d5a739497b12/Tribler/Core/Socks5/udp_connection.py#L26)

So, it's Twisted problem.

[2018-04-24 07:34] qstokkink commented on #2548
@ichorid that sucks, a lot. I don't think there is *any* easy way to change our Socks5 implementation.

[2018-04-24 09:04] synctext commented on #3357
Trust research spans The Sciences; economists, iterative PD (CS), evolution of cooperation(biology). Social scientists from Stanford Innovation [Lab](https://peaceinnovation.stanford.edu/about-2/team-2/) are discussion mechanism design. Talk: "Harnessing Gaming Technology for Peace: A Conversation with Margarita Quihuis", [discussing a social operating system based on religion, legal code, and mec

[2018-04-24 10:27] qstokkink commented on #3357
Beyond game theory: forced two-way endorsements.

[2018-04-24 16:56] ichorid commented on #2548
Leak solved. It was [`callFromThread(self._deliver_later)` in `notifiy_listeners`](https://github.com/Tribler/py-ipv8/blob/bd8423e9a89eb33b084c2e7990d326bd09a4969e/ipv8/messaging/interfaces/endpoint.py#L54)
We do not use it by default, that's why we had never seen it.
On the other hand, different ways of calling `_deliver_later` result in different performance levels:

| Way of calling `self._deli

[2018-04-24 17:35] qstokkink commented on #2548
Does this leak happen if you add:

[code]

Here:
https://github.com/Tribler/py-ipv8/blob/bd8423e9a89eb33b084c2e7990d326bd09a4969e/ipv8/messaging/interfaces/endpoint.py#L51

[2018-04-24 18:38] synctext commented on #2548
Brainstorm.., towards microarchitecture. Is there a twisted alternative? Not this one, https://github.com/MagicStack/uvloop/issues/14

[2018-04-25 08:08] xoriole opened #3599 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x7b [downloads_endpoint]"
[code]

[2018-04-25 08:47] ichorid commented on #2548
@qstokkink, when I add this line, the download starts and dies almost immediately.

[2018-04-25 08:52] ichorid commented on #2548
@synctext, it's really a shame that uvloop does not work as a drop-in replacement of reactor loop with Windows (((
However, this fact does not stop us from using libuv for implementing a C-based endpoint, or using uvloop to speed-up Linux Python 3.6+ performance, etc. According to authors, uvloop does not provide any API, it is just a more efficient replacement for the Python 3 core reactor.

[2018-04-25 08:54] synctext commented on #3477
Progress to date:
- [Trustchain + overlay: .proto Single Protocol Buffer message definition](https://github.com/klikooo/CS4160-trustchain-android/blob/master/app/src/main/java/nl/tudelft/cs4160/trustchain_android/message/Message.proto)
- 8548 lines of generated code by Protocol Buffers [serialising and de-serialising each message](https://github.com/klikooo/CS4160-trustchain-android/blob/master/ap

[2018-04-25 08:54] ichorid commented on #2548
We have seen good enough benchmark performance for encrypted tunnel throughput (14 Mbytes/s). However, torrent download speed is 4 times worse. Why?

[2018-04-25 10:08] qstokkink commented on #3593
The first step to getting up-and-running is to follow the IPv8 tutorial, which you can find here:
https://github.com/Tribler/py-ipv8/blob/master/doc/overlay_tutorial.md

After completing the tutorial, you can read about the TrustChain implementation here:
https://github.com/Tribler/py-ipv8/blob/master/doc/trustchain.md

Then you can create your own TrustChain subclass.

[2018-04-25 10:08] qstokkink commented on #3594
The first step to getting up-and-running is to follow the IPv8 tutorial, which you can find here:
https://github.com/Tribler/py-ipv8/blob/master/doc/overlay_tutorial.md

After completing the tutorial, you can read about the TrustChain implementation here:
https://github.com/Tribler/py-ipv8/blob/master/doc/trustchain.md

Then you can create your own TrustChain subclass.

[2018-04-25 10:36] jangerritharms commented on #3357
https://github.com/jangerritharms/aupair

[2018-04-25 11:26] EinNarr commented on #1842
![join](https://user-images.githubusercontent.com/15276621/39242829-c122c35e-488b-11e8-93e8-1077aa0b5dde.png)
The curve and bar chart of times each swarm is joined by Credit Mining during the 30 minutes test(71 minutes in fact, since the result is too ideal, to better show the curve, I cut out the first 30 minutes)
![select](https://user-images.githubusercontent.com/15276621/39242832-c5076042-488b

[2018-04-25 13:04] synctext commented on #3486
Progress update:
- mostly documented [thesis.md](https://github.com/backender/ctc-executioner/wiki) in 16 files.
- need for a explicit reward function in the future. Bellman equation, take into account the balance between risk (CloudOmate agent survival) and [future rewards](https://www.cs.cmu.edu/afs/cs/project/jair/pub/volume4/kaelbling96a-html/node39.html) (market making of Tribler coins)
- syn

[2018-04-25 14:30] egbertbouman commented on #2548
Just got this when doing direct calls:

[code]

[2018-04-25 14:54] xoriole opened #3600 "KeyError: 'statistics'"
This issue is still present on the latest `next`.
[code]

[2018-04-25 15:07] xoriole opened #3601 "Issue with installation on Ubuntu 18.04"
There seem to be a problem with Tribler installation on latest 18.04 Ubuntu (beta) related to sqlite. We should have a deployment test for it as soon as a stable release 18.04 is released in few days.

[code]
[code]

Related: #2608

[2018-04-25 15:32] synctext commented on #1842
Remarks:
- Critical setting: ```settings_pack::allow_multiple_connections_per_ip```
- Above graph is a more advanced experiment-3 with also dead swarms.
  - swarm evaluation period is set at 1 minute
  - Each swarm is 800MByte, so no completed downloads by leechers
  - Three swarms joined 30 times, thus 90 joins, other 13 or 14 joins, thus 7 x 13 =91; 181-ish times
  - checking consistency: 30 min

[2018-04-26 08:41] AngelaBarrio commented on #3013
Activities last 2 weeks:

- started building mini blockchain based on The World's Tiniest Blockchain
- running code though not very spectacular
- now trying to make the blockchain actually distributed
- added small part about Barbie's hospitalization case to the problem description

[2018-04-26 09:14] ichorid commented on #2548
That's one option. Another one is to investigate what lines access the dictionary and try to remove that access completely. Or shift all the usages into a single "thread". BTW, this would help with further isolating IPv8 and preparing it to move to a separate process.

[2018-04-26 10:33] synctext commented on #3013
- creating an AngelaChain from scratch
- focus on the distributed aspect, going beyond the starting point of single node example
- getting ready to add threshold encryption or other key recovery
- Found the state-of-the-art technique to improve upon
  - [Strength in Numbers: Threshold ECDSA to Protect Keys in the Cloud](https://eprint.iacr.org/2015/1169.pdf)
  - side-channel protection: private ke

[2018-04-26 15:14] xoriole opened #3602 "Tribler embedded shell"
It is desirable that we could ask Tribler users to run some commands within Tribler and let us know the results so we could better debug the issue. But it is currently not available.

One way to achieve this is to have a runtime shell environment within Tribler where commands can be executed. Since it is not core to the execution of Tribler but related to debugging, it could be placed in the Debug

[2018-04-27 14:10] qstokkink opened #3603 "Perform light-weight memory dumps with gc"
As the meliae library keeps giving us trouble, we can switch over to the built-in gc library for object leak inspection. The following snippet will already do the dirty work:

[code]

This will produce something like:

<details>

[code]

Or, when used on the GUI:

[code]

</details>

[2018-04-27 14:46] qstokkink commented on #3603
We can also use `gc` for checking where objects (including built-ins) were created:

[code]

[2018-04-27 14:59] qstokkink commented on #3602
You can do something like this:

[code]

You should borrow the globals and the locals from the context in which you want to execute your commands. Right now the `execute_line` borrows the globals and locals from the calling context.

[2018-04-28 08:25] qstokkink opened #3604 "Remove duplicate code for testing"
The current unit test framework has duplicate code from the IPv8 test suite. This was a necessity as the test classes could not be imported before.

Now that the test classes can be imported from IPv8, the duplicate code should be removed from the Tribler test suite.

[2018-04-28 08:26] qstokkink commented on #3603
Related to #3598

[2018-04-28 11:27] vi opened #3605 "Shall Tribler have countermeasures against Tor blocking?"
Shall Tribler implement anti-internet-censorship measures like in Tor? Like obfsproxy and so...

- [ ] I have read CONTRIBUTING.rst
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

v7.0.2

##### Operating system and version: #####

Linux

##### Steps to reproduce the behavior: #####

Try to download something

[2018-04-28 12:07] qstokkink commented on #3605
Very interesting idea. Creating a set of active countermeasures would make for an interesting master's thesis.

[2018-04-29 12:28] cranphin opened #3607 "Make REST API available from other machines"
Currently the REST API is only available on the same machine (localhost).

It would be nice to be able to control tribler from another machine.
I think for this all that's needed is to add a configuration option for http api binding interface, and use this here:
https://github.com/Tribler/tribler/blob/f40349a187f3cfa4010ef5c67a44d5a739497b12/Tribler/Core/Modules/restapi/rest_manager.py#L32
Where i

[2018-04-29 12:42] qstokkink commented on #3607
Related to #3079 .

Indeed: we don't want to expose any the API through HTTP, this is very dangerous. Once we start supporting HTTPS we will add this option.

[2018-04-29 12:45] qstokkink commented on #3230
@cranphin you could try to force kill the GUI process and leave the core running (I don't know if this actually works).

[2018-04-29 14:35] cranphin commented on #3230
I guess I did ask for a hacky way :) Yeah, looks like it leaves the child process running, good enough for me for now :)

[2018-04-29 14:49] qstokkink commented on #3230
@cranphin the following *should* also work, based on: https://github.com/Tribler/tribler/blob/d5be6bab8ee456cde1c9bb3ab6056c5a1c3f7a92/run_tribler.py#L60-L63

Execute the following when launching Tribler:
[code]

*Disclaimer*: you may have to tinker with this a bit to get it working.

[2018-05-02 12:45] xoriole commented on #3327
Moved most of the windows & ubuntu server to the new server and the deployment tests seem pretty stable so I'm closing this issue for now.

[2018-05-02 12:45] #3327 closed

[2018-05-02 14:26] qstokkink opened #3608 "test_torrent_store_delete accessing real state directory"
`Tribler.Test.Core.test_session.TestSession.test_torrent_store_delete` should be using a temporary state directory, it is however using the real one:

[code]

[2018-05-02 14:30] #3604 closed

[2018-05-02 14:47] qstokkink commented on #3599
For reference, the offending entry is the following:

[code]

[2018-05-02 20:20] vi opened #3609 "Tribler fails to chew a mega-torrent"
##### Tribler version/branch+revision: #####

v7.0.2

##### Operating system and version: #####

Linux

##### Steps to reproduce the behavior: #####

1. Download [this torrent file](https://sites.google.com/site/tlmcfiles/Touhou%20lossless%20music%20collection%20v.19.torrent) (9.2M);
2. "Import torrent from file"
3. Choose the file
4. Deselect everything except of the first small-ish entry
5. Pres

[2018-05-02 22:17] non-Jedi commented on #3440
Per conversation on https://github.com/NixOS/nixpkgs/pull/36065, it seems this bug was introduced some time between 7.0.0 rc3 and the 7.0.0 release. I was going to take a look and see if I could find anything, but there are quite a few commits there. Might want to control your rc process a little better.

[2018-05-03 07:46] xoriole commented on #3609
@vi Thank you for the reporting. I can reproduce the issue so will fix it soon.

[2018-05-03 08:13] asajim commented on #3064
Latest draft:
[thesis.pdf](https://github.com/Tribler/tribler/files/1970052/thesis.pdf)

[2018-05-03 14:07] xoriole commented on #3609
It seems an empty announce URL was causing this issue for which the fix was straight forward.

However, adding this torrent to Tribler highlighted a more serious issue. The startup time increased significantly. Note that the total size of the files included in this torrent is **1.7TB** but even on selecting a single small file to download, the startup time is still significantly large.

On a posit

[2018-05-03 14:10] ichorid commented on #2548
OK, the communication scheme between old Dispersy listener and new IPv8 listener completely is broken and [brain-dead ](https://en.wikipedia.org/wiki/Braindead_(film)). It messed up the results of my old experiments.
When I correctly disable Dispersy and enable `LoopingCall()`-based endpoint on both router and leecher the performance goes to **8 Mbytes/sec**! It is important to note that broadcast

[2018-05-03 14:14] vi commented on #3609
Note: previous issue about similar file: #1689.

[2018-05-03 14:20] vi opened #3611 "Pressing a strange button near settings shows "multichain community not found""
##### Tribler version/branch+revision: #####

v7.0.2

##### Operating system and version: #####

Linux

##### Steps to reproduce the behavior: #####

Start Tribler, press the "handshake" button at a top panel near settings.

##### Expected behavior: #####

Something meaningful is displayed.

##### Actual behavior: #####

Error message and only a template page shown.

[2018-05-03 14:33] xoriole commented on #3611
I suppose the latest build should already include the fix for this issue.
https://jenkins.tribler.org/job/Build-Tribler_Ubuntu-64_next/426/

[2018-05-03 14:34] ichorid commented on #2548
Different call methods effect with `LoopingCall` endpoint :

| Way of calling `deliver_later() | leech encrypted MB/s | router encrypted MB/s | Leak |
|:-------------------------------:|:--------------------:|:---------------------:|:----:|
|          `CallInThread`         |          1,3         |          21,5         |  No  |
|         `CallFromThread`        |          11          |

[2018-05-03 18:51] amuuza opened #3612 "A public key to trust"
Hi,

If I want to download Tribler I go to
https://www.tribler.org/download.html
and cannot find any signature.
If I go to
https://github.com/Tribler/tribler/releases
I see the hashes are signed with key ID B9FCA9DC,
but don't know where is the public key nor a reference to it anywhere.

Thank you.

[2018-05-03 19:34] xoriole commented on #3612
@amuuza We appreciate your concern regarding the public key to trust.
Key used for signing the releases is the PGP key of the founder of Tribler, Prof. Johan Pouwelse.
You can find the public key in MIT PGP Key server here:
https://pgp.mit.edu/pks/lookup?op=vindex&search=0x9DD1E058B9FCA9DC

[2018-05-04 07:29] #3609 closed

[2018-05-04 07:32] qstokkink commented on #2548
@ichorid Cool: you just fixed 10-year-old crappy code; when are we getting the PR?

[2018-05-04 08:16] amuuza commented on #3612
Thank you!

[2018-05-04 08:16] #3612 closed

[2018-05-04 10:42] synctext commented on #2548
 8 Mbytes/sec! as leecher. Impressive. PR and Jenkins job would be most welcome. We could install a rule that future code contributions should not reduce anon download speed. On all supported platforms have performance regression tests.

[2018-05-04 12:05] ichorid commented on #2548
I have just reimplemented IPv8 endpoint with Twisted's `DatagramProtocol`. The results are basically the same as in [previous experiment](https://github.com/Tribler/tribler/issues/2548#issuecomment-386316984), except the performance is 10% worse, and CPU is 100% only when there are actual packets going through the system.

[2018-05-04 13:13] ichorid commented on #2548
Screenshot of the day:
![61](https://user-images.githubusercontent.com/2509103/39629782-9f2c769a-4fad-11e8-8468-f763b54524c1.png)

[2018-05-06 21:45] ichorid opened #3615 "Redesign of the Search/Channels feature"
We're about to ditch the last part of Dispersy - the Search/Channels feature. A new Community based on IPv8 will provide this functionality instead.
As we're not going to make this Community backward compatible with Dispersy, there is an opportunity to reimagine the Search/Channels concept to fix it's current shortcomings, and make it suitable for the future developments.

### Use cases.
We strive

[2018-05-07 05:09] synctext commented on #3615
Mostly duplicate of #2455

[2018-05-07 09:08] thijmensjf commented on #2925
# Sprint 1 Logs

## Tribler
* Tested the new Tribler version including marketplace
* Fixed incorrect import in PlebMail so no errors for now, PlebMail should be deleted later

## Cloudomate
* Made several test vps purchases, found out that BitPay gateway needed to be updated
* Providers using BitPay should be usable now (Linevast, Blueangelhost for sure)
* Fixed some Jenkins tests most test work t

[2018-05-07 11:03] ichorid opened #3616 "Decentralized search and metadata DB"
This issue unites all activities related to Search feature in Tribler.

[2018-05-07 11:17] ichorid opened #3617 "Libtorrent interface"
This Epic contains all Libtorrent-related activities.
(ZenHub managed)

[2018-05-07 11:22] ichorid opened #3618 "Oop, misclick"

[2018-05-07 11:25] #3618 closed

[2018-05-07 11:42] ichorid opened #3619 "Anonymous tunnels community"
This Epic contains all issues related to anonymization feature in Tribler.
(Managed by ZenHub)

[2018-05-07 11:43] devos50 commented on #3619
@ichori you might consider organizing all these 'epic' tickets in a Github project?

[2018-05-07 12:00] ichorid commented on #3619
@devos50, I am organizing it using ZenHub.com. It is more convenient to use than GitHub Projects.

[2018-05-07 12:08] ichorid opened #3620 "Video-on-demand"
This Epic will contain all issues related to embedded Video Player feature of Tribler.
(ZenHub managed)

[2018-05-07 12:15] synctext commented on #3064
sell your stuff even more, like this in abstract:
As the grand concluding experiment of this thesis we store the private key of a Bitcoin with the physical security protection of our PUF.

[2018-05-07 13:18] ichorid opened #3621 "Trust engineering"
This epic holds all **academic** issues related to building trust with software.
(Managed by ZenHub)

[2018-05-07 13:26] ichorid opened #3622 "Multichain"
This Epic holds all issues related to TrustChain development.

[2018-05-07 23:05] vi opened #3624 "IndexError: Tribler from next failed to start"
##### Tribler version/branch+revision: #####

0dba48942ffb4ff0203907759b93b469bc0b2c83 next

##### Operating system and version: #####

Linux

##### Steps to reproduce the behavior: #####

Start Tribler from next branch while having state from from v7.0.2

##### Expected behavior: #####

It starts

##### Actual behavior: #####

Error message is displayed.

##### Relevant log file output: #####

[c

[2018-05-08 15:08] xoriole commented on #3601
This issue was encountered in Ubuntu 18.04 beta release but does not seem to occur in the official release so closing it for now.

[2018-05-08 15:08] #3601 closed

[2018-05-09 07:35] qstokkink opened #3628 "README still showing 7.0.0-rc5 statistics"
The badge in the Tribler README is still showing the downloads for Tribler 7.0.0-rc5, we should update this to 7.0.2.

[2018-05-09 07:57] #3600 closed

[2018-05-09 10:16] qstokkink commented on #3608
After some discussion, this appears to be an overarching config problem. I'm increasing the priority of this.

[2018-05-09 13:26] xoriole opened #3629 "AttributeError: 'NoneType' object has no attribute 'lower'"
[code]

Occasionally occurs at startup.

[2018-05-09 14:54] qstokkink commented on #3599
It seems like the torrent has to be added in the LaunchManyCore `add()` with the offending `tdef`: https://github.com/Tribler/tribler/blob/next/Tribler/Core/APIImplementation/LaunchManyCore.py#L438

[2018-05-09 15:28] synctext commented on #2805
Possible solo "blockchain Engineering" course. ToDo: take trustchain dataset, copy algorithms from state-of-the-art, possible enhance,  implement Python code, math beautiful equations on probability & stochastic.  @alexander-stannat

[We establish a surprising connection between the personalized PageRank algorithm and the stochastic block model for random graphs, showing that personalized PageRank

[2018-05-10 15:59] asajim commented on #3064
Final thesis report: [thesis.pdf](https://github.com/Tribler/tribler/files/1992252/thesis.pdf)

Thesis repository : [software-based-PUF](https://github.com/asajim/software-based-PUF)
- contains [source codes](https://github.com/asajim/software-based-PUF/tree/master/Source%20Code) and [latex files to generate thesis report](https://github.com/asajim/software-based-PUF/tree/master/Thesis%20Report)

[2018-05-12 16:06] Dmole commented on #3583
2nd time having to fix this so here is a quick fix reminder until we get a build;

[code]

[2018-05-13 21:03] Nubro01 commented on #3586
Last version was ok again.

[2018-05-13 21:03] #3586 closed

[2018-05-14 10:57] synctext commented on #3477
Status:
- zero-knowledge proof: not yet operational in Java
- timer added for UDP packets
  - please make it easy to understand
  - From / To directionality and simply a counter which jumps to "0".
  - :arrow_left: and :arrow_right:
- claims and attestation in GUI, first version
- Next sprints:
  - see example [attestation IPv8 docs by Dan](https://github.com/DanGraur/IPv8-documentation)
  - netwo

[2018-05-14 17:29] colin1497 commented on #3556
I just installed Tribler_7.1.0-exp1-140-geda807908_x64.  All of my library is trying to redownload to the default download location, which happens to be on my boot drive, which was filled before I realized what it was doing.

[2018-05-15 11:06] jangerritharms commented on #3357
<h2>Status update:</h2>
I have created a setup for experiments, with two different exchange mechanisms: crawling and pairwise endorsement.

In order to show that the code works in general I have run two tests with 50 nodes, in which each node requests one transaction per second with a random partner for 100 seconds.

** Crawling **
![crawl_50](https://user-images.githubusercontent.com/7403807/4005

[2018-05-15 13:41] synctext commented on #3357
reformulating...

Endorsements enable audits of auditors! Endorsements are on-chain. The topic of double spending detection time distracts from the advantage of this algorithm.

All honest nodes have an incentive to detect fraudulent behavior, are they can become a victim. Transactions are disseminated (gossip or crawling) and each node will report a double spend to others. Assumption 1: a double

[2018-05-15 14:28] vwigmore commented on #2925
Current progress

- Refactoring of PlebNet
Restructured the program architecture and the in- and external dependencies. This resulted in better understandable code.
moved from 400+ loc to ~100 per class
split up files based on their job and dependencies
created controllers for external processes (Tribler/Electrum/…) to join their dependencies.
![image](https://user-images.githubusercontent.com/984

[2018-05-15 15:06] synctext commented on #2925
- "controllers" are simply the APIs?
- only 1 VPS provider operational, VPN support not yet tested
- where to document?
- make life easy for the 4th BEP group on this topic?
- expand final thesis with 1 chapter each sprint?
- what is the next sprint theme?
- Proxmox emulation

[2018-05-16 12:41] bluefalcon26 opened #3631 "Small UI Requests: Close to Tray"
- [Y ] I have read CONTRIBUTING.rst

##### Tribler version/branch+revision: #####

Unknown (Windows binary download)

##### Operating system and version: #####

Windows 10

##### REQUEST #####

Could we add two things to the settings menu (gear icon):

1. 'About' tab with version number, info etc
1. Checkbox to change "Close to Tray" vs "Close to Exit/End Process" behavior

Thanks

[2018-05-16 15:00] synctext commented on #1842
- Revisit Kodi?
- Nexus 5 with Kodi screenshots
- Final grand Thesis section: "performance analysis on Android/Kodi/Embedded-hardware"
- or more scientific performance experiments

[2018-05-16 15:42] vandenheuvel commented on #31
Problem description from a game theoretic perspective for mathematicians: [pdf](https://github.com/Tribler/tribler/files/2009817/main.pdf).

[2018-05-17 10:18] AngelaBarrio commented on #3013
Activities:

- Read paper "Patient-centered transparency requirements for medical data sharing systems" (Spagnuelo & Lenzini, 2016)
-Expanded thesis introduction, problem statements and related work section
- Tried to 100% understand Green & Eisenbarth TECDSA paper. CONCERN: nothing about signature verification in the paper?
- Attempt to improve my blockchain, not very successful. Made an appointm

[2018-05-17 12:35] synctext commented on #3013
- 3. trustless operation; no need to trust any government agency or health care technology provider
- connects to https://www.digitaleoverheid.nl/beleid/regie-op-gegevens/
- _validation of database record_, you start to use (signed) irrefutable records. Creation of irrefutable records is a goal-type of formulation. Similar to: https://www.sprout.nl/artikel/crypto/deze-ondernemer-ontwikkelde-een-zo

[2018-05-18 09:42] synctext commented on #3064
Congrats on your TUDelft master degree! Official thesis .pdf download repo: https://repository.tudelft.nl/islandora/object/uuid%3A4f879ecf-95d5-4482-8931-8c40abde0e79
"Open-Source Software-Based SRAM-PUF for Secure Data and Key Storage Using Off-The-Shelf SRAM"

[2018-05-18 16:07] ichorid opened #3634 "Jenkins test fail on Windows-64"
Probably a race condition, or faulty test setup, or something else interferes with the test:

[code]

[2018-05-18 16:08] ichorid commented on #3634
@xoriole, could you tell what is happening here?

[2018-05-18 16:28] xoriole commented on #3634
This is related to https://github.com/Tribler/tribler/issues/3608
There might be an existing Tribler process running the test machine.

[2018-05-18 16:31] BluesGator opened #3635 "Startup Errors"
#### Please, fill all relevant items: ####

- [ ] I have read CONTRIBUTING.rst

- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: 7.1.0-exp2 #####

##### Operating system and version: Windows 10 pro #####

##### Steps to reproduce the behavior: Start Tribler #####

##### Expected behavior: Application Launches and di

[2018-05-18 18:27] xoriole commented on #3635
@BluesGator Thank you for the issue report.
Could you tell us if your windows is 32 or 64-bit version and if you have a previous VLC installation?

[2018-05-18 18:43] BluesGator commented on #3635
64 bit Windows and VLC 2.2.6 Umbrella

[2018-05-19 06:47] qstokkink commented on #3634
Duplicate of #3608

[2018-05-19 06:47] #3634 closed

[2018-05-21 20:12] Thomasedv opened #3636 "Tribler stuck on building circuits."
- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
Tribler v7.1.0-exp2
I did some quick testing and i believe the issue is introduce with exp1-142 or exp1-144. Tribler works on 140, and i tested 144 and did not work. Likely this buid with this change that did it:
https://jenki

[2018-05-22 07:29] xoriole opened #3637 "twisted.internet.defer.AlreadyCalledError"
From reporter - Tribler 7.1.0 - exp2
[code]

[2018-05-22 07:52] xoriole opened #3638 "Socket error: non-blocking socket operation"
From reporter - Tribler 7.1.0-exp2 on Windows-10-10.0.17134-SP0 x64
[code]

[code]

[2018-05-22 07:53] xoriole opened #3639 "TypeError: download_callback() takes exactly 1 argument (2 given)"
From reporter - Tribler 7.1.0-exp2
[code]

[2018-05-22 07:54] qstokkink commented on #3638
This is due to IPv8 switching endpoint backend.

[2018-05-22 08:01] qstokkink commented on #3639
The signatures of these two don't seem to add up:
https://github.com/Tribler/tribler/blob/eda807908ed092c288d7f43f080574d5ba46e9a4/TriblerGUI/tribler_request_manager.py#L310
https://github.com/Tribler/tribler/blob/eda807908ed092c288d7f43f080574d5ba46e9a4/TriblerGUI/tribler_request_manager.py#L381

[2018-05-22 08:02] qstokkink commented on #3638
@xoriole I assume this is Windows?

[2018-05-22 08:09] xoriole commented on #3638
yes, Windows-10-10.0.17134-SP0 x64 version

[2018-05-22 08:10] devos50 opened #3640 "Update VLC to 3.0.2"
Tribler does not work with the newest version of VLC. We should update our VLC support to 3.0.2. Currently, we support up to VLC version 2.4. I will try to spend some time this week on doing this.

Todo:
- [x] update VLC Python bindings in Tribler base code
- [x] Update builders to ship the newest VLC version
- [x] extend the GUI tests so it tests the VoD functionality in Tribler. The most basic s

[2018-05-22 08:16] qstokkink commented on #3638
Twisted's UDP implementation is known to have some problems on Windows.

[2018-05-22 08:43] qstokkink commented on #3638
Ok, after reading into this a bit: this seems to be the notification mechanism that is telling us that the packet is dropped (due to a buffer being full somewhere).

[2018-05-22 08:46] qstokkink commented on #3638
@ichorid do you want to take this one?

[2018-05-22 09:33] thijmensjf commented on #2925
The current version of the report:
[Bachelor_Project_2018_BotNet.pdf](https://github.com/Tribler/tribler/files/2025931/Bachelor_Project_2018_BotNet.pdf)

[2018-05-22 09:42] ichorid commented on #3638
@qstokkink, sure, I'll take this one.

[2018-05-22 11:05] vwigmore commented on #2925
Added coverage report building for plebnet on jenkins
![screenshot from 2018-05-22 13-03-31](https://user-images.githubusercontent.com/9844091/40358791-c0f864ca-5dc0-11e8-9b08-e55b63f19b61.png)

[2018-05-22 12:19] #3635 closed

[2018-05-22 12:19] #3640 closed

[2018-05-22 12:21] devos50 commented on #3608
I'll try to fix this one 👍

[2018-05-22 13:43] qstokkink commented on #3608
We fixed this by removing the `.ldb` files from `u'%APPDATA%\\.Tribler\\collected_torrents\\'`. Adding them there again should reproduce this.

[2018-05-22 13:47] qstokkink commented on #3608
* AND having the other process running and accessing these `ldb` files of course.

[2018-05-22 13:49] devos50 commented on #3624
Fixed by #3625

[2018-05-22 13:49] #3624 closed

[2018-05-22 14:18] devos50 commented on #3488
This paper has been completed and graded.

[2018-05-22 14:18] #3488 closed

[2018-05-22 14:26] #3628 closed

[2018-05-22 14:26] #3629 closed

[2018-05-22 14:26] #3639 closed

[2018-05-22 14:28] qstokkink commented on #3608
For now we could just keep a Tribler instance running and it will probably fail by itself eventually.

[2018-05-23 08:27] Nubro01 commented on #3565
FInally, the Mai 22nd 2018 version, does a normal shutdown on Windows 10 build 17672.
Thanks.

[2018-05-23 08:27] #3565 closed

[2018-05-23 08:37] Nubro01 opened #3644 "Encrypted anonymous seeding using proxies option checked, does not work."
##### Tribler version/branch+revision: #####
Everry version since first 7.1 build
##### Operating system and version: #####
WIndows 10 build  17672
##### Steps to reproduce the behavior: #####
In settings, general, check this option. Download a Torrent not anonymous and with 7.0 it would start seeding anonymous, with 7.1 it does not.
##### Expected behavior: #####
When finished downloading it woul

[2018-05-23 13:27] synctext commented on #3565
Great work fixing this guys!

[2018-05-23 15:09] devos50 commented on #2895
I've picked up this one since I think it's quite important to have this. Instead of using the existing GUI tests (where Tribler will run in a nosetests environment), I allowed Python scripts to be passed to a running Tribler instance. This is **not** committed to the main code base anytime soon (since it could be a security risk). I generate a few Python scripts using a seperate program where I ca

[2018-05-24 07:09] Nubro01 opened #3645 "Install defaults to download\Triblerdownloads despite download setting is at E:\Tribler"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.
Yes
##### Tribler version/branch+revision: #####
Mai 22nd 2018
##### Operating system and version: #####
Windows 10 1803, main desktop, normally use laptop
##### Steps to reproduce the behavior: #####
Run old 7.0 version and update to beta 7.1
##### Expected behavior: #####
Settings/General Download folder

[2018-05-24 07:32] devos50 commented on #3645
Related to #3556

We should definitely write a test for this to capture and fix this. It can mess with the downloads of users that upgraded Tribler.

[2018-05-24 07:42] Nubro01 commented on #3565
Hi,

Could you please write or point me to an article explaining the number of hops within anonymous seeding?
I have  a Ziggo 250/25 connection, but since I seed everything Anonymous, I hardly see any uploads. Probably because only a few people download anonymous?
When I try it myself, I hardly get any download speed, so my downloads are still not anonymous and when done, I manually set it to one

[2018-05-24 08:57] qstokkink commented on #3603
Some observations:

 - The `gc.get_objects()` does not report all of the objects in memory. You need to recurse over their references to find the remaining objects/structs.
 - This is slow.
 - We could still just parse the top-level objects to get a quick impression of the application state.
 - We need some way to detect a memory leak automatically. I don't know of a good way to detect this. We sh

[2018-05-24 10:05] qstokkink commented on #2681
@ichorid is this feasible for the 7.1 release or should we move it?

[2018-05-24 10:21] qstokkink commented on #3611
Since we don't have any feedback I will assume this to be fixed.

[2018-05-24 10:21] #3611 closed

[2018-05-24 10:26] qstokkink commented on #3636
Thanks for figuring out which commit caused this. The commit in question is where we switched to a different UDP implementation (@ichorid).

[2018-05-24 10:30] ichorid commented on #2681
@qstokkink, I am not sure about this one. There is a possible easier(?) workaround: when initiating download of torrent that only has HTTP tracker address embedded try the same address over UDP tracker protocol instead. However, this solution depends on 2 things yet unknown to me:

1. Do trackers typically serve HTTP and UDP on the same port?
2. Is it trivial for us to check for HTTP tracker in th

[2018-05-24 11:46] ichorid commented on #3636
@Thomasedv, thanks for the report!
It would be very nice if you could reproduce the issue or provide the link to the torrent that triggers this.

[2018-05-24 11:49] ichorid commented on #3636
For me, it looks like two distinct issues:
1. `AttributeError: 'NoneType' object has no attribute 'execute'` - database can't connect, and it does not handle this condition properly.
2. `torrent checker ... http tracker timeout` - this is an instance of #2681 (Tribler not supporting TCP connections).

[2018-05-24 11:53] ichorid commented on #3636
@qstokkink, could you please comment on IPv8 database behavior?

[2018-05-24 12:03] ichorid commented on #3325
I created a [Jenkins performance test](https://jenkins.tribler.org/job/Performance_tests) for 1-hop download on a local machine. It sets up Seeder<->Router<->Leecher test on the loopback device of isolated "bare-metal" machine, and produces simple download speed plots, like this one:
![result](https://user-images.githubusercontent.com/2509103/40484201-0cdecd8e-5f5b-11e8-9321-a335b612339c.png)

The

[2018-05-24 12:17] devos50 commented on #3325
@ichorid nice!

It would be nice to extend the test a bit and let the Jenkins job fail when no data is being transmitted at all during the test. Next, I can add jour performance test to the nagios checker and we monitor the job.

[2018-05-24 12:56] qstokkink commented on #3636
@ichorid certainly:

1. `AttributeError: 'NoneType' object has no attribute 'execute'` happens when database calls are scheduled by Twisted after shutdown. More on this here: https://github.com/Tribler/py-ipv8/issues/116 . This is more of a cosmetic bug than anything else.

2. The torrent checker bug does not have anything to do with the tunnels. This is done in the `TorrentChecker` class, which c

[2018-05-24 13:02] qstokkink commented on #3325
Cool. I guess you could also run it multiple times and produce a shaded error bar plot so we can judge stability.

[2018-05-24 15:04] ichorid opened #3646 "Tribler code review"
This is the big list of things I found out during the review.

TODO:
* `run_tribler.py: __main__` runs twice, refactor in 2-3 separate files.
* Session object should be split up into several smaller objects and remixed with TriblerLaunchMany. There are several completely dead methods that are never used anywhere (except unit tests).
* DBUpgrader should be de-Twistified and moved to run before Twis

[2018-05-25 11:58] qstokkink commented on #3556
The [DownloadConfig will automatically switch to the triblerdownloads folder if it does not have a setting](https://github.com/Tribler/tribler/blob/next/Tribler/Core/DownloadConfig.py#L39).
Since the setting was not found, it means that the [config_converter.py failed to write this for some reason, even though it really should have done this](https://github.com/Tribler/tribler/blob/next/Tribler/Co

[2018-05-25 12:51] ichorid commented on #3646
Monitor-bezel-crushing image of Tribler module imports.
* On the left side, you could see the *Gratutious Spaghetti Pasta of Dispersy*. Basically, everything is calling everything there...
* Tribler market and tunnel community are connected to it by a feeble umbilical cord of `import is_valid_address` and `import call_on_reactor_thread` respectively.
* `Tribler.community.market` is in the center.

[2018-05-25 16:36] ichorid commented on #3646
It seems `RemoteTorrentHandler` contains completely dead code. Like, it's not used anywhere, or never ran. And when you break it, nothing happens, Tribler works OK. It seems to only *write* torrents DB, and never *read* it.

Guys, could someone comment on this issue?

[2018-05-26 10:46] qstokkink commented on #3646
It should be used here in the `SearchCommunity`:
https://github.com/Tribler/tribler/blob/b096b9bf48a3ac815c104408f84259b639ac7014/Tribler/community/search/community.py#L98

You _should_ be able to trigger this through searching for a torrent.

[2018-05-26 14:34] ichorid commented on #3646
The only place where something `_rtorrent_handler` is used is:
https://github.com/Tribler/tribler/blob/b096b9bf48a3ac815c104408f84259b639ac7014/Tribler/community/search/community.py#L526

But it is **never** run!
https://github.com/Tribler/tribler/blob/b096b9bf48a3ac815c104408f84259b639ac7014/Tribler/community/search/community.py#L516
 is always empty. You could literally comment out `.download_to

[2018-05-26 14:39] Dmole commented on #2901
While implementing this, one might consider groups (like rtorrent) where multiple watch/downloading/complete folders can be specified... If Tribler were optimised a bit it might gain usage as a seeding tool (not just a hit and run tool) where it is advantageous to group torrents by tracker/type/genre/etc.

A "move Storage" option per torrent in the UI is another related feature.

[2018-05-26 14:46] Dmole opened #3647 "Show version in the UI"
Most applications use the menu design pattern and have a "Help > About" where the Version and other information is listed.

Tribler should have a version number somewhere in the UI.

related; make ppa/copr/macports/homebrew/windows-PackageManagement so auto upgrade is the default.

[2018-05-26 14:56] ichorid commented on #3646
Basically, `message.candidate` is always empty here:
https://github.com/Tribler/tribler/blob/b096b9bf48a3ac815c104408f84259b639ac7014/Tribler/community/search/community.py#L509

[2018-05-26 15:54] qstokkink commented on #3646
@egbertbouman can you say anything about this?

[2018-05-26 16:11] synctext commented on #3646
It should collect 50k of torrents slowly in the background. The TFTP binary transfer of torrents never worked smoothly. You found another skeleton in our collection... We have an open issue for magnet links only Tribler operation. Discussion started 3 years ago #1150

[2018-05-26 16:17] devos50 commented on #3646
I can probably answer your question about the remote torrent handler module.

Another purpose of the module, besides what @synctext says, is to speed up the process of fetching torrent metadata. In particular, when clicking on a torrent in Tribler (i.e. a search result or a torrent inside a channel), it would try to fetch the torrent from other candidates. The torrent file itself would be sent usi

[2018-05-26 16:19] devos50 commented on #3647
@Dmole in Tribler 7.1 (and the experimental releases) we show the version of Tribler in the title bar and if I remember correctly, I've also added this information to the debug pane. Creating a separate about window with some basic information (including version number) would not take too much time I guess.

[2018-05-26 18:17] synctext commented on #52
Great documentation example: https://www.toptal.com/python/beginners-guide-to-concurrency-and-parallelism-in-python
Really cool stuff..
{ Remember, please fix issue "1", The Token Economy in 2018, then this fancy stuff for 2019. But I agree we need to think and plan ahead; just no overengineering. }

[2018-05-27 13:41] egbertbouman commented on #3646
@devos50 The RemoteTorrentHandler used to do a lot more than just TFTP torrent collecting, it's also capable of collecting from magnet/DHT/candidates. All this functionality is still in there, but I guess we stopped using this while creating the new GUI.

As far as TFTP goes, I don't think this has ever worked properly. If you look at the code you'll see the that it will only try to collect torren

[2018-05-27 14:27] devos50 commented on #3468
My new application tester managed to reproduce this after ~30 minutes of running :)

[code]

[2018-05-27 15:10] devos50 commented on #3596
I also observed this when running the Tribler application tester. I guess we can place an assert there and add some logging statements to see what's causing this.

[2018-05-27 15:15] devos50 opened #3648 "Error when starting VOD mode"
The Tribler application tester caught the following error:

[code]

For some reason, `invalidate` is not an attribute of `QTimer`. I just verified this on Mac and we should use `.stop` instead.

[2018-05-28 09:15] devos50 commented on #2925
Current status at the beginning of week 6:
- PlebNet script working, some issues with upgrading Pip. Please try to use Debian 9 as base OS on servers.
- Market API explored, encountered some issues when creating asks/bids due to the unavailability of matchmakers. Try to run a second Tribler instance and it should work.
- PlebNet install script installs another instance of Electrum. Try to use the

[2018-05-28 11:15] codesalad commented on #2925
Our Sprint 3:
![sprint3](https://user-images.githubusercontent.com/9729649/40611758-ebad8ba8-6277-11e8-80ae-7da21d4741c5.PNG)

Report:
[Bachelor_Project_2018_BotNet.pdf](https://github.com/Tribler/tribler/files/2044808/Bachelor_Project_2018_BotNet.pdf)

We mainly focussed on preparing for SIG, Jenkins and proxmox end-to-end testing this sprint. We'll add more to the report this week as proxmox int

[2018-05-28 11:36] ichorid commented on #3646
I talked to everyone involved, and it seems the consensus is: "we used this stuff in the old days, but now its irrelevant, so it should go". So, its removal is on the list.

[2018-05-28 13:38] xoriole opened #3649 "Content popularity"
**Content Popularity**

We have channels and torrents which comprise/represent content within Tribler. However, we do not yet have a mechanism to check if the content is popular, alive or even dead. This ticket is created as home for tracking development to address content popularity.
Parent issue #2783

The basic idea is to get a simple implementation operational first and incrementally build upo

[2018-05-28 13:39] synctext commented on #3646
Well, before it is deleted... We need to know the consequences. No full .torrent collecting anymore? Have measurements proven that magnet-based BEP9 collecting is now fast enough? Is there a design for anonymous downloads and getting the .torrent?

[2018-05-28 14:29] ichorid commented on #3646
@synctext, I've just ran Tribler with this stuff completely disabled, and it worked fine. Search, channels, downloads - everything ran fine. Rtorrent collecting is redundant now.

[2018-05-28 14:36] egbertbouman commented on #3646
@synctext I looked into the TFTP torrent collecting, and at the moment it's not working at all. That means that we are only collecting torrents from the DHT/trackers after some user interaction (e.g., download a torrent). For testing purposes, I did a 1-line fix, and Tribler magically started collecting TFTP torrent. So, if we are OK with the amount of torrent we are collecting right now, we could

[2018-05-28 15:05] synctext commented on #3646
Thank you for finding this out!
Quality of search result has been going down in Tribler, in my direct experience. That explains it, the torrent collected has gone down. How many torrents do people have on average? How many people have the healthy 50k torrents? Every Tribler client used to broadcast these health stats. How many dead torrents in the cache? We need a single dev for the content health

[2018-05-28 16:03] ichorid commented on #3646
@synctext, we're gonna scrape all of this in favor of AllChannel2.0, the Heir to Dispersy. We definitely want to have some mechanism for background torrent metadata exchange, at least for anonymity purposes. However, there is no point in reclaiming this old code.
For "Dispersy v1.9 refactored" release we could do away with the simple mechanism of returning more than one torrent on search/update re

[2018-05-29 06:58] devos50 commented on #3597
I managed to reproduce this somewhat with our automated application tester. Both the memory of the GUI and core increases after running for over one night, with some downloads in the background. I will try to make some memory dumps.

[2018-05-29 10:08] synctext commented on #3646
[51% attacks are now real](https://cointelegraph.com/news/ethereum-classic-51-attack-would-cost-just-55-mln-result-in-1-bln-profit-research)

We first need a spam solution, protection against an attack in AllChannels mechanisms with merely $1000 worth of cloud servers. With solid foundation we can focus on fancy features. Please focus on linking Trustchain non-cheap identities to content discovery

[2018-05-29 10:47] devos50 commented on #2895
The application tester is available at: https://github.com/Tribler/application-tester

It's running on one of the leaseweb machines and it managed to find various bugs already. I will create a PR with fixes for the encountered issues. The next step is to integrate this application tester within the deployment tester. For now, I consider this issue fixed.

[2018-05-29 10:47] #2895 closed

[2018-05-29 11:30] ichorid commented on #3646
- that is exactly what I meant by "Dispersy v1.9 refactored"!
To put to use the years of experience, we have to keep the minimal core of current AllChannel/Dispersy code/algorithms. To remove obstacles for future developments, we have to port it to IPv8. To make it secure enough for MarketCommunity, we have to add Trustchain linking.
No one talks about fancy features ))

[2018-05-29 12:43] devos50 commented on #3127
We haven't experienced this issue in a very long time. Therefore I close this issue.

[2018-05-29 12:45] devos50 commented on #3598
The error posted by @xoriole (with the `resize_event`) has been fixed already.

[2018-05-29 12:55] ichorid commented on #3646
Each object in our codebase has its own SQL access methods...
Maybe we should discuss [using ORM](https://medium.com/@mithunsasidharan/should-i-or-should-i-not-use-orm-4c3742a639ce)?

It would greatly simplify and unify all SQL-related stuff.

[2018-05-29 12:55] #3548 closed

[2018-05-29 13:25] xoriole opened #3651 "'NoneType' object is not iterable"
Occasionally occurs on shutdown.
[code]

[2018-05-29 15:56] #3645 closed

[2018-05-29 15:56] #3556 closed

[2018-05-30 06:59] synctext commented on #3646
Yes, ORM is also on my 2019 wish list.

Our running old-IPv8 ORM code:
http://svn.tribler.org/abc/branches/giorgos/datasync/sqlalchemy/schema.py

Please take the time to read about our operational 2010 work with this code: https://repository.tudelft.nl/islandora/object/uuid:52b586ea-6144-4b4e-a5a1-b05255ce493a

Plus IPv8 in 2010 with ORM:
http://kayapo.tribler.org/trac/wiki/IPv8

[2018-05-30 07:14] synctext commented on #3646
Impressive how fast you comprehend our code base.

[2018-05-30 10:08] devos50 commented on #3651
The GUI periodically (every minute) makes a request to fetch the latest token balance. We should stop this loop when shutting down obviously 👍

[2018-05-30 10:11] jangerritharms commented on #3357
Lately I felt like I was bothering too much with details and lost the overview of what we were trying to achieve. That's why I went back to the very first entry and traced back by steps of how I got to the latest considerations. I wrote it down and it ended up as some kind of a summary of the theoretical considerations of the last months. I hope it's clear and we can find any logic faults in the a

[2018-05-30 10:31] #3468 closed

[2018-05-30 10:31] #3596 closed

[2018-05-30 10:31] #3637 closed

[2018-05-30 10:31] #3648 closed

[2018-05-30 10:31] #3651 closed

[2018-05-30 10:48] qstokkink commented on #3599
This might be unicode for `샐컍`?

[2018-05-30 10:59] ichorid commented on #3646
@synctext, I have to, to be able to keep up with the pace of development...

[2018-05-30 11:26] egbertbouman commented on #3183
Some basic information about the current implementation of the DHTCommunity (see https://github.com/Tribler/tribler/pull/3642).

#### Routing table
* Peers are discovered using a random walk.
* Newly discovered peers are added to the (Kademlia) routing table. Peer IDs are calculated as explained in the previous comment.
* Nodes in the routing table are pinged periodically. Bad nodes are removed on

[2018-05-30 11:40] synctext commented on #3357
Protect - solid algoritm work for the core of a thesis.

[2018-05-30 11:43] ichorid commented on #3649
One way to handle the problem of conflicting response is to do away with *absolute* measures of popularity, and instead use *relative* measures of popularity.
For example:
Node1 makes popularity measurements for torrents A, B, C: A>B>C.
Node2 does the same for torrents I,J,K: I>J>K.
Node2 asks Node1 to provide some data on torrent popularity, and Node1 answers with "A>B>C".
Node2 now has two parti

[2018-05-30 12:54] devos50 commented on #3636
According to the pastebin log, it seems Tribler creates ~8 circuits for every anonymous downloads. So if a user has like 100 anonymous downloads running, it creates 800 circuits! This is obviously a bug and I think this is contributing to this issue.

[2018-05-30 13:10] arvidn commented on #3499
i've noticed that these counters can become out-of-sync if there's an error and the torrent recovers from the error via a call to `clear_error()`. Is there some event you see where the file size counters become incorrect? issuing a force-recheck for instance?

[2018-05-30 13:14] devos50 commented on #3499
@arvidn it happens when force-rechecking a torrent.  I followed the exact steps posted by @themusicgod1 to reproduce this.

[2018-05-30 14:08] devos50 commented on #3636
I've tried to figure this one out. I'm unable to reproduce it unfortunately. However, I might have an idea what's going on.

First, the `do_check` method is periodically scheduled to be called, every five seconds. It check whether the DHT is initialised yet (@egbertbouman do we still need this?) and whether we have the required amount of circuits ready. Immediately after starting a Tribler instanc

[2018-05-30 14:32] qstokkink commented on #3636
@devos50 if that is the case, I think I would prefer inspection of `self.circuits` in the community and reason about the `CIRCUIT_TYPE_DATA` type circuits with a state of `CIRCUIT_STATE_EXTENDING`. We could then decide not to make new circuits if we are still waiting for circuits to be created.

This would keep the speed you wanted and avoid going over the circuit limit.

[2018-05-30 14:32] ichorid commented on #3615
## User experience requirements:
* Search results should appear faster than the user is able to process them.

## Implementation requirements:
* Scalability (should only sync neighbors, and not the *whole* network)

[2018-05-30 14:35] xoriole commented on #3649
Thank you for the suggestion. It would nicely apply for sorting multiple responses for multiple torrents. However, the current issue is different in the sense that we are talking about multiple health responses (number of seeders and leechers) for a single torrent obtained from multiple peers.

The real question is whose response do we trust more to decide whether or not to update our local databa

[2018-05-30 14:46] devos50 commented on #3636
@qstokkink that's not enough I think. The circuits are probably not added to `self.circuits` yet (if they were, `self.data_circuits` would return more circuits but it seems that is not happening.

[2018-05-30 14:48] devos50 commented on #3379
@xoriole @synctext is this issue still valid?

[2018-05-30 15:41] Thomasedv commented on #3636
Any way i could further help out on this?

[2018-05-30 17:03] Thomasedv opened #3654 "UnicodeEncodeError and DecodeError in log"
- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
Tribler 7.1 exp2-28

##### Operating system and version: #####
Windows 10

##### Steps to reproduce the behavior: #####
Unknown

##### Relevant log file output: #####

![image](https://user-images.githubusercontent.com/1584461

[2018-05-30 17:21] Thomasedv commented on #3569
@devos50 I got a little question on how much you "pay" for a download. Last time i had a lot on of downloads, but this time, i only added one. And by the time it was finished i was at -1300 MB, and yet the download was of size 550 MB. Although i understand that Tribler adds some extra with communication, it's a bit much to see a "cost" of over the double of the torrent size. So, i just wondered if

[2018-05-30 18:21] devos50 commented on #3569
@Thomasedv you pay for each hop. In particular, if I have the following 2-hop circuit:

downloader <-> relay node <-> exit node

and a total of 250MB of data flows from the exit node to the downloader, then the downloader pays 750MB in total (500MB to the relay node and 250MB to the exit node). The rationale for this is that the relay node processes (encrypt/decrypt) 250MB of incoming data and 250

[2018-05-30 18:26] devos50 commented on #3654
@Thomasedv does this crash your Tribler instance? If not, I guess we can ignore it. You probably stumbled upon a tracker with some unicode characters that could not be encoded. @qstokkink what do you think?

[2018-05-30 18:27] devos50 commented on #3499
@themusicgod1 yes, the call to libtorrent to fetch file information does not return 100% completion, even though the file is there.

[2018-05-30 18:53] ichorid commented on #3649
@xoriole, my suggestion solves this problem.
You don't want to get peer's opinion on a *single* torrent. You always get it for *multiple* torrents, in the form of an ordering. You don't ask for the number of seeders, you only get relative ranking.
Then you add it to your database, doing some sanity checks yourself. Like, check relation of the first and last torrent in the received ordering (by get

[2018-05-30 18:54] ichorid commented on #3649
It's just like selective checks in a supermarket or in transport.

[2018-05-30 18:56] devos50 commented on #3644
Hmm I'm pretty sure we had some code for this: when a download is finished and it should start seeding safely, it would be re-added with one hop anonymity. I have the feeling that the code got removed at some point. I will check this.

[2018-05-30 18:58] Thomasedv commented on #3569
Indeed! Thanks!

[2018-05-30 18:58] Thomasedv commented on #3654
No crash, so it's all good. I just saw it pretty frequently in the log.

[2018-05-30 19:15] devos50 commented on #3644
@Nubro01 this is caused by https://github.com/Tribler/tribler/pull/3187 where we removed the functionality that a torrent is added back when completed. @qstokkink can you comment on this one, in particular, why this code was removed?

[2018-05-30 19:16] devos50 commented on #2950
@egbertbouman is this issue still relevant if your DHT community is used?

[2018-05-30 19:33] themusicgod1 commented on #3499
upstreamish bug report : https://bugs.launchpad.net/ubuntu/+source/libtorrent-rasterbar/+bug/1774259

[2018-05-30 20:58] egbertbouman commented on #2950
@devos50 Nope, the DHTCommunity will only call the callback once (using a deferred).

[2018-05-31 06:29] #2950 closed

[2018-05-31 07:34] qstokkink commented on #3644
@devos50 that code was removed because it caused a race condition where you could no longer remove downloads (#3169).

[2018-05-31 07:59] devos50 commented on #3644
But removal of this code leads to this issue unfortunately. I do not see see how it causes the problem in #3169.

[2018-05-31 08:04] qstokkink commented on #3644
@devos50 https://github.com/Tribler/tribler/pull/3187/files#diff-5bafa75f4a19b8acdf8d580545a24d16L580

[2018-05-31 08:48] devos50 opened #3655 "Memory leak in UDP torrent checker manager"
There's a memory leak in the UDP torrent checker manager. The `UDPSocketManager` keeps track of all UDP tracker sessions: https://github.com/Tribler/tribler/blob/next/Tribler/Core/TorrentChecker/session.py#L369. However, items are only removed from this dictionary when the UDP tracker has successfully responded with data. If the UDP tracker is unreachable for some reason (which is quite common), t

[2018-05-31 09:19] devos50 opened #3656 "Memory leak in tunnel dispatcher"
There's a memory leak in the tunnel dispatcher, which keeps a reference to all created `Circuit` objects. In particular, the `destinations` dictionary is not cleaned property when a circuit is destroyed/times out.

[2018-05-31 09:52] devos50 commented on #3654
Okay, then it is likely an invalid tracker 👍

[2018-05-31 09:52] #3654 closed

[2018-05-31 09:59] devos50 commented on #1370
I think this issue is not relevant anymore.

[2018-05-31 09:59] #1370 closed

[2018-05-31 10:14] #3647 closed

[2018-05-31 14:38] vwigmore commented on #2925
First upload to SIG complete with a total coverage of 76%
![coverage](https://user-images.githubusercontent.com/9844091/40788759-1667515a-64f1-11e8-800e-e5f0fcf4619e.png)

[2018-05-31 18:27] synctext commented on #3357
Vital dataset we need with real attacks on trust, reputation systems.
http://users.eecs.northwestern.edu/~hxb0652/HaitaoXu_files/TWEB2017.pdf Abstract:

In online markets, a store’s reputation is closely tied to its profitability. Sellers’ desire to quickly achieve
high reputation has fueled a profitable underground business, which operates as a specialized crowdsourc-
ing marketplace and accumula

[2018-06-01 01:46] Dmole opened #3657 "Trust statistics seem off"
rm -r ~/.Tribler
apt install Tribler_7.1.0-exp2.deb
Tokens starts at 0 (seems like an easy way to game the system if there is any penalty for <0 )
Leave Tribler running for a bit with **0 Torrents**, then observe;
- Given = 1.2GB
- Taken = 0.4GB
- Tokens = 0.8GB

... think about it
- Should Taken =0?
- If not should Given=Taken?
- even if there were some explanation for this (like some chunks are

[2018-06-01 09:43] #3644 closed

[2018-06-01 10:07] ichorid commented on #3649
[Some cool slides on DHT exploration](
https://www.defcon.org/images/defcon-18/dc-18-presentations/Wolchok/DEFCON-18-Wolchok-Crawling-Bittorrent-DHTS.pdf)

[2018-06-01 13:55] devos50 commented on #3657
@Dmole that's quite interesting! When not downloading anonymously, taken should instead always be zero. The easiest way to debug this, is to explore the blocks on the Tribler blockchain I guess. Could you please provide your database with blocks? You can find this in your Tribler state directory, specifically in `~/.Tribler/sqlite/trustchain.db`. With this info, we might be able to figure out what

[2018-06-01 14:11] #3655 closed

[2018-06-01 14:11] #3656 closed

[2018-06-01 14:26] Dmole commented on #3657
One would hope with a fresh ~/.Tribler there would be nothing sensitive, but it's also kinda big so here is the tip;
[code]
and I'll email you the rest.

[2018-06-01 17:37] Thomasedv commented on #3657
I can add that i also end up in negative from only having one Torrent in a seeding state. I tested this by removing the .Tribler folder, and then starting tribler and adding an already downloaded torrent, and let it seed for some time.

[2018-06-01 17:53] devos50 commented on #3657
@Dmole @Thomasedv thank you for your help! I noticed this behaviour too when starting with a fresh Tribler instance. Next week I won't be at the university to work on it but I will try to investigate this as soon as I can when I'm back 👍

[2018-06-01 18:19] devos50 commented on #3657
Related forum post: https://forum.tribler.org/t/uploads-and-downloads-are-miscalculated-tribler-7-1-0-exp2/4571

[2018-06-01 18:20] devos50 commented on #3599
Another related report from the forums:

[code]

[2018-06-02 07:13] qstokkink commented on #3599
I wonder what font encoding that is though.
My best guesses for this text are:

`[March_2014] [Platinum] (pthc <FILTERED>) virginz.info 15 ëåòíÿÿ àíÿ èãðàåò ñ âèáðàòîðîì (ïåäî,äåòè,äåâî÷êè,ìàëîëåòêè).rar`
`[March_2014] [Platinum] (pthc <FILTERED>) virginz.info 15 ÙÕ‗Ý   ÓÝ  ÞÒ­ÓÕ‗ ± ÔÞß­Ó‗¯­¯ý (´Õõ¯,õÕ‗Þ,õÕÔ¯¸ÛÞ,ýÓÙ¯ÙÕ‗ÛÞ).rar`

[2018-06-03 13:26] ichorid commented on #3615
Frequency distribution of words in all natural languages follow Zipf's law. Speakers generally optimize the term (word, phrase ...) that they assign to the denotate (the physical object/idea ...) for the efficiency of communication.
I.e. when I ask someone where can I find `"John Doe"`, the combination of words `"John"+"Doe"` uniquely identifies the person by that name, at least in the context of

[2018-06-03 20:38] ichorid commented on #3615
[FASD: A Fault-tolerant, Adaptive, Scalable, Distributed Search Engine (2003 master thesis)](https://www.cs.utexas.edu/~browne/CS395Tf2002/Papers/fasd.pdf) - almost exactly what I came up with. No works by that author afterward, though :disappointed:

[Associative search in peer to peer networks: Harnessing latent semantics (2006)](https://www.sciencedirect.com/science/article/pii/S138912860600266

[2018-06-04 09:19] vwigmore commented on #2925
The current version of the report:
[Bachelor_Project_2018_BotNet (4).pdf](https://github.com/Tribler/tribler/files/2067586/Bachelor_Project_2018_BotNet.4.pdf)

[2018-06-04 09:57] codesalad commented on #2925
**Proxmox**

**Listing options with Cloudomate**
![cloudomate purchase](https://user-images.githubusercontent.com/9729649/40910771-540cbb0e-67ed-11e8-93c1-3971247d5283.gif)

**Purchasing container with Cloudomate**
![cloudomate purchase 2](https://user-images.githubusercontent.com/9729649/40910842-7b27de62-67ed-11e8-88d5-26494059a236.gif)

**An invoice is created using the Bitpay API**
![cloudomat

[2018-06-04 10:30] codesalad commented on #2925
![sprint4](https://user-images.githubusercontent.com/9729649/40912730-b0f3acf6-67f2-11e8-8a0f-c3c3c0c349f8.png)

Most of the items were finished, installing VPN is going to be a task for this sprint (5)

[2018-06-04 15:44] ichorid commented on #3615
## Design details for the new Channels/AllChannel/Search subsystem

### Class design
**All 3 communities inherit from base Metadata Community**, that implements ORM and basic metadata query messages:

| Community | Messages | Message handling |
|----------------------|-----------------------------------------------------------------------------------------------------------------|-----------------

[2018-06-04 16:20] ghost opened #3662 "Microsoft Github plan"
### Please, fill all relevant items: ####

- [x] I have read CONTRIBUTING.rst

- [na] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

all

##### Operating system and version: #####

all

##### Steps to reproduce the behavior: #####

na
##### Expected behavior: #####

Not having Microsoft in control of development

[2018-06-05 10:46] DanGraur commented on #2087
Extended the IETF standard with section `4.2.1.  Technical view of Attestations and Verifications`. This section has many subsections, which might require that it be moved upwards to make the referencing more understandable. Moreover, I've written this over the official IETF publication, so it does not have the `3.4. Double signature scheme`. This might need to be added manually.

[draft-pouwelse-

[2018-06-05 11:40] ichorid commented on #3615
[Summary prefix tree: An over DHT indexing data structure for efficient superset search (Nov 2017)] (https://sci-hub.tw/10.1109/NCA.2017.8171372)
- this is almost exactly what I came up with. The algorithm is able to efficiently look up for queries consisting of supersets of keywords. Its based on a cross between Bloom filters and DHTs.
The problem is, the writing is not too good.

[2018-06-05 13:08] jangerritharms commented on #3357
Again a short status update:

I ran a first simple experiment which is similar to the other experiments I plan to do. We have 20 honest agents that perform the PROTECT mechanism as described above (however still a simplified verfication). Also there is one dishonest agent who withholds one block from his chain when engaging in an interaction (when the other agent starts the interaction the agent b

[2018-06-05 14:36] qstokkink commented on #3662
I guess we will wait and see what changes. Should it be required, we have more than enough replica's of our source tree to move elsewhere.

[2018-06-05 14:43] synctext commented on #3486
[ctc_executioner (3).pdf](https://github.com/Tribler/tribler/files/2072625/ctc_executioner.3.pdf)
Points for improvement:
- tutorial section
- related work only explains the 3 key papers, no higher-level scientific discussion, comparison, direction of field, or brilliant insight.
- "Data curation", "Market data curation", market data analysis, machine learning features...
- page 20 'emptyness'
- g

[2018-06-05 17:07] synctext commented on #2087
Thnx Dan. Bumped version number and published at: https://datatracker.ietf.org/doc/draft-pouwelse-trustchain/

Decided to ignore these:
[code]

[2018-06-06 07:55] xoriole commented on #3638
Yet another traceback with socket error
[code]

[2018-06-06 08:26] synctext commented on #3357
thesis storyline, especially the problem description:
- big and lab vision, your component in the 50-years of building-trust-research
- precise and narrow of thesis work

For instance: ```This works has successfully created a specialized component
which has a proven ability to make trust  systems better.```

[Demers, 1987 classic, "Epidemic algorithms for replicated database maintenance"](https://

[2018-06-06 09:36] AngelaBarrio commented on #3013
Activities:
- Expanded mini blockchain with Flask functionality that adds the content of a http post to the blockchain
- Read papers "Care. data and access to UK health records: patient privacy and public trust" and "Database State" about the privacy laws compliance of state databases including EMR
- Expanded thesis text in several areas
- Problem: got stuck thinking about software architecture
-

[2018-06-06 09:51] synctext commented on #3013
- MIT media lab student work from 2016: https://ieeexplore.ieee.org/document/7573685/
![image](https://user-images.githubusercontent.com/325224/41030883-9c99237e-697f-11e8-8003-4f720330bb4e.png)
- Healthcare Data Gateway
![image](https://user-images.githubusercontent.com/325224/41030982-da9c849a-697f-11e8-8c4d-49596b45a795.png)

[2018-06-06 11:22] maxvisser commented on #3013
I subscribed to this post and saw that you maybe start looking at switching to PyEthereum; I see you guys are trying to do these steps:
1. Secret splitting
2. Secret fragment distribution
3. Secret fragment publishing
4. Secret reconstruction

This for me sounds like Shamir Secret Sharing; there are currently two projects in the Ethereum ecosystem working on this; Since 31st of May 2018, Kimono re

[2018-06-06 11:53] Dmole commented on #3657
2
History seems to disappear to, I built up a credit then downloaded something and only one day of data (no credit) was recorded...

3
v7.1.0-exp2 finds seeds faster but it's also quite crashy (I sent a few bug reports).

4
It seems impossible to have anonymity and -ve credits so Tribler should just not count anything below 0.

[2018-06-06 12:18] egbertbouman commented on #3636
I was just looking at this, and I think I know what's happening. Basically, if you have a few downloads that are waiting for the DHT/tunnels, you'll get several simultaneous calls to do_circuits. The problem is that the ```data_circuits``` property (called by do_circuits) only looks at the tunnels that have finished building (https://github.com/Tribler/py-ipv8/blob/master/ipv8/messaging/anonymizat

[2018-06-06 14:46] synctext commented on #1842
[untitled (5).pdf](https://github.com/Tribler/tribler/files/2076639/untitled.5.pdf)

Next step, please focus fully on experiment description of your final thesis chapter.

Simple experiments with 1 leecher, for instance, which explain your mechanism.

[2018-06-06 20:46] arvidn commented on #3499
after re-reading this issue. There are a few assumptions that are not true in general.
If `1984.pdf` is smaller than a single piece, or if the file does not contain a single whole piece (maybe it only spans two pieces partially) it will *not* contribute to having any more pieces after downloading it.

On the other hand, archive.org tend to align their files with padfiles, which should make it use

[2018-06-07 11:54] xoriole opened #3664 "Crash on network disconnection"
Tribler crashes when network is disconnected.
[code]

[2018-06-07 14:59] ThomasdenH commented on #3662
Git is designed for perfect data portability. Even in the (extremely unlikely) worst case scenario where GitHub decides to go offline entirely without notice, it is trivial to push the local repository to another site. GitHub issues and PR's are another thing, but they're so integral to the GitHub business that I don't see them disappearing anytime soon.

So as with any other company, don't worry

[2018-06-07 15:40] ichorid commented on #3664
Related to #3638

[2018-06-07 15:46] ichorid commented on #3646
IPv8 issues:
Boilerplate code:
[code]
is a classic example of a boilerplate code that is used in every message in every community.
@qstokkink , is there some reason why this is not moved to IPv8 `_ez_pack`, and the programmer have to do it by hand every time?

[2018-06-08 07:14] devos50 commented on #3657
Thank you all for these reports! Fortunately, this should be relatively easy to debug since all blockchain records are public. This issue also makes it clear that we need a (very basic) blockchain explorer within the debug panel in order to debug it better.

We recently switched to a more sophisticated method of token payout so my first guess is that clients using the old method are communicating

[2018-06-08 10:16] ichorid commented on #3638
@devos50 created a pull request for this: https://github.com/Tribler/py-ipv8/pull/148

[2018-06-08 11:28] Dmole commented on #3662
All paying projects should move to gitlab so the money goes into the further development of open source. (but that's nothing new)

All projects that are freeloading should move  to github to let Micro$oft foot the bill (in order to avoid burdening gitlab).

why gitlab?

- it's the most popular alternative [vs](https://thishosting.rocks/best-github-alternatives/)
- it has ab open source version use

[2018-06-08 13:08] xoriole commented on #3615
level 1: local search
level 2: neighbor search, based on "trust magic"
level 3: DHT long-tail content

architecture is based on 2 components and their connection
tag of fixed length text-field
info-hashes
moderators or endorsers

first release features (strictly limited):
- create channel
  - add torrent
  - remove torrent
- vote for channel

[2018-06-08 14:07] svanschooten commented on #2455
**Refined thesis subject: Searching in enriched metadata using deduplicated tag clouds.**
 - Use tokeninzing to revert word to stem form, then linking it in the tag cloud.
 - Use k-means clustering to find subclouds to create more rigid linking, overlap in clouds could indidate same/similar entries (partly removes duplication, word polymorphism and locality issues)
 - Cloud distribution during sea

[2018-06-08 14:32] devos50 commented on #2455
It might be helpful for you to sync with @xoriole, your ideas seems to overlap somewhat.

[2018-06-08 15:08] xoriole commented on #2455
@devos50 It was quite a long discussion. Lots of ideas floating. We'll see how the design materializes.

[2018-06-08 17:09] devos50 commented on #3337
Small game fallacy: http://unenumerated.blogspot.com/2015/05/small-game-fallacies.html?m=1

[2018-06-09 09:42] ichorid commented on #2547
related #3615

[2018-06-09 13:11] ichorid commented on #3615
## Update procedure
* An update is always requested and never pushed.
* Channel update request = `channel_public_key` + `channel_tag` + `known_last_update_time`

[2018-06-09 15:38] synctext commented on #3615
All of Allchannels can be removed. If we add to each channel the ability to push 1k content item + channel votes. Votes are simply signed +1s by users. Votes are responsibility of channel. It is incentive compatible to let channels work for their self promotion. Votes for channels are future proof: grow towards votes for tags per torrent, torrent duplicates, torrent bundles, etc.

Cool?

[2018-06-09 16:16] ichorid commented on #3615
@synctext, the initial idea was exactly that: remove AllChannels completely. The method of dissemination of information about new **channels** is a _Slytherin_ gossip protocol:

1. I connect to one of my friends and tell them: "Give me some popular content that you got since moment X (our last data exchange)"
2. My friend sends me some fresh metadata (containing both channel torrents and regular t

[2018-06-09 16:33] ichorid commented on #3615
@synctext, the question is, *where* and *how* do we store the vote info?
It is very easy to store the votes on the person's TrustChain, but that is a completely decentralized store, it does not sum votes.
To count the votes on an item globally, the whole network should periodically run something like a [prefix sum algorithm](https://en.wikipedia.org/wiki/Prefix_sum). We definitely don't want that.

[2018-06-09 20:28] synctext commented on #3615
Yes, ideas seem to converge. Allchannel now has global broadcast of votes. Gossip of votes and filtering based on trust would be a clear required leap forward..

[2018-06-11 08:30] xoriole opened #3665 "Notify the user on startup database integrity check"
Tribler takes quite a while if it has to do a database integrity check.  We should communicate about this to the user why it is taking time so they are aware that proper shutdown is essential.

[2018-06-11 09:49] ichorid commented on #3646
@qstokkink, but it is in your wiki tutorial...
What should we use instead of it?

[2018-06-11 09:51] devos50 commented on #2925
Sprint 5 is just finished. Report of this sprint will be posted on this ticket today.

Issues:
- TUN/TAP is not enabled by default on all servers. One might have to enable it from within the client area of a particular VPS.
-

What's working right now:
- Instaling Plebnet + running Tribler as an exit node
- Creating a Bitcoin wallet and/or testnet wallet using Tribler
- Creating transactions to th

[2018-06-11 09:52] thijmensjf commented on #2925
[Bachelor_Project_2018_BotNet (1).pdf](https://github.com/Tribler/tribler/files/2089460/Bachelor_Project_2018_BotNet.1.pdf)

[2018-06-11 12:31] synctext commented on #3477
Good progress. Tomorrow is demo day.. Is newest version on Google.play? Can you please add a "release version" into the info tab, for instance?

[2018-06-11 12:58] wkmeijer commented on #3477
The newest version will be online in a few hours, finalizing the last tests for backwards compatibility now. I'll also come by to update the bootstrap phone.

[2018-06-11 16:58] devos50 commented on #3597
A few memory leaks in the GUI has been fixed recently, after which the memory usage increase seemed to significantly slow down. I will run Tribler for extended periods of time on different platforms to detect other leaks 👍

[2018-06-11 19:21] devos50 opened #3667 "Token balance should display GB when over 1024 MB"
Minor QoL enhancement, it reads a bit better.

[2018-06-11 20:19] wkmeijer commented on #3477
We did another [small release](https://github.com/klikooo/CS4160-trustchain-android/releases/tag/0.303) to the play store with some minor fixes:
- added a notice that the app is still running on exit through home button
- fixed bug where all chains were displayed as "my chain"
- fixed bug where peers in chain explorer weren't named correctly
- fixed pop-up loop in ocr scanning when denying permiss

[2018-06-11 23:04] EinNarr opened #3668 "Error when clicking the create button multiple times in the Tribler GUI"
Tribler version/branch+revision:
next 7.0.1(maybe, forgot where to check, document say 6.6 but it cannot be)

Operating system and version:
Ubuntu 17.10

Steps to reproduce the behavior:
press my channel, create a torrent, click "create" button multiple times

Expected behavior:
one torrents are created

Actual behavior:
multiple torrents are created
followed with torrent already exist error

[2018-06-12 07:31] #3636 closed

[2018-06-12 07:31] #3638 closed

[2018-06-12 07:31] #3664 closed

[2018-06-12 11:10] synctext commented on #3477
Progress:
15,513 additions and 6,513 deletions in [Pull Request](https://github.com/wkmeijer/CS4160-trustchain-android/compare/master...klikooo:master). Out of which 9234 is outgenerated from app/src/main/java/nl/tudelft/cs4160/trustchain_android/message/MessageProto.java.
Simple Android studio build

Final sprint:
- theme ```performance analysis``` and maturity of code
- code coverage with graphs

[2018-06-12 11:28] #3668 closed

[2018-06-12 13:21] synctext opened #3670 "IPv8 distributed apps"
Master thesis idea:
- permissionless execution of Python code
  - No permission needed
  - Removes all dependency from servers
  - architecture without any single-point-of-failure
  - Open innovation and module growth
  - source code distribution and forking by design
- how to build trust for dAPP developers
  - star ratings for dAPP authors
  - code reviews and endorsements
  - prevent fake vote

[2018-06-12 14:35] ichorid commented on #3670
This apps should not touch your local state. Sandboxing everything, VMs for security.

[2018-06-12 18:40] codesalad commented on #2925
**Naive bidding bot created**
The bot looks for `http://localhost:8085/market/asks` items and places a bid against these (works for both TBTC and BTC, depending on Tribler setup).

Currently, sometimes transactions show up as a failed transaction (but price and quantity are transferred). Because `asks` are not removed when transactions are not complete, the bot may place multiple bids. A lower tim

[2018-06-13 12:45] synctext commented on #3615
**If-Modified-Since** primitive for content discovery makes a lot of sense.

[code]

The only information you need to download a channel, sample torrents, and check votes is an ```info_hash```. Libtorrent and Flatbuffers can do all the hard work. Every channel community is redundant. Allchannel is redundant. You only need to gossip top-5 most voted upon channels, last seen random 5 channels. When

[2018-06-13 13:22] devos50 commented on #3615
We had a pop-up developer meeting where we briefly discussed the basics and future of the existing AllChannel 2.0 mechanism (see https://github.com/Tribler/tribler/pull/3489). This comment briefly describes what we came up with. Main goal: **simplicity**

First, we make a distinction between a channel _producer_ (creator) and _consumer_ (a user that browses through the channel).

**The channel API

[2018-06-13 14:43] synctext commented on #3670
Duplicate of #2943. Closing this one. moving content.

This 2018 ticket is basically a new hipster, buzzword compliant version of 1999 work: **plugins**.

[2018-06-13 15:03] synctext commented on #2943
_[Copied from ticket #3670, moving activity here; oldest ticket]_ Master thesis idea:
- permissionless execution of Python code
  - No permission needed
  - Removes all dependency from servers
  - architecture without any single-point-of-failure
  - Open innovation and module growth
  - source code distribution and forking by design
- how to build trust for dAPP developers
  - star ratings for dAP

[2018-06-13 15:08] synctext commented on #2943
[Security is a key concern](https://github.com/Tribler/tribler/issues/3670#issuecomment-396612552) In the first sprints I would recommend focusing on the core features first. There are sandboxing features like [RestrictedPython](https://pypi.org/project/RestrictedPython/) and [chrootbuilder, etc](https://wiki.python.org/moin/Asking%20for%20Help/How%20can%20I%20run%20an%20untrusted%20Python%20scrip

[2018-06-13 15:29] #3670 closed

[2018-06-13 15:36] ichorid commented on #3615
###Full Text Search
We will use FTS4/5 from SQLite. To take word morphology into account we will use [Snowball stemmer](https://github.com/snowballstem/pystemmer). We will produce tokens for FTS on our own (because we don't want to develop a wrapper and a binary version of Snowball for SQLLite).

For the first versions of Hogwarts we will still use [Porter stemmer](https://www.sqlite.org/fts5.html

[2018-06-13 15:47] xoriole opened #3672 "Issue with adding magnet link & video streaming"
When video streaming is running is running in background, adding torrent through magnet link does not work as expected. See the screenshot below:
![screen shot 2018-06-13 at 17 41 57](https://user-images.githubusercontent.com/1442867/41362444-aba5cf4a-6f31-11e8-9df5-58bb4d560c38.png)

[2018-06-13 18:42] synctext commented on #3615
Significant overlap with nearly finished code https://github.com/Tribler/tribler/pull/3660

[2018-06-13 20:37] DanGraur commented on #2087
Extended the IETF standard with section `4.2.1.4 Attestation Challenge`. This section focuses on the Attestation Challenge interaction, which follows after the Attestation Verification.

[draft-pouwelse-trustchain-01.txt](https://github.com/Tribler/tribler/files/2099793/draft-pouwelse-trustchain-01.txt)
[draft-pouwelse-trustchain-01.xml.txt](https://github.com/Tribler/tribler/files/2099794/draft-p

[2018-06-14 08:02] qstokkink commented on #2087
@ichorid could you give section 4 of the IETFv1 (draft-pouwelse-trustchain-01.txt) a review, if/when you have time?

[2018-06-14 08:18] synctext commented on #1842
For an interesting intro perspective [what if Bittorrent had a token](https://medium.com/@jbackus/fat-protocols-arent-new-42d2c538db41)?
We talked a lot about the concept of **simplicity**. Both experiments and algorithms need to be simple, otherwise it's impossible to get a Youtube-level service operational for 2 billion people. I'm not aware of any theoretical grounding for the need for simplici

[2018-06-14 09:52] qstokkink opened #3673 "REST code duplication between IPv8 and tribler"
There is some duplication in the REST endpoint logic between IPv8 and Tribler. We could probably consolidate the two code-bases.

https://github.com/Tribler/py-ipv8/tree/master/ipv8/REST

https://github.com/Tribler/tribler/tree/next/Tribler/Core/Modules/restapi

[2018-06-14 12:42] ichorid commented on #3615
### Tagging system

[Fighting tags spam](http://heymann.stanford.edu/tagspam.html).

["Describers" produce more value for the emergent semantics of a folksonomy, than strict "categorizers".](http://wwwconference.org/proceedings/www2010/www/p521.pdf)

[The Complex Dynamics of Collaborative Tagging](http://www2007.org/papers/paper635.pdf)

[2018-06-14 14:36] synctext commented on #3615
Mental note... This sprint aim to do a big leap forward for metadata. Similar how IPv8 collapsed the code base dramatically. By trying out a new approach for metadata, we make a solid step forward. Sprint deadline is 1 august 2018, functional release on forum.tribler.org

[2018-06-14 16:38] ichorid commented on #3615
### Nested channels

* Channels form a hierarchy, like a directory tree structure. At the top level, there is no common root ( _the Forest of Trees_ structure).
* Each channel is tied to a public key (PK), which functions as a permanent ID (and could be used, for example, for voting on TrustChain or distributing updates *a la* [BEP46](http://www.bittorrent.org/beps/bep_0046.html)).
* Each metadata

[2018-06-15 08:07] qstokkink commented on #3615
For reference, this also overlaps: #3484.

[2018-06-15 09:30] egbertbouman commented on #2754
@remkonaber I'd like to run my [DHT with integrated NAT puncturing](https://github.com/Tribler/tribler/blob/devel/Tribler/community/dht/community.py) on your setup. How can I do this?

[2018-06-15 09:37] devos50 opened #3674 "Tunnel helpers identity should not be re-generated on restart"
Currently, when we restart the tunnel helpers, a new key pair is generated and the tunnel helper imposes a fresh identity, starting with a token balance of zero. The tunnel helpers we deploy should use a fixed key pair instead so they can reliably accumulate bandwidth tokens over longer periods of time.

[2018-06-15 10:11] synctext commented on #2943
security threat observed in the wild: plugins(docker images) which steal cpu cycles for mining: https://arstechnica.com/information-technology/2018/06/backdoored-images-downloaded-5-million-times-finally-removed-from-docker-hub/

[2018-06-15 10:16] remkonaber commented on #2754
@egbertbouman Right now, this isn't possible. Unfortunately it has taken many months before there was a working internet connection available for the NATlab server. Two days ago I finally got the word that there is an outlet available. So now the next step is to finish the NATlab setup, setting up all routers, the vlan-switch, and making sure they are all set correctly. I hope to get this done bef

[2018-06-15 10:17] synctext commented on #2087
Scalability related we should add at some point: [OmniLedger: A Secure, Scale-Out, Decentralized Ledger via Sharding](https://eprint.iacr.org/2017/406.pdf)

[2018-06-15 11:34] synctext commented on #3615
As the design is becoming more clear, I propose investing some time in a dataset with 1 million real items and performance analysis. Build scientific proof for the Tribler stack, credibility, and good quality assurance infrastructure.
- build upon the completed foundations [3 commits of Quinten](https://github.com/Tribler/tribler/pull/3489)
- have a list of 1 million magnet links
- operational cod

[2018-06-15 11:47] egbertbouman commented on #2754
@remkonaber OK, sounds good. Thanks!

[2018-06-15 12:31] synctext commented on #2547
Broader vision, beyond keyword search. An extensive technical analysis of the threat model in troubled regions. Aid workers are exposed to difficult challenges, see [On Enforcing the Digital Immunity of a Large Humanitarian Organization](http://bford.info/pub/dec/immunity.pdf).

[2018-06-15 20:51] thijmensjf commented on #2925
The current version of our report can be found [here](https://github.com/Tribler/tribler/files/2107455/Bachelor_Project_2018_BotNet.2.pdf)

[2018-06-16 12:45] ichorid commented on #3615
### Gossip DB schema
When the gossip is deserialized from a file or a network message, it goes through several checks:
1. Filter by trust based on PK. Hogwarts compares its author's PK to the list of known good/bad PKs.
2. Check for duplicate gossip stored in the local database, based on gossip's signature.
3. Check for integrity based on PK and signature.

If the gossip passes these checks, it is

[2018-06-17 07:32] qstokkink commented on #3615
A bit of a memory dump; this is the old way of checking for duplicates:

 - Store only correctly signed messages by [`mid`](https://github.com/Tribler/py-ipv8/blob/master/ipv8/peer.py#L45) and [`global_time`](https://github.com/Tribler/py-ipv8/blob/master/ipv8/deprecated/payload_headers.py#L20).
 - Drop incoming messages with an already-known `mid` + `global_time`.

The system worked like this, so

[2018-06-17 11:01] devos50 opened #3675 "Crash when using the bootstrap_override option"
I was playing a bit around with a testnet and I want to use a custom Dispersy tracker to bootstrap into the network. I've added the following line to my Tribler config file:

[code]

Which results in the following error when starting Tribler:

[code]

The problem is that there is some incompatibility between the value that is entered in the Tribler configuration file and the value expected by the

[2018-06-17 11:57] ichorid commented on #3675
Yep, I'll take it.

[2018-06-17 15:18] ichorid commented on #3615
[Stellar Core docs](https://www.stellar.org/developers/stellar-core/software/core-data-flow.pdf) and some quick hands-on experience got me sold on XDR.
It is infinitely simpler and allows the programmer to do almost C-like pointer tricks, which is important for crypto signing, etc. On the downside, it has no automatical schema version control. But our schema is very simple, so it will be OK.

[2018-06-18 07:04] devos50 opened #3676 "Error during payouts"
When doing a payout, an invalid block might be created and added to ones TrustChain. This is caused by the following line: https://github.com/Tribler/tribler/blob/next/Tribler/community/triblertunnel/community.py#L271. The problem is that there might be two peers with the same address, but with a different keypair.

This is trivial to fix by checking for mid instead.

[2018-06-18 07:06] devos50 opened #3677 "Verified peers in statistics response is incorrect"
The verified peers, grouped by community, returned by a request to the `community/statistics` endpoint is incorrect. It shows all verified peers available and does not filter the peers that are not in a specific community. Easy to fix by modifying this line: https://github.com/Tribler/tribler/blob/next/Tribler/Core/statistics.py#L134

[2018-06-18 12:58] ichorid commented on #3675
Fixed in
https://github.com/Tribler/tribler/pull/3678

[2018-06-18 13:32] backender commented on #3486
Latest draft: [ctc_executioner (5).pdf](https://github.com/Tribler/tribler/files/2111414/ctc_executioner.5.pdf)

- Reworked chapters 1-5.
- Currently finishing chapter 6.

[2018-06-18 14:22] synctext commented on #3486
- Hypothesis: sellers incentivize buyers by placing higher prices on limit orders during a price fall.
4.3.2. Importance of order volume _confusing spacing, a big white seperator before a Hypothesis indicates that a new topic starts._
- Figure 4.5: Volume map of cancelled bid and ask orders. _with grayed out areas of boring non-relevant information?_
- 4.2-4.6 Figures do not have an X and Y axis u

[2018-06-19 11:51] #3677 closed

[2018-06-19 11:51] #3674 closed

[2018-06-19 11:51] #3676 closed

[2018-06-19 13:30] synctext commented on #2812
@thinhtp You are very much invited to build upon this work! Have fun.

[2018-06-20 12:54] synctext commented on #31
## Trust data is always under attack
The scientific AI or agent community has always been focused on formal trust [models](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=trust+model+survey) and calculating trust. Turns out that it is a harder problem to spread and protect information on who is trustworthy and who is not. The academic milestones consists of the few scientists who solved th

[2018-06-20 14:14] xoriole opened #3681 "Issue with playing selected video in multi-file swarm"
Selecting video for playing from the download details tab is either playing incorrect file or raising an exception.
[code]

[2018-06-20 14:55] #3681 closed

[2018-06-20 16:21] Nubro01 opened #3683 "Unable to switch to not Anonymous"
- [x] I have tried with the latest pre-release version and I still can reproduce the issue.
yes, June 20th 2018 version
##### Tribler version/branch+revision: #####
7.1
##### Operating system and version: #####
WIndows 10 Insider 17692
##### Steps to reproduce the behavior: #####
Download a Torrent and set it to Anonymous, after checking try to change it to not Anonymous
##### Expected behavior: #

[2018-06-20 20:20] jangerritharms commented on #3357
Updated [report.pdf](https://github.com/Tribler/tribler/files/2120876/report.pdf)

Quick update:
Not so much happened since the last update. I mostly worked on the story for my thesis, how cooperation, reputation systems, tribler, trustchain and my work are related. Also I have reworked my code a little bit, before I had stored on the chain all public keys and sequence numbers that were exchanged,

[2018-06-21 06:36] qstokkink commented on #3683
@devos50 could this be the anonymous seeding thing?

[2018-06-21 08:46] synctext commented on #3357
- title? "Key building block for creating online trust"
- "Trust is the bedrock of society"; opening line?
- application-agnostic
- Our audacious ambition is to create a global trust system
- model [with both trust and reputation](https://github.com/Tribler/tribler/issues/3357#issuecomment-359814888)
- paper which explains difference between trust system and reputation system
- Chapter 1, more in-

[2018-06-21 09:30] qstokkink commented on #3599
I would like to propose checking the name on the following line and changing it to a `utf-8` compatible string:

https://github.com/Tribler/tribler/blob/next/Tribler/Core/TorrentDef.py#L493

[2018-06-21 09:45] synctext commented on #3013
Roadmap for thesis. Concrete tasks
- [x] Thesis direction and Problem Description draft - _Samantha "Barbie" de Jong_
- [x] Related Work - draft
- [x] initial code -  Completely from scratch, without any unneeded features and functionality.
- [ ] Library Joint Random Secret Sharing
- [ ] Chapter 5: Self-sovereign identity prototype
  - related work screenshots
  - offer 2 out of 3 redundancy
- [ ]

[2018-06-21 11:46] synctext commented on #2805
First sprint:
- [ ] get dataset @jangerritharms
- [ ] [understand the  initial code by Martijn of PageRank](https://github.com/Tribler/tribler/pull/3282/files#diff-387c813776d13167bd3a6118bbce82cb)
- [ ] build the most simple version of full PageRank
  - stand-alone code
  - simple text datafile reading
- Unit testing like example code by Martijn
- Then iterate and improve
  - measure [calculation

[2018-06-21 11:54] synctext commented on #3357
Mental note: [huge Trustchain dataset and picture](https://github.com/Tribler/tribler/issues/3357#issuecomment-378528483)

[2018-06-21 12:50] thijmensjf commented on #2925
Currently (re)writing our report, as it has to be handed over comming Saturday.

Implemented some features regarding data collection to expand the monitoring options. Every ten minutes the data (uploaded and downloaded MBs, MB/BTC/TBTC balance etc.) from the agents is stored and this used to automatically create graphs.
![fig__deltas_for_mb_balance](https://user-images.githubusercontent.com/596297

[2018-06-21 12:52] thijmensjf commented on #2925
And we have created a logo for PlebNet, as it was lacking one:
![logo](https://user-images.githubusercontent.com/5962972/41720203-9aa5803c-7562-11e8-8007-fef430fe4f0d.png)

[2018-06-21 14:22] synctext commented on #2571
Mental notes:
- Martijn implemented basic anti-freerider policy https://github.com/Tribler/tribler/pull/3575/files
- exit node only asks for last block
- no further check are done in our production code.
- trivial to cheat !
- How to check strangers?

[2018-06-21 17:22] synctext commented on #3670
Mental note: p2p recommendation combines security with multimedia and distributed.

[2018-06-22 09:38] devos50 commented on #3683
@qstokkink most likely.

@Nubro01 if you enable 'safe seeding', the torrent will enter anonymous mode after it has finished downloaded. This is necessary to established the end-to-end encrypted circuits that enable safe and anonymous seeding. Could this explain your observation?

[2018-06-22 09:42] qstokkink commented on #3683
I think the issue is that we have no way to turn this feature off. We should probably disable safe seeding when changing the hop count.

[2018-06-22 09:49] qstokkink commented on #3597
@devos50 can we close this?

[2018-06-22 09:59] qstokkink commented on #3511
So the clash is between:

 - https://github.com/Tribler/tribler/blob/next/debian/tribler.menu
 - https://github.com/Tribler/tribler/blob/next/Tribler/Main/Build/Ubuntu/tribler.desktop

I guess the only way to fix this, is by making a separate `.desktop` file specifically for Debian.

[2018-06-22 10:07] qstokkink commented on #3199
From https://www.libtorrent.org/reference-Core.html#force-recheck:

I guess the resume data gets wiped by design.

[2018-06-22 10:08] devos50 commented on #3597
I fixed all memory issues I'm aware of but I need some more work to run the application tester reliably on Windows for extended periods of time. For now, I guess we can close this issue. I will reopen it when the memory leak resurfaces.

[2018-06-22 10:08] #3597 closed

[2018-06-22 10:31] qstokkink commented on #3440
The error seems to be here:

https://github.com/twisted/twisted/blob/trunk/src/twisted/internet/_resolver.py#L123

My best guess is that this is the line that would cause this:

https://github.com/Tribler/tribler/blob/a088d01b8bcadd5ff3ca4157e128d83f9fa6b2e9/Tribler/Core/TorrentChecker/session.py#L523

If this is the case, we would fix this by adding an `errback()` there.

[2018-06-22 10:51] devos50 commented on #3440
@non-Jedi thank you for your report. We are currently in the process of reproducing and fixing this bug within our environment. We will keep you updated!

[2018-06-22 15:02] devos50 commented on #3615
Note: If we decide to go with the existing code in #3489 and store all infohashes on TrustChain, it probably allows someone to publish a malicious infohash on their chain (maybe with questionable content) which I will start to download automatically. How can we address this?

[2018-06-22 17:23] ichorid commented on #3615
@devos50 , in my design we never store infohashes on TrustChain, we merely post there a signature of the introduced metadata element. Torrents don't belong to anyone, as is information... And no one would ever download any torrent automatically without checking the author's trust rating. And the only thing that is downloaded automatically is a small piece of parent channel torrent, and only in the

[2018-06-22 17:24] ichorid commented on #3615
In some sense, I implement the basic idea of [BEP44](http://www.bittorrent.org/beps/bep_0044.html) in this community.

[2018-06-22 21:14] Nubro01 commented on #3683
I have tried this on another machine, where an older version was running and I was able to switch anonymous off, for all files, but still NO seeding occured. After 10 minutes I stopped and installed the latest version and as soon as Tribler got up, it started checking all files again and turned them all to Anonymous yes. I believe this is caused when you adjusted the code to enable the option Defa

[2018-06-23 11:39] #3675 closed

[2018-06-23 14:42] Dmole commented on #3657
What I said was a possibility

I have tested and confirmed to be a reality; since I first reported this I have just let Tribler run empty (0 torrents) and I got up to 1939 tokens then down to -10413 tokens...

[2018-06-25 08:46] egbertbouman commented on #1842
@EinNarr Just talked to Johan about your experiments, and you're very much invited to compare multiple policies in your thesis. The torrents in your experiment can just be synthetic. No need to use wild swarms. This avoids your problems with many overseeded swarms.

[2018-06-25 10:29] #3599 closed

[2018-06-25 15:07] synctext commented on #2925
Your [promo slides presented here](http://blog.bythebay.io/post/175108476331/johan-pouwelse-at-rethink-trust) upcoming Friday?

[2018-06-25 15:34] vwigmore commented on #2925
Final version of the report as send per email
[Bachelor_Project_BotNet.pdf](https://github.com/Tribler/tribler/files/2133729/Bachelor_Project_BotNet.pdf)

[2018-06-25 15:49] devos50 opened #3686 "Error when fetching downloads"
I get the following error when I start Tribler on one of my test machines:

[code]

Should be easy to fix by adding the `get_name_utf8` method to the `TorrentDefNoMetainfo` class.

@qstokkink could you look at this? 👍

[2018-06-26 07:55] qstokkink opened #3688 "Request error"
![afbeelding](https://user-images.githubusercontent.com/3630389/41897234-06dd2b34-7927-11e8-8df9-3dd42fe411fb.png)

On latest next when adding a download.

[code]

[2018-06-26 08:15] #3683 closed

[2018-06-26 08:15] #3686 closed

[2018-06-26 08:16] qstokkink commented on #3688
This is probably due to running a development build.

[2018-06-26 08:16] #3688 closed

[2018-06-26 08:51] qstokkink commented on #3440
Can someone with NixOS send me the output of this script?

[code]

[2018-06-26 09:17] devos50 commented on #3337
Current status:
- a TrustChain crawler is setup and running to fetch blocks created on the testnet. See https://github.com/devos50/py-ipv8/tree/trustchain_crawler for the code.
- an explorer has been setup to make it easier for me to debug what happens on the network. See http://130.161.119.212 (this only shows block on the testnet).
- worked on a testnet with some dedicated tunnel helpers.

[2018-06-26 11:35] Nubro01 commented on #3683
With build of june 26th this is fixed, however.... Anonymous seeds are staying on Building circuits and when changed to anonymous no then they are seeding, but also without any upload speed.

[2018-06-26 11:49] qstokkink commented on #3683
@Nubro01 there are currently no exit nodes running anywhere. Once these come online you will be able to download anonymously again.

[2018-06-26 12:00] non-Jedi commented on #3440
@xvapx I'm not sure how to make a python environment with nix that looks like the one tribler sees. Maybe you have a better idea.

[2018-06-26 12:13] synctext opened #3690 "trustworthy gossip: integrating gossip mechanisms with trust calculations"
### This thesis project explores making the connection between gossip and trust.

This work directly ties in with the mission of the lab _Distributed Trust Design_, see #3571. We are currently implementing incremental personalised pagerank #2805 and IPv8 distributed apps #2943.

This work shall demonstrate in 3 use-cases the linkage of IPv8 community gossip mechanism with trust calculations:
- **Y

[2018-06-26 12:22] qstokkink commented on #1150
This has grown into a duplicate of #3615 .

[2018-06-26 14:57] xoriole opened #3691 "OperationalError: no such column: type"
[code]

[2018-06-26 15:51] devos50 commented on #3691
@xoriole which version number do you have stored in the database?

[2018-06-26 21:11] xvapx commented on #3440
@non-Jedi Yes, nixos generates a wrapper for tribler which exports all the needed environment variables and paths, you can actually run ```cat $(which tribler)``` to see the entire environment in which tribler will run.

@qstokkink output:
[code]
Is there any more test more I can do to help?

[2018-06-27 07:44] #3691 closed

[2018-06-27 07:59] qstokkink commented on #3440
@xvapx Thanks for testing: this apparently is not the issue making Tribler crash on Nix though.

One side-effect of testing this, is that we discovered that `reactor.resolve` is pretty bad at what it does.

[2018-06-27 08:10] xvapx commented on #3440
@qstokkink No problem, I'm testing 7.1.0-exp2 to see if something has changed on nixos, I'll report back.

[2018-06-27 13:24] synctext commented on #2943
[Essentially, the public Internet is now a platform of apps on mobile devices](http://www.potaroo.net/ispcol/2018-06/10years.html)

[2018-06-27 14:04] wkmeijer commented on #3477
The[ last release](https://github.com/klikooo/CS4160-trustchain-android/releases/tag/0.310) is now also available in the play store.
[Documentation](http://trustchain.readthedocs.io/en/latest/) is up to date. Jonathan is finishing creating the performance graphs, so they will be visible on readthedocs tomorrow.

Things that changed since last time:

- Fixes for UI glitches for long usernames
- Upd

[2018-06-27 16:42] Dmole commented on #3657
The only way to make credits useful (unhackable) would be to make a history (of any sort) count for more than a weeks worth of seeding. (a fresh account should get less priority than a week old account with -1k points)

[2018-06-28 07:37] xvapx commented on #3440
I'm working on it, having to fix some dependencies in nixpkgs.

[2018-06-28 08:18] ichorid commented on #3615
Posted a "Technology Preview" of the ORM-XDR-Libtorrent binding in the form of a pull request https://github.com/Tribler/tribler/pull/3695

[2018-06-28 09:06] lylamaria commented on #3357
Good luck today Jan!

[2018-06-28 09:54] xvapx commented on #3440
@qstokkink @non-Jedi
7.1.0-exp2 is no longer crasing in nixos, I'm testing that it actually works and will PR in nixpkgs.

[2018-06-28 09:55] wkmeijer commented on #3477
Todo's:
- Signed introduction requests, currently unsigned message with public key, unicode username and ip address
- offline send, user may be confused when the reply step is completed
- sequence number in mutualblock (in inbox) is not displayed correctly
- mychain collapses the directed graph into a list, which is difficult to display. Currently the chain is odered on sequence numbers that occur

[2018-06-28 09:57] xvapx commented on #3440
crash log:
[code]

[2018-06-28 10:18] qstokkink commented on #3440
It seems the error is with Twisted: https://github.com/twisted/twisted/blob/trunk/src/twisted/internet/_resolver.py#L123 seems to only catch `gaierror` and not a `socket.error`.

If we fix this on our end, it would be a nasty patch.

[2018-06-28 11:28] codesalad commented on #2925
@synctext This is one of the gifs we've prepared.
A "real-time" network viewing tool for PlebNet

![demo_vision](https://user-images.githubusercontent.com/9729649/42031541-16e66e28-7ac6-11e8-8ddd-c2db87de599f.gif)

I will send you the rest via e-mail.

[2018-06-28 11:47] qstokkink commented on #3440
This should be fixed now. We'll keep you posted on the build completion.

[2018-06-28 11:57] synctext commented on #3649
It usually better to ask for factual and verifiable data. Relative ranking are difficult to verify and catch a spammer in a lie. Exact swarm data is better in this case I believe.

[2018-06-28 14:12] devos50 commented on #3615
Please explore whether we can exclusively use TrustChain to store/gossip metadata.

[2018-06-28 14:44] qstokkink commented on #3440
Actually, release candidate 3 should be out tomorrow evening.

[2018-06-28 16:38] codesalad commented on #2925
As requested, I'm uploading the slides/images/videos for [presentation](http://blog.bythebay.io/post/175108476331/johan-pouwelse-at-rethink-trust) here as well.

### Slide 1:
![logos](https://user-images.githubusercontent.com/9729649/42047944-057c374e-7b02-11e8-800b-2c0da85481ca.png)

- PlebNet is an autonomous self-replicating botnet
- Running Tribler Exitnode
- Self-replicates by purchasing serv

[2018-06-28 19:33] xvapx commented on #3440
Great, I'll test it ASAP, thanks a lot!

[2018-06-28 19:57] nyrosis commented on #2457
Had a look at the new PARSEC Algorithm?

[https://github.com/maidsafe/rfcs/blob/master/text/0049-parsec/0049-parsec.md](url)

[http://docs.maidsafe.net/Whitepapers/pdf/PARSEC.pdf](url)

[2018-06-29 06:42] Nubro01 commented on #3683
![afbeelding](https://user-images.githubusercontent.com/1146496/42077121-1e570796-7b78-11e8-8bf7-0174bc4ca5f9.png)

Still no anonymous seeding, with june 28th version, even normal seeding does not do anything, probably also related to still no exit nodes running?

[2018-06-29 08:55] #3649 closed

[2018-06-29 08:59] synctext commented on #2457
PARSEC Algorithm is certainly interesting, thnx!
[code]

[2018-06-29 10:01] arvidn commented on #3649
I spent some time on this (or a similar) problem at BitTorrent many years ago. We eventually gave up once we realized how hard the problem was. (specifically, we tried to pass around, via gossip, which swarms are the most popular. Since the full set of torrents is too large to pass around, we ended up with feedback loops because the ones that were considered popular early on got disproportional re

[2018-06-29 14:47] FFY00 opened #3700 "Error: No module named pyipv8.ipv8.keyvault.private.libnaclkey"
I am trying to [package Tribler](https://aur.archlinux.org/packages/tribler/) for Arch Linux but I keep running into this issue.

#### Please, fill all relevant items: ####

- [X] I have read CONTRIBUTING.rst

- [X] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
  - Brach: `next`
  - Version (release.revision.comm

[2018-06-29 14:59] qstokkink commented on #3700
Did you checkout from git? (If so, did you clone recursively?)

[2018-06-29 15:11] FFY00 commented on #3700
Hum, that's probably the problem. Submodules are not included in the release. And when I cloned the repository I forgot about the submodules. I am gonna close this, if for some strange reason this wasn't the issue, I will re-open. Thanks :smile:.

[2018-06-29 15:11] #3700 closed

[2018-06-29 18:49] xvapx commented on #3440
@qstokkink
Sorry, bad news:
[code]

I've sent the report, it's the same bug, version 7.1.0-exp3, on NixOS.

[2018-06-29 20:13] FFY00 opened #3701 "ERROR:root:Fault Handler module not found."
I am running into this error. Running tribler as root seems to fix it.

#### Please, fill all relevant items: ####

- [X] I have read CONTRIBUTING.rst

- [X] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
  - Brach: `next`
  - Version (release.revision.commit): `7.1.0.exp3.r2.9fc4ae18b`

##### Operating system and

[2018-06-30 07:04] qstokkink commented on #3701
Apparently your `'bootstrap_override'` setting is bad. Could you share the value of this setting with us? (You should be able to find your `tribler.conf` in `~/.Tribler/`).

[2018-06-30 07:05] devos50 commented on #3701
@qstokkink @FFY00 this is caused when running the Tribler version from a few commits ago (when we were using a different kind of value for the `bootstrap_override` option. Removing the `bootstrap_override` option in the configuration file should fix it.

[2018-06-30 12:43] FFY00 commented on #3701
`bootstrap_override` is `None`. I removed it from `tribler.conf` and it worked.

I release the package: https://aur.archlinux.org/packages/tribler/
I am gonna add a pinned comment warning about this issue.

Thanks :smile:.

[2018-06-30 12:43] #3701 closed

[2018-06-30 13:08] FFY00 commented on #3701
I am sorry, should I keep this open?

[2018-06-30 13:18] FPSUsername opened #3702 "Failed to execute script run_tribler"
#### Please, fill all relevant items: ####

- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
7.0.2 (x86 & x64) and 7.1.0 pre release (x64)

##### Operating system and version: #####
Windows 10 pro x64

##### Steps to reproduce the behavior: #####
Clean install of tribler, th

[2018-06-30 13:56] qstokkink commented on #3702
There seems to be something changing the character encoding in your environment.

As a workaround, could you try running tribler from `Windows Powershell`?

[2018-06-30 14:00] devos50 commented on #3701
Nope, thanks for creating the package for arch linux, very helpful 👍

[2018-06-30 14:03] devos50 commented on #3702
Related SO post: https://stackoverflow.com/questions/35176270/python-2-7-lookuperror-unknown-encoding-cp65001

it might be caused by the console window that we enable for these experimental releases. One suggested fix for this could be to [bundle this package](https://github.com/Drekin/win-unicode-console).

[2018-06-30 14:41] FPSUsername commented on #3702
@qstokkink I tried running it through powershell, I get the same error
@devos50 if I check pip or pip3 --version, it works fine.
For the console window, well, I get the same error in a nice warning/error window on the stable release, so it doesn't change the situation.

[2018-06-30 15:37] devos50 opened #3703 "Error in the popularity community"
When running the popularity community, I got the following error in my log (it does not crash Tribler however):

[code]

[2018-06-30 21:44] cclauss opened #3704 "Undefined names: 'score' and 'MediaDiscovererDescription'"
Undefined names have the potential to raise NameError at runtime...

flake8 testing of https://github.com/Tribler/tribler on Python 2.7.14

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-07-01 07:55] qstokkink commented on #3704
@devos50 this is part of the default vlc bindings, right?

[2018-07-01 08:54] qstokkink commented on #3702
I was able to reproduce and fix this.

[code]

[code]

Now we need to figure out where to put this and how to recognize we are running on code page `65001` on the user system.

[2018-07-01 09:20] devos50 commented on #3704
@qstokkink yes, `vlc.py` is a (slightly modified) copy of the official VLC bindings.

Regarding the first error, this is a bug and I will create a PR for this to fix it. Thank you for reporting it!

[2018-07-01 11:36] synctext commented on #3486
"PhD level" expansion.. Re-use your Q-learner with deep reinforcement learning to cooperate, while under continuous attack from freeriders. iterated PD within group context, pair-wise encounters. Reward when Alice and Bob cooperate, penalty if Charlie defects on you. Trustchain to view historical behavior.

Related work: "[Learning to Protect Communications with Adversarial Neural Cryptography](ht

[2018-07-01 13:10] #3704 closed

[2018-07-02 09:48] #3703 closed

[2018-07-02 19:07] oakes8585 opened #3708 "kalilinux nethunter nexus 6 cyanhacker rom"
i use tribler and its great!!

I have kalilinix nethunter installed on a custom cyanhacker rom on my nexus 6 id love to see a armhf installable version of this that can be accesiable via web interface and or installible apk that will connect to the installed software. Also if connecting to a seedbox such as dedi via ssh or ftp through this software using the phone would be awsome so files could be

[2018-07-03 12:10] devos50 opened #3710 "Error in the upgrade process"
As posted on our forums:

[code]

[2018-07-03 12:28] backender commented on #3486
The report attached is almost complete, except:
 - abstract is missing
 - grammar is to be polished in chapter 6/7
 - details of DQN implementation is to be added in chapter 5
 - some format issues

[ctc_executioner.pdf](https://github.com/Tribler/tribler/files/2159242/ctc_executioner.2.pdf)

[2018-07-03 12:58] devos50 opened #3713 "Socket error 10054 when running Tribler"
Extracted this one from the bug reporter (happened on 7.0.1):

[code]

[2018-07-03 13:08] #3702 closed

[2018-07-03 13:20] synctext commented on #3486
Final comment round:
- table with state-of-the-art and positioning yourself
- you are the first paper to use the full raw bid-ask feed
- promote this to the Conclusion

[2018-07-03 13:32] #3710 closed

[2018-07-03 13:32] #3440 closed

[2018-07-03 14:52] qstokkink commented on #3505
We would have to handle [drop events](http://doc.qt.io/qt-5/qdropevent.html) and check for the correct [mime data](http://doc.qt.io/qt-5/qmimedata.html) of torrent files (we will need to see if this is consistent between platforms as well).

[2018-07-03 19:01] xvapx commented on #3440
Great, thanks a lot!

[2018-07-04 09:00] egbertbouman commented on #3183
I've added some new features to the DHTCommunity (https://github.com/Tribler/tribler/pull/3693). It's now possible to create both signed and unsigned values.

I've also added a new community for discovering and connecting to peers, called the DHTDiscoveryCommunity. It works as follows. When storing a peer A under key K, A will first lookup the peers closest to K using the DHTCommunity. Next, A wil

[2018-07-04 09:20] devos50 commented on #3440
@xvapx could you try out this build? https://jenkins.tribler.org/job/Build_Tribler_next/297/

[2018-07-04 14:49] thijmensjf commented on #2925
As our cycle in the project is ending, we will provide a final status update regarding the project.

First of all there is a final version of the report, which can be found
[here](https://github.com/Tribler/tribler/files/2163544/Bachelor_Project_2018_BotNet.pdf)

The slides of our final presentation can be found
[here](https://github.com/Tribler/tribler/files/2163568/Eindpresentatie.pdf)

All in a

[2018-07-04 18:39] xvapx commented on #3440
Yep, I'll try and report back

[2018-07-05 08:31] ichorid commented on #3615
### Lightnet and Darknet

#### Lightnet
Imagine a vast, sunlit field. There are farmers working on it. Some grow carrots, some grow cabbages, some grow tomatoes. Different vegetables require different growing conditions, so people look around and group according to their preference. And some people don't grow anything, but still want to get, say, both tomatoes and cabbages. These people then take

[2018-07-05 08:37] qstokkink commented on #3615
@ichorid If I understand correctly, long story short: anonymous payouts don't/won't work?

[2018-07-05 09:00] ichorid commented on #3615
@qstokkink, anonymous payouts with Trustchain work only while these don't leave the Darknet. To get to the Lightnet, they should pass through some kind of "mixer". And this should definitely use some consensus algorithm.

[2018-07-05 09:19] xvapx commented on #3440
@devos50 It's been running for more than one hour now, without a single crash.

[2018-07-05 13:36] jangerritharms commented on #3357
**Status update**
[report.pdf](https://github.com/Tribler/tribler/files/2166760/report.pdf)

This is the current thesis.tex. Next week I will be on vacation so this is pretty much the work that we can look at at the next meeting on monday 16th of July. Have made a start in each of the chapters of the final report. Was not yet able to implement all feedback from the previous round but that will be

[2018-07-05 14:42] devos50 opened #3715 "Error in the popularity community"
I got the following stack trace:

[code]

[2018-07-05 15:36] devos50 opened #3716 "Error in popularity community when sending messages"
I got the following stack trace:

[code]

[2018-07-06 11:04] devos50 commented on #3508
I've published an initial, very basic version of my TrustChain explorer, written in AngularJS: http://130.161.119.212/home. This is mostly used by me for debugging payouts/market transactions.

![tcexplorer](https://user-images.githubusercontent.com/1707075/42375797-07275bde-811d-11e8-87ce-41264a1de31e.png)

[2018-07-06 11:30] AngelaBarrio commented on #3013
Activities:
- Made a homepage where a user can upload a file. The user can indicate who needs to sign this file. This events gets added to the blockchain.
- The blockchain is displayed on another page
- Made a button to make a ecdsa signature using python-ecdsa library. Still needs to be linked to the actual document.
- Made some additions and improvements to the thesis draft.

[2018-07-06 13:48] synctext commented on #3013
- 4.3 Digital signature algorithm. _are there also various crypto libraries to choose from_?
- 2.2.1 Accountability on access _are these the requirement for your prototype or research goals_
- Another project: move from approving invoices, towards approving hours and try to create jointly agreed facts. Simplify administration greatly.
- mention loss recovery or out of thesis scope?
- thesis storyl

[2018-07-06 14:13] synctext commented on #2943
Towards first running code prototype:
- cmdline simplicity
- Libtorrent swarm, filled with _execute.py_ source code file
- download hard-coded swarm
- unpack this swarm
- magical import and execute.
- possibly different executing approaches with different modules/packages/sandboxes.
- Hello World!\n

[2018-07-06 15:13] devos50 opened #3718 "Direct payouts between Tribler clients when doing plain seeding"
Currently, we payout bandwidth tokens to relays and exit nodes, to compensate them for their provided services. This resulted in some confusion since 'normal' seeding, without using proxies, is not being rewarded by tokens. Rewarding plain seeding (to other Tribler clients), will reinforce the token economy and provide more incentive to seed.

We should explore whether it is possible to do so. For

[2018-07-06 15:57] ichorid opened #3719 "LaunchManyCore fails to produce notification on torrent completion"
If a download takes less than a second to complete, `sesscb_states_callback` fails to produce the notification on torrent finish.
It happens because `new_active_downloads` only gets new entries if their status is `DLSTATUS_DOWNLOADING`:
https://github.com/Tribler/tribler/blob/8981c831c4e4be7871b0b4eb58715107e83d28fb/Tribler/Core/APIImplementation/LaunchManyCore.py#L679-L698

This makes notificatio

[2018-07-07 08:58] devos50 commented on #3718
Thanks for the link, will read through it!

[2018-07-07 08:59] devos50 commented on #3719
Nice find! Certainly an edge case. I guess it's not hard to reproduce this with a unit test and fix it? 👍

[2018-07-08 07:36] qstokkink commented on #3719
Adding the download to `self.previous_active_downloads` in [add()](https://github.com/Tribler/tribler/blob/8981c831c4e4be7871b0b4eb58715107e83d28fb/Tribler/Core/APIImplementation/LaunchManyCore.py#L455) should fix this I think.

[2018-07-09 10:39] ichorid commented on #3719
After pondering on this for a few hours I can say that it is impossible to fix this problem correctly without refactoring the libtorrent wrapper.

[2018-07-09 10:41] qstokkink commented on #3719
Related to #3418

[2018-07-09 10:56] synctext commented on #2571
Thesis progress warning: due to the pace it's possible this work will become irrelevant.

- minimal viable experiment, 1 seeder, 1 downloader, 1 exit node; currently making this stable and locating hard-to-find bug.
- Thesis core content:
  - end-to-end cut-off experiments
  - first document.tex this, then other fun stuff:
  - slotted-exit node by Martijn
  - IPv8 attacks are also in-scope, red-te

[2018-07-09 11:39] #3715 closed

[2018-07-09 11:39] #3716 closed

[2018-07-09 13:06] EinNarr commented on #1842
[thesis.pdf](https://github.com/Tribler/tribler/files/2176240/untitled.12.pdf)

[2018-07-09 14:05] synctext commented on #1842
Explore different parameter settings & experiments:
- invest for 4 hours in a swarm
- investigate 250 swarms at once
- Smart Download Mode:
  - Restrict to 25 MByte or 10-ish pieces
  - Switch from download mode to upload mode in Libtorrent
  - 250 swarms of 25 MByte take
- Fake download location that Arvid made for us
- Bittorrent Simulation Framework
  - you have no data on-disk
  - you can stil

[2018-07-09 15:49] synctext commented on #3615
- Focus on raw-performance and simplicity
- Most recent specs, [link above](https://github.com/Tribler/tribler/issues/3615#issuecomment-394402371)
  - focus on Search/AllChannel/Channel
  - Converted to XDR religion https://docs.python.org/2/library/xdrlib.html  (like BEncode, but it has no field names, or named dictionaries) Semantic-free...
  - PR [getting in shape](https://github.com/Tribler/tr

[2018-07-10 13:32] qstokkink opened #3721 "Tribler.Core.Utilities.encoding IPv8 code duplicate"
`Tribler.Core.Utilities.encoding` is a near duplicate of `Tribler.pyipv8.ipv8.messaging.deprecated.encoding`.

`add_url_params` should probably live in Tribler, the other functions should be part of IPv8. Unless we want to move all the REST logic to IPv8.

[2018-07-10 16:34] EinNarr commented on #1842
Roadmap to graduation still remains unclear.
Starting from refining the test frame work which had already been used in the 10 torrent 1 channel experiment.

[2018-07-10 19:38] Thomasedv opened #3724 "Limit max amount of active downloads"
Make Tribler limit the amount of active downloads (and potentially uploads) to favor speed for certain torrents. Batch adding a large number of torrents may take many hours before the first torrent is fully downloaded, and if you could tell tribler to only take the 3 at a time, would greatly shorten the time before the first torrent is downloaded. As the user may want one torrent before the others

[2018-07-10 19:44] synctext opened #3725 "MAC fail: 'qrcode' module is missing. This module can be instalked through apt-get or pip"
When trying to partially empty some tokens, error is shown. Installed standard exp3 release. Mac version.

Btw the button is called 'empty', even when just partially moving 1% of tokens.

[2018-07-10 19:47] Thomasedv commented on #3453
I think this should be added for a few reasons:

* In the event a lot of torrent are stopped, like due to lack of space on a full drive, you need to manually start them again. With a lot of torrents, you got an problem.

* Removing many torrents takes a lot of time, especially with the confirmation popup that lets you select to cancel, or also to include the downloaded files.

* With the Tribler 7

[2018-07-10 21:38] Thomasedv opened #3726 "Can't disable credit mining"
I made a mistake, not an issue

[2018-07-10 22:21] #3726 closed

[2018-07-11 07:29] qstokkink commented on #3725
@devos50 this is one of the nasty electrum imports right?

[2018-07-11 09:20] devos50 commented on #3725
@qstokkink it is part of the Electrum GUI.

The `qrcode` package was not installed on the Mac. I've installed it and PyInstaller should now bundle it. I've started a new build, see https://jenkins-ci.tribler.org/job/Build-Tribler_OSX_next/5/ 👍 . This should fix the issue.

[2018-07-11 09:20] #3725 closed

[2018-07-11 09:35] #3721 closed

[2018-07-11 10:11] qstokkink opened #3727 "Bug in PopularityCommunity"
Got this while running from the latest next.

[code]

[2018-07-11 14:55] xoriole opened #3729 "Bug in discovered page"
From reporter - Tribler 7.1.0-exp3 [(15158)](http://reporter.tribler.org/stacktrace/15158)
[code]

[2018-07-11 17:41] #3727 closed

[2018-07-11 17:41] #3729 closed

[2018-07-11 20:45] Dmole commented on #3724
Could be scripted thought the RPC API untill it's implemented.

[2018-07-12 07:50] qstokkink commented on #2778
I think this issue has been resolved, IPv8 is up and running. With #3615 Dispersy will be completely gone.

[2018-07-12 07:50] #2778 closed

[2018-07-12 07:53] qstokkink commented on #2894
This issue has been superseded by other issues. Live edge walking has been in Tribler for over a year now and there are other issues for trustworthy gossip.

[2018-07-12 07:53] #2894 closed

[2018-07-12 08:51] devos50 opened #3731 "Give the user insight in the history of received/spent bandwidth tokens"
We should give the user more insight in the user interface regarding the history of bandwidth tokens. A basic list that shows the history of incoming/outgoing bandwidth tokens should already address this.

[2018-07-12 14:46] devos50 commented on #3508
Made a quick visualization of TrustChain using `vis.js`. The graph contains 5000 nodes and took a few minutes to render on my computer.

![c1d7634c1869dc6d025767399eedeb30](https://user-images.githubusercontent.com/1707075/42640533-ccf22b26-85f2-11e8-8f8c-3db8302cc939.png)

[2018-07-12 17:00] Nubro01 opened #3736 "Build 301 jul 12 13:15 fails with Windows 10 build 17713"
##### Operating system and version: #####
Windows 10 Insider build 17713
##### Steps to reproduce the behavior: #####
Install build 301 and start up, dump is send, it says. I hope this is true?
##### Expected behavior: #####
Normal startup
##### Actual behavior: #####
Abend with dump send?
##### Relevant log file output: #####

[2018-07-12 17:48] devos50 commented on #3736
@Nubro01 I suppose you mean this error?

[code]

I made some changes to the market community and updated the schema of the database that stores market information. I'm able to reproduce this error and found the bug. I will fix it as soon as I can.

To fix this, please remove the `market.db` file from the `sqlite` directory in the Tribler state directory. It will be recreated when you start Tribler

[2018-07-12 19:52] synctext commented on #3508
The real live Trustchain?  COOL

[2018-07-12 20:45] devos50 commented on #3508
Yes, it's the live trust chain :)

I've deployed my small application on explorer.tribler.org. Right now, Trustchain has 131k created (half) blocks, which is way higher than I estimated actually. The visualisation backend has performance bottlenecks when displaying over 1000 nodes unfortunately so for now, I've limited this to the 100 most recent blocks.

[2018-07-13 07:38] #3736 closed

[2018-07-13 11:32] remkonaber commented on #2754
@egbertbouman Just an update. It seems the network connection still wasn't available. Stephen is trying to figure out what has gone wrong now. In the mean while, I have setup power supplies, Vlan switch, 20 routers, done initial router configuration:

![natlab](https://user-images.githubusercontent.com/16024020/42689166-884188d4-869f-11e8-831a-69b931614548.png)

Stephan couldn't give me an ETA on

[2018-07-13 14:03] qstokkink opened #3739 "Subscription count truncated"
![afbeelding](https://user-images.githubusercontent.com/3630389/42695578-1e0dd960-86b6-11e8-8324-d263c5f35fda.png)

When viewing the list of subscribed or discovered channels the amount of subscribers to the channel is truncated. The screenshot above is from a channel with 1100 subscribers. This does show up correctly on the channel's own page:

![afbeelding](https://user-images.githubusercontent.

[2018-07-13 15:53] egbertbouman commented on #2754
Great to hear that there has been solid progress, hopefully the network
connection will get sorted out. Thanks for the update!

On Fri, Jul 13, 2018 at 1:33 PM, Remko Naber <notifications@github.com>
wrote:

[2018-07-14 09:02] Thomasedv opened #3740 "Remove outline around selected cell/item in downloads page."
##### Tribler version/branch+revision: #####
Tribler 7.1 exp-3 61
##### Operating system and version: #####
Windows 10

##### Problem: #####
When the user clicks a download, to get information or perform a action on it, it will get a dotted outline around that part of it, which serves no real purpose here.
Since the parent/container is a QTreeWidget (i think, since the items are QTreeWidgetItems t

[2018-07-14 09:07] devos50 commented on #3740
This should be easy to fix, thanks for the report! 👍

[2018-07-14 12:31] devos50 opened #3741 "Error when creating an order in the market"
There is an error in the market when creating an order that contains an asset with precision zero:

[code]

Should be trivial to fix 👍

[2018-07-14 13:22] devos50 commented on #3740
I think the GUI tests on Windows highlight this behaviour:

![screenshot_download_trackers](https://user-images.githubusercontent.com/1707075/42724837-bb3ed84c-8779-11e8-9e64-ed5e0002b3c8.jpg)

[2018-07-14 16:27] FFY00 opened #3743 "Error: 'NoneType' object has no attribute 'stop'"
#### Please, fill all relevant items: ####

- [X] I have read CONTRIBUTING.rst

- [X] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
###### I tried with both versions
  - Tag: `v7.1.0-exp3`
  - Version (release.revision.commit): `7.1.0.exp3.r61.1ce64a526`
  - Latest version of the submodules

##### Operating syste

[2018-07-14 17:04] devos50 commented on #3508
I just added a toggle to switch between mainnet and testnet to the live crawler. You can now also see the transaction created on the testnet (which mostly consists of my own tests for the market) 👍

[2018-07-14 17:30] devos50 commented on #3743
This bug seems to be Arch-specific, see https://bugs.archlinux.org/task/59311. This link also suggests a workaround: Install community/python-tempora 1.12. Does that help?

Regarding versioning of submodules, this is up to @qstokkink since he is the maintainer of the IPv8 package, which is a submodule of Tribler. The other submodule Tribler uses, Electrum, is already versioned.

You can contact us