[2020-03-16 19:33] ichorid opened #5213 "Torrents without downloaded metadata are not saved"
Latest `devel`. To reproduce, try downloading some torrent without seeds by infohash/magnet only, then close Tribler before it is able to download metainfo from DHT. Then open Tribler again and see no download.

[2020-03-16 19:38] ichorid commented on #5212
That is a good question! Indeed, anonymous seeding *should not* cost anything by design. However, there is a bug in our accounting system that, in some cases, may cause "a leak" of tokens from the hidden seeder.

Regarding the documentation, we would prefer to build the system in such a way that a typical user would not have questions for basic Tribler usage, such as safe downloading / hidden seed

[2020-03-16 21:06] ichorid commented on #5213
Apparently, something deletes `.conf` files *after* checkpointing them, if there is no metainfo.

[2020-03-16 21:32] ichorid commented on #5213
Ok, I found it. The problem is when we starting a download from the GUI we first create a metainfo request. Request counts as a download and then when the real download is started, the request gets deleted alongside with the config file.

https://github.com/Tribler/tribler/blob/1d4e4cefcc6bacbd87024d860063109da6518a18/src/tribler-core/tribler_core/modules/libtorrent/download_manager.py#L525-L529

[2020-03-16 23:01] MattSkala commented on #4827
Update:
- project split into [kotlin-ipv8](https://github.com/Tribler/kotlin-ipv8) (protocol library) and [trustchain-superapp](https://github.com/Tribler/trustchain-superapp) (app)
- fixed UTF-8 encoding issue (string length was encoded incorrectly for multi-byte characters)
- [TrustChain Super App APK](https://github.com/Tribler/tribler/files/4340596/app.zip)
- purchased pre-paid SIMs from 3 maj

[2020-03-17 07:47] #5213 closed

[2020-03-17 10:39] #5095 closed

[2020-03-17 10:39] #5205 closed

[2020-03-17 11:22] devos50 commented on #3486
I think this issue can be closed. Given the variety of attacks on blockchain ordering, fairness in decentralized markets is still an open issue and I think a very promising direction for a follow-up thesis/paper.

[2020-03-17 11:22] #3486 closed

[2020-03-17 13:23] mehlon commented on #4938
There's also [Nix](http://nixos.org/nix) and [Guix](http://guix.gnu.org) which are functional package and configuration managers and build systems focusing on reproducible builds, you can install them on top of any existing distribution.
Guix has previously been used solely as a build system for reproducibly building Bitcoin https://github.com/bitcoin/bitcoin/pull/15277
There's already a Nix packa

[2020-03-17 14:46] synctext commented on #5182
We need 2-3 research groups at a well known universities to partner with. Let's aim for Middleware. Long list of like minded scientists in numerous fields:
- [Will Democracy Survive Big Data and Artificial Intelligence?](https://www.scientificamerican.com/article/will-democracy-survive-big-data-and-artificial-intelligence/),  _Dirk Helbing_, Bruno S. Frey, Gerd Gigerenzer, Ernst Hafen, Michael Hag

[2020-03-17 15:02] mehlon commented on #5212
If someone's seeding anonymously and you try to download non-anonymously, does that also cost tokens? Or will the client simply be unable to connect to the seeder?

[2020-03-17 15:18] devos50 commented on #5182
If we're aiming for Middleware, let's have a look at the workshops last year: https://2019.middleware-conference.org/workshop_accepted.html.

[2020-03-17 15:22] ichorid commented on #5212
If you're downloading non-anonymously you never pay for anything.

[2020-03-17 16:41] egbertbouman commented on #5212
Actually, I think that even a non-anonymous Bittorrent transfer between 2 Tribler users results in a transfer of tokens (see [download_manager.py#L338](https://github.com/Tribler/tribler/blob/4f9bc65a474f99b67256fa4ade679ba269cf1456/src/tribler-core/tribler_core/modules/libtorrent/download_manager.py#L338)).

Having said that, since Tribler 7.5 anonymous seeders no longer seed through exit nodes.

[2020-03-17 21:19] mehlon commented on #5212
Does the "number of hops" setting for a torrent change what happens with seeding? Does it seed non-anonymously if the number of hops is set to 0? The UI says "Anonymous - no" in the "Downloads" tab, so I would think that it's probably both downloading and seeding non-anonymously.

[2020-03-17 21:47] tpapak01 commented on #5146
We managed to get libtorrent working on android, whether a magnet link is used, or a .torrent file. Although the state of each download holds between runs (which means a download at 15% will continue from 15% the next time), we still haven't managed to find the actual file on the phone once the download is complete. Next steps:
- Locate downloaded file
- Create our own torrent referring to a dummy

[2020-03-18 00:02] ichorid opened #5220 "Tribler crashes after 4-10 minutes"
This happens both on Linux (witnessed myself many times) and on Windows (reported in 7.5.0-rc1). Just run Tribler, do nothing (or do anything), and after about 5 minutes it crashes.

[code]

Observations so far:
 * the problem has nothing to do with the recent introduction of `WeakValueDictionary`. As when I change it back to `dict` it happens still.
 * the problem is seemingly a [Heisenbug](https

[2020-03-18 07:26] qstokkink commented on #5220
I recently had this problem when experimenting with threading in asyncio. Could you try to disable all threaded calls?

[2020-03-18 09:26] synctext commented on #5146
sprint progress:
- stateless issue and make code imports permanent
- no communication yet with other teams :cry:
- unit testing :sob:
- Libtorrent is downloading :+1:
- superapp integration planned

[2020-03-18 10:21] dymbe commented on #5143
Our app is in the superapp. Can be found here: https://github.com/dymbe/trustchain-superapp/
Would you want us to do pull requests to the main repository @MattSkala?
![image](https://user-images.githubusercontent.com/22095727/76950018-b9bcc600-6909-11ea-8d7a-48e0ed69685f.png)

[2020-03-18 10:29] dymbe commented on #5143
The app can now count how much you have of our currency, and a validator is added to make sure that the sender actually has enough money when sending money. This check is disabled on offline transactions, because you need the senders entire chain to calculate how much currency it has. For the moment we have solved the minting problem by making every self-signed block print money. This is of course

[2020-03-18 10:44] synctext opened #5221 "Byzantine-resilient, asynchronous, yet decentralized federated learning"
Key points:
- Cum Laude ambitions
- thesis _science_ must come above everything else
- possible direction with most science imaginable
- TBM compatible; thus governance of the global financial system (who owns capitalism)
- single universal global market
  - liquidity attracts liquidity
  - near-zero cost trust
  - inherently superior and open
  - by design hostile to speculators, hft, and any mid

[2020-03-18 10:44] PJvanderLaan commented on #5144
## Progress

UI/Trustchain:
- Connected the UI with the (new) Trustchain code
   - Create, join and view your shared wallets
- Loading screen for (bitcoin) blockchain download, can be skipped for now
- Added (semi-mockup) Trustchain proposal screen for shared wallets (Your Shared Wallet > Click on 1)
- Bought <100 EU in bitcoin and spread it over 3 wallets for testing

Bitcoin:
- Fetch transaction

[2020-03-18 11:06] synctext commented on #4863
completely opposite view. Alternative of "[deep adaptation](https://www.lifeworth.com/deepadaptation.pdf)" where humanity is dying, sort of doomsday p*rn.

[2020-03-18 11:07] devos50 commented on #5221
Interesting thesis direction!

We aim to achieve this goal with [our own decentralized exchange](https://github.com/tribler/anydex-core), which is fundamentally different from existing DEXes. I think the OP identified the main flaws of existing DEXes (e.g., BitShares, Waves, OasisDEX...). Even though the idea of DEXes is interesting, their liquidity is too low to attract traders. Furthermore, even

[2020-03-18 11:16] synctext commented on #5144
Sprint progress:
- great screenshots!
- not talked to 2 other groups yet
- code coverage is not too good right now :cry:
-

[2020-03-18 11:40] tijmen104 commented on #5143
Update:

- App in super app

- ML algorithm in java created. Right now we can pass a neural network a labeled dataset in .csv format for binary discrimination, and have the example neural networks for outlier detection as well, but the data needs to be in a specific format.
Issue: Upon receiving price, decide to buy or sell.

- "Market peer" created, a random extra ipv8 instance is used to simulat

[2020-03-18 11:47] emieldesmidt commented on #5145
Markdown documentation keeping track of how to use our voting application, design choices that have been made, and ongoing questions:
[hackmd link](https://hackmd.io/@OTqL-WAeTfuPUeIEkRNQ0A/ry9KOXRSL)

[2020-03-18 11:49] awrgold commented on #5143
Pseudorandom dataset with trade price and amounts is done.
Mean price: 0.64
Mean position size: 39 (position sizes are integers)
![image](https://user-images.githubusercontent.com/13334118/76957698-91879400-6916-11ea-97c0-acd7ed0caa50.png)
![image](https://user-images.githubusercontent.com/13334118/76957711-964c4800-6916-11ea-839e-8c5c83637100.png)

[2020-03-18 11:56] synctext commented on #5143
Sprint progress:
- no communication with other teams
- Joining mattermost to communicate with others of Delft-DAO

[2020-03-18 12:45] synctext commented on #5145
- if you can always exit with your money; no need to protect against evil Sybil attack
- solid progress!
- there is no such thing as an end-time or no vote
- we need an _exit_ mechanism!

[2020-03-18 13:04] dymbe commented on #5143
@synctext Just to be sure, you don't want us to use the currency we created, but rather Bitcoin and Euro? The last meetings we were told we should use our own currency when trading, and our project is called "Create Your own Currency" after all. This is all good of course but we though at least you should know that most of our efforts so far have gone towards creating our own currency, and we hope

[2020-03-18 13:46] synctext commented on #5221
Some overlap here, however they just want their own coin to become big https://docs.bisq.network/dao/phase-zero.html

[2020-03-18 15:23] ichorid commented on #5220
Disabling Market, RemoteQuery and GigaChannel communities does not help either.

[2020-03-18 16:36] egbertbouman commented on #5220
Not sure why this is happening. Considering the error I would expect this to happen a shutdown. If I remember correctly this is the error you get when a task destructor is called without the Task having finished.

For some reason, I can't seem to reproduce this (on Win10, Python 3.8, libtorrent 1.2.1). I've tried to run from source and using the RC1 binaries.

@ichorid Have you tried enabling asyn

[2020-03-18 17:17] egbertbouman commented on #5212
If you change the hop-count while seeding, Tribler will change the hop-count of the circuits over which you are seeding. If you don't want to seed anonymously anymore, you can set the hop-count to 0.

[2020-03-18 18:11] ichorid commented on #5220
@egbertbouman , I'll try it with asyncio debug enabled.

[2020-03-19 00:14] ichorid commented on #5220
After some fiddling with asyncio debugging, one of the logs produced this:
[code]

[This SO post](https://stackoverflow.com/questions/39712656/invalidstateerror-with-asyncio-futures-and-runtimeerror-with-aiohttp-when-using) suggests the problem is related to `add_done_callback` thing.

[2020-03-19 00:21] loadletter commented on #5199
I'm having the same issue with balance on V7.5.0-rc1 after upgrading from 7.3.2, my trustchain id, total blocks and the bandwith given/taken graph are OK but the number of users helped and token balance remains at 0 and trust graph doesn't show any other peer.

[2020-03-19 02:53] egbertbouman commented on #5220
Is this probably because the RequestCache has already timed out, but afterwards we still receive a packet for it. Basically, we just need to check the Future before setting the result:
[code]
(this is similar to what we do [here](https://github.com/Tribler/py-ipv8/blob/master/ipv8/dht/community.py#L75))

[2020-03-19 11:48] ichorid commented on #5199
@devos50 , do I remember correctly that we changed tokens storage format resulting in zeroing of tokens during upgrade to post-7.3 versions?

[2020-03-19 11:51] ichorid commented on #5220
EgbertDHT is not (the only thing) responsible for the crash. Running Tribler with DHT disabled still produces the crash.

Also, during one of the tests, I downloaded a couple of torrents, and when I clicked "Remove with data" Tribler crashed immediately. This points further to `add_done_callback` thing, because it is used in the `@require_handle` decorator.

[2020-03-19 11:53] ichorid commented on #5167
Well, that's a little embarrassing to say, but the problem is still there in 7.5.0-rc1 according to Reporter...

[2020-03-19 11:58] dymbe opened #5223 "Deb-file in installation guide missing"
The link to the deb-file in the [Debian/Ubuntu/Mint installation-guide](https://github.com/Tribler/tribler/blob/devel/doc/development/development_on_linux.rst#debianubuntumint) gives a 404.

The link: https://jenkins-ci.tribler.org/job/Build-Tribler_Ubuntu-64_devel/lastStableBuild/

[2020-03-19 12:04] egbertbouman commented on #5220
Correct, the issue in the DHT should not cause the crash since the packet handlers in IPv8 (whether they are async or not) will only log the error.

[2020-03-19 12:10] qstokkink commented on #5223
It seems we lost a header: https://github.com/Tribler/tribler/commit/fd5f8b7ef4822f22f94c54df3bf0c2b06f43eed0#diff-579c8e8eb793757e6a26a28853445394L59

The `.deb` file, should have been the alternative to installing dependencies manually through the previous steps.

[2020-03-19 12:32] ichorid commented on #5220
So, it is basically either Tunnels of Libtorrent wrapper (triggers even w/o bootstrap downlad and any other downloads, though.)

[2020-03-19 13:04] egbertbouman commented on #5167
I can't seem to find the crash report you're referring to. Or are you referring to errno 11001/11004 (which are different exceptions)?

We've already added some code to prevent crashing on that error (https://github.com/Tribler/tribler/blob/devel/src/tribler-core/tribler_core/session.py#L337), yet is still happens. That seems to be because the exception type is missing from the string that we're c

[2020-03-19 14:29] ichorid commented on #5167
Yep, I'm talking about 11001/11004.
[These](http://reporter.tribler.org/stacktrace/32196) [two](http://reporter.tribler.org/stacktrace/32198) reports.

[2020-03-19 17:40] synctext commented on #5220
Trying to also debug the new RC1 on Ubuntu. She is holding steady for a while already, no crash yet.

What is this?
```ERROR:TrustChainCommunity:Not sending crawl response, the block is invalid. Result (<function ValidationResult.invalid at 0x7f3d4b8c5510>, ['Total down is higher than expected compared to the next block'])```

Some chatter that should be fixed:
[code]

[2020-03-19 17:47] egbertbouman commented on #5220
@synctext Most of these errors are because someone is sending you bad packets (see https://github.com/Tribler/py-ipv8/issues/701). Not sure about the Trustchain error.

[2020-03-19 17:48] synctext commented on #5220
No refresh after adding dozens of new files to "My Channel" (you have to wait :-)
![Screenshot from 2020-03-19 18-47-09](https://user-images.githubusercontent.com/325224/77098082-160b0d00-6a12-11ea-9d3a-afaf6bccff45.png)

[2020-03-19 17:55] qstokkink commented on #5220
@synctext the `ipv8.messaging.serialization.PackError: Failed to unserialize SimilarityResponsePayload` error is from the kotlin implementation, we already informed @MattSkala 😉

[2020-03-19 18:43] ichorid commented on #5220
Channel size counters only updated on channel commits, which happen automatically (if you do not disable this feature in Settings). The added entries will be visible in the channel immediately, though.

[2020-03-19 18:45] ichorid commented on #5220
I am at loss dealing with this. Naturally, this is caused by something in Tunnels or Libtorrent. However, sometimes it will not trigger at all and there are no real debug messages.

[2020-03-19 20:42] synctext commented on #5220
Stable for a 3+ hours already, but not doing anon downloads. Normal downloads are OK.

[2020-03-20 12:20] ichorid opened #5224 "Temporary values (ports) get written into config"
Steps to reproduce:
run `run_tribler_headless.py` without options, see ipv8 port number in `triblerd.conf` rewritten with 8085.

There is another minor bug: default ipv8 port number should not be 8085 in `run_tribler_headless.py`.

[2020-03-20 12:34] ichorid commented on #5224
The true reason for this is that we use `config` object to pass around runtime-assigned values like dynamically assigned port numbers and API key value.

[2020-03-20 13:08] synctext commented on #5220
@ichorid @egbertbouman @devos50 Please coordinate and try to get something like the application stress tester operational to get a good reproducible crash of this. It might needs some repeated downloading. RC1 just crashed on me after 18 hours. No anonymous downloads, just 1 normal download active.

[code]

[2020-03-20 13:13] Tim-W commented on #5134
Change in relation to my most recent comment:
The system:
A music streaming and/or file sharing DAO where users can donate to artists. (near) 100% of those donations are received (near) instantly by the artist. Artists can prove which content is theirs so that the correct artist receives the donation.

[2020-03-20 13:14] ichorid commented on #5220
@synctext , I spent the last three days debuggin this. A stress tester would not help with debugging but could have helped with catching this earlier in development.
This is the worst kind of bug. There is almost no info no what causes it, and the crash is entirely stochastic.

[2020-03-20 13:21] synctext commented on #5220
Ai. What is your next-steps strategy? Could we enhance our application tester to output more debug info and give us some hints?

[2020-03-20 13:51] synctext opened #5225 "integrate Python notebooks into standard documentation of Tribler"
Besides #4521 and #4656.
We have several .ipynb files
- [Trustchain sim tutorial](https://github.com/grimadas/BlockchainEngineering)
  - https://github.com/grimadas/BlockchainEngineering/blob/master/00_Overview.ipynb
  - https://github.com/grimadas/BlockchainEngineering/blob/master/02_Services.ipynb
- [incremental-pagerank](https://github.com/Tribler/incremental-pagerank/blob/master/Report.ipynb)

[2020-03-20 14:15] synctext commented on #5220
btw Crashed again just after a call to ```PopularityCommunity``` for a second time.
[code]

[2020-03-20 14:29] egbertbouman commented on #5220
If you enable asyncio debug, we should get more information about this unfinished task..

[2020-03-20 14:39] ichorid commented on #5220
Unfortunately, we will not.
I got, like, three dozens crashes with asyncio debug enabled. Nothing suspicious. :disappointed:

[2020-03-20 15:02] synctext commented on #5220
[code]

[2020-03-21 12:04] ichorid opened #5226 "RuntimeError: Task already exists: 'unload_pex'"
7.5.0-rc1 from Reporter:
[code]

[2020-03-21 14:00] synctext commented on #5134
cool!
btw Both Bitcoin and Libtorrent have now been integrated in DelftDAO. That saves you lots of engineering.

[2020-03-21 14:34] ichorid commented on #5220
Printing full error context yields something useful (formatted manually for better readability):
[code]

[2020-03-21 15:12] qstokkink commented on #5220
Flip flopping between subclasses in the stacktrace, it seems that this future:

https://github.com/Tribler/tribler/blob/f80d6683cb23f792d111b82cb5bb26b551d75d89/src/tribler-core/tribler_core/modules/tunnel/community/triblertunnel_community.py#L206

Is added to this request cache:

https://github.com/Tribler/tribler/blob/f80d6683cb23f792d111b82cb5bb26b551d75d89/src/tribler-core/tribler_core/modules

[2020-03-21 15:25] ichorid commented on #5220
Fun fact: `should_join_circuit` is `async` in base AnonymizationCommunity, though it should not be. But TriblerTunnel Community overloads it with non-async version.

[2020-03-21 15:50] ichorid commented on #5220
So, on a CreatePayload, `on_create` gets fired, which then runs `should_join_circuit` and `await`s for `balance_future` created there. Also, `on_create` is a `Task` managed by the `TaskManager` aspect of TriblerTunnel Community.

What probably then happens is, _something_ cancels the Task while it is still waiting on the Future.

[2020-03-21 15:51] egbertbouman commented on #5220
@ichorid Yes, should_join_circuit in the base class is async, in TriblerTunnel is not and returns a Future. However, you both call them using `await should_join_circuit`. I don't really see the problem.

I think the issue that's causing the stacktrace is that `BalanceRequestCache.on_timeout` should be setting the result of the Future.

[2020-03-21 15:59] ichorid commented on #5220
@egbertbouman , but is there a guarantee that `BalanceRequestCache` will time out *before* the anonymous Task serving `on_create`? If it will not, the same problem will reappear again.

[2020-03-21 16:03] qstokkink commented on #5220
If I insta-pop the RequestCache I get a different task destroyed error, but this one is caught and logged (no crash!):

[code]

[2020-03-21 16:11] egbertbouman commented on #5220
@ichorid The anyonmous Task serving on_create will never timeout.

@qstokkink You removed the RequestCache, which results in the Future destructor getting called, which results in this crash. Again, I think you just need to set the Future before it gets destroyed.

[2020-03-21 16:13] qstokkink commented on #5220
@egbertbouman sure, but I want to confirm we're fixing the right thing. We have no way to reproduce it now.

This makes a hard-crash happen very quickly for me:

[code]

[2020-03-21 16:14] qstokkink commented on #5220
@egbertbouman I believe my `patch` file does indeed confirm that you are right and the `Future` destructor is the issue.

[2020-03-21 16:29] ichorid commented on #5220
@qstokkink , it crashes for me too almost instantly. This is indeed a good way to (hopefully) test the thing.

[2020-03-21 16:30] ichorid commented on #5220
This is exactly the kind of situation `trio` and cancellation scopes were designed to solve... :man_facepalming:

[2020-03-21 16:49] synctext commented on #5220
To prod in an open wound.. Guess in an more ideal Tribler world we would push code and see it broke the overnight application testers. First, a manual revert would be issued. Second, create a test which crashes it quicker by magic. Third, we would have a clear idea which PR broke stability. Finally fix is committed. Do we want to start defining and enforcing this more? Or we keep these seemingly f

[2020-03-21 17:03] ichorid commented on #5220
@synctext , this bug was introduced during transition from Twisted to Asyncio due to subtle difference in semantics. Also, overnight testers would probably not catch this, as this requires some time to trigger, and do not trigger at all at most machines.
Of course, we would like to get more effective deployment testing. However, this kind of bugs is really, really hard to hunt down unless you coll

[2020-03-21 17:05] synctext commented on #3418
As a wise man said:

What is the progress with lots of stuff mentioned above, like?
- [ ] [post_torrent_updates()](https://libtorrent.org/reference-Session.html#post_torrent_updates())
- [ ] session locks, IPv8 class structure, RESTmanager
- [ ] etc

[2020-03-21 17:06] Zoner23 opened #5227 "Fatal error detected: Failed to execute script pyi_rth_twisted"
#### Please, fill all relevant items: ####

- [X] I have read CONTRIBUTING.rst

- [X] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

7.4.4 stable

##### Operating system and version: #####

Windows 10 Pro Version 1903

##### Steps to reproduce the behavior: #####

Start Tribler.exe

##### Expected behavior: #####

[2020-03-21 18:35] ichorid commented on #5220
The proper way to handle this is to add a callback to set off the `balance_future` associated with `BalanceRequestCache` on cancellation of the associated Task, and not just setting `_on_timeout` as @egbertbouman suggested. This will guarantee that whatever the reason for cancelling the task (e.g. Tribler shutdown), `balance_future` will be triggered.

However, with the current implementation of `

[2020-03-21 18:37] ichorid commented on #5220
This is a pretty big refactoring. For 7.5. I'll try to stick to @egbertbouman 's solution and hope it works.

[2020-03-21 19:10] ichorid commented on #5220
I've applied @egbertbouman's fix and now testing the thing. If I don't see anything suspicious in a day or so, I'll file a PR.

[2020-03-21 19:16] synctext commented on #5220
Our RC1 crashes on Linux within an hour. I think that this should not be possible to go undetected in our process.

[2020-03-21 19:30] synctext commented on #5220
Anyways, #4999 does not need to be done in a hurry.

[2020-03-21 19:30] ichorid commented on #5220
I completely agree. However, the funny thing is that all this time no one paid any attention to _this particular_ crash due to Tribler crashing constantly because of Libtorrent 1.2.x transition, Python3 transition, Asyncio transition, GUI refactorings... Well, you get it.
One can only check regressions on a thing that is already stable.  "Garbage in, garbage out" as they say. Otherwise, tests beco

[2020-03-21 23:10] ichorid commented on #5227
Could you please provide us with a screenshot of the error?

[2020-03-22 13:39] synctext commented on #5220
Being patient for 14 years and 10 months is not always easy, but experimental release 4 and RC1 has solid performance and responsiveness!
![image](https://user-images.githubusercontent.com/325224/77250755-4dfc9500-6c4a-11ea-8359-da0c8e0f1a72.png)
btw did we switch anon relaying protocol? I'm not earning anything anymore, not part of any relay circuit.
![image](https://user-images.githubusercontent

[2020-03-22 16:07] ichorid commented on #5167
`socket.gaierror: [Errno -2] Name or service not known` error [report](http://reporter.tribler.org/stacktrace/32249)

[2020-03-23 12:33] mateicristea88 commented on #4039
Update:

- not a lot, busy with exams and studying from home
- getting comfortable with kotlin

[2020-03-23 12:35] devos50 commented on #5227
This error shows up (in a Windows dialog) when Tribler is unable to boot. This error is particularly hard to debug since there are no traces available. When we encountered this error in the past, it was often because of a missing runtime library. It might be that we forgot to update the Visual C/C++ runtime dependencies during our migration to Python 3.

[2020-03-23 13:59] devos50 opened #5229 "Build from current devel branch not starting on Mac and Windows (32-bit and 64-bit)"
I'm getting the following error when starting `Tribler.dmg` or `tribler.exe`, after Tribler has been stuck on the loading screen for 60 seconds:

[code]

This is with a clean state directory.

[2020-03-23 14:08] devos50 commented on #5229
The actual error seems to be hidden by the following warning: `Logger config not found in tribler-core/tribler_core/logger.yaml. Using default configs.`. I think that the location of this file is different in a frozen environment.

[2020-03-23 14:26] devos50 opened #5230 "logger.yaml not found in frozen environments"
When starting `tribler.exe`/`Tribler.dmg`, the following error is printed (twice) in the logs:

[code]

This leads to a less verbose format of our log output. Furthermore, it might hide valuable debug information. Could be related to #5229

[2020-03-23 14:38] devos50 commented on #5229
It also seems to fail on Windows, both 32-bit and 64-bit.

[2020-03-23 15:18] ichorid opened #5231 "No relaying // no credit"
[Users](https://github.com/Tribler/tribler/issues/5220#issuecomment-602202461) [report](https://forum.tribler.org/t/something-wrong-with-trust-graph/5825/2) that 7.5.0 (and possibly 7.4.4) does not work as a relay by default, resulting in no credit gain when Tribler is idle.

[2020-03-23 15:20] ichorid opened #5232 "7.5.0-rc2 todo checklist"
Outstanding issues to be addressed before releasing 7.5.0-rc2:

- [x] [Future-related crash](https://github.com/Tribler/tribler/issues/5220)
- [x] [Embedded null character](https://github.com/Tribler/py-ipv8/issues/714)
- [x] [Unload pex bug](https://github.com/Tribler/tribler/issues/5226)
- [x] [Catching more `gaierror`s](https://github.com/Tribler/tribler/issues/5167)
- [x] ~~[Windows and Mac de

[2020-03-23 15:32] devos50 opened #5233 "The is_frozen function is defined three times"
The `is_frozen` function that returns a boolean whether we are operating in a frozen environment, is defined in three files: `tribler_gui/utilities.py`, `vlc.py` and `install_dir.py`. We should move this method to the `tribler_common` package and import it from there.

[2020-03-23 17:12] #5220 closed

[2020-03-23 17:14] ichorid commented on #5226
closed by https://github.com/Tribler/py-ipv8/pull/718

[2020-03-23 17:14] #5226 closed

[2020-03-23 17:18] egbertbouman commented on #5231
Considering the default hop count is 1, it's no suprise there is little need for relays. Of course, some users will change the hop count and hidden services also requires relays. So, I would at least expect an occosional relay. I'll take a look at this.

[2020-03-23 18:12] egbertbouman commented on #5229
I hope I'm wrong here, but it could be related to aiohttp-apispec.

[2020-03-23 18:50] ichorid commented on #5167
When I `raise` an `Exception`, its `text` in `unhandled_errors_observer` does not include the error type, thus text-based ignored-error-catchers like ` if 'builtins.OSError' in text and '[Errno 113]' in text:` do not trigger.

The corresponding `test_error_observer_ignored_error` does not really test anything, because of it not using real `raise` calls. Instead, it checks reactions to dummy `dict`

[2020-03-23 19:12] #5230 closed

[2020-03-23 19:22] devos50 opened #5237 "Clicking on the progress bar in the VoD screen without an active video causes an crash"
When opening Tribler and going to the video player, I can crash Tribler by clicking somewhere on the video progress bar. It crashes with the following stack trace:

[code]

[2020-03-23 19:56] egbertbouman commented on #5229
Yep, it was aiohttp-apispec. It wasn't able to find the static html/js files, and produced no error message. I'll make a PR.

[2020-03-23 20:03] mehlon commented on #5212
So if I'm getting this right:
Non-anonymous seeding: no cost
Non-anonymous downloading: no cost
Anonymous seeding: no cost, regardless of number of hops
Anonymous downloading: costs tokens equal to number of hops * file size

[2020-03-23 20:21] ichorid commented on #5212
You're completely right. Though, there is a bug resulting in "leaking" control traffic through exit nodes to non-Tribler clients when you're seeding anonymously. We're currently working on a fairer traffic accounting system.

[2020-03-23 20:35] devos50 commented on #5229
Nice find!

[2020-03-23 20:37] devos50 opened #5240 "coverage.py is unable to parse some files during the Windows unit tests"
In nearly every log of the Win64 unit tests, it says:

[code]

This might result in invalid code coverage results and should be fixed. I suspect that Python 2 is still used here.

[2020-03-23 20:56] devos50 commented on #5240
Python 2.7 was still used indeed on the Windows 64-bit builder/tester. I removed all Python 2.7 references from the `PATH` variable to ensure that the Python 3 version of `coverage.py` is used 👍

[2020-03-23 21:12] devos50 commented on #5240
The error seems to persist, even when using Python 3. I will debug it further tomorrow.

[2020-03-23 22:08] ichorid opened #5241 "[7.5.0-rc1] resolving tracker: task already exists"
From reporter:

[code]

[2020-03-24 09:32] devos50 commented on #5231
In the application tester, I'm seeing tons of timeouts on crawl requests and payouts. If half blocks are not counter-signed, it would explain the negative balances. I will debug it more.

[2020-03-24 09:56] synctext commented on #4039
Sprint update in the age of Corona.
- trying to spend 1 day per week
- first priority is getting code into https://github.com/Tribler/trustchain-superapp
- cleanup and making available as a general library
- Monday 20 April at least 1 team will starting expanding this for movie/Youtube-like recommendation.
- critical they having _documented_ and _stable_ code by week 3: Monday 4th of May 2020

[2020-03-24 10:03] ichorid commented on #5229
I've tested rc1 on Julia's PC before releasing it. There was no problem (used x64 version).

[2020-03-24 10:09] synctext commented on #5134
@Tim-W online for sprint update?

[2020-03-24 10:43] #5237 closed

[2020-03-24 13:03] ichorid commented on #5167
I'm handling this properly now...

[2020-03-24 13:38] Dmole commented on #5167
Good because [7.5.0-exp1] is still crashing in under 12h with
[code]

[2020-03-24 13:50] egbertbouman commented on #5229
It's broken on devel only.

[2020-03-24 14:31] ichorid commented on #5167
@Dmole , that's a [completely different error ](https://github.com/Tribler/tribler/issues/5220)

[2020-03-24 14:34] PraveshMoelchand commented on #5145
**UPDATE**
- We have been working on the double voting defense and have implemented that a vote is only counted once.
- We updated the HackMD file
- We have been in contact with the currency group to merge our stuff with theirs, but figured out that they were not ready yet for merging. We were not aware that they had asked for a deadline extension. We are now specifying our functions so that the i

[2020-03-24 14:36] Dmole commented on #5167
It did not show up in my search;

https://github.com/Tribler/tribler/issues?q=is%3Aissue+is%3Aopen+7.5.0-exp1+event_request_manager.py

and I assumed there may be an underlying iesue in event_request_manager.py causing one line stack traces.

[2020-03-24 14:42] ichorid commented on #5167
"one-line stack traces" you're talking about [are already fixed](https://github.com/Tribler/tribler/pull/5236) :wink:

[2020-03-24 14:47] qstokkink commented on #5241
This seems to be already fixed in the latest IPv8.

[2020-03-24 14:48] Dmole commented on #5167
With those 2 things fixed it's a good time for rc2 IMO. (this issue is less intrusive than the others)

[2020-03-24 16:38] synctext commented on #143
Scientific principle behind our work on identity, trust, cooperation, and trade:
- create a collection of autonomous agents which can scale indefinitely
- each autonomous agents directly observes the state around them and has long-term memory
- agents are truly autonomous and never receive instructions from others; or tells them what to do
- reputations are calculated only through direct observati

[2020-03-24 17:20] #5229 closed

[2020-03-25 01:07] tpapak01 commented on #5146
Integration with superapp (as a separate module) is complete. GUI screenshots will follow soon.

![Screenshot_20200325-012236](https://user-images.githubusercontent.com/15090265/77490844-67fdc980-6e3c-11ea-8ece-839a2a4f0f4c.png)

I guess one main question about the integration with the other teams is: "what are we supposed to transfer from peer to peer in the form of torrents? Is it votes? Is it e

[2020-03-25 09:12] synctext commented on #5146
Sprint feedback:
- [ ] smart contract demonstrator, based on FBase principles
- [ ] what is the Delft-DAO smart contract _demo_

From prior list:
- [ ] stateless issue and make code imports persistent (try to do it with no extra Android permissions)
- [ ] sophisticated Webview solution of FBase still on ToDo list

[2020-03-25 09:57] PJvanderLaan commented on #5144
## Done this week (2020-03-18 - 2020-03-25)

- Finalize back-end methods of multisig transactions
    - Sending from a multi-sig wallet
    - Changed onboarding process
- Connecting bitcoin, trustchain and UI code
    - Hard to test, since we need multiple devices
    - Connection took (a lot!!) longer than expected
    - Code is finished, but there are still some bugs
    - Cleanup of code, refac

[2020-03-25 10:06] synctext commented on #4863
Grand ToDo list till end of this course for all groups (not exhaustive!)

### ALL GROUPS
  - [ ] How to integrate with superapp
  - [ ] How to integrate with other teams
  - [ ] API with Distributed APP

### [Create your own currency (Team II)](https://github.com/Tribler/tribler/issues/5144#issuecomment-603748773)
  - [X] Connect Trustchain and Bitcoin

###  [Freedom of Computing](https://github.c

[2020-03-25 10:25] synctext commented on #5144
Sprint progress:
- [ ] Anybody can start their own DAO with their rules
- [ ] Anybody is free
- [X] Trustchain integration: serialised Bitcoin Multisig
- Real Bitcoin are almost untouched (minor Tx costs)
- [ ] integration started with democracy group, finalise in Week 4.8
- [ ] what can demo inside a "BTC hello world" distributed app

[2020-03-25 11:54] synctext commented on #5143
sprint progress:
- stuck for a week basically
- looked into Tribler code and got a bit overwhelmed
- ignore that code in future
- integrated AI technology (simple linear classifier)
- observe the live market community
- buy for this price, sell for this price

[2020-03-25 12:49] PraveshMoelchand commented on #5145
Proposed API to work with the [currency group]():

[code]

[2020-03-25 13:03] synctext commented on #5145
Sprint progress:
- [X] first version of integration API with MutiSIG Bitcoin, next version coming
- [ ] two type of votes
  - [ ] vote on new member in the Delft-DAO (automatically approve if interity is OK)
  - [ ] vote on new code addition in superapp / Delft-DAO
- [ ] operational voting system
  - [ ] "cheat" and create a prototype with known weak security assumptions
  - [ ] single central pro

[2020-03-25 14:20] #5241 closed

[2020-03-25 14:20] ichorid commented on #5231
Probably closed by #5245

[2020-03-25 14:20] #5231 closed

[2020-03-25 14:59] Tim-W commented on #5134
Sorry, I have not been able to make much progress in the recent weeks.. (see my email) I will give an update the coming Tuesday

[2020-03-25 18:35] Nubro01 opened #5247 "Trust statistics wrong"
#### Please, fill all relevant items: ####

- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
7.5 rc1
##### Operating system and version: #####
Windows 10 18363.720
##### Steps to reproduce the behavior: #####
Run tribler 7.x
##### Expected behavior: #####
While seedng Token

[2020-03-26 11:39] ichorid commented on #5232
Releasing RC2, so closing this.

[2020-03-26 11:39] #5232 closed

[2020-03-26 11:46] ichorid commented on #5247
There is a known "token" leak when you're seeding through the exit nodes to non-Tribler users. You're still technically "paying" the exit node for bittorrent protocol acknowledgements packets in this case. We have not decided yet how to tackle this problem. One solution would be to only allow hidden seeding to Tribler users, but that requires fixing hidden services. In 7.5, bootstrap file is share

[2020-03-26 11:47] ichorid commented on #5167
Fixed in #5224

[2020-03-26 11:47] #5167 closed

[2020-03-26 14:26] hbiyik opened #5249 "Problem on Streaming with Kodi"
Hello Tribler Team

Since tribler is getting more and more stable everyday i started kodi addon development.
https://github.com/hbiyik/repository.biyik/tree/master/plugin.program.tribler
But i have a problem when streaming an unfinished torrent with kodi player.

When kodi starts streaming the torrent, the torrent sets the state DLSTATUS_SEEDING and progress hits to %100 and the download does not

[2020-03-26 15:05] devos50 commented on #5249
@egbertbouman could you have a look at this?

[2020-03-26 16:40] Nubro01 commented on #5247
If I go to the Tribler Debug pane and look at the IPv8 statistics then that shows;
total_up 12.44 MB
total_down 10.69 MB
How come these reflect the counts better?

[2020-03-26 17:23] devos50 opened #5250 "TriblerTunnelCommunity.remove_circuit(): Task was destroyed but it is pending!"
The following error got caught by the application tester (Windows 7, 64-bit):

[code]

[2020-03-27 07:26] qstokkink commented on #5250
This is triggering on the `await gather` here (in `remove_circuit()`):

https://github.com/Tribler/tribler/blob/f80d6683cb23f792d111b82cb5bb26b551d75d89/src/tribler-core/tribler_core/modules/tunnel/community/triblertunnel_community.py#L404-L407

[2020-03-27 09:48] devos50 opened #5251 "[Software Project 2019/2020] Building a critical infrastructure for the nation-wide identification of recovered COVID-19 (Corona) patients"
This issue hosts references and discussion related to the software project we added to ProjectForum.

# Description in ProjectForum

The research of the Delft Blockchain Lab orients around digital identity, cryptographic key management, verifiable claims, self-organisation, trust, and tamper-proof datastructures (e.g. blockchain). In collaboration with the Dutch National Institute for Public Healt

[2020-03-27 10:11] devos50 commented on #5251
A list of references for this project

## Primary references

- [Oxford project](https://045.medsci.ox.ac.uk/mobile-app)
- [Radbound project](https://blog.xot.nl/2020/03/25/hansel-and-gretel-and-the-virus-privacy-conscious-contact-tracing/)
- [Reverse engineering of ‘TraceTogether’ in Singapore](https://medium.com/@frankvolkel/tracetogether-under-the-hood-7d5e509aeb5d)
- [MIT app](http://safepaths

[2020-03-27 10:25] devos50 opened #5252 "Database disk image is malformed"
From the error reporter (7.5.0-RC2):

[code]

Related to #1993

[2020-03-27 10:27] qstokkink commented on #5252
What should we do when the database is corrupt beyond repair? Remove it?

[2020-03-27 10:58] TimSpeelman commented on #4461
The past two weeks have not been as productive as I had hoped, primarily due to the Corona virus. Also, I have had difficulties with balancing the ambition of closing the reality gap, with the reality of closing my thesis project.

The result is the following problem description, which is still a bit rough, but should completely describe the problem and scope of my project. Note that chapter 2 is

[2020-03-27 12:05] qstokkink commented on #4461
Did a quick review. Overall the storyline is pretty good. In detail:

General:
 - All of your claims and terminology must be backed up by either proof or a reference (or they need to be common knowledge) -- I'm going to be complaining a lot about this in the following points.

Chapter 2:
 - (2.0) How do your two problems emerge? Not obvious how these emerge from the thesis goal of "verifications o

[2020-03-27 12:09] ichorid commented on #5252
In this case, we should mark the database corrupted and schedule a DB check on the next startup. Ideally, we should employ DB's own mechanisms for that.

[2020-03-27 12:17] egbertbouman commented on #5249
@hbiyik I agree, this issue is most likely step 5. Every time a http request is made, the piece priorities in libtorrent change. Because step 5 requests only the end of the file, Tribler will simply download it, and afterwards report that the download is finished (so it starts seeding).

I'll have a look and see if I can also make it work for multiple simultaneously requests, assuming the required

[2020-03-27 12:20] egbertbouman commented on #5250
Do we have any idea whether or not this happened during shutdown? Can I find this on Jenkins somewhere, so that I can investigate this further?

Could possibly be related to the weakref patch in IPv8, since the `TaskManager` would normally prevent this from happening. I'll have a look and see if I can fix it.

[2020-03-27 12:21] synctext commented on #4461
Good stuff indeed! Solid progress for your thesis, no need to deviate from this path anymore. Sprint remarks:
- separate cryptographic integrity and business-level integrity. Interoperability does not seems like the optimal term to cover this (but that's merely thesis writing semantics). Accepting claims from a party means trusting them! Goes beyond parsing bits, checking signature, and protocol i

[2020-03-27 12:24] devos50 commented on #5250
@egbertbouman Nope, it did not happen during shutdown. There are no log outputs in the application tester on Windows (I think this is somehow related to the setting whether the console log is shown or not). See [here](https://jenkins-ci.tribler.org/job/Deployment-Tests/job/Run_Tribler_Release/job/Run_Win7_64bit/999/console).

[2020-03-27 12:32] egbertbouman commented on #5250
@devos50 Thanks! I'll have a look.

[2020-03-27 13:20] ichorid commented on #5250
This stuff is already on Reporter for 7.5.0-rc2.

[2020-03-27 16:40] synctext commented on #5250
Bug is also confirmed to happen also on Linux 64-bits 18.04

[2020-03-27 18:22] hbiyik commented on #5249
thanks for the support, I just added giga channels and remote query support to the addon, it works awesome.

[2020-03-28 07:58] devos50 opened #5254 "[devel] test_watchdog_event_debug randomly failing on Mac"
Also see [here](https://jenkins-ci.tribler.org/job/GH_Tribler_PR_Tests/job/PR_async_mac/514/artifact/output/test_runners_output/3.err/*view*/).

[code]

[2020-03-28 12:01] synctext commented on #31
We also need to document our "_design principles_" (ToDo make axiomatic):
- Reputations establish the prevalence of cooperation based on reciprocity
- Reputation is rewarded with reciprocity
- Reputation is awarded for contribution of value
- Reputation enforces net-positive contributions
- Reputation starts from zero
- Reputation is not transferable
- Reputation is an estimate for non-Sybil proba

[2020-03-28 12:14] synctext opened #5255 "Token balance graph error"
Somehow the first and last datapoint is connected with 2nd "Bytes taken" line.
![Screenshot from 2020-03-28 13-12-08](https://user-images.githubusercontent.com/325224/77822742-d7521280-70f5-11ea-9e5a-1f532707b03b.png)

[2020-03-28 13:01] ichorid commented on #5255
This is also reported by a user at the forum.

[2020-03-28 16:45] synctext commented on #4481
[Switched thesis repo, 102 page thesis .PDF now here](https://github.com/alexander-stannat/Msc-Thesis/raw/master/report_style/report.pdf)

[2020-03-28 16:58] Tim-W commented on #5134
Trying to define a better problem statement:
**Problem statement updated, split up into 4 subproblems:**
* As a user of any good paid audio streaming service, large share of my money goes to the platform instead of my favourite artists.
* Torrenting the music while giving donations in parallel to artists is a solution. However this is a bad user experience as there exists no seamless streaming and

[2020-03-28 18:18] alexander-stannat commented on #4481
Yes, please note that the current final thesis is found [here](https://github.com/alexander-stannat/Msc-Thesis/raw/master/report_style/report.pdf).

I transitioned to the official TU Delft thesis template a few months ago. Sorry if this caused any confusion. I will make sure to "tidy up" the repository in the days to come.

[2020-03-29 11:05] ProphetZarquon commented on #4827
Fascinating research here!
I am convinced that censorship resistant internet-independent decentralized communication apps will never reach a geographic density of peers sufficient to ensure connectivity throughout urban (much less rural or wilderness) areas until cellular or other 1mi+ bands can be leveraged by said app. Local mesh connectivity is all well & good for research & in limited use case

[2020-03-29 12:42] egbertbouman commented on #5250
I've seen this error twice in a row, but nothing after that. Not a single crash in 7+ hours.

Luckily, it's pretty obvious what's happening here. The `remove_circuit` task gets garbage collected without the `gather` statement having finished. This could happen if there are no references to this task anymore, which is why as was referring to the weakref patch earlier.

Looking at the code, it's cle

[2020-03-29 13:28] qstokkink commented on #5250
Could this not happen with future methods then? Seems like the long-term solution is to go back to a normal dictionary in the TaskManager. We WILL have to fix what was causing the memory leak in the first place then - which is why the weak dict was introduced.

[2020-03-29 13:45] ichorid commented on #5250
Basically, we want 2 conditions to always hold:
 1. unfinished Tasks should never be garbage collected.
 2. as soon as a Task is finished, its reference should be removed from the parent TaskManager.

WeakValueDict guarantees condition 2, but violates condition 1.
Regular Dict guarantees condition 1, but violates condition 2

[2020-03-29 13:52] egbertbouman commented on #5250
@qstokkink Futures will produce the same error if garbage collected without having finished.
Since I'm having problems reproducing the error I can't really be sure that switching back to a normal dictionary will fix the issue.

[2020-03-29 14:43] devos50 commented on #5255
I can't seem to reproduce this issue on Mac, by plotting some basic time series.

@synctext To further debug this, I need the `trustchain.db` in the `sqlite` directory of your Tribler state directory. Furthermore, I need your public key, which you can find by going to the debug pane -> Trustchain. A screenshot should suffice 👍

[2020-03-29 16:53] qstokkink commented on #5250
Regular Dict guarantees condition 1, but violates condition 2

Given the insane stack-traces that are popping up I think I'm starting to lean toward a regular dict.

@egbertbouman Sorry, miscommunication there. I didn't mean "methods that produce a future", I meant "other methods in the future".

[2020-03-29 17:55] ichorid commented on #5250
@qstokkink, if you intend to use a regular dict, you'll have to clean up finished Tasks periodically. Though, that would only mask the leakage of those Tasks that got completely stuck.

[2020-03-29 20:34] egbertbouman commented on #5249
Nice plugin, it works really well!

After some testing, it seems sometimes Tribler does recover after some time and the video starts playing. I did use non-anonymous downloads since they tend to have a higher download speed. If the download speed is too slow, Kodi just seems to abort playing entirely.

I think streaming needs a lot of work to get it to work properly with Kodi. However, considering

[2020-03-30 03:49] hbiyik commented on #5249
Ok, may be I can progress if i struggle more :)

[2020-03-30 07:17] qstokkink commented on #5250
We used to have this, but it got removed. We'll reinstate this then:

https://github.com/Tribler/py-ipv8/commit/67be0e25d1b3e525a205279256bca17f6defd2fe#diff-145623a5557fcda4c674f84e896ae105L162-L174

At least we can log exactly what gets stuck instead of having mysterious errors like this issue pop up.

[2020-03-30 11:43] egbertbouman commented on #5250
@qstokkink The reason that I removed the periodic cleanup is that it was causing stacktraces to only show up much later (during the cleanup). I replaced it with `done_cb` which should remove the Task directly after it's done (see https://github.com/Tribler/py-ipv8/blob/master/ipv8/taskmanager.py#L106).

So, I guess this means that a lot of tasks never finish. To me, this sounds like a bug, or at l

[2020-03-30 11:56] qstokkink commented on #5250
Yes. But we need some way of know what these particular tasks are. I would propose periodically checking the state of the currently registered tasks and logging a warning if any of them stay around for more than.. 10 minutes or so?

[2020-03-30 12:17] ichorid commented on #5250
@qstokkink , when was the last time you found a bug by looking at a warning in a user's log? :wink:

[2020-03-30 12:18] qstokkink commented on #5250
@ichorid Well people sent me about 5 messages regarding deserialization warning just a week ago.

[2020-03-30 12:38] ichorid commented on #5250
@qstokkink , good for you. Seems IPv8 users are more inquiring than Tribler users in general. Of two years here, I never witnessed anyone but developers worry about anything in the logs. :man_shrugging:

[2020-03-30 15:08] egbertbouman commented on #5250
For testing purposes, I've added a loop to the `TaskManager` that checks for long-running non-interval tasks, and logs a warning if such tasks exist.

It seems that even with a `WeakValueDictionary` we have some memory leakage, although the tasks may get garbage collected eventually. For instance, when the `TorrentChecker` cleans up a session, the cleanup task can get stuck. This is something that

[2020-03-30 15:13] qstokkink commented on #5250
@egbertbouman could you bring that into production?

[2020-03-30 15:17] egbertbouman commented on #5250
@qstokkink I'll make a PR for it.

[2020-03-30 15:17] qstokkink commented on #5250
@egbertbouman thanks 😃

[2020-03-30 15:51] ichorid commented on #5250
@egbertbouman , please don't forget about fixing the original issues that started this thread... :wink:

[2020-03-30 15:58] egbertbouman commented on #5250
@ichorid Luckily I have you to remind me, thanks!

[2020-03-30 16:40] qstokkink commented on #5250
https://stackoverflow.com/a/47476998

[2020-03-30 22:52] Tim-W commented on #5134
Forked IPv8 superapp, [wrote some code](https://github.com/Tim-W/trustchain-superapp/), added my own very simple app to it.
<img src="https://user-images.githubusercontent.com/4957928/77968701-43946800-72e8-11ea-9c95-eeeb14168faa.png" width=300/>
* Created custom ipv8 community
* Iterative peer discovery
* "Discover music content": iterative scanning
* Very simple "discovery" messages on overlay w

[2020-03-31 08:26] synctext commented on #3571
One of the hard things about getting adoption for ```distributed trust``` is that it is a general societal concept, not a specifically useful tool. In other words, ```distributed trust``` can be used for numerous of different undertakings. This is a strength long-term but a bit of a detriment short-term. We need to find the killer usage that drives ```distributed trust``` adoption now or we won't

[2020-03-31 09:20] synctext commented on #4999
Please look at [FileCoin slipped roadmap](https://filecoin.io/blog/roadmap-update-february-2020/). After Release 7.5 I'm considering that we work together on the first _Jenkins dashboard_ for 2 weeks:
- [ ] arrange hardware monitors with obscene awesomeness, due to size (@synctext) <IMG src="https://user-images.githubusercontent.com/325224/78009418-496a6780-7341-11ea-99ed-c58d9663a7e3.png" width=1

[2020-03-31 09:28] synctext commented on #5249
@hbiyik We have received funding till 1 Sep 2025! We're currently trying to fill 4 openings for phd students within the lab. As usual the Tribler Lab has trouble delivering quickly, but we'll get there slowly.

[2020-03-31 09:40] qstokkink commented on #4999
Can we decide on some software/library to use (or to make) to graph all of this data? All sorts of dashboard creation tools exist.

[2020-03-31 10:09] devos50 commented on #4999
Most of this data can either be extracted from our existing Jenkins Job using the API, or from our running Trustchain explorer backend, also with API requests. One of the question we should also answer, is whether we want a dedicated website for this. Jenkins unfortunately does not provide the tools for such real-time data, and integration of this dashboard in Jenkins would just be a new job with

[2020-03-31 10:23] ichorid commented on #5250
Closed in #5259

[2020-03-31 10:23] #5250 closed

[2020-03-31 13:44] awrgold commented on #5143
![image](https://user-images.githubusercontent.com/13334118/78033241-6b2a1580-7366-11ea-8729-68ad0b0b81d0.png)

Our classifier is now able to predict whether or not to execute a trade depending on the value of the bid/ask order. Class 1 is an ask, class 0 is a bid.

[2020-03-31 13:46] tijmen104 commented on #5143
Further update on the progress:
We have implemented functionality on the MarketCommunity that allows broadcasting bids and asks, also implemented is listener functionality for bid and asks. We used ipv8 messages for this.
Furthermore a GUI is created for sending bid and asks.
We are currently in contact with the other groups for integration. Our main focus is working together with the freedom of c

[2020-03-31 16:57] hbiyik commented on #5249
@synctext these new refactoring was very affective. Definetely right track, we have been waiting for > 10 years so, it is ok :)

[2020-03-31 20:57] emieldesmidt commented on #5145
Last week was for all of us rather hectic, nevertheless we have made some solid progress both in terms of coordination as well as voting.

For the integration with the other groups:
 - Organised a joined team call with the other teams to track progress and raise awareness (more on that later)
 - Close contact with Bitcoin team, which highlighted some issues (One of us will briefly join the 11am me

[2020-03-31 22:30] hbiyik opened #5261 "Poor exception Handling in Torrent Checker and Session"
This is just the summary of another issue found in:

https://github.com/Tribler/tribler/pull/5253#discussion_r400412715

The torrent Checkers are caching * exceptions and supressing the errors and redirects the excetion message to response dict. This is itself a weak design to my pov never the less it does not stop there,

the exception result dict is then redirected in the checker session and che

[2020-04-01 07:49] tijmen104 commented on #5143
<img width="461" alt="Screenshot 2020-04-01 at 09 48 25" src="https://user-images.githubusercontent.com/17596727/78112057-f0143e00-73fd-11ea-9c66-c5b9a4bb78fc.png">
We can send and display bid and asks messages!

[2020-04-01 07:54] devos50 commented on #5143
Wow, that really cool progress guys! This is a critical step towards a decentralised market on a mobile phone 👍

Maybe you could improve the presentation a bit, and show asks on the left side, and bids on the right side, sorted on price (not sure if this is the focus of your project, just a suggestion)?

[2020-04-01 08:22] synctext commented on #5146
Sprint progress:
- [ ] Focus on basic integration and "Hello World" demo for other teams (first priority)
- [ ] module inside superapp (```Create a pull request of your branch into the dao branch of Tribler/trustchain-superapp repository```)
- [ ] define the structure of the APK: ipv8 community loading, put state in local sql, trustchain DB, or another design approach
- [ ] State preservation is n

[2020-04-01 08:57] InvictusRMC commented on #5144
# Progress last week (25-03-2020 - 01-04-2020)

* Test trustchain interactions from CoinCommunity
    * Fix related bugs
* Discuss integration with voting group
* Block discovery on trustchain
* Shared wallet discovery through block discovery on trustchain
* Ability to import seed and changes to UI
* Started integration with super app (not succesful yet)
  * However commit history is preserved

<i

[2020-04-01 09:11] synctext commented on #5144
- [ ] [initial code somewhat running](https://github.com/InvictusRMC/trustchain-superapp/blob/472d532875bedf8f9fbe7c8f3cdbddfbab141893/currencyii/src/main/java/nl/tudelft/ipv8/android/demo/CoinCommunity.kt#L18)
- [ ] Integrate with Superapp by Friday using PR
- [ ] Bundle documentation

[2020-04-01 10:07] synctext commented on #5145
- goal of generic voting: quorum based, no endtime
- as-simple-as-possible with PR this Friday
-

[2020-04-01 10:56] ichorid opened #5262 "DNS leak?"
Some of our users showed concern about their system's resolver leaking DNS queries when checking trackers, etc. We should investigate it.

[2020-04-01 10:58] qstokkink commented on #5262
Isn't this fixed in 7.5?

[2020-04-01 11:03] ichorid commented on #5261
Thanks for the report. We were not aware of this.

[2020-04-01 11:07] ichorid commented on #5262
DHT leak is fixed in 7.5. This one is talking about DNS hostnames for trackers, which are served by system resolver.

[2020-04-01 11:15] qstokkink commented on #5262
Oh my bad, I thought that was also anonymized now.

[2020-04-01 11:15] synctext commented on #5143
- Try to integrate the stand-alone machine learning by Fri to Superapp with a PR
-

[2020-04-01 11:17] egbertbouman commented on #5262
Torrent checking is not anonymous, only `DownloadManager.get_metainfo` is.

[2020-04-01 11:21] qstokkink commented on #5262
Should we create a feature to only use anonymized DHT lookups?

[2020-04-01 11:27] egbertbouman commented on #5262
DHT lookups all rely on `get_metainfo`, so they shouldn't leak. To fix any leakage in `TorrentChecker`, we need to allow it to use a SOCKS5 proxy, and also allow TCP scrape requests in the `TunnelCommunity`.

[2020-04-01 11:35] qstokkink commented on #5262
Seems like a reasonable feature for `7.6` to me.

[2020-04-01 11:41] synctext commented on #4827
- DDoS protection?
- 1000 ports listen ports, 1 MByte per second with 100 Byte packets = 10k packets per second

[2020-04-01 12:12] egbertbouman commented on #5262
I was thinking that maybe we should just allow all TCP requests that have a bencoded response. This would automatically allow both scrape and announce requests to TCP trackers while avoiding tracker specific logic/messages in the `TunnelCommunity`.

[2020-04-01 12:52] ichorid commented on #5262
@egbertbouman , sounds like a (relatively) simple and robust solution.

[2020-04-01 13:24] synctext commented on #5143
_Future work, after this course (notes)_
- With this DAO anybody can create their own tokens without limits
- It is possible to use an existing Euro bank account as collateral
  - use an IBAN account as escrow
  - Safety of the escrow Euros options:
    - You need to trust the token minter to be trustworthy and never fraud
    - Bank can provide a signed balance certificate (machine readable)

[2020-04-01 14:28] devos50 commented on #4533
Haven't seen this issue anymore.

[2020-04-01 14:28] #4533 closed

[2020-04-01 14:32] devos50 commented on #4673
Is this issue addressed now? I will move it to the 7.6 milestone but if it is resolved, feel free to close it 👍

[2020-04-01 14:33] devos50 commented on #4084
We have a feature freeze for 7.5 now, moving this issue to the next milestone.

[2020-04-01 14:35] devos50 commented on #2957
@emarsk we are aware of the issues with the video player. In our upcoming release (7.5), we have refactored the entire channel mechanism and therefore were not able to address this issue yet. We will consider solving this issue in our 7.6 release and aim to give this issue more attention.

[2020-04-01 14:36] qstokkink commented on #4673
I believe this is fixed.

At any rate, the OP is out of date: anything in this thread that has not been resolved needs a new issue.

[2020-04-01 14:36] #4673 closed

[2020-04-01 14:36] devos50 commented on #4862
I suppose we will address this issue after the 7.5 release?

[2020-04-01 14:37] devos50 commented on #4766
Would be very nice to have but not feasible for the 7.5 release.

[2020-04-01 14:39] devos50 commented on #4968
@ichorid I suppose this will go to 7.6?

[2020-04-01 14:40] devos50 commented on #4899
Shall we address this in 7.6?

[2020-04-01 14:44] devos50 commented on #5035
I think this issue is sufficiently addressed, up to a point where we can make individual issues out of the remaining items in the list. I will do so in a moment.

[2020-04-01 14:44] #5035 closed

[2020-04-01 14:46] devos50 opened #5263 "Port the community crawler to IPv8"
Currently, we have a peer crawler running which information is displayed [here](http://statistics.tribler.org). This crawler, however, still uses Python 2. It also seems that the crawler itself is unstable in a sense that the time between two data points varies much.

We should port this crawler and improve it, to get more accurate statistics of the number of online users in the network.

[2020-04-01 14:47] Tim-W commented on #5134
@synctext Can you link me to the project for bitcoin/libtorrent integration in DelftDAO?

[2020-04-01 14:47] qstokkink commented on #5263
Well we broke some edge cases for wire format with Dispersy. So we can't upgrade that any further without losing information.

[2020-04-01 14:48] qstokkink commented on #5263
This is usually caused by REST requests that are too aggressive or a lack of disk space.

[2020-04-01 14:49] devos50 commented on #5040
I'm closing this issue since we don't really have the time and resources to support archlinux.

[2020-04-01 14:50] #5040 closed

[2020-04-01 14:50] devos50 commented on #5060
The application tester on all our major platforms reveal that this issue is fixed.

[2020-04-01 14:50] #5060 closed

[2020-04-01 15:03] devos50 commented on #4892
This issue is not specific to `pyqtgraph`: many dependencies are missing from our documentation on how to setup a developer environment. Let's fix this one before the 7.5 release.

[2020-04-01 15:04] devos50 commented on #5034
It seems that the token balance screen works now on Linux.

[2020-04-01 15:04] #5034 closed

[2020-04-01 15:04] devos50 commented on #5108
@ichorid What's the status of this issue?

[2020-04-01 15:05] devos50 commented on #5116
This test seems to work now on windows:

[code]

[2020-04-01 15:05] #5116 closed

[2020-04-01 15:09] devos50 commented on #5126
In 2017, we switched the public key used to sign the builds. The new key, which we use since then is the following: `700924EB2BF09E54920751549DD1E058B9FCA9DC`. This one should be available in the MIT PGP Key server.

[2020-04-01 15:09] #5126 closed

[2020-04-01 15:16] devos50 commented on #5130
This seems to be an issue when on a specific time scale, since zooming out more reveals the month: https://gyazo.com/cb280b962ca9e3b3530066c1f59e0ffc.

I will defer this issue to 7.6.

[2020-04-01 15:18] devos50 commented on #5125
Note that we only want this on a clean exit, and not when Tribler has crashed. Therefore, the GUI should notify the core somehow whether it should remove the log files in the `/tmp` directory (which can be done by adding an additional flag to the shutdown HTTP endpoint).

Since it has been like this for many years now, I will defer the issue to the 7.6 release.

[2020-04-01 15:19] devos50 commented on #5157
@ichorid what's the status of this issue?

[2020-04-01 15:19] devos50 commented on #5178
I haven't seen this issue recently and I consider it fixed. Please re-open if it appears again.

[2020-04-01 15:19] #5178 closed

[2020-04-01 15:20] devos50 commented on #5180
I haven't seen this issue recently. Considering it fixed.

[2020-04-01 15:20] #5180 closed

[2020-04-01 15:21] devos50 commented on #5193
Is this wrong? IIRC, the `tribler.sh` script is installed to `/usr/share/tribler` so if there is a previous version, that directory is most likely not empty.

[2020-04-01 15:22] devos50 commented on #5203
No we can't. The application tester suggests that the memory usage of Tribler is stable, even when downloading/relaying data. So let's hope that we do not need extensive memory profiling in 7.5.

Still, I would be in favour to get at least some memory dumper back in Tribler, but this is more suited for the 7.6 release.

[2020-04-01 15:24] devos50 commented on #5223
We should fix this before the 7.5 release.

Also related to #4892

[2020-04-01 15:24] devos50 commented on #5224
@ichorid do we want to fix this for the 7.5 release?

[2020-04-01 15:26] devos50 commented on #5247
I think we have already plenty of issues around the wrong token balance, so I'm closing this one. We acknowledge that the issue can be annoying and misleading, but solving it is indeed non-trivial.

[2020-04-01 15:26] #5247 closed

[2020-04-01 15:27] devos50 commented on #5252
@ichorid do we want to fix this issue in 7.5?

[2020-04-01 15:28] ichorid commented on #4862
For 7.5, we just disabled reading SQL from the bootstrap file. We can solve it later in 7.5.x or 7.6 series.

[2020-04-01 15:32] ichorid commented on #5108
This is still active. I hope to fix it sometime later in 7.5.x or 7.6

[2020-04-01 15:33] ichorid commented on #5157
This is not a critical issue, we can fix it later.

[2020-04-01 15:34] ichorid commented on #5203
Agree. Personally, I use `mem_top` to profile memory usage in Tribler.

[2020-04-01 15:35] ichorid commented on #5224
We can fix it in later 7.5.x bugfix releases. It only affects people who run Tribler headless.

[2020-04-01 15:38] ichorid commented on #5252
There were only 2 bugreports with this kind of bug in the last few months. One should put some _real_ effort to garble their SQLite database to produce this kind of error. It is alson not trivial to recover from it later. I would mark it a low-priority and moved to backlog.

[2020-04-01 16:31] qstokkink commented on #5203
In the deep dark annals of history I made this #3603 . But it's pretty slow.

[2020-04-01 16:34] Dmole commented on #5193
The deb specifies that only one version of Tribler can be installed at a time so the DIR should be removed. Otherwise the package name should include the version or branch.

[2020-04-01 18:21] devos50 commented on #4827
[This hackaton project](https://devpost.com/software/wetrace-g9ocyi) uses an Android app and Bluetooth features to check for people with COVID-19 in your vicinity. From the website:

[2020-04-02 08:01] devos50 commented on #5261
I think solving this issue requires some extensive refactoring of the torrent checker/session. Postponing this issue.

[2020-04-02 08:08] #5223 closed

[2020-04-02 08:08] #4892 closed

[2020-04-02 08:09] devos50 opened #5266 "[7.4.4] dictionary changed size during iteration"
The following error originates from 7.4.4 (Windows 10, 64 bit):

[code]

[2020-04-02 08:35] #5266 closed

[2020-04-02 09:39] synctext commented on #5134
Great stuff! Feel free to re-use the pro-artist storyline I wrote April 2019:
[code]
We did [CloudOMate](https://pypi.org/project/cloudomate/). A [full 19 master students are actively working on Delft-DAO](https://github.com/Tribler/tribler/issues/4863#issuecomment-603752817) towards a single codebase. Including [Libtorrent integration](https://github.com/tpapak01/FreedomOfComputing/blob/master/FO

[2020-04-02 09:50] synctext commented on #5134
Suggested thesis sprint goals:
- Build upon existing Delft-DAO
- use Bitcoin wallet (Testnet)
- Libtorrent seeding of [Creative Commons music](https://www.jamendo.com/legal/creative-commons)
- Trustchain records whiches publish music Magnet links and link it to Bitcoin donation wallet
- Proof-of-Principle for MusicDAO
- Do pull request of MusicDAO to SuperApp of @MattSkala of basic prototype in co

[2020-04-02 12:26] devos50 opened #5269 "Status code of requests in debug panel is always unknown"
It seems that there is something wrong with the request overview in the debug panel. The status of every request is always 'unknown'.

![Schermafbeelding 2020-04-02 om 14 25 53](https://user-images.githubusercontent.com/1707075/78248988-e36f1300-74ed-11ea-90a4-09e924b44973.png)

[2020-04-02 13:27] triblerteam commented on #5255
fixed!
![Screenshot from 2020-04-02 15-26-36](https://user-images.githubusercontent.com/1482045/78254531-5d0aff00-74f6-11ea-8cee-8eed0078944a.png)

[2020-04-02 13:52] #5269 closed

[2020-04-02 13:54] triblerteam commented on #4486
This is a big feature! Love to have it in Tribler! Lots of user impact and visibility. Please put that in another separate issue. With other improvements that could be the 7.6 release, while the "inbox for edits" would then be a 7.7 feature.

[2020-04-02 13:57] triblerteam commented on #5263
Which Tribler releases are we no longer seeing in the DiscoveryCommunity if we move to Python3?

[2020-04-02 14:00] devos50 opened #5271 "Content not added to channel if metadata lookup fails"
It seems that if metadata lookup fails, the torrent will not be added to your channel. Instead, it shows an error that the meta info lookup has failed. This makes it impractical to add content to your channel that is currently not being seeded/healthy, unless you have generated the torrent yourself.

I tried it with the following magnet link:

[code]

Furthermore, after adding the torrent to your

[2020-04-02 14:14] qstokkink commented on #5263
Everything up through `7.2`. For context, we can see from the RTTs of the trackers that even Dispersy is still being used in the wild: https://jenkins-ci.tribler.org/job/Test_BootstrapServers/15341/

[2020-04-02 14:22] triblerteam commented on #5208
Could you please post a performance analysis of expensive queries? I prefer to keep Tribler code as simple as possible.

[2020-04-02 16:22] ichorid commented on #5271
@devos50 , to add a torrent to a channel, one should know at least the size and the name of the torrent. Until the metadata is downloaded, we don't know these.
How would you solve this problem from the UX standpoint?

[2020-04-02 16:58] devos50 commented on #5271
Is it strictly required to know the size of a torrent? I would say that at the bare minimum, an info hash and name are required, both of which are usually included when adding a magnet link. Even if the name is not known, we can always display something like 'unnamed torrent'.

My concern now is that it is not clear why I cannot add this torrent to my channel. I don't even see if a lookup is ongoi

[2020-04-02 17:43] synctext commented on #5255
Back :-) emailing...
![Screenshot from 2020-04-02 19-40-23](https://user-images.githubusercontent.com/325224/78280927-2810a380-751a-11ea-8a27-056852a75439.png)

[2020-04-02 19:18] ichorid commented on #5271
Imagine a bunch of "unnamed torrents" with "unknown size" in your channel. Humans are notoriously bad at remembering infohashes...

The only plausible approach I see for solving all kinds of background checks, etc. is to introduce a list of background processes.

Anyway, forgetting to add a torrent to a channel is not that bad. If the user notices it, they can always click on the download and use

[2020-04-02 19:21] devos50 commented on #5271
I agree with that, but the price of requiring this information to be present in a channel entry is a latency of up to 30 second when adding a torrent to your channel (due to the DHT/HTTP meta info lookup). And the channel entry will never be added if the lookup fails, which is why I created this issue in the first place.

[2020-04-02 19:34] ichorid commented on #5271
That's why I propose forget about this issue until we implement a list of "background tasks", like some OSes do for file managers (e.g. Ubuntu Gnome file manager) and some programs do for file-related operations (e.g. Calibre ebook manager tasks list).

[2020-04-02 19:45] devos50 commented on #5271
Well, I think at least the issue that a torrent of which the lookup fails is not added to your channel should be addressed somehow. Everything around it can be delayed for later.

[2020-04-03 08:38] synctext commented on #5255
Using resize and zoom:
![Screenshot from 2020-04-03 10-38-13](https://user-images.githubusercontent.com/325224/78341006-449ef100-7597-11ea-85b1-1be8720828ad.png)

[2020-04-03 09:48] devos50 commented on #5255
I tried to reproduce this issue on Mac, but it does not seem to trigger with the database provided by @synctext:

![Schermafbeelding 2020-04-03 om 11 33 17](https://user-images.githubusercontent.com/1707075/78347126-48834100-75a0-11ea-9cfb-d49e5e6d7681.png)

I also digged into the code to verify that the blocks are being delivered to the GUI in order, which seems to be the case. There are also no

[2020-04-03 10:57] ichorid commented on #5271
That is exactly the problem: how to add the torrent to a channel if you don't know its name or size? Also, Channels GUI does not support changing size/date of the torrent at the moment.
So, I see several ways of fixing this without creating a task list window:
 a.  (automatise) add "unknown/none" placeholder entries in the channel.
 b. (fail) notify the user that adding the torrent failed.

The pr

[2020-04-03 11:23] devos50 commented on #5271
If that change is going to be invasive, it's better to delay it to a later release then. Let's also see what users think about the channel management (in general) and based on that, we can then make further design decisions.

[2020-04-03 11:47] ichorid commented on #5271
I completely agree about getting more feedback from users. We need that, as Channels interface is completely new now.

[2020-04-03 14:32] synctext commented on #5271
Agree. Just offer a button to the user as a stop-gap measure for now. A user can click on a failed torrent and "fetch torrent name and size information" through a button.

[2020-04-03 14:39] synctext commented on #4827
@ProphetZarquon Yes, you indeed need long-hail links if you want to build a useful network. It seems already [8 years ago I did an IETF Internet Standard draft](https://tools.ietf.org/html/draft-pouwelse-censorfree-scenarios-02#section-4.2) writeup on kill-switches from governments and what to do against them. Moving information around on smartphones, store-and-forward, seems like the only viable

[2020-04-03 17:13] ichorid commented on #5271
This is the best solution so far. It is far from perfect, but at least it does not involve changing database format, etc.

[2020-04-04 12:10] tijmen104 commented on #5143
![Trader](https://user-images.githubusercontent.com/17596727/78450226-725e6580-767d-11ea-9523-bc58b3d8d2da.png)
The AI is able to decide and execute trades upon receiving bids/asks broadcasted in the community.

[2020-04-04 14:40] synctext commented on #5143
solid! Can you hard link the .APK?
4 PRs are in pipeline, so there will be some re-basing for (late) teams.

[2020-04-05 18:23] devos50 commented on #5224
Fixed by #5275

[2020-04-05 18:23] #5224 closed

[2020-04-05 18:26] devos50 opened #5276 "[7.5-RC3] KeyError: b'name' when loading checkpoints"
As reported by a user running Tribler 7.5 RC3:

[code]

[2020-04-05 18:27] devos50 opened #5277 "[7.5-RC3] pony.orm.dbapiprovider.OperationalError: disk I/O error"
As reported by a user running Tribler 7.5 RC3:

[code]

[2020-04-05 18:36] devos50 commented on #5277
@ichorid what would be the best course of action to handle this error? I think we should catch and log this particular `OperationalError`. Or is there any other preferred error handling method?

[2020-04-05 19:12] MeadowHillSoftware commented on #5255
Something similar happening Manjaro with 7.4.4: https://github.com/Tribler/tribler/issues/5199#issuecomment-599243285

[2020-04-05 20:17] ichorid commented on #5277
I don't think we should catch and handle this at all. This error is an IO error, which is beyond our reach. The user should be notified about this kind of thing clearly, and Tribler should crash. This is expected behavior.

[2020-04-05 20:27] devos50 commented on #5277
I think a crashing Tribler is never expected behaviour, and detrimental to user satisfaction. In particular, we can easily catch this error and make sure Tribler continues to function (assuming that this error happens once in a blue moon). Catching this error would only result in a missing check of a tracker, which can be performed later. Also, the error presented to the user is not really clear i

[2020-04-05 20:42] synctext commented on #5277
nasty error!
btw seems we need more time to get the release branch sorted. please advertise RC4 on the tribler.org frontpage a week for extra attention and testing.

[2020-04-05 20:51] ichorid commented on #5277
@devos50 , I agree that we should move it to backlog and see how it fares in the wild after the release.

Note that this error is not about just the torrent checker, but about all the interactions with the DB. If we catch it and log it instead of reporting and showing it to the user, this could start causing all kinds of weird DB-consistentcy-relater errors and silently deteriorate the user experi

[2020-04-06 07:24] devos50 commented on #5277
@synctext will do that later today!

[2020-04-06 07:58] devos50 commented on #5276
Fixed by #5278

[2020-04-06 07:58] #5276 closed

[2020-04-06 08:05] devos50 commented on #5193
Ah I see the issue now. Will address it today!

[2020-04-06 08:52] devos50 commented on #5116
Potentially fixed by #5279 (just gave the `deliver_messages` a higher timeout).

[2020-04-06 09:29] synctext commented on #5134
# The first Robot economy

Most ambition claim, you replace an entire industry by software. For the specific case of music you remove all middleman from the value chain. All economic activity into a single architecture.

[2020-04-06 11:20] devos50 commented on #5199
@ichorid no, we did not change the format of tokens recently. The migration to Python 3 has caused some issues when signing and validating blocks which could have resulted in a bug when computing the balance.

@MeadowHillSoftware could you try [our 7.5 release candidate](https://github.com/tribler/tribler/releases) to see if that solves this issue?

[2020-04-06 11:22] devos50 commented on #5132
This should be fixed now by #5268

[2020-04-06 11:22] #5132 closed

[2020-04-06 11:23] devos50 commented on #5142
@egbertbouman what's the status of this issue?

[2020-04-06 11:24] devos50 commented on #5227
@Zoner23 could you try out [the latest release candidate of Tribler 7.5](https://github.com/tribler/tribler/releases) and see if this issue is resolved?

[2020-04-06 11:26] devos50 opened #5280 "Windows installer still asks to make Tribler the default application for tstream files"
The Windows installer still provides the option to make Tribler the default application for tstream files, even though we abandoned tstream files like an eternity ago.

[2020-04-06 11:27] #5193 closed

[2020-04-06 11:27] Tim-W commented on #5134
Coming weeks:
* Create a thesis.tex
* Prototyping simple app that can do:
* * Store magnet links + metadata on trustchain for tracks
* * Discover tracks
* * Play tracks using libtorrent
* Problem description (+introduction)

[2020-04-06 11:43] egbertbouman commented on #5142
@devos50 I'm not sure. I haven't seen this issue in 7.4.4 or later.

[2020-04-06 11:43] devos50 commented on #5142
I haven't seen it in the error reporter either. So for now, I consider it as fixed 👍

[2020-04-06 11:43] #5142 closed

[2020-04-06 11:45] ichorid commented on #5199
I've checked the code of `run_tribler.py`. The Version Manager procedures run after the Dependencies Checker, meaning that if Tribler fails to start because of a missing dependency, it should not affect forking the state directory.

So, closing this one. Discussion of the token balance error should continue in #5255

[2020-04-06 11:45] #5199 closed

[2020-04-06 13:11] devos50 commented on #5280
Fixed by #5281

[2020-04-06 13:11] #5280 closed

[2020-04-06 13:46] devos50 commented on #4567
Due to inactivity on this issue, I will move it to backlog.

[2020-04-06 13:49] devos50 commented on #3713
This should be fixed by the recent refactoring of the unhandled error observer.

[2020-04-06 13:49] #3713 closed

[2020-04-06 13:50] devos50 commented on #5108
Fixed by #5283

[2020-04-06 13:50] #5108 closed

[2020-04-06 18:00] ProphetZarquon commented on #4827
Without robust decentralized long-range communication options, I think ten years from now anyone knowledgeable enough to establish such solutions will be too scared to even discuss it. Already half the projects I've seen showing promise have gone dark, & while I'd like to believe that's because the people involved went underground, instead I suspect they either took suppression-industry jobs or we

[2020-04-06 21:13] hbiyik commented on #5249
i think i found the root cause of garbeling, stream object is using single local file opened to read from, while concurrent http requests are processed, local file seeks to different segments of the file resulting junk output. I will fix this in my repo

[2020-04-07 14:22] jverbraeken commented on #5221
Initial exploratory literature review:
(a) digital marketplaces (https://fetch.ai/wp-content/uploads/2019/10/Fetch.AI-Economics-white-paper.pdf)
(b) distributed ledgers used for financial purposes (http://www.smallake.kr/wp-content/uploads/2018/09/E_JPX_working_paper_No15.pdf / https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3352293)
(c) peer-to-peer lending (https://www.oecd.org/daf/ca/The-Po

[2020-04-07 20:52] hbiyik commented on #5249
Here is the update:

1) Currently concurrent streams work properly. It is possible to seek forward/backwards or directly start from middle of the file

2) Stream endpoint can serve concurrent clients at the same time. Concurrency is under the aasumption that everyone is streaming the same fiile in the torrent, if they stream different files from the same torrent clients will receive garbage.

Here

[2020-04-07 23:50] tpapak01 commented on #5146
- Torrents can now be created, seeded and downloaded from peer to peer within the app
- Made good progress on the state-persistence matter

[2020-04-08 08:17] synctext commented on #5146
Sprint progress:
- Freedom of computing "Core" progress
  - DexClassLoader only loads a specific class or method
  - DexClassLoader does **not load** GUI, resources, .XML files, layout specification, and various assets in general
  - Load .APK the China-way: https://github.com/didi/VirtualAPK
    - investigate their "trick"
    - document in a few lines and replicate?
  - Grab N Run internally use

[2020-04-08 08:38] Thystler commented on #5146
magnet:?xt=urn:btih:6d651f45a01afc35572c734c73cbf8a8f82c396f&dn=20+Awesome+Nature+Ultra+HD+4K+Wallpapers+3840x2160+Px+%5BSet+64%5D&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969

[2020-04-08 08:57] PJvanderLaan commented on #5144
This week's progress:
- Fixed the issues related to trustchain/bitcoin shared wallet connection
  - Creating a shared wallet with initial fee (tested with real fake bitcoins)
  - Transfering funds from an existing shared wallet
- Integrated our app in the superapp (took longer than expected!)
  - Fixed all related issues, ie. linting and merge conflicts
- UI improvements (mostly navigation control

[2020-04-08 09:29] MKuijpers commented on #5144
This weeks apk:
[app-debug.zip](https://github.com/Tribler/tribler/files/4449516/app-debug.zip)

Note: there are some navgraph conflicts causing some navigation to not be behaving as planned

[2020-04-08 09:31] synctext commented on #5144
Sprint progress:
- .APK to test?
- almost does not crash inside Superapp :clap:
-

[2020-04-08 11:59] emieldesmidt commented on #5145
Due to a fair share of stress from other deadlines/exams, last week amounted to a little less than hoped. Nevertheless a fair share of work has been done. Our voting has finally moved to the super-app, see [the pr](https://github.com/Tribler/trustchain-superapp/pull/4). We only wanted to do so once there was sufficient unit testing as there is no way to manually test an API without writing a dedic

[2020-04-08 12:26] synctext commented on #5145
- [X] Basic GUI for creating a proposal for voting
- [ ] connect with SuperApp and new voting solution (Yes/No)
- [ ] Simple demonstration of your project:
  - everybody can propose a new project
  - suggest a budget and call for a vote
  - non-binding, but good for future binding votes with real Bitcoins

[2020-04-08 13:14] synctext commented on #5143
Sprint progress:
- Two devices needed for a demo
  - payload generator (generate bid/asks)
  - actual Trustchain trader Robot
-

[2020-04-08 13:22] alexander-stannat commented on #4481
Thesis finished! Final product can be found [here](https://github.com/alexander-stannat/Msc-Thesis/raw/master/report_style/report.pdf). Thanks a lot everyone.

[2020-04-08 13:50] mvanmeerten commented on #5143
@synctext You can try to install this apk. It works on @dymbe his device.

[app-release.zip](https://github.com/Tribler/tribler/files/4450798/app-release.zip)

[2020-04-08 14:09] synctext commented on #5143
works!
Please make an animated .GIF for the final documentation. Seeing the live trades come in, small GUI glitch when it starts to overflow from the screen. Better to put the latest accepted/rejected trade to the top of the screen I guess, users needs to scroll down for browsing old history. Keeps the screen interesting. Can you do a :information_source: icon for additional info on the internal t

[2020-04-08 14:52] synctext commented on #5134
content: Jamendo + [these 29,818 Creative commons tracks](http://dig.ccmixter.org/dig)

[2020-04-09 12:48] ichorid commented on #4854
Well, turned out tunneled DHT requests are very unreliable. This makes adding this toggle control top priority, so users who do not use anonymity will not suffer from bad DHT performance over the tunnels.

[2020-04-11 01:06] alexander-stannat commented on #4481
Due to some merge conflicts my final thesis repository has now been moved [here](https://github.com/alexander-stannat/MSc-Thesis).

[2020-04-12 15:31] hbiyik commented on #5249
@egbertbouman

I have re-written the streamer in kodi and there are a lot of changes. So I think this is good checkpoint to align.

Design Changes:
1) The streamer no more relies on libtorrenthandle.sequential_download(true). Because when this piece selector is activated, regardless of piece priority, piece selector always selects the lowest number. This prevents seeking to a further piece of the

[2020-04-12 15:36] hbiyik commented on #5249
But now the code interfaces are changed little bit.

A downloads relations with streaming is now handled in download module, thus there are new methods for Download Class related to streaming.

There is a class now called StreamState, which holds all the downloads streamin status in a Singleton pattern internally, so he download instances can interact with their own streaming states.
The instance

[2020-04-12 16:22] jdsys271 commented on #5126
@devos50 ok can you please then update the release.key here https://github.com/Tribler/tribler/blob/devel/release_key.gpg ?  Since that one is the 2017 expired one.
The MIT PGP Key server is laggy and non-responsive most times.

[2020-04-12 17:46] egbertbouman commented on #5249
If I remember correctly, seeking does work with sequential downloading if you use a 0 priority for pieces prior to the position of the cursor.

Sounds great! We actually used to use piece priorities as well (quite a few years back), but since users did not always understand that Tribler was downloading pieces that were far away from the cursor, at the time we decided to just use sequential downloa

[2020-04-12 18:46] hbiyik commented on #5249
Yes internal player works, vlc works, several mplayer based stuff also works. Actually they work concurrently as well, you can stream same file to different clients at the same time, since there are independant cursor trackers now.

The problem is streamer depends on torrent handle heavily now, and all the utils methods are already in download instances. I tried to keep it on stream module but it

[2020-04-12 19:00] devos50 commented on #5126
See #5289

[2020-04-13 10:28] jdsys271 opened #5290 "When Upload Speed is adjusted, the download speed drops to 0kb/s"
##### Tribler version/branch+revision: #####
V7.5.0-rc4

##### Operating system and version: #####
Xubuntu 18.04

##### Steps to reproduce the behavior: #####
- Download torrent
- Set Upload Speed to 5
- Watch how the upload speed **INCLUDING the download speed** drops from 2mb/s to 0b/s

##### Expected behavior: #####
If i set the Upload speed to 5kb/s or 1kb/s, it must set the Upload speed, not

[2020-04-13 11:59] ichorid commented on #5290
Thank you for your report!
I believe what you witnessed when you cap the upload rate to such a low limit is not a bug, but a _feature_ of the BitTorrent protocol called "[choking](https://wiki.theory.org/index.php/BitTorrentSpecification#Choking_and_Optimistic_Unchoking)".

From BitTorrent wiki:

When you set your upload rate to such a small value, you're essentially showing other peers that you'r

[2020-04-13 11:59] #5290 closed

[2020-04-13 12:32] ichorid commented on #5290
So, just to be sure, I ran the libtorrent's `client_test` utility with rate limit of 5k, using Fedora Games image `magnet:?xt=urn:btih:a573d0ebbe7c7a87f4d8794a7432392cde3b8189\&dn=Fedora-Games-Live-i386-30`

[code]

The torrent currently is indicated to have 33 seeds and 3 leeches, which means that it is not overseeded, and choking still matters. As expected, the download rate would instantly spik

[2020-04-13 18:37] jdsys271 commented on #5290
well i tested downloading [this](magnet://showrss.info?xt=urn:btih:19584CF6C2A6026D253269FB8F1AB927F5663625&dn=Westworld+S03E05+WEB+H264+XLF&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=http%3A%2F%2Ftracker.trackerfix.com%3A80%2Fannounce) for example (which is overs

[2020-04-13 21:37] ichorid commented on #5290
Could you please only post links to _official_ content on out GitHub pages? Thank you :wink:

[2020-04-13 21:53] ichorid commented on #5290
AFAIK libtorrent counts "technical" packets like utp ACKs as a part of the upload traffic. This means that if you set your upload traffic rate limit to some really low value, your client will not be able to send "acknowledge" packets back to others fast enough to keep up with them sending data to you. From their standpoint it will look like your connection is congested, so they will send you data

[2020-04-14 21:25] emieldesmidt commented on #5145
Connected with super app, and created demo application that showcases our yes/no voting solution. As of right now it is a rudimentary state, but we expect to extend its functionality and style over the coming days.

It serves as a place where new vote proposals can be discovered, voted upon, and created.

![image](https://user-images.githubusercontent.com/17474698/79275618-d1568280-7ea6-11ea-8fda-

[2020-04-15 07:57] synctext commented on #5144
new apk?

[2020-04-15 07:58] PJvanderLaan commented on #5144
- UI:
  - Fixed navigation issues
  - Worked on redesigning UI
- Switched from testnet to bitcoin
  - Fixed related bugs
- Increased test coverage by a lot!
- Fixed join wallet trustchain issues
- Lots of small bug fixes and improvements

[2020-04-15 09:04] PraveshMoelchand commented on #5145
Corresponding APK
[app-debug.zip](https://github.com/Tribler/tribler/files/4480130/app-debug.zip)

[2020-04-15 09:25] synctext commented on #5145
Sprint progress:
- dynamic voting list, marked as voted
- Consider beyond ```text_blob``` voting
  - Magnet link voting?
  - ```transfer_bitcoin(Common_wealth,private_wallet)```
  -

[2020-04-15 09:31] tijmen104 commented on #5143
So to wrap up, in the past weeks we started by building an app to send money offline.
We were able to send entire proposal and agreement blocks by using QR codes, but verification was difficult. Therefore we discussed to use the QR codes in a fire -and-forget way, and implemented that. We proceeded by creating another app, to integrate a ML-trading algorithm inside the super app.

- Designed, trai

[2020-04-15 09:51] tijmen104 commented on #5143
![Screen-Recording-2020-04-15-at-10 12 08](https://user-images.githubusercontent.com/17596727/79324175-79a03180-7f0f-11ea-8ea2-5ec31fa66933.gif)

[2020-04-15 10:00] mvanmeerten commented on #5143
[app-release.zip](https://github.com/Tribler/tribler/files/4480457/app-release.zip)

Most of the requested fixes are implemented, only the information icon is still missing

[2020-04-15 10:04] synctext commented on #5143
Sprint progress:
- we now have achieved _technological complexity_!

[2020-04-15 13:47] synctext commented on #5146
Sprint progress:
- We need a GUI which can be loaded through a ```DEXclassLoader()```
- Otherwise you need to load other assets, XMLs, and isolated files
- Sected solution: [Tutorial: dynamic user interfaces in Android with fragments](https://www.vogella.com/tutorials/AndroidFragments/article.html) and the official [docs](https://developer.android.com/training/basics/fragments/fragment-ui)

[2020-04-15 13:51] rootmonkey commented on #5146
This was one of the basic test where the button is made in a different apk and loaded dynamically into Test4

<img width="377" alt="Screenshot 2020-04-15 at 15 49 04" src="https://user-images.githubusercontent.com/48287237/79344892-b03a7400-7f30-11ea-930c-e6b58ffa79f6.png">

[2020-04-15 14:48] synctext commented on #5146
@InvictusRMC from the MultiSIG wallet team has volunteered to help integration your efforts. Thus real Bitcoin bounty payout for a magnet link with useful code.
- developers seeds code in Libtorrent, announces private wallet, and sets bounty
- DAO members hold vote for approval
- when the quorum is reached, payout is triggered
- everybody happy :partying_face:

[2020-04-15 21:48] hbiyik commented on #5249
@egbertbouman
https://github.com/hbiyik/tribler/blob/139ed485ed17d3223016c8ba03fb1d031b3ee22f/src/tribler-core/tribler_core/modules/libtorrent/stream.py#L71

I removed the modifications in the downloads module and referenced the all used method to stream module, now i think it is pretty clear and more managable. Do you think this approach is ok?

[2020-04-16 07:16] devos50 opened #5291 "[7.5.0-RC5] KeyError: 'infohash'"
Happened on Tribler 7.5.0-RC5 (Ubuntu 19.10):

[code]

[2020-04-16 13:14] egbertbouman commented on #5249
It's great to see you've moved this code back to the `Stream` class. But why not just keep a reference to the `Download` object and call these functions directly, like it was before? To me this seems a bit unnecessary.

[2020-04-16 15:05] devos50 commented on #5227
This error have not been reported ever since so I'm closing the issue. Please re-open this issue of the problem persists.

[2020-04-16 15:05] #5227 closed

[2020-04-16 15:10] #5291 closed

[2020-04-16 15:10] devos50 commented on #5291
Fixed by #5292

[2020-04-16 15:17] PraveshMoelchand commented on #5145
We also fixed an exclusion that wasn't working in the ktlint of the [kotlin-ipv8 repo](https://github.com/tribler/kotlin-ipv8), see the PR [here](https://github.com/Tribler/kotlin-ipv8/pull/17)

[2020-04-16 17:44] bam80 commented on #2694
Sorry.. What happened next? :)

[2020-04-16 18:18] bam80 commented on #4367
Have there been some progress since then?

[2020-04-16 18:44] devos50 commented on #4367
@bam80 unfortunately not. We are quite understaffed at the moment so we focus mostly on the stability of our Windows, Mac and our `.deb` build. Any contributions are welcome, however!

[2020-04-16 18:49] devos50 commented on #2925
This ticket will be used for the upcoming software project, starting this Monday. Project description (locked in ProjectForum):

• Earn income in a form of a bandwidth token (existing code).
• Sell these earned tokens on a decentralized market for Bitcoin or other currencies.
• Buy a server with Bitcoin or Ethereum without human intervention (see our existing PyPi scripts).
• Login to this Linux s

[2020-04-16 18:53] devos50 opened #5293 "[Software Project 2019/2020] Extending the support for cryptocurrencies in our blockchain-based decentralized exchange"
This issue hosts references and discussion related to the software project we added to ProjectForum, starting April 20.

# Description in ProjectForum

The Delft Blockchain Lab (DBL) is TU Delft’s initiative for research, education, and training in blockchain technology and trust in the internet. Our research heavily focusses on improving the efficiency of blockchains, self-sovereign identities an

[2020-04-16 18:55] devos50 commented on #2694
As far as I'm aware, @hbiyik is currently working on this issue.

[2020-04-16 20:14] hbiyik commented on #5249
@egbertbouman because now the instances of stream class, will be a member of download class.

Regardless of the download is streaming or not, they will instantiate stream class.

https://github.com/hbiyik/tribler/blob/139ed485ed17d3223016c8ba03fb1d031b3ee22f/src/tribler-core/tribler_core/modules/libtorrent/download.py#L79

Please see how it is instantiated above. Thus i didnt want to reference dow

[2020-04-16 20:16] hbiyik commented on #5249
The idea here is having the stream module as a sub scope of download scope, this way code level abstraction is done on source level, and applition level integrity is cleaner with stream subscope of download.

[2020-04-17 08:58] synctext commented on #4629
Update progress:
- Work on thesis for coming 13 days (end-of-month). Then wrap up Survey.pdf
- No kotlin, remain on Python and keep the goal: ```implementation and field trial with notary using real Euros between pension funds```
- This sprint goal: investigate code and understand
- next sprints: rest api, link with a bank and signed trustchain transaction.

[2020-04-17 09:01] mateicristea88 commented on #4039
Update:

-got code into superchain-kotlin-app

<img src="https://user-images.githubusercontent.com/11733226/79551439-f3fcbd00-8099-11ea-89b2-70cd47cda979.png" height="300">
<img src="https://user-images.githubusercontent.com/11733226/79551477-ffe87f00-8099-11ea-9d24-4f2ae4ff632d.png" height="300">

-not very clean however, we still have some java(not kotlin) code
-also, for some values it deosn't

[2020-04-17 09:37] synctext commented on #4039
Sprint progress:
- great progress, still local ML, prepared for full distributed AI kernel: zero-server collective learning
- please do a Pull Request into the superapp  (dao branch)
- do first PR before 30 April, we're doing bit of press exposure. @MattSkala
- rename from "DNAjava" to "distributed AI kernel"
- march 2021 honor project presentation

[2020-04-17 10:59] Bloodyfool commented on #4044
Hello, I am struggling to find the up-to-date code for this project. Where is the repo currently located?

[2020-04-18 09:07] herrJones opened #5294 "visualization issue when changing screens (4k screen issue?)"
#### Please, fill all relevant items: ####

- [x] I have read CONTRIBUTING.rst

- [x] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
Tribler 7.5.0-rc5

##### Operating system and version: #####
Win10

##### Steps to reproduce the behavior: #####
open tribler on screen 1 (4k in my case)
move to another screen
outpu

[2020-04-18 09:10] herrJones commented on #5294
to be clear, it also behaves like this in the stable branch.
So: it's not new ;-)
to be improved, no blocking issue

[2020-04-18 09:17] devos50 commented on #5294
Thank you for your report! This is something we should definitely address but most likely not for our upcoming 7.5 release. I will put it in the 7.6 milestone 👍

[2020-04-18 09:22] herrJones commented on #5294
OK, happy to help you test it!

[2020-04-18 14:42] TimSpeelman commented on #4461
I have drafted most of chapter 5, the analysis of the TrustChain/IPv8 stack upon which I build the semantic layer. There is one more small section left to write, but I would already like to share this work for feedback. Specifically:

1. I am slightly confused by the naming of technologies and protocols, IPv8 and Trustchain, the naming and scope seem different in the papers, documentation and IETF

[2020-04-18 18:19] jverbraeken commented on #5221
Initial thoughts after reading some literature, before discussing with Johan:
- One universal platform on which **every** supply/demand can be built (from Uber to Airbnb, from Amazon to stock markets, from insurers to lenders)
- Everything peer-to-peer to prevent extra costs from middlemen
- Goal = mainstream adoption ===> integration of payments methods such as Paypal and creditcards is essential

[2020-04-19 08:46] synctext commented on #5221
great taxonomy start! Trustchain is consensus-free, thus no electricity for mining.
What are two isolated markets that can be merged into a single infrastructure? Preferably with low competition, high fees, low innovation, and incentives to use your open alternative.

[2020-04-19 13:27] synctext commented on #5221
Brainstorm... Inspired by this [payout platform](https://blog.longnow.org/02020/02/26/12-long-bets-and-predictions-about-02020/) it would be possible to build ```market trackers()```. A payout is provided if the stock market is either below or above a certain mark. Use our DAO #5143 with shared ownership of Bitcoins.
- largest: [new york stock exchange tracker](https://www.marketwatch.com/investin

[2020-04-19 13:37] devos50 commented on #5221
I'm working on a classification/overview of existing electronic market/trade mechanisms based on blockchain technology (for a possible paper). This also includes literature on prediction markets, like Augur. I have collected 130+ (mostly peer-reviewed) articles so far and categorised them. I think there is quite some overlap with topics that you brought up. If you are interested in them, I can sha

[2020-04-19 16:57] synctext commented on #5221
can you post a list here? + URLs possible even...

[2020-04-19 17:11] devos50 commented on #5221
@synctext sure! I'm using the Papers application to organize and categorize all the literature that I read, and I'm currently in the process of reading/summarizing each paper. I think the list below is quite complete regarding academic work, but there are still a few open-source (non-peer-reviewed) implementations missing.

## Atomic Swaps

Alt chains and atomic transfers

Atomic Cross-Chain Swaps

[2020-04-19 20:35] synctext opened #5295 "channel torrents stuck at 98% downloading"
multiple channels are stuck downloading. One with 69 stuck downloaders another with 41 stuck downloaders. Sadly this is blocking a key part of the user experience.
Nothing can be done by the user to get "unstuck". Due to the inducement of frustration I'm afraid this is something we have to fix before we declare it stable.

minor:
4 minute of a black loading screen on first startup. if you used Tri

[2020-04-19 23:02] ichorid commented on #5295
This happens because someone created a channel and corrupted their after someone else started downloading it but before they were able to finish. It is now up to the channel's owner (or their Tribler instance) to notice this and fix the situation.

Currently, Tribler performs does basic checks at startup for channel consistency between torrent form and database form. The bad news is it does not ch

[2020-04-20 07:00] qstokkink commented on #4461
Looking good. I liked the remark about the DHT anonymization: @egbertbouman do you want to combine both of your babies into one?

Regarding the metadata: metadata visibility is one of three things that critically need to be changed before we can deploy for real (though metadata should not include private values -- metadata leakage is indeed a thing), but I have left these out for ease of use. We s

[2020-04-20 07:34] qstokkink commented on #4461
Actually, now that you're working on this anyway, I was considering the following approach:

- Pseudonym _P1_ (user) has attributes _A(P1, 1)_, _A(P1, 2)_ and _A(P1, 3)_ and metadata _M(P1, 1)_, _M(P1, 2)_ and _M(P1, 3)_. None of the attributes or metadata entries are visible to any other peer. Attributes are linked binary data (higher indices point to lower indices), indistinguishable from each o

[2020-04-20 08:03] qstokkink commented on #4461
Side note: I put the refactoring on the agenda for IPv8: https://github.com/Tribler/py-ipv8/issues/733

[2020-04-20 08:28] devos50 commented on #5293
Kick-off meeting (April 20):
- Get AnyDex up and running on your computers (note: it requires the IPv8 library).
- Have a look at the [AnyDex wallet code](https://github.com/Tribler/anydex-core/tree/master/anydex/wallet) and the [AnyDex core](https://github.com/Tribler/anydex-core/tree/master/anydex/core). Note that we are using patches to get `bitcoinlib` up and running.
- [`bitcoinlib` source co

[2020-04-20 09:13] synctext commented on #5251
Bizarre background reading from Wuhan Institute of Virology. [They predict an outbreak of "Bat Coronaviruses in China", published March 2019](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6466186/).

[2020-04-20 09:23] TimSpeelman commented on #4461
Thanks for the feedback. Before committing to any more work, I would like to understand why we need private attributes to be in a linked datastructure any way. Suppose we did not have that datastructure, which attacks are possible?

As far as I understand it puts three constraints on the pseudonym:
1. It prevents* reordering of attributes
2. It prevents* hiding/removing of attributes
3. It prevent

[2020-04-20 09:37] devos50 commented on #5251
Kick-off meeting:
- Current goal (subject to change!): make a prototype that allows a health expert to provide a COVID-19 attestation to an individual. Individuals should prove the validity of the attestation to others.
- The first week: start reading the documentation on SSI and Corona identification.
- Complete the [attestation tutorial](https://github.com/Tribler/py-ipv8/blob/master/doc/basics/

[2020-04-20 10:07] qstokkink commented on #4461
At all times the subject can remove his/her own data. Pseudonyms only exist to both protect the verifier and add value/trust to attributes. I implore you to look at these issues from the angle of a verifier under the scrutiny of legal investigation.

Moving into your comments:

Timestamps are not reliable, clock times shift and in the worst case differ completely. Only (causal) ordering of attribu

[2020-04-20 10:13] synctext commented on #2925
@devos50 This will be used instead of Gitlab, feel free to give a 1-line pointer to this repo of TUDelft rules require you to leave notes there. All weekly meeting notes will be posted here (unless you GDPR-protest...)

[2020-04-20 11:04] devos50 commented on #2925
@synctext I'm also using our other tickets on the Tribler repo for meeting notes so I'm totally fine with that.

[2020-04-20 11:24] qstokkink commented on #4999
I propose starting with something "easy". Exposing GitHub events through `tribler.org`:

 - Add a webhook to GitHub for the Tribler repository (sending POST requests to the `tribler.org` domain).
 - Add a new page (`tribler.org/githubevents`?) which renders all GitHub events (possibly with websockets for live updates).

The idea is that we can reuse the resulting backend for another (bigger and be

[2020-04-20 11:53] TimSpeelman commented on #4461
Thanks! A lot of food for thought. I'll get back to you on the information hiding topic.

That's a good one, will do.

For many cases it might not matter that issuing/expiration times are a few seconds off right?

I see the following use cases for timestamps:
- A) Prove that an attribute is still valid at verification time, i.e. the expiration date is in the future and has not been revoked.
- B) P

[2020-04-20 12:41] qstokkink commented on #4461
Probably not, but timestamps are still malleable. If properly gamed, this can become an attack vector on the integrity of the audit log for the few cases is does matter.

That's a fun and interesting one. We can make a (second) preceding attribute for each other attribute that has a ZKRP for the expiration date of the following attribute. But still, I see no reason why the timestamp should be plai

[2020-04-20 13:44] synctext commented on #5295
If channels owners upgrade to 7.5 we need to make sure this problem goes away. Automated channels repair would fix everything right? What do we do with the 100+ most loyal users who are stuck on a channel?

Multiple channels seem to have this issue. Can you please elaborate on what corruption you are suspecting? The PonyORM system? The data structures you created? How can this happen for multiple

[2020-04-20 13:58] jverbraeken commented on #5221
Thanks a lot for the suggestions @synctext @devos50 👍🏻👍🏻
I hadn't heard of Augur yet, very interesting project indeed! Will change my proposed taxonomy a bit to allow for prediction markets.
Would be great if you could share your summaries of those papers @devos50!
My holiday is over unfortunately, from July onwards I'll dedicate all my time to this thesis project

[2020-04-20 14:02] jverbraeken commented on #5221
I'd need to look more into that. At first sight, I'd say that Tinder is a great example since their have a near-monopoly, very high fees, and close to no innovation.

[2020-04-20 14:05] devos50 commented on #5221
See [Matchpool: dating on a blockchain](http://www.matchpool.com/wp-content/uploads/2016/12/Matchpool_Whitepaper_140117.pdf)

You can collect 'arrows' by proposing love interests. You are rewarded with more arrows as the love relation advances 😄.

[2020-04-20 14:07] jverbraeken commented on #5221
Haha nicee, awesome project 😂😂

[2020-04-20 17:58] hbiyik commented on #5249
@egbertbouman

i noticed some issue with, excluding, including files on download details.

When a file in a download is set to include/exclude, the operation is done in in downloadconfig object, but during runtime, this is never reflected to filepriorities in libtorrent. So in gui it is shown according to config, but in libtorrent all files are downloaded.

Is this a known issue.

I noticed this p

[2020-04-20 18:14] devos50 opened #5296 "[7.5.0-RC4] Tribler core freezes due to metainfo lookup through Tunnels"
From the logs of an anonymous user:

[code]

Note that the core freezes for almost five minutes. It is likely that this is caused by the metainfo lookup, given the log statements.

We should aim to reproduce and fix this error.

[2020-04-20 19:11] egbertbouman commented on #5249
We used to have an issue like this, but that one was fixed weeks ago. So if you're working on up-to-date code, you seem to have found a bug.

When including/excluding files, `Download.set_selected_files` should be called. That function will then update both the file priorities and the config. Could you point me to the `DownloadConfig` call that you are referring to?

[2020-04-21 11:32] Bloodyfool commented on #4629
A repo with a working demo has been created at: https://github.com/Bloodyfool/py-stablecoin
It includes a dockerfile en Pipfile to make development easier as wel as a readme explaining the project.

[2020-04-21 14:23] hbiyik commented on #5249
@egbertbouman I think there were several issues:

1) QT UI was using sort index when sending selected files instead of torrent fileindexes, this is fixed when i rebased to release7.5. I was on some sort of master, may be I have created this regression dunno, nevertheless fixed.

2) download.set_selected_files sets both config and lt file prios on runtime, downloads_endpoint.get_files_info_json get

[2020-04-21 19:08] egbertbouman commented on #5249
You're right, Tribler is currently bypassing the Download class by talking to the handle directly. That's definitely a bug.

All your suggestions make perfect sense and sound like a good way to improve our streaming experience!

[2020-04-22 08:49] devos50 opened #5297 "[7.5.0-RC5] MetadataStore and GigaChannelManager shutdown sequence error"
Found this in the log when shutting down Tribler. Even though it did not crash Tribler, it might be the case that the channel processing procedure is not shut down correctly (since the metadata store is already set to `None` while the channel is still processing).

[code]

[2020-04-22 09:22] devos50 opened #5298 "Sub channels do not show up in search results"
Steps to reproduce: create a new (root) channel and in that root channel, create a sub channel and rename it to X. Now, when searching for X, it does not show up in the search results. I am sure the channel is committed.

Is this expected?

[2020-04-22 12:55] MattSkala commented on #4827
* NAT puncturing of Vodafone NAT
    * Sent 65k packets to all ports of a single IP within a few seconds, but NAT not punctured (DDOS protection / ?)
    * Not easy to debug a black box, but will try to experiment further
* Relay protocol initial thoughts
    * API draft
        * –> REQUEST_CONNECT(PublicKey, Address, Challenge)
        * <– RESPONSE_CONNECT(ChallengeResponse || error)
        *

[2020-04-22 13:09] synctext commented on #4827
sprint progress, [latest .PDF thesis](https://github.com/MattSkala/msc-thesis/raw/master/report/report.pdf):
- 65k congestion, buffer overflow check, dtermine the maximum rate with a throw-away SIM.
-

[2020-04-22 13:49] devos50 commented on #5296
I have added a few more graphs and logs to the application tester, see [here](https://jenkins-ci.tribler.org/job/Deployment-Tests/job/Run_Tribler_Release/job/Run_Ubuntu_18.04/1023/). For example, it now monitors the duration of HTTP requests to the core, which can be used as indicator whether the core is still responsive or not.

Furthermore, I run the application tester on the mainnet so there is

[2020-04-22 13:57] qstokkink commented on #5296
Cool, could you have the `IPv8 Overlay Peer Statistics` legend show the Community subclass names instead of the id though, for readability?

[2020-04-22 16:06] synctext opened #5300 "download file include/exclude bug"
sadly another showstopper in RC5.
bug when adding files to an existing swarm download. They appear 100% in GUI, but remain in .unwanted directory.
Mac running RC5.

[2020-04-22 16:10] devos50 commented on #5300
I will try to reproduce this one tonight 👍

[2020-04-22 16:47] devos50 commented on #5300
It actually seems that the `.unwanted` directory got removed: https://github.com/Tribler/tribler/pull/5031/commits/a33bb898f1e34b1ac3ad8a2e53caf5dd8fed7bc8. @egbertbouman can you comment on this?

[2020-04-22 17:05] egbertbouman commented on #5300
@devos50 As part of the download core refactoring, the .unwanted directory was removed because it wasn't working properly with more recent versions of libtorrent. Currently, the unwanted parts are stored in a part-file named after the infohash of the swarm. To keep things simple, we didn't bother trying to convert the .unwanted directory to the part file. That's why the .unwanted directory is stil

[2020-04-22 19:33] synctext commented on #5300
interesting. Removed .unwanted, restarted Tribler, but the .unwanted got raised from the dead.

[2020-04-22 19:43] synctext commented on #5300
tried few times, .unwanted keeps coming back. file checks etc. all has no effect.

[2020-04-22 19:55] egbertbouman commented on #5300
In that case, it's probably the checkpoint itself that's doing this. According to the libtorrent docs, the resume data may have a list of renamed files.

Do you remember with which version of Tribler this download was created?

[2020-04-22 20:50] InvictusRMC commented on #5144
# Progress
* Proposal screen where join and transfer proposals are shown with ability to vote on them
* Fixed bugs related to transfer, join and create DAO
* Structured the code in a better way, cleanup
* GUI stuff (improvements)
    * Consistency across screens (BTC/Satoshi)
    * Fix crashes and better user feedback on failures
    * Add validity checks for fields and actions to protect the user

[2020-04-22 21:40] tpapak01 commented on #5146
Our app/module is complete. Below you can find a guide describing the main use case, from start to finish, and each step required along the process:
https://github.com/tpapak01/trustchain-superapp/wiki/FOC---app
Here is the apk:
[app-debug.zip](https://github.com/Tribler/tribler/files/4519110/app-debug.zip)
We can test the functionality tomorrow, if you want to.
A new pull request was made for the

[2020-04-23 08:42] emieldesmidt commented on #5145
Summary of this weeks sprint progress as we are nearing the end of the project:

- Vastly improved usability and usefulness of our demo app. It displays significantly more info to the user, and is much more intuitive. The application is also dynamic (frequent polling), and new votes appear immediately at peers.
- Threshold implementation, open PR waiting for approval (minor tweaks required)
- Sign

[2020-04-23 09:14] synctext commented on #5144
near final sprint comments:
- great GUI
  - "DAO logout", can that be a setting screen with "cog wheel".
  - please rename "Currency II" into "Bitcoin DAO" or something more hipster-like.
  - "import or Create new Account", replace with something like "Bitcoin wallet management".
  - "Load Existing", "if you previsouly created/imported and want to enter again, use this option". Replace with

[2020-04-23 10:01] synctext commented on #5146
Final sprint feedback:
- only minor polish needed, good stuff!
- only 1 freeze and 1 crash :clap: It actually worked.
- GUI is a bit primitive

[2020-04-23 10:39] synctext commented on #5143
[Final apk Github actions](https://github.com/Tribler/trustchain-superapp/actions/runs/85558778):
local version: [app.zip](https://github.com/Tribler/tribler/files/4521882/app.zip)

[2020-04-23 11:09] PraveshMoelchand commented on #5145
[voting-23-04-2020.zip](https://github.com/Tribler/tribler/files/4522040/voting-23-04-2020.zip)

[2020-04-23 11:21] synctext commented on #5145
Last sprint comment:
- Documentation PR, [see this example](https://github.com/Tribler/trustchain-superapp/tree/dao#ai-trading-bot)
  - Link to [parser and actual code](https://github.com/Tribler/trustchain-superapp/blob/dao/common/src/main/java/nl/tudelft/trustchain/common/messaging/TradePayload.kt)
  - 20-line ish introduction. Why, what, how?

[2020-04-23 15:43] PraveshMoelchand commented on #5145
For this final sprint, we decided to make use of the [GitHub issue board](https://github.com/emieldesmidt/trustchain-superapp/projects/1)

[2020-04-24 16:41] synctext commented on #1410
Closing this issue, please re-open if still relevant after ASYNC refactor work.

[2020-04-24 16:41] #1410 closed

[2020-04-26 13:53] hbiyik opened #5302 "Deadlock in VLC causes ui to lock"
duplication steps:
add a torrent which has multiple files and stream.
quicly change the files from left menu (basically click spam) after some time ui will freezes.

root cause:
widgets/videoplayerpage.py uses deprecated libvlc.media.parse method to parse metadata. When a new video is set to open when vlc is also trying to parse the metadata of the previos file, it locks, this also locks ui as wel

[2020-04-26 17:04] devos50 commented on #5302
Nice find, thanks for investigating! 👍

[2020-04-26 18:18] Dmole opened #5303 "[7.5.0-rc5] Headless"
https://github.com/Tribler/tribler/blob/devel/src/tribler-core/run_tribler_headless.py

Does not appear to be included in the deb.

`cd /usr/share/tribler && env CORE_PROCESS=1 CORE_BASE_PATH=$(pwd) CORE_API_PORT=8085 /usr/bin/tribler >/dev/null 2>&1 &`

no longer works, falling back to

[code]

is there a more elegant solution like

`/usr/bin/tribler --headless`

?
why is there not even a

`/usr/

[2020-04-26 22:36] Tim-W commented on #5134
Current demo:
0. DHT peers are continuously searched in background
1. The user can select an audio file from his Android
2. Audio file is converted to trackerless torrent, magnet link generated
3. Proposal block generated to trustchain including 1 song: {track ID, author, magnet link}
4. Block is self-signed
5. Other peers can fetch signed blocks (in video it is the same person), grab magnet link,

[2020-04-27 06:13] synctext commented on #5134
nice!
please rebase superapp with latest upstream additions + use a fixed creative commons content linked for demo purposes.

[2020-04-27 07:40] devos50 commented on #5303
Valid points! I remember that I added the `--headless` flag a long time ago, but that was removed for some reason. We should add it back.

Also, a `--help` flag is helpful but not a top priority at the moment.

[2020-04-27 08:31] devos50 commented on #5293
Meeting April 27:
- Project plan due to next week
- All members have AnyDex up and running
- Looked at the `bitcoinlib` library, the library now has support for configuration files
- Project should also include the integration of other cryptocurrencies
- What are the design trade-offs when integrating other clients? Trust-less requires one to download the entire chain, which might not be feasible

[2020-04-27 09:49] devos50 commented on #5251
Notes meeting 27th April:
- Did brainstorm session to get the idea more clear, came up with some ideas
- Proximity tracking vs. secure claims if you are infected/have been infected
- Please post your documents on this issue
- Generalization is good but always focus on the main goal: a working application with source code. Running code is a must-have
- Consider a web-app (e.g., React) so it can eas

[2020-04-27 12:49] Dmole commented on #5303
Apart from bugs preventing people from using the application, the most fragile parts are the payed exit nodes which occasionally disappear leaving the network un-usable. Having a usable CLI is one part to attracting more exit nodes.

[2020-04-27 22:54] Dmole commented on #5303
Also

curl -sX GET "http://localhost:8085/downloads"
{"error": "Unauthorized access"}

What changed there and what is the workaround?

[2020-04-27 23:38] Dmole opened #5305 "API change without documentation"
I used to do such things as

`curl -sX PATCH -H "X-Api-Key: $KEY" "$T/downloads/$H" --data "state=stop"`

but that now results in

`{"error": {"handled": false, "code": "JSONDecodeError", "message": "Expecting value: line 1 column 1 (char 0)"}}`

and both

https://github.com/Tribler/tribler/blob/devel/doc/restapi/downloads.rst

and

https://tribler.readthedocs.io/en/devel/restapi/downloads.html

a

[2020-04-28 07:30] devos50 commented on #5305
Thanks for finding this! I agree, docs should be autogenerated and I believe that's the reason why we are using the `aiohttp_apispec` to annotate our endpoints. @egbertbouman could you look into this?

[2020-04-28 11:07] Tim-W commented on #5134
:+1: Good point about the creative commons content, also I already rebased the superapp with latest upstream additions.

Thesis document updates will be from now on here:
https://github.com/Tim-W/master-thesis

Also, still thinking about the title. Perhaps "A music app/system fully owned and run by its users" or something more in the DAO direction (sustainable/future-proof app?). (Discuss today)

[2020-04-28 15:47] grimadas commented on #4719
For the next iteration we will focus on hardening the guarantees, giving a quantitative bounds on finality.

**Goals**:
1. System working for millions of clients.
2. Has high availability: [no single point of failure ](https://en.wikipedia.org/wiki/Bus_factor)
3. Attack-resilient: adaptive to malicious peers.
4. Practical: low overhead to enter and maintain (revisit)
5. Simplicity

**Means**:
1. B

[2020-04-28 16:58] TimSpeelman commented on #4461
Meeting minutes:
- @synctext will read chapter 5 draft as uploaded to this ticket
- I will include a comment on why SSI e-IDAS Bridge solution does not meet SSI constraints.
- I will explicitly explain protocol messages used in my design

[2020-04-28 17:30] egbertbouman commented on #5305
To make the REST API more consistent, we made all endpoints use JSON encoding, while before some endpoints also used url-encoding.

For testing, I recommend the Swagger UI, which is available under `/docs`.

[2020-04-28 17:40] Dmole commented on #5305
@egbertbouman clearly I already figured out the change to a verbose implementation of JSON. This issue is about the dead code and broken documentation as a result said change.

[2020-04-29 00:56] PraveshMoelchand commented on #5145
Final pull request created: https://github.com/Tribler/trustchain-superapp/pull/23 🎉

[2020-04-29 12:52] hbiyik commented on #5305
@Dmole
If you are looking for a quick solution you can refer to the client api i throw here based on requests module.

https://github.com/hbiyik/repository.biyik/blob/master/plugin.program.tribler/tribler/api/download.py

[2020-04-29 14:16] egbertbouman commented on #5305
@Dmole My remark about JSON was just to explain _why_ we changed this.

Anyway, the `@docs` decorators are not dead code, they are used to generate Swagger docs. You'll find the docs by starting Tribler, opening a browser, and going to `localhost:8085/docs`.

We haven't really discussed yet what to do with the readthedocs site and the .rst files. I'll look into updating these using the Swagger doc

[2020-04-29 16:24] synctext commented on #2943
YouTube export plugin: https://github.com/mps-youtube/pafy

[2020-04-29 16:33] Dmole commented on #5305
@egbertbouman Thanks, I see it's bound;
[code]
My attempt to get at it with a SOCKS proxy did not work,
is there a way to un-bind it?

(I'd check the docs but can't without knowing how to bind to another IP lol)

[2020-04-29 19:16] emieldesmidt commented on #5145
That was a lie, https://github.com/Tribler/trustchain-superapp/pull/25

[2020-04-29 19:33] emieldesmidt commented on #5145
So to conclude:
 - extensively used github issues and a board to track final todo's (thanks @PraveshMoelchand)
 - Progress report:  [report](https://hackmd.io/@Pravesh/HyIkUL0O8/edit)
 - Documentation: [Common](https://github.com/Tribler/trustchain-superapp/blob/dao/common/README.md) and [trustchain-voter](https://github.com/Tribler/trustchain-superapp/blob/dao/trustchain-voter/README.md)
- FOC in

[2020-04-29 19:34] PraveshMoelchand commented on #5145
APK for our final app:
[trustchain-voter.zip](https://github.com/Tribler/tribler/files/4554100/trustchain-voter.zip)

APK for the FOC-integration proof of concept:
[foc-integration.zip](https://github.com/Tribler/tribler/files/4554104/foc-integration.zip)

[2020-04-30 08:02] synctext commented on #4863
[Superapp build process on Github](https://github.com/Tribler/trustchain-superapp/actions?query=workflow%3Abuild)
Latest [app, on course exam day: 30 April 2020](https://github.com/Tribler/tribler/files/4556939/app.1.zip)

[2020-04-30 08:49] brian2509 commented on #5144
The main final documentation file in our folder [README.md](https://github.com/Tribler/trustchain-superapp/blob/dao/currencyii/README.md) has been created with details about the protocol, structure, and issues. As well as an additional section in the main [README.md](https://github.com/Tribler/trustchain-superapp/tree/dao).

[2020-04-30 08:54] InvictusRMC commented on #5144
### Final Release
[app-debug.zip](https://github.com/Tribler/tribler/files/4557200/app-debug.zip)

[2020-04-30 10:00] synctext commented on #5146
Testing latest release...
![Screenshot_20200430_115548_nl tudelft trustchain](https://user-images.githubusercontent.com/325224/80698047-367eba80-8ada-11ea-80d2-f54d27424b24.jpg)

[2020-04-30 11:18] synctext commented on #5145
Fascinating final result feature; Freedom of Computing integration: https://github.com/Tribler/trustchain-superapp/blob/dao/trustchain-voter/README.md#experimental-freedom-of-computing-file-proposal

[2020-04-30 11:56] Nubro01 opened #5306 "File checking is back!"
- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####
7.5.0 >rc3
##### Operating system and version: #####
Windows 10
##### Steps to reproduce the behavior: #####
Switch anonymous to normal
##### Expected behavior: #####
No file checking
##### Actual behavior: #####
File is checked again and again as soon as you sw

[2020-04-30 12:01] synctext commented on #5134
Direct [link to binary .PDF of master thesis](https://github.com/Tim-W/master-thesis/raw/master/document.pdf)
_a music industry without any industry_

Thesis draft comments:
- "This thesis investigates the feasibility and usability of an audio streaming service without a central distributor."; too modest and hesitant language. You will design a system and present a proof-of-principle where all mon

[2020-04-30 13:50] synctext commented on #4629
Fresh Central Bank report: https://www.dnb.nl/en/binaries/WEB_127593_OS_CBDC_tcm47-388318.PDF (Central Bank digital currency)

[2020-05-01 00:15] Dmole commented on #5305
@egbertbouman nope that documentation is also broken; I installed local copy of Tribler, put localhost:8085/docs in chromium, and got
`{"error": "Unauthorized access"}`

[2020-05-01 00:38] egbertbouman commented on #5305
Which version of Tribler are you running? Currently, only the devel branch has Swagger support.

[2020-05-01 01:07] Dmole commented on #5305
@egbertbouman 7.5.0-rc5, so It appears there is no user documentation (users are not likely to build their own from the devel branch).

[2020-05-01 08:53] synctext commented on #4827
Title proposal: "**Reliable Trustworthy Communication using faulty hardware**", is more accurate and catchy. The harsh term fault is justified because IETF Internet Standards are violated by network operators. Trust-paradox is also linked in title now. Alternative to "Universal communication using imperfect hardware".

[2020-05-01 09:23] synctext opened #5307 "Libtorrent downloads require a Tribler restart"
Seen several times on Mac with 7.5 RC5.

Downloads stall to 0 Kbps, with well seeded torrents of 100+ peers. Tribler restart resumes downloading to 5+ MBps. This performance bug is reproducible when downloading an extra file within a multi-file swarm. Feels like some sort of locking issue introduced with refactoring. Can we add this performance bug to the application tester infrastructure? A time

[2020-05-01 09:34] qstokkink commented on #5307
We've seen this sort of behavior in the past:
https://github.com/Tribler/tribler/issues/3379#issue-290404226
https://github.com/Tribler/tribler/issues/5290#issuecomment-612870277
Could be related.

[2020-05-01 10:44] viric commented on #3440
This crashes again in release-20.03. Same thing.

[2020-05-01 13:22] viric commented on #3440
This doesn't happen in 7.5.0-rc5 so I guess it's all fine.

[2020-05-02 09:31] synctext opened #5308 "crowdsourcing of code (IPv8 plugins)"
prior thesis work: FBase by Mitchell
Topal.com and many other website list seasoned freelancers for hire.

Scientific question: how to design a global brain for coding? Without any central point of failure, security issues, privacy respecting and no extractive fees.
Task: show proof-of-principle prototype.
Question: PC support and Android in 1 language?

Crowdsourcing for code: collusion attack in

[2020-05-02 12:11] devos50 commented on #5308
Also related: [our DevID paper](https://pure.tudelft.nl/portal/files/55377155/paper_camera_ready.pdf).

**Abstract:**

We address this problem and introduce DevID, a blockchain-based portfolio for developers. Over time, this portfolio enables developers to build up a trustworthy collection of records that showcase their capabilities and expertise. They can import data assets from third parties int

[2020-05-03 22:06] kkostadinov99 commented on #5251
[Project Plan.pdf](https://github.com/Tribler/tribler/files/4571959/Project.Plan.pdf)
This is our Project Plan.

[2020-05-04 13:09] ichorid commented on #5297
Indeed, this points to a bigger problem of shutdown sequence being a mess between GigaChannelManager and MetadataStore. To solve it properly, the channel-processing and thread-handling functionality should be arranged between them differently. I'm not sure this is worth it at RC5 stage.

[2020-05-04 20:49] kkostadinov99 commented on #5251
This is our Project Plan. Revised version. Fixed "certificate" and "use case" confusion.
[Project Plan.pdf](https://github.com/Tribler/tribler/files/4577340/Project.Plan.pdf)

[2020-05-05 00:14] vi opened #5310 "Strange token balance drain without much downloads active."
#### Tribler version/branch+revision: #####

ea923d8a6f55582da6523ad81e53d33d9cb74116 release-7.5

##### Operating system and version: #####

Linux, non-Dockerized

##### Steps to reproduce the behavior: #####

1. Run a Tribler profile with long history of usage though various version (including recent rollback to v7.3.2). Most of token balance just remains from what was earned about two-three yea

[2020-05-05 00:44] vi commented on #5310
Looks like it has petered out:

![screenshot](https://user-images.githubusercontent.com/173219/81026366-8ff03c00-8e82-11ea-99fd-ce1db72671e6.png)

Has the balance stabilized on just today's transit traffic?

[2020-05-05 07:12] devos50 commented on #5310
When leaving the Tribler instance without any (active) downloads, it could relay data. However, an increase in 'bytes given' should be accompanied with a (higher) increase in 'bytes taken'.

Now, we recently addressed a Python 3-related bug where payouts between Tribler 7.4 and 7.5 instances were not working correctly, due to a database error. I think that this behaviour is the result of an intera

[2020-05-05 11:06] vi commented on #5310
Do you mean the reverse?

Display was locked and Tribler window minimized at that time. Maybe that's why there are no points on the graph?

Should it lead to the drain much faster than current total network load or just lead to non-increase of the balance where it should?

[2020-05-05 19:12] michaelsmoody commented on #5175
Good afternoon. First, let me say thank you, as I strongly prefer Tribler to most other options available on macOS.

I've looked for other issues, and this appears to match closest. This appears to still be happening in 7.5.0-rc5. I can't download well seeded files such as an Ubuntu image, or Kali Nethunter unless disabling anonymity entirely. Downloads that worked a few weeks ago (and were paused

[2020-05-05 19:46] devos50 commented on #5175
Hi and thank you for using Tribler!

I can't immediately tell what would be causing this issue. It might be that exit nodes are overloaded and that you therefore do not get a circuit assigned. What's your token balance? Also, is the anonymous downloading failing when trying to download it at another time during the day?

If the torrent is Ubuntu content, could you share the `.torrent` file (or a l

[2020-05-05 19:52] michaelsmoody commented on #5175
https://images.offensive-security.com/nethunter/nethunter-hammerhead-marshmallow-kalifs-full-2020.1.zip.torrent?_ga=2.104490624.1481424012.1588706084-464733534.1587774066 is an example of a torrent that is well seeded that wouldn't download anymore unless I disabled anonymity. To double check, I added the torrent again, and it is still "stuck" until disabling anonymity.

My token balance is -12.8G

[2020-05-05 19:58] michaelsmoody commented on #5175
It appears I may not be the only one. https://forum.tribler.org/t/mining-leads-to-negative-balance/5621/7

[2020-05-06 08:29] vi commented on #5310
In the end, "Taken from community plot" reached some limit (maybe it was total amount of very old tokens) and stopped growing:

![screenshot](https://user-images.githubusercontent.com/173219/81154741-dfbb2a00-8f8c-11ea-9c19-2361ddfa4ccd.png)

[2020-05-07 12:02] synctext commented on #4629
Issue of Transaction finality and chain integrity.
```Signature-requests()``` which are unsigned by the counterparty are invalid. These are the key of transactions and we need a better "re-try" or repair mechanism to avoid forks and ambiguity.

[2020-05-07 13:03] hbiyik opened #5312 "Config Convert keeps the old version number to the new config"
Hello Team

I just noticed an interesting behaviour.

On a windows machine I had a 7.4.3 version installed, and now upgraded 7.5.rc5.

When checking the version info in the triblerd.conf under 7.5 dir. i see:

[general]
version = 7.4.3 (should be 7.5)
log_dir = logs
....

[2020-05-07 13:23] synctext opened #5313 "literature survey + master thesis: G-Rank learn-to-rank"
Direction changed, txt will be updated soon.

Old stuff:
- 1997: [The Internet: A Future Tragedy of the Commons?](https://link.springer.com/chapter/10.1007/978-1-4757-2644-2_22)
- [Internet Security And The Tragedy Of The Commons](https://www.clutejournals.com/index.php/JBER/article/view/30700)
- [The Tragedy of the Commons: Twenty-two years later](https://link.springer.com/article/10.1007/BF00889

[2020-05-07 13:26] awrgold commented on #5313
- http://blogs.oii.ox.ac.uk/floridi/wp-content/uploads/sites/67/2014/05/ttotdc.pdf

- https://www.theatlantic.com/technology/archive/2015/06/the-tragedy-of-the-digital-commons/395129/

- https://www.hbs.edu/faculty/Publication%20Files/19-060_8c8c0f68-fecf-4aa7-8084-ee3583fa557a.pdf

[tragedy2.pdf](https://github.com/Tribler/tribler/files/4593186/tragedy2.pdf)

[2020-05-07 14:43] hbiyik commented on #2694
I want to update the current status with the Kodi Implementation

I have taken a complete different approach from the previous attempts, due to the facts that Tribler moved to Python3 and and Kodi is somehow is using python 2.6 to Python 3.x in the wild. So the current approach is, distributing the precompiled overall headless binary along with the addon.

There are certain challenges still:

- St

[2020-05-07 15:40] kkostadinov99 commented on #5251
Revised Project Plan - The names of all people involved were included; Fixed some formating issues; Referring to the virus as "SARS-CoV-2"; Added references to the technologies that are going to be used; Made the risk analysis more related to the project; Added a MoSCoW list, summarizing all requirements; Fixed paragraphs of the "Elicitation and Analysis of the Requirements" section that might cau

[2020-05-08 14:21] hbiyik opened #5314 "download_manager.update_hops Forces safe_seeding to False"
Hello Team

I think this looks like a serious issue if i am not mistaken. Tested on release-7.5 branch.

Here is how to duplicate:

1) Add an anomyous download.
2) Check with wireshark that safe seeding value is True for the given download from the downloads endpoint
3) Change the hop count to someting else ie 1->2
4) Check the che safeseeding value again with wireshark, not it is set to false.

T

[2020-05-08 14:41] synctext commented on #3337
Thesis final chapter brainstorm:
- Trustful blockchain-based decentral markets
- Comparing numerous blockchain solutions (including EBSI)
- Trustworthy decentral exchange market for bandwidth tokens and cybercurrency
- Trustchain: measuring the emergence of trust
- Trustchain: measuring the emergence of trust in Markets, Money, and Media.
- BTC-ETH: Global decentral marketplace for cybercurrency

[2020-05-08 15:47] egbertbouman commented on #5314
Safe seeding means that once a download has completed, it will continue as an anonymous download. So, when a download has `safe_seeding=True` and `hops=0` when downloading, it will have `safe_seeding=False` and `hops=1` (or whatever the default hop count is) when seeding. For anonymous downloads this flag is essentially useless because it will seed anonymous anyway.

I'm not sure why safe seeding

[2020-05-08 16:03] Tim-W commented on #5134
Shot update on recent work: Worked on the app to make it more stable for a very simple proof of concept and to prepare it for a PR to the superapp repo. Also I'll try to share an APK soon once downloading/playing runs more smoothly.
<img src="https://user-images.githubusercontent.com/4957928/81423851-50ad3e00-9155-11ea-8865-e864beeda329.png" width=250/>
* Use creative commons magnet links
* Each b

[2020-05-08 16:11] hbiyik commented on #5314
ah i see now. default hop count can never be 0 hops, ok.

[2020-05-08 18:21] egbertbouman commented on #5314
I'm not sure about changing the download endpoint since I think it just adds to the confusion. In the REST API, it would have one value, while in the config it could have another. For now, I think it better to document exactly what this flag means.

[2020-05-08 21:06] hbiyik commented on #5314
This may be a naive question but, whats the point in terms anonymity, when you actually upload non anonymous where hops=0, and start to upload with hops with safeseeding=True after file is fully downloaded.

May be this is confusing because there is no actual use case for it?

[2020-05-09 13:54] ichorid commented on #5306
This is a known issue. Each anonymity level uses its own Libtorrent session. Sessions are independent of each other, so when you switch anonymity level you essentially reload the torrent. We will consider speeding up torrent reloading in the future.

p.s.
this is a minor issue, so using three exclamation marks in your report is a bit of an overkill :wink:

[2020-05-09 14:13] ichorid commented on #5300
I've seen similar behavior with some torrents created with 7.4 after switching to 7.5. Could not get rid of it, had to find and delete the correpsonding `.state` file manually. Thought it was because of my experiments with different Tribler versions, so paid no heed to it :man_shrugging:

[2020-05-10 10:24] ichorid opened #5316 "Glitchy dlcheckpoint file"
Latest `release-7.5` wrong encoding in the torrent's files list:
![изображение](https://user-images.githubusercontent.com/2509103/81496617-1bb9fc00-92b9-11ea-9180-e97ef004e891.png)

[2020-05-10 14:48] ichorid commented on #5316
This is caused by a magical  `b496932f32daad964e1b63188faabf74d22b45ea.conf` dlcheckpoint file:
[code]

When it is in your `dlcheckpoints` dir and you start Tribler, another dlcheckpoint file is created. Then, when you delete the download from the torrents list, *that* dlcheckpoint will be deleted and on the next restart it will reappear again.

The file is probably a result of some early checkpoi

[2020-05-10 14:49] ichorid commented on #5316
@egbertbouman , could you please comment on this?

[2020-05-10 15:44] egbertbouman commented on #5316
Not sure what crazy experiment you've been doing, but the `b496932f32daad964e1b63188faabf74d22b45ea` infohash is the bootstrap download. Somehow your checkpoint is misnamed. That's why you get a second checkpoint, which has the correct name. I guess we could check if the infohash matches the metainfo.

Not sure how this is related to the unicode problem that is shown in the GUI.

[2020-05-10 16:44] ichorid commented on #5296
I've witnessed a similar freeze today. Tribler was stuck for about a minute. After that, "Download finished" notification appeared and Tribler unfreezed. Also, at my system monitor I noticed a giant peak of "I/O wait".
Here is the log:
[code]

This happened half a minute after Tribler startup. There were no downloads except for a few channels, the usual Ubuntu distro (already downloaded) and the g

[2020-05-10 17:26] ichorid commented on #5316
Oops, sorry for that one, mis-copied the filename. The right one is `d447b729edc574a496eb83a495daa56e7e7d8bfe.conf`

[2020-05-10 17:34] ichorid commented on #5316
So, I've tried to download both infohashes. The basic one is:
first one is `d447b729edc574a496eb83a495daa56e7e7d8bfe` which points to an official free torrent-based music release. Somehow, however, the dlcheckpoint file above results in creation of
`5302bfd1d48875e58fdc64e031693e813a829266.conf` with the same metainfo but different `engineresumedata` contents.

[2020-05-10 18:49] egbertbouman commented on #5316
Ahh, I see. That does make more sense.

Are you sure the metainfo stays the same? If you manually calculate the infohash for the metainfo that you posted from the config file, you get `5302bfd1d48875e58fdc64e031693e813a829266`. When you calculate the infohash from the torrent downloaded from the website you get `d447b729edc574a496eb83a495daa56e7e7d8bfe`. It seems we are messing with the filenames

[2020-05-11 07:33] ichorid commented on #5316
@egbertbouman , thanks for checking this out.
Now I remember that I used this torrent to fix the bug with filename encodings. I guess the creation of this glitchy torrent is a side-effect of some of my attempts to fix that bug. So, we can close this issue.

[2020-05-11 07:33] #5316 closed

[2020-05-11 07:35] ichorid commented on #5306
Fixed in #5317

[2020-05-11 07:35] #5306 closed

[2020-05-11 10:28] synctext commented on #5134
Impressive progress again..! Please do a first PR today or tomorrow at the latest for the Superapp

[2020-05-11 13:29] #5300 closed

[2020-05-11 17:25] ichorid commented on #5295
I found the bug. It was there since the beginning.

The bug is only triggered be a very specific condition:
the user must delete a torrent from their channel, and then the deletion command must be ordered to be serialized the last in the corresponding `.mdblob` chunk. In that case, the blob's filename will be the same as the deleted torrent's timestamp. If there already exists an `.mdblob` with th

[2020-05-11 19:13] synctext commented on #5295
wow. Will that overwrite also result in missing pieces from seeding?

[2020-05-12 06:58] ichorid commented on #5295
Yes. I am working on a unit test to catch that.

[2020-05-12 07:13] Rik44444 opened #5319 "all downloads regularly go to 0kb/sec"
hi all,
i have an issue with Tribler: all my downloads regularly regress to 0 kb/sec. They pick up again after a while. I've tried to create logs for this to share with the developers, but even with the log option checked in the options, my log folder stays empty. What did i miss?
I'm on Windows 10, using latest stable version 7.4.4 from the Tribler.org website.
Rik

[2020-05-12 07:18] Rik44444 commented on #5155
same problem here, i am not using a custom build, i'm using the most recent stable build from tribler.org
<img width="960" alt="temp" src="https://user-images.githubusercontent.com/42555414/81650010-7ece9e80-9431-11ea-8484-64b9ec0a199f.png">

[2020-05-12 08:12] synctext commented on #4039
This is now officially a hot topic!
Best overview paper I've seen: [Adversary-resilient Distributed and Decentralized Statistical Inference and Machine Learning](https://arxiv.org/pdf/1908.08649.pdf). It is hot because of the entire [special issue publication](https://ieeexplore.ieee.org/xpl/tocresult.jsp?isnumber=9084311) with lots of similar articles. That great overview paper includes ```Recent

[2020-05-12 09:48] kkostadinov99 commented on #5251
Link to the code repository: https://github.com/kkostadinov99/covid-19-recovery-identification

[2020-05-12 16:22] devos50 commented on #5319
Thanks for the report! Does this issue still persist?

[2020-05-12 19:38] Rik44444 commented on #5319
jep still happening. I'll be happy to upload an error log, as soon as you can help me figure out how to make one :P

[2020-05-13 02:14] aaguilarjimenez commented on #5319
This has started to happen to me recently too. I was on 7.4.4 and upgraded to 7.5.0-rc5, still same behavior. It stays at 0 Kb/s for a long time, hours even, then maybe after a while it finally resumes downloading, pretty fast. Sometimes closing the program and opening it up again solves it, at least momentarily.

I just upgraded my Ubuntu MATE from 19.10 to 20.04. I think it coincided with the mo

[2020-05-13 12:03] MattSkala commented on #4827
- rewritten intro and problem description
- experimentation with multihole UDP punching
    - 65k packets/10 s – successfully punctured Vodafone NAT from KPN and home broadband, but probably reached session limit from T-Mobile network
    - 1k packets/30 seconds is the fastest safe speed for T-Mobile (=> usually successful puncture within 30 minutes)

[2020-05-13 13:05] synctext commented on #4827
:clap: With this milestone it becomes realistic to dream of adding address book functionality. Thus yielding a **zero-server secure social network**. Even your thesis title could reflect this. But your framework can also be extended to a MusicDAO, zero-server AI, and is thus a generic Big Tech alternative library.

[2020-05-13 15:14] synctext commented on #4827
Problem Description: _The Internet_ is under continuous attack
(Suggestion of alternative storyline)

Many Internet protocols, security companies, and security models have been compromised. Within this thesis we address a big open research question, can we make non-trivial software systems that are safe?

We identify three classes of attacks on The Internet: attacks on the protocol level, compromi

[2020-05-13 18:19] ichorid commented on #5307
@synctext , does the problem only manifests itself with anonymous downloads?

[2020-05-13 18:27] ichorid opened #5324 "[7.5] Ord error at Peers screen"
Start downloading a torrent and switch to "Peers" tab, wait for some time. I guess it only happens with some torrents.

[code]
![pic](https://user-images.githubusercontent.com/2509103/81850106-c9e2d180-9557-11ea-82ec-0140dcdc6c41.png)

[2020-05-13 18:38] synctext commented on #5307
This is only with direct download. No anon tunnels.

[2020-05-13 18:39] synctext commented on #5319
interesting.. Seems dupe of #5307

[2020-05-13 18:41] synctext commented on #5319
Seems Windows 10, Mate, and Mac users have seen this performance bug. We should try to catch this in our app stress tester infrastructure.

[2020-05-13 20:11] aaguilarjimenez commented on #5307
In my case (explained on #5319 ) I always use 1 hop of anonymity. As a refresher: Ubuntu MATE 20.04, Tribler 7.5.0-rc5.

[2020-05-14 07:28] #5324 closed

[2020-05-14 07:29] ichorid commented on #5295
Closing this. The fix should do its work on the owner's side, though.

[2020-05-14 07:29] #5295 closed

[2020-05-14 07:41] ichorid commented on #5298
latest 7.5 release branch, can't reproduce this. Sub-channels are perfectly searchable, so closing this one.

[2020-05-14 07:41] #5298 closed

[2020-05-14 08:01] ichorid commented on #5155
@Rik44444 , thanks for reporting! We're probably going to include some kind of option to turn the scaling off in the upcoming 7.5 release.

[2020-05-14 09:12] synctext commented on #5134
comments on thesis progress:
- repeating thesis direction: a music industry without any industry
- Problem Description focus: The robots are coming. Big Tech is dominating our online world. We attempt to create the first real alternative for Big Tech. We focus on the music industry due to the low level of innovation, significant friction in this industry, market failure to control prices, and its

[2020-05-15 10:22] ichorid commented on #5319
Deluge users [reported](https://forum.deluge-torrent.org/viewtopic.php?t=39557) [similiar](https://forum.deluge-torrent.org/viewtopic.php?t=54948) [problem](https://forum.deluge-torrent.org/viewtopic.php?t=54877) from time to time. Apparently, Libtorrent blocking on disk i/o is the cause of this.

[2020-05-15 10:27] ichorid commented on #5319
@aaguilarjimenez , @Rik44444  , please indicate does it happen only with anonymous downloads or with non-anonymous too?

[2020-05-15 12:27] synctext commented on #1
Discuss with team the cost and benefits of using the [Continuous Delivery](https://doi.org/10.1109/MS.2015.27) model. Will it accelerate the closing of this issue #1? Make release 7.5 stable and possibly switch. When we expand with upto 5 additional people by 1 Sep 2020 we require more structured work methodologies and weekly stand-up meeting or something. The CMU [Software Engineering Institute](

[2020-05-15 14:16] TimSpeelman commented on #4461
The long awaited chapter 9, Implementation, is complete. It describes a prototype for a semantic layer on top of IPv8 (latest release, 2.1), and includes:

1. an android-based Wallet application,
2. a verification protocol,
3. an attestation protocol,
4. an authentication service and
5. an attestation service that enables subjects to collect attestations without leaving their wallet.

I intend to

[2020-05-15 15:17] Rik44444 commented on #5319
sorry i've always only tried anonymous. I'll try non-anonymous next time

[2020-05-15 15:23] qstokkink commented on #4461
You seem to have substantial material for your thesis. Don't forget to contextualize it with existing research though. Even in the field of usability there is a lot of work (useful example for your usability claims: https://www.usenix.org/conference/soups2019/presentation/wu).

[2020-05-15 17:26] aaguilarjimenez commented on #5319
Same as Rik44444, only ever tried with anon downloads (1 hop). I'll try to download something non-anon when my downloads are frozen and come back at you with the result...

[2020-05-15 17:50] Bloodyfool commented on #4629
@synctext
In light of your recent email, here is the very first version of the stablecoin /CBDC design/paper.

Abstract:
    In this document we provide an architecture for building currencies on the
    TrustChain distibuted blockchain. We present a multilayer design that builds
    on the primitives provided by the IPv8 project. Layer 1 is TrustChain and
    IPv8, layer 2 builds on trustchain an

[2020-05-16 08:47] devos50 commented on #4629
Just a few comments after skimming through the design document.
- It seems that the goal of the project is to build a stable coin on top of TrustChain. In your design, you propose three layers to achieve this goal (maybe refrain from the term 'layer' since it is slightly confusing in the domain of blockchains where layer 2 is referred to as off-chain solutions). However, layer 1 and 2 are already

[2020-05-16 08:51] devos50 commented on #5319
We are trying to capture this nasty bug on our testing machines so hopefully we will have a solution for this issue soon.

[2020-05-17 10:15] Bloodyfool commented on #4629
Ok, i thought the "wallet" stuff in ipv8 was just for attestations. Is there any documentation or tests i can look at to get a graps for how to work with it?

The permissionlessness of the system still depends on witness selection. I currently can thing of no way to do this without a global component to track entry and exit of witnesses.

[2020-05-17 16:00] egbertbouman commented on #5319
I have no problems with 0-hop downloads, but I am also getting regular speed drops with anonymity enabled. While this is expected to some extent, since circuits only have a limited lifetime, I often see circuits getting destroyed well before their traffic limits are met. The cause seems to be that exit nodes are destroying the circuits intentionally, because my balance is too low.

[2020-05-17 17:53] devos50 commented on #5319
It could be that there are not enough slots and users are kicked out (and their circuits are thus destroyed). I'm not sure how often this problem occurs specifically but a user is likely to maintain multiple circuits with distinct exit nodes.

Can we return the reason why the circuit got destroyed to the user somehow? If we get multiple of circuit destructions within a short time, we can display a

[2020-05-17 17:56] devos50 commented on #4629
The wallet stuff in IPv8 is indeed for (SSI) attestations only. Our witness solution is not fully implemented and in IPv8 yet but we are working on it. As such, there is no documentation yet. We can send you the article if you wish. You can find some experimental code [on my branch](https://github.com/devos50/py-ipv8/tree/noodle_asyncio), but we are currently refactoring this.

[2020-05-17 18:28] qstokkink commented on #5319
There is actually a backwards-compatible `reason` in the wire format for this. We should be able to extend it and deliver it to the user using the Tribler notifier in the TriblerTunnel subclass. Reference:

https://github.com/Tribler/py-ipv8/blob/c5118c3929ce2b0ed9aacdea6561b6a81283e79a/ipv8/messaging/anonymization/community.py#L433-L456

[2020-05-17 19:46] egbertbouman commented on #5319
From what I can tell by looking at the code, the most likely reason why an exit would destroy a circuit after creation is due to a low balance. Other reasons are when the exit is unloading the `TunnelCommunity` or when we've sent more than 50 packets to the outside world without a response. I guess the latter is also a possibility. Of course, it's best not to guess, so using `reason` field sound l

[2020-05-18 09:33] ichorid commented on #5319
A user reported on our forum:

![Screen Shot 2020-05-16 at 11 37 03 PM](https://user-images.githubusercontent.com/2509103/82197434-50523700-98fb-11ea-9769-afe4f91c7252.png)

![Screen Shot 2020-05-16 at 11 44 18 PM](https://user-images.githubusercontent.com/2509103/82197457-55af8180-98fb-11ea-864e-e7e702943abc.png)

[2020-05-18 10:02] egbertbouman commented on #5319
@ichorid We're only seeding through e2e circuits, meaning that you can only upload to other Tribler users. Changes are that there are simply no other Tribler users downloading the torrent. So, I'm not surprised about the problems with seeding.

I've never seen a download that only works if hops>0. Not sure what's happening here.

[2020-05-18 19:02] ichorid opened #5326 "[7.5-rc5] Excluding files blocks included files from download when sharing a piece"
Exclude some files from a multifile torrent. If one of the excluded files shares a piece with included file, included file will never finish downloading. In other words, excluding files/pieces take priority over including files/pieces.

Libtorrent version 1.2.2.0

[2020-05-19 07:04] synctext commented on #4461
Solid progress! You have lots of thesis material. 1 week test with small amount of subjects would make it perfect. Please finish the thesis first.

[2020-05-19 10:50] ichorid commented on #3615
Currently, Tribler Channels system sends channels data via concatenated lists of serialized and compressed metadata entries. While very efficient on the wire (100 Mb torrent containing  500 000+ entries), it is very inefficient when uploading to the local SQLite database. In fact, it is so inefficient that on an average PC processing 100 000 entries can take a few hours. There are two reasons for

[2020-05-19 11:04] ichorid commented on #3615
To solve the problem of data storage and integration the Channels system must work smarter, not harder (thanks, [Edmond Lau](http://www.effectiveengineer.com/)!). In particular, a peer should rely on other peers in its vicinity for storing and (at least partially) integrating the info.
Every peer should store *some* part of the network's total info, e.g. some medium-sized thematic channels. Then,

[2020-05-19 11:19] vi commented on #3615
Maybe size of such batches can be dynamic and dependent on whether GUI is active or minimized in backgroud? If user is actively interacting with channels and search and downloads, aim for 1-second batches. If Tribler window is hidden (or user just watches a video in it), aim for 20-second batches.

[2020-05-19 12:51] ichorid commented on #3615
Tribler already uses dynamic batch size with an algorithm that adjusts batch sizes to occupy the reactor for approx. 100ms. The problem is, while you can [interrupt SQLite transaction from Python
](https://stackoverflow.com/questions/43240496/python-sqlite3-how-to-quickly-and-cleanly-interrupt-long-running-query-with-e/43292627), even with 1-minute batches the thing takes hours due to all the SQLi

[2020-05-20 12:12] ichorid commented on #3615
Internet is not just an indexed collection of books.
Wikipedia is not just an indexed and extended list of articles from Encyclopedia Britannica.
Spotify is not just a music catalogue from your local music store.
Forum-based torrent tracker is not just a list of files from users' disks.
Facebook is not just a global telephone book with pictures.
Instagram is not just a collection of users' photos.

[2020-05-20 12:27] Dmole commented on #3615
Incase you don't know already; "begin transaction;" significantly(3x+) speeds up SQLite.

[2020-05-20 14:31] ichorid commented on #3615
@Dmole , we use the wonderful PonyORM for all DB access in channels. It starts transactions automatically. Thanks for suggestion anyways.

[2020-05-20 16:02] Dmole commented on #3615
As long as it's not doing more than one SQL transaction per user click, or minute, or %GB. (a transaction per insert is just as slow)

[2020-05-22 16:22] Tim-W commented on #5134
Short update on this week's progress:
Focussed on stability and debugging progress per file.
* Removed the torrentstream-android dependency layer for now and only use JLibtorrent, as torrentstream-android was buggy
* Fix several issues with seeking, pausing/playing and switching tracks
* Handle file priorities: Once a file is selected to play, it gets a high priority to download
* Created a progre

[2020-05-22 16:22] ichorid commented on #5312
Actually, the version string is unused since 7.3... We should probably remove it on config upgrading.

[2020-05-23 14:21] ichorid commented on #3615
[Decentralized recomendations system and gossip protocol.](https://hal.archives-ouvertes.fr/hal-01343348/document) Seems very close to what we're trying to achive here.

[2020-05-23 17:50] ichorid commented on #3615
Different kinds of services require different kinds of architecture to be competitive. For instance, a tracker forum should focus on fast updates and add some dynamic content like collectively maintained "popular" torrents list and torrent health states. A scientific articles database should focus on index completeness and metadata search.
So, tracker forum is best served by direct sending of indi

[2020-05-24 08:15] synctext commented on #5134
Please include _subscription concept_ in thesis and prototype, if you agree with this: https://stratechery.com/2020/dithering-and-the-open-web/
open + pay-for.

[2020-05-24 11:43] synctext commented on #5312
good find!
We need a mechanism to identify Tribler deployment. Any suggestions on how to fix it? How to advertise? Any public crawler should see it.

[2020-05-24 14:15] hbiyik opened #5327 "Triblerd & ARM Linux"
Hello Team

**Problem 1:** A conveinent way for tribler headless (triblerd) should be provided to deploy the server with QT and UI stuff. Currently run_tribler.py can be run with some ENV variables (CORE_PROCESS etc..) and which is not very conveinent. Another approach is there run_tirbler.headless.py which is nice way but does not support versioned dirs. I should this part needs to be refactored.

[2020-05-24 14:24] hbiyik commented on #5249
fixed in https://github.com/Tribler/tribler/pull/5301

[2020-05-24 14:25] hbiyik commented on #2694
related: https://github.com/Tribler/tribler/issues/5327

[2020-05-24 14:25] #5249 closed

[2020-05-24 14:26] hbiyik commented on #5303
related: https://github.com/Tribler/tribler/issues/5327

[2020-05-24 14:26] hbiyik commented on #3230
related: https://github.com/Tribler/tribler/issues/5327

[2020-05-24 14:38] Dmole commented on #5305
Looks like someone fixed readthedocs so that it's no longer empty.

[2020-05-24 14:38] #5305 closed

[2020-05-24 18:14] ichorid commented on #3615
Channels UI must impose rules that will force users to build channels that fit best to the Channels architecture. I.e. use nested folders with not-too-many entries, etc.

[2020-05-24 19:29] synctext commented on #5327
cool progress.
Would it help if we at some point procured a an ARM laptop for our build farm? https://www.pine64.org/pinebook/
Native execution..

[2020-05-24 20:08] hbiyik commented on #5327
That device is using an arm64, i checked that aarch64 can run isa from armv5 in 32bit as well.

Together with docker containers should help i think, with containers there should be an abstract approach to have both armel, armhf and aarch64 toolchains on the same device.

[2020-05-24 23:36] hbiyik commented on #5327
I did further investigation and i feel kind of silly for trying to build that qemu image for 3 days since docker has already a feature to emulate the ISA of different CPU architectures and pass to kernel on runtime. This is called binfmt support with QEMU, meaning that you can run guest instructions with full host cpu capabilities in emulation mode without emulating a hardware or SOC. So there is

[2020-05-25 13:59] Tim-W commented on #5134
Updated fork with upstream changes: [app-debug.apk](https://drive.google.com/open?id=1aF4lMQvtrcVNj7D32LD7Q--Lm0aPiAw6)
(The creative commons magnet link used for the example contains flac files from bt.etree with size 10-20 MBs, usually high-quality mp3 songs would be 5-10MBs)

[2020-05-26 09:16] synctext commented on #4629
Progress meeting:
- ECB and _Banque de France_ are initiating Central Bank Digital Currency experimentations for **The Eurosystem**. https://www.banque-france.fr/en/financial-stability/market-infrastructure-and-payment-systems/call-applications-central-bank-digital-currency-experimentations
![image](https://user-images.githubusercontent.com/325224/82882664-ac433e00-9f41-11ea-9140-72d00b89146d.png)

[2020-05-26 09:57] ichorid opened #5328 "[7.5-rc5, Mac] No default download directory on first-time install"
When trying to download something just after installing Tribler for the first time, the following error appears:

![image](https://user-images.githubusercontent.com/2509103/82887211-f9c2a980-9f47-11ea-85f8-442b28c97d72.png)

[2020-05-26 12:06] synctext commented on #3615
2021 requirements:
- First be superior to 1 use-case in terms of features-completness and stability; Triblerd; fix GUI later.
- sharp single-minded focus: True GigaChannels with 1 billion magnet links #3971.
- _open-access archive for 1,706,172 scholarly articles in the fields of physics, mathematics, computer science, quantitative biology, quantitative finance, statistics, electrical engineering

[2020-05-26 12:56] synctext commented on #1
Usability of Tribler still is lacking. See our great ToDo list by user [Grunwald](https://forum.tribler.org/t/tribler-7-4-4-for-windows-x64-first-tests-and-problems/5959):
- [ ] Problem the program starts very slowly. Plenty of time must to wait for the program to fully load. It stumbles on more serious operations and is very slow. When i added a new torrent they didn’t show up for a long time.
-

[2020-05-26 14:34] synctext commented on #4827
[Latest .APK](https://github.com/Tribler/tribler/files/4682914/app.5.zip)

[2020-05-26 15:00] ichorid opened #5329 "[7.5-rc5] Ask invalid"
After running Tribler for awhile.
Also there are lots of reports on Reporter for this.
![image](https://user-images.githubusercontent.com/2509103/82916420-4f13b080-9f72-11ea-95b1-42cbe502bf43.png)

[2020-05-26 17:23] ichorid commented on #5296
I've witnessed Tribler Core get stuck at `Creating introducing circuit` for 15-20 seconds.

[2020-05-26 17:50] loadletter commented on #5329
I've had that issue running the latest release-7.5 https://github.com/Tribler/tribler/commit/8acd2f942d2d884c49ec3142803ef066287513b5
But it happened a couple of minutes after startup and after restarting it ran fine for hours

[2020-05-26 17:52] devos50 commented on #5329
The issue is most likely that an incoming, invalid ask (or bid) in the market is triggering a `RuntimeError` which is not catched correctly. I will fix it after our paper deadline tomorrow.

[2020-05-26 18:24] ichorid opened #5330 "[7.5-rc5] Getting a large list of downloads is super-slow when processing a channel"
On a weak machine with approx 500 downloads (mostly channels) requesting the list of downloads from the core via the `/downloads` REST endpoint takes about 60 seconds. During this period nothing is written in the console, implying the core is stuck.

Possibly related to #5296

[2020-05-26 18:27] ichorid commented on #5330
@egbertbouman  , could you please comment on this?

[2020-05-26 19:05] egbertbouman commented on #5330
Do you have the details panel open to the peers or files tab? If so, Tribler will also add peers/files to the downloads, which is an expensive operation. Having said that, 60 s seems *way* too high.

I'll see if I can reproduce it.

[2020-05-26 19:20] ichorid commented on #5330
@egbertbouman , you were right, the problem was in the channels. Apparently, when a big channel is being processed (which was the case), downloads endpoint would get stuck on channels query.

[2020-05-26 19:41] egbertbouman commented on #5330
I see that the download endpoint is getting stuff from the database. I guess channel processing is also doing a lot of database stuff. Could it be blocking there?

[2020-05-26 20:57] hbiyik commented on #4376
Stream prebuffering status indication is implemented in this PR.

Now also there is an option to toggle between stream and download mode

https://github.com/Tribler/tribler/pull/5301

[2020-05-26 21:04] hbiyik commented on #4189
Related

https://github.com/Tribler/tribler/issues/5327

[2020-05-26 21:20] hbiyik commented on #4084
Now there is a progress indicator in player page for qt ui. Users have a visual sense of speed and an idea when to expect for the video to start streaming, i think this solves most of the misexpectations.

[2020-05-26 21:24] hbiyik commented on #2957
All of those are fixed in

https://github.com/Tribler/tribler/pull/5301

[2020-05-26 21:26] hbiyik commented on #4899
Fixed in

https://github.com/Tribler/tribler/pull/5301

[2020-05-26 21:28] hbiyik commented on #5302
Fixed in

https://github.com/Tribler/tribler/pull/5301

[2020-05-27 06:41] synctext commented on #5319
Bug triggered again, now during "disk checking"!

Tribler 7.4.4 did not have this, 7.5rc5 introduces new behavior that triggers this. Not a Mac only issue, also reported by others on Linux Mate and @Rik44444 on Windows 10.

This is the last big issue we need to resolve before we can finally declare things stable and release 7.5 of Tribler. Tribler RC5 stuck on disk checking with 3 concurrent other

[2020-05-27 06:42] synctext commented on #5307
closing this older issue, as the newer issue has more user reports and details.

[2020-05-27 06:42] #5307 closed

[2020-05-27 07:27] ichorid commented on #5319
https://github.com/arvidn/libtorrent/issues/4661 looks like our case

[2020-05-27 07:33] #4899 closed

[2020-05-27 07:33] #5302 closed

[2020-05-27 08:14] ichorid commented on #4084
@hbiyik , thanks for your contribution, it really adds clarity to the GUI. However, anonymity mode selection is still important.
BTW, how do you mostly use Tribler for streaming in Kodi: with or without anonymity?

[2020-05-27 08:14] synctext commented on #31
After the summer of 2020 my plan is to form a small dedicated team around this issue. Have weekly team meetings, etc. @alexander-stannat has joined us for a few months and can help with the theoretical foundations. Draft milestones:
- [ ] detailed design documented in .md style or technical report
- [ ] enforcement of net-positive contributions and deployed in Tribler.
- [ ] reputation functions a

[2020-05-27 08:16] synctext commented on #5330
@ichorid do you have or can you craft a unit test to trigger this bug?
(btw as briefly discussed, I've tentatively added you to the reputation system team, Issue 31 from 7 years ago).

[2020-05-27 08:29] hbiyik commented on #4084
I personally use it in anon mode, and i dont see a use case where someone would download anon, but stream non-anon (or vice-versa). If a user would be ok to stream "non-anon", then it wouldn't make much sense to start the download in anon mode in the first place.

The problem for me was, i had no idea what was going on when entered in the stream mode, a black screen, nothing was hapenning etc..

[2020-05-27 08:38] ichorid commented on #5319
["`set_alert_notify` may deadlock when called more than once"](https://github.com/arvidn/libtorrent/issues/4638)

we refactored a lot of Libtorrent-related stuff during 7.5. Another detail is that we refactored Libtorrent wrapper *after* moving to `asyncio`. That explains why we only started to experience the problem later.

@egbertbouman , could you please remember if you changed stuff related to

[2020-05-27 09:05] synctext commented on #4827
The scientific problem we focus on within this thesis is **how can we bootstrap an ecosystem which will make The Internet safe and fair**. The thesis approach to this ideological-driven scientific problem is to remove any central point from the ecosystem which can potentially be compromised or corrupted to act against the user interest.

We propose a zero-server architecture which removes structur

[2020-05-27 09:06] ichorid commented on #4084
Seems like [adding a toggle button](https://github.com/Tribler/tribler/issues/4854) is going to be the best solution after all...

[2020-05-27 09:07] ichorid commented on #5330
@synctext , I'll have to think about how to build a unit test for this. I only noticed it on a super-slow machine seeding hundreds of torrents.

[2020-05-27 10:32] synctext commented on #4629
Future sprints considerations and topic for exploration. Finality of transactions or payments:
- https://www.frbatlanta.org/-/media/documents/research/publications/economic-review/2002/vol87no2_kahn-roberds.pdf
- https://link.springer.com/chapter/10.1007/978-94-009-2510-6_9
- https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8975825
- https://papers.ssrn.com/soL3/papers.cfm?abstract_id=7507

[2020-05-27 10:39] egbertbouman commented on #5319
@ichorid The libtorrent wrapper does everything on the same thread. If it's a threading issue it's more likely because we're calling it from somewhere we shouldn't (i.e., not the `asyncio` thread).

The basics of how we get the alerts from libtorrent and how we process them are all the same.

BTW, note that we are not actually using `set_alert_notify`, instead we use `pop_alerts` to get the alerts

[2020-05-27 12:03] hbiyik commented on #4084
may be right click context menu item to downloads page to exit from streaming mode would help also, currently streaming mode only exits when player clicks stop button in the video player. A context menu will save few clicks if the user is already in download window.

[2020-05-27 12:20] hbiyik opened #5332 "Trackers are lost when download is added with magnet url."
How to reproduce:

Add a download in the gui, where metadata does not exits and wait for torrent info endoint fully download the metadata.

Add the torrent after metadata is download. The trackers from the magents are lost in he download, only pex and dht is available.

To my analysis,

When metadata info is queried, the query is done only with infohash without the trackers. And response is chache

[2020-05-27 13:06] ichorid commented on #5319
Well, that was a good attempt... Not our case.
At least we now know not to use `set_alert_notify`.

[2020-05-27 13:12] egbertbouman commented on #5332
You're right, thanks for letting us know! Your fix seems fine to me, so feel free to open a PR if you like.

I guess this is only the case when the magnet link includes trackers that aren't included in the metainfo, which is why we missed it.

[2020-05-27 13:48] ichorid commented on #5319
@synctext  did you use external media to store the files that got stuck? Something like a USB flash drive or a slow external HDD?

[2020-05-27 13:58] arvidn commented on #5319
ruling out `set_alert_notify()`, I think there are two separate symptoms left:

1. download rate dropping to zero for some time, and later recovers.
2. The whole process freezes and is unkillable

Case 1 could have lots of different causes. The disk throughput being saturated could definitely be one of them, but also dropping peers (for whatever reason). I think a long term approach to debugging i

[2020-05-27 14:11] ichorid commented on #5319
@arvidn , thank you very much for the clarification. :clap:

[2020-05-27 14:53] ichorid commented on #5319
So, I tried to download some torrents on a slow USB stick (non-anonymous). There were 5 popular, highly seeded torrents. The first two I added started immediately, but the speed was very low, like 0.5-15 kb/s. But the remaining 3 torrents were stuck in "Checking" for about 5 minutes. After that, they started too, with the same low speed. This is totally reproducible. I don't know what "Checking" s

[2020-05-27 14:57] ichorid commented on #5319
@Rik44444 , @aaguilarjimenez , could you please indicate what kind of media you used while experiencing the bug? Did you download directly to an external USB stick or something like that?

[2020-05-27 15:00] arvidn commented on #5319
I'm not sure what "checking" means either. libtorrent has two checking modes. Checking resume data and checking files.

Since it sounds like you didn't have these files already, it *probably* means checking resume data. That name is a bit misleading since it does things even when you don't have resume data.

It will `stat()` every file in the torrent at the specified save directory, to see if any

[2020-05-27 16:33] synctext commented on #5319
yes, relatively slow external USB.
plus: this was a fault when data file checking..

[2020-05-27 16:46] ichorid commented on #5319
@synctext , we've seen exactly the same problem last year with your laptop using a slow external USB flash drive. I was able to reproduce it today by using a slow external drive. Checking was basically stuck. Also, as pointed out by @arvidn, "Checking" at 0% means libtorrent is trying to `stat()` the files at the disk in question. If the disk is very busy with i/o, it will probably block.

Was it

[2020-05-27 17:04] ichorid commented on #5332
@hbiyik , thanks for finding both the bug and the solution! :+1:
If you're going to open a PR for this, please do it against the current `release-7.5` branch. Also, don't forget to add a unit test for this.

[2020-05-27 17:12] Dmole opened #5333 "Bug report anonymity"
Bug reports include the user name and folder which I can't imagine helps debugging in anyway and can uniquely identify the user.
Users can redact before sending the bug report but we should have security by default.

Please auto redact these environment variables from the bug reports.

[2020-05-27 17:14] ichorid commented on #5319
@synctext , also, could it be that your GigaChannel database was on the same USB drive? Was Tribler processing/downloading some channels at that moment (especially, big ones)?

[2020-05-27 17:29] synctext commented on #5319
with 7.4.4 this checking never gave issues, plus no 0kbps issues with healthy big swarms. no idea on Channel parsing activity. This should be inside Tribler RC6  debug panel then please, channel inserts in last seconds.

[2020-05-27 17:30] synctext commented on #5319
btw channel.db is inside .Tribler dir on fast SSD, not on slower USB used for bulk swarm storage.

[2020-05-27 18:12] ichorid commented on #5319
Reliably reproduced on Windows 10 with both 7.4.4 and 7.5. Note that DHT checking works!
![stuck1](https://user-images.githubusercontent.com/2509103/83056739-35e43000-a056-11ea-9c7c-77c45f661506.png)
![STUCK2](https://user-images.githubusercontent.com/2509103/83056742-367cc680-a056-11ea-8ff0-d33504308fb6.png)

[2020-05-27 19:51] ichorid opened #5334 "[7.4-7.5] Crash when exporting libtorrent stats"
Steps to reproduce: open Debug window -> libtorrent -> export log, try exporting.

[code]

[2020-05-27 19:53] ichorid commented on #5333
Thanks for suggestion. Though, it is very helpful to know that the report came from the same machine. We should probably replace the stuff with hashes or something like that.

[2020-05-27 19:57] ichorid commented on #5319
I suspect this is not one, but several problems resulting in slightly different, albeit very similar effects.
The first one has something to do with DHT - peers connecting.
The second one is about libtorrent getting stuck due to slow disk access.

[2020-05-27 20:07] arvidn commented on #5319
Is the USB stick formatted with FAT by any chance? i.e. not supporting sparse files?

[2020-05-27 20:09] synctext commented on #5319
yes! Dos format, Linux and Mac compatible.

[2020-05-27 20:53] arvidn commented on #5319
is the difference libtorrent-1.1.x and libtorrent-1.2.x?

[2020-05-27 21:45] #5334 closed

[2020-05-28 01:46] Dmole commented on #5333
Or have Tribler generate a UUID when making the .Tribler folder.

[2020-05-28 07:41] synctext commented on #4461
Wanted to get the latest version now. Can you please push your thesis.pdf and .tex to an open repo regularly?

[2020-05-28 08:53] arvidn commented on #5319
I ran a test downloading a large file into a usb stick on linux using `client_test` (a pretty thin wrapper around libtorrent).

Here area few observations:

* I can reproduce the stall (where the debugger is even stuck stopping the process, supporting the thesis that it's blocked in a long-running system call).

* While running the download, I don't see any stalls, just when I stop the download. M

[2020-05-28 09:08] ichorid commented on #5319
@arvidn , thank you very much for your insights! This thread now seems to be about multiple issues that manifest differently on different platforms, but any of them results in 0kb/s downloads.

 * The Mac problem reported by @synctext seems to be caused by the sparse file / slow USB disk.
 * The Windows problem is different though. I'll try to get you some Libtorrent stats ASAP.

[2020-05-28 10:28] Bloodyfool commented on #4629
<details>
  <summary>Here are some screenshots as requested:</summary>

![2020-05-28-122312_640x1055_scrot](https://user-images.githubusercontent.com/446634/83130336-71c2d800-a0de-11ea-9107-3546cd31a8e2.png)
![2020-05-28-122325_640x1055_scrot](https://user-images.githubusercontent.com/446634/83130338-725b6e80-a0de-11ea-91e9-0dc719790721.png)
![2020-05-28-122421_640x1055_scrot](https://user-images.

[2020-05-28 10:51] hbiyik commented on #5332
Ok, currently i am working on https://github.com/Tribler/tribler/issues/5327. So i wont put a pr for this for a while.

[2020-05-28 11:44] devos50 opened #5337 "Windows tests locked up"
I saw the following exception on Windows:

[code]

@ichorid this seems to be related to Pony. Have you seen this before?

[2020-05-28 11:44] synctext commented on #5327
versioned dirs?
those are the state directories for .Tribler, isolated between upgrades. Feel free to move that code for Triblerd re-usage purposes. Any dev suggestions?

[2020-05-28 11:48] qstokkink commented on #5337
Might also just be that the tests in this file are naturally slow, considering that they do file I/O. Probably bumping up the `MAX_TEST_TIME` class variable to 30 seconds for this `TestCase` would do the trick.

[2020-05-28 11:53] devos50 opened #5338 "Tests on Mac: Expected 'mock' to be called once. Called 2 times."
I noticed this error during the tests on Mac (in `test_downloads_endpoint.TestDownloadsEndpoint.test_select_download_file`):

[code]

[2020-05-28 12:08] ichorid commented on #5337
@devos50 , never seen this before. Could you please point me to the Jenkins job which resulted in this?

@qstokkink , I typically try to use in-memory databases for SQLite-based tests. Unfortunately, when creating multiple communities/MetadataStore instances, this is not possible because by default SQLite will point everything to the same temporary DB. To change it, the programmer must use a custo

[2020-05-28 13:06] ichorid commented on #5319
Latest 7.5-rc5, Win10, Libtorrent version 1.2.1.
Run Tribler, add 3 highly popular torrents by infohashes. Names resolved fine. Then torrents got stuck at "Waiting for metainfo" and remain like that for half an hour.
Here are the Libtorrent session stats. Note that there are several Channels torrents in the background, already downloaded and seeded, zero connections.

<details>
  <summary>Libtrorr

[2020-05-28 13:07] #5329 closed

[2020-05-28 13:13] ichorid commented on #5319
Also, I noticed that I cannot reproduce this bug on my PC unless I have another instance of Tribler running on my seedbox in the same subnet at my home, behind the same NAT.
Tribler running on the seedbox -> the bug triggers *sometimes* on the PC.
Tribler not running on the seedox -> the bug does not trigger on the PC.

@synctext , could it be that another instance of Tribler or another torrent cl

[2020-05-28 13:19] arvidn commented on #5319
those counters suggest that the DHT was properly bootstrapped and connected to the network. They also suggested that there were peers connected, and no peers failing with an error (which I would have expected if there were some issue with the `ut_metadata` extension, that downloads the .torrent from peers). It's not obvious what's going on. Enabling logging would probably help.

[2020-05-28 13:54] ichorid commented on #5319
@arvidn , is it possible to enable Libtorrent logging from Python bindings?

[2020-05-28 14:01] arvidn commented on #5319
yes, set the [alert_mask](https://libtorrent.org/reference-Settings.html#alert_mask) setting to include the `peer_log_notification` flag (documented [here](https://libtorrent.org/reference-Alerts.html#alert))

[2020-05-28 14:11] ichorid commented on #5338
How come we've never seen it before? Or it happens only occasionally?

[2020-05-28 14:15] ichorid commented on #5319
BTW, I've checked Libtorrent versions used in our latest releases:

|  | MacOS | Win64 |
|-----------------|-------|-------|
| Tribler 7.4.4 | 1.2.2 | 1.2.1 |
| Tribler 7.5-rc5 | 1.2.2 | 1.2.1 |

[2020-05-28 14:36] egbertbouman commented on #5338
@ichorid I think this just due to timing.

This error is likely due to the handle not having been added to the `Download` yet when we mock `set_selected_files`. If we just wait for the handle, this should be fixed.

[2020-05-28 15:26] hbiyik commented on #5327
a side update on buildsys:
https://github.com/hbiyik/triblerd-buildsys/blob/master/dockerfiles/debian-lenny-armel.dockerfile

This container builds the tribler in arm ISA and can work on x86 host, works like a charm.

You can even integrate the foreign CPU python to your IDE (ie eclipse), and run the debugger inside the containe which is awesome, or you can deply the python files of tribler in the

[2020-05-28 15:33] ichorid opened #5340 "Logger hard to use"
Our logger now is hard to use. It should be configured much easier, reconfigurable by the user, break in case of big modules refactorings.

[2020-05-28 18:27] ichorid opened #5341 "[7.5-rc5] Opening a torrent file through menu crashes Tribler"
When opening a torrent file from disk through "+" button in menu:
[code]

related to #5328

[2020-05-28 18:30] #5338 closed

[2020-05-29 06:18] synctext commented on #4629
The Bank of England promoted the idea of Central Bank Digital Currency recently. The [Bank of England release their CBDC report in March 2020](https://www.bankofengland.co.uk/paper/2020/central-bank-digital-currency-opportunities-challenges-and-design-discussion-paper). This master thesis is entirely focussed on addressing the scientific challenges posed in this central bank CBDC report. We descri

[2020-05-29 19:53] ichorid opened #5343 "Create a torrent out of a channel"
Currently, it is possible for the user to add a torrent to the root of their channels dir. This means the torrent will never become committed. The GUI should not allow this.

[2020-05-30 10:27] ichorid commented on #5319
:skull: Can't reproduce it anymore :skull:
Dozens of restarts, everything runs perfectly on the same PC where yesterday it was triggered every second run :dizzy_face:

I suspect it is only triggered by a very specific race condition. In that case, using stable, deterministic environments (like VMs and app tester) will not suffice.
To catch it for good, we'll probably have to produce a specialized

[2020-05-30 10:32] #5175 closed

[2020-05-31 09:46] #5341 closed

[2020-05-31 09:46] #5328 closed

[2020-05-31 10:37] ichorid opened #5344 "Finished channel downloads trigger notifications"
Subscribe to some channels, wait for them to be processed, shutdown Tribler, run Tribler again, enjoy :bell:-:bell:-:bell: of OS notification system telling you that your downloads have finished.

[2020-05-31 12:23] hbiyik commented on #5327
The buidlsys is ready, and finally i can run tirbler in linux arm, Yay!

With this buildsys, we can run tribler in a linux basically from last 15-20 years!

You can find the buildsys in:

https://github.com/hbiyik/triblerd-buildsys

Also the binaries generated:

https://github.com/hbiyik/triblerd-buildsys/releases/tag/7.5-master

Below is the tollchain information, and version summary used in the

[2020-05-31 19:56] ichorid commented on #3615
Channels 3.0: NanoChannels

NanoChannels will use the NoodlesNew overlay by @grimadas as the backend. The architecture fits perfectly: low-latency, low bandwidth, CRDTs, no consistency guarantees.

NoodlesNew overlay is used as a transport backend for updating channels data, replacing Libtorrent in this role. MetadataStore SQL schema will be changed accordingly.

The most important feature of Nano

[2020-06-01 15:55] exatonix opened #5345 "new request. please add armhf and aaarch64 (arm64) version deb files for mobile installing supports."
#### Please, fill all relevant items: ####

- [ ] I have read CONTRIBUTING.rst

- [ ] I have tried with the latest pre-release version and I still can reproduce the issue.

##### Tribler version/branch+revision: #####

##### Operating system and version: #####

##### Steps to reproduce the behavior: #####

##### Expected behavior: #####

##### Actual behavior: #####

##### Relevant log file output

[2020-06-01 22:37] hbiyik commented on #5327
@devos50

How is the current buildsystem for windows binaries? Is there any docker image, i think a linux container over wine + python3.7 is possible..

[2020-06-02 10:57] ichorid opened #5347 "Payouts to 0-hop peers"
On `peer_disconnected_alert` we initiate payouts to the disconnected peer even in case of 0-hops download.

https://github.com/Tribler/tribler/blob/504e60ee384ed733b44a2278492374deff09d7b2/src/tribler-core/tribler_core/modules/libtorrent/download_manager.py#L336-L338

[2020-06-02 10:58] ichorid commented on #5347
@egbertbouman , could you please comment on this?

[2020-06-02 11:46] hbiyik commented on #5345
related :)
https://github.com/Tribler/tribler/issues/5327

[2020-06-02 12:07] synctext opened #5348 "Brainstorm ticket _The Plan_"
(as communicated by @ichorid on 31May 2020) **The Plan** ```Having said all that, I propose```:

- Short-term:
  - [x] Remove the entirely useless CreditMining subsystem ~~and "Trust Graph" panel from 7.5.~~
  - [x] ~~Release 7.5 w/o fixing the "0kb/s" bug (but fixing the remaining usability bugs).~~ Fixed
  - [ ] Postpone any activity resulting in increasing the codebase size until new team membe

[2020-06-02 19:49] devos50 commented on #5327
@hbiyik we are using [PyInstaller](https://www.pyinstaller.org) to bundle the Python executable/runtime, and create an installer with NSIS.

[2020-06-02 21:51] hbiyik commented on #5327
I mean is there any compilation environment like docker like there is for linux? Or precompiled binaries are used for openssl, boost, libtorrent, libsodium, or some windows machine?

[2020-06-03 06:56] exatonix commented on #5345
i mean Android
is arm64 version.huseyin kardeşim.

armhf version.termux üzerinde kullanmayi düşünüyorum.ya da kali linuxun armsini mi kurayim.elimde pc yok ondan.olsa linux x64 e kurardim direk.

[2020-06-03 09:05] synctext commented on #4719
Noodle == much more then double-spending and witness lists. That was new to me. 2 years of work have been invested in the channels (or main outcome of 2 years of re-factoring). Switching to _The Noodle Stack_ (with 5 layers it's more then a protocol) is quite disruptive and took me by surprise as you obviously noticed (more discussion on 10June).

Set Reconciliation is a step towards the complexit

[2020-06-03 10:39] grimadas commented on #4719
I agree. I kept this part as simple as possible. If you have an order the reconciliation is much easier and Merkle Trees and Bloom Filters can be avoided. However, linear order specially a global one is not always possible or even desirable, for these cases we use reconciliation on a DAG. With noodle we enforce linear order on one writer-chain (personal chains - classical Trustchain). Community ch

[2020-06-03 11:13] hbiyik commented on #5345
I am not a dev member of tribler team, but I can refresh the history. Android support is a long story, and not an easy task, however, linux armel/armhf/aarch64 binaries rather easy. I alrady have some personal work that can produce arm variants on linux.

[2020-06-03 11:15] hbiyik commented on #5348
May be releasing with libtorrent 1.1.x branch is a safe approach for 0kbps bug, I also had some funny connection issues with libtorrent 1.2.x where I can not give concerete details, i just downgraded libtorrent 1.1.x and lived happily.

[2020-06-03 11:36] ichorid commented on #5348
@hbiyik , I was considering this option. We figured out the 0kb/s bug was there at least since 7.4. There were no complains (though it does not mean there was no problem). Probably, the complains were triggered by problems with tunnel downloads (which were very real).

[2020-06-03 12:35] synctext commented on #3615
This is not something users have asked for or will understand. They are used to Youtube, you play something and it starts streaming instantly. We want to get rid of the need to managing a library and local harddisk space. Everything should be automated. Youtube is the future of television, understood best by seeing an 8 year old professionally browse through vulcano or dinosaur videos (some of tho

[2020-06-03 12:49] ichorid commented on #3615
That's the main problem of YouTube and its brethren. In a relentless pursuit to make people watch they treat *all of us* as 8-year kids who can't and should not decide for themselves. Ultimately, BigTech decides what you and your kids watch. I thought our mission was to change that.

Though, I completely agree that everything should be automanaged in the backend. The ability to subscribe to a topi

[2020-06-03 15:12] ichorid commented on #5155
For 7.5 we're not going to provide the settings option as it will require some pretty invasive changes in how our GUI settings are processed. To solve this properly we should do as the QT manual [states](https://doc.qt.io/archives/qt-5.6/highdpi.html):

    Always use the qreal versions of the QPainter drawing API.
    Size windows and dialogs in relation to the corresponding screen size.
    Repl

[2020-06-03 15:14] ichorid commented on #5312
@synctext this is not about crawling and/or deployment monitoring. This is about an unused variable in the config that is confusing for users who look there.

[2020-06-03 16:03] ichorid commented on #5319
Accidentally reproduced on Ubuntu at home (Libtorrent 1.2.2):
![изображение](https://user-images.githubusercontent.com/2509103/83659902-6f6fea80-a5c4-11ea-9c02-160abc37f2cb.png)

[2020-06-03 16:06] ichorid commented on #5319
You know what's funny? When I restarted Tribler, only the OpenSUSE torrent was downloading. Ubuntu was in a "stopped" state. :thinking:

[2020-06-03 17:29] egbertbouman commented on #5319
@ichorid Not sure why a download would be "stopped" directly after adding it. Are you sure that you didn't try to stop the download while it was still waiting for the metainfo?

I just did some testing, and it could be that the problem with the download being stuck in "Waiting for metadata" is because we're not receiving any peers from the DHT. To test this I added a call to `force_dht_announce` a

[2020-06-03 18:07] ichorid commented on #5319
@egbertbouman , I'm sure I did not press the "stop" button before closing Tribler. Also, I had disabled the download dialog through the settings menu beforehand to reduce the amount of clicking...

[2020-06-03 18:39] ichorid commented on #5319
Another detail: when just adding a download, for a brief moment it will show "1(0)" or "30(0)" peers before showing 0 and getting stuck permanently.

[2020-06-03 18:41] egbertbouman commented on #5319
I just tried to see if disabling the download dialog also fixes the problem I'm having, but it doesn't. If I don't use `force_dht_announce` I consistently get a delay of a few minutes (using 0 hops).

[2020-06-03 18:52] ichorid commented on #5319
![изображение](https://user-images.githubusercontent.com/2509103/83676668-56266880-a5db-11ea-8bea-f1a74bc6a02f.png)

One of the downloads got unstuck after a few minutes. Though the download sees only a single peer and is thus very slow. The torrent is a healthy one, it got thousands of peers (I use it regularly for testing).

@arvidn , what could make Libtorrent ignore other peers and only use on

[2020-06-03 19:49] ichorid commented on #5319
I started a Wireshark session capturing the exchange of packets between the stuck Tribler instance and the external world.
One of the uTP sessions captured:
![изображение](https://user-images.githubusercontent.com/2509103/83682286-05673d80-a5e4-11ea-9f91-9ad5d42c1a92.png)

@arvidn , is it normal for Libtorrent to regularly send to other peers Timestamp Difference of `ff ff f3 db` microseconds? If